<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Tabindex", "#{base_url_v1}/manual/acessibilidade/tabindex" %></li>
		<li><%= link_to "Menu escondido", "#{base_url_v1}/manual/acessibilidade/menu-escondido" %></li>
		<li><%= link_to "WAI-ARIA", "#{base_url_v1}/manual/acessibilidade/wai-aria" %></li>
		<li><%= link_to "Link ir direto para o conteúdo", "#{base_url_v1}/manual/acessibilidade/link-content" %></li>
	</ul>
</nav>
