<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Instalação e como usar", "#{base_url_v1}/manual/introducao/como-usar" %></li>
		<li><%= link_to "Depêndencias e instruções", "#{base_url_v1}/manual/introducao/informacoes-iniciais" %></li>
		<li><%= link_to "Prática de escrita de código", "#{base_url_v1}/manual/introducao/praticas-front-end" %></li>
	</ul>
</nav>
