<div class="ls-box ls-board-box">
  <header class="ls-info-header">
      <p class="ls-float-right ls-float-none-xs ls-small-info">
        Quantidade válida até <strong>22/07/2014</strong>
      </p>
      <h2 class="ls-title-3">Consumo de envios</h2>
  </header>
  <p class="ls-no-data">Ainda não existem dados suficientes para esta visualização.</p>
</div>
