<div class="ls-box-filter">
  <!-- To do this -->
  <form action="" class="ls-form ls-form-inline ls-float-left">
    <label class="ls-label">
      <b class="ls-label-text">Status</b>
      <div data-ls-module="customFields">
        <select class="go-to-option" name="">
          <option selected="&quot;selected&quot;" value="/resale/clients">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
          <option value="#">Bloqueados por bounce</option>
        </select>
      </div>
    </label>
  </form>

  <form class="ls-form ls-float-right buffer-inserted">
    <label class="ls-label" role="search">
      <b class="ls-label-text ls-hidden-accessible">Nome do cliente</b>
      <input type="text" id="q" name="q" aria-label="Faça sua busca por cliente" accesskey="s" placeholder="Nome do cliente" required="">
    </label>
    <input type="submit" value="Buscar" class="ls-btn" title="Buscar">
  </form>
</div>
