<div class="ls-box ls-md-space">
  <h5 class="ls-title-3">box grande</h5>
  <p><%= lorem.paragraphs 1 %></p>
</div>
<div class="ls-box ls-sm-space">
  <h5 class="ls-title-5">box pequeno</h5>
  <p><%= lorem.paragraphs 1 %></p>
</div>
