<div class="ls-box ls-lg-space">
  <h5 class="ls-title-3">Box grande .ls-lg-space</h5>
  <p><%= lorem.paragraphs 1 %></p>
</div>

<div class="ls-box ls-md-space">
  <h5 class="ls-title-3">Box médio .ls-md-space</h5>
  <p><%= lorem.paragraphs 1 %></p>
</div>

<div class="ls-box">
  <h5 class="ls-title-3">Box default (sem classe de tamanho)</h5>
  <p><%= lorem.paragraphs 1 %></p>
</div>

<div class="ls-box ls-sm-space">
  <h5 class="ls-title-5">Box pequeno .ls-sm-space</h5>
  <p><%= lorem.paragraphs 1 %></p>
</div>

<div class="ls-box ls-xs-space">
  <h5 class="ls-title-5">Box super pequeno .ls-xs-space</h5>
  <p>Nisi facere nihil libero. magnam pariatur ea iusto sed dolores ipsa beatae. vero tempore et id nostrum </p>
</div>
