<div class="ls-box ls-lg-space ls-ico-user-add ls-ico-bg">
  <h1 class="ls-title-1 ls-color-theme">Cadastre contatos na sua revenda</h1>
  <p>Comece agora: cadastre seu primeiro cliente, adicione envios e acompanhe o seu desenvolvimento.</p>
  <%= link_to 'Cadastrar meu primeiro cliente', '#', :class => 'ls-btn-primary' %>
</div>
