<div class="ls-box ls-board-box">
  <header class="ls-info-header">
      <p class="ls-float-right ls-float-none-xs ls-small-info">Quantidade válida até <strong>22/07/2014</strong></p>
      <h2 class="ls-title-3">Consumo de envios</h2>
  </header>
  <div id="sending-stats" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">CONTRATADO</h6>
          <strong>100.000</strong>
          <small>envios por mês</small>
        <a href="#" aria-label="Mudar o Plano de Revenda" class="ls-btn ls-btn-sm" title="Mudar o Plano de Revenda">Mudar de plano</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">AVULSO</h6>
        <strong>0</strong>
        <a href="#" aria-label="Comprar mais envios" class="ls-btn ls-btn-sm" title="Comprar mais envios">Comprar mais envios</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">DISTRIBUÍDO</h6>
          <strong>10.000</strong>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4 color-default">DISPONÍVEL</h6>
          <strong class="ls-color-theme">90%</strong>
          <small>90.000</small>
      </div>
    </div>
  </div>
</div>
