<div class="ls-box-filter">
  <form action="" class="ls-form col-sm-2" data-ls-module="customFields">
    <label for="" class="ls-label ls-display-inline-block">Status</label>
    <select name="" id="" class="ls-display-inline-block">
      <option value="">Todos</option>
      <option value="">Ativo</option>
      <option value="">Desativados</option>
      <option value="">Bloqueados por bounce</option>
    </select>
  </form>
  <form action="" class="ls-float-right">
    <input type="text" class="ls-field" placeholder="Nome do cliente">
    <button type="submit" class="ls-btn">Buscar</button>
  </form>
</div>
