<div class="ls-box-group">
  <div class="ls-box ls-md-space">
    <div class="row">
      <div class="col-md-2 ls-txt-center">
      <span class="ls-ico-alone ls-ico-paint-format"></span>
      </div>
      <div class="col-md-10">
        <a href="config-aspect">
          <h3 class="ls-title-5"><strong>Aparência e conteúdo</strong></h3>
          <p>Fortaleça ainda mais a sua revenda personalizando o painel de acesso dos seus clientes. Mude as cores, o nome ou insira a sua marca.</p>
        </a>
      </div>
    </div>
  </div>

  <div class="ls-box ls-md-space">
    <div class="row">
      <div class="col-md-2 ls-txt-center">
      <span class="ls-ico-alone ls-ico-screen"></span>
      </div>
      <div class="col-md-10">
        <a href="config-domain">
          <h3 class="ls-title-5"><strong>Endereço de acesso</strong></h3>
          <p>Você pode personalizar a URL de acesso no painel dos seus clientes. Uma boa prática para que eles associem a revenda ao nome da sua empresa.</p>
        </a>
      </div>
    </div>
  </div>

  <div class="ls-box ls-md-space">
    <div class="row">
      <div class="col-md-2 ls-txt-center">
      <span class="ls-ico-alone ls-ico-envelope"></span>
      </div>
      <div class="col-md-10">
        <a href="config-email">
          <h3 class="ls-title-5"><strong>E-mail</strong></h3>
          <p>Cadastre um endereço de e-mail para enviar notificações aos seus clientes.</p>
        </a>
      </div>
    </div>
  </div>
</div>
