<div class="ls-box ls-md-space">
  <h5 class="title-5">box grande</h5>
  <p>Uma caixa genérica</p>
</div>
<br><br>
<div class="ls-box ls-small-space">
  <h5 class="title-5">box pequeno</h5>
  <p>Uma caixa genérica</p>
</div>
