<div class="ls-alert-box ls-dismissable">
  <header class="ls-info-header">
    <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
    <h2 class="ls-title-3">Configuração do serviço</h2>
    <p><%= lorem.sentence %></p>
  </header><!-- /header -->
  <p><%= lorem.paragraph %></p>
</div>
