---
title: Clique automático
description: Ativando elementos pela URL
type: funcoesjs
---

<%= partial 'partials/doc-menu-funcoes-js' %>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Através da <i>url</i> ative elementos como <i>tabs</i> específicas, <i>tooltips</i> e outros componentes.</p>

  <p>Para usar este comportamento, basta adicionar na <i>url</i> o <b>id</b> do elemento que ativa o comportamento desejado, no formato <b>#!/#ID</b>.</p>

  <p>Após o carregamento da página, o link/elemento na página que possuir o atributo <code>href="#ID"</code> ou <code>data-target="#ID"</code> será ativado com a simulação de um <b>click</b> via javascript.</p>

  <p>Esta funcionalidade pode ser utilizada para:</p>
  <ul>
    <li>Ativar uma <i>tab</i> específica</li>
    <li>Simular um clique em um botão ou link</li>
    <li>Iniciar uma tela com um <i>collapse</i> aberto</li>
    <li>Iniciar uma tela com um <i>dropdown</i> aberto</li>
    <li>Abrir um <i>modal</i></li>
    <li>Abrir um <i>popover</i></li>
    <li>Iniciar um <i>tour guiado</i> após o carregamento da página</li>
  </ul>

</section>
