---
title: Geral
description: Funções, métodos e configurações gerais do locastyle
type: funcoesjs
---

  <%= partial 'partials/doc-menu-funcoes-js' %>

<section class="col-md-9">

<%= partial 'partials/doc-intro-content' %>


  <div class="doc-section">
    <h2>Alternando textos <small>Toggle text</small></h2>
    <p>Troca uma classe do elemento ou de outro, de acordo com um evento</p>
    <p>
      <button class="ls-btn-primary" data-toggle-text="Clique para voltar ao texto original">Clique para alterar o texto</button>
    </p>
    <p>
      <button class="ls-btn-primary" data-toggle-text="Clique para voltar ao texto original" data-target-text="#button4">Clique para alterar o texto do botão ao lado</button>
      <button id="button4" class="ls-btn-primary">Botão</button>
    </p>
  </div>

  <div class="doc-section">
    <h2>Rolagem suave da tela</h2>
    <p>Faz um link ou <i>#hash</i> ir suavemente até o elemento que o <i>link</i> aponta.</p>
    <p>Basta adicionar a classe <i>ls-link-smooth</i> no link.</p>
    <p>
      <a class="ls-btn-primary ls-link-smooth" href="#final" >Ir até a seção com <i>id</i> <b>#final</b></a>
    </p>
  </div>

  <div class="doc-section">
    <h2>Dismiss</h2>
    <p>Este módulo dispensa elementos da tela adicionando a classe "dismissed".</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Seletor</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>[data-ls-module="dismiss"]</td>
          <td>Vai no elemento pai da navegação das abas, normalmente "ul".</td>
        </tr>
        <tr>
          <td>.ls-dismissable</td>
          <td>Vai no elemento que será dispensado, deve ser pai do "trigger" [data-ls-module="dismiss"].</td>
        </tr>
        <tr>
          <td>[data-target="#target-id"]</td>
          <td>Quando o elemento "trigger", possui o [data-target="#target-id"], o elemento dispensado será o "target" e não mais o pai com a classe .ls-dismissable, que neste caso não é necessária.</td>
        </tr>
      </tbody>
    </table>

    <p>Um bom exemplo do uso deste módulo são os alertas, mensagens que podem ser dispensadas depois de lidas</p>
    <div class="ls-alert-warning ls-dismissable">
      <span class="ls-dismiss" data-ls-module="dismiss">&times;</span>
      <strong>Olá!</strong> Este é um alerta que pode ser dispensado.
    </div>

    <code class="language-html">
      <div class="ls-alert-warning ls-dismissable">
        <span data-ls-module="dismiss">&times;</span>
        <strong>Olá!</strong> Este é um alerta que pode ser dispensado.
      </div>
    </code>

  </div>

  <div class="doc-section">
    <h2 class="ls-title-2">Inicializador de módulos</h2>
    <p>Atualmente o Locastyle está dividido em módulos, temos um inicializador que roda apenas os módulos presentes na tela para evitar ficar instanciando módulos e fazendo "bind" de eventos desnecessários.</p>
    <p>Para que isto funcione, basta usar os módulos conforme os exemplos, pois o incializador procura por atributos data-ls-module e inicializa os módulos conforme o valor do atributo.</p>
  </div>

  <div class="doc-section">
    <h2 class="ls-title-2">Backgrounds Padrões</h2>
    <p>Backgrounds definidos com as cores padrões de tags e alertas.</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Classe</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr class="ls-background-primary">
          <td><code>.ls-background-primary</code></td>
          <td>Background primario</td>
        </tr>
        <tr class="ls-background-sucess">
          <td><code>.ls-background-sucess</code></td>
          <td>Background informando uma ação completada/válida, sucesso</td>
        </tr>
        <tr class="ls-background-info">
          <td><code>.ls-background-info</code></td>
          <td>Background informativo</td>
        </tr>
        <tr class="ls-background-warning">
          <td><code>.ls-background-warning</code></td>
          <td>Background informando atenção</td>
        </tr>
        <tr class="ls-background-danger">
          <td><code>.ls-background-danger</code></td>
          <td>Ferrou tudo!</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="final">#final</div>
</section>
