//
// Default color - gray (no class in HTML needed)
//
$theme-color: ".ls-theme-gray"

$color-1: #dfdfde
$color-2: #cccccb
$color-3: #878787
$color-4: #323232
$color-5: #212121

$gray-1: #dfdfde
$gray-2: #cccccb
$gray-3: #878787
$gray-4: #323232
$gray-5: #212121
