<!DOCTYPE html>
<html lang="pt-br" class="colorAqua">
<head>
	<title>Locaweb - Guia de Hospedagem de Sites</title>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width,initial-scale=1' />
	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://developer.locaweb.com.br/assets/1.1.4/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://developer.locaweb.com.br/assets/1.1.4/locastyle.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<!-- topbar header -->
<header id="topbar" class="clearfix">
	<div class="limit">
		<h1 class="logo"><a href="#"><img src="images/logo.png" alt="Locaweb Hosting"></a></h1>
		<ul class="social-links">
			<li><a href="#"><img src="images/ico-facebook.png" alt="Facebook Locaweb"></a></li>
			<li><a href="#"><img src="images/ico-twitter.png" alt="Twitter Locaweb"></a></li>
		</ul>
	</div>
</header>
<!-- END topbar header -->

<!-- highlight -->
<div class="highlight">
	<div class="limit">
		<h1 class="txtCenter title-host">Conheça <span>o guia de hospedagem de sites</span></h1>
		<form action="" class="search-form">
			<fieldset>
				<input type="text" class="span14" placeholder="O que deseja buscar?">
			</fieldset>
			<input type="submit" value="buscar" class="btn btn-primary">
		</form>
	</div>
</div>
<!-- END highlight -->

<!-- channels -->
<section class="channels limit">
	<h1>O que é e para que serve?</h1>
	<h2>Is It is a long established fact that a readable content of a page when looking at its layoutit is a long fact that a readable content of a page when looking at its layout.  </h2>

	<div class="channel span4">
		<a href="category.html"><h3 class="ico-edit">Aprenda o básico</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

	<div class="channel span4">
		<a href="single.html"><h3 class="ico-world">Crie e ative domínios</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

	<div class="channel span4">
		<a href="#"><h3 class="ico-monitor">Escolha a plataforma mais adequada (Windows x Linux)</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

	<div class="channel span4">
		<a href="#"><h3 class="ico-code">Indique um desenvolvedor e gerencie permissões de usuários</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

	<div class="channel span4">
		<a href="#"><h3 class="ico-mail">Crie e gerencie caixas postais</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

	<div class="channel span4">
		<a href="#"><h3 class="ico-install">Instale aplicativos</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

</section>
<!-- END channels -->

<!-- Other Guides -->
<section class="other-guides cBoth">
	<div class="limit">
		<h1>Outros guias Locaweb</h1>
		<ul>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Email Marketing</h2>
				</a>
			</li>

			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Cloud e Servidores dedicados</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Criador de sites mobile</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Email Locaweb</h2>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/thumb-email.png">
					<h2>Registro de Domínio</h2>
				</a>
			</li>
		</ul>
	</div>
</section>
<!-- END Other Guides -->

<!-- footer -->
<footer class="footer">
	<div class="limit">
		<h1 class="logo">
			<a href="#"><img src="images/logo-footer.png" alt="Locaweb Hosting"></a>
		</h1>
		<p>Copyright © 1997-2013 Locaweb Serviços de Internet S/A. <br>Todo o conteúdo deste site é de uso exclusivo da Locaweb.</p>
	</div>
</footer>
<!-- END footer-->

</body>
</html>