---
title: Formulários - Alternando campos de formulário
menu_page: sidebar-formularios.erb
---
<header>
	<h1>Formulários</h1>
	<h2>Alternando campos de formulário.</h2>
</header>

<p>Para ativar essa funcionalidade o elemento precisa possuir a classe <code>toggle-pass</code> e receber o atributo <code>data-target</code> com o mesmo valor do <strong>ID do input</strong> que será alternado seu tipo de password/text.</p>
<div class="bs-callout bs-callout-info">
	<h4>Funcionamento apenas em formulários</h4>
	<p>É importante lembrar que o alternador de campos funciona apenas dentro de um formulário, então ele deve estar sempre dentro de um <code>form</code>.</p>
</div>

<div class="example">
	<form>
		<div class="form-inline">
			<label class="control-label" for="user_password">Nova senha</label>
			<div class="input-group">
				<input class="password form-control" id="user_password" type="password">
				<a class=" input-group-addon toggle-pass ico-eye" data-classtoggle="ico-eye,ico-eye-blocked" data-target="#user_password" href="#"></a>
			</div>
		</div>
	</form>
</div>

<pre class="lang-html prettyprint-code linenums">
<form>
	<div class="form-inline">
		<label class="control-label" for="user_password">Nova senha</label>
		<div class="input-group">
			<input class="password form-control" id="user_password" type="password">
			<a class=" input-group-addon toggle-pass ico-eye" data-classtoggle="ico-eye,ico-eye-blocked" data-target="#user_password" href="#"></a>
		</div>
	</div>
</form>
</pre>

<h3 class="title-3">Campo com força da senha</h3>

<div class="example">
	<form>
		<div class="form-inline">
			<div class="form-group">
				<label class="control-label" for="user_password2">Nova senha</label>
				<p class="info-label">Senha entre 8 a 14 caracteres, contendo letras e números</p>
				<div>
					<div class="input-group col-md-4 f-left">
						<input class="password form-control" id="user_password2" data-component="password-strength" data-monitor-id="password-strength-monitor" type="password">
						<a class=" input-group-addon toggle-pass ico-eye" data-classtoggle="ico-eye,ico-eye-blocked" data-target="#user_password2" href="#"></a>
					</div>

					<div class="password-strength">
						<p>Força da senha</p>
						<div id="password-strength-monitor" class="monitor"></div>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>

<pre class="lang-html prettyprint-code linenums">
<form>
	<div class="form-inline">
		<div class="form-group">
			<label class="control-label" for="user_password2">Nova senha</label>
			<p class="info-label">Senha entre 8 a 14 caracteres, contendo letras e números</p>
			<div>
				<div class="input-group col-md-4 f-left">
					<input class="password form-control" id="user_password2" data-component="password-strength" data-monitor-id="password-strength-monitor" type="password">
					<a class=" input-group-addon toggle-pass ico-eye" data-classtoggle="ico-eye,ico-eye-blocked" data-target="#user_password2" href="#"></a>
				</div>

				<div class="password-strength">
					<p>Força da senha</p>
					<div id="password-strength-monitor" class="monitor"></div>
				</div>
			</div>

		</div>
	</div>
</form>
</pre>

