---
title: Formulários - Campos

menu_page: sidebar-formularios.erb
---

<article class="text">
		<header>
			<h1>Formulários</h1>
			<h2>Tipos de campos de formulários.</h2>
		</header>

		<p>Veja abaixo alguns exemplos e as variações de campos de formulários que podemos usar.</p>

		<h3>Campos suportados</h3>
		<p>
			O locastyle da suporte a todas as variações de campos de formulário em HTML5, como:
			<code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>tel</code>, e <code>color</code>.
		</p>

</article>