---
title: Formulários - Medidor de senhas
menu_page: sidebar-formularios.erb
---
<header>
	<h1>Medidor de complexidade de senhas</h1>
	<h3>Mede a complexidade da senha de maneira simples.</h3>
</header>

<p>Este é um medidor de complexidade de senha simples, sem muitas restrições, apenas um indicador visual da "força" da senha.</p>
<p>O monitor deste componente não valida a senha, apenas mostra a força da senha baseado em regras bem simples conforme table abaixo.</p>

<table class="table table-stripped table-bordered table-hover">
	<thead>
		<tr>
			<th class="span4">Classificação</th>
			<th>Condições</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Forte (strong)</td>
			<td>Deve conter mais de 8 caracteres, letras, números, letras maiúsculas e caracteres especiais.</td>
		</tr>
		<tr>
			<td>Boa (good)</td>
			<td>Deve conter mais de 8 caracteres, letras e números. Além de letras maiúsculas ou caracteres especiais.</td>
		</tr>
		<tr>
			<td>Média (medium)</td>
			<td>Deve conter mais de 8 caracteres, letras e números.</td>
		</tr>
		<tr>
			<td>Fraca (weak)</td>
			<td>Contém menos de 8 caracteres ou apenas números ou apenas letras.</td>
		</tr>
	</tbody>
</table>
<h3>Método</h3>
<p>Há um método que retorna a classificação de força de uma determinada string quando passada via argumento.</p>

<table class="table table-stripped table-bordered table-hover">
	<thead>
		<tr>
			<th class="span4">Método</th>
			<th>Exemplo</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>checkIt</td>
			<td>Ao executar <code>locastyle.passwordStrength.checkIt("123")</code> o resultado esperado é a string <code>"weak"</code>.</td>
		</tr>
	</tbody>
</table>

<div class="example">
	<form>
		<div class="form-inline">
			<div class="form-group">
				<label class="control-label" for="user_password2">Nova senha</label>
				<p class="info-label">Senha entre 8 a 14 caracteres, contendo letras e números</p>
				<div>
					<div class="input-group col-md-4 f-left">
						<input class="password form-control" id="user_password2" data-component="password-strength" data-monitor-id="password-strength-monitor" type="password">
						<a class=" input-group-addon toggle-pass ico-eye" data-classtoggle="ico-eye,ico-eye-blocked" data-target="#user_password2" href="#"></a>
					</div>

					<div class="password-strength">
						<p>Força da senha</p>
						<div id="password-strength-monitor" class="monitor"></div>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>

<pre class="lang-html prettyprint-code linenums">
<form>
	<div class="form-inline">
		<div class="form-group">
			<label class="control-label" for="user_password2">Nova senha</label>
			<p class="info-label">Senha entre 8 a 14 caracteres, contendo letras e números</p>
			<div>
				<div class="input-group col-md-4 f-left">
					<input class="password form-control" id="user_password2" data-component="password-strength" data-monitor-id="password-strength-monitor" type="password">
					<a class=" input-group-addon toggle-pass ico-eye" data-classtoggle="ico-eye,ico-eye-blocked" data-target="#user_password2" href="#"></a>
				</div>

				<div class="password-strength">
					<p>Força da senha</p>
					<div id="password-strength-monitor" class="monitor"></div>
				</div>
			</div>

		</div>
	</div>
</form>
</pre>

<h3>Força da senha</h3>
<p>Este não é o mesmo requisito de senha usado nos paineis da Locaweb, existe outra validação para estes casos. A proposta deste componente é prover um feedback de força de senha com requisitos simples.<p>
<p>Não consideramos por exemplo sequência de caracteres, alta ocorrência do mesmo caractere, mesmo caractere consecutivo e outros requisitos usados para validar a força de uma senha.</p>
<p>Lembrando também que este componente não valida a senha, ou seja, mesmo uma senha de classificação fraca (weak), passaria em um form de criação de senha, esta validação fica por sua conta.</p>
