---
title: Formulários - Máscaras de capos

menu_page: sidebar-formularios.erb
---

<article class="text">
	<header>
		<h1>Formulários</h1>
		<h2>Fazendo máscaras para formulários como CPF, datas e outros tipos.</h2>
	</header>

	<p>Utilizamos o plugin <a href="http://igorescobar.github.io/jQuery-Mask-Plugin/">Mask Plugin</a> para criar máscaras de campos de formulários. No Locaweb Style nós não tratamos nenhuma máscara por default, logo você precisará fazer isso no seu projeto. </p>

	<div class="example">
		<form role="form">
			<fieldset>
				<div class="row">
					<div class="form-group col-lg-4">
						<label for="exampleInputEmail1">Data</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
					</div>
					<div class="form-group col-lg-4">
						<label for="exampleInputEmail1">CPF</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ex.: 000.000.000-00" data-mask="000.000.000-00">
					</div>
					<div class="form-group col-lg-4">
						<label for="exampleInputEmail1">CEP</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ex.: 00000-000" data-mask="00000-000">
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</article>