---
title: Formulários - Medidor de senhas

menu_page: sidebar-formularios.erb
---

<header>
  <h1>Medidor de complexidade de senhas</h1>
  <h3>Mede a complexidade da senha no padrão criado pelos projetos internos da Locaweb.</h3>
</header>

<article class="text">
<p>Este é um medidor de segurança de senha simples para a autenticação de alguns serviços nossos.</p>

<div class="example">
  <div class="userPass control-group noPaddingRight">
    <input type="password" id="user_password" class="password autoFocus" />
    <div id="passwordStrength" class="dInlineBlock np0"></div>
  </div>
</div>
<pre class="lang-html prettyprint linenums">
&lt;div class="userPass control-group noPaddingRight"&gt;
  &lt;input type="password" id="user_password" class="password autoFocus" /&gt;
  &lt;div id="passwordStrength" class="dInlineBlock np0"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
</article>