---
title: Formulários - Passo a passo

menu_page: sidebar-formularios.erb
---

<article class="text">
	<header>
	  <h1>Formulários em Steps</h1>
	  <h3>Formulários divididos em etapas com collapseGroup</h3>
	</header>

</article>