---
title: Formulários - Validações
menu_page: sidebar-formularios.erb
---
<header>
  <h1>Formulários</h1>
  <h2>Padrões de validações client-side.</h2>
</header>
<p>Utilizamos os padrões do Bootstrap para incluir estilos de erros, atenção e sucesso nos campos de formulário, e para utilizá-los basta adicionar as classes <code>.has-error</code>, <code>.has-warning</code> ou <code>.has-success</code> no elemento pai deles.</p>
<div class="bs-callout bs-callout-warning">
	<h4>Estilos nos elementos</h4>
	<p>Apenas os elementos <code>control-label</code>, <code>.form-control</code>, e <code>.help-block</code>, receberão esse estilo.</p>
</div>
<div class="example">
	<form>
		<div class="form-group has-success">
			<label class="control-label" for="inputSuccess">Campo com sucesso</label>
			<div class="row">
				<div class="col-lg-6">
					<input type="text" class="form-control" id="input-success">
				</div>
				<div class="col-lg-4">
					<select name="select-simples" class="select2">
						<option value="validation">Opção</option>
					</select>
				</div>
			</div>
			<p class="help-block">Exemplo de texto de sucesso.</p>
		</div>
		<div class="form-group has-warning">
			<label class="control-label" for="inputWarning">Campo com alerta</label>
			<div class="row">
				<div class="col-lg-6">
					<input type="text" class="form-control" id="input-warning">
				</div>
				<div class="col-lg-4">
					<select name="select-simples" class="select2">
						<option value="validation">Opção</option>
					</select>
				</div>
			</div>
			<p class="help-block">Exemplo de texto de alerta.</p>
		</div>
		<div class="form-group has-error">
			<label class="control-label" for="inputError">Campo com erro</label>
			<div class="row">
				<div class="col-lg-6">
					<input type="text" class="form-control" id="input-error">
				</div>
				<div class="col-lg-4">
					<select name="select-simples" class="select2">
						<option value="validation">Opção</option>
					</select>
				</div>
			</div>
			<p class="help-block">Exemplo de texto de erro.</p>
		</div>
	</form>
</div>

<pre class="lang-html prettyprint-code linenums">
<div class="form-group has-success">
			<label class="control-label" for="inputSuccess">Campo com sucesso</label>
			<div class="row">
				<div class="col-lg-6">
					<input type="text" class="form-control" id="input-success">
				</div>
				<div class="col-lg-4">
					<select name="select-simples" class="select2">
						<option value="validation">Opção</option>
					</select>
				</div>
			</div>
			<p class="help-block">Exemplo de texto de sucesso.</p>
		</div>
		<div class="form-group has-warning">
			<label class="control-label" for="inputWarning">Campo com alerta</label>
			<div class="row">
				<div class="col-lg-6">
					<input type="text" class="form-control" id="input-warning">
				</div>
				<div class="col-lg-4">
					<select name="select-simples" class="select2">
						<option value="validation">Opção</option>
					</select>
				</div>
			</div>
			<p class="help-block">Exemplo de texto de alerta.</p>
		</div>
		<div class="form-group has-error">
			<label class="control-label" for="inputError">Campo com erro</label>
			<div class="row">
				<div class="col-lg-6">
					<input type="text" class="form-control" id="input-error">
				</div>
				<div class="col-lg-4">
					<select name="select-simples" class="select2">
						<option value="validation">Opção</option>
					</select>
				</div>
			</div>
			<p class="help-block">Exemplo de texto de erro.</p>
		</div>
</pre>
