<div class="ls-steps">
  <div class="col-md-3 col-xs-3">
    <ol class="ls-steps-list">
      <li class="ls-actived">
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step1" aria-label="Informações"></button>
      </li>
      <li class="ls-active">
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step2" aria-label="Aparência"></button>
      </li>
      <li>
        <a href="#step3" class="ls-steps-btn" aria-label="Conteúdo"></a>
      </li>
      <li>
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step4" aria-label="Destinatários"></button>
      </li>
      <li>
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step5" aria-label="Envio"></button>
      </li>
    </ol>
  </div>
  <div class="col-md-9 col-xs-9 ls-steps-main">
    <div class="steps-content ls-active" id="step1">
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn-primary ls-float-right">Próximo</a>
      </div>
    </div>
    <div class="steps-content" id="step2">
      <p>Conteudo 1</p>
      <a href="#" class="ls-btn">Anterior</a>
      <a href="#" class="ls-btn-primary">Próximo</a>
    </div>
    <div class="steps-content" id="step3">
      <p>Conteudo 1</p>
      <a href="#" class="ls-btn">Anterior</a>
      <a href="#" class="ls-btn-primary">Próximo</a>
    </div>
    <div class="steps-content" step="4">
      <p>Conteudo 1</p>
      <a href="#" class="ls-btn">Anterior</a>
      <a href="#" class="ls-btn-primary">Próximo</a>
    </div>
    <div class="steps-content" step="5">
      <p>Conteudo 1</p>
      <a href="#" class="ls-btn">Anterior</a>
      <a href="#" class="ls-btn-primary">Próximo</a>
    </div>
  </div>
</div>
