<div class="ls-steps">
  <div class="col-md-3 col-xs-3">
    <ol class="ls-steps-nav">
      <li class="ls-actived ls-active">
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step1" aria-label="Informações"></button>
      </li>
      <li>
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step2" aria-label="Aparência"></button>
      </li>
      <li>
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step3" aria-label="Conteúdo"></button>
      </li>
      <li>
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step4" aria-label="Destinatários"></button>
      </li>
      <li>
        <button class="ls-steps-btn" data-ls-module="steps" data-target="#step5" aria-label="Envio"></button>
      </li>
    </ol>
  </div>
  <div class="col-md-9 col-xs-9 ls-steps-main">
    <div class="steps-content ls-active" id="step1">
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <p>Conteudo 1</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="steps-content" id="step2">
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <p>Conteudo 2</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="steps-content" id="step3">
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <p>Conteudo 3</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="steps-content" id="step4">
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <p>Conteudo 4</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="steps-content" id="step5">
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <p>Conteudo 5</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
      </div>
    </div>
  </div>
</div>
