@import "../layout/colors/gray-base"

$height-short: 350px

a
	color: $gray2

	&:hover,
	&:focus
		color: $gray2

.header
	+ .container
		clear: both

// Define características do Overlay que aparece quando usamos sidebar
.overlay-bar
	@include transition(all, .20s, linear)
	position: fixed
	top: 0
	left: 0
	z-index: 1
	background: #000
	opacity: 0
	visibility: hidden
	width: 100%
	height: 100%

.header-content
	margin-bottom: 35px

	[class*="title-"]
		margin-bottom: 0

@media #{$media-mobile}
	.content[role="main"]
		overflow: auto
		-webkit-overflow-scrolling: touch
		height: 100%
		position: fixed
		z-index: 0
		padding-top: 52px

@media #{$media-tablet}
	.main
		position: relative
