$height-short: 350px

.no-menu
	.header
		border-bottom: 1px solid $gray4
		padding-bottom: 40px

	.header-content
		margin-top: 30px

.content[role="main"]
	padding-top: 40px

a
	color: $gray2

	&:hover,
	&:focus
		color: $gray2

.header
	+ .container
		clear: both

// Define características do Overlay que aparece quando usamos sidebar
.overlay-bar
	+transition(all .20s linear)
	position: fixed
	top: 0
	left: 0
	z-index: 1
	background: #000
	opacity: 0
	visibility: hidden
	width: 100%
	height: 100%

.header-content
	margin-bottom: 35px

	[class*="title-"]
		margin-bottom: 0

// Formata elementos buttons que estão dentro de dropdown-menu
.dropdown-menu
	button,
	.btn-danger
		color: $gray3
		display: block
		width: 100%
		text-align: left
		border: none
		background: none
		padding: 4px 20px
		font-weight: normal
		white-space: nowrap

// Barra de progresso
.progress
	margin: 3px 0 10px 0

	.progress-bar

		span
			display: inline-block
			font-weight: bold

	&.percentage-outside
		position: relative
		margin-right: 40px
		overflow: inherit

		.progress-bar
			border-radius: 4px

			span
				color: #333
				position: absolute
				top: 0
				right: -40px
				width: 35px

[class*="ico-"][data-toggle="popover"]:before
	+border-circle(14px, 75%)
	background-color: #154297
	color: #FFF

.popover
	font-size: .875em

	p
		font-size: 1em

.btn-primary:hover
	opacity: .8

//
// Barra com formulários
//
.actions-toolbar
	border-bottom: 1px solid $gray4
	padding: 15px 0
	margin-bottom: 20px
	overflow: hidden

.box-actions
	border-top: 5px solid #E5E5E5
	padding: 15px 0
	margin: 15px 0 0
	clear: both

.info-label
	font-size: .82em
	margin: -5px 0 5px

.toggle-pass
	cursor: pointer
	color: #333
	line-height: 20px

label
	color: #333
	font-family: open_sanssemibold

// Posicionando setas do carousel do Bootstrap
.carousel-control span.ico-direction-left,
.carousel-control span.ico-direction-right
	position: absolute
	top: 50%
	color: #FFF

.well.arrow-up
	position: relative
	top: 10px

	&:before
		+arrow-up(#e7e7e7, 10px)
		position: absolute
		left: 5px
		top: -10px
		z-index: 1

	&:after
		+arrow-up(#f7f7f7, 8px)
		position: absolute
		left: 7px
		top: -8px
		z-index: 2

	&.no-bg

		&:after
			+arrow-up(#fff, 8px)
			position: absolute
			left: 7px
			top: -8px
			z-index: 1


@media #{$media-mobile}
	.content[role="main"]
		overflow: auto
		height: 100%
		-webkit-overflow-scrolling: touch
		position: fixed
		z-index: 0
		padding-top: 70px

