.ls-main
  +single-transition(all, .5s)
  +translate(0, 0)
  height: 100%
  overflow: auto
  padding-top: $heightTopbar
  margin-left: 0
  z-index: 10
  height: calc(100% - $heightTopbar)
  position: relative
  -webkit-overflow-scrolling: touch
  -moz-overflow-scrolling: touch
  -ms-overflow-scrolling: touch
  overflow-scrolling: touch
  background-color: #fff

  .container-fluid
    min-height: 78%

  &.no-main-bg
    background-color: #f7f7f7

  .sidebar-visible &
    +translate($sidebarWidth, 0)

  .notifications-visible &
    +translate(-$sidebarWidth, 0)

.ls-container,
.ls-main > .container-fluid,
.ls-main > .container
  padding: 0 30px

.ls-search li
  background: white

  a
    padding: 5px

    &:hover
      background: gray
      color: white

.ls-lnk-nav
  padding: 7px 10px 5px
  font-size: 1.25rem
  color: #000
  text-decoration: none
  display: block
  line-height: 1.25

  &[class*="ls-ico"]:before
    position: relative
    top: -2px
    padding: 3px 5px 3px 6px
    margin-right: 5px
    display: inline-block
    vertical-align: middle
    border-radius: 100%
    font-size: 1rem
    text-align: center

@media (min-width: $screen-sm)
  .ls-main
    +single-transition(none)
    +transform(none)
    margin-left: $sidebarWidth
