[class*="ls-btn"]
  border: 1px solid $gray-2
  padding: 6px 12px
  border-radius: 3px
  cursor: pointer
  display: inline-block
  font-size: .75rem
  text-decoration: none


.ls-btn
  color: #000
  background-color: #fff

  &:hover,
  &:focus
    opacity: .8

.ls-btn-dark,
.ls-btn-primary
  background-color: $gray-2
  border-color: #3d3c3c

.ls-btn-primary
  color: #fff

.ls-btn-dark
  color: #9d9d9d

.ls-btn-lg
  padding: 10px 16px
  font-size: 1.125rem
  border-radius: 6px

.ls-btn-sm
  padding: 6px 10px

.ls-btn-xs
  font-size: .5rem
  padding: 5px 7px
