//
// Default color - gray (no class in HTML needed)
//
$default-color: #888
$color-1: #888
$color-2: #ccc
$color-3: #333
$color-4: #dfdfdf
$color-5: #222

$gray-1: #888
$gray-2: #ccc
$gray-3: #333
$gray-4: #dfdfdf
$gray-5: #222


//
// Green color
//
.ls-theme-green
  $default-color: #8ecf00
  $color-1: #8ecf00
  $color-2: #00a272
  $color-3: #519700
  $color-4: #f8fcf0
  $color-5: #163400

// //
// // Light Green color
// //
// .ls-theme-light-green
//   $color-1: #1abc9c
//   $color-2: #99d419
//   $color-3: #10715e
//   $color-4: #e8f8f5
//   $color-5: #05261f

// //
// // Blue color
// //
// .ls-theme-blue
//   $color-1: #0848b3
//   $color-2: #25abd1
//   $color-3: #0e3d8b
//   $color-4: #edf7ff
//   $color-5: #0b2552

