//
// Default color - gray (no class in HTML needed)
//
$color-1: #dfdfde
$color-2: #cccccb
$color-3: #878787
$color-4: #323232
$color-5: #212121

$gray-1: #dfdfde
$gray-2: #cccccb
$gray-3: #878787
$gray-4: #323232
$gray-5: #212121

//
// Theme Gold (revenda)
//
ls-theme-gold
  $color-1: #eeead2
  $color-2: #bcae5d
  $color-3: #b39d31
  $color-4: #8d7c2f
  $color-5: #242111

//
// Green color
//
ls-theme-green
  $color-1: #f8faf0
  $color-2: #8ec73e
  $color-3: #509742
  $color-4: #00a272
  $color-5: #203418

// $colors: (
//   ls-theme-gray: (
    // $color-1: #dfdfde,
    // $color-2: #cccccb,
    // $color-3: #878787,
    // $color-4: #323232,
    // $color-5: #212121
//   ),
//   ls-theme-green: (
//     $color-1: #f8faf0,
//     $color-2: #8ec73e,
//     $color-3: #509742,
//     $color-4: #00a272,
//     $color-5: #203418
//   ),
//   ls-theme-light-green: (
//     $color-1: #e9f5f3,
//     $color-2: #9aca3b,
//     $color-3: #25b89a,
//     $color-4: #0f715e,
//     $color-5: #07261f
//   ),
//   ls-theme-blue: (
//     $color-1: #edf7fd,
//     $color-2: #23aad0,
//     $color-3: #254fa2,
//     $color-4: #214087,
//     $color-5: #182651
//   ),
//   ls-theme-gold: (
//     $color-1: #eeead2,
//     $color-2: #bcae5d,
//     $color-3: #b39d31,
//     $color-4: #8d7c2f,
//     $color-5: #242111
//   )
// )
