=theme-color($theme-name, $colors)
  $color1: map-get($colors, color1)
  $color2: map-get($colors, color2)

  .ls-bg-theme-#{$theme-name}
    background-color: $color1

  .ls-theme-#{$theme-name}

    .ls-color-theme
      color: mix($color-mix, $color1, 20%)!important

    p a:not([class*="ls-btn"]),
    .ls-breadcrumb a,
    .hopscotch-bubble a
      color: mix($color-mix, $color1, 20%)

      &:hover,
      &:focus,
      &.ls-active
        color: mix($color-mix, $color1, 40%)

    .ls-tag-primary
      background-color: $color1

    .ls-background-primary,
    .ls-table .ls-background-primary td
      background-color: lighten($color1, 40%)
      color: $color1

    ////
    // Topbar
    ////
    .ls-user-account
      background: mix($color-mix, $color1, 15%)

    .ls-topbar
      background-color: $color1

      .ls-alerts-list [class^="ls-ico"]
        @if (lightness($color1) < 35)
          color: mix(#fff, $color1, 30%)
        @else
          color: mix($color-mix, $color1, 35%)

        &:hover:not([data-counter]):not(.ls-active)
          @if (lightness($color1) < 35)
            color: mix(#fff, $color1, 75%)
          @else
            color: mix($color-mix, $color1, 60%)

      &.ls-topbar-gray
        background: $gray0

        .ls-user-account
          background-color: darken($gray0, 10%)

          > a
            color: $gray4

            small
              +rgba(color, $gray4,1)

            &:before
              +rgba(color, $gray4,.5)
              box-shadow: inset 0 0 0 2px rgba($gray4,.3)

        [class*="ls-go"]
          background-color: darken($gray0, 10%)

          &:before
            color: $gray4

        .ls-brand-name
          background: $gray0

          a
            color: $gray4

        .ls-notification-topbar

          .ls-alerts-list a
            +rgba(color, $gray4,.4)

            &.ls-active
              color: #000

            &[data-counter]
              +rgba(color, $gray4,1)

              &.ls-active
                color: #000

              &:after
                color: #fff

    ////
    // Link back to pre panel
    ////

    [class*="ls-go"]
      background: $color2

      &:hover,
      &:focus
        background: mix($color-mix, $color1, 15%)

    ////
    // SIDEBAR
    ////
    .ls-menu
      li
        border-bottom-color: mix($color-menu-mix, $color-menu-bg, 84%)

        &.ls-active:not(.ls-submenu-parent) > a
          background-color: mix($color-menu-mix, $color-menu-bg, 76%)

      a
        color: mix($color-menu-mix, $color-menu-text, 45%)

        &:hover,
        &:focus
          color: $color-menu-text
          background-color: mix($color-menu-mix, $color-menu-bg, 80%)

    .ls-sidebar [class*="ls-go"]
      background: $color1

    // Submenu
    .ls-submenu-parent

      &:after
        color: mix($color-menu-mix, $color-menu-text, 45%)

      &:hover:after
        color: $color-menu-text

      li
        border-bottom-color: mix($color-menu-mix, $color-menu-bg, 80%)

      &.ls-active
        background-color: mix($color-menu-mix, $color-menu-bg, 84%)

        ul
          border-top-color: mix($color-menu-mix, $color-menu-bg, 80%)

    .ls-brand-name
      background-color: $color1

    .ls-area-account[class*="ls-ico"]:before
      @if (lightness($color1) < 30)
        color: mix(#fff, $color1, 25%)
      @else
        color: $color1

    ////
    // Dashboard Info
    ////
    .ls-info-header [class*="ls-title"]
      color: $color1


    ////
    // Shop cart
    ////
    .ls-checkbox-cart
      &:checked
        ~ .ls-cart-header
          color: mix($color-mix, $color1, 20%)!important

          .ls-ico-cart, strong
            color: mix($color-mix, $color1, 20%)!important

    .ls-cart-header
      +rgba(background-color, $color2,1)

    ////
    // Buttons
    ////
    [class*="ls-btn"]
      &[data-ls-module]:after
        border-top-color: $color2

      &.ls-btn-danger
        color: $color-danger

        &:hover,
        &:focus,
        &:active,
        &.ls-active:not([data-ls-module="tabs"])
          +button-variation(mix(#fff, $color-danger, 10%), mix(#fff, $color-danger, 20%), #fff)

        &.ls-disabled,
        &.ls-disabled:focus,
        &.ls-disabled:hover,
        &.ls-disabled:active,
        &.ls-disabled.ls-active,
        &[disabled],
        &[disabled]:focus,
        &[disabled]:hover,
        &[disabled]:active,
        &[disabled].ls-active
          +button-variation(mix($color-mix, #fff, 10%), mix($color-mix, #fff, 20%), mix(#fff, $color-danger, 20%))

      &.ls-btn-dark
        &:focus,
        &:hover,
        &:active,
        &.ls-active:not([data-ls-module="tabs"])
          +button-variation(mix(#fff, $color-mix, 30%), mix(#fff, $color-mix, 40%), #fff)

        &.ls-disabled,
        &.ls-disabled:focus,
        &.ls-disabled:hover,
        &.ls-disabled:active,
        &.ls-disabled.ls-active,
        &[disabled],
        &[disabled]:focus,
        &[disabled]:hover,
        &[disabled]:active,
        &[disabled].ls-active
          +button-variation(mix($color-mix, #fff, 25%), mix($color-mix, #fff, 35%))

    .ls-btn
      &:hover,
      &:focus,
      &:active,
      &.ls-active
        +button-variation(mix($color-mix, #fff, 10%), mix($color-mix, #fff, 20%))
        +box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.05))

      &.ls-disabled,
      &.ls-disabled:focus,
      &.ls-disabled:hover,
      &.ls-disabled:active,
      &.ls-disabled.ls-active,
      &[disabled],
      &[disabled]:focus,
      &[disabled]:hover,
      &[disabled]:active,
      &[disabled].ls-active
        +button-variation(mix($color-mix, #fff, 10%), mix($color-mix, #fff, 20%), mix($color-mix, #fff, 50%))

    .ls-btn-primary
      +button-variation(mix($color-mix, $color1, 20%), mix($color-mix, $color1, 30%))

      &:hover,
      &:focus,
      &:active,
      &.ls-active:not([data-ls-module="tabs"])
        +button-variation(mix($color-mix, $color1, 40%), mix($color-mix, $color1, 40%))
        +box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.05))

      &.ls-disabled,
      &.ls-disabled:focus,
      &.ls-disabled:hover,
      &.ls-disabled:active,
      &.ls-disabled.ls-active,
      &[disabled],
      &[disabled]:focus,
      &[disabled]:hover,
      &[disabled]:active,
      &[disabled].ls-active
        +button-variation(mix(#fff, $color1, 40%), mix(#fff, $color1, 50%))

    .ls-tabs-button-nav .ls-active
      [class*="ls-btn"]
        background-color: $gray2

    ////
    // Collpase
    ////
    .ls-collapse
      .ls-collapse-header
        &:before
          color: $color1
          border: 3px solid $color1

    ////
    // Pagination
    ////
    [class*="ls-pagination"]

      li

        &.ls-active
          background-color: mix($color-mix, $color1, 20%)
          border-color: mix($color-mix, $color1, 20%)

    .pager

      li
        border: 1px solid $gray2
        color: $gray4

        &:hover,
        &:focus
          background-color: $gray2

        &.disabled

          a
            border: 1px solid $gray2
            color: $gray1

            &:hover,
            &:focus
              background: none

    ////
    // Tables
    ////
    .ls-table
      &.ls-bg-header thead
        background-color: $color1

        th
          color: #fff

          a
            color: #fff

          &.ls-data-descending,
          &.ls-data-ascending

            a:after
              border-top-color: #fff

          &.ls-data-ascending

            a:after
              border-color: transparent
              border-bottom-color: #fff

      thead th a
        color: #000

      tbody
        tr:hover
          +rgba(background-color, $color2, .02)
        a:not([class*="ls-btn"]),
          color: $color1

      &.ls-table-striped
        tbody tr:hover td
          +rgba(background-color, $color2, .02)

        &.ls-no-hover tbody
          tr:hover
            td
              background: #fff

            &:nth-child(odd) td
              background: $gray0


    ////
    // Tabs
    ////
    .ls-tabs-nav:not(.in-dropdown)
      li
        +rgba(background-color, $color2,0.7)

        &:hover
          background-color: $color2

        &.ls-active
          background-color: #fff


    ////
    // Links de Referência
    ////
    .ls-lnk-nav

      &:hover
        color: $color2

        &[class*="ls-ico"]:before
          color: $color2
          border-color: $color2

      &[class*="ls-ico"]:before
        color: $color1
        border: 4px solid $color1

    ////
    // Dropdown
    ////
    .ls-dropdown ul a

      &:focus,
      &:hover
        background-color: $color2
        color: #fff

      &.ls-color-danger:hover
        color: #fff !important

    ////
    // Switch button
    ////
    .ls-switch-btn input:checked + label span:after
      background-color: $color1

    ////
    // Listas
    ////
    .ls-list-title a
      color: $color1

    &.ls-pre-panel
      .ls-topbar
        background-color: $gray0


    ////
    // Datepicker
    ////
    .is-selected .pika-button
      color: #fff
      background: $color2
      box-shadow: none

    .pika-button:hover
      color: #fff !important
      background: $color1 !important

    ////
    // Tour
    //.div.hopscotch-bubble .hopscotch-actions button.hopscotch-nav-button.next
    ////
    .hopscotch-actions button.hopscotch-nav-button.next
      background-color: $color1

    ////
    // Barra de progresso
    ////
    div[data-ls-module="progressBar"] span
      background-color: $color1

    ////
    // Helper classes
    ////
    .ls-word-dotted
      border-color: $color2

    ////
    // Steps
    ////
    .ls-steps-nav
      .ls-actived
        &:before
          border-color: $color1

        &:not(.ls-active)
          &:after
            color: $color1

        .ls-steps-btn
          color: $color1

          &:before
            border-color: $color1
            color: $color1

          &:after
            color: $color1

        &.ls-active
          .ls-steps-btn:before
            background: #fff
            color: $color1

            @media screen and (min-width: $screen-sm)
              background: $color1
              color: #fff

      .ls-active
        .ls-steps-btn
          background: $color1

          &:before
            background: #fff
            border-color: #fff
            color: $color1

          &:after
            color: #fff

          @media screen and (min-width: $screen-sm)
            background: transparent

            &:before
              background: $color1
              border-color: $color1
              color: #fff

            &:after
              color: $color1

    .ls-steps-arrow:before
      background: $color1

    ////
    // Tabs Button
    ////
    .ls-tabs-btn-nav

      %tabs-btn-active
        background: mix(#fff, $color1, 90%)
        border-color: mix(#fff, $color1, 50%)
        color: $color1

      .ls-active

        [class*="ls-btn"]
          @extend %tabs-btn-active

          &:focus,
          &:hover,
          &:active
            @extend %tabs-btn-active

          &:before
            +arrow-down(mix(#fff, $color1, 50%),8px)
            position: absolute
            top: auto
            margin-left: -8px

          &:after
            +arrow-down(mix(#fff, $color1, 90%),6px)
            position: absolute
            top: auto
            margin-left: -6px



@each $theme-name, $colors in $themes-colors
  @include theme-color($theme-name, $colors)


/** Make gray the theme color if nothing are set **/
html
  @extend .ls-theme-gray
