//
// Cores de background de acordo com as camadas de profundidade do elemento
//
.bg-layer-1
	background-color: #f9f9f9

.border-radius-3
	border-radius: 3px

.border-radius-5
	border-radius: 5px

.border-radius-10
	border-radius: 10px
