///
/// Importing fonts
///
@import url('//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i')

@font-face
  font-family: 'locastyle'
  src: url('fonts/locastyle.eot?-luxi4q')
  src: url('fonts/locastyle.eot?#iefix-luxi4q') format('embedded-opentype'), url('fonts/locastyle.woff?-luxi4q') format('woff'),    url('fonts/locastyle.ttf?-luxi4q') format('truetype'),    url('fonts/locastyle.svg?-luxi4q#locastyle') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'locastyle-panel-icons'
  src: url('fonts/locastyle-panel-icons.eot?-luxi4q')
  src: url('fonts/locastyle-panel-icons.eot?#iefix-luxi4q') format('embedded-opentype'), url('fonts/locastyle-panel-icons.woff?-luxi4q') format('woff'),    url('fonts/locastyle-panel-icons.ttf?-luxi4q') format('truetype'),    url('fonts/locastyle-panel-icons.svg?-luxi4q#locastyle-panel-icons') format('svg')
  font-weight: normal
  font-style: normal

[class*="ls-ico"]:before,
[class*="ls-ico"]:after,
[class*="ls-ico-panel"]:before,
[class*="ls-ico-panel"]:after
  font-family: 'locastyle'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  margin-right: 3px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class*="ls-ico-panel"]:before,
[class*="ls-ico-panel"]:after
  font-family: 'locastyle-panel-icons'

[class*="ls-ico-"]:after,
[class*="ls-ico-panel"]:after,
.ls-ico-right:before,
.ls-ico-panel-right:before
  display: none

.ls-ico-right:after,
.ls-ico-panel-right:after
  display: inline-block
  margin-left: 5px
  padding: 0
  width: 5px

.ls-ico-alone
  display: inline-block
  font-size: remtopx(4)
  border-bottom-color: transparent

//
// Locastyle Icons
//
=ico($name, $content)
  .ls-ico-#{$name}:before,
  .ls-ico-#{$name}:after
    content: "#{$content}"


+ico(cart, \e910)
+ico(bullhorn,\e90a)
+ico(dashboard,\e925)
+ico(bell-o,\e907)
+ico(home,\e937)
+ico(stats,\e95d)
+ico(envelope,\e92d)
+ico(envelop,\e92d)
+ico(cog,\e924)
+ico(user,\e966)
+ico(users,\e967)
+ico(question,\e94d)
+ico(chevron-down,\e917)
+ico(chevron-left,\e918)
+ico(chevron-right,\e919)
+ico(chevron-up,\e91a)

+ico(shaft-down-left,\e953)
+ico(shaft-down-right,\e954)
+ico(shaft-down,\e955)
+ico(shaft-left,\e956)
+ico(shaft-right,\e957)
+ico(shaft-up-left,\e958)
+ico(shaft-up-right,\e959)
+ico(shaft-up,\e95a)
+ico(circle-down,\e91b)
+ico(circle-left,\e91c)
+ico(circle-right,\e91d)
+ico(circle-up,\e91e)

+ico(menu,\e941)
+ico(menu2,\e942)
+ico(paint-format,\e96b)
+ico(pencil,\e948)
+ico(pencil2,\e949)
+ico(image,\e938)
+ico(images,\e939)
+ico(qrcode,\e94c)
+ico(list,\e93e)
+ico(list2,\e93f)
+ico(numbered-list,\e945)
+ico(insert-template,\e93b)
+ico(windows,\e968)
+ico(screen,\e951)
+ico(camera,\e90e)
+ico(folder-open,\e932)
+ico(folder,\e933)
+ico(upload,\e963)
+ico(upload2,\e964)
+ico(spinner,\e95b)
+ico(search,\e952)
+ico(zoomin,\e969)
+ico(zoomout,\e96a)
+ico(stats,\e95d)
+ico(bars,\e906)
+ico(remove,\e950)
+ico(accessibility,\e903)
+ico(tree,\e962)
+ico(cloud-download,\e920)
+ico(cloud-upload,\e921)
+ico(cloud,\e922)
+ico(code,\e923)
+ico(download,\e929)
+ico(download2,\e92a)
+ico(globe,\e935)
+ico(earth,\e92b)
+ico(link,\e93d)
+ico(attachment,\e905)
+ico(eye-blocked,\e92f)
+ico(eye,\e930)
+ico(flag,\e931)
+ico(star,\e95c)
+ico(star2,\e96e)
+ico(star3,\e96f)
+ico(thumbs-up,\e960)
+ico(thumbs-up2,\e961)
+ico(info,\e93a)
+ico(cancel-circle,\e90f)
+ico(checkmark-circle,\e915)
+ico(checkmark,\e916)
+ico(close,\e91f)
+ico(minus,\e943)
+ico(plus,\e94a)
+ico(checkbox-checked,\e912)
+ico(checkbox-unchecked,\e914)
+ico(checkbox-partial,\e913)
+ico(radio-checked,\e94e)
+ico(radio-unchecked,\e94f)
+ico(domain,\e928)
+ico(edit-admin,\e92c)
+ico(calendar,\e90d)
+ico(calendar-more,\e90c)
+ico(calendar-check,\e90b)
+ico(chart-bar-up,\e911)
+ico(lamp,\e93c)
+ico(arrow-down,\e904)
+ico(arrow-left,\e940)
+ico(arrow-right,\e96c)
+ico(arrow-up,\e96d)
+ico(export,\e92e)
+ico(table-alt,\e95e)
+ico(mobile, \e944)
+ico(user-add, \e965)
+ico(list3, \e934)
+ico(text, \e95f)
+ico(text2, \e970)
+ico(docs, \e926)
+ico(document, \e927)
+ico(book, \e909)
+ico(target, \e652)
+ico(hours, \e653)
+ico(month, \e654)
+ico(week, \e655)
+ico(mysql, \e656)
+ico(postgres, \e94b)
+ico(ftp, \e65a)
+ico(origins, \e946)
+ico(history, \e936)
+ico(blank, \e908)
+ico(trophy, \e800)
+ico(bukets, \e900)
+ico(multibuckets, \e901)
+ico(location, \e947)
+ico(cake, \e902)

//
// Panel Icons
//
=panel-ico($name, $content)
  .ls-ico-panel-#{$name}:before,
  .ls-ico-panel-#{$name}:after
    content: "#{$content}"

+panel-ico(streaming, \e600)
+panel-ico(hospedagem, \e601)
+panel-ico(emkt, \e602)
+panel-ico(cloud, \e603)
+panel-ico(smtp, \e604)
+panel-ico(dns, \e605)
+panel-ico(backup, \e606)
+panel-ico(domains, \e607)
+panel-ico(storage, \e900)
+panel-ico(pabx, \e901)
