//
// Espaçamentos de caixas (padding)
//
.ls-xs-space
  padding: 5px !important

.ls-sm-space
  padding: 10px !important
  font-size: remtopx(.78) !important

.ls-md-space
  padding: 20px !important
  font-size: remtopx(.90) !important

.ls-lg-space
  padding: 40px !important

// FLOAT E CLEAR
.ls-clearfix:after
  content: ""
  display: block
  clear: both

.ls-no-float,
.ls-float-none
  float: none !important

.ls-float-right
  float: right !important

.ls-float-left
  float: left !important

.ls-clear-both
  clear: both !important

.ls-clear-right
  clear: right !important

.ls-clear-left
  clear: left !important

.ls-overflow-hidden
  overflow: hidden !important

.ls-overflow-visible
  overflow: visible !important

// BLOCO E LINHA
.ls-display-block
  display: block !important

.ls-display-inline
  display: inline !important
  float: none !important

.ls-display-inline-block
  display: inline-block !important
  float: none !important

.ls-display-none
  display: none !important

// TAMANHO
.ls-width-auto
  width: auto !important

.ls-width-inherit
  width: inherit

.ls-full-width
  width: 100% !important

.ls-height-inherit
  height: inherit

.ls-height-auto
  height: auto !important

@for $width from 1 through 10
  .ls-width-#{$width * 50 }
    width: $width * 50px

// MARGIN E PADDING
.ls-no-margin
  margin: 0 !important

.ls-no-margin-left
  margin-left: 0 !important

.ls-no-margin-right
  margin-right: 0 !important

.ls-no-margin-top
  margin-top: 0 !important

.ls-no-margin-bottom
  margin-bottom: 0 !important

.ls-no-padding
  padding: 0 !important

.ls-no-padding-left
  padding-left: 0 !important

.ls-no-padding-right
  padding-right: 0 !important

.ls-no-padding-top
  padding-top: 0 !important

.ls-no-padding-bottom
  padding-bottom: 0 !important

.ls-margin-auto
  margin-left: auto !important
  margin-right: auto !important

// ALINHAMENTO DE TEXTO
.ls-txt-left
  text-align: left !important

.ls-txt-right
  text-align: right !important

.ls-txt-justify
  text-align: justify !important

.ls-txt-center
  text-align: center !important

.ls-txt-center-all
  +translate(-50%, -50%)
  position: absolute !important
  top: 50% !important
  left: 50% !important
  margin: 0 !important

// ALINHAMENTO VERTICAL
.ls-v-align-top
  vertical-align: top !important

.ls-v-align-middle
  vertical-align: middle !important

.ls-v-align-bottom
  vertical-align: bottom !important

//
// BACKGROUND E BORDA
//
.ls-no-bg
  background: none !important

.ls-no-bghover:hover
  background: none !important

.ls-no-shadow
  box-shadow: none !important

.ls-no-border
  border: none !important

.ls-no-border-right
  border-right: none !important

.ls-no-border-left
  border-left: none !important

.ls-no-border-bottom
  border-bottom: none !important

.ls-no-border-top
  border-top: none !important

.ls-border
  border-color: $gray1 !important

//
// CURSOR DE MOUSE
//
.ls-cursor-pointer
  cursor: pointer !important

.ls-cursor-default
  cursor: default !important

.ls-cursor-crosshair
  cursor: crosshair !important

.ls-cursor-move
  cursor: move !important

.ls-cursor-help
  cursor: help !important

.ls-cursor-wait
  cursor: wait !important

.ls-cursor-inherit
  cursor: inherit !important

.ls-cursor-text
  cursor: text !important

.ls-cursor-progress
  cursor: progress !important

.ls-cursor-grab
  cursor: -ms-grab
  cursor: -moz-grab
  cursor: -webkit-grab
  cursor: hand
  cursor: grab

.ls-cursor-grabbing
  cursor: grabbing
  cursor: -ms-grabbing
  cursor: -moz-grabbing
  cursor: -webkit-grabbing


// COLORS
.ls-bg-white
  background: #fff !important

.ls-color-black
  color: #000 !important

.ls-color-danger
  color: #bd4b4b !important

.ls-dropdown-menu
  color: #fff !important

// INPUTS
.ls-no-spin::-webkit-inner-spin-button
  -webkit-appearance: none

// ESTILOS
.ls-ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  display: inline-block !important

.ls-ls-nowrap
  white-space: nowrap

.ls-no-bold
  font-weight: normal !important

.ls-word-break-all
  word-break: break-all !important
  padding: 0

.ls-word-break
  word-break: break-word !important

.ls-no-word-break
  word-break: normal !important

.ls-no-radius
  +border-radius(0 !important)

.ls-no-left-radius
  +border-left-radius(0 !important)

.ls-no-right-radius
  +border-right-radius(0 !important)

.ls-no-top-radius
  +border-top-radius(0 !important)

.ls-no-bottom-radius
  +border-bottom-radius(0 !important)

.ls-no-list-style
  list-style: none !important

.ls-transparent-25
  opacity: .25 !important

.ls-transparent-50
  opacity: .5 !important

.ls-transparent-75
  opacity: .75 !important

.ls-no-style-input,
.ls-no-style-input:focus,
.ls-no-style-input:active
  outline: none !important
  background: none !important
  border: none !important
  box-shadow: none !important
  outline: 1px solid transparent !important
  margin: 0 !important
  padding: 0 !important
  height: auto !important

.ls-hidden-accessible
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

.ls-break-text
  word-wrap: break-word !important

// ESPAÇAMENTO DE TEXTO
.ls-small-letter-spacing
  letter-spacing: -1px

// TAMANHO DE TEXTO
.ls-text-default
  color: #555
  font-size: remtopx(.88)

// TRANSFORMAÇÃO DE TEXTO
.ls-text-uppercase
  text-transform: uppercase

.ls-text-lowercase
  text-transform: lowercase

.ls-text-capitalize
  text-transform: capitalize

// LINK
.ls-text-underline
  text-decoration: underline !important

.ls-line-separator
  width: calc(100% -2rem)
  float: none
  clear: both
  border: 1px solid red
  border-color: #ccc transparent #ddd transparent
  margin: 2rem 1rem

  &:before, &:after
    content: " "
    display: table

// BACKGROUND COLORS

.ls-background-sucess,
.ls-table .ls-background-sucess td
  color: $colorSuccess
  background-color: lighten($colorSuccess, 40%)

.ls-background-info,
.ls-table .ls-background-info td
  color: $colorInfo
  background-color: lighten($colorInfo, 40%)

.ls-background-warning,
.ls-table .ls-background-warning td
  color: $colorWarning
  background-color: lighten($colorWarning, 40%)

.ls-background-danger,
.ls-table .ls-background-danger td
  color: $colorDanger
  background-color: lighten($colorDanger, 40%)


@media (max-width: $screen-md)
  .ls-float-none-sm
    float: none !important

  .ls-float-right-sm
    float: right !important

  .ls-float-left-sm
    float: left !important

  .ls-clear-both-sm
    clear: both !important

  .ls-clear-right-sm
    clear: right !important

  .ls-clear-left-sm
    clear: left !important

  .ls-txt-right-sm
    text-align: right !important

  .ls-txt-left-sm
    text-align: left !important

  .ls-btn-block-sm
    display: inline-block !important
    width: auto !important

@media (max-width: $screen-sm)
  .ls-float-none-xs
    float: none !important

  .ls-float-right-xs
    float: right !important

  .ls-float-left-xs
    float: left !important

  .ls-clear-both-sm
    clear: both !important

  .ls-clear-right-sm
    clear: right !important

  .ls-clear-left-sm
    clear: left !important

  .ls-txt-right-xs
    text-align: right !important

  .ls-txt-left-xs
    text-align: left !important

  .ls-btn-block-xs
    display: block !important
    text-align: center !important
    margin-bottom: 10px
    width: 100% !important
