//
// Define a font padrão dos ícones.
//
@font-face
	font-family: 'locaicons'
	src: url('/assets/fonts/locaicons/locaicons.eot')
	src: url('/assets/fonts/locaicons/locaicons.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/locaicons/locaicons.woff') format('woff'), url('/assets/fonts/locaicons/locaicons.ttf') format('truetype'), url('/assets/fonts/locaicons/locaicons.svg#locaicons') format('svg')
	font-weight: normal
	font-style: normal


[class*="ico-"].ico-pos-right:after,
[class*="ico-"]:before
	position: relative
	top: -2px
	margin-right: 4px
	display: inline-block
	speak: none
	vertical-align: middle
	font-family: 'locaicons'
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

[class*="ico-"]:after,
.ico-pos-right:before
	display: none

.ico-pos-right:after
	margin-left: 5px
	padding: 0
	width: 5px

.ico-home:before
	content: "\e000"

.ico-pencil:before
	content: "\e001"

.ico-image:before
	content: "\e002"

.ico-images:before
	content: "\e003"

.ico-camera:before
	content: "\e004"

.ico-music:before
	content: "\e005"

.ico-play:before
	content: "\e006"

.ico-feed:before
	content: "\e007"

.ico-podcast:before
	content: "\e008"

.ico-book:before
	content: "\e009"

.ico-folder:before
	content: "\e00a"

.ico-folder-open:before
	content: "\e00b"

.ico-tag:before
	content: "\e00c"

.ico-cart:before
	content: "\e00d"

.ico-phone:before
	content: "\e00e"

.ico-address-book:before
	content: "\e00f"

.ico-envelop:before
	content: "\e010"

.ico-location:before
	content: "\e011"

.ico-history:before
	content: "\e012"

.ico-clock:before
	content: "\e013"

.ico-screen:before
	content: "\e014"

.ico-mobile:before
	content: "\e015"

.ico-tablet:before
	content: "\e016"

.ico-drawer:before
	content: "\e017"

.ico-drawer-2:before
	content: "\e018"

.ico-drawer-3:before
	content: "\e019"

.ico-box-add:before
	content: "\e01a"

.ico-box-remove:before
	content: "\e01b"

.ico-download:before
	content: "\e01c"

.ico-upload:before
	content: "\e01d"

.ico-undo:before
	content: "\e01e"

.ico-redo:before
	content: "\e01f"

.ico-undo-2:before
	content: "\e020"

.ico-redo-2:before
	content: "\e021"

.ico-forward:before
	content: "\e022"

.ico-reply:before
	content: "\e023"

.ico-bubble:before
	content: "\e024"

.ico-bubbles:before
	content: "\e025"

.ico-bubbles-2:before
	content: "\e026"

.ico-user:before
	content: "\e027"

.ico-users:before
	content: "\e028"

.ico-spinner:before
	content: "\e029"

.ico-search:before
	content: "\e02a"

.ico-zoom-in:before
	content: "\e02b"

.ico-zoom-out:before
	content: "\e02c"

.ico-expand:before
	content: "\e02d"

.ico-contract:before
	content: "\e02e"

.ico-expand-2:before
	content: "\e02f"

.ico-contract-2:before
	content: "\e030"

.ico-key:before
	content: "\e031"

.ico-cogs:before
	content: "\e032"

.ico-cog:before
	content: "\e033"

.ico-stats:before
	content: "\e034"

.ico-bars:before
	content: "\e035"

.ico-remove:before
	content: "\e036"

.ico-airplane:before
	content: "\e037"

.ico-truck:before
	content: "\e038"

.ico-list:before
	content: "\e039"

.ico-numbered-list:before
	content: "\e03a"

.ico-menu:before
	content: "\e03b"

.ico-menu-2:before
	content: "\e03c"

.ico-tree:before
	content: "\e03d"

.ico-cloud:before
	content: "\e03e"

.ico-cloud-download:before
	content: "\e03f"

.ico-cloud-upload:before
	content: "\e040"

.ico-download-2:before
	content: "\e041"

.ico-upload-2:before
	content: "\e042"

.ico-download-3:before
	content: "\e043"

.ico-upload-3:before
	content: "\e044"

.ico-globe:before
	content: "\e045"

.ico-earth:before
	content: "\e046"

.ico-link:before
	content: "\e047"

.ico-flag:before
	content: "\e048"

.ico-attachment:before
	content: "\e049"

.ico-eye-blocked:before
	content: "\e04a"

.ico-eye:before
	content: "\e04b"

.ico-bookmark:before
	content: "\e04c"

.ico-brightness-medium:before
	content: "\e04d"

.ico-brightness-contrast:before
	content: "\e04e"

.ico-contrast:before
	content: "\e04f"

.ico-star:before
	content: "\e050"

.ico-star-2:before
	content: "\e051"

.ico-star-3:before
	content: "\e052"

.ico-thumbs-up:before
	content: "\e053"

.ico-thumbs-up-2:before
	content: "\e054"

.ico-minus:before
	content: "\e055"

.ico-plus:before
	content: "\e056"

.ico-enter:before
	content: "\e057"

.ico-exit:before
	content: "\e058"

.ico-cancel-circle:before
	content: "\e059"

.ico-checkmark-circle:before
	content: "\e05a"

.ico-spam:before
	content: "\e05b"

.ico-close:before
	content: "\e05c"

.ico-checkmark:before
	content: "\e05d"

.ico-info:before
	content: "\e05e"

.ico-blocked:before
	content: "\e05f"

.ico-play-2:before
	content: "\e060"

.ico-play-3:before
	content: "\e061"

.ico-pause:before
	content: "\e062"

.ico-stop:before
	content: "\e063"

.ico-backward:before
	content: "\e064"

.ico-forward-2:before
	content: "\e065"

.ico-first:before
	content: "\e066"

.ico-last:before
	content: "\e067"

.ico-previous:before
	content: "\e068"

.ico-next:before
	content: "\e069"

.ico-eject:before
	content: "\e06a"

.ico-volume-high:before
	content: "\e06b"

.ico-volume-medium:before
	content: "\e06c"

.ico-volume-low:before
	content: "\e06d"

.ico-volume-mute:before
	content: "\e06e"

.ico-volume-mute-2:before
	content: "\e06f"

.ico-volume-increase:before
	content: "\e070"

.ico-volume-decrease:before
	content: "\e071"

.ico-loop:before
	content: "\e072"

.ico-loop-2:before
	content: "\e073"

.ico-loop-3:before
	content: "\e074"

.ico-shuffle:before
	content: "\e075"

.ico-arrow-up:before
	content: "\e076"

.ico-arrow-right:before
	content: "\e077"

.ico-arrow-down:before
	content: "\e078"

.ico-arrow-left:before
	content: "\e079"

.ico-tab:before
	content: "\e07a"

.ico-checkbox-checked:before
	content: "\e07b"

.ico-checkbox-partial:before
	content: "\e07c"

.ico-checkbox-unchecked:before
	content: "\e07d"

.ico-radio-checked:before
	content: "\e07e"

.ico-radio-unchecked:before
	content: "\e07f"

.ico-table:before
	content: "\e080"

.ico-table-2:before
	content: "\e081"

.ico-insert-template:before
	content: "\e082"

.ico-code:before
	content: "\e083"

.ico-google:before
	content: "\e084"

.ico-google-plus:before
	content: "\e085"

.ico-google-plus-2:before
	content: "\e086"

.ico-google-plus-3:before
	content: "\e087"

.ico-google-plus-4:before
	content: "\e088"

.ico-google-drive:before
	content: "\e089"

.ico-facebook:before
	content: "\e08a"

.ico-facebook-2:before
	content: "\e08b"

.ico-facebook-3:before
	content: "\e08c"

.ico-instagram:before
	content: "\e08d"

.ico-twitter:before
	content: "\e08e"

.ico-twitter-2:before
	content: "\e08f"

.ico-twitter-3:before
	content: "\e090"

.ico-feed-2:before
	content: "\e091"

.ico-feed-3:before
	content: "\e092"

.ico-feed-4:before
	content: "\e093"

.ico-youtube:before
	content: "\e094"

.ico-youtube-2:before
	content: "\e095"

.ico-vimeo:before
	content: "\e096"

.ico-vimeo2:before
	content: "\e097"

.ico-vimeo-2:before
	content: "\e098"

.ico-flickr:before
	content: "\e099"

.ico-flickr-2:before
	content: "\e09a"

.ico-flickr-3:before
	content: "\e09b"

.ico-flickr-4:before
	content: "\e09c"

.ico-picassa:before
	content: "\e09d"

.ico-picassa-2:before
	content: "\e09e"

.ico-dribbble:before
	content: "\e09f"

.ico-dribbble-2:before
	content: "\e0a0"

.ico-dribbble-3:before
	content: "\e0a1"

.ico-lanyrd:before
	content: "\e0a2"

.ico-forrst:before
	content: "\e0a3"

.ico-forrst-2:before
	content: "\e0a4"

.ico-deviantart:before
	content: "\e0a5"

.ico-deviantart-2:before
	content: "\e0a6"

.ico-steam:before
	content: "\e0a7"

.ico-steam-2:before
	content: "\e0a8"

.ico-github:before
	content: "\e0a9"

.ico-github-2:before
	content: "\e0aa"

.ico-github-3:before
	content: "\e0ab"

.ico-github-4:before
	content: "\e0ac"

.ico-github-5:before
	content: "\e0ad"

.ico-wordpress:before
	content: "\e0ae"

.ico-wordpress-2:before
	content: "\e0af"

.ico-joomla:before
	content: "\e0b0"

.ico-blogger:before
	content: "\e0b1"

.ico-blogger-2:before
	content: "\e0b2"

.ico-tumblr:before
	content: "\e0b3"

.ico-tumblr-2:before
	content: "\e0b4"

.ico-yahoo:before
	content: "\e0b5"

.ico-tux:before
	content: "\e0b6"

.ico-apple:before
	content: "\e0b7"

.ico-finder:before
	content: "\e0b8"

.ico-android:before
	content: "\e0b9"

.ico-windows:before
	content: "\e0ba"

.ico-windows8:before
	content: "\e0bb"

.ico-soundcloud:before
	content: "\e0bc"

.ico-soundcloud-2:before
	content: "\e0bd"

.ico-skype:before
	content: "\e0be"

.ico-reddit:before
	content: "\e0bf"

.ico-linkedin:before
	content: "\e0c0"

.ico-lastfm:before
	content: "\e0c1"

.ico-lastfm-2:before
	content: "\e0c2"

.ico-delicious:before
	content: "\e0c3"

.ico-stumbleupon:before
	content: "\e0c4"

.ico-stumbleupon-2:before
	content: "\e0c5"

.ico-stackoverflow:before
	content: "\e0c6"

.ico-pinterest:before
	content: "\e0c7"

.ico-pinterest-2:before
	content: "\e0c8"

.ico-xing:before
	content: "\e0c9"

.ico-xing-2:before
	content: "\e0ca"

.ico-flattr:before
	content: "\e0cb"

.ico-foursquare:before
	content: "\e0cc"

.ico-foursquare-2:before
	content: "\e0cd"

.ico-paypal:before
	content: "\e0ce"

.ico-paypal-2:before
	content: "\e0cf"

.ico-paypal-3:before
	content: "\e0d0"

.ico-yelp:before
	content: "\e0d1"

.ico-libreoffice:before
	content: "\e0d2"

.ico-file-pdf:before
	content: "\e0d3"

.ico-file-openoffice:before
	content: "\e0d4"

.ico-file-word:before
	content: "\e0d5"

.ico-file-excel:before
	content: "\e0d6"

.ico-file-zip:before
	content: "\e0d7"

.ico-file-powerpoint:before
	content: "\e0d8"

.ico-file-xml:before
	content: "\e0d9"

.ico-file-css:before
	content: "\e0da"

.ico-html5:before
	content: "\e0db"

.ico-html5-2:before
	content: "\e0dc"

.ico-css3:before
	content: "\e0dd"

.ico-chrome:before
	content: "\e0de"

.ico-firefox:before
	content: "\e0df"

.ico-IE:before
	content: "\e0e0"

.ico-opera:before
	content: "\e0e1"

.ico-safari:before
	content: "\e0e2"

.ico-IcoMoon:before
	content: "\e0e3"

.ico-switch:before
	content: "\e0e4"

.ico-cart-2:before
	content: "\e0e5"

.ico-question:before
	content: "\e0e6"

.ico-monitor:before
	content: "\e0e7"


