//
// Define a font padrão dos ícones.
//
@font-face
	font-family: 'locaicons'
	src: url('/assets/fonts/locaicons/locaicons.eot')
	src: url('/assets/fonts/locaicons/locaicons.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/locaicons/locaicons.woff') format('woff'), url('/assets/fonts/locaicons/locaicons.ttf') format('truetype'), url('/assets/fonts/locaicons/locaicons.svg#locaicons') format('svg')
	font-weight: normal
	font-style: normal


[class*="ico-"].ico-pos-right:after,
[class*="ico-"]:before
	position: relative
	top: -2px
	margin-right: 4px
	display: inline-block
	speak: none
	vertical-align: middle
	font-family: 'locaicons'
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

[class*="ico-"]:after,
.ico-pos-right:before
	display: none

.ico-pos-right:after
	margin-left: 5px
	padding: 0
	width: 5px

.ico-home:before,
.ico-home:after
	content: "\e000"

.ico-pencil:before,
.ico-pencil:after
	content: "\e001"

.ico-image:before,
.ico-image:after
	content: "\e002"

.ico-calendar:before,
.ico-calendar:after
	content: "\e0e8"

.ico-images:before,
.ico-images:after
	content: "\e003"

.ico-camera:before,
.ico-camera:after
	content: "\e004"

.ico-music:before,
.ico-music:after
	content: "\e005"

.ico-play:before,
.ico-play:after
	content: "\e006"

.ico-feed:before,
.ico-feed:after
	content: "\e007"

.ico-podcast:before,
.ico-podcast:after
	content: "\e008"

.ico-book:before,
.ico-book:after
	content: "\e009"

.ico-folder:before,
.ico-folder:after
	content: "\e00a"

.ico-folder-open:before,
.ico-folder-open:after
	content: "\e00b"

.ico-tag:before,
.ico-tag:after
	content: "\e00c"

.ico-cart:before,
.ico-cart:after
	content: "\e00d"

.ico-phone:before,
.ico-phone:after
	content: "\e00e"

.ico-address-book:before,
.ico-address-book:after
	content: "\e00f"

.ico-envelop:before,
.ico-envelop:after
	content: "\e010"

.ico-location:before,
.ico-location:after
	content: "\e011"

.ico-history:before,
.ico-history:after
	content: "\e012"

.ico-clock:before,
.ico-clock:after
	content: "\e013"

.ico-screen:before,
.ico-screen:after
	content: "\e014"

.ico-mobile:before,
.ico-mobile:after
	content: "\e015"

.ico-tablet:before,
.ico-tablet:after
	content: "\e016"

.ico-drawer:before,
.ico-drawer:after
	content: "\e017"

.ico-drawer-2:before,
.ico-drawer-2:after
	content: "\e018"

.ico-drawer-3:before,
.ico-drawer-3:after
	content: "\e019"

.ico-box-add:before,
.ico-box-add:after
	content: "\e01a"

.ico-box-remove:before,
.ico-box-remove:after
	content: "\e01b"

.ico-download:before,
.ico-download:after
	content: "\e01c"

.ico-upload:before,
.ico-upload:after
	content: "\e01d"

.ico-undo:before,
.ico-undo:after
	content: "\e01e"

.ico-redo:before,
.ico-redo:after
	content: "\e01f"

.ico-undo-2:before,
.ico-undo-2:after
	content: "\e020"

.ico-redo-2:before,
.ico-redo-2:after
	content: "\e021"

.ico-forward:before,
.ico-forward:after
	content: "\e022"

.ico-reply:before,
.ico-reply:after
	content: "\e023"

.ico-bubble:before,
.ico-bubble:after
	content: "\e024"

.ico-bubbles:before,
.ico-bubbles:after
	content: "\e025"

.ico-bubbles-2:before,
.ico-bubbles-2:after
	content: "\e026"

.ico-user:before,
.ico-user:after
	content: "\e027"

.ico-users:before,
.ico-users:after
	content: "\e028"

.ico-spinner:before,
.ico-spinner:after
	content: "\e029"

.ico-search:before,
.ico-search:after
	content: "\e02a"

.ico-zoom-in:before,
.ico-zoom-in:after
	content: "\e02b"

.ico-zoom-out:before,
.ico-zoom-out:after
	content: "\e02c"

.ico-expand:before,
.ico-expand:after
	content: "\e02d"

.ico-contract:before,
.ico-contract:after
	content: "\e02e"

.ico-expand-2:before,
.ico-expand-2:after
	content: "\e02f"

.ico-contract-2:before,
.ico-contract-2:after
	content: "\e030"

.ico-key:before,
.ico-key:after
	content: "\e031"

.ico-cogs:before,
.ico-cogs:after
	content: "\e032"

.ico-cog:before,
.ico-cog:after
	content: "\e033"

.ico-stats:before,
.ico-stats:after
	content: "\e034"

.ico-bars:before,
.ico-bars:after
	content: "\e035"

.ico-remove:before,
.ico-remove:after
	content: "\e036"

.ico-airplane:before,
.ico-airplane:after
	content: "\e037"

.ico-truck:before,
.ico-truck:after
	content: "\e038"

.ico-list:before,
.ico-list:after
	content: "\e039"

.ico-numbered-list:before,
.ico-numbered-list:after
	content: "\e03a"

.ico-menu:before,
.ico-menu:after
	content: "\e03b"

.ico-menu-2:before,
.ico-menu-2:after
	content: "\e03c"

.ico-tree:before,
.ico-tree:after
	content: "\e03d"

.ico-cloud:before,
.ico-cloud:after
	content: "\e03e"

.ico-cloud-download:before,
.ico-cloud-download:after
	content: "\e03f"

.ico-cloud-upload:before,
.ico-cloud-upload:after
	content: "\e040"

.ico-download-2:before,
.ico-download-2:after
	content: "\e041"

.ico-upload-2:before,
.ico-upload-2:after
	content: "\e042"

.ico-download-3:before,
.ico-download-3:after
	content: "\e043"

.ico-upload-3:before,
.ico-upload-3:after
	content: "\e044"

.ico-globe:before,
.ico-globe:after
	content: "\e045"

.ico-earth:before,
.ico-earth:after
	content: "\e046"

.ico-link:before,
.ico-link:after
	content: "\e047"

.ico-flag:before,
.ico-flag:after
	content: "\e048"

.ico-attachment:before,
.ico-attachment:after
	content: "\e049"

.ico-eye-blocked:before,
.ico-eye-blocked:after
	content: "\e04a"

.ico-eye:before,
.ico-eye:after
	content: "\e04b"

.ico-bookmark:before,
.ico-bookmark:after
	content: "\e04c"

.ico-brightness-medium:before,
.ico-brightness-medium:after
	content: "\e04d"

.ico-brightness-contrast:before,
.ico-brightness-contrast:after
	content: "\e04e"

.ico-contrast:before,
.ico-contrast:after
	content: "\e04f"

.ico-star:before,
.ico-star:after
	content: "\e050"

.ico-star-2:before,
.ico-star-2:after
	content: "\e051"

.ico-star-3:before,
.ico-star-3:after
	content: "\e052"

.ico-thumbs-up:before,
.ico-thumbs-up:after
	content: "\e053"

.ico-thumbs-up-2:before,
.ico-thumbs-up-2:after
	content: "\e054"

.ico-minus:before,
.ico-minus:after
	content: "\e055"

.ico-plus:before,
.ico-plus:after
	content: "\e056"

.ico-enter:before,
.ico-enter:after
	content: "\e057"

.ico-exit:before,
.ico-exit:after
	content: "\e058"

.ico-cancel-circle:before,
.ico-cancel-circle:after
	content: "\e059"

.ico-checkmark-circle:before,
.ico-checkmark-circle:after
	content: "\e05a"

.ico-spam:before,
.ico-spam:after
	content: "\e05b"

.ico-close:before,
.ico-close:after
	content: "\e05c"

.ico-checkmark:before,
.ico-checkmark:after
	content: "\e05d"

.ico-info:before,
.ico-info:after
	content: "\e05e"

.ico-blocked:before,
.ico-blocked:after
	content: "\e05f"

.ico-play-2:before,
.ico-play-2:after
	content: "\e060"

.ico-play-3:before,
.ico-play-3:after
	content: "\e061"

.ico-pause:before,
.ico-pause:after
	content: "\e062"

.ico-stop:before,
.ico-stop:after
	content: "\e063"

.ico-backward:before,
.ico-backward:after
	content: "\e064"

.ico-forward-2:before,
.ico-forward-2:after
	content: "\e065"

.ico-first:before,
.ico-first:after
	content: "\e066"

.ico-last:before,
.ico-last:after
	content: "\e067"

.ico-previous:before,
.ico-previous:after
	content: "\e068"

.ico-next:before,
.ico-next:after
	content: "\e069"

.ico-eject:before,
.ico-eject:after
	content: "\e06a"

.ico-volume-high:before,
.ico-volume-high:after
	content: "\e06b"

.ico-volume-medium:before,
.ico-volume-medium:after
	content: "\e06c"

.ico-volume-low:before,
.ico-volume-low:after
	content: "\e06d"

.ico-volume-mute:before,
.ico-volume-mute:after
	content: "\e06e"

.ico-volume-mute-2:before,
.ico-volume-mute-2:after
	content: "\e06f"

.ico-volume-increase:before,
.ico-volume-increase:after
	content: "\e070"

.ico-volume-decrease:before,
.ico-volume-decrease:after
	content: "\e071"

.ico-loop:before,
.ico-loop:after
	content: "\e072"

.ico-loop-2:before,
.ico-loop-2:after
	content: "\e073"

.ico-loop-3:before,
.ico-loop-3:after
	content: "\e074"

.ico-shuffle:before,
.ico-shuffle:after
	content: "\e075"

.ico-arrow-up:before,
.ico-arrow-up:after
	content: "\e076"

.ico-arrow-right:before,
.ico-arrow-right:after
	content: "\e077"

.ico-arrow-down:before,
.ico-arrow-down:after
	content: "\e078"

.ico-arrow-left:before,
.ico-arrow-left:after
	content: "\e079"

.ico-tab:before,
.ico-tab:after
	content: "\e07a"

.ico-checkbox-checked:before,
.ico-checkbox-checked:after
	content: "\e07b"

.ico-checkbox-partial:before,
.ico-checkbox-partial:after
	content: "\e07c"

.ico-checkbox-unchecked:before,
.ico-checkbox-unchecked:after
	content: "\e07d"

.ico-radio-checked:before,
.ico-radio-checked:after
	content: "\e07e"

.ico-radio-unchecked:before,
.ico-radio-unchecked:after
	content: "\e07f"

.ico-table:before,
.ico-table:after
	content: "\e081"

.ico-insert-template:before,
.ico-insert-template:after
	content: "\e082"

.ico-code:before,
.ico-code:after
	content: "\e083"

.ico-google:before,
.ico-google:after
	content: "\e084"

.ico-google-plus:before,
.ico-google-plus:after
	content: "\e085"

.ico-google-plus-2:before,
.ico-google-plus-2:after
	content: "\e086"

.ico-google-plus-3:before,
.ico-google-plus-3:after
	content: "\e087"

.ico-google-plus-4:before,
.ico-google-plus-4:after
	content: "\e088"

.ico-google-drive:before,
.ico-google-drive:after
	content: "\e089"

.ico-facebook:before,
.ico-facebook:after
	content: "\e08a"

.ico-facebook-2:before,
.ico-facebook-2:after
	content: "\e08b"

.ico-facebook-3:before,
.ico-facebook-3:after
	content: "\e08c"

.ico-instagram:before,
.ico-instagram:after
	content: "\e08d"

.ico-twitter:before,
.ico-twitter:after
	content: "\e08e"

.ico-twitter-2:before,
.ico-twitter-2:after
	content: "\e08f"

.ico-twitter-3:before,
.ico-twitter-3:after
	content: "\e090"

.ico-feed-2:before,
.ico-feed-2:after
	content: "\e091"

.ico-feed-3:before,
.ico-feed-3:after
	content: "\e092"

.ico-feed-4:before,
.ico-feed-4:after
	content: "\e093"

.ico-youtube:before,
.ico-youtube:after
	content: "\e094"

.ico-youtube-2:before,
.ico-youtube-2:after
	content: "\e095"

.ico-vimeo:before,
.ico-vimeo:after
	content: "\e096"

.ico-vimeo2:before,
.ico-vimeo2:after
	content: "\e097"

.ico-vimeo-2:before,
.ico-vimeo-2:after
	content: "\e098"

.ico-flickr:before,
.ico-flickr:after
	content: "\e099"

.ico-flickr-2:before,
.ico-flickr-2:after
	content: "\e09a"

.ico-flickr-3:before,
.ico-flickr-3:after
	content: "\e09b"

.ico-flickr-4:before,
.ico-flickr-4:after
	content: "\e09c"

.ico-picassa:before,
.ico-picassa:after
	content: "\e09d"

.ico-picassa-2:before,
.ico-picassa-2:after
	content: "\e09e"

.ico-dribbble:before,
.ico-dribbble:after
	content: "\e09f"

.ico-dribbble-2:before,
.ico-dribbble-2:after
	content: "\e0a0"

.ico-dribbble-3:before,
.ico-dribbble-3:after
	content: "\e0a1"

.ico-lanyrd:before,
.ico-lanyrd:after
	content: "\e0a2"

.ico-forrst:before,
.ico-forrst:after
	content: "\e0a3"

.ico-forrst-2:before,
.ico-forrst-2:after
	content: "\e0a4"

.ico-deviantart:before,
.ico-deviantart:after
	content: "\e0a5"

.ico-deviantart-2:before,
.ico-deviantart-2:after
	content: "\e0a6"

.ico-steam:before,
.ico-steam:after
	content: "\e0a7"

.ico-steam-2:before,
.ico-steam-2:after
	content: "\e0a8"

.ico-github:before,
.ico-github:after
	content: "\e0a9"

.ico-github-2:before,
.ico-github-2:after
	content: "\e0aa"

.ico-github-3:before,
.ico-github-3:after
	content: "\e0ab"

.ico-github-4:before,
.ico-github-4:after
	content: "\e0ac"

.ico-github-5:before,
.ico-github-5:after
	content: "\e0ad"

.ico-wordpress:before,
.ico-wordpress:after
	content: "\e0ae"

.ico-wordpress-2:before,
.ico-wordpress-2:after
	content: "\e0af"

.ico-joomla:before,
.ico-joomla:after
	content: "\e0b0"

.ico-blogger:before,
.ico-blogger:after
	content: "\e0b1"

.ico-blogger-2:before,
.ico-blogger-2:after
	content: "\e0b2"

.ico-tumblr:before,
.ico-tumblr:after
	content: "\e0b3"

.ico-tumblr-2:before,
.ico-tumblr-2:after
	content: "\e0b4"

.ico-yahoo:before,
.ico-yahoo:after
	content: "\e0b5"

.ico-tux:before,
.ico-tux:after
	content: "\e0b6"

.ico-apple:before,
.ico-apple:after
	content: "\e0b7"

.ico-finder:before,
.ico-finder:after
	content: "\e0b8"

.ico-android:before,
.ico-android:after
	content: "\e0b9"

.ico-windows:before,
.ico-windows:after
	content: "\e0ba"

.ico-windows8:before,
.ico-windows8:after
	content: "\e0bb"

.ico-soundcloud:before,
.ico-soundcloud:after
	content: "\e0bc"

.ico-soundcloud-2:before,
.ico-soundcloud-2:after
	content: "\e0bd"

.ico-skype:before,
.ico-skype:after
	content: "\e0be"

.ico-reddit:before,
.ico-reddit:after
	content: "\e0bf"

.ico-linkedin:before,
.ico-linkedin:after
	content: "\e0c0"

.ico-lastfm:before,
.ico-lastfm:after
	content: "\e0c1"

.ico-lastfm-2:before,
.ico-lastfm-2:after
	content: "\e0c2"

.ico-delicious:before,
.ico-delicious:after
	content: "\e0c3"

.ico-stumbleupon:before,
.ico-stumbleupon:after
	content: "\e0c4"

.ico-stumbleupon-2:before,
.ico-stumbleupon-2:after
	content: "\e0c5"

.ico-stackoverflow:before,
.ico-stackoverflow:after
	content: "\e0c6"

.ico-pinterest:before,
.ico-pinterest:after
	content: "\e0c7"

.ico-pinterest-2:before,
.ico-pinterest-2:after
	content: "\e0c8"

.ico-xing:before,
.ico-xing:after
	content: "\e0c9"

.ico-xing-2:before,
.ico-xing-2:after
	content: "\e0ca"

.ico-flattr:before,
.ico-flattr:after
	content: "\e0cb"

.ico-foursquare:before,
.ico-foursquare:after
	content: "\e0cc"

.ico-foursquare-2:before,
.ico-foursquare-2:after
	content: "\e0cd"

.ico-paypal:before,
.ico-paypal:after
	content: "\e0ce"

.ico-paypal-2:before,
.ico-paypal-2:after
	content: "\e0cf"

.ico-paypal-3:before,
.ico-paypal-3:after
	content: "\e0d0"

.ico-yelp:before,
.ico-yelp:after
	content: "\e0d1"

.ico-libreoffice:before,
.ico-libreoffice:after
	content: "\e0d2"

.ico-file-pdf:before,
.ico-file-pdf:after
	content: "\e0d3"

.ico-file-openoffice:before,
.ico-file-openoffice:after
	content: "\e0d4"

.ico-file-word:before,
.ico-file-word:after
	content: "\e0d5"

.ico-file-excel:before,
.ico-file-excel:after
	content: "\e0d6"

.ico-file-zip:before,
.ico-file-zip:after
	content: "\e0d7"

.ico-file-powerpoint:before,
.ico-file-powerpoint:after
	content: "\e0d8"

.ico-file-xml:before,
.ico-file-xml:after
	content: "\e0d9"

.ico-file-css:before,
.ico-file-css:after
	content: "\e0da"

.ico-html5:before,
.ico-html5:after
	content: "\e0db"

.ico-html5-2:before,
.ico-html5-2:after
	content: "\e0dc"

.ico-css3:before,
.ico-css3:after
	content: "\e0dd"

.ico-chrome:before,
.ico-chrome:after
	content: "\e0de"

.ico-firefox:before,
.ico-firefox:after
	content: "\e0df"

.ico-IE:before,
.ico-IE:after
	content: "\e0e0"

.ico-opera:before,
.ico-opera:after
	content: "\e0e1"

.ico-safari:before,
.ico-safari:after
	content: "\e0e2"

.ico-IcoMoon:before,
.ico-IcoMoon:after
	content: "\e0e3"

.ico-switch:before,
.ico-switch:after
	content: "\e0e4"

.ico-cart-2:before,
.ico-cart-2:after
	content: "\e0e5"

.ico-question:before,
.ico-question:after
	content: "\e0e6"

.ico-monitor:before,
.ico-monitor:after
	content: "\e0e7"

.ico-direction-right:before,
.ico-direction-right:after
	content: "\e080"

.ico-direction-left:before,
.ico-direction-left:after
	content: "\e0e9"

.ico-th-large:before,
.ico-th-large:after
	content: "\f009"

.ico-grid:before,
.ico-grid:after
	content: "\e0ea"