//
// Adiciona bordas arredondadas em ícones.
//
=border-circle($size, $font-size)
  text-align: center
  font-size: $font-size
  height: $size
  width: $size
  line-height: $size
  display: inline-block
  border-radius: 100%

// ARROWS
// Cria setas.
// $arrow-color define a cor da seta. $arrow-size define o tamanho da seta.
=arrow-structure($arrow-size)
  content: ""
  display: inline-block
  width: 0
  height: 0
  margin-left: 5px
  position: relative
  top: -2px
  border: $arrow-size solid transparent

=arrow-up($arrow-color, $arrow-size)
  +arrow-structure($arrow-size)
  border-color: transparent transparent $arrow-color transparent

=arrow-down($arrow-color, $arrow-size)
  +arrow-structure($arrow-size)
  border-color: $arrow-color transparent transparent transparent

=arrow-right($arrow-color, $arrow-size)
  +arrow-structure($arrow-size)
  border-color: transparent transparent transparent $arrow-color

=arrow-left($arrow-color, $arrow-size)
  +arrow-structure($arrow-size)
  border-color: transparent $arrow-color transparent transparent
