*
  margin: 0
  padding: 0
  +box-sizing(border-box)

*:after,
*:before
  +box-sizing(border-box)

html
  background: #f7f7f7

html,
body
  height: 100%

.sidebar-visible html,
.sidebar-visible body
  overflow: hidden
  -webkit-perspective: 1200
  -moz-perspective: 1200
  -ms-perspective: 1200
  perspective: 1200
  -webkit-perspective-origin: 40% 0
  -moz-perspective-origin: 40% 0
  -ms-perspective-origin: 40% 0
  perspective-origin: 40% 0
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  transform-style: preserve-3d

body
  font-size: 100%
  line-height: 1
  font-family: Open Sans, Arial, Helvetica, Sans-serif

a, a:hover
  text-decoration: none

p a
  border-bottom-style: solid
  border-bottom-width: 1px

img
  max-width: 100%
