*
  margin: 0
  padding: 0
  +box-sizing(border-box)

*:after,
*:before
  +box-sizing(border-box)

html
  background-color: #fff

  &.ls-html-nobg
    background-color: #f7f7f7

html,
body
  height: 100%

body
  font-size: 100%
  line-height: 1
  font-family: Open Sans, Arial, Helvetica, Sans-serif

.container-white
  @extend .ls-clearfix
  margin: 0 -15px
  padding: 30px
  border-top: 1px solid $gray1
  background-color: #fff

a, a:hover
  text-decoration: none

p a,
a.ls-color-theme
  border-bottom-style: solid
  border-bottom-width: 1px

  &:hover,
  &:focus
    border-bottom-color: transparent

img
  max-width: 100%

hr
  border: none
  border-top: 1px solid $gray1
  margin: 30px 0

  .ls-form &
    margin-left: 15px
    margin-right: 15px

  &[data-ls-text]
    border-top-style: dashed
    text-align: left
    margin-top: 50px

    &:before
      background-color: #fff
      content: attr(data-ls-text)
      font-size: 18px
      font-weight: 600
      position: relative
      top: -12px
      padding: 10px 20px 10px 0
      margin: 0 auto

fieldset
  border: none

main
  display: block

[hidden],
template
  display: none

small
  font-size: remtopx(.6875)

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

@media screen and (min-width: $screen-sm)
  html,
  body
    overflow-x: initial
