



//
// Desktops
//
@media (min-width: #{$screen-sm})
.shortcut
	text-align: center

	.shortcut-title
		color: #163400 //variavel
		font-size: 1em
		font-family: 'ralewaysemibold'
		text-transform: uppercase
		opacity: .5

		&:before
			@include border-circle(175px, 30px)
			display: block
			margin: 0 auto

	// 	&:before
	// 		position: absolute
	// 		font-size: 6em
	// 		left: 50%
	// 		margin: -50px 0 0 -45px
	// 		top: 50%

	// 	h2


	// 	&.active
	// 		h2
	// 			opacity: 1
	// 	&:hover
	// 		text-decoration: none


