.bg-shortcut-workaround
	background-color: $gray4
	display: block
	width: 100%
	position: absolute
	top: 0
	left: 0
	z-index: -1
	min-height: 450px

.shortcuts
	text-align: center
	padding: 30px 0 49px
	margin-bottom: 50px
	position: relative
	z-index: 0

	a
		text-decoration: none

	.shortcut-title
		color: rgba(0,0,0,0.5)
		font-size: 1em
		padding: 0 4px
		font-family: 'ralewaysemibold'
		text-transform: uppercase

		&.active, &:hover
			color: rgba(0,0,0,1)

			&:before
				color: #fff

		&:before
			@include border-circle(140px, 4em)
			display: block
			margin: 0 auto 20px
			background: #fff


//
// Desktops
//
@media (min-width: #{$screen-sm})
	.shortcuts
		.shortcut-title
			&:active, &:hover
				&:before
					-webkit-transform: scale(1.24)

	.bg-shortcut-workaround
		min-height: 340px