html
  font-size: 90%

[class*="ls-title"]
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  font-smoothing: antialiased
  font-weight: 400

  color: $gray4
  margin-bottom: 5px

.ls-title-intro
  font-size: 2.25rem
  font-weight: 300
  color: $gray4
  padding: 30px
  margin: 0 -30px 30px
  background-color: #f7f7f7
  border-bottom: 1px solid rgba($gray1, .4)

  .no-main-bg &
    border: none
    margin-bottom: 0

  &:before
    margin-right: 10px
    width: 40px
    display: inline-block
    opacity: .15

  .ls-box &
    font-weight: 400
    font-size: 2rem
    color: $gray4
    margin: 0
    margin-bottom: 20px
    padding: 0
    padding-bottom: 20px
    border-bottom: 1px solid $gray1
    background-color: transparent

.ls-intro
  padding: 30px
  margin: 0 -30px 30px
  background-color: #f7f7f7
  border-bottom: 1px solid rgba($gray1, .4)

  .ls-title-intro
    padding: 0
    margin: 0
    background-color: transparent
    border-bottom: none

  p
    padding: 10px 0 0 52px
    margin: 0


.ls-title-1
  color: #000
  font-size: 2.25rem

.ls-title-2
  font-size: 1.38rem

.ls-title-3
  font-size: 1.6rem

.ls-title-4
  font-size: 1.24rem

.ls-title-5
  font-size: 1rem

.ls-title-6
  font-size: .875rem

p
  font-size: .875rem
  line-height: 1.3
  margin-bottom: 10px

@media (min-width: $screen-sm)
  html
    font-size: 100%


