p, .default-text
	font-size: 0.81em

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

[class*="title-"]
	color: #2a2a2a
	font-family: 'ralewaysemibold'
	margin-bottom: 15px

.title-1
	color: #000
	font-size: 2.25em

.title-2
	font-size: 1.88em

.title-3
	font-size: 1.5em

.title-4
	font-size: 1.13em

.title-5
	font-size: 0.88em

.title-6
	font-size: 0.81em