/* Small devices (tablets, 768px and up) */
// @media screen and (min-width: @screen-sm-min) { ... }
$screen-sm: 768px;

/* Medium devices (desktops, 992px and up) */
// @media screen and (min-width: @screen-md-min) { ... }
$screen-md: 992px;

/* Large devices (large desktops, 1200px and up) */
// @media screen and (min-width: @screen-lg-min) { ... }
$screen-lg: 1200px;

$topbar-height: 60px;
$sidebar-width: 265px;

$default-radius: 4px;

// FORM FIELDS
// Size and other measurements of forms and fields
//
$input-height:    33px;
$input-lg-height: 46px;
$input-sm-height: 30px;
$input-xs-height: 24px;
