//
// Default colors of themes and other elements.
//

$theme-color-mix: #000;                     // Color will be mixed with the main color of each theme.
$theme-second-color-percentage: 15%;        // Percentage of adding color above in the main theme color.

$menu-color-mix: #000;                      // Color will be mixed with the menu's main color.
$menu-text-color: #fff;                     // Color of the menu texts that will adding color "menu-color-mix".
$menu-bg-color: #fff;                       // Color of the menu backgrounds that will adding color "menu-color-mix".

$blue-color:        #254fa2;                // Blue theme color
$gold-color:        #a38e17;                // Gold theme color
$gray-color:        #878787;                // Gray theme color
$light-green-color: #25b89a;                // Light Green theme color
$green-color:       #509742;                // Green theme color
$orange-color:      #fca400;                // Orange theme color

//
// Below is the mixture of the colors of the themes.
//
$themes-colors: (
  blue        : (color1: $blue-color, color2: mix($theme-color-mix, $blue-color, $theme-second-color-percentage)),
  gold        : (color1: $gold-color, color2: mix($theme-color-mix, $gold-color, $theme-second-color-percentage)),
  gray        : (color1: $gray-color, color2: mix($theme-color-mix, $gray-color, $theme-second-color-percentage)),
  light-green : (color1: $light-green-color, color2: mix($theme-color-mix, $light-green-color, $theme-second-color-percentage)),
  green       : (color1: $green-color, color2: mix($theme-color-mix, $green-color, $theme-second-color-percentage)),
  orange      : (color1: $orange-color, color2: mix($theme-color-mix, $orange-color, $theme-second-color-percentage))
);

//
// Fifty shades of gray
//
$gray0: #f7f7f7; // for backgrounds
$gray1: #eee; // for border in lx-boxes
$gray2: #ddd; // for lines on tables
$gray3: #888; // for titles in ls-box intro .ls-box-gray
$gray4: #555; // for all fonts
$gray5: #222; // for titles

//
// Color patterns
//
$color-primary: #878787;
$color-success: #388f39;
$color-info:    #2881ac;
$color-warning: #b9a016;
$color-danger:  #d75553;
