//
// Default colors of themes and other elements.
//

// Base theme colors. Primary colors used in themes.
$color-blue:        #254fa2;
$color-gold:        #a38e17;
$color-gray:        #878787;
$color-light-green: #25b89a;
$color-green:       #1ab551;
$color-orange:      #ef7736;
$color-cyanogen:    #00c9f5;
$color-light-red:   #ef1e37;
$color-wine:        #513335;

// Color that will be mixed with the main color of each theme.
$color-mix: #000;

// Percentage of adding color above in the main theme color.
$color-mix-percent: 20%;

// Below is the mixture of the colors of the themes.
$themes-colors: (
  blue        : (color1: $color-blue, color2: mix($color-mix, $color-blue, $color-mix-percent)),
  gold        : (color1: $color-gold, color2: mix($color-mix, $color-gold, $color-mix-percent)),
  gray        : (color1: $color-gray, color2: mix($color-mix, $color-gray, $color-mix-percent)),
  light-green : (color1: $color-light-green, color2: mix($color-mix, $color-light-green, $color-mix-percent)),
  green       : (color1: $color-green, color2: mix($color-mix, $color-green, $color-mix-percent)),
  orange      : (color1: $color-orange, color2: mix($color-mix, $color-orange, $color-mix-percent)),
  wine        : (color1: $color-wine, color2: mix($color-mix, $color-wine, $color-mix-percent)),
  cyanogen    : (color1: $color-cyanogen, color2: mix($color-mix, $color-cyanogen, $color-mix-percent)),
  light-red   : (color1: $color-light-red, color2: mix($color-mix, $color-light-red, $color-mix-percent))
);

//
// Default colors of menu.
//

// Color of the menu texts that will adding color "menu-color-mix".
$color-menu-text: #fff;

// Color of the menu backgrounds that will adding color "menu-color-mix".
$color-menu-bg: #fff;

// Color will be mixed with the menu's main color.
$color-menu-mix: #000;

//
// Fifty shades of gray
//
$gray0: #f7f7f7; // for backgrounds
$gray1: #eee;    // for border in ls-boxes
$gray2: #ddd;    // for lines on tables
$gray3: #888;    // for all fonts (with some exceptions)
$gray4: #555;    // for all fonts
$gray5: #222;    // for titles

//
// Color patterns
//
$color-success: #388f39;
$color-info:    #2881ac;
$color-warning: #b9a016;
$color-danger:  #d75553;
