
/* Small devices (tablets, 768px and up) */
// @media screen and (min-width: @screen-sm-min) { ... }
$screen-sm: 768px;

/* Medium devices (desktops, 992px and up) */
// @media screen and (min-width: @screen-md-min) { ... }
$screen-md: 992px;

/* Large devices (large desktops, 1200px and up) */
// @media screen and (min-width: @screen-lg-min) { ... }
$screen-lg: 1200px;

$heightTopbar: 60px;
$sidebarWidth: 280px;

$radiusDefault: 4px;

//
// Default colors of themes and other elements.
//
$themes-colors: (
  blue        : (color1: #edf7fd, color2: #23aad0, color3: #254fa2, color4: #214087, color5: #182651 ),
  gold        : (color1: #eeead2, color2: #bcae5d, color3: #b39d31, color4: #8d7c2f, color5: #242111 ),
  gray        : (color1: #dfdfde, color2: #cccccb, color3: #878787, color4: #323232, color5: #212121 ),
  light-green : (color1: #e9f5f3, color2: #9aca3b, color3: #25b89a, color4: #0f715e, color5: #07261f ),
  green       : (color1: #f8faf0, color2: #8ec73e, color3: #509742, color4: #00a272, color5: #203418 ),
  orange      : (color1: #f8faf0, color2: #8ec73e, color3: #fca400, color4: mix(#000, #fca400, 30%), color5: mix(#000, #fca400, 80%) )
);

$gray1: #dfdfde;
$gray2: #cccccb;
$gray3: #878787;
$gray4: #323232;
$gray5: #212121;

$colorPrimary: #878787;
$colorSuccess: #388f39;
$colorInfo: #2881ac;
$colorWarning: #b9a016;
$colorDanger: #a94442;

// FORM FIELDS
// Size and other measurements of forms and fields
//
$inputHeight: 2.0625rem;
$lgInputHeight: 2.875rem;
$smInputHeight: 1.875rem;
$xsInputHeight: 1.5rem;
