$heightTopbar: 60px
$sidebarWidth: 300px

/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
$screen-sm : 768px

/* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
$screen-md : 992px

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }
$screen-lg : 1200px

