/* Small devices (tablets, 768px and up) */
// @media screen and (min-width: @screen-sm-min) { ... }
$screen-sm: 768px;

/* Medium devices (desktops, 992px and up) */
// @media screen and (min-width: @screen-md-min) { ... }
$screen-md: 992px;

/* Large devices (large desktops, 1200px and up) */
// @media screen and (min-width: @screen-lg-min) { ... }
$screen-lg: 1200px;

$topbar-height: 60px;
$sidebar-width: 265px;

$default-radius: 2px;

// FORM FIELDS
// Size and other measurements of forms and fields
//
$input-lg-height: 48px;
$input-height:    36px;
$input-sm-height: 30px;
$input-xs-height: 24px;

/* Used in steps component */
$with-steps: 85px !global;

// SPACING
$sizes: (xs, sm, md, lg);
$directions: (top, right, bottom, left);
$spacers: (
  xs: 5px,
  sm: 10px,
  md: 20px,
  lg: 40px,
);

// FONTS
$default-font: Ubuntu, Helvetica, Arial, Sans-serif;
$sans-serif: Helvetica, Arial, Sans-serif;
