
/* Small devices (tablets, 768px and up) */
// @media screen and (min-width: @screen-sm-min) { ... }
$screen-sm: 768px;

/* Medium devices (desktops, 992px and up) */
// @media screen and (min-width: @screen-md-min) { ... }
$screen-md: 992px;

/* Large devices (large desktops, 1200px and up) */
// @media screen and (min-width: @screen-lg-min) { ... }
$screen-lg: 1200px;

$heightTopbar: 60px;
$sidebarWidth: 280px;

$radiusDefault: 4px;

// FORM FIELDS
// Size and other measurements of forms and fields
//
$inputHeight: 2.0625rem;
$lgInputHeight: 2.875rem;
$smInputHeight: 1.875rem;
$xsInputHeight: 1.5rem;
