p, .default-text
	font-size: 0.75em

h1, h2, h3, h4, h5, h6
	margin: 0 0 5px
	padding: 0


.title-1
	font-size: 6em

.title-2
	font-size: 5em

.title-3
	font-size: 4em

.title-4
	font-size: 3em

.title-5
	font-size: 2em

.title-6
	font-size: 1em