---
title: Classes funcionais
description: Classes e atributos que alteram o layout padrão e comportamento de módulos do locastyle
type: css
---

<%= partial 'partials/doc-menu-css'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Perceba que em algumas classes você poderá incluir os sufixos <strong>-xs</strong>, <strong>-sm</strong>, <strong>-md</strong> e <strong>-lg</strong>. Usando estes sufixos vai fazer com que a classe em questão funcione apenas no breakpoint equivalente ao sufixo. Se tiver dúvidas sobre estes sufixos, <%= link_to "leia a parte de GRIDS", base_url+"/documentacao/css/grid" %>.</p>

  <h2 class="doc-title-3">Posicionamento</h2>
  <p>
    Classes que alteram o posicionamento dos elementos:
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-clearfix</td><td>Corrige problemas quando existir filhos com float</td></tr>
      <tr><td>.ls-float-none <strong>(-xs, -sm)</strong></td><td>Insere float: none</td></tr>
      <tr><td>.ls-float-right <strong>(-xs, -sm)</strong></td><td>Insere float: right</td></tr>
      <tr><td>.ls-float-left <strong>(-xs, -sm)</strong></td><td>Insere float: left</td></tr>
      <tr><td>.ls-clear-both <strong>(-xs, -sm)</strong></td><td>Insere clear: both</td></tr>
      <tr><td>.ls-clear-right <strong>(-xs, -sm)</strong></td><td>Insere clear: right</td></tr>
      <tr><td>.ls-clear-left <strong>(-xs, -sm)</strong></td><td>Insere clear: left</td></tr>
      <tr><td>.ls-overflow-hidden</td><td>Insere overflow: hidden</td></tr>
      <tr><td>.ls-overflow-visible</td><td>Insere overflow: visible</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Bloco e linha</h2>
  <p>
    Classes que alteram o <i>display</i> de elementos:
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-display-block</td><td>Insere display: block</td></tr>
      <tr><td>.ls-display-inline</td><td>Insere display: inline</td></tr>
      <tr><td>.ls-display-inline-block</td><td>Insere display: inline-block</td></tr>
      <tr><td>.ls-display-none</td><td>Insere display: none (escondendo o elemento)</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Tamanho</h2>
  <p>
    Classes que alteram o <i>tamanho</i> de elementos:
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-width-auto</td><td>Insere width: auto</td></tr>
      <tr><td>.ls-width-50 a .ls-width-500</td><td>Alteram o <i>width</i> de 50px em 50px </td></tr>
      <tr><td>.ls-width-inherit</td><td>Insere width: inherit</td></tr>
      <tr><td>.ls-full-width</td><td>Insere width: 100%</td></tr>
      <tr><td>.ls-height-inherit</td><td>Insere height: inherit</td></tr>
      <tr><td>.ls-height-auto</td><td>Insere height: auto</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Margin e Padding</h2>
  <p>
    Classes que alteram o <i>tamanho</i> de elementos:
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-no-margin</td><td>Remove toda margem</td></tr>
      <tr><td>.ls-no-margin-left</td><td>Remove margin do lado esquerdo</td></tr>
      <tr><td>.ls-no-margin-right</td><td>Remove margin do lado direito</td></tr>
      <tr><td>.ls-no-margin-top</td><td>Remove margin no topo</td></tr>
      <tr><td>.ls-no-margin-bottom</td><td>Remove margin em baixo</td></tr>
      <tr><td>.ls-no-padding</td><td>Remove todo padding</td></tr>
      <tr><td>.ls-no-padding-left</td><td>Remove padding do lado esquerdo</td></tr>
      <tr><td>.ls-no-padding-right</td><td>Remove padding do lado direito</td></tr>
      <tr><td>.ls-no-padding-top</td><td>Remove padding no topo</td></tr>
      <tr><td>.ls-no-padding-bottom</td><td>Remove padding em baixo</td></tr>
      <tr><td>.ls-margin-auto</td><td>Insere margin: auto nas laterais</td></tr>
      <tr><td>.ls-xs-space</td><td>Coloca um padding de 5px na caixa</td></tr>
      <tr><td>.ls-sm-space</td><td>Coloca um padding de 10px na caixa</td></tr>
      <tr><td>.ls-md-space</td><td>Coloca um padding de 20px na caixa</td></tr>
      <tr><td>.ls-lg-space</td><td>Coloca um padding de 40px na caixa</td></tr>
    </tbody>
  </table>


  <h2 class="doc-title-3">Texto e alinhamento</h2>
  <p>
    Classes que alteram o <i>tamanho</i> de elementos:
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-txt-left <strong>(-xs, -sm)</strong></td><td>Alinha à esquerda</td></tr>
      <tr><td>.ls-txt-right <strong>(-xs, -sm)</strong></td><td>Alinha à direita</td></tr>
      <tr><td>.ls-txt-justify</td><td>Justifica o texto</td></tr>
      <tr><td>.ls-txt-center</td><td>Alinha ao centro</td></tr>
      <tr><td>.ls-txt-center-all</td><td>Alinha verticalmente e horizontalmente o texto</td></tr>
      <tr><td>.ls-v-align-top</td><td>Alinha o elemento ao topo</td></tr>
      <tr><td>.ls-v-align-middle</td><td>Alinha o elemento ao meio</td></tr>
      <tr><td>.ls-v-align-bottom</td><td>Alinha o elemento a base</td></tr>
      <tr><td>.ls-ellipsis</td><td>Insere (...)</td></tr>
      <tr><td>.ls-nowrap</td><td>Insere white-space: nowrap</td></tr>
      <tr><td>.ls-no-bold</td><td>Insere font-weight: none</td></tr>
      <tr><td>.ls-word-break-all</td><td>Insere word-break: break-all</td></tr>
      <tr><td>.ls-word-break</td><td>Insere word-break: break-word</td></tr>
      <tr><td>.ls-no-word-break</td><td>Insere word-break: normal</td></tr>
      <tr><td>.ls-no-list-style</td><td>Remove o estilo padrão das listas</td></tr>
      <tr><td>.ls-text-underline</td><td>Insere underline</td></tr>
      <tr><td>.ls-small-letter-spacing</td><td>Diminui o espaçamento das letras do texto</td></tr>
      <tr><td>.ls-text-uppercase</td><td>Transforma todas letras para maiúsculas.</td></tr>
      <tr><td>.ls-text-lowercase</td><td>Transforma todas letras para minúsculas.</td></tr>
      <tr><td>.ls-text-capitalize</td><td>Transforma a primeira letra para maiúscula.</td></tr>
      <tr><td>.ls-text-xs</td><td>Determina que a fonte do elemento será 10px.</td></tr>
      <tr><td>.ls-text-sm</td><td>Determina que a fonte do elemento será 12px.</td></tr>
      <tr><td>.ls-text-md</td><td>Determina que a fonte do elemento será 14px.</td></tr>
      <tr><td>.ls-text-lg</td><td>Determina que a fonte do elemento será 18px.</td></tr>
      <tr><td>.ls-text-xl</td><td>Determina que a fonte do elemento será 20px.</td></tr>
      <tr><td>.ls-style-list</td><td>Aplica o padrão de tipografia em <code>ul</code> e <code>ol</code>.</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Fundo, borda e transparência</h2>
  <p>
    Classes que alteram o fundo e a borda de elementos:
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-no-bg</td><td>Remove qualquer tipo de background</td></tr>
      <tr><td>.ls-no-bghover</td><td>Remove background quando o elemento recebe hover</td></tr>
      <tr><td>.ls-no-shadow</td><td>Remove box-shadow</td></tr>
      <tr><td>.ls-border</td><td>Adiciona borda ao elemento</td></tr>
      <tr><td>.ls-no-border</td><td>Remove as bordas</td></tr>
      <tr><td>.ls-no-border-right</td><td>Remove borda do lado direito</td></tr>
      <tr><td>.ls-no-border-left</td><td>Remove borda do lado esquerdo</td></tr>
      <tr><td>.ls-no-border-bottom</td><td>Remove borda em baixo</td></tr>
      <tr><td>.ls-no-border-top</td><td>Remove borda do topo</td></tr>
      <tr><td>.ls-word-dotted</td><td>Adiciona borda pontilhada abaixo do texto</td></tr>
      <tr><td>.ls-transparent-25</td><td>Aplica opacidade de 25%</td></tr>
      <tr><td>.ls-transparent-50</td><td>Aplica opacidade de 50%</td></tr>
      <tr><td>.ls-transparent-75</td><td>Aplica opacidade de 75%</td></tr>
    </tbody>
    </table>

    <p>Backgrounds definidos com as cores padrões de tags e alertas:</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Classe</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr class="ls-background-primary">
          <td><code>.ls-background-primary</code></td>
          <td>Background do tema</td>
        </tr>
        <tr class="ls-background-info">
          <td><code>.ls-background-info</code></td>
          <td>Background informativo</td>
        </tr>
        <tr class="ls-background-sucess">
          <td><code>.ls-background-sucess</code></td>
          <td>Background informando uma ação completada/válida, sucesso</td>
        </tr>
        <tr class="ls-background-warning">
          <td><code>.ls-background-warning</code></td>
          <td>Background informando atenção</td>
        </tr>
        <tr class="ls-background-danger">
          <td><code>.ls-background-danger</code></td>
          <td>Background informando algum problema</td>
        </tr>
      </tbody>
    </table>

    <h2 class="doc-title-3">Cursor e mouse</h2>
    <p>
      Classes que alterar o cursor do mouse:
    </p>
     <table class="ls-table">
      <thead>
        <tr>
          <th>Nome</th><th>Descrição</th>
        </tr>
      </thead>
      <tr><td>.ls-cursor-pointer</td><td>Insere cursor: pointer</td></tr>
      <tr><td>.ls-cursor-default</td><td>Insere cursor: default</td></tr>
      <tr><td>.ls-cursor-crosshair</td><td>Insere cursor: crosshair</td></tr>
      <tr><td>.ls-cursor-move</td><td>Insere cursor: move</td></tr>
      <tr><td>.ls-cursor-help</td><td>Insere cursor: help</td></tr>
      <tr><td>.ls-cursor-wait</td><td>Insere cursor: wait</td></tr>
      <tr><td>.ls-cursor-inherit</td><td>Insere cursor: inherit</td></tr>
      <tr><td>.ls-cursor-text</td><td>Insere cursor: text</td></tr>
      <tr><td>.ls-cursor-progress</td><td>Insere cursor: progress</td></tr>
      <tr><td>.ls-cursor-grab</td><td>Insere cursor: grag</td></tr>
      <tr><td>.ls-cursor-grabbing</td><td>Insere cursor: grabbing</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Cores</h2>
  <p>
    Classes que alteram cores de fundo e de texto:
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-bg-white</td><td>Insere background branco</td></tr>
      <tr><td>.ls-color-black</td><td>Insere cor preta ao texto</td></tr>
      <tr><td>.ls-color-danger</td><td>Insere cor de status danger</td></tr>
      <tr><td>.ls-color-info</td><td>Insere cor de status info</td></tr>
      <tr><td>.ls-color-success</td><td>Insere cor de status success</td></tr>
      <tr><td>.ls-color-warning</td><td>Insere cor de status warning</td></tr>
      <tr><td>.ls-color-theme</td><td>Insere a cor do tema</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Formulários e inputs</h2>
  <p>
    Classes que alteram elementos de formulário
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-no-style-input</td><td>Remove todo o estilo de input</td></tr>
      <tr><td>.ls-no-spin</td><td>Remove as setinhas para input do tipo number</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Gerais</h2>
  <p>
    classes gerais
  </p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-main-full</td><td>Adicionado na tag HTML, esconde a sidebar somente versão desktop, exibindo  o conteúdo central</td></tr>
      <tr><td>.ls-no-radius</td><td>Remove qualquer tipo de borda arredondada</td></tr>
      <tr><td>.ls-no-left-radius</td><td>Remove borda arredondada à esquerda</td></tr>
      <tr><td>.ls-no-right-radius</td><td>Remove borda arredondada à direita</td></tr>
      <tr><td>.ls-no-top-radius</td><td>Remove borda arredondada no topo</td></tr>
      <tr><td>.ls-no-bottom-radius</td><td>Remove borda arredondada abaixo</td></tr>
      <tr><td>.ls-break-text</td><td>Força quebra de texto, mesmo quando não há espaçamento entre a palavra.</td></tr>
      <tr><td>.ls-txt-access</td><td>Classe que esconde texto, mas fica acessível a leitores de tela.</td></tr>
      <tr><td>.ls-table-layout-auto</td><td>Utilize essa classe para definir largura nas colunas das tabelas.</td></tr>
      <tr><td>.ls-position-absolute</td><td>Faz com que o elemento esteja com position absolute.</td></tr>
      <tr><td>.ls-position-relative</td><td>Faz com que o elemento esteja com position relative.</td></tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Classes Responsivas</h2>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="2"><h5 class="doc-title-5 ls-no-margin">Até 480px - classes com final "xs"</h5></td></tr>
      <tr><td>.ls-float-none-xs</td><td><code>float: none</code> para resoluções até 480px.</td></tr>
      <tr><td>.ls-float-right-xs</td><td><code>float: right</code> para resoluções até 480px.</td></tr>
      <tr><td>.ls-float-left-xs</td><td><code>float: left</code> para resoluções até 480px.</td></tr>
      <tr><td>.ls-display-none-xs</td><td><code>display: none</code> para resoluções até 480px.</td></tr>
      <tr><td>.ls-display-inline-xs</td><td><code>display: inline</code> para resoluções até 480px.</td></tr>
      <tr><td>.ls-display-inline-block-xs</td><td><code>display: inline-block</code> para resoluções até 480px.</td></tr>
      <tr><td>.ls-display-block-xs</td><td><code>display: block</code> para resoluções até 480px.</td></tr>

      <tr><td colspan="2"><h5 class="doc-title-5 ls-no-margin">Até 768px - classes com final "sm"</h5></td></tr>
      <tr><td>.ls-float-none-sm</td><td><code>float: none</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-float-right-sm</td><td><code>float: right</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-float-left-sm</td><td><code>float: left</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-display-none-sm</td><td><code>display: none</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-display-inline-sm</td><td><code>display: inline</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-display-inline-block-sm</td><td><code>display: inline-block</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-display-block-sm</td><td><code>display: block</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-clear-right-sm</td><td><code>clear: right</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-clear-left-sm</td><td><code>clear: left</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-clear-both-sm</td><td><code>clear: both</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-txt-right-sm</td><td><code>text-align: right</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-txt-left-sm</td><td><code>text-align: left</code> para resoluções até 768px.</td></tr>
      <tr><td>.ls-btn-block-sm</td><td>Deixa o botão block para resoluções até 768px.</td></tr>


      <tr><td colspan="2"><h5 class="doc-title-5 ls-no-margin">Até 992px - classes com final "md"</h5></td></tr>
      <tr><td>.ls-float-none-md</td><td><code>float: none</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-float-right-md</td><td><code>float: right</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-float-left-md</td><td><code>float: left</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-display-none-md</td><td><code>display: none</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-display-inline-md</td><td><code>display: inline</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-display-inline-block-md</td><td><code>display: inline-block</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-display-block-md</td><td><code>display: block</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-clear-right-md</td><td><code>clear: right</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-clear-left-md</td><td><code>clear: left</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-clear-both-md</td><td><code>clear: both</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-txt-right-md</td><td><code>text-align: right</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-txt-left-md</td><td><code>text-align: left</code> para resoluções até 992px.</td></tr>
      <tr><td>.ls-btn-block-md</td><td>Deixa o botão block para resoluções até 992px.</td></tr>

      <tr><td colspan="2"><h5 class="doc-title-5 ls-no-margin">Até 1200px - classes com final "lg"</h5></td></tr>
      <tr><td>.ls-float-none-lg</td><td><code>float: none</code> para resoluções até 1200px.</td></tr>
      <tr><td>.ls-float-right-lg</td><td><code>float: right</code> para resoluções até 1200px.</td></tr>
      <tr><td>.ls-float-left-lg</td><td><code>float: left</code> para resoluções até 1200px.</td></tr>
      <tr><td>.ls-display-none-lg</td><td><code>display: none</code> para resoluções até 1200px.</td></tr>
      <tr><td>.ls-display-inline-lg</td><td><code>display: inline</code> para resoluções até 1200px.</td></tr>
      <tr><td>.ls-display-inline-block-lg</td><td><code>display: inline-block</code> para resoluções até 1200px.</td></tr>
      <tr><td>.ls-display-block-lg</td><td><code>display: block</code> para resoluções até 1200px.</td></tr>
    </tbody>
  </table>
</section>
