---
title: Cores do Tema
description: Insira cores no seu projeto.
---

<%= partial 'partials/doc-menu-css'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Você pode querer mudar a cor principal do seu sistema. Preparamos algumas classes que mudam as cores principais do Locaweb Style e de seus elementos. Essas cores serão atualizadas de acordo com os projetos que existem na Locaweb.</p>

  <p>Caso mudar as cores de todo o sistema, basta inserir a classe desejada na tag HTML.</p>

  <p>Abaixo estão as classes de cores existente, se preferir clique nelas pra ver a interação das cores no elemento de exemplo:</p>

  <div class="doc-test-themes ls-group-btn ls-group-active">
    <a href="#" class="ls-btn-primary ls-active" data-toggle-class="ls-theme-green " data-target="html">ls-theme-green</a>
    <a href="#" class="ls-btn-primary" data-toggle-class="ls-theme-light-green" data-target="html">ls-theme-light-green</a>
    <a href="#" class="ls-btn-primary" data-toggle-class="ls-theme-blue" data-target="html">ls-theme-blue</a>
    <a href="#" class="ls-btn-primary" data-toggle-class="ls-theme-gold" data-target="html">ls-theme-gold</a>
    <a href="#" class="ls-btn-primary" data-toggle-class="ls-theme-gray" data-target="html">ls-theme-gray</a>
  </div>
</section>
