---
title: Footer
description: Exemplo de footer padrão do Locaweb Style
---
<%= partial 'partials/doc-menu-css'%>

<section class="col-md-9">

<%= partial 'partials/doc-intro-content' %>


  <p>
    O footer do Locaweb Style é todo responsivo, se adapta a sua tela (desktop, tablet ou mobile). Basta inserí-lo dentro e no final do <code>.ls-main</code>.
  </p>
  <%= partial 'documentacao/shared/footer' %>
  <% code("html") do %> 
<%= partial 'documentacao/shared/footer' %>
  <% end %>
</section>
