---
title: Tipografia
description: Conheça a tipografia do Locaweb Style
---

<%= partial 'partials/doc-menu-css'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Você sempre vai escrever títulos usando as tags do HTML h1, h2, h3, h4, h5 e h6. As tags sozinhas não tem estilo algum, por isso você precisa usar as classes <code>.ls-title-1</code>, <code>.ls-title-2</code>, <code>.ls-title-3</code>, <code>.ls-title-4</code>, <code>.ls-title-5</code>, <code>.ls-title-6</code>.</p>

  <p>As classes são interessantes para combinar estilo e semântica. Você pode querer que um H5 tenha o mesmo tamanho e estilo da classe .title-1.</p>

  <div class="ls-box-demo">
    <h1 class="ls-title-1">h1 Locastyle Heading <span class="example-info-label">.ls-title-1</span></h1>
    <hr>
    <h2 class="ls-title-2">h2 Locastyle Heading <span class="example-info-label">.ls-title-2</span></h2>
    <hr>
    <h3 class="ls-title-3">h3 Locastyle Heading <span class="example-info-label">.ls-title-3</span></h3>
    <hr>
    <h4 class="ls-title-4">h4 Locastyle Heading <span class="example-info-label">.ls-title-4</span></h4>
    <hr>
    <h5 class="ls-title-5">h5 Locastyle Heading <span class="example-info-label">.ls-title-5</span></h5>
    <hr>
    <h6 class="ls-title-6">h6 Locastyle Heading <span class="example-info-label">.ls-title-6</span></h6>
  </div>

  <% code("html") do %> 
<h1 class="ls-title-1">h1 Locastyle Heading</h1>
<h2 class="ls-title-2">h2 Locastyle Heading</h2>
<h3 class="ls-title-3">h3 Locastyle Heading</h3>
<h4 class="ls-title-4">h4 Locastyle Heading</h4>
<h5 class="ls-title-5">h5 Locastyle Heading</h5>
<h6 class="ls-title-6">h6 Locastyle Heading</h6>
  <% end %>

  </div>
</section>
