<div class="ls-box-filter">
  <form action="" class="ls-form ls-form-inline">
    <label class="ls-label col-md-3 col-sm-4">
      <b class="ls-label-text">Período</b>
      <input type="text" name="cel2" class="datepicker ls-daterange" id="datepicker1" data-ls-daterange="#datepicker2">
    </label>

    <label class="ls-label col-md-3 col-sm-4">
      <b class="ls-label-text">a</b>
      <input type="text" name="cel2" class="datepicker ls-daterange" id="datepicker2">
    </label>
    <div class="ls-actions-btn">
      <button type="button" class="ls-btn">Filtrar</button>
    </div>
  </form>
</div>
