.documentacao

  .ls-main
    background: #FFF

    .ls-sep
      padding: 10px 0

  .ls-container
    margin: 0 auto

  .ls-footer
    width: 100%

.doc-section
  margin-bottom: 2rem

.doc-section-title
  font-size: 1.4rem
  margin-bottom: 1rem

.doc-example
  margin: 2rem 0
  // min-height: 150px
  background-color: #fff
  padding: 2rem 1rem 1rem 1rem
  position: relative
  border: 1px solid #eee
  &:before
    content: "Exemplo funcional"
    position: absolute
    top: 0
    left: 0
    height: 1rem
    background-color: #ddd
    color: #666
    padding: 0 .5rem
    font-size: .6rem
    line-height: 1rem

  .doc-example-menu
    height: 1.5rem
    position: absolute
    top: -1.5rem
    right: .5rem
    button
      height: 1.5rem
      background: #ddd
      border: none
      padding: 0 .3rem
      cursor: pointer
      color: #666
      &.doc-example-menu-active
        background-color: #fff
        color: #333

  .doc-example-markup-area
    background-color: #fff
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    display: none
    overflow: scroll
    &:before
      content: "Código do exemplo"
      position: absolute
      top: 0
      left: 0
      height: 1rem
      background-color: #ddd
      color: #666
      padding: 0 .5rem
      font-size: .6rem
      line-height: 1rem
      z-index: 4
    code
      width: 100%
      height: 100%

code
  font-size: 12px
  line-height: 14px
  margin: 1rem 0

h1
  font-size: 2rem
h2
  font-size: 1.9rem
  font-weight: bold
h3
  font-size: 1.6rem
h4
  font-size: 1.4rem
h5
  font-size: 1.2rem
h6
  font-size: 1rem
p
  margin: 0 0 .5rem
  line-height: 1.7

ul
  margin: 20px
  li
    font-size: .8rem
    color: #000
    font-size: 0.88rem
    line-height: 1.3
    margin-bottom: 5px

code, pre
  margin: 0 0 1rem 0

.doc-block
  margin-bottom: 2rem

p
  code
    padding: 4px 6px
    color: #C7254E
    white-space: nowrap
    background-color: #F9F2F4
    border-radius: 4px
    font: .875rem Open Sans, Arial, Helvetica, Sans-serif

.list-icons
  list-style: none
  margin-bottom: 5rem

  li

    display: inline-block
    vertical-align: top
    width: 10%
    height: 6rem
    padding: 1.3rem .5rem
    background: #EEE
    margin: 0 .25% .4rem 0
    background: rgba(0,0,0,0.1)
    text-align: center

    span
      font-size: .6rem


      &:before
        display: block
        font-size: 2rem

    &:hover
      background: rgba(0,0,0,0.5)
      color: #FFF

.ls-box-demo
  position: relative
  background: white
  padding: 50px 25px 25px
  margin-bottom: 30px
  border: 1px solid #ddd
  border-radius: 5px 5px 0 0

  &:before
    content: "Exemplo funcional"
    position: absolute
    top: 0
    left: 0
    height: 1rem
    background-color: #ddd
    color: #666
    padding: 0 .5rem
    font-size: .6rem
    line-height: 1rem

.ls-well-example
  position: relative
  top: -32px

.doc-example-grid
  [class*="col"]
    background-color: #ddd
    outline: 1px solid #999
    font-size: .75rem
    text-align: center
    height: 1.5rem
    line-height: 1.5rem
  .row
    overflow: hidden
    margin-bottom: .3rem

.tips
  background: #f8c647
  background: -moz-linear-gradient(left,  #f8c647 0%, #e9962d 40%, #d77b27 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f8c647), color-stop(40%,#e9962d), color-stop(100%,#d77b27))
  background: -webkit-linear-gradient(left,  #f8c647 0%,#e9962d 40%,#d77b27 100%)
  background: -o-linear-gradient(left,  #f8c647 0%,#e9962d 40%,#d77b27 100%)
  background: -ms-linear-gradient(left,  #f8c647 0%,#e9962d 40%,#d77b27 100%)
  background: linear-gradient(to right,  #f8c647 0%,#e9962d 40%,#d77b27 100%)
  box-shadow:  rgba(0,0,0,.3) 2px 2px 3px

  padding: 13px
  width: 100px
  border-radius: 5px
  position: relative

  -webkit-animation: animate 1.5s linear infinite
  animation: animate 1.5s linear infinite
  -moz-animation: animate 1.5s linear infinite

  &:before
    content: ""
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-right: 10px solid #f8c647
    position: absolute
    left: -10px
    top: 3px
    width: 0
    height: 0

.doc-search-ico
  background-color: #fff
  margin-bottom: 15px
  padding: 10px 10px 5px

  p
    clear: both
    font-size: .75rem
    padding-top: 5px

///
/// Formatação de Box dentro de exemplos
///
// .ls-box-demo .ls-box
//   margin: 0

.doc-menu-internal
  margin: 1rem 0 2rem 0
  border: 1px solid #ccc
  padding: .5rem
  font-size: .8rem
  display: inline-block
  li
    list-style: none
    display: inline-block
    border-right: 1px solid #ccc
    &:last-child
      border-right: none
    a
      line-height: 1.3rem
      padding: .3rem
      color: #509742


      background: #f7f7f7

.ls-sidebar .ls-doc-form
  position: relative
  padding: 20px
  border-bottom: 1px solid $gray4

  #results
    width: 100%
    position: absolute
    top: 100%
    left: 0
    z-index: 9

  .ls-search
    background: #fff
    padding: 10px
    margin: 0 20px
    overflow: auto
    max-height: 300px
    overflow: auto
    border-radius: 6px

    &::-webkit-scrollbar
      width: 8px

    &::-webkit-scrollbar-track
      background: rgba(0,0,0,0.8)
      border-radius: 6px

    &::-webkit-scrollbar-thumb
      background: $gray3
      border-radius: 6px

    p
      width: 210px
      text-overflow: ellipsis
      overflow-x: hidden
      font-size: 10px

    li
      border-bottom: 1px solid rgba(223, 223, 222, 0.4)

      &:last-child
        border-bottom: none

    a
      padding: 10px
      color: $gray5
      display: block
      font-size: 1rem
      line-height: 1.3

      &:hover,
      &:focus
        color: $gray4

      p
        margin: 0
