@font-face
  font-family: 'locastyle-docs'
  src: url('fonts/locastyle-docs.eot?rkwxl0')
  src: url('fonts/locastyle-docs.eot?#iefixrkwxl0') format('embedded-opentype'), url('fonts/locastyle-docs.woff?rkwxl0') format('woff'), url('fonts/locastyle-docs.ttf?rkwxl0') format('truetype'), url('fonts/locastyle-docs.svg?rkwxl0#locastyle-docs') format('svg')
  font-weight: normal
  font-style: normal

[class^="doc-icon-"]:before, [class*=" doc-icon-"]:before
  content: ''
  font-family: 'locastyle-docs'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.doc-icon-file:before
  content: "\e600"

.doc-icon-numbered-list:before
  content: "\e601"

.doc-icon-download:before
  content: "\e602"

