<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" >Identificador da conta</a>
      <small>Fake Product Name  </small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a href="#" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
</div>
