<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <strong>Identificador da conta</strong>
      <small>Fake Product Name I </small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
        <a href="#" class="ls-btn-primary">Administrar</a>
        <ul class="ls-dropdown-nav">
            <li><a href="#">Site</a></li>
            <li><a href="#">E-mail</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Publicado</strong>
    </div>
  </div>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="col-md-9">
      <%= image_tag "locastyle/logo-locaweb.jpg", class: "ls-list-image" %>
    </div>
    <div class="col-md-3 ls-txt-right">
      <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
        <a href="#" class="ls-btn-primary">Administrar</a>
        <ul class="ls-dropdown-nav">
            <li><a href="#">Site</a></li>
            <li><a href="#">E-mail</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Publicado</strong>
    </div>
  </div>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="col-md-9">
      <div class="ls-list-title ">
        <strong>Identificador da conta</strong>
      </div>
      <div class="ls-list-description">
        <p><%= lorem.paragraph %></p>
        <ul>
          <%- 5. times do |i|%>
            <li>Item <%= i %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-3 ls-txt-right">
      <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
        <a href="#" class="ls-btn-primary">Administrar</a>
        <ul class="ls-dropdown-nav">
            <li><a href="#">Site</a></li>
            <li><a href="#">E-mail</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Publicado</strong>
    </div>
  </div>
</div>
