// GRID
// Adequando a largura máxima para o GRID da Locaweb
// Todo o resto é controlado pelo Bootstrap

$screen-xs: "480px"
$screen-sm: "768px"
$screen-md: "992px"
$screen-lg: "1200px"

//
// Até 480px (que se refere a screen-xs) não tem media querie, já que é escrito inicialmente para aparelhos deste tamanho
//

// seu código aqui se houver algo específico para este breakpoint

//
// Para aparelhos que tem uma largura mínima de tela de 768px
//
@media (min-width: #{$screen-sm})
// seu código aqui se houver algo específico para este breakpoint


//
// Para aparelhos que tem uma largura mínima de tela de 992px até infinito
//
@media (min-width: #{$screen-md})
// seu código aqui se houver algo específico para este breakpoint
