// GRID
// Adequando a largura máxima para o GRID da Locaweb
// Todo o resto é controlado pelo Bootstrap

$small-screens: "only screen and (max-width: 980px)"
$medium-screens: "only screen and (min-width: 980px)"
$big-screens: "only screen and (min-width: 1200px)"

// Smartphones e telas pequenas
@media #{$small-screens}
	// Seu código aqui se houver


// Tablets e telas médias
@media #{$medium-screens}
	// Seu código aqui se houver


// Desktops
@media #{$big-screens}
	// Seu código aqui se houver
