//
// Quando está com a sidebar da direita aparecendo
//
$mobile-sidebar-width: "240px"
$mobile-left-number: "240px"

@media #{$media-mobile}
	.sidebar
		@include transition(all, .30s, ease-out)
		-webkit-transform: translate3D(#{$mobile-sidebar-width}, 0, 0)
		-moz-transform: translate3D(#{$mobile-sidebar-width}, 0, 0)

	.right-bar
		.sidebar
			-webkit-transform: translate3D(0, 0, 0)
			-moz-transform: translate3D(0, 0, 0)

		.overlay-bar
			opacity: .5
			visibility: visible

	.main
		background-color: #fff
		position: relative


	.main,
	.header,
	.nav-content
		@include transition(-webkit-transform, .30s, ease-out)
		@include transition(-moz-transform, .30s, ease-out)

	.left-bar

		.nav-content
			-webkit-transform: translateX(0)
			-moz-transform: translateX(0)
			z-index: 2

		.main,
		.header
			-webkit-transform: translateX(#{$mobile-left-number})
			-moz-transform: translateX(#{$mobile-left-number})