//
// Quando está com a sidebar da direita aparecendo
//
$mobile-sidebar-width: "240px"
$mobile-left-number: "240px"

@media #{$media-mobile}
	.sidebar
		@include transition(all, .30s, ease-out)
		-webkit-transform: translate3D(#{$mobile-sidebar-width}, 0, 0)

	.right-bar
		.sidebar
			-webkit-transform: translate3D(0, 0, 0)

		.overlay-bar
			opacity: .5
			visibility: visible

	main.container
		background-color: #FFF

	main.container .content,
	.header
		@include transition(-webkit-transform, .30s, ease-out)

	.left-bar
		main.container .content,
		.header
			-webkit-transform: translate3D(#{$mobile-left-number}, 0, 0)