.sliderMobile
	height: 500px
	width: 100%

.sliderMobile .rsActiveSlide .shortcut-title:before
	color: #fff
	-webkit-transform: scale(1.24) !important

.sliderMobile .shortcut-title:hover:before,
.sliderMobile .shortcut-title:active:before
	background-color: #FFF !important
	-webkit-transform: scale(1) !important

.sliderMobile .rsSlide .shortcut-title
	padding-top: 20px
