.slider-mobile .rsActiveSlide .shortcut-title:before
	-webkit-transform: scale(1.24)

.slider-mobile .rsSlide .shortcut-title
	padding-top: 20px

@media #{$media-mobile}
	.slider-mobile
		height: 230px
		width: 100%