.shortcuts
	width: 100%
	height: 230px

.shortcuts .rsActiveSlide .shortcut-title:before
	-webkit-transform: scale(1.24)

.shortcuts .rsSlide .shortcut-title
	padding-top: 20px

.rsVisibleNearbyWrap .rsOverflow
	min-height: 340px

.rsVisibleNearbyWrap
	width: 100% !important

.rsBullet
	border-radius: 100%
	width: 10px
	height: 10px
	display: inline-block
	margin: 10px 5px 0

@media #{$media-mobile}
.shortcuts
	height: 230px
	width: 100%

.media-mobile .col-xs-4
	width: inherit !important