@media #{$media-mobile}
	.sliderMobile
		height: 500px
		width: 100%

.sliderMobile .rsActiveSlide .shortcut-title:before
	-webkit-transform: scale(1.24)

.sliderMobile .rsSlide .shortcut-title
	padding-top: 20px
