// Revenda Email Marketing
$theme_name: ".colorYellow";

$pallet_1: #b19b22;
$pallet_2: #8e7c1b;
$pallet_3: #473e0e;
$pallet_4: #231f07;
$pallet_5: #efebd3;
$pallet_6: #e0d7a7;
$pallet_7: #f7f5e9;

@import "theme_base";
