/*
*=require locastyle/_base
*=require locastyle/_fonts
*=require locastyle/_shortcutbox
*=require locastyle/colors/_colors
*=require locastyle/_buttons
*=require locastyle/_icons
*=require locastyle/_grid
*=require locastyle/_footer
*=require locastyle/_header
*=require locastyle/_toolbar
*=require locastyle/_sidebar
*=require locastyle/_tables
*=require locastyle/_functionalclasses
*=require locastyle/_ie
*=require locastyle/_pathway
*=require locastyle/_modal
*=require locastyle/_tabs
*=require locastyle/_deprecated
*=require locastyle/_collapse
*=require locastyle/_sumValues
*=require locastyle/_mobile
*=require locastyle/_hopscotch
*=require locastyle/_tour


*=require locastyle/_select2
*=require locastyle/_forms
*=require locastyle/_passwordStrength
*=require locastyle/_print
*/
