---
title: Aplicações - Soma Valores

menu_page: sidebar-aplicacoes.erb
---
<article class="text">
  <header>
    <h1>Soma Valores</h1>
    <h3>Exibe um conjunto de <i>radio-buttons</i> ou <i>checkboxes</i> para seleção e exibe um sumário dos selecionados</h3>
  </header>


  <div class="ls-sum-values-container span11">
    <h4>
      Selecione um plano
    </h4>

    <label class="row boxWhite grayHover noPadding">
      <span class="span8 paddingVertical10">
        <span class="fLeft">
            <input type="radio" name="preco" value="1">
        </span>
        <span class="dInlineBlock paddingHorizontal">
            <span>10  Mbps </span>
            <span class="noBold sumItemAddLine">Banda + conexão padrão</span>
        </span>
      </span>
      <span class="span3 noMargin ls-borderLeft txtCenter paddingVertical10">
        R$ 59,00/mês
      </span>
    </label>

    <label class="row boxWhite grayHover noPadding">
      <span class="span8 paddingVertical10">
        <span class="fLeft">
            <input type="radio" name="preco" value="1">
        </span>
        <span class="dInlineBlock paddingHorizontal">
            <span>10  Mbps </span>
        </span>
      </span>
      <span class="span3 noMargin ls-borderLeft txtCenter paddingVertical10">
        R$ 59,00/mês
      </span>
    </label>

    <label class="row boxWhite grayHover noPadding">
      <span class="span8 paddingVertical10">
        <span class="fLeft">
            <input type="radio" name="preco" value="1">
        </span>
        <span class="dInlineBlock paddingHorizontal">
            <span>20  Mbps </span>
            <span class="noBold sumItemAddLine">Banda + conexão padrão</span>
        </span>
      </span>
      <span class="span3 noMargin ls-borderLeft txtCenter paddingVertical10">
        R$ 99,00/mês
      </span>
    </label>

    <label class="row boxWhite grayHover noPadding">
      <span class="span8 paddingVertical10">
        <span class="fLeft">
            <input type="radio" name="preco" value="1">
        </span>
        <span class="dInlineBlock paddingHorizontal">
            <span>40  Mbps </span>
            <span class="noBold sumItemAddLine">Banda + conexão padrão</span>
        </span>
      </span>
      <span class="span3 noMargin ls-borderLeft txtCenter paddingVertical10">
        R$ 179,00/mês
      </span>
    </label>

    <br>
    <h4>Inclua conexão segura (suporte a SSL)</h4>

    <label class="row boxWhite grayHover noPadding">
      <span class="span8 paddingVertical10">
        <span class="fLeft">
          <input type="checkbox" name="ssl" value="1">
        </span>
        <span class="dInlineBlock paddingHorizontal">
          Incluir conexão segiura SSL
        </span>
        <span class="noBold sumItemAddLine">
          Para ativar a conexão segura, você precisa ter um certificado SSL. Após contratar o Load Balancer, se necessário,adquira o certificado com nossos parceiros Symantec, Comodo e Thawte. Dúvidas? Fale com nosso <a href="#">Atendimento</a>.
        </span>
      </span>
      <span class="span3 noMargin ls-borderLeft txtCenter paddingVertical10">
        R$ 20,00/mês
      </span>
    </label>

  </div>

</article>