---
title: Aplicações - Soma Valores

menu_page: sidebar-aplicacoes.erb
---
<article class="text">
  <header>
    <h1>Soma Valores</h1>
    <h3>Exibe um conjunto de <i>radio-buttons</i> ou <i>checkboxes</i> para seleçao e exibe um sumário dos selecionados</h3>
  </header>


  <div class="ls-sum-values-container span11">

    <label class="row boxWhite noPadding">
      <span class="span8">
        <input type="radio" name="preco" value="" 1>
        <span>10 Mbps</span>
        <span>Banda + conexão padrão</span>
      </span>
      <span class="span3 noMargin ls-borderLeft txtCenter">
        R$ 59,90/mês
      </span>
    </label>

  </div>

</article>