---
title: Aplicações - Tour Guiado

menu_page: sidebar-aplicacoes.erb
---

<article class="text">
    <header>
      <h1>Tour Guiado</h1>
      <h3>Exibe uma navegação explicativa de elementos pré definidos</h3>
    </header>

    <p>Utilizamos o plugin  <a href="http://linkedin.github.io/hopscotch" target="_blank">hopscotch</a> (criado pelo linkedin), e aplicamos a identidade visual do LocawebStyle.</p>
    <h2>Como funciona:</h2>
    <p>Dentro de cada projeto existe um arquivo.js (específico), que determina onde exibirá o <strong>Tour Guiado</strong>, qual o próximo passo e assim por diante. Em cada passo podemos implementar outras funções de navegação ou mesmo de eventos simulando interações, vale a pena ler a <a href="http://linkedin.github.io/hopscotch" target="_blank">documentação do plugin</a> para entender melhor sobre esses eventos e funções.</p>

    <p>Abaixo segue um exemplo dos códigos necessários para implementar o <strong>Tour Guiado</strong>. </p>

    <h3>Chamando a função de navegação dentro do seu projeto</h3>
    <pre class="lang-html prettyprint linenums">
    $(window).load(function() {
        //Onde tourDashboard é a variável que recebe os eventos do plugin no exemplo abaixo
        locastyle.guidedTour.init(tourDashboard);
      });

    </pre>
    <h3>arquivo .js </h3>
    <pre class="lang-html prettyprint linenums">
    // Tradução dos botões
    tourLocales = {
      nextBtn: "Próximo",
      prevBtn: "Anterior",
      doneBtn: "Ok",
      skipBtn: "Sair",
      closeTooltip: "Fechar"
    };

    // o nome da variável está sendo chamada no load (exemplo acima)
    var tourDashboard = {
      id: 'tour-dashboard',
      i18n: tourLocales,
      bubbleWidth: 250,
      steps: [
        {
          target: 'menu_home',
          title: 'Saiba qual  site está administrando',
          content: 'Sem confusão! A identificação do site administrado ficou mais fácil: o endereço principal é exibido no topo do painel.',
          placement: 'bottom',
          arrowOffset: 'center'
        },
        {
          target: $('#header .lnkAll ')[0],
          title: 'Administre outros sites',
          content: 'Retorne à lista de sites a qualquer momento.',
          placement: 'right',
          arrowOffset: 'center',
          yOffset: 'center',
          onNext: function(){
            locastyle.guidedTour.openWelcomeTour();
          }
        },
        {
          target: $('#btn_back_old_panel')[0],
          title: 'Ajude a melhorar o painel',
          content: 'Esta é a primeira fase do novo painel de Hospedagem de Sites. Fique à vontade para testar, enviar sugestões e comentários.',
          placement: 'left',
          arrowOffset: 'center',
          yOffset: 20,
          xOffset: -60,
          onPrev: function(){
            locastyle.guidedTour.closeWelcomeTour();
          }
        }
      showPrevButton: true
    };
    </pre>

    <h3>HTML </h3>
    <pre class="lang-html prettyprint linenums">
        &lt;div class="guided-tour"&gt;
          &lt;a href="javascript:;" tabindex="2" class="btn-close close"&gt;x&lt;/a&gt;
          &lt;header class="guided-header"&gt;
            &lt;p&gt;Bem-vindo ao novo painel&lt;/p&gt;
            &lt;h2 class="title-guided"&gt;Hospedagem de Sites&lt;/h2&gt;
          &lt;/header&gt;

          &lt;a href="javascript:;" class="btn btn-primary btn-large btn-tour" role="button"&gt;Fazer um tour&lt;/a&gt;
          &lt;p&gt;&lt;a href="javascript:;" data-target="#modalBeta" data-toggle="modal" tabindex="2"&gt;O que mudou?&lt;/a&gt;&lt;/p&gt;

          &lt;footer class="guided-footer"&gt;
            &lt;a href="https://www.feedbackr.com.br/projects/..." class="lnkArrow" tabindex="2" target="_blank"&gt;Enviar comentários e sugestões&lt;/a&gt;
            &lt;a href="" class="lnkArrow" tabindex="2" target="_blank"&gt;Voltar ao painel antigo&lt;/a&gt;
          &lt;/footer&gt;
           &lt;a href="https://www.feedbackr.com.br/projects/..." alt="feedbackr" class="lnk-suggestions ico-help-circle" id="feedbackr" tabindex="1" target="_blank"&gt;Sugestões e novidades&lt;/a&gt;
        &lt;/div&gt;
    </pre>

</article>