<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Dados de envio</h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info">
      Data de colheta dos dados: <strong>26/08/2015</strong>
    </p>
  </header>
  <div id="sending-stats" class="row">
    <div class="col-md-12">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Limite de denúncias aceitável</h6>
        </div>
        <div class="ls-box-body">
          <div class="col-lg-offset-3 col-lg-3 col-xs-6">
            <strong class="ls-color-theme" data-prefix="%">0,60</strong>
            <small>ideal</small>
          </div>
          <div class="col-lg-3 col-xs-6">
            <strong class="ls-color-danger" data-prefix="%">0,90</strong>
            <small>você</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Tempo de envio</h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info">
      Data de colheta dos dados: <strong>26/08/2015</strong>
    </p>
  </header>
  <div class="row">
    <div class="col-md-12">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Tempo</h6>
        </div>
        <div class="ls-box-body">
          <div class="col-xs-6" data-prefix=":">
            <strong>10</strong>
            <small>dias</small>
          </div>
          <div class="col-xs-6">
            <strong>10</strong>
            <small>horas</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="ls-box ls-box-centered">
        <strong>Teste</strong>
      </div>
    </div>
  </div>
</div>
