//
// Cores Mobile
//
#{$theme-color}

	a[class*="btn"]
		color: #fff

		&:hover,
		&:focus
			color: #fff

	a.btn-default
		color: $gray3

		&:hover,
		&:focus
			color: #333

	a
		color: $color2

		&:hover,
		&:focus
			color: $color2

		// mantendo padrao do bootstrap
		&.text-muted
			color: #999

		&.text-primary
			color: #428BCA

		&.text-success
			color: #3C763D

		&.text-info
			color: #31708F

		&.text-danger
			color: #8A6D3B

		&.text-warning
			color: #A94442

	&.no-menu
		.header
			border-bottom: 4px solid $color1

		.nav-content
			display: none

	[class*="btn"]
		color: #fff
	.btn-default
		color: $gray3
	//
	// Barra de Planos
	//
	.plan-bar
		background-color: $color5

	//
	// Cores para HEADER
	//
	.header
		background-color: $color1
		border-bottom-color: $color3

		//
		// Box Tour Guiado
		//
		.guided-tour .btn-primary.btn-tour
			background-color: $color3
			border-color: $color3

	.nav-content,
	.no-menu .header
		border-bottom-color: rgba($color3, 0.3)

		.menu > li a
			border-left-color: $color1

			&.active,
			&:focus,
			&:hover
				background-color: $color3
				border-left-color: $color5

	//
	// Cores para SIDEBAR
	//
	.sidebox-title
		color: $color1

		&[class*="ico-"]:before
			background-color: $color1
			color: #fff

	.sidebox-list a
		&[class*="ico-"]:after,
		&[class*="ico-"]:before
			color: $color2

	//
	// Barra de progresso
	//
	.progress-bar
		background-color: $color1

	//
	// Tabs e Dropdown
	//
	.nav-tabs	a
		background-color: rgba($color1, 0.7)
		color: #fff

	.dropdown .dropdown-toggle,
	.dropdown.open .dropdown-toggle
		background-color: #fff
		color: $color5

	.nav .open > a
		border-color: rgba(0,0,0,0.2)

	.dropdown-menu

		.active a
			background-color: $color2
			color: #fff

		a
			background-color: #fff
			color: $color5

			&:hover,
			&:focus
				background-color: $color2

		li > a:hover,
		li > a:focus
			color: #fff

		& button:hover,
		& button:focus
			color: #fff
			background-color: $color2


	//
	// Shortcut da home
	//
	.shortcut-title.active:before,
	.shortcut-title:hover:before,
	.shortcut-title:before
		color: $color2
		background-color: #fff

	.shortcuts .rsActiveSlide .shortcut-title:before
		background-color: $color2
		color: #fff

	.rsBullet
		background-color: $gray2
		opacity: .3

	.rsBullet.rsNavSelected
		background-color: $color2
		opacity: 1

	//
	// Collapses
	//
	.ls-collapse

		&:after
			border-color: $color1
			color: $color1

		.panel-heading
			border-left-color: $color2

		.panel-title
			color: $color1

		&.active

			.panel-title
				color: $color3

			&:after
				border-color: $color3
				color: $color3


	//
	// Well
	//
	.well
		border-color: $gray6

	.sidebar .well-status-sidebar
		background-color: $color4
		color: $color5

		p
			color: $color5

	//
	// Botoes
	//
	%btn-theme
		background-color: $color2
		border-color: $color2
		color: #fff

	.btn-primary,
	div.hopscotch-bubble .hopscotch-actions button.hopscotch-nav-button.next
		@extend %btn-theme
		&:hover, &:focus
			@extend %btn-theme

	.open
		.dropdown-toggle.btn-primary
			@extend %btn-theme

	//
	// Switch Button
	// Criando Botão de Switch
	.btn-switch
		a.active,
		input:checked + label,
			background-color: $color1

	//
	// Ícone de ajuda com popover
	//
	[class*="ico-"][data-toggle="popover"]:before
		color: #fff
		background-color: #154297

	.alert[class*="alert-"]

		a:hover,
		a:focus
			color: $color5

	//
	// Paginação
	//
	.pagination,
	.pager
		font-size: .87rem

		> .active a,
		> .active span
			background-color: $color2
			border-color: $color2

			&:hover,
			&:focus
				background-color: $color2
				border-color: $color2


	//
	// Select personalizado
	//
	.select2-drop
		.select2-highlighted .select2-result-label,
		.select2-result-label:hover
			background: $color1

	.select2-container.select2-container-multi .select2-choices .select2-search-choice
		background: $color4


	.lwbar-id
		background-color: $gray3
		color: $gray4

		&:before
			color: $gray2
			border-color: $gray2

	.btn-logout
		border-color: $gray2
		color: $gray2
		text-decoration: none

	//
	// Pagina de confirmação de E-mail
	//
	.confirmation-page
		h1

			a
				color: $color1 !important

		p
			color: $gray5


	.box-info

		.title-box-info
			color: $color5

			&[class*="ico-"]:before
				color: $color1

//
// Cores do tablet para Desktop
//
@media #{$media-tablet}
	#{$theme-color}

		.header
			background-color: transparent

			.help-suggestions
				background-color: $color3

				&:hover,
				&:focus
					background-color: $color5

				&[class*="ico-"]:before
					color: $color3

			.project-name a
				color: $color1

		.nav-content
			background-color: $color1

			.menu

				li

					& > a.active,
					& > a:focus,
					& > a:hover,
					&:hover > a,
					&:focus > a
						background-color: $color3
						border-bottom-color: $color5

					li:last-child a
						border-bottom: none

					& > ul
						border-top-color: $color5

						li a
							background-color: $color3
							color: #fff
							border-bottom-color: rgba(0,0,0,0.2)

							&:hover,
							&:focus
								background-color: $color4
								border-bottom-color: rgba(0,0,0,0.1)
								color: $color1

		.shortcut-title.active:before,
		.shortcut-title:hover:before,
		.shortcut-title:focus:before
			background-color: $color2
			color: #fff
