//
// Cores Mobile
//
#{$theme-color}
	a
		color: $color2

	.header
		background-color: $color1
		border-bottom-color: $color3

	.nav-content
		border-bottom-color: $color3

		.menu > li a
			border-left-color: $color1

			&.active,
			&:focus,
			&:hover
				background-color: $color3
				border-left-color: $color5

	.sidebox-title
		color: $color1

		&[class*="ico-"]:before
			background-color: $color1

	.sidebox-list a
		&[class*="ico-"]:after,
		&[class*="ico-"]:before
			color: $color2

	.progress-bar
		background-color: $color1

	.nav-tabs	a
		background-color: $color2
		color: #fff
		border-color: #efefef

	.dropdown .dropdown-toggle,
	.dropdown.open .dropdown-toggle
		background-color: #fff
		color: $color5

	.nav .open > a
		border-color: rgba(0,0,0,0.2)

	.dropdown-menu

		.active a
			background-color: $color2
			color: #fff

		a
			background-color: #fff
			color: $color5

			&:hover
				background-color: $color2

	.dropdown-toggle:after
		@include arrow-down($color2, 5px)

	.shortcut-title.active:before,
	.shortcut-title:hover:before,
	.shortcut-title:before
		color: $color2
		background-color: #fff

	.shortcuts .rsActiveSlide .shortcut-title:before
		background-color: $color2
		color: #fff

	.rsBullet
		background-color: $gray2
		opacity: .3

	.rsBullet.rsNavSelected
		background-color: $color2
		opacity: 1

a[class*="btn"]
	color: $gray3



//
// Cores do tablet para Desktop
//
@media #{$media-tablet}
	#{$theme-color}

		.header
			background-color: transparent
			border-bottom-color: $color3

			.help-sugestions
				background-color: $color3

				&:hover
					background-color: $color5

			.project-name a
				color: $color1

		.nav-content
			background-color: $color1

			.menu

				li

					& > a.active,
					& > a:focus,
					& > a:hover,
					&:hover > a,
						background-color: $color3
						border-bottom-color: $color5

					li:last-child a
						border-bottom: none

					& > ul
						border-top-color: $color5

						li a
							background-color: $color3
							color: #fff
							border-bottom-color: rgba(0,0,0,0.2)

							&:hover
								background-color: $color4
								border-bottom-color: rgba(0,0,0,0.1)
								color: $color1

		.shortcut-title.active:before,
		.shortcut-title:hover:before
			background-color: $color2
			color: #fff