<div class="ls-alert-success"><strong>Sucesso!</strong> Você conseguiu, parabéns!</div>
<div class="ls-alert-info"><strong>Atenção:</strong> Você tem informações importantes para ler.</div>
<div class="ls-alert-warning"><strong>Cuidado:</strong> Cheque duas vezes. Você pode ter esquecido alguma informação.</div>
<div class="ls-alert-danger"><strong>Vish!</strong> Algo muito ruim aconteceu e você vai precisar refazer tudo.</div>
