<div class="ls-alert-warning ls-dismissable" >
  <span class="ls-dismiss" data-ls-module="dismiss">&times;</span>
  <strong>Opa!</strong> Atenção neste ponto.
</div>

<div class="ls-alert-danger ls-dismissable" >
  <span class="ls-dismiss" data-ls-module="dismiss">&times;</span>
  <strong>Vish!</strong> Muita atenção neste ponto.
</div>
