<div class="ls-alert-success">Opa! veja mais informações clicando <a href="#" class="ls-link-alert">aqui</a>.</div>
<div class="ls-alert-info">Opa! veja mais informações clicando <a href="#" class="ls-link-alert">aqui</a>.</div>
<div class="ls-alert-warning">Opa! veja mais informações clicando <a href="#" class="ls-link-alert">aqui</a>.</div>
<div class="ls-alert-danger">Opa! veja mais informações clicando <a href="#" class="ls-link-alert">aqui</a>.</div>
