<div class="ls-alert-success ls-md-space"><strong>Sucesso!</strong> Você conseguiu, parabéns! <strong><a href="#">Entre aqui</a></strong>.</div>
<div class="ls-alert-info ls-sm-space"><strong>Atenção:</strong> Você tem informações importantes para ler.</div>