<div class="ls-alert-success ls-big-space"><strong>Sucesso!</strong> Você conseguiu, parabéns! <a href="">Entre aqui</a> .</div>
<div class="ls-alert-info ls-small-space"><strong>Atenção:</strong> Você tem informações importantes para ler.</div>
