---
title: Componentes - Abas

layout: v1/layouts/page
menu_page: v1/partials/sidebar-componentes.erb
---


<article class="text">

	<header>
		<h1>Abas ou tabs</h1>
		<h3>Tabs são perfeitos para organizar informações em painéis de conteúdo, onde o acesso precisa ser rápido e quando há muito conteúdo sobre um determinado assunto.</h3>
	</header>
	<div class="example">
		<ul class="tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">7 dias</a></li>
		    <li><a href="#tab2" data-toggle="tab">30 dias</a></li>
		    <li><a href="#tab3" data-toggle="tab">6 meses</a></li>
		</ul>

		<div class="tab-content">
		    <div class="tab-pane active" id="tab1"><p>Conteúdo Tab 1</p></div>
		    <div class="tab-pane" id="tab2"><p>Conteúdo Tab 2</p></div>
		    <div class="tab-pane" id="tab3"><p>Conteúdo Tab 3</p></div>
		</div>
	</div>
	<pre class="lang-html prettyprint linenums">
&lt;-- Tabs / Guias --&gt;
&lt;ul class=&quot;tabs&quot;&gt;
    &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#tab1&quot; data-toggle=&quot;tab&quot;&gt;7 dias&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#tab2&quot; data-toggle=&quot;tab&quot;&gt;30 dias&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#tab3&quot; data-toggle=&quot;tab&quot;&gt;6 meses&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;-- C&oacute;digo do conte&uacute;do das tabs --&gt;
&lt;div class=&quot;tab-content&quot;&gt;
    &lt;div class=&quot;tab-pane active&quot; id=&quot;tab1&quot;&gt;Conte&uacute;do Tab 1&lt;/div&gt;
    &lt;div class=&quot;tab-pane&quot; id=&quot;tab2&quot;&gt;Conte&uacute;do Tab 2&lt;/div&gt;
    &lt;div class=&quot;tab-pane&quot; id=&quot;tab3&quot;&gt;Conte&uacute;do Tab 3&lt;/div&gt;
&lt;/div&gt;</pre>

	<h3>Ativando</h3>
	<pre class="lang-javascript prettyprint linenums">
$('#tabs a').click(function(e) {
   $(this).tab('show');
   e.preventDefault();
});	</pre>

	<h3>Eventos</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="span2">Evento</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>show</td>
				<td>Este evento é acionado em exposição da tab, mas antes de a nova tab for mostrada.</td>
			</tr>
			<tr>
				<td>shown</td>
				<td>Este evento é acionado depois que a tab é mostrada.</td>
			</tr>
		</tbody>
	</table>

	<p>Use event.target e event.relatedTarget para pegar a tab ativa e a tab anterior ativa, se disponível respectivamente.</p>

<pre class="lang-javascript prettyprint linenums">
$('a[data-toggle="tab"]').on('shown', function (e) {
	e.target // tab ativada
	e.relatedTarget // tab anterior
});</pre>
</article>
