---
title: Componentes - Barra de Progresso

layout: v1/layouts/page
menu_page: v1/partials/sidebar-componentes.erb
---

<article class="text">
	<header>
		<h1>Barras de Progresso</h1>
		<h3>Usadas para indicar um progresso de carregamento ou ação de envio e etc.</h3>
	</header>

	<p>Mesmo esquema do Bootstrap. Inserimos apenas uma tag B dentro do div <strong>bar</strong> para mostrar a indicação de status de progresso.</p>


	<p>Esse atributo STYLE que define a largura da barra de progresso é feito via Javascript e você precisa fazer isso dependendo da sua necessidade.</p>

	<div class="example">
	<div class="progress progress-striped active">
	    <div class="bar" style="width: 50%"><b>5 de 10</b></div>
	</div>
	</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="progress progress-striped active"&gt;
	&lt;div class="bar" style="width: 50%"&gt;&lt;b&gt;5 de 10&lt;/b&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>

	<table class="table-bordered table-striped table">
		<thead>
			<tr>
				<th>Classe</th>
				<th>Descrição</th>
				<th>Resultado</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>progress</td>
				<td>É a classe padrão, sempre deve haver essa classe.</td>
				<td>
					<div class="progress">
						<div class="bar" style="width: 60%;"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>progress-striped</td>
				<td>Deixa a barra com as linhas na diagonal.</td>
				<td>
					<div class="progress progress-striped">
						<div class="bar" style="width: 60%;"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>active</td>
				<td>Adicionando a classe active, as linhas da barra rolam da esquerda para direita.</td>
				<td>
					<div class="progress progress-striped active">
						<div class="bar" style="width: 60%;"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<h3>Vários indicadores em uma barra</h3>
	<p>Você pode colocar vários indicadores em uma mesma barra.</p>
	<div class="example">
		    <div class="progress">
		    	<div class="bar bar-success" style="width: 35%;"></div>
		    	<div class="bar bar-warning" style="width: 20%;"></div>
		    	<div class="bar bar-danger" style="width: 10%;"></div>
		    </div>
	</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="progress"&gt;
	&lt;div class="bar bar-success" style="width: 35%;"&gt;&lt;/div&gt;
	&lt;div class="bar bar-warning" style="width: 20%;"&gt;&lt;/div&gt;
	&lt;div class="bar bar-danger" style="width: 10%;"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>


<h3>Barra de progresso cinza</h3>
<p>Basta adicionar a classe <code>progress-default</code>, conforme o exemplo abaixo:</p>

<div class="progress progress-default">
	<div class="bar" style="width: 60%;"></div>
</div>

<div class="progress progress-default progress-striped">
	<div class="bar" style="width: 60%;"></div>
</div>

<div class="progress progress-default progress-striped active">
	<div class="bar" style="width: 60%;"></div>
</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="progress progress-default"&gt;
	&lt;div class="bar" style="width: 60%;"&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class="progress progress-default progress-striped"&gt;
	&lt;div class="bar" style="width: 60%;"&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class="progress progress-default progress-striped active"&gt;
	&lt;div class="bar" style="width: 60%;"&gt;&lt;/div&gt;
&lt;/div&gt;

</pre>

</article>
