---
title: Componentes - Modal

layout: v1/layouts/page
menu_page: v1/partials/sidebar-componentes.erb

---

<article class="text">
	<header>
		<h1>Modal</h1>
		<h3>Funcionamento dos modais</h3>
	</header>

	<p>As modais são feitas integralmente no padrão Bootstrap. Qualquer dúvida, você pode ver <a href="http://twitter.github.com/bootstrap/javascript.html#modals">como é feito aqui</a>.</p>
	<p>O link tem alguns atributos que precisam estar presentes para que a modal seja chamada. Um deles é o <strong>data-toggle="modal"</strong>, que faz o javascript encontrar o elemento com o nome MODAL, e o atributo <strong>data-target="#modalEditarNome"</strong>, que pega o ID específico da modal que deverá ser chamada.</p>


	<p><a class="btn btn-primary btn-large marginAuto" data-toggle="modal" data-target="#modalEditarNome" href="#">Teste a modal aqui!</a></p>

	<p>O tamanho padrão das modais é de 550px de largura. Existe um outro tamanho menor, com 450px de largura, geralmente utilizado para mostrar mensagens de excluir e de alertas. Pra fazer essas modais menores, basta colocar a classe <strong>modalSmall</strong> na div MODAL.</p>

	<p>
		São dois tamanhos de modais. Para fazer uma modal menor, é só usar a classe <strong>modalSmall</strong>. Veja o exemplo de tamanho das duas modais abaixo.
	</p>

	<table class="table-bordered table-striped table">
		<thead>
			<tr>
				<th>Classe</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>modalAutoOpen</td>
				<td>Abre a modal assim que a página é carregada.</td>
			</tr>
			<tr>
				<td>modalSmall</td>
				<td>Deixa a modal com tamanho menor</td>
			</tr>
			<tr>
				<td>txtCenter</td>
				<td>Colocando em conjunto com a tag .modal, centraliza informações na modal. Se quiser, pode ser usado nos elementos separadamente.</td>
			</tr>
			<tr>
				<td>txtLeft</td>
				<td>Colocando em conjunto com a tag .modal, alinha a esquerda as informações na modal. Se quiser, pode ser usado nos elementos separadamente.</td>
			</tr>
			<tr>
				<td>txtRight</td>
				<td>Colocando em conjunto com a tag .modal, alinha a direita as informações na modal. Se quiser, pode ser usado nos elementos separadamente.</td>
			</tr>

		</tbody>
	</table>

	<div class="well modal-example" style="background-color: #888; border: none;" role="dialog" aria-live="polite" aria-hidden="false" aria-labelledby="id_titulo">
		<div class="modal dBlock in fade" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;">
			<div class="modal-header">
				<button type="button" aria-label="Fechar Modal" class="close" data-dismiss="modal">×</button>
				<h3 id="id_titulo">Título da Modal</h3>
			</div>
			<div class="modal-body">
				<p>Um parágrafo bem bacana para a modal. Pode ter uma pancada de coisas, tipo formulários.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary">Salvar</a>
				<a href="#" class="btn">Fechar</a>
			</div>
		</div>
		<br><hr><br>
		<div class="modal modalSmall dBlock in fade" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;" role="dialog" aria-live="polite" aria-hidden="false">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Título de modal com .modalSmall</h3>
			</div>
			<div class="modal-body">
				<p>Esta modal tem a classe modalSmall para diminuir seu tamanho.</p>
				<p>Um parágrafo bem bacana para a modal. Pode ter uma pancada de coisas, tipo formulários.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary">Salvar</a>
				<a href="#" class="btn">Fechar</a>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modalEditarNome" role="dialog" aria-live="polite">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3 id="id_titulo">Editar Nome</h3>
			<p>Atribuir um nome para a conta com identificador 13427</p>
		</div><!-- FIM MODAL HEADER -->

		<div class="modal-body">
			<div class="control-group">
				<label> <b title="Obrigatório">*</b> Convênio</label>
				<input required="" size="50" type="text" value="d1232">
			</div>

			<div class="control-group">
				<label><b title="Obrigatório">*</b> Dias até o vencimento</label>
				<input type="text" value="5">
			</div>

			<div class="control-group accepts_after_expired">
				<label>Aceitar após o vencimento</label>
				<div class="controls">
					<input type="radio" value="S">
					<label> Sim</label>

					<input checked="checked" type="radio" value="N">
					<label> Não</label>
				</div>
			</div>

			<fieldset class="sideBySide">
				<div class="control-group">
					<label><b title="Obrigatório">*</b> Agência</label>
					<input class="input60" size="50" type="text" value="">
				</div>
				<div class="control-group">
					<label><b title="Obrigatório">*</b> Conta</label>
					<input class="input60" size="50" type="text" value="">
				</div>
			</fieldset>

			<fieldset class="sideBySide">
				<h2>Boleto</h2>
				<div class="control-group">
					<label> Linha de instrução 1</label>
					<input type="text" placeholder="extra information">
				</div>
				<div class="control-group">
					<label> Linha de instrução 2</label>
					<input type="text" placeholder="extra information">
				</div>
				<div class="control-group">
					<label> Linha de instrução 3</label>
					<input type="text" placeholder="extra information">
				</div>
				<div class="control-group">
					<label> Linha de instrução 4</label>
					<input type="text" placeholder="extra information">
				</div>
				<div class="control-group">
					<label> Linha de instrução 5</label>
					<input type="text" placeholder="extra information">
				</div>
				<div class="control-group">
					<label> Linha de instrução 6</label>
					<input type="text" placeholder="extra information">
				</div>
			</fieldset>

			<div class="extra-information-transaction">
				<dl class="boxGray listDetail">
					<dt>ID da transação (tid):</dt>
					<dd>7597077486</dd><hr class="sep">

					<dt>Número Sequencial da autorização (nsu):</dt>
					<dd>72142382</dd><hr class="sep">

					<dt>Pan:</dt>
					<dd>25660126</dd><hr class="sep">

					<dt>Número da autorização (arp):</dt>
					<dd>126802974</dd><hr class="sep">

					<dt>Retorno da autorização (lr):</dt>
					<dd></dd><hr class="sep">

					<dt>URI para o usuário acessar:</dt>
					<dd>http://cielo.com.br/auth?id=836</dd><hr class="sep">
				</dl>
			</div>
			<div class="control-group">
				<label for="boleto_caixa_setting_payment_place"><b title="Obrigatório">*</b> Local do pagamento</label>
				<input id="boleto_caixa_setting_payment_place" name="boleto_caixa_setting[payment_place]" size="50" type="text" value="Qualquer Banco até o vencimento">
			</div>

			<div class="control-group">
				<label><b title="Obrigatório">*</b> Nome da loja</label>
				<input placeholder="Como consta no banco" type="text" value="">
			</div>
			<div class="control-group">
				<label><b title="Obrigatório">*</b> CNPJ/CPF da loja</label>
				<input placeholder="Como consta no banco" type="text" value="">
			</div>
			<div class="control-group">
				<label><b title="Obrigatório">*</b> Carteira</label>

				<select>
					<option value="opcao1">Opção 1</option>
					<option value="opcao2">Opção 2</option>
					<option value="opcao3">Opção 3</option>
					<option value="opcao4">Opção 4</option>
					<option value="opcao5" selected="selected">Opção 5</option>
				</select>
			</div>
		</div><!-- FIM MODAL BODY -->

		<div class="modal-footer">
			<input class="btn btn-primary" type="submit" value="Ok">
			<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		</div>
	</div> <!-- FIM MODAL -->
	<div>
		<div class="modal modalSlider fade" id="modalComSlider" role="dialog" aria-live="polite">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Editar Nome</h3>
			</div><!-- FIM MODAL HEADER -->

			<div class="modal-body">
				<div id="myCarousel" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="item">
							<div class="control-group">
								<label> <b title="Obrigatório">*</b> Convênio</label>
								<input required="" type="text" value="Amil">
							</div>
						</div>

						<div class="item active">
							<div class="control-group error">
								<label><b title="Obrigatório">*</b> Dias até o vencimento</label>
								<input type="text" value="5">
								<span class="help-inline" style="width: 206px; ">Um erro interessante</span>
							</div>
							<div class="control-group accepts_after_expired">
								<label>Aceitar após o vencimento</label>
								<div class="controls">
									<input id="yesAccept" type="radio" name="accept" value="S">
									<label for="yesAccept"> Sim</label>
									<input id="noAccept" checked="checked" name="accept" type="radio" value="N">
									<label for="noAccept"> Não</label>

								</div>
							</div>
						</div>

						<div class="item">
							<div class="control-group error">
								<label><b title="Obrigatório">*</b> Dias até o vencimento</label>
								<input type="text" value="5">
								<span class="help-inline" style="width: 206px; ">Um erro interessante</span>
							</div>
						</div>
					</div>
					<!-- Carousel nav -->
				</div>

			</div><!-- FIM MODAL BODY -->

			<div class="modal-footer">
				<a href="#myCarousel" class="btn slidePrev" data-slide="prev" style="display: block; ">Anterior</a>
				<a href="#myCarousel" class="btn slideNext" data-slide="next" style="">Próximo</a>
				<a href="#" class="btn btn-primary btnSalvar" style="display: none; ">Salvar</a>
			</div>
		</div> <!-- FIM MODAL -->
	</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="modal in fade" role="dialog" aria-labelledby="id_titulo" aria-live="polite"&gt;
	&lt;div class="modal-header"&gt;
		&lt;button type="button" aria-label="Fechar Modal" class="close" data-dismiss="modal"&gt;×&lt;/button&gt;
		&lt;h3 id="id_titulo" &gt;Título da Modal&lt;/h3&gt;
	&lt;/div&gt;
	&lt;div class="modal-body"&gt;
		&lt;p&gt;Um parágrafo bem bacana para a modal. Pode ter uma pancada de coisas, tipo formulários.&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="modal-footer"&gt;
		&lt;a href="#" class="btn btn-primary"&gt;Salvar&lt;/a&gt;
		&lt;a href="#" class="btn" data-dismiss="modal" &gt;Fechar&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>

	<h2>Utilização via atributos</h2>
	<p>Para ativar a modam manualmente, sem escrever javascript, defina um atributo <strong>data-toggle="modal"</strong> no elemento que ativará a modal, como um link, botão etc. Coloque também o atributo <strong>data-target="#nomeDaModal"</strong> ou <strong>href="#nomeDaModal"</strong> para especificar um target.</p>

	<pre class="lang-html prettyprint linenums">&lt;button type="button" data-toggle="modal" data-target="#myModal"&gt;Launch modal&lt;/button&gt;</pre>

	<h2>Chamando via Javascript</h2>
	<p>Para chamar a modal via Javascript</p>

	<pre class="lang-javascript prettyprint linenums">$('#nomeDaModal').modal(opções);</pre>

	<h3>Opções</h3>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th style="width: 100px;">Nome</th>
				<th style="width: 50px;">Tipo</th>
				<th style="width: 50px;">default</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>backdrop</td>
				<td>boolean</td>
				<td>true</td>
				<td>Inclui um overlay atrás da modal. Você pode definir <strong>static</strong> para que o overlay não feche no click.</td>
			</tr>
			<tr>
				<td>keyboard</td>
				<td>boolean</td>
				<td>true</td>
				<td>Fecha a modal quando a tecla ESC é pressionado</td>
			</tr>
			<tr>
				<td>show</td>
				<td>boolean</td>
				<td>true</td>
				<td>Mostra a modal</td>
			</tr>
			<tr>
				<td>remote</td>
				<td>path</td>
				<td>false</td>
				<td>
					Se uma URL é definida, o conteúdo irá ser carregado pelo método jQuery <strong>load</strong> e inserido dentro do <strong>.modal-body</strong>. Se você está usando data api, você pode usar alternativamente o atributo <strong>href</strong> para especificar uma fonte remota.

					<pre class="lang-html prettyprint linenums">&lt;a data-toggle=&quot;modal&quot; href=&quot;remote.html&quot; data-target=&quot;#modal&quot;&gt;click me&lt;/a&gt;</pre>
				</td>
			</tr>
		</tbody>
	</table>

	<h2>Eventos</h2>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">Evento</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>show</td>
				<td>Este evento é disparado quando a modal é chamada</td>
			</tr>
			<tr>
				<td>shown</td>
				<td>Este evento disparado quando a modal termina de aparecer. Ela só é terminada quando as transições estão completas</td>
			</tr>
			<tr>
				<td>hide</td>
				<td>Este evento é chamado quando a modal some.</td>
			</tr>
			<tr>
				<td>hidden</td>
				<td>Este evento é chamado quando a modal se esconde completamente e não há mais transições acontecendo.</td>
			</tr>
		</tbody>
	</table>
</article>

<script>
	window.scrollTo(0,0);
</script>
