---
title: Acessibilidade
description: Acessibilidade nos formulários
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <div class="ls-box ls-box-gray">
    <h4>Acessibilidade</h4>
    <p>
      Ao usar o atributo <code>placeholder</code> adicionamos a classe <code>ls-hidden-accessible </code> no <code>ls-label</code>, assim escondemos o elemento, porém os leitores de tela conseguem entender.
      <br>
      Faça isso e a Acessibilidade agradece =)
    </p>
  </div>

</section>
