---
title: Calendário
description: Calendário e para facilitar a selação de datas
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <p>Para usar calendário no campo desejado, basta usar o seletor <code>.datapicker</code> no campo.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-calendar.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-calendar.erb' %><% end %>

  <p>Utilizamos o plugin <a href="https://github.com/dbushell/Pikaday" target="_blank">Pikaday</a> para o calendário, configurado para <b>pt-BR</b>.</p>

  <p>Todos os métodos do plugin podem ser utilizados normalmente, conforme sua documentação, e adicionamos dois métodos/atalhos para iniciar o calendário com as configurações que utilizamos no <i>LocawebStyle</i>:</p>
  <p>Inicia o calendário no padrão <i>Locawebstyle</i></p>
  <% code("javascript") do %>$('#elemento').lsDatepicker()<% end %>
  <p>Remove o calendário:</p>
  <% code("javascript") do %>$('#elemento').lsDatepicker('destroy')<% end %>

</section>
