---
title: Calendário
description: Calendário e para facilitar a selação de datas
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <p>Para usar calendário no campo desejado, basta usar o seletor <code>.datapicker</code> no campo.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-calendar.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-calendar.erb' %><% end %>

</section>
