---
title: Campos personalizados
description: Aqueles onde mudamos a aparência ou comportamento padrão do navegador
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Para estilizar uma select, é bem simples, basta adicionar a classe <code>ls-custom-select</code>e a mágica acontece.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/custom-fields', locals: {field: 'select'} %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/custom-fields', locals: {field: 'select'} %><% end %>
  <!-- End Select -->
</section>
