---
title: Campos personalizados
description: Aqueles onde mudamos a aparência ou comportamento padrão do navegador
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <!-- Select -->
  <h3 class="ls-title-3">Select</h3>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.ls-form</td>
        <td>Customiza todos os selects.</td>
      </tr>
      <tr>
        <td>.ls-input-original</td>
        <td>Mantém a aparência original do input.</td>
      </tr>
    </tbody>
  </table>

  <div class="ls-box-demo">
    <p class="ls-title2"> Select customizada </p>
    <%= partial 'documentacao/shared/custom-fields', locals: {field: 'select'} %>
  </div>
  <code class="language-html">
    <%= partial 'documentacao/shared/custom-fields', locals: {field: 'select'} %>
  </code>
  <!-- End Select -->
</section>
