---
title: Estilo das validações
description: Aparência dos campos com validação
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <p>Optamos por não incluir um meio de validação no framework, temos apenas o estilo para os campos.</p>
  <p>Para indicar validação de formulários, basta utilizar as classes <code>.ls-error</code>, <code>.ls-warning</code> ou <code>.ls-success</code> no elemento pai deles, ou seja no <code>.ls-label</code>.</p>
  <p>A mensagem de ajuda é exibida na classe <code>.ls-help-message</code>, conforme o exemplo abaixo:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-vertical-validacao.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-vertical-validacao.erb' %><% end %>

</section>
