<% data.page.title = 'ChangeLog do Locaweb Style' %>
<%= partial "partials/header" %>
<!-- highlight -->
<div class="highlight heading">
	<div class="container">
		<h1>Changelog <span>Locaweb Style</span></h1>
	</div>
</div>

<section class="container blog">
	<div class="row">
		<div class="col-lg-9">
			<%= yield %>
		</div>
		<div class="visible-lg col-lg-3">
			<%= partial "partials/sidebar-changelog" %>
		</div>
	</div>
</section>

<%= partial "partials/footer" %>