<%= partial "partials/header" %>

<!-- highlight -->
<div class="highlight heading">
	<div class="container">
		<h1>Documentação <span>Locaweb Style</span></h1>
	</div>
</div>
<!-- END highlight -->

<main class="main">
	<!-- Post content -->
	<section class="content container">

		<%= partial "partials/navbar-manual" %>
		<div class="row">
			<article class="text col-lg-12 col-md-12">
				<%= yield %>
			</article>
		</div>

	</section>
	<!-- END post content -->

	<%= partial "partials/footer" %>
</main>