$name: 'gray'

$color1: $color-#{$name}!default
$color2: mix($color-mix, $color1, $color-mix-percent)!default

.ls-bg-theme-#{$name}
  background-color: $color1

.ls-theme-#{$name}
  color: mix($color-mix, $color1, 20%)!important

@import "base"
