// Criador Mobile
$theme_name: ".colorPurple";

$pallet_1: #5a2dc0;
$pallet_2: #48249a;
$pallet_3: #24124d;
$pallet_4: #120926;
$pallet_5: #ded5f2;
$pallet_6: #bdabe6;
$pallet_7: #efeaf9;

@import "theme_base";
