<h2>Deseja editar a entrada [ENTRADA]?</h2>
<p>É possível alterar apenas o conteúdo. Para outro tipo de edição, favor adicionar uma nova entrada.</p>
<fieldset>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Entrada</b>
    <p>www</p>
  </label>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Prioridade</b>
    <p>0</p>
  </label>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Tipo</b>
    <p>CNAME</p>
  </label>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Conteúdo</b>
    <input type="text" name="content" value="dominio.com.br" required >
    <p></p>
  </label>
</fieldset>
