	<h1 class="ls-brand-name ls-ico-earth"><%= link_to current_page.data.title_product, 'home' %></h1>
	<div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
		<a href="#" class="ls-ico-user">
			João
			<small>(fmolina)</small>
		</a>
		<nav class="ls-dropdown-nav ls-user-menu">
			<ul>
				<li><a href="#">Meus dados</a></li>
				<li><a href="#">Faturas</a></li>
				<li><a href="#">Planos</a></li>
			</ul>
			<a href="#" class="ls-btn-logout">Sair</a>
		</nav>
	</div>


	<nav class="ls-menu">
		<ul>
			<li><a href="<%= base_url %>/documentacao/exemplos/painel5/home" class="ls-ico-list">Domínios</a></li>
		</ul>
	</nav>
