---
title: Página Inicial
layout: panel
show_topbar_title: true
pre_panel: true
theme_name: ls-theme-wine
title_product: Zona de DNS
panel: painel5
topbar_gray: true
---

<h1 class="ls-title-intro ls-ico-list2 ls-no-bg">Domínios</h1>

<div class="ls-box-filter">
  <form action="" class="ls-form ls-form-inline ls-float-left">
    <label class="ls-label col-md-6 col-sm-8">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select ls-field">
        <select>
          <option selected="selected">Todos os domínios</option>
          <option value="#">Registrados</option>
          <option value="#">Não registrados</option>
          <option value="#">Bloqueados</option>
        </select>
      </div>
    </label>
  </form>

  <form  action="" class="ls-form ls-form-inline ls-float-right">
    <label class="ls-label" role="search">
      <b class="ls-label-text ls-hidden-accessible">Busca por domínio</b>
      <input type="text" id="q" name="q" aria-label="Faça sua busca por domínio" placeholder="Busca por domínio" required="" class="ls-field">
    </label>
    <div class="ls-actions-btn">
      <input type="submit" value="Buscar" class="ls-btn" title="Buscar">
    </div>
  </form>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" >adidas.com.br</a>
      <small>Hospedagem 2</small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a href="home" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-md-12">
      <span class="ls-list-label">Domínio</span>
      <strong>Publicado</strong>
    </div>
  </div>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" >diadora.com</a> <a href="#" class="ls-tag-warning">Desenvolvedor</a>
      <small>Hospedagem 2</small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a href="home" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-md-12">
      <span class="ls-list-label">Domínio</span>
      <strong>Não registrado</strong> <a href="#" class="ls-ico-help" data-trigger="hover" data-ls-module="popover" data-placement="right" data-custom-classes="ls-width-300" data-content="<p>Este domínio parece não estar registrado.</p>"></a>
    </div>
  </div>
</div>

<div class="ls-pagination-filter">
  <ul class="ls-pagination">
    <li><a href="#">&laquo; Anterior</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Próximo &raquo;</a></li>
  </ul>
  <div class="ls-filter-view">
    <label for="">
      Exibir
      <div class="ls-custom-select">
        <select>
          <option value="10">10</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      ítens por página
    </label>
  </div>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel5/sidebar' %>
<% end %>
