.code_block {
  margin: 12px 0;
}

.code_header {
  position: relative;
  background-color: #E0E0E0;
  font-size: 12px;
  padding: 4px 7px;
  border: solid 1px #B6B6B6;
  border-bottom: none;
}

.code_header .clippy {
  position: absolute;
  top: 4px;
  right: 7px;
}

.clippy_label {
  position: absolute;
  right: 20px;
  top: 1px;
  text-align: right;
  width: 200px;
  font-size: 10px;
  color: #555;
}

.CodeRay {
  overflow: auto;
  border: 1px solid #777;
  border-top: none;
  padding: 5px 7px;
  margin: 0;
  line-height: 17px;
  font-size: 12px;
}

code {
  border: solid 1px #CCC;
  background-color: #EEE;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  padding: 0 3px;
}

pre code {
  display: block;
  background-color: #EEE;
  padding: 5px 7px;
}

.CodeRay, .CodeRay pre {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  background-color: #232323;
  color: #E6E0DB;
  padding: 5px;
}
.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

.CodeRay .annotation {  }
.CodeRay .attribute-name { color:#F9EE91; }
.CodeRay .attribute-value {  }
.CodeRay .binary {  }
.CodeRay .char .content {  }
.CodeRay .char .delimiter {  }
.CodeRay .char {  }
.CodeRay .class { color:#9B703F; }
.CodeRay .class-variable {  }
.CodeRay .color {  }
.CodeRay .comment { color:#726E73; font-style:italic; }
.CodeRay .comment .char {  }
.CodeRay .comment .delimiter {  }
.CodeRay .complex {  }
.CodeRay .constant { color:#9B859D; }
.CodeRay .decorator {  }
.CodeRay .definition {  }
.CodeRay .delimiter { color:#8F9D6A; }
.CodeRay .directive { color:#9B703C; }
.CodeRay .doc {  }
.CodeRay .doc-string {  }
.CodeRay .doctype { color:#494946; }
.CodeRay .entity { color:#AB8253; }
.CodeRay .error {  }
.CodeRay .escape  {  }
.CodeRay .exception {  }
.CodeRay .float { color:#CA7840; }
.CodeRay .function { color:#9B703F; }
.CodeRay .global-variable { color:#889AB4; }
.CodeRay .hex {  }
.CodeRay .imaginary {  }
.CodeRay .include {  }
.CodeRay .inline { color: white; }
.CodeRay .inline-delimiter { color:white; }
.CodeRay .instance-variable { color:#7587A6 }
.CodeRay .integer  { color:#A4C260 }
.CodeRay .key .char {  }
.CodeRay .key .delimiter {  }
.CodeRay .key { color: #E0C589; }
.CodeRay .keyword { color:#D6B57F; }
.CodeRay .label {  }
.CodeRay .local-variable {  }
.CodeRay .namespace {  }
.CodeRay .octal {  }
.CodeRay .operator { }
.CodeRay .predefined { color:#CDA869; }
.CodeRay .predefined-constant {  }
.CodeRay .predefined-type {  }
.CodeRay .preprocessor {  }
.CodeRay .pseudo-class { color:#A0AB7F; }
.CodeRay .regexp .content {  }
.CodeRay .regexp .delimiter {  }
.CodeRay .regexp .modifier {  }
.CodeRay .regexp {  }
.CodeRay .reserved {  }
.CodeRay .shell .content {  }
.CodeRay .shell .delimiter {  }
.CodeRay .shell {  }
.CodeRay .string .char {  }
.CodeRay .string .content {  }
.CodeRay .string .delimiter {  }
.CodeRay .string .modifier {  }
.CodeRay .string { color:#A0AB7F; }
.CodeRay .symbol .content {  }
.CodeRay .symbol .delimiter {  }
.CodeRay .symbol { color:#CF694A; }
.CodeRay .tag { color:#A9885B; }
.CodeRay .type {  }
.CodeRay .value { color: #F9EE98; }
.CodeRay .variable  { color:#889AB4; }
.CodeRay pre {
  background-color: transparent;
  border: none;
}

.clippy_wapper {
  position: relative;
  font-size: 12px;
  padding: 4px 7px;
  margin: 10px 0 0 0;
  height: 15px;
  background-color: #E0E0E0;
  border: solid 1px #B6B6B6;
  border-bottom: none;
}

.clippy_wapper .clippy {
  position: absolute;
  top: 4px;
  right: 7px;
}
