.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-table; }
#exampleCarousel {width:640px;}

.gridCode #main .limit [class^="span"] {margin-bottom:10px; background:#e3e3e3;}
.gridCode #main .limit [class^="span"] p {margin:0; padding:10px;}
.gridCode #main .limit [class^="span"]:hover {color:#000; background:#CCC; font-weight:bold;}

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
.headerPrincipalDoc {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  width:100%;
  text-align:left;
  padding:30px 0;
  overflow: hidden;
}

p {font-size:12px; line-height:20px;}

.exampleLnk {
  display:block;
  padding:5px;
  text-align:center;
  color:#666;
  background:#EFEFEF;
  border-radius: 3px 3px 0 0;
  border-bottom:1px solid #D7D7D7;
}
.exampleLnk:hover {color:#000; background:#CCC; text-decoration:none;}
.logo {margin:0;}
.logo a {
    width:158px;
    height:42px;
    text-indent:-9999px; overflow: hidden;
    background:url(/assets/img/logoLocaweb.png);
    display: block;
    float:left;
}

.headerPrincipalDoc p {vertical-align:middle;display:inline-block; padding:0; margin:0 0 0 15px; font-size:15px; font-weight:300; line-height:40px; color:#333;}


body{
  background-color: #EFEFEF;
  border-top: 4px solid #b60000;
  color: #767676;
  font-family: Verdana;
  font-size: 12px;
  padding-bottom: 30px;
}

.all{
  margin:0 auto;
  padding: 0 2%;
}

h2 {border-bottom:1px solid #EFEFEF; padding-bottom:15px; margin-bottom:15px;}

.codes {
  clear:both;
  padding:30px 0;
}
.codes:before {content:"HTML";}

.codes:before {
  content:"Exemplo";
  font-weight:bold;
  font-size:13px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding:3px 10px;
  color:#FFF;
  margin:0;
  background:#ed1c24;
  display:inline-block;
}

/** Header Logo **/
header.site-header h1{
  float: left;
  height: 41px;
  margin: 40px 0;
  width: 324px;
  text-indent: -5555em;
}

/** Menu and Navigation **/
.boxes{
  background-color: #FFF;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
}

aside.boxes .collapseGroup,
aside.boxes .collapseGroup .details{
  background: transparent none;
  border: 0 none;
  margin: 0;
  padding: 0;
}

aside.boxes{
  float: left;
  width: 240px;
  padding-bottom:10px;
  margin-right:3px;
}
aside.boxes a {text-decoration:none;}
aside.boxes h4{
  color: #2A2A2A;
  font: bold 13px Ubuntu;
  margin: 30px 0 10px 0;
  text-transform: uppercase;
}
aside.boxes h4:first-child{margin-top: 0;}

.collapseGroup{
  margin: 0 0 0 5px;
}

aside.boxes nav{
  margin: 30px 20px 30px 10px;
}

aside.boxes nav ul{
  margin: 0 0 20px 0;
  padding: 0;
}

aside.boxes nav ul li{
  border-bottom: 1px dotted #DDD;
  height: 20px;
  line-height: 20px;
  list-style: none;
  padding: 0 0 0 15px;
}

aside.boxes nav ul li:last-child{
  border-bottom: 1px solid #DDD;
}

aside.boxes nav ul li a{
  color: #787878;
  display: block;
}

aside.boxes nav ul li a:hover {color:#000;}

aside.boxes nav a.no-children{
 border-bottom: 1px solid #DDD;
 display: block;
 font-family: Ubuntu;
 height: 25px;
 line-height: 25px;
}

aside.boxes nav a.selected{
 color: #b60000;
 font-weight: bold;
}

.collapseGroup span{
  background: url("/images/summary-top.png") 98% 55% no-repeat;
  color: #545454;
  border-bottom: 1px solid #DDD;
  font-family: Ubuntu;
  height: 25px;
  line-height: 25px;
}

.collapseGroup span.active{
  background-image: url("/images/summary-blue.png");
  background-position: 98% 11px;
  border-bottom: 0 none;
  color: #b60000;
}


/** Main Coloumn **/
.main{
  overflow: hidden;
  margin:0 0 60px;
  padding:20px 20px 20px 30px;
  position: relative;
}

.main .img-decoration{
  background: url("/images/img-decoration.png") no-repeat;
  display: block;
  height: 15px;
  left: -11px;
  position: absolute;
  width: 18px;
}

.main .img-1{top: 10px;}
.main .img-2{top: 50%;margin-top: -7px;}
.main .img-3{bottom: 10px;}

.main ol{
  margin: 0 0 0 20px;
  padding: 0;
}

.main ol li{margin: 0;}

.main > h4{
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 300;
  margin:20px 0 10px;
}

.main p {
  max-width:900px;
}

.yellow-box{
  background: #FFFEF0;
  border: 1px solid #F5E5D4;
  border-radius: 4px;
  float: right;
  margin: 0 0 30px 30px;
  padding: 20px 15px 10px 15px;
  width: 215px;
}

.yellow-box p{margin: 0 0 10px 0;}

.yellow-box p span{
  color: #A57945;
  font-weight: bold;
}


/** Code Box **/
pre{
  background: #F0F6FF;
  border: 1px solid #D4E0F5;
  border-radius: 4px;
  color: #1A4294;
  display: block;
  margin: 20px 0;
  padding: 10px;
}

/** Footer **/
footer.site-footer{
  clear: both;
  padding: 0 0 20px 0;
  text-align: center;
}

footer#rodape {position:static;}

aside.boxes .collapseGroup summary.active { font-weight:normal; color:#B60000;   background:url(/assets/img/setaCollapseTop.png) no-repeat 99% 8px;}

.the-icons {margin:0 0 0 50px;}
.the-icons li {
  font-size: 15px;
  line-height: 24px;
  height: 24px;
  margin-bottom:10px;
  display:block;
  text-align:left;
}

code {
  display:block;
  width:100%;
  border:none;
  box-shadow:none;
  padding:15px;
  margin:20px auto;
  line-height:20px;
  background:#EFEFEF;
}

td code {
  background:none;
  width:auto;
  padding:0;
}

dt {margin-top:10px;}

.table th, .table td {vertical-align: middle;}

#select_themes {
  text-align: right;
  margin-bottom: 10px;
}
