<div class="ls-pagination-filter">
  <ul class="ls-pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="gap">...</li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
