<label class="ls-field">
  <span class="ls-label">Telefone</span>
  <input type="text" name="cel1" class="ls-mask-phone8" placeholder="9999-9999" >
  <input type="text" name="cel2" class="ls-mask-phone9" placeholder="[9]9999-9999" >
  <input type="text" name="cel3" class="ls-mask-phone8_with_ddd" placeholder="(99) 9999-9999" >
  <input type="text" name="cel4" class="ls-mask-phone9_with_ddd" placeholder="(99) [9]9999-9999" >
</label>
