<form action="" class="ls-form" data-ls-module="form">
  <div class="row" >
    <label class="ls-field col-md-3">
      <span class="ls-label">Endereço</span>
      <span class="ls-field-prefix">URL</span><!--
       --><input type="text" name="nome" placeholder="Nome e sobrenome" required />
    </label>
  </div>
  <div class="row" >
    <label class="ls-field col-md-3">
      <span class="ls-label">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome" required />
    </label>
  </div>
  <div class="row" >
    <label class="ls-field col-md-3">
      <span class="ls-label">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome" required />
    </label>
  </div>
</form>
