<form action="" class="ls-form">

  <label class="ls-field col-md-8">
    <b class="ls-label">Escreva o endereço do seu site</b>

    <div class="ls-prefix-group">
      <span class="ls-label-prefix">URL</span>
      <input type="text" name="nome" required >
    </div>
  </label>
  <label class="ls-field col-md-8">
    <b class="ls-label">Escreva o endereço do seu site</b>

    <div class="ls-prefix-group">
      <span class="ls-label-prefix">http://</span>
      <input type="text" name="nome" required >
      <span class="ls-label-prefix">.subdominio.com.br</span>
    </div>
  </label>

  <label class="ls-field col-md-3">
    <div class="ls-prefix-group">
      <span class="ls-label-prefix">Seu nome:</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome" required >
    </div>
  </label>
</form>
