<form action="" class="ls-form" data-ls-module="form">
  <label class="ls-field">
    <span class="ls-label">URL</span>
    <input type="text" name="nome" placeholder="Endereço do site" required data-ls-sufix="http://" />
  </label>
</form>
