<form action="" class="ls-form ls-form-inline row">

  <label class="ls-label col-md-8">
    <b class="ls-label-text">Escreva o endereço do seu site</b>

    <div class="ls-prefix-group">
      <span class="ls-label-text-prefix">URL</span>
      <input type="text" name="nome" required >
    </div>
  </label>

  <label class="ls-label col-md-10 col-sm-10">
    <b class="ls-label-text">Escreva o endereço do seu site</b>

    <div class="ls-prefix-group">
      <span class="ls-label-text-prefix">http://</span>
      <input type="text" name="nome" required >
      <span class="ls-label-text-prefix">.subdominio.com.br</span>
    </div>
  </label>

  <label class="ls-label col-md-6">
    <div class="ls-prefix-group">
      <span class="ls-label-text-prefix">Seu nome:</span>
      <input type="text" name="nome" placeholder="Completo, por favor..." required>
    </div>
  </label>

  <label class="ls-label col-md-12 col-sm-12">
    <b class="ls-label-text">Maximo de backups armazenados</b>
    <div class="row">
      <div class="ls-prefix-group col-md-4 col-sm-8 col-lg-3">
        <a href="" class="ls-label-text-prefix ls-bg-white">-</a>
        <input type="text" value="8" class="ls-txt-center">
        <a href="" class="ls-label-text-prefix ls-bg-white">+</a>
      </div>
    </div>
  </label>
</form>
