<form action="" class="ls-form">

  <label class="ls-label col-md-8">
    <b class="ls-label-text">Escreva o endereço do seu site</b>

    <div class="ls-prefix-group">
      <span class="ls-label-text-prefix">URL</span>
      <input type="text" name="nome" required >
    </div>
  </label>
  <label class="ls-label col-md-8">
    <b class="ls-label-text">Escreva o endereço do seu site</b>

    <div class="ls-prefix-group">
      <span class="ls-label-text-prefix">http://</span>
      <input type="text" name="nome" required >
      <span class="ls-label-text-prefix">.subdominio.com.br</span>
    </div>
  </label>

  <label class="ls-label col-md-6">
    <div class="ls-prefix-group">
      <span class="ls-label-text-prefix">Seu nome:</span>
      <input type="text" name="nome" placeholder="Completo, por favor..." required >
    </div>
  </label>
</form>
