<form action="" class="ls-form">

  <div class="row" >
    <label class="ls-field col-md-6">
      <span class="ls-label ">Endereço</span>
      <span class="row">
        <span class="ls-label-prefix col-md-2">URL</span>
        <span class="col-md-8">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
      </span>
    </label>
  </div>

  <div class="row" >
    <label class="ls-field col-md-6">
      <span class="ls-label ">Valor</span>
      <span class="row">
        <span class="col-md-8">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
        <span class="ls-label-sufix col-md-2">,00</span>
      </span>
    </label>
  </div>

  <div class="row" >
    <label class="ls-field col-md-6">
      <span class="ls-label ">Valor</span>
      <span class="row">
        <span class="ls-label-prefix col-md-2">R$</span>
        <span class="col-md-6">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
        <span class="ls-label-sufix col-md-2">,00</span>
      </span>
    </label>
  </div>


</form>
