<form action="" class="ls-form ls-form-horizontal row">
  <label class="ls-label col-md-12 col-xs-12">
    <b class="ls-label-text">E-mail</b>
    <div class="ls-prefix-group ls-field-lg">
      <span class="ls-label-text-prefix">URL</span>
      <input type="text" name="nome" required >
    </div>
  </label>
  <div class="ls-actions-btn">
    <button class="ls-btn ls-btn-lg">Salvar</button>
    <button class="ls-btn-danger ls-btn-lg">Cancelar</button>
  </div>
</form>

<form action="" class="ls-form ls-form-inline row">
  <label class="ls-label col-md-11 col-xs-12">
    <b class="ls-label-text">Digite seu site</b>
    <div class="ls-prefix-group ls-field-md">
      <span class="ls-label-text-prefix">URL</span>
      <input type="text" name="nome" required >
    </div>
  </label>
  <div class="ls-actions-btn">
    <button class="ls-btn">Salvar</button>
  </div>
</form>

<form action="" class="ls-form ls-form-inline row">
  <label class="ls-label col-md-11 col-xs-12">
    <b class="ls-label-text">Domínio</b>
    <div class="ls-prefix-group ls-field-sm">
      <span class="ls-label-text-prefix">www</span>
      <input type="text" name="nome" required >
      <span class="ls-label-text-prefix">.com.br</span>
    </div>
  </label>
  <div class="ls-actions-btn">
    <button class="ls-btn ls-btn-sm">Enviar</button>
  </div>
</form>


<form action="" class="ls-form ls-form-inline row">
  <label class="ls-label col-md-8 col-xs-12">
    <b class="ls-label-text ls-hidden-accessible">E-mail</b>
    <div class="ls-prefix-group ls-field-xs">
      <span class="ls-label-text-prefix">URL</span>
      <input type="text" name="nome" required >
    </div>
  </label>
  <div class="ls-actions-btn">
    <button class="ls-btn ls-btn-xs">Salvar</button>
  </div>
</form>
