<form class="ls-form ls-form-inline">
  <label class="ls-label col-md-4">
    <b class="ls-label-text">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email" required >
  </label>

  <div class="col-md-6">
    <span class="ls-inline-text">ou</span>
    <a href="#" class="ls-btn-danger">Cancelar</a>
  </div>
</form>
