<form action="" class="ls-form ls-form-text" data-ls-module="form">
  <% 1.times do |num| %>
  <div class="row" >
    <% 3.times do |num| %>
    <label class="ls-field col-md-3">
      <span class="ls-label">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome" required >
    </label>
    <% end %>
  </div>
  <% end %>
</form>
