<form action="" class="ls-form ls-form-text ls-form-horizontal ls-form-disable" data-ls-module="form">
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" value="Diego Maradona" required >
  </label>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Senha</b>
    <input type="password" name="senha" placeholder="Campo de senha" value="rei_pele" required >
  </label>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">E-mail</b>
    <input type="email" name="email" placeholder="Campo de E-mail" value="diego@maradona.com" required >
  </label>
</form>
