<form action="" class="ls-form row">
  <fieldset>
    <label class="ls-label col-md-3">
      <b class="ls-label-text">Nome</b>
      <p>Digite seu nome completo</p>
      <input type="text" name="nome" placeholder="Nome e sobrenome" required >
    </label>
    <label class="ls-label col-md-4">
      <b class="ls-label-text">E-mail</b>
      <p>Seu e-mail particular</p>
      <input type="text" name="email" placeholder="Escreva seu email" required >
    </label>
    <label class="ls-label col-md-5">
      <b class="ls-label-text">Rua</b>
      <input type="text" name="rua" placeholder="O nome da sua rua" required >
    </label>
  </fieldset>

  <hr>

  <fieldset>
    <!-- Exemplo com Checkbox -->
    <div class="ls-label col-md-5">
      <p>Selecione quais plataformas você tem:</p>
      <label class="ls-label-text">
        <input type="checkbox" name="dynacom">
        Dynacom
      </label>
      <label class="ls-label-text">
        <input type="checkbox" name="masterSystem">
        MasterSystem sem fio
      </label>
      <label class="ls-label-text">
        <input type="checkbox" name="nintendinho">
        Nintendinho
      </label>
      <label class="ls-label-text">
        <input type="checkbox" name="superNintendo">
        Super Nintendo
      </label>
    </div>
  </fieldset>

  <hr>

  <fieldset>
    <!-- Exemplo com Radio button -->
    <div class="ls-label col-md-5">
      <p>Escolha uma das plataformas:</p>
      <label class="ls-label-text">
        <input type="radio" name="plataforms">
        Dynacom
      </label>
      <label class="ls-label-text">
        <input type="radio" name="plataforms">
        MasterSystem sem fio
      </label>
      <label class="ls-label-text">
        <input type="radio" name="plataforms">
        Nintendinho
      </label>
      <label class="ls-label-text">
        <input type="radio" name="plataforms">
        Super Nintendo
      </label>
    </div>
  </fieldset>
  <div class="ls-actions-btn">
    <button class="ls-btn">Salvar</button>
    <button class="ls-btn-danger">Excluir</button>
  </div>
</form>
