<form action="" class="ls-form ls-form-inline" data-ls-module="form">
  <label class="ls-label col-md-4">
    <div class="ls-prefix-group">
      <b class="ls-label-text">Data</b>
      <input type="text" name="cel3" class="datepicker" id="datepickerExample" placeholder="dd/mm/aaaa">
      <a class="ls-label-text-prefix ls-ico-calendar" data-trigger-calendar="#datepickerExample" href="#"></a>
    </div>
  </label>
</form>
