<form action="" class="ls-form ls-form-disable" data-ls-module="form">
  <% 3.times do |num| %>
  <label class="ls-field col-md-3">
    <b class="ls-label">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" required >
  </label>
  <% end %>
</form>
