<form action="" class="ls-form ls-form-horizontal ls-form-text" data-ls-module="form">
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" class="ls-field" required>
  </label>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">Senha</b>
    <input type="password" name="senha" placeholder="Campo de senha" class="ls-field" required>
  </label>
  <label class="ls-label col-md-3">
    <b class="ls-label-text">E-mail</b>
    <input type="email" name="email" placeholder="Campo de E-mail" class="ls-field" required>
  </label>
</form>
