<form action="" class="ls-form ls-form-horizontal ls-form-text" data-ls-module="form">
  <label class="ls-field col-md-3">
    <b class="ls-label">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" required >
  </label>
  <label class="ls-field col-md-3">
    <b class="ls-label">Senha</b>
    <input type="password" name="senha" placeholder="Campo de senha" required >
  </label>
  <label class="ls-field col-md-3">
    <b class="ls-label">E-mail</b>
    <input type="email" name="email" placeholder="Campo de E-mail" required >
  </label>
</form>
