<form action="" class="ls-form">
  <% 3.times do |num| %>
  <div class="row" >
    <label class="ls-field col-md-3">
      <span class="ls-label">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome" required />
    </label>
  </div>
  <% end %>
</form>
