<form action="" class="ls-form ls-form-inline">
  <label class="ls-label col-md-5">
    <b class="ls-label-text">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" required >
  </label>
  <label class="ls-label col-md-4">
    <b class="ls-label-text">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email" required >
  </label>
  <div class="ls-actions-btn">
    <button class="ls-btn">Salvar</button>
    <button class="ls-btn-danger">Cancelar</button>
  </div>
</form>
