<form action="" class="ls-form ls-form-horizontal row">
  <fieldset>
    <label class="ls-label col-md-4 col-xs-12">
      <b class="ls-label-text">Nome</b>
      <input type="text" name="nome" placeholder="Primeiro nome" class="ls-field" required>
    </label>
    <label class="ls-label col-md-4 col-xs-12">
      <b class="ls-label-text">Sobrenome</b>
      <input type="text" name="nome" placeholder="Sobrenome" class="ls-field" required>
    </label>  <label class="ls-label col-md-4 col-xs-12">
      <b class="ls-label-text">Nome</b>
      <input type="text" name="nome" placeholder="Primeiro nome" class="ls-field" required>
    </label>
    <label class="ls-label col-md-4 col-xs-12">
      <b class="ls-label-text">Sobrenome</b>
      <input type="text" name="nome" placeholder="Sobrenome" class="ls-field" required>
    </label>
  </fieldset>

    <hr>

  <fieldset>
    <!-- Exemplo com Checkbox -->
    <div class="ls-label col-md-12">
      <p>Selecione quais plataformas você tem:</p>
      <label class="ls-label-text">
        <input type="checkbox" name="dynacom" class="ls-field-checkbox">
        Dynacom
      </label>
      <label class="ls-label-text">
        <input type="checkbox" name="masterSystem" class="ls-field-checkbox">
        MasterSystem sem fio
      </label>
      <label class="ls-label-text">
        <input type="checkbox" name="nintendinho" class="ls-field-checkbox">
        Nintendinho
      </label>
      <label class="ls-label-text">
        <input type="checkbox" name="superNintendo" class="ls-field-checkbox">
        Super Nintendo
      </label>
    </div>
  </fieldset>

    <hr>
  <fieldset>
    <!-- Exemplo com Radio button -->
    <div class="ls-label col-md-12">
      <p>Escolha uma das plataformas:</p>
      <label class="ls-label-text">
        <input type="radio" name="plataforms" class="ls-field-radio">
        Dynacom
      </label>
      <label class="ls-label-text">
        <input type="radio" name="plataforms" class="ls-field-radio">
        MasterSystem sem fio
      </label>
      <label class="ls-label-text">
        <input type="radio" name="plataforms" class="ls-field-radio">
        Nintendinho
      </label>
      <label class="ls-label-text">
        <input type="radio" name="plataforms" class="ls-field-radio">
        Super Nintendo
      </label>
    </div>
  </fieldset>

  <div class="ls-actions-btn">
    <button class="ls-btn">Salvar</button>
    <button class="ls-btn-danger">Cancelar</button>
  </div>
</form>
