<form action="" class="ls-form">
  <div class="row" >
    <label class="ls-field col-md-3 ls-success">
      <span class="ls-label">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome">
      <p class="ls-help-message">Exemplo de texto de sucesso.</p>
    </label>
    <label class="ls-field col-md-3 ls-warning">
      <span class="ls-label">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome">
      <p class="ls-help-message">Exemplo de texto de alerta.</p>
    </label>
    <label class="ls-field col-md-3 ls-error">
      <span class="ls-label">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome">
      <p class="ls-help-message">Exemplo de texto de erro.</p>
    </label>
  </div>
</form>
