<form action="" class="ls-form ls-form-horizontal" data-ls-module="form">
  <label class="ls-field col-md-3">
    <b class="ls-label">Data</b>
    <input type="date" name="cel2" id="datepicker"  >
  </label>
</form>
