<form action="" class="ls-form">

  <div class="row" >
    <label class="ls-field ls-field-inline col-md-6">
      <span class="row">
        <span class="ls-label col-md-2">Nome</span>
        <span class="col-md-10">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
      </span>
    </label>
  </div>

  <div class="row" >
    <label class="ls-field ls-field-inline col-md-4">
      <span class="row">
        <span class="ls-label col-md-3">Nome</span>
        <span class="col-md-9">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
      </span>
    </label>
    <label class="ls-field ls-field-inline col-md-4">
      <span class="row">
        <span class="ls-label col-md-3">Nome</span>
        <span class="col-md-9">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
      </span>
    </label>
    <label class="ls-field ls-field-inline col-md-4">
      <span class="row">
        <span class="ls-label col-md-3">Nome</span>
        <span class="col-md-9">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
      </span>
    </label>

  </div>

  <div class="row" >
    <label class="ls-field ls-field-inline col-md-4">
      <span class="row">
        <span class="ls-label col-md-3">Nome</span>
        <span class="col-md-9">
          <input type="text" name="nome" placeholder="Nome e sobrenome" required >
        </span>
      </span>
    </label>
    <label class="ls-field ls-field-inline col-md-4">
      <span class="ls-label ls-hidden-accessible">Nome</span>
      <input type="text" name="nome" placeholder="Nome e sobrenome" required >
    </label>
    <!--
    <label class="ls-field col-md-4">
      <span class="ls-label ">Sobrenome</span>
      <input type="text" name="nome" placeholder="Sobrenome" required >
    </label>
    <label class="ls-field ls-field-inline">
      <button type="button" class="ls-btn-primary">Salvar</button>
    </label>
     -->
  </div>

</form>
