<form action="" class="ls-form">

  <div class="row" >
    <label class="ls-field ls-field-inline">
      <span class="ls-label col-md-1">Nome</span>
      <input class="col-md-4" type="text" name="nome" placeholder="Nome e sobrenome" required >
    </label>
  </div>

  <div class="row" >
    <label class="ls-field ls-field-inline">
      <span class="ls-label col-md-1">Email</span>
      <input class="col-md-4" type="text" name="nome" placeholder="email 1" required >
    </label>
    <label class="ls-field ls-field-inline">
      <span class="ls-label col-md-1">Email</span>
      <input class="col-md-4" type="text" name="nome" placeholder="email 2" required >
    </label>
  </div>

  <div class="row" >
    <label class="ls-field ls-field-inline">
      <span class="ls-label col-md-1">Nome</span>
      <input class="col-md-2" type="text" name="nome" placeholder="Nome e sobrenome" required >
    </label>
    <label class="ls-field col-md-4">
      <span class="ls-label ls-hidden-accessible">Sobrenome</span>
      <input type="text" name="nome" placeholder="Sobrenome" required >
    </label>
    <label class="ls-field ls-field-inline">
      <button type="button" class="ls-btn-primary">Salvar</button>
    </label>
  </div>

</form>
