<form action="" class="ls-form ls-form-horizontal">
  <label class="ls-field col-md-3 ls-success">
    <b class="ls-label">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome">
    <small class="ls-help-message">Uia! Certa resposta.</small>
  </label>
  <label class="ls-field col-md-3 ls-warning">
    <b class="ls-label">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email">
    <small class="ls-help-message">O seu email parece ter sido removido.</small>
  </label>
  <label class="ls-field col-md-3 ls-error">
    <b class="ls-label">Password</b>
    <input type="password" name="nome" placeholder="Sua senha">
    <small class="ls-help-message">Sua senha está errada, mano.</small>
  </label>
</form>
