<form action="" class="ls-form ls-form-inline">
  <label class="ls-field">
    <b class="ls-label">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" required >
  </label>
  <label class="ls-field">
    <b class="ls-label">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email" required >
  </label>
  <div class="ls-actions-btn">
    <button class="ls-btn">Salvar</button>
    <button class="ls-btn-danger">Cancelar</button>
  </div>
</form>

<br>
<p>Com caixa de filtro:</p>

<div class="ls-box-filter">
  <!-- To do this -->
  <form action="" class="ls-form ls-form-inline ls-float-left">
    <label class="ls-field">
      <b class="ls-label">Status</b>
      <div data-ls-module="customFields">
        <select class="go-to-option" name="">
          <option selected="&quot;selected&quot;" value="/resale/clients">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
          <option value="#">Bloqueados por bounce</option>
        </select>
      </div>
    </label>
  </form>

  <form class="ls-form ls-form-inline ls-float-right">
    <label class="ls-field" role="search">
      <b class="ls-label ls-hidden-accessible">Nome do cliente</b>
      <input type="text" id="q" name="q" aria-label="Faça sua busca por cliente" accesskey="s" placeholder="Nome do cliente" required="">
    </label>
    <div class="ls-actions-btn">
      <input type="submit" value="Buscar" class="ls-btn" title="Buscar">
    </div>
  </form>
</div>
