<form action="" class="ls-form ls-form-horizontal">
  <label class="ls-label col-md-3 ls-success">
    <b class="ls-label-text">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" class="ls-field">
    <small class="ls-help-message">Uia! Certa resposta.</small>
  </label>
  <label class="ls-label col-md-3 ls-warning">
    <b class="ls-label-text">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email" class="ls-field">
    <small class="ls-help-message">O seu email parece ter sido removido.</small>
  </label>
  <label class="ls-label col-md-3 ls-error">
    <b class="ls-label-text">Password</b>
    <input type="password" name="nome" placeholder="Sua senha" class="ls-field">
    <small class="ls-help-message">Sua senha est치 errada, mano.</small>
  </label>
  <label class="ls-label col-md-3 ls-success">
    <b class="ls-label-text">Coment치rio</b>
    <textarea name="" id="" cols="30" rows="5"></textarea>
    <small class="ls-help-message">Mensagem correta.</small>
  </label>
  <label class="ls-label col-md-3 ls-warning">
    <b class="ls-label-text">Coment치rio</b>
    <textarea name="" id="" cols="30" rows="5"></textarea>
    <small class="ls-help-message">Mensagem de alerta.</small>
  </label>
  <label class="ls-label col-md-3 ls-error">
    <b class="ls-label-text">Coment치rio</b>
    <textarea name="" id="" cols="30" rows="5"></textarea>
    <small class="ls-help-message">Mensage de erro.</small>
  </label>
</form>
