<p>Com caixa de filtro:</p>
<div class="ls-box-filter">

  <!-- To do this -->
  <form action="" class="ls-form ls-form-inline ls-float-left">
    <label class="ls-field">
      <b class="ls-label">Status</b>
      <div data-ls-module="customFields">
        <div class="ls-custom-select-one go-to-option"><select class="go-to-option" name="">
          <option selected="&quot;selected&quot;" value="/resale/clients">Todos</option>
          <option value="/resale/clients?state=unblocked">Ativos</option>
          <option value="/resale/clients?state=disabled">Desativados</option>
          <option value="/resale/clients?state=blocked">Bloqueados por bounce</option>
        </select><span class="ls-field-custom-select-one">Todos</span></div>
      </div>
    </label>
  </form>

  <form accept-charset="UTF-8" action="/resale/clients" class="ls-form ls-float-right buffer-inserted" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <label class="ls-field" role="search">

      <b class="ls-label ls-hidden-accessible">Nome do cliente</b>
      <input type="text" id="q" name="q" aria-label="Faça sua busca por cliente" accesskey="s" placeholder="Nome do cliente" required="">
    </label>
    <input type="submit" value="Buscar" class="ls-btn" title="Buscar">
  </form>

</div>

<br>
<br>

<p>Opção sem caixa de filtro:</p>
  <form action="" class="ls-form ls-form-inline">
  <label class="ls-field">
    <b class="ls-label">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" required >
  </label>
  <label class="ls-field">
    <b class="ls-label">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email" required >
  </label>
  <button class="ls-btn">Salvar</button>
  <button class="ls-btn-danger">Cancelar</button>
  </form>
<br>
<br>
