<form action="" class="ls-form">
  <label class="ls-field col-md-3 ls-success">
    <b class="ls-label">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome">
    <p class="ls-help-message">Uia! Certa resposta.</p>
  </label>
  <label class="ls-field col-md-3 ls-warning">
    <b class="ls-label">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email">
    <p class="ls-help-message">O seu email parece ter sido removido.</p>
  </label>
  <label class="ls-field col-md-3 ls-error">
    <b class="ls-label">Password</b>
    <input type="text" name="nome" placeholder="Sua senha">
    <p class="ls-help-message">Sua senha está errada, mano.</p>
  </label>
</form>
