<form action="" class="ls-form ls-form-horizontal row">
  <label class="ls-field col-md-3">
    <b class="ls-label">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" required >
  </label>
  <label class="ls-field col-md-3">
    <b class="ls-label">Sobrenome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" required >
  </label>
  <button class="ls-btn">Salvar</button>
  <button class="ls-btn-danger">Cancelar</button>
</form>
