<form class="ls-form ls-form-horizontal">
  <label class="ls-label ls-no-margin-bottom col-md-12">
    <b class="ls-label-text" for="emails-list">Adicionar um e-mail</b>
  </label>

  <div class="ls-label col-md-6">
    <input type="email" placeholder="E-mail">
  </div>

  <div class="col-md-6">
    <span class="ls-inline-text">ou</span>
    <a href="#" class="ls-btn-primary ls-no-margin-top">Novo E-mail</a>
  </div>
</form>
