<form action="" class="ls-form row ls-form-horizontal">
  <label class="ls-label col-md-4 ls-success">
    <b class="ls-label-text">Nome</b>
    <input type="text" name="nome" placeholder="Nome e sobrenome" class="ls-field">
    <small class="ls-help-message">Uia! Certa resposta.</small>
  </label>
  <label class="ls-label col-md-4 ls-warning">
    <b class="ls-label-text">E-mail</b>
    <input type="text" name="email" placeholder="Escreva seu email" class="ls-field">
    <small class="ls-help-message">O seu email parece ter sido removido.</small>
  </label>
  <label class="ls-label col-md-4 ls-error">
    <b class="ls-label-text">Password</b>
    <input type="password" name="nome" placeholder="Sua senha" class="ls-field">
    <small class="ls-help-message">Sua senha est치 errada, mano.</small>
  </label>
  <label class="ls-label col-md-4 ls-success">
    <b class="ls-label-text">Coment치rio</b>
    <textarea name="" id="" cols="30" rows="5"></textarea>
    <small class="ls-help-message">Mensagem correta.</small>
  </label>
  <label class="ls-label col-md-4 ls-warning">
    <b class="ls-label-text">Coment치rio</b>
    <textarea name="" id="" cols="30" rows="5"></textarea>
    <small class="ls-help-message">Mensagem de alerta.</small>
  </label>
  <label class="ls-label col-md-4 ls-error">
    <b class="ls-label-text">Coment치rio</b>
    <textarea name="" id="" cols="30" rows="5"></textarea>
    <small class="ls-help-message">Mensage de erro.</small>
  </label>
  <label class="ls-label col-md-4 ls-success">
    <b class="ls-label-text">Selecione a cor</b>
    <div class="ls-custom-select">
      <select class="ls-select">
        <option value="1"> Cor 1 </option>
        <option value="2"> Cor 2 </option>
        <option value="3"> Cor 3 </option>
        <option value="4"> Cor 4 </option>
      </select>
    </div>
    <small class="ls-help-message">Mensagem correta.</small>
  </label>
  <label class="ls-label col-md-4 ls-warning">
    <b class="ls-label-text">Selecione a cor</b>
    <div class="ls-custom-select">
      <select class="ls-select">
        <option value="1"> Cor 1 </option>
        <option value="2"> Cor 2 </option>
        <option value="3"> Cor 3 </option>
        <option value="4"> Cor 4 </option>
      </select>
    </div>
    <small class="ls-help-message">Mensagem correta.</small>
  </label>
  <label class="ls-label col-md-4 ls-error">
    <b class="ls-label-text">Selecione a cor</b>
    <div class="ls-custom-select">
      <select class="ls-select">
        <option value="1"> Cor 1 </option>
        <option value="2"> Cor 2 </option>
        <option value="3"> Cor 3 </option>
        <option value="4"> Cor 4 </option>
      </select>
    </div>
    <small class="ls-help-message">Mensagem correta.</small>
  </label>
</form>
