---
title: Contribua - Documentação
menu_page: sidebar-contribua.erb
---
<header>
  <!-- <h2 class="ico-edit">Aprenda o básico</h2> -->
  <h1>Documentação</h1>
  <h3>Padrões de documentação e exemplos</h3>
</header>

