<footer class="doc-footer">
  <div class="container">
   <ul class="doc-social-link">
      <!-- <li> <a href="" class="doc-social-facebook">facebook</a> </li> -->
      <li> <% link_to "http://twitter.com/locawebdevnet", :target => "_blank", :class =>"doc-social-twitter" do %>twitter<% end %> </li>
    </ul>
    <a href="http://locaweb.com.br/" class="doc-logo-footer"><img src="<%= base_url %>/assets/images/docs/locaweb-logo.png" alt=""></a>
    <p class="doc-copyright">
      Copyright © 1997-2015 Serviços de Internet S/A.
    </p>
  </div>
</footer>

<%= javascript_include_tag "libs/jquery-2.1.0.min", "locastyle", "docs" %>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51cdc3552ecf7080"></script>
</body>
</html>
