<aside class="col-md-3">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/introducao/", "Informações iniciais")%>
      <%= menu_tag("/documentacao/introducao/downloads/", "Downloads")%>
      <%= menu_tag("/documentacao/introducao/contribua/", "Contribua")%>
    </ul>
  </nav>
</aside>
