<% @documentation = sub_pages('documentacao') %>

<aside class="doc-sidebar col-md-3">
<div class="doc-sidebar-inner">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/praticas/", "Introdução")%>
      <%= menu_tag("/documentacao/praticas/html/", "HTML")%>
      <%= menu_tag("/documentacao/praticas/css/", "CSS")%>
      <%= menu_tag("/documentacao/praticas/javascript/", "Javascript")%>
    </ul>
  </nav>
</div>
</aside>
