<aside class="col-md-3">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/funcoes-js", "Alternar Classes")%>
      <%= menu_tag("/documentacao/funcoes-js/alternar-textos", "Alternar textos")%>
      <%= menu_tag("/documentacao/funcoes-js/dismiss", "Dismiss")%>
      <%#= menu_tag("/documentacao/funcoes-js/rolagem-suave", "Rolagem suave")%>
    </ul>
  </nav>
</aside>
