<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Tabindex', 'tabindex.html' %></li>
		<li><%= link_to 'Menu escondido', 'menu-escondido.html' %></li>
		<li><%= link_to 'WAI-ARIA', 'wai-aria.html' %></li>
		<li><%= link_to 'Link ir direto para o conteúdo', 'link-content.html' %></li>
	</ul>
</nav>