<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
    <li><%= link_to "Introdução", "#{base_url}/manual/contribua/inicio" %></li>
    <li><%= link_to "Mixins", "#{base_url}/manual/contribua/mixins" %></li>
    <!-- <li><%= link_to "CSS/SASS", "#{base_url}/manual/contribua/sass" %></li>
		<li><%= link_to "Documentação", "#{base_url}/manual/contribua/documentacao" %></li> -->
	</ul>
</nav>
