<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Geral", "#{base_url}/manual/estilo/geral" %></li>
		<li><%= link_to "HTML", "#{base_url}/manual/estilo/html" %></li>
    <li><%= link_to "CSS", "#{base_url}/manual/estilo/css" %></li>
		<li><%= link_to "Javascript", "#{base_url}/manual/estilo/javascript" %></li>
	</ul>
</nav>
