<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Depêndencias e instruções', 'informacoes-iniciais.html' %></li>
		<li><%= link_to 'Instalação e como usar', 'como-usar.html' %></li>
		<li><%= link_to 'Prática de escrita de código', 'praticas-front-end.html' %></li>
	</ul>
</nav>