<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Instalação e como usar", "#{base_url}/manual/introducao/como-usar" %></li>
    <li><%= link_to "Dependências e instruções", "#{base_url}/manual/introducao/informacoes-iniciais" %></li>
		<li><%= link_to "Contribua", "#{base_url}/manual/contribua/inicio" %></li>
	</ul>
</nav>
