<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Tabindex', 'tabindex' %></li>
		<li><%= link_to 'Menu escondido', 'menu-escondido' %></li>
		<li><%= link_to 'WAI-ARIA', 'wai-aria' %></li>
		<li><%= link_to 'Link ir direto para o conteúdo', 'link-content' %></li>
	</ul>
</nav>
