<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Instalação e como usar', 'como-usar' %></li>
		<li><%= link_to 'Depêndencias e instruções', 'informacoes-iniciais' %></li>
		<li><%= link_to 'Prática de escrita de código', 'praticas-front-end' %></li>
	</ul>
</nav>
