---
title: Layout - Cores Principais
layout: v1/layouts/page
menu_page: v1/partials/sidebar-layout.erb
---

<header>
  <h1>Cores Principais</h1>
  <h3>Exemplo de cores dos principais projetos.</h3>
</header>

<article class="text">
<p>Você pode querer mudar a cor principal do seu sistema. Preparamos algumas classes que mudam as cores principais do Locaweb Style e de seus elementos, sem dar tanto trabalho para nós. Essas cores são atualizadas de acordo com os projetos que temos aqui.</p>

<p>Se você quiser mudar as cores de todo o sistema, basta inserir a classe desejada na tag HTML. Se você quiser que os uma parte do layout fique com outras cores, basta adicionar a classe de cor no elemento pai. Veja abaixo a listagem das classes:</p>
<table class="table table-bordered table-stripped">
	<tbody>
		<tr>
			<td class="colorBlue"><a href="#">.colorBlue</a></td>
			<td class="colorAqua"><a href="#">.colorAqua</a></td>
			<td class="colorWine"><a href="#">.colorWine</a></td>

		</tr>
		<tr>
			<td class="colorLightBlue"><a href="#">.colorLightBlue</a></td>
			<td class="colorGreen"><a href="#">.colorGreen</a></td>
			<td class="colorOrange"><a href="#">.colorOrange</a></td>
		</tr>
		<tr>
			<td class="colorNavyBlue"><a href="#">.colorNavyBlue</a></td>
			<td class="colorPurple"><a href="#">.colorPurple</a></td>
			<td class="colorYellow"><a href="#">.colorYellow</a></td>
		</tr>
	</tbody>
</table>

<header class="headerPrincipal colorGreen noBorder" role="banner">
	<menu id="menuPrincipal" role="navigation">
		<ul>
			<li class="selected"><a href="/" tabindex="2" role="menuitem">Página inicial</a></li>
			<li><a href="#transactions" tabindex="2" role="menuitem">Transações</a></li>
			<li><a href="#settings" tabindex="2" role="menuitem">Meios de pagamento</a></li>
		</ul>
	</menu>
</header>
<header class="headerPrincipal colorOrange noBorder" role="banner">
	<menu id="menuPrincipal" role="navigation">
		<ul>
			<li class="selected"><a href="/" tabindex="2" role="menuitem">Página inicial</a></li>
			<li><a href="#transactions" tabindex="2" role="menuitem">Transações</a></li>
			<li><a href="#settings" tabindex="2" role="menuitem">Meios de pagamento</a></li>
		</ul>
	</menu>
</header>
<header class="headerPrincipal colorBlue noBorder" role="banner">
	<menu id="menuPrincipal" role="navigation">
		<ul>
			<li class="selected"><a href="/" tabindex="2" role="menuitem">Página inicial</a></li>
			<li><a href="#transactions" tabindex="2" role="menuitem">Transações</a></li>
			<li><a href="#settings" tabindex="2" role="menuitem">Meios de pagamento</a></li>
		</ul>
	</menu>
</header>
<header class="headerPrincipal colorPurple noBorder" role="banner">
	<menu id="menuPrincipal" role="navigation">
		<ul>
			<li class="selected"><a href="/" tabindex="2" role="menuitem">Página inicial</a></li>
			<li><a href="#transactions" tabindex="2" role="menuitem">Transações</a></li>
			<li><a href="#settings" tabindex="2" role="menuitem">Meios de pagamento</a></li>
		</ul>
	</menu>
</header>
</article>
