---
title: Layout - Erro 404
layout: v1/layouts/page
menu_page: v1/partials/sidebar-layout.erb
---

<header>
  <h1>Erro 404</h1>
  <h3>Exemplo de página de Erro 404 com Locaweb Style.</h3>
</header>

<article class="text">
<div id="main" class="systemError">
    <div class="limit">
        <div class="row">
            <div class="span16">
                <h1 class="titError">Página não encontrada</h1>

                <p>O conteúdo pode ter sido removido ou não estar mais disponível.</p>

                <p><strong>Você pode:</strong></p>
                <ol>
                    <li>Verificar se digitou corretamente o endereço desejado.</li>
                    <li>Retornar à página inicial</li>
                </ol>
            </div><!-- FIM SPAN CONTENT -->
        </div>
    </div> <!-- FIM LIMIT ROW -->
</div>
</article>
