---
title: Layout - Erro 505
layout: v1/layouts/page
menu_page: v1/partials/sidebar-layout.erb
---

<header>
  <h1>Erro 505</h1>
  <h3>Exemplo de página de Erro 505 com Locaweb Style.</h3>
</header>

<article class="text">
<div id="main">
    <div class="limit">
        <div class="row">
            <div class="span16">
                <h1 class="titError">Erro interno do sistema</h1>

                <p>Ocorreu uma instabilidade temporária que impediu a exibição do conteúdo. Nossa equipe técnica foi notificada e estamos trabalhando para resolvê-lo.</p>

                <p><strong>Você pode:</strong></p>
                <ol>
                    <li>Recarregar a página clicando no botão Atualizar do seu navegador.</li>
                    <li>Retornar à <a href="/">página inicial</a>.</li>
                    <li>Se o problema persistir, aguarde alguns instantes e acesse novamente a <a href="#">Central do Cliente</a>.</li>
                </ol>
            </div><!-- FIM SPAN CONTENT -->
        </div>
    </div> <!-- FIM LIMIT ROW -->
</div> <!-- FIM MAIN -->
</article>
