---
title: Layout - Footer
layout: v1/layouts/page
menu_page: v1/partials/sidebar-layout.erb
---

<header>
  <h1>Footer</h1>
  <h3>Exemplo de footer padrão do Locaweb Style.</h3>
</header>

<article class="text">
<pre class="lang-html prettyprint linenums">
&lt;footer id="footer"&gt;
  &lt;div class="footerTop"&gt;
    &lt;div class="limit"&gt;
      &lt;nav&gt;
        &lt;h6&gt;Atendimento&lt;/h6&gt;
        &lt;ul&gt;
          &lt;li class="ico-helpDesk"&gt;&lt;a href="#"&gt;HelpDesk&lt;/a&gt;&lt;/li&gt;
          &lt;li class="ico-chat"&gt;&lt;a href="#"&gt;Chat&lt;/a&gt;&lt;/li&gt;
          &lt;li class="ico-phone"&gt;&lt;a href="#"&gt;Telefone&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;a href="#" class="lnkArrow lnkArrowWhite fright"&gt;Ver todas as formas de atendimento&lt;/a&gt;
      &lt;/nav&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="subfooter"&gt;
    &lt;div class="limit"&gt;
      &lt;span class="lastAccess"&gt;&lt;strong&gt;Último acesso:&lt;/strong&gt; 7/8/2011 22:35:49
      &lt;strong&gt;IP:&lt;/strong&gt; 201.87.65.217
      &lt;p class="copyRight fright"&gt;Copyright © 1997-2013 Locaweb Serviços de Internet S/A.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;
</pre>
</article>
