---
title: Layout - Header
layout: v1/layouts/page
menu_page: v1/partials/sidebar-layout.erb
---

<header>
  <h1>Header</h1>
  <h3>Exemplo de header padrão do Locaweb Style.</h3>
</header>

<article class="text">
<p>Header principal dos sistemas. </p>

<pre class="lang-html prettyprint linenums">
&lt;header id="header"&gt;
	&lt;div class="limit"&gt;
		&lt;h1 class="serviceName"&gt;&lt;a href="/"&gt;Nome do projeto&lt;/a&gt;&lt;/h1&gt;
	&lt;/div&gt;

	&lt;menu id="menuPrincipal"&gt;
		&lt;ul&gt;
			&lt;li class="selected"&gt;&lt;a href="/"&gt;Página inicial&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href="#transactions"&gt;Transações&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href="#settings"&gt;Meios de pagamento&lt;/a&gt;&lt;/li&gt;
			&lt;li class="btMenu"&gt;&lt;a href="#"&gt;Ambiente de testes&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/menu&gt;
&lt;/header&gt;
</pre>

<p>Veja <a href="http://developer.locaweb.com.br/locawebstyle/exemplos/header/">um exemplo aqui</a>.</p>
</article>
