---
title: Componentes - Alertas
menu_page: sidebar-componentes.erb
---
	<header>
		<h1>Alertas</h1>
		<h3>Alertas são usadas para enviar um feedback contextual de sucesso, erro, warning ou apenas uma notificação de novas features no sistema. </h3>
	</header>

	<h2>Exemplos</h2>
	<p>Os alertas seguem o mesmo padrão do Bootstrap. Envolva qualquer texto com uma classe <code>.alert</code> juntamente com classes contextuais como <code>.alert-sucess</code>. Veja abaixo exemplos:</p>
	<div class="bs-callout bs-callout-info">
		<h4>Não existe uma classe padrão</h4>
		<p>Alertas não tem classes padrão, apenas uma classe de base (<code>.alert</code>) e as classes de modificação. Por isso você sempre deverá inserir uma classe de contexto para indicar qual o teor do alerta.</p>
	</div>

	<div class="example">
		<div class="alert alert-success"><p><strong>Sucesso!</strong> Você conseguiu, parabéns!</p></div>
		<div class="alert alert-info"><p><strong>Atenção:</strong> você tem informações importantes para ler.</p></div>
		<div class="alert alert-warning"><p><strong>Cuidado:</strong> cheque duas vezes. Você pode ter esquecido alguma informação.</p></div>
		<div class="alert alert-danger"><p><strong>Mórreu:</strong> Algo muito ruim aconteceu e você vai precisar refazer tudo.</p></div>
	</div>
<pre class="lang-html prettyprint-code linenums">
<div class="alert alert-success">...</div>
<div class="alert alert-info">...</div>
<div class="alert alert-warning">...</div>
<div class="alert alert-danger">...</div>
</pre>

	<h2>Fechando alertas</h2>
	<p>Você pode colocar um botãozinho para fechar o alerta inserindo a classe <code>.alert-dismissable</code> em qualquer alerta e também inserindo um botão de dismiss, que pode ser um botão ou um link.</p>

	<div class="example">
		<div class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
			<p><strong>Sucesso!</strong> Você conseguiu, parabéns!</p>
		</div>
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p><strong>Atenção:</strong> você tem informações importantes para ler.</p>
		</div>
	</div>

<pre class="lang-html prettyprint-code linenums">
<div class="alert alert-success alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
	<p><strong>Atenção:</strong> você tem informações importantes para ler. <a href="#" class="alert-link">Veja mais detalhes aqui.</a></p>
</div>
</pre>

	<div class="bs-callout bs-callout-warning">
		<h4>Acessibilidade</h4>
		<p>Utilize a classe <code>.alert-focus</code>, com isso ele recebe o foco visual (rolagem na tela) e os leitores de tela conseguem entender automaticamente a mensagem que ali consta, por exemplo em sucesso ou erro de formulários isso é fundamental para o usuário.</p>
	</div>

	<h2>Links internos</h2>
	<p>Para que os links fiquem com estilizados conforme cada alerta, basta inserir os links com a classe <code>.alert-link</code></p>

	<div class="example">
		<div class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
			<p><strong>Atenção:</strong> você tem informações importantes para ler. <a href="#" class="alert-link">Veja mais detalhes aqui.</a></p>
		</div>
	</div>

<pre class="lang-html prettyprint linenums">
&lt;div class=&quot;alert alert-success alert-dismissable&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/a&gt;
	&lt;p&gt;&lt;strong&gt;Aten&ccedil;&atilde;o:&lt;/strong&gt; voc&ecirc; tem informa&ccedil;&otilde;es importantes para ler. &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;Veja mais detalhes aqui.&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;
</pre>

