---
title: Componentes - Box de informações
menu_page: sidebar-componentes.erb
---

<header>
	<h1>Box de Informações</h1>
	<h3>Box com variações de layout com colunas de informações que utilizam os grids do bootstrap.</h3>
</header>

<h3>Caixa com 3 colunas sem o header</h3>
<div class="example">
	<div class="box-info">
		<div class="box-info-grid row-fluid">
			<div class="col-md-4">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-4">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-4">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
		</div>
	</div>
</div>
<pre class="linenums prettyprint-code lang-html">
<div class="box-info">
	<div class="box-info-grid row-fluid">
		<div class="col-md-4">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-4">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-4">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
	</div>
</div>
</pre>

<h3>Caixas com header + 2 colunas</h3>
<div class="example">
	<div class="box-info">
		<header>
			<h3 class="title-box-info">Título</h3>
			<a href="#" class="btn btn-primary f-right">Botão</a>
		</header>
		<div class="box-info-grid row-fluid">
			<div class="col-md-3">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-8 txt-left">
				<a href="#" class="ico-question" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="top" data-content="Um texto bem legal e bonito por aqui." data-title="Título"  title=""></a>
				Cancelar recorrência
			</div>
		</div>
	</div>
</div>
<pre class="linenums prettyprint-code lang-html">
<div class="box-info">
	<header>
		<h3 class="title-box-info">Título</h3>
		<a href="#" class="btn btn-primary f-right">Botão</a>
	</header>
	<div class="box-info-grid row-fluid">
		<div class="col-md-3">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-8 txt-left">
			<a href="#" class="ico-question" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="top" data-content="Um texto bem legal e bonito por aqui." data-title="Título"  title=""></a>
			Cancelar recorrência
		</div>
	</div>
</div>
</pre>

<h3>Caixas com header + 4 colunas + conteúdo qualquer</h3>
<div class="example">
	<div class="box-info">
		<header>
			<h3 class="title-box-info">Título</h3>
			<a href="#" class="btn btn-primary f-right">Botão</a>
		</header>
		<div class="box-info-grid row-fluid">
			<div class="col-md-3">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-3">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-3">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-3">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
		</div>
		<div class="box-info-content">
			<p>Aqui vai qualquer conteúdo </p>
		</div>
	</div>
</div>
<pre class="linenums prettyprint-code lang-html">
<div class="box-info">
	<header>
		<h3 class="title-box-info">Título</h3>
		<a href="#" class="btn btn-primary f-right">Botão</a>
	</header>
	<div class="box-info-grid row-fluid">
		<div class="col-md-3">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-3">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-3">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-3">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
	</div>
	<div class="box-info-content">
		<p>Aqui vai qualquer conteúdo </p>
	</div>
</div>
</pre>

<h3>Caixas com header + título com ícone </h3>
<div class="example">
	<div class="box-info">
		<header>
			<h3 class="title-box-info ico-calendar-check">
				Título com ícone
				<small>Alguma descrição aqui</small>
			</h3>
			<a href="#" class="btn btn-primary f-right">Botão</a>
		</header>
		<div class="box-info-grid row-fluid">
			<div class="col-md-4">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-4">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-4">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
		</div>
	</div>
</div>
<pre class="linenums prettyprint-code lang-html">
<div class="box-info">
	<header>
		<h3 class="title-box-info ico-calendar-check">
			Título com ícone
			<small>Alguma descrição aqui</small>
		</h3>
		<a href="#" class="btn btn-primary f-right">Botão</a>
	</header>
	<div class="box-info-grid row-fluid">
		<div class="col-md-4">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-4">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-4">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
	</div>
</div>
</pre>

<h3>Caixas com 5 colunas</h3>
<p>É necessário inserir a class <code>.box-info-5</code> e tudo fica perfeito.</p>
<div class="example">
	<div class="box-info box-info-5">
		<header>
			<h3 class="title-box-info">Título simples</h3>
			<a href="#" class="btn btn-primary f-right">Botão</a>
		</header>
		<div class="box-info-grid row-fluid">
			<div class="col-md-2">
				<span class="title-box ">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-2">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-2">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-2">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
			<div class="col-md-2">
				<span class="title-box">informação</span>
				<strong class="value-box">0</strong>
			</div>
		</div>
	</div>
</div>
<pre class="linenums prettyprint-code lang-html">
<div class="box-info box-info-5">
	<header>
		<h3 class="title-box-info">Título simples</h3>
		<a href="#" class="btn btn-primary f-right">Botão</a>
	</header>
	<div class="box-info-grid row-fluid">
		<div class="col-md-2">
			<span class="title-box ">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-2">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-2">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-2">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
		<div class="col-md-2">
			<span class="title-box">informação</span>
			<strong class="value-box">0</strong>
		</div>
	</div>
</div>
</pre>
