---
title: Componentes - Breadcrumb
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Breadcrumb</h1>
	<h3>Indica a localização da página atual dentro de uma hierarquia de navegação.</h3>
</header>

<p>Breadcrumbs são listas ordenadas simples que indicam onde o usuário está juntamente com usa hierarquia de navegação.</p>
<p>O funcionamento é simples. Veja um exemplo abaixo:</p>

<div class="example">
	<!-- Breadcrumb com 1 item -->
	<ol class="breadcrumb container">
		<li>Início</li>
	</ol>
</div>
<pre class="lang-html prettyprint-code linenums">
<!-- Breadcrumb com 1 item -->
<ol class="breadcrumb container">
	<li>Início</li>
</ol>
</pre>

<p>Exemplo com mais páginas visitadas:</p>
<div class="example">
	<ol class="breadcrumb container">
		<li><a href="#">Início</a></li>
		<li><a href="#">Mensagens</a></li>
		<li>Contato</li>
	</ol>
</div>

<pre class="lang-html prettyprint-code linenums">
<ol class="breadcrumb container">
	<li><a href="#">Início</a></li>
	<li><a href="#">Mensagens</a></li>
	<li>Contato</li>
</ol>
</pre>
