---
title: Componentes - Slider
menu_page: sidebar-componentes.erb
---
  <header>
    <h1>Slider</h1>
    <h3>Alternando entre informações ou imagens</h3>
  </header>

  <p>Este slider pode ser usado utilizando imagens, como o exemplo abaixo ou como é usado para mostrar dicas na sidebar, com texto simples. Segue o mesmo padrão do Bootstrap e é muito flexível.</p>
  <br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
        <img src="http://31.media.tumblr.com/6c5d3876dd9858685cc8b584503101b1/tumblr_mve3kz3WG21st5lhmo1_1280.jpg" alt="">
        <div class="carousel-caption">
          <h3>Primeiro Slide</h3>
        </div>
      </div>
      <div class="item">
        <img src="http://24.media.tumblr.com/23e3f4bb271b8bdc415275fb7061f204/tumblr_mve3rvxwaP1st5lhmo1_1280.jpg" alt="">
        <div class="carousel-caption">
          <h3>Segundo Slide</h3>
        </div>
      </div>
      <div class="item">
        <img src="http://31.media.tumblr.com/098217f18533a8971385d0c59004d810/tumblr_muuj37kqN21st5lhmo1_1280.jpg" alt="">
        <div class="carousel-caption">
          <h3>Terceiro Slide</h3>
        </div>
      </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="ico-direction-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="ico-direction-right"></span>
  </a>
</div>


<pre class="lang-html prettyprint-code linenums">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicaadores -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper dos slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controles -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</pre>

  <h3>Utilização</h3>
  <pre class="lang-javascript prettyprint linenums">$('.carousel').carousel();</pre>

  <p>Você pode definir os intervalos com o atributo <code>data-interval</code> ou quando o slider irá pausar:</p>

  <table class="table table-bordered table-striped">
    <thead>
     <tr>
       <th style="width: 100px;">Nome</th>
       <th style="width: 50px;">type</th>
       <th style="width: 50px;">Padrãoth>
         <th>Descrição</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>interval</td>
         <td>number</td>
         <td>5000</td>
         <td>A quantidade de tempo de delay entre o ciclo automático do ítem. Se for false, o carousel não irá circular automaticamente. </td>
       </tr>
       <tr>
         <td>pause</td>
         <td>string</td>
         <td>"hover"</td>
         <td>Pausa o ciclo do carousel no mouseenter e volta o ciclo no mouseleave.</td>
       </tr>
     </tbody>
   </table>
   <h3>Métodos</h3>
   <p>Para utilização em scripts personalizados, você pode utilizar os seguinte métodos para controlar o carousel/slider.</p>
   <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.carousel('cycle')</td>
        <td>Faz o carousel circular da esquerda para direita.</td>
      </tr>
      <tr>
        <td>.carousel('pause')</td>
        <td>Pára o carousel.</td>
      </tr>
      <tr>
        <td>.carousel(number)</td>
        <td>Circula o carousel para um item em particular. Similar a uma array.</td>
      </tr>
      <tr>
        <td>.carousel('prev')</td>
        <td>Circula o carousel para o ítem anterior.</td>
      </tr>
      <tr>
        <td>.carousel('next')</td>
        <td>Circula o carousel para um ítem a frente.</td>
      </tr>
    </tbody>
  </table>

  <h3>Eventos</h3>
  <p>Eventos que são ativados quando o carousel/slider for utilizado.</p>
  <table class="table table-bordered table-striped">
    <thead>
     <tr>
       <th style="width: 150px;">Evento</th>
       <th>Descrição</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>slide</td>
       <td>Este evento dispara imediatamente quando a instacia do método é chamada.</td>
     </tr>
     <tr>
       <td>slid</td>
       <td>Este evento é disparado quando a transição do carousel for completada.</td>
     </tr>
   </tbody>
 </table>

