---
title: Componentes - Choosebox

menu_page: sidebar-componentes.erb
---

<header>
	<h1>Choose Box</h1>
	<h3>Se você precisa organizar conteúdos dentro de grupos e indicar etapas, esse elemento é perfeito pra você!</h3>
</header>

<article class="text colorCyanogen">
	<div class="example">
		<div class="chooseBox">
			<ul class="row-fluid">
				<li class="span3 active">
					<h4 class="ico-news-journal">Templates prontos</h4>
					<p>Modelos prontos para você usar seu conteúdo.</p>
					<a href="#template_defaults" aria-label="Modelos prontos para você usar seu conteúdo." class="lnkChoose change_template template_defaults" data-src="/panel/template_defaults" tabindex="3" title="Modelos prontos para você usar seu conteúdo.">Meus templates</a>
				</li>
				<li class="span3">
					<h4 class="ico-archive-file">Meus templates</h4>
					<p>Modelos que você salvou como padrão para suas mensagens.</p>
					<a href="#my_templates" aria-label="Modelos que você salvou como padrão para suas mensagens." class="lnkChoose change_template my_templates" data-src="/panel/my_templates?resource_name=message" tabindex="3" title="Modelos que você salvou como padrão para suas mensagens.">Meus templates</a>
				</li>
				<li class="span3">
					<h4 class="ico-monitor-code">Código HTML</h4>
					<p>Crie o seu próprio código e personalize suas mensagens.</p>
					<a href="#html_code" aria-label="Crie o seu próprio código e personalize suas mensagens." class="lnkChoose btn_code" tabindex="3" title="Crie o seu próprio código e personalize suas mensagens.">Código HTML</a>
				</li>
				<li class="span3">
					<h4 class="ico-monitor-download">Importar URL</h4>
					<p>Importe modelos prontos a partir de um link externo.</p>
					<a href="#modalImportUrl" aria-label="Importe modelos prontos a partir de um link externo." class="lnkChoose" data-target="#modalImportUrl" data-toggle="modal" tabindex="3" title="Importe modelos prontos a partir de um link externo.">Importar URL</a>
				</li>
			</ul>
		</div>
		<div class="chooseBox">
			<ul class="row-fluid">
				<li class="span4 active">
					<h4 class="ico-news-journal">Templates prontos</h4>
					<p>Modelos prontos para você usar seu conteúdo.</p>
					<a href="#template_defaults" aria-label="Modelos prontos para você usar seu conteúdo." class="lnkChoose change_template template_defaults" data-src="/panel/template_defaults" tabindex="3" title="Modelos prontos para você usar seu conteúdo.">Meus templates</a>
				</li>
				<li class="span4">
					<h4 class="ico-archive-file">Meus templates</h4>
					<p>Modelos que você salvou como padrão para suas mensagens.</p>
					<a href="#my_templates" aria-label="Modelos que você salvou como padrão para suas mensagens." class="lnkChoose change_template my_templates" data-src="/panel/my_templates?resource_name=message" tabindex="3" title="Modelos que você salvou como padrão para suas mensagens.">Meus templates</a>
				</li>
				<li class="span4">
					<h4 class="ico-monitor-code">Código HTML</h4>
					<p>Crie o seu próprio código e personalize suas mensagens.</p>
					<a href="#html_code" aria-label="Crie o seu próprio código e personalize suas mensagens." class="lnkChoose btn_code" tabindex="3" title="Crie o seu próprio código e personalize suas mensagens.">Código HTML</a>
				</li>
			</ul>
		</div>
		<div class="chooseBox">
			<ul class="row-fluid">
				<li class="span6 active">
					<h4 class="ico-news-journal">Templates prontos</h4>
					<p>Modelos prontos para você usar seu conteúdo.</p>
					<a href="#template_defaults" aria-label="Modelos prontos para você usar seu conteúdo." class="lnkChoose change_template template_defaults" data-src="/panel/template_defaults" tabindex="3" title="Modelos prontos para você usar seu conteúdo.">Meus templates</a>
				</li>
				<li class="span6">
					<h4 class="ico-archive-file">Meus templates</h4>
					<p>Modelos que você salvou como padrão para suas mensagens.</p>
					<a href="#my_templates" aria-label="Modelos que você salvou como padrão para suas mensagens." class="lnkChoose change_template my_templates" data-src="/panel/my_templates?resource_name=message" tabindex="3" title="Modelos que você salvou como padrão para suas mensagens.">Meus templates</a>
				</li>
			</ul>
		</div>
		<div class="chooseBox">
			<ul class="row-fluid">
				<li class="span12 active">
					<h4 class="ico-news-journal">Templates prontos</h4>
					<p>Modelos prontos para você usar seu conteúdo.</p>
					<a href="#template_defaults" aria-label="Utilizando .span12" class="lnkChoose change_template template_defaults" data-src="/panel/template_defaults" tabindex="3" title="Utilizando .span12">Meus templates</a>
				</li>
			</ul>
		</div>
	</div>
	<pre class="lang-html prettyprint linenums">
&lt;div class=&quot;chooseBox&quot;&gt;
	&lt;ul class=&quot;row-fluid&quot;&gt;
		&lt;li class=&quot;span12&quot;&gt;
			&lt;h4 class=&quot;ico-news-journal&quot;&gt;Templates prontos&lt;/h4&gt;
			&lt;p&gt;Utilizando .span12&lt;/p&gt;
			&lt;a href=&quot;#template_defaults&quot; aria-label=&quot;Utilizando .span12&quot; class=&quot;lnkChoose change_template template_defaults&quot; data-src=&quot;/panel/template_defaults&quot; tabindex=&quot;3&quot; title=&quot;Utilizando .span12&quot;&gt;Meus templates&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
	</pre>
</article>