---
title: Componentes - Choosebox

menu_page: sidebar-componentes.erb
---

<header>
	<h1>Choose Box</h1>
	<h3>Se você precisa organizar conteúdos dentro de grupos e indicar etapas, esse elemento é perfeito pra você!</h3>
</header>

<article class="text colorCyanogen">
	<div class="example">
		<ul class="chooseBox row-fluid">
			<li class="span3 active">
				<h4 class="ico-news-journal">Templates prontos</h4>
				<p>Modelos prontos para você usar seu conteúdo.</p>
				<a href="#template_defaults" aria-label="texto aria" class="lnkChoose change_template template_defaults" tabindex="3" title="Modelos prontos para você usar seu conteúdo.">Meus templates</a>
			</li>
			<li class="span3">
				<h4 class="ico-archive-file">Meus templates</h4>
				<p>Modelos que você salvou como padrão para suas mensagens.</p>
				<a href="#my_templates" aria-label="texto aria" class="lnkChoose change_template my_templates" tabindex="3" title="Modelos que você salvou como padrão para suas mensagens.">Meus templates</a>
			</li>
			<li class="span3">
				<h4 class="ico-monitor-code">Código HTML</h4>
				<p>Crie o seu próprio código e personalize suas mensagens.</p>
				<a href="#html_code" aria-label="Crie o seu próprio código e personalize suas mensagens." class="lnkChoose btn_code" tabindex="3" title="Crie o seu próprio código e personalize suas mensagens.">Código HTML</a>
			</li>
			<li class="span3">
				<h4 class="ico-monitor-download">Importar URL</h4>
				<p>Importe modelos prontos a partir de um link externo.</p>
				<a href="#modalImportUrl" aria-label="Importe modelos prontos a partir de um link externo." class="lnkChoose" data-target="#modalImportUrl" data-toggle="modal" tabindex="3" title="Importe modelos prontos a partir de um link externo.">Importar URL</a>
			</li>
		</ul>
		<ul class="chooseBox row-fluid">
			<li class="span4 active">
				<h4 class="ico-news-journal">Templates prontos</h4>
				<p>Modelos prontos para você usar seu conteúdo.</p>
				<a href="#template_defaults" aria-label="texto aria" class="lnkChoose change_template template_defaults" tabindex="3" title="Modelos prontos para você usar seu conteúdo.">Meus templates</a>
			</li>
			<li class="span4">
				<h4 class="ico-archive-file">Meus templates</h4>
				<p>Modelos que você salvou como padrão para suas mensagens.</p>
				<a href="#my_templates" aria-label="texto aria" class="lnkChoose change_template my_templates" tabindex="3" title="Modelos que você salvou como padrão para suas mensagens.">Meus templates</a>
			</li>
			<li class="span4">
				<h4 class="ico-monitor-code">Código HTML</h4>
				<p>Crie o seu próprio código e personalize suas mensagens.</p>
				<a href="#html_code" aria-label="Crie o seu próprio código e personalize suas mensagens." class="lnkChoose btn_code" tabindex="3" title="Crie o seu próprio código e personalize suas mensagens.">Código HTML</a>
			</li>
		</ul>
		<ul class="chooseBox row-fluid">
			<li class="span6 active">
				<h4 class="ico-news-journal">Templates prontos</h4>
				<p>Modelos prontos para você usar seu conteúdo.</p>
				<a href="#template_defaults" aria-label="texto aria" class="lnkChoose change_template template_defaults" tabindex="3" title="Modelos prontos para você usar seu conteúdo.">Meus templates</a>
			</li>
			<li class="span6">
				<h4 class="ico-archive-file">Meus templates</h4>
				<p>Modelos que você salvou como padrão para suas mensagens.</p>
				<a href="#my_templates" aria-label="texto aria" class="lnkChoose change_template my_templates" tabindex="3" title="Modelos que você salvou como padrão para suas mensagens.">Meus templates</a>
			</li>
		</ul>
		<ul class="chooseBox row-fluid">
			<li class="span12 active">
				<h4 class="ico-news-journal">Templates prontos</h4>
				<p>Modelos prontos para você usar seu conteúdo.</p>
				<a href="#template_defaults" aria-label="text" class="lnkChoose" tabindex="3" title="text">Meus templates</a>
			</li>
		</ul>
	</div>
	<pre class="lang-html prettyprint linenums">
&lt;ul class=&quot;chooseBox row-fluid&quot;&gt;
	&lt;li class=&quot;span12 active&quot;&gt;
		&lt;h4 class=&quot;ico-news-journal&quot;&gt;Templates prontos&lt;/h4&gt;
		&lt;p&gt;Modelos prontos para voc&ecirc; usar seu conte&uacute;do.&lt;/p&gt;
		&lt;a href=&quot;#link&quot; aria-label=&quot;texto&quot; class=&quot;lnkChoose&quot; tabindex=&quot;3&quot; title=&quot;texto&quot;&gt;Texto&lt;/a&gt;
	&lt;/li&gt;
&lt;/ul&gt;
	</pre>
</article>