---
title: Aplicações - Collapse
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Collapse</h1>
	<h3>Agrupando grandes quantidades de informações.</h3>
</header>


<p>Collapses são usados para organizar grandes quantidades de conteúdo que trazem uma informação ou comportamentos do sistema para a interação com o usuário. </p>
<p>No Locaweb Style alteramos o visual que vem do boostrap, basta inserir a classe <code>ls-collapse</code>. Veja os exemplos abaixo:</p>

<div class="example">
	<div class="panel panel-default ls-collapse">
		<div class="panel-heading">
			<a data-toggle="collapse" href="#collapseOne">
				<h4 class="panel-title">Exemplo de layout com formulário</h4>
				<p>Você pode colocar formulários da maneira que quiser aqui dentro.</p>
			</a>
		</div>
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Um formulário de cadastro:</p>
				<form role="form">
					<fieldset>
						<div class="row">
							<div class="form-group col-lg-4">
								<label for="exampleInputEmail1">Campo simples</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insira seu texto aqui">
							</div>
							<div class="form-group col-lg-8">
								<label for="exampleInputEmail1">Campo simples</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insira seu texto aqui">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6">
								<label for="exampleInputEmail1">Seletor</label>
								<select class="form-control">
									<option value="">Selecione algo</option>
									<option value="">Opção 1</option>
									<option value="">Opção 2</option>
								</select>
							</div>
							<div class="form-group col-lg-6">
								<label for="exampleInputEmail1">Seletor</label>
								<select class="form-control">
									<option value="">Selecione algo</option>
									<option value="">Opção 1</option>
									<option value="">Opção 2</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1">Senha</label>
								<input type="password" class="form-control" id="exampleInputEmail1" placeholder="senha">
							</div>
							<div class="form-group col-lg-6">
								<label for="exampleInputEmail1">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Insira seu emai aqui">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1">Data</label>
								<input type="date" class="form-control" id="exampleInputEmail1" placeholder="Insira seu emai aqui">
							</div>
						</div>
						<button type="submit" class="btn btn-default">Enviar</button>
						<button class="btn btn-danger">Cancelar</button>
					</fieldset>
				</form>

			</div>
		</div>
	</div>
</div>
<pre class="linenums prettyprint-code lang-html">
<div class="panel panel-default ls-collapse">
	<div class="panel-heading">
		<a data-toggle="collapse" href="#collapseOne">
			<h4 class="panel-title">Título do Collapse</h4>
			<p>Descrição do collapse, se houver.</p>
		</a>
	</div>
	<div id="collapseOne" class="panel-collapse collapse">
		<div class="panel-body">

			<p>Aqui é onde você coloca o conteúdo do Collapse</p>

		</div>
	</div>
</div>
</pre>

<p>O collapse é responsivo, logo se adapta de acordo com o tamanho da tela do usuário. Como todos elementos do Locaweb Style são responsivos, os elementos que ficarão dentro do collapse não devem que quebrar na mudança de largura de tela.</p>

<h2>Accordion para formulários em etapas</h2>
<p>Para criar em formulários em etapas utilize o componente <b>Accordion</b> que é um conjunto de <b>Collapses</b> que interagem entre si.</p>
<div class="example">

	<form role="form">
	<div class="panel-group" id="formularioSteps">
			<!-- Passo 1 -->
			<div class="panel panel-default ls-collapse">
				<div class="panel-heading">
					<h4 class="panel-title">Passo 1</h4>
					<p>Descrição do passo 1</p>
				</div>
				<div id="passo1" class="panel-collapse collapse in">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Campo simples</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Insira seu texto aqui">
						</div>
						<div class="box-actions">
							<button class="btn" data-toggle="collapse" data-parent="#formularioSteps" data-target="#passo2" type="button">Ir para o passo 2</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Passo 2 -->
			<div class="panel panel-default ls-collapse">
				<div class="panel-heading">
					<h4 class="panel-title">Passo 2</h4>
					<p>Descrição do passo 2</p>
				</div>
				<div id="passo2" class="panel-collapse collapse">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleSelect">Seletor</label>
							<select id="exampleSelect" class="form-control">
								<option value="">Escolha uma opção</option>
								<option value="">Isso mesmo :D</option>
							</select>
						</div>
						<div class="box-actions">
							<button class="btn" data-toggle="collapse" data-parent="#formularioSteps" data-target="#passo1" type="button">Voltar ao passo 1</button>
						</div>
					</div>
				</div>
			</div>

	</div>
	</form>

</div>

<h2>Unindo Collapses a elementos de formulários</h2>
<p>Basta criar uma <code>div</code> com a classe <code>no-style-collapse</code> envolvendo os collapses</p>
<p>Se o elemento já vier checado automaticamente o collapse estará aberto.</p>

<h3>Elemento [checkbox]</h3><br>
<div class="example">
	<div class="no-style-collapse" >
		<div class="panel panel-default">
			<input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_checkbox1" id="checkbox1">
			<label for="checkbox1" >Checkbox 1</label>
			<div id="collapse_checkbox1"  class="panel-collapse collapse">
				<div class="well arrow-up">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<input type="checkbox" data-toggle="collapse" data-target="#collapse_checkbox2" id="checkbox2">
			<label for="checkbox2" >Checkbox 2</label>
			<div id="collapse_checkbox2" class="panel-collapse collapse">
				<div class="well arrow-up">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<input type="checkbox" data-toggle="collapse" data-target="#collapse_checkbox3" id="checkbox3">
			<label for="checkbox3" >Checkbox 3</label>
			<div id="collapse_checkbox3" class="panel-collapse collapse">
				<div class="well arrow-up">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<pre class="linenums prettyprint-code lang-html">
<div class="no-style-collapse" >
	<div class="panel panel-default">
		<input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_checkbox1" id="checkbox1">
		<label for="checkbox1" >Checkbox 1</label>
		<div id="collapse_checkbox1"  class="panel-collapse collapse">
			<div class="well arrow-up">
				<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<input type="checkbox" data-toggle="collapse" data-target="#collapse_checkbox2" id="checkbox2">
		<label for="checkbox2" >Checkbox 2</label>
		<div id="collapse_checkbox2" class="panel-collapse collapse">
			<div class="well arrow-up">
				<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<input type="checkbox" data-toggle="collapse" data-target="#collapse_checkbox3" id="checkbox3">
		<label for="checkbox3" >Checkbox 3</label>
		<div id="collapse_checkbox3" class="panel-collapse collapse">
			<div class="well arrow-up">
				<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			</div>
		</div>
	</div>
</div>
</pre>

<h3>Elemento [radio]</h3>
<p>Nesse caso precisamos criar um <code>id</code> na classe	<code>no-style-collapse</code> e adicionar o atributo <code>data-parent</code> com o mesmo valor do <code>id</code> no <code>input[radio]</code>. </p>

<div class="example">
	<div class="no-style-collapse" id="collapse_radio">
		<div class="panel panel-default">
			<input type="radio" data-parent="#collapse_radio" checked="checked" data-toggle="collapse" data-target="#collapse_radio1" name="teste" id="radio1">
			<label for="radio1" >Opçao 1</label>
			<div id="collapse_radio1"  class="panel-collapse collapse">
				<div class="well arrow-up">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<input type="radio" data-parent="#collapse_radio" data-toggle="collapse" data-target="#collapse_radio2" name="teste" id="radio2">
			<label for="radio2" >Opçao 2</label>
			<div id="collapse_radio2" class="panel-collapse collapse">
				<div class="well arrow-up">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<input type="radio" data-parent="#collapse_radio" data-toggle="collapse" data-target="#collapse_radio3" name="teste" id="radio3">
			<label for="radio3" >Opçao 3</label>
			<div id="collapse_radio3" class="panel-collapse collapse">
				<div class="well arrow-up">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<pre class="linenums prettyprint-code lang-html">
<div class="no-style-collapse" id="collapse_radio">
	<div class="panel panel-default">
		<input type="radio" data-parent="#collapse_radio" checked="checked" data-toggle="collapse" data-target="#collapse_radio1" name="teste" id="radio1">
		<label for="radio1" >Opçao 1</label>
		<div id="collapse_radio1"  class="panel-collapse collapse">
			<div class="well arrow-up">
				<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<input type="radio" data-parent="#collapse_radio" data-toggle="collapse" data-target="#collapse_radio2" name="teste" id="radio2">
		<label for="radio2" >Opçao 2</label>
		<div id="collapse_radio2" class="panel-collapse collapse">
			<div class="well arrow-up">
				<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<input type="radio" data-parent="#collapse_radio" data-toggle="collapse" data-target="#collapse_radio3" name="teste" id="radio3">
		<label for="radio3" >Opçao 3</label>
		<div id="collapse_radio3" class="panel-collapse collapse">
			<div class="well arrow-up">
				<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			</div>
		</div>
	</div>
</div>
</pre>




<h2>Utilização com atributos</h2>
<p>Dentro do elemento <code>.panel-heading</code> deve haver qualquer elemento HTML com os seguintes atributos: <code>data-toggle="collapse"</code>, que avisa que aquele trigger se refere a um collapse e <code>data-target="#id"</code> que define o collapse alvo.</p>

<div class="bs-callout bs-callout-warning">
	<h4>Atenção: </h4>
	<p>Se você estiver usando um link como trigger, o atributo <code>data-target</code> é dispensável. Nesse caso você pode colocar o alvo direto no atributo <code>href="#id"</code> do link.</p>
</div>


<h2>Utilização com Javascript</h2>
<p>Ative um collapse manualmente usando o código abaixo:</p>
<pre class="linenums prettyprint lang-javascript">
$(".collapse").collapse();
</pre>

<h3>Métodos</h3>
<p>Ativa seu conteúdo como um elemento de collapse.</p>
<pre class="linenums prettyprint lang-javascript">
$('#myCollapsible').collapse({
	toggle: false
});
</pre>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>método</th>
			<th>descrição</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>.collapse('toggle')</td>
			<td>Alterna entre show e hide um elemento de collapse.</td>
		</tr>
		<tr>
			<td>.collapse('show')</td>
			<td>Abre um elemento collapse.</td>
		</tr>
		<tr>
			<td>.collapse('hide')</td>
			<td>Fecha um elemento collapse.</td>
		</tr>
	</tbody>
</table>

<h3>Eventos</h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="width: 150px;">Evento</th>
			<th>Descrição</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>show.bs.collapse</td>
			<td>Este evento é disparado imediatamente quando a instância <code>show</code> é chamada.</td>
		</tr>
		<tr>
			<td>shown.bs.collapse</td>
			<td>Este evento é disparado quando um elemento de collapse está visível para o usuário. Irá esperar pela transição do CSS ser completada.</td>
		</tr>
		<tr>
			<td>hide.bs.collapse</td>
			<td>
				Este evento é disparado imediatamente quando o método <code>hide</code> for chamado.
			</td>
		</tr>
		<tr>
			<td>hidden.bs.collapse</td>
			<td>Este evento é disparado quando um elemento de collapse ficou escondido para o usuário. Ele espera até as transições do CSS terminarem. </td>
		</tr>
	</tbody>
</table>

<pre class="linenums prettyprint lang-javascript">
$('#myCollapsible').on('hidden.bs.collapse', function() {
	// Faça algo aqui
});
</pre>