---
title: Componentes - Ícones

menu_page: sidebar-componentes.erb
---

<article class="text">
    <header>
    	<h1>Ícones</h1>
    	<h3>Inserção de ícones em elementos</h3>
    </header>

    <h2>Funcionamento</h2>

    <p>
        Para adicionar seu ícone, insira uma das classes da nossa coleção de ícones no elemento escolhido. Os ícones são feitos com fonts e por isso pode ser dimensionado à vontade sem perder a qualidade.
    </p>

    <h3>Posicionando ícones à direita</h3>
    <p>Por padrão os ícones ficam do lado esquerdo. Para posicionar os ícones do lado direito, basta colocar a classe <strong>ico-pull-right</strong>. Um exemplo: <strong class="ico-pull-right ico-check">ico-check</strong></p>

<table class="icons-list">
<tr>
    <td><span class="ico-down-dir">ico-down-dir</span></td>
    <td><span class="ico-down-left">ico-down-left</span></td>
    <td><span class="ico-sun-inv">ico-sun-inv</span></td>
    <td><span class="ico-cloud">ico-cloud</span></td>
</tr>
<tr>
    <td><span class="ico-umbrella">ico-umbrella</span></td>
    <td><span class="ico-check">ico-check</span></td>
    <td><span class="ico-sun">ico-sun</span></td>
    <td><span class="ico-moon">ico-moon</span></td>
</tr>
<tr>
    <td><span class="ico-keyboard">ico-keyboard</span></td>
    <td><span class="ico-music">ico-music</span></td>
    <td><span class="ico-attention">ico-attention</span></td>
    <td><span class="ico-flash">ico-flash</span></td>
</tr>
<tr>
    <td><span class="ico-key">ico-key</span></td>
    <td><span class="ico-rain">ico-rain</span></td>
    <td><span class="ico-cog-alt">ico-cog-alt</span></td>
    <td><span class="ico-mail">ico-mail</span></td>
</tr>
<tr>
    <td><span class="ico-edit">ico-edit</span></td>
    <td><span class="ico-pen">ico-pen</span></td>
    <td><span class="ico-pencil-alt">ico-pencil-alt</span></td>
    <td><span class="ico-ok-circle">ico-ok-circle</span></td>
</tr>
<tr>
    <td><span class="ico-asterisk">ico-asterisk</span></td>
    <td><span class="ico-attention-circle">ico-attention-circle</span></td>
    <td><span class="ico-plus-circle">ico-plus-circle</span></td>
    <td><span class="ico-direction">ico-direction</span></td>
</tr>
<tr>
    <td><span class="ico-forward">ico-forward</span></td>
    <td><span class="ico-ccw">ico-ccw</span></td>
    <td><span class="ico-cw">ico-cw</span></td>
    <td><span class="ico-resize-vertical">ico-resize-vertical</span></td>
</tr>
<tr>
    <td><span class="ico-resize-horizontal">ico-resize-horizontal</span></td>
    <td><span class="ico-eject">ico-eject</span></td>
    <td><span class="ico-list-add">ico-list-add</span></td>
    <td><span class="ico-user-add">ico-user-add</span></td>
</tr>
<tr>
    <td><span class="ico-star-half">ico-star-half</span></td>
    <td><span class="ico-ok-circle2">ico-ok-circle2</span></td>
    <td><span class="ico-cancel">ico-cancel</span></td>
    <td><span class="ico-th-large">ico-th-large</span></td>
</tr>
<tr>
    <td><span class="ico-eye-off">ico-eye-off</span></td>
    <td><span class="ico-tags">ico-tags</span></td>
    <td><span class="ico-tag-empty">ico-tag-empty</span></td>
    <td><span class="ico-camera-alt">ico-camera-alt</span></td>
</tr>
<tr>
    <td><span class="ico-download-cloud">ico-download-cloud</span></td>
    <td><span class="ico-upload-cloud">ico-upload-cloud</span></td>
    <td><span class="ico-reply">ico-reply</span></td>
    <td><span class="ico-reply-all">ico-reply-all</span></td>
</tr>
<tr>
    <td><span class="ico-print">ico-print</span></td>
    <td><span class="ico-comment">ico-comment</span></td>
    <td><span class="ico-chat">ico-chat</span></td>
    <td><span class="ico-vcard">ico-vcard</span></td>
</tr>
<tr>
    <td><span class="ico-map">ico-map</span></td>
    <td><span class="ico-trash-1">ico-trash-1</span></td>
    <td><span class="ico-doc">ico-doc</span></td>
    <td><span class="ico-doc-inv">ico-doc-inv</span></td>
</tr>
<tr>
    <td><span class="ico-doc-alt">ico-doc-alt</span></td>
    <td><span class="ico-doc-alt-inv">ico-doc-alt-inv</span></td>
    <td><span class="ico-article-alt">ico-article-alt</span></td>
    <td><span class="ico-docs">ico-docs</span></td>
</tr>
<tr>
    <td><span class="ico-docs-ladscape">ico-docs-ladscape</span></td>
    <td><span class="ico-archive">ico-archive</span></td>
    <td><span class="ico-login">ico-login</span></td>
    <td><span class="ico-logout">ico-logout</span></td>
</tr>
<tr>
    <td><span class="ico-resize-full">ico-resize-full</span></td>
    <td><span class="ico-resize-full-alt">ico-resize-full-alt</span></td>
    <td><span class="ico-resize-small">ico-resize-small</span></td>
    <td><span class="ico-resize-small-alt">ico-resize-small-alt</span></td>
</tr>
<tr>
    <td><span class="ico-move-1">ico-move-1</span></td>
    <td><span class="ico-popup">ico-popup</span></td>
    <td><span class="ico-publish">ico-publish</span></td>
    <td><span class="ico-window">ico-window</span></td>
</tr>
<tr>
    <td><span class="ico-zoom-in">ico-zoom-in</span></td>
    <td><span class="ico-zoom-out">ico-zoom-out</span></td>
    <td><span class="ico-down-circle2">ico-down-circle2</span></td>
    <td><span class="ico-left-circle2">ico-left-circle2</span></td>
</tr>
<tr>
    <td><span class="ico-right-circle2">ico-right-circle2</span></td>
    <td><span class="ico-up-circle2">ico-up-circle2</span></td>
    <td><span class="ico-down-open">ico-down-open</span></td>
    <td><span class="ico-left-open">ico-left-open</span></td>
</tr>
<tr>
    <td><span class="ico-right-open">ico-right-open</span></td>
    <td><span class="ico-up-open">ico-up-open</span></td>
    <td><span class="ico-arrows-cw">ico-atualizar</span></td>
    <td><span class="ico-atualizar">ico-atualizar</span></td>
</tr>
<tr>
    <td><span class="ico-to-end-alt">ico-to-end-alt</span></td>
    <td><span class="ico-to-start-alt">ico-to-start-alt</span></td>
    <td><span class="ico-progress-0">ico-progress-0</span></td>
    <td><span class="ico-progress-1">ico-progress-1</span></td>
</tr>
<tr>
    <td><span class="ico-progress-2">ico-progress-2</span></td>
    <td><span class="ico-progress-3">ico-progress-3</span></td>
    <td><span class="ico-back-in-time">ico-back-in-time</span></td>
    <td><span class="ico-install">ico-install</span></td>
</tr>
<tr>
    <td><span class="ico-font">ico-font</span></td>
    <td><span class="ico-bold">ico-bold</span></td>
    <td><span class="ico-italic">ico-italic</span></td>
    <td><span class="ico-text-height">ico-text-height</span></td>
</tr>
<tr>
    <td><span class="ico-text-width">ico-text-width</span></td>
    <td><span class="ico-align-left">ico-align-left</span></td>
    <td><span class="ico-align-center">ico-align-center</span></td>
    <td><span class="ico-align-right">ico-align-right</span></td>
</tr>
<tr>
    <td><span class="ico-align-justify">ico-align-justify</span></td>
    <td><span class="ico-list">ico-list</span></td>
    <td><span class="ico-indent-left">ico-indent-left</span></td>
    <td><span class="ico-indent-right">ico-indent-right</span></td>
</tr>
<tr>
    <td><span class="ico-lifebuoy">ico-lifebuoy</span></td>
    <td><span class="ico-mouse">ico-mouse</span></td>
    <td><span class="ico-bag">ico-bag</span></td>
    <td><span class="ico-dot">ico-dot</span></td>
</tr>
<tr>
    <td><span class="ico-dot-2">ico-dot-2</span></td>
    <td><span class="ico-dot-3">ico-dot-3</span></td>
    <td><span class="ico-off">ico-off</span></td>
    <td><span class="ico-road">ico-road</span></td>
</tr>
<tr>
    <td><span class="ico-list-alt">ico-list-alt</span></td>
    <td><span class="ico-qrcode">ico-qrcode</span></td>
    <td><span class="ico-barcode">ico-barcode</span></td>
    <td><span class="ico-ajust">ico-ajust</span></td>
</tr>
<tr>
    <td><span class="ico-tint">ico-tint</span></td>
    <td><span class="ico-layers">ico-layers</span></td>
    <td><span class="ico-layers-alt">ico-layers-alt</span></td>
    <td><span class="ico-magnet">ico-magnet</span></td>
</tr>
<tr>
    <td><span class="ico-chart-pir">ico-chart-pir</span></td>
    <td><span class="ico-cc">ico-cc</span></td>
    <td><span class="ico-cw-circle">ico-cw-circle</span></td>
    <td><span class="ico-updown-circle">ico-updown-circle</span></td>
</tr>
<tr>
    <td><span class="ico-terminal">ico-terminal</span></td>
    <td><span class="ico-mobile-alt">ico-mobile-alt</span></td>
    <td><span class="ico-tablet">ico-tablet</span></td>
    <td><span class="ico-easel">ico-easel</span></td>
</tr>
<tr>
    <td><span class="ico-puzzle">ico-puzzle</span></td>
    <td><span class="ico-thumbs-up-1">ico-thumbs-up-1</span></td>
    <td><span class="ico-down-open-1">ico-down-open-1</span></td>
    <td><span class="ico-fast-bw-1">ico-fast-bw-1</span></td>
</tr>
<tr>
    <td><span class="ico-left-open-1">ico-left-open-1</span></td>
    <td><span class="ico-basket-1">ico-basket-1</span></td>
    <td><span class="ico-cancel-1">ico-cancel-1</span></td>
    <td><span class="ico-chat-4">ico-chat-4</span></td>
</tr>
<tr>
    <td><span class="ico-cancel-circle-1">ico-cancel-circle-1</span></td>
    <td><span class="ico-download-1">ico-download-1</span></td>
    <td><span class="ico-calendar-1">ico-calendar-1</span></td>
    <td><span class="ico-target-1">ico-target-1</span></td>
</tr>
<tr>
    <td><span class="ico-up-open-1">ico-up-open-1</span></td>
    <td><span class="ico-upload-1">ico-upload-1</span></td>
    <td><span class="ico-right-open-1">ico-right-open-1</span></td>
    <td><span class="ico-mail-1">ico-mail-1</span></td>
</tr>
<tr>
    <td><span class="ico-heart-1">ico-heart-1</span></td>
    <td><span class="ico-plus">ico-plus</span></td>
    <td><span class="ico-plus-1">ico-plus-1</span></td>
    <td><span class="ico-forward-1">ico-forward-1</span></td>
</tr>
<tr>
    <td><span class="ico-down-1">ico-down-1</span></td>
    <td><span class="ico-inbox-1">ico-inbox-1</span></td>
    <td><span class="ico-left-1">ico-left-1</span></td>
    <td><span class="ico-volume-off">ico-volume-off</span></td>
</tr>
<tr>
    <td><span class="ico-link-out">ico-link-out</span></td>
    <td><span class="ico-plus-circle-1">ico-plus-circle-1</span></td>
    <td><span class="ico-heart-empty">ico-heart-empty</span></td>
    <td><span class="ico-star">ico-star</span></td>
</tr>
<tr>
    <td><span class="ico-hifen">ico-hifen</span></td>
    <td><span class="ico-pencil">ico-pencil</span></td>
    <td><span class="ico-right-1">ico-right-1</span></td>
    <td><span class="ico-flight">ico-flight</span></td>
</tr>
<tr>
    <td><span class="ico-leaf">ico-leaf</span></td>
    <td><span class="ico-up-1">ico-up-1</span></td>
    <td><span class="ico-volume-on">ico-volume-on</span></td>
    <td><span class="ico-minus-circle">ico-minus-circle</span></td>
</tr>
<tr>
    <td><span class="ico-star-empty">ico-star-empty</span></td>
    <td><span class="ico-help-circle">ico-help-circle</span></td>
    <td><span class="ico-print-1">ico-print-1</span></td>
    <td><span class="ico-cw-1">ico-cw-1</span></td>
</tr>
<tr>
    <td><span class="ico-clock">ico-clock</span></td>
    <td><span class="ico-upgrade">ico-upgrade</span></td>
    <td><span class="ico-info-circle">ico-info-circle</span></td>
    <td><span class="ico-user">ico-user</span></td>
</tr>
<tr>
    <td><span class="ico-video">ico-video</span></td>
    <td><span class="ico-home">ico-home</span></td>
    <td><span class="ico-chat">ico-chat</span></td>
    <td><span class="ico-chats">ico-chats</span></td>
</tr>
<tr>
    <td><span class="ico-link">ico-link</span></td>
    <td><span class="ico-lock">ico-lock</span></td>
    <td><span class="ico-attention-empty">ico-attention-empty</span></td>
    <td><span class="ico-resize-small">ico-resize-small</span></td>
</tr>
<tr>
    <td><span class="ico-resize-full">ico-resize-full</span></td>
    <td><span class="ico-block">ico-block</span></td>
    <td><span class="ico-shuffle">ico-shuffle</span></td>
    <td><span class="ico-play">ico-play</span></td>
</tr>
<tr>
    <td><span class="ico-pause">ico-pause</span></td>
    <td><span class="ico-stop">ico-stop</span></td>
    <td><span class="ico-location">ico-location</span></td>
    <td><span class="ico-eye">ico-eye</span></td>
</tr>
<tr>
    <td><span class="ico-camera">ico-camera</span></td>
    <td><span class="ico-photo">ico-photo</span></td>
    <td><span class="ico-th">ico-th</span></td>
    <td><span class="ico-tag">ico-tag</span></td>
</tr>
<tr>
    <td><span class="ico-trash">ico-trash</span></td>
    <td><span class="ico-to-end">ico-to-end</span></td>
    <td><span class="ico-doc-inv">ico-doc-inv</span></td>
    <td><span class="ico-folder-inv">ico-folder-inv</span></td>
</tr>
<tr>
    <td><span class="ico-list">ico-list</span></td>
    <td><span class="ico-to-start">ico-to-start</span></td>
    <td><span class="ico-down-circle">ico-down-circle</span></td>
    <td><span class="ico-mark">ico-mark</span></td>
</tr>
<tr>
    <td><span class="ico-check-1">ico-check-1</span></td>
    <td><span class="ico-flag">ico-flag</span></td>
    <td><span class="ico-config">ico-config</span></td>
    <td><span class="ico-up-circle">ico-up-circle</span></td>
</tr>
<tr>
    <td><span class="ico-fast-fw-1">ico-fast-fw-1</span></td>
    <td><span class="ico-chart-bar">ico-chart-bar</span></td>
    <td><span class="ico-thumbs-down">ico-thumbs-down</span></td>
    <td><span class="ico-doc-down">ico-doc-down</span></td>
</tr>
<tr>
    <td><span class="ico-cloud">ico-cloud</span></td>
    <td><span class="ico-pencil">ico-pencil</span></td>
    <td><span class="ico-search">ico-search</span></td>
    <td><span class="ico-book-1">ico-book-1</span></td>
</tr>
<tr>
    <td><span class="ico-cloud-up">ico-cloud-up</span></td>
    <td><span class="ico-right-open-2">ico-right-open-2</span></td>
    <td><span class="ico-left-open-2">ico-left-open-2</span></td>
    <td><span class="ico-users">ico-users</span></td>
</tr>
<tr>
    <td><span class="ico-resize-vertical-1">ico-resize-vertical-1</span></td>
    <td><span class="ico-resize-horizontal-1">ico-resize-horizontal-1</span></td>
    <td><span class="ico-doc-inv">ico-doc-inv</span></td>
    <td><span class="ico-key">ico-key</span></td>
</tr>
<tr>
    <td><span class="ico-book">ico-book</span></td>
    <td><span class="ico-chat-1">ico-chat-1</span></td>
    <td><span class="ico-chat-2">ico-chat-2</span></td>
    <td><span class="ico-mouse">ico-mouse</span></td>
</tr>
<tr>
    <td><span class="ico-thumbs-down-inv">ico-thumbs-down-inv</span></td>
    <td><span class="ico-thumbs-up-inv">ico-thumbs-up-inv</span></td>
    <td><span class="ico-archive">ico-archive</span></td>
    <td><span class="ico-tag-inv">ico-tag-inv</span></td>
</tr>
<tr>
    <td><span class="ico-download-1">ico-download-1</span></td>
    <td><span class="ico-upload-1">ico-upload-1</span></td>
    <td><span class="ico-phone">ico-phone</span></td>
    <td><span class="ico-cd">ico-cd</span></td>
</tr>
<tr>
    <td><span class="ico-shuffle-1">ico-shuffle-1</span></td>
    <td><span class="ico-microfone">ico-microfone</span></td>
    <td><span class="ico-flash-1">ico-flash-1</span></td>
    <td><span class="ico-chart-circle">ico-chart-circle</span></td>
</tr>
<tr>
    <td><span class="ico-chart-2">ico-chart-2</span></td>
    <td><span class="ico-wifi">ico-wifi</span></td>
    <td><span class="ico-mail-1-inv">ico-mail-1-inv</span></td>
    <td><span class="ico-signal">ico-signal</span></td>
</tr>
<tr>
    <td><span class="ico-cart">ico-cart</span></td>
    <td><span class="ico-popup-2">ico-popup-2</span></td>
    <td><span class="ico-facebook1">ico-facebook1</span></td>
    <td><span class="ico-facebook">ico-facebook</span></td>
</tr>
<tr>
    <td><span class="ico-twitter">ico-twitter</span></td>
    <td><span class="ico-vimeo">ico-vimeo</span></td>
    <td><span class="ico-twitter1">ico-twitter1</span></td>
    <td><span class="ico-gplus">ico-gplus</span></td>
</tr>
<tr>
    <td><span class="ico-github">ico-github</span></td>
    <td><span class="ico-skype">ico-skype</span></td>
    <td><span class="ico-icq">ico-icq</span></td>
    <td><span class="ico-blogger">ico-blogger</span></td>
</tr>
<tr>
    <td><span class="ico-odnoklassniki">ico-odnoklassniki</span></td>
    <td><span class="ico-odnoklassniki-1">ico-odnoklassniki-1</span></td>
    <td><span class="ico-down-circle">ico-down-circle</span></td>
    <td><span class="ico-up-circle">ico-up-circle</span></td>
</tr>
<tr>
    <td><span class="ico-left-circle">ico-left-circle</span></td>
    <td><span class="ico-right-circle">ico-right-circle</span></td>
    <td><span class="ico-move">ico-move</span></td>
    <td><span class="ico-twitter-old">ico-twitter-old</span></td>
</tr>
<tr>
    <td><span class="ico-rsocial">ico-rsocial</span></td>
    <td><span class="ico-rsocial-1">ico-rsocial-1</span></td>
    <td><span class="ico-git">ico-git</span></td>
    <td><span class="ico-vimeo-1">ico-vimeo-1</span></td>
</tr>
<tr>
    <td><span class="ico-gcircle">ico-gcircle</span></td>
    <td><span class="ico-tumblr">ico-tumblr</span></td>
    <td><span class="ico-world">ico-world</span></td>
    <td><span class="ico-pictures">ico-pictures</span></td>
</tr>
<tr>
    <td><span class="ico-glass">ico-glass</span></td>
    <td><span class="ico-gift">ico-gift</span></td>
    <td><span class="ico-mic">ico-mic</span></td>
    <td><span class="ico-videocam">ico-videocam</span></td>
</tr>
<tr>
    <td><span class="ico-headphones">ico-headphones</span></td>
    <td><span class="ico-cup">ico-cup</span></td>
    <td><span class="ico-cup-2">ico-cup-2</span></td>
    <td><span class="ico-thumbs-up-1">ico-thumbs-up-1</span></td>
</tr>
<tr>
    <td><span class="ico-thumbs-down-1-inv">ico-thumbs-down-1-inv</span></td>
    <td><span class="ico-users-1">ico-users-1</span></td>
    <td><span class="ico-money">ico-money</span></td>
    <td><span class="ico-dollar">ico-dollar</span></td>
</tr>
<tr>
    <td><span class="ico-monitor">ico-monitor</span></td>
    <td><span class="ico-cd">ico-cd</span></td>
    <td><span class="ico-folder">ico-folder</span></td>
    <td><span class="ico-folder-open">ico-folder-open</span></td>
</tr>
<tr>
    <td><span class="ico-doc-text">ico-doc-text</span></td>
    <td><span class="ico-stat">ico-stat</span></td>
    <td><span class="ico-stat-1">ico-stat-1</span></td>
    <td><span class="ico-pin">ico-pin</span></td>
</tr>
<tr>
    <td><span class="ico-attach">ico-attach</span></td>
    <td><span class="ico-book-1">ico-book-1</span></td>
    <td><span class="ico-book-2">ico-book-2</span></td>
    <td><span class="ico-book-open">ico-book-open</span></td>
</tr>
<tr>
    <td><span class="ico-phone-1">ico-phone-1</span></td>
    <td><span class="ico-megaphone">ico-megaphone</span></td>
    <td><span class="ico-upload">ico-upload</span></td>
    <td><span class="ico-download">ico-download</span></td>
</tr>
<tr>
    <td><span class="ico-box">ico-box</span></td>
    <td><span class="ico-cellphone">ico-cellphone</span></td>
    <td><span class="ico-signal-1">ico-signal-1</span></td>
    <td><span class="ico-return">ico-return</span></td>
</tr>
<tr>
    <td><span class="ico-volume-down">ico-volume-down</span></td>
    <td><span class="ico-battery-full">ico-battery-full</span></td>
    <td><span class="ico-search-1">ico-search-1</span></td>
    <td><span class="ico-key-1">ico-key-1</span></td>
</tr>
<tr>
    <td><span class="ico-lock-1">ico-lock-1</span></td>
    <td><span class="ico-unlock-1">ico-unlock-1</span></td>
    <td><span class="ico-fire">ico-fire</span></td>
    <td><span class="ico-wrench">ico-wrench</span></td>
</tr>
<tr>
    <td><span class="ico-bug">ico-bug</span></td>
    <td><span class="ico-bookmark">ico-bookmark</span></td>
    <td><span class="ico-blocked">ico-blocked</span></td>
    <td><span class="ico-wrench">ico-wrench</span></td>
</tr>
<tr>
    <td><span class="ico-code">ico-code</span></td>
    <td><span class="ico-rocket">ico-rocket</span></td>
    <td><span class="ico-news-journal">ico-news-journal</span></td>
    <td><span class="ico-download-message">ico-download-message</span></td>
</tr>
<tr>
    <td><span class="ico-monitor-download">ico-monitor-download</span></td>
    <td><span class="ico-monitor-screen">ico-monitor-screen</span></td>
    <td><span class="ico-monitor-code">ico-monitor-code</span></td>
    <td><span class="ico-archive-file">ico-archive-file</span></td>
</tr>
<tr>
    <td><span class="ico-bug">ico-bug</span></td>
    <td><span class="ico-bookmark">ico-bookmark</span></td>
    <td><span class="ico-blocked">ico-blocked</span></td>
    <td><span class="ico-wrench">ico-wrench</span></td>
</tr>
<tr>
    <td><span class="ico-code">ico-code</span></td>
    <td><span class="ico-rocket">ico-rocket</span></td>
    <td><span class="ico-cloud">ico-cloud</span></td>
    <td><span class="ico-cloud-2">ico-cloud-2</span></td>
</tr>
<tr>
    <td><span class="ico-cloud-3">ico-cloud-3</span></td>
    <td><span class="ico-chart">ico-chart</span></td>
    <td><span class="ico-chart-2">ico-chart-2</span></td>
    <td><span class="ico-chart-3">ico-chart-3</span></td>
</tr>
<tr>
    <td><span class="ico-chart-4">ico-chart-4</span></td>
    <td><span class="ico-chart-5">ico-chart-5</span></td>
    <td><span class="ico-chart-6">ico-chart-6</span></td>
    <td><span class="ico-signup">ico-signup</span></td>
</tr>
<tr>
    <td><span class="ico-th">ico-th</span></td>
    <td><span class="ico-calendar">ico-calendar</span></td>
    <td><span class="ico-pie">ico-pie</span></td>
    <td><span class="ico-table">ico-table</span></td>
</tr>
<tr>
    <td><span class="ico-grid">ico-grid</span></td>
    <td><span class="ico-bars">ico-bars</span></td>
    <td><span class="ico-stats">ico-stats</span></td>
    <td><span class="ico-image">ico-image</span></td>
</tr>
<tr>
    <td><span class="ico-chart-alt">ico-chart-alt</span></td>
    <td><span class="ico-chart-7">ico-chart-7</span></td>
    <td><span class="ico-calendar-check">ico-calendar-check</span></td>
    <td><span class="ico-calendar-more">ico-calendar-more</span></td>
</tr>
<tr>
    <td><span class="ico-lamp">ico-lamp</span></td>
    <td><span class="ico-user-group">ico-user-group</span></td>
    <td><span class="ico-user-star">ico-user-star</span></td>
    <td><span class="ico-pencil-edit">ico-pencil-edit</span></td>
</tr>
<tr>
    <td><span class="ico-archive_file">ico-archive_file</span></td>
    <td><span class="ico-monitor_code">ico-monitor_code</span></td>
    <td><span class="ico-monitor_screen">ico-monitor_screen</span></td>
    <td><span class="ico-monitor_download">ico-monitor_download</span></td>
</tr>
<tr>
    <td><span class="ico-download_message">ico-download_message</span></td>
    <td><span class="ico-news_journal">ico-news_journal</span></td>
    <td><span class="ico-chart">ico-chart</span></td>
    <td><span class="ico-chart-2">ico-chart-2</span></td>
</tr>
<tr>
    <td><span class="ico-chart-3">ico-chart-3</span></td>
    <td><span class="ico-chart-4">ico-chart-4</span></td>
    <td><span class="ico-chart-5">ico-chart-5</span></td>
    <td><span class="ico-chart-6">ico-chart-6</span></td>
</tr>
<tr>
    <td><span class="ico-signup">ico-signup</span></td>
    <td><span class="ico-th">ico-th</span></td>
    <td><span class="ico-calendar">ico-calendar</span></td>
    <td><span class="ico-pie">ico-pie</span></td>
</tr>
<tr>
    <td><span class="ico-table">ico-table</span></td>
    <td><span class="ico-grid">ico-grid</span></td>
    <td><span class="ico-bars">ico-bars</span></td>
    <td><span class="ico-stats">ico-stats</span></td>
</tr>
<tr>
    <td><span class="ico-image">ico-image</span></td>
    <td><span class="ico-chart-alt">ico-chart-alt</span></td>
    <td><span class="ico-chart-7">ico-chart-7</span></td>
    <td><span class="ico-bug">ico-bug</span></td>
</tr>
<tr>
    <td><span class="ico-bookmark">ico-bookmark</span></td>
    <td><span class="ico-blocked">ico-blocked</span></td>
    <td><span class="ico-wrench">ico-wrench</span></td>
    <td><span class="ico-code">ico-code</span></td>
</tr>
<tr>
    <td><span class="ico-rocket">ico-rocket</span></td>
    <td><span class="ico-cloud">ico-cloud</span></td>
    <td><span class="ico-cloud-2">ico-cloud-2</span></td>
    <td><span class="ico-cloud-3">ico-cloud-3</span></td>
</tr>
<tr>
    <td><span class="ico-calendar-check">ico-calendar-check</span></td>
    <td><span class="ico-calendar-more">ico-calendar-more</span></td>
    <td><span class="ico-lamp">ico-lamp</span></td>
    <td><span class="ico-user-group">ico-user-group</span></td>
</tr>
<tr>
    <td><span class="ico-user-star">ico-user-star</span></td>
    <td><span class="ico-pencil-edit">ico-pencil-edit</span></td>
    <td><span class="ico-lab">ico-lab</span></td>
    <td><span class="ico-magnet">ico-magnet</span></td>
</tr>
<tr>
    <td><span class="ico-user">ico-user</span></td>
    <td><span class="ico-users">ico-users</span></td>
    <td><span class="ico-users-2">ico-users-2</span></td>
    <td><span class="ico-user-2">ico-user-2</span></td>
</tr>
<tr>
    <td><span class="ico-bubbles">ico-bubbles</span></td>
    <td><span class="ico-bubbles-2">ico-bubbles-2</span></td>
    <td><span class="ico-bubbles-3">ico-bubbles-3</span></td>
    <td><span class="ico-bubble">ico-bubble</span></td>
</tr>
<tr>
    <td><span class="ico-bubbles-4">ico-bubbles-4</span></td>
    <td><span class="ico-bubble-2">ico-bubble-2</span></td>
    <td><span class="ico-thumbs-up">ico-thumbs-up</span></td>
    <td><span class="ico-thumbs-up-2">ico-thumbs-up-2</span></td>
</tr>
<tr>
    <td><span class="ico-heart">ico-heart</span></td>
    <td><span class="ico-heart-2">ico-heart-2</span></td>
    <td><span class="ico-heart-broken">ico-heart-broken</span></td>
    <td><span class="ico-star">ico-star</span></td>
</tr>
<tr>
    <td><span class="ico-star-2">ico-star-2</span></td>
    <td><span class="ico-star-3">ico-star-3</span></td>
    <td><span class="ico-pakman">ico-pakman</span></td>
    <td><span class="ico-joystick">ico-joystick</span></td>
</tr>
<tr>
    <td><span class="ico-walkman">ico-walkman</span></td>
    <td><span class="ico-cassette">ico-cassette</span></td>
    <td><span class="ico-chris-spittles-save">ico-chris-spittles-save</span></td>
    <td><span class="ico-batman">ico-batman</span></td>
</tr>
<tr>
    <td><span class="ico-derek-mui-invader">ico-derek-mui-invader</span></td>
    <td><span class="ico-cesgra-globe">ico-cesgra-globe</span></td>
    <td><span class="ico-moustache">ico-moustache</span></td>
    <td><span class="ico-spectacles">ico-spectacles</span></td>
</tr>
<tr>
    <td><span class="ico-derek-mui-tie">ico-derek-mui-tie</span></td>
    <td><span class="ico-log-out">ico-log-out</span></td>
    <td><span class="ico-log-in">ico-log-in</span></td>
    <td><span class="ico-qrcode">ico-qrcode</span></td>
</tr>
<tr>
    <td><span class="ico-barcode">ico-barcode</span></td>
    <td><span class="ico-ticket">ico-ticket</span></td>
    <td><span class="ico-safari">ico-safari</span></td>
    <td><span class="ico-opera">ico-opera</span></td>
</tr>
<tr>
    <td><span class="ico-IE">ico-IE</span></td>
    <td><span class="ico-firefox">ico-firefox</span></td>
    <td><span class="ico-chrome">ico-chrome</span></td>
    <td><span class="ico-css3">ico-css3</span></td>
</tr>
<tr>
    <td><span class="ico-html5">ico-html5</span></td>
    <td><span class="ico-html5-2">ico-html5-2</span></td>
    <td><span class="ico-file-css">ico-file-css</span></td>
    <td><span class="ico-file-xml">ico-file-xml</span></td>
</tr>
<tr>
    <td><span class="ico-tux">ico-tux</span></td>
    <td><span class="ico-apple">ico-apple</span></td>
    <td><span class="ico-finder">ico-finder</span></td>
    <td><span class="ico-android">ico-android</span></td>
</tr>
<tr>
    <td><span class="ico-windows">ico-windows</span></td>
    <td><span class="ico-windows8">ico-windows8</span></td>
    <td><span class="ico-eye">ico-eye</span></td>
    <td><span class="ico-eye-blocked">ico-eye-blocked</span></td>
</tr>
<tr>
    <td><span class="ico-evil">ico-evil</span></td>
    <td><span class="ico-angry">ico-angry</span></td>
    <td><span class="ico-angry-2">ico-angry-2</span></td>
    <td><span class="ico-cool">ico-cool</span></td>
</tr>
<tr>
    <td><span class="ico-cool-2">ico-cool-2</span></td>
    <td><span class="ico-grin">ico-grin</span></td>
    <td><span class="ico-grin-2">ico-grin-2</span></td>
    <td><span class="ico-wink">ico-wink</span></td>
</tr>
<tr>
    <td><span class="ico-wink-2">ico-wink-2</span></td>
    <td><span class="ico-sad">ico-sad</span></td>
    <td><span class="ico-sad-2">ico-sad-2</span></td>
    <td><span class="ico-accessibility">ico-accessibility</span></td>
</tr>
<tr>
    <td><span class="ico-play-circle2">ico-play-circle2</span></td>
    <td><span class="ico-split">ico-split</span></td>
    <td><span class="ico-up-dir">ico-up-dir</span></td>
    <td><span class="ico-right-dir">ico-right-dir</span></td>
</tr>
</table>

<table class="icons-list">
    <tr>
        <td><span class="ico-highlight-mail big-icon">ico-highlight-mail</span></td>
        <td><span class="ico-highlight-database big-icon">ico-highlight-database</span></td>
        <td><span class="ico-highlight-theme big-icon">ico-highlight-theme</span></td>
        <td><span class="ico-highlight-sentmail big-icon">ico-highlight-sentmail</span></td>
    </tr>
    <tr>
        <td><span class="ico-highlight-upload big-icon">ico-highlight-upload</span></td>
        <td><span class="ico-highlight-stats big-icon">ico-highlight-stats</span></td>
        <td><span class="ico-highlight-config big-icon">ico-highlight-config</span></td>
        <td><span class="ico-highlight-download big-icon">ico-highlight-download</span></td>
    </tr>
    <tr>
        <td><span class="ico-highlight-edit big-icon">ico-highlight-edit</span></td>
        <td><span class="ico-highlight-contact big-icon">ico-highlight-contact</span></td>
        <td><span class="ico-highlight-pencil big-icon">ico-highlight-pencil</span></td>
        <td><span class="ico-highlight-alert big-icon">ico-highlight-alert</span></td>
    </tr>
    <tr>
        <td><span class="ico-highlight-add big-icon">ico-highlight-add</span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
    </tr>
</table>


</article>