---
title: Componentes - Labels
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Labels ou tags</h1>
	<h3>Labels e tags servem para marcar informações importantes de forma discreta e organizada</h3>
</header>

<p>No Bootstrap eles chamam de LABELS. Mas para não confundirmos com LABELS de input, colocamos o nome de Tags.</p>

<div class="example">
	<h1>Exemplo de Título <span class="label label-default">Novo</span></h1>
	<br>
	<h2>Exemplo de Título <span class="label label-default">Novo</span></h2>
	<br>
	<h3>Exemplo de Título <span class="label label-default">Novo</span></h3>
	<br>
	<h4>Exemplo de Título <span class="label label-default">Novo</span></h4>
	<br>
	<h5>Exemplo de Título <span class="label label-default">Novo</span></h5>
	<br>
	<h6>Exemplo de Título <span class="label label-default">Novo</span></h6>
</div>

<pre class="lang-html linenums prettyprint-code"><h3> Exemplo de Título <span class="label label-default">Novo</span></pre>

<h2>Variações disponíveis</h2>
<p>Adicione qualquer uma das classes abaixo para mudar a aparência.</p>

<div class="example">
	<span class="label label-default">Default</span>
	<span class="label label-primary">Primary</span>
	<span class="label label-success">Success</span>
	<span class="label label-info">Info</span>
	<span class="label label-warning">Warning</span>
	<span class="label label-danger">Danger</span>
</div>

<pre class="lang-html linenums prettyprint-code">
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
</pre>


<h2>Variações em forma de links</h2>

<div class="example">
	<a href="#" class="label label-default">Default</a>
	<a href="#" class="label label-primary">Primary</a>
	<a href="#" class="label label-success">Success</a>
	<a href="#" class="label label-info">Info</a>
	<a href="#" class="label label-warning">Warning</a>
	<a href="#" class="label label-danger">Danger</a>
</div>
<pre class="lang-html linenums prettyprint-code">
<a href="#" class="label label-default">Default</a>
<a href="#" class="label label-primary">Primary</a>
<a href="#" class="label label-success">Success</a>
<a href="#" class="label label-info">Info</a>
<a href="#" class="label label-warning">Warning</a>
<a href="#" class="label label-danger">Danger</a>
</pre>
