---
title: Componentes - Labels

menu_page: sidebar-componentes.erb
---

<article class="text">
  <header>
  	<h1>Labels ou tags</h1>
  	<h3>Labels e tags servem para marcar informações importantes de forma discreta e organizada</h3>
  </header>

  <p>No Bootstrap eles chamam de LABELS. Mas para não confundirmos com LABELS de input, colocamos o nome de Tags.</p>

  <div class="example">
    <h1>Exemplo de Título <span class="label label-default">Novo</span></h1>
    <h2>Exemplo de Título <span class="label label-default">Novo</span></h2>
    <h3>Exemplo de Título <span class="label label-default">Novo</span></h3>
    <h4>Exemplo de Título <span class="label label-default">Novo</span></h4>
    <h5>Exemplo de Título <span class="label label-default">Novo</span></h5>
    <h6>Exemplo de Título <span class="label label-default">Novo</span></h6>
  </div>
  <pre class="lang-html linenums prettyprint">&lt;h3&gt; Exemplo de Título &lt;span class=&quot;label label-default&quot;&gt;Novo&lt;/span&gt;</pre>

  <h2>Variações disponíveis</h2>
  <p>Adicione qualquer uma das classes abaixo para mudar a aparencia.</p>

  <div class="example">
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
  </div>

<pre class="lang-html linenums prettyprint">
&lt;span class&quot;label label-default&quot;&gt;Default&lt;/span&gt;
&lt;span class&quot;label label-primary&quot;&gt;Primary&lt;/span&gt;
&lt;span class&quot;label label-success&quot;&gt;Success&lt;/span&gt;
&lt;span class&quot;label label-info&quot;&gt;Info&lt;/span&gt;
&lt;span class&quot;label label-warning&quot;&gt;Warning&lt;/span&gt;
&lt;span class&quot;label label-danger&quot;&gt;Danger&lt;/span&gt;
</pre>

</article>	