---
title: Componentes - Abas
menu_page: sidebar-componentes.erb
---

  <header>
    <h1>Abas ou tabs</h1>
    <h3>Tabs são perfeitos para organizar informações em painéis de conteúdo, onde o acesso precisa ser rápido e quando há muito conteúdo sobre um determinado assunto.</h3>
  </header>


  <p>Para telas que tem um processo, um passo a passo a seguir.</p>

  <div class="pathWay">
    <ol>
      <li class="active"><a href="#" title="Edite as informações"><b>1</b> <span>Passo 1</span> Informações</a></li>
      <li><a href="#" title="Configure a aparência"><b>2</b> <span>Passo 2</span> Aparência</a></li>
      <li><a href="#" title="Defina seu conteúdo"><b>3</b> <span>Passo 3</span> Conteúdo</a></li>
    </ol>
  </div>

<pre class="lang-html prettyprint linenums">
&lt;div class="pathWay"&gt;
  &lt;ol&gt;
    &lt;li class="active"&gt;
      &lt;a href="#" title="Edite as informações"&gt;&lt;b&gt;1&lt;/b&gt; &lt;span&gt;Passo 1&lt;/span&gt; Informações&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href="#" title="Configure a aparência"&gt;&lt;b&gt;2&lt;/b&gt; &lt;span&gt;Passo 2&lt;/span&gt; Aparência&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#" title="Defina seu conteúdo"&gt;&lt;b&gt;3&lt;/b&gt; &lt;span&gt;Passo 3&lt;/span&gt; Conteúdo&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
</pre>
