---
title: Componentes - Popover
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Popover</h1>
</header>
<div class="bs-callout bs-callout-info">
	<h4>Popover em botões necessitam de uma configuração especial</h4>
	<p>Quando usado popovers em elementos com uma classe <code>.btn-group</code> ou <code>.input-group</code>, você precisa especificar a opção <code>container: 'body'</code> para evitar efeitos colaterais indesejados.</p>
</div>

<h2>Popover estático</h2>
<p>Quatro opções disponíveis: top, right, bottom e lefta linhados.</p>
<div class="example example-popover">

	<div class="popover top">
		<div class="arrow"></div>
		<h3 class="popover-title">Popover no Topo</h3>
		<div class="popover-content">
			<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
		</div>
	</div>

	<div class="popover right">
		<div class="arrow"></div>
		<h3 class="popover-title">Popover Direita</h3>
		<div class="popover-content">
			<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
		</div>
	</div>

	<div class="popover bottom">
		<div class="arrow"></div>
		<h3 class="popover-title">Popover em Baixo</h3>
		<div class="popover-content">
			<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
		</div>
	</div>

	<div class="popover left">
		<div class="arrow"></div>
		<h3 class="popover-title">Popover esquerda</h3>
		<div class="popover-content">
			<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
		</div>
	</div>
</div>

<h2>Demo</h2>
<div class="example">
	<div class="btn btn-lg btn-danger" data-toggle="popover" title="Um Título" data-content="And here's some amazing content. It's very engaging. right?">Clique para visualizar</div>
</div>

<h4>Nas quatro direções</h4>
<p>Usando o atributo <code>data-placement=""</code> com as opções <code>left</code>, <code>top</code>, <code>bottom</code> e <code>right</code>.</p>
<div class="example text-center">
	<button class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Um texto bem legal a esquerda.">esquerda</button>
	<button class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Um texto bem legal em cima.">cima</button>
	<button class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Um texto bem legal em baixo.">baixo</button>
	<button class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Um texto bem legal a direita.">direita</button>
</div>
<pre class="lang-html prettyprint-code linenums">
<button data-container="body" data-toggle="popover" data-placement="left" data-content="Um texto bem legal a esquerda.">esquerda</button>

<button data-container="body" data-toggle="popover" data-placement="top" data-content="Um texto bem legal em cima.">cima</button>

<button data-container="body" data-toggle="popover" data-placement="bottom" data-content="Um texto bem legal em baixo.">baixo</button>

<button data-container="body" data-toggle="popover" data-placement="right" data-content="Um texto bem legal a direita.">direita</button>
</pre>

<h2>Como usar</h2>
<p>Habilite o popover via JavaScript.</p>
<pre class="lang-js linenums prettyprint">$('#exemplo').popover(options)</pre>

<h2>Opções</h2>
<p>As opções podem ser passadas via atributos de dados ou JavaScript. Para os atributos de dados, acrescente o nome da opção <code>data-</code>, como em <code>data-animation=""</code>.</p>
<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width="100">Nome</th>
				<th width="100">Tipo</th>
				<th width="50">Padrão</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>animation</td>
				<td>boolean</td>
				<td>true</td>
				<td>aplica um CSS fade transition no popover.</td>
			</tr>
			<tr>
				<td>inherit</td>
				<td>string</td>
				<td>null</td>
				<td>Insere a cor da propriedade CSS no título do popover. Em ícones busca no css do <code>:before</code></td>
			</tr>
			<tr>
				<td>html</td>
				<td>boolean</td>
				<td>false</td>
				<td>Insere HTML dentro do popover, se falso, o JQuey vai inserir um texto no conteúdo do DOM.</td>
			</tr>
			<tr>
				<td>placement</td>
				<td>string | function</td>
				<td>'right'</td>
				<td>
					como posicionar o popover - top | bottom | left | right | auto.
					<br>Quando "auto" é especificado, o popover será reorientado dinamicamente. Por exemplo, se o placement é "auto left", o tooltip será exibido à esquerda quando possível, caso contrário, ele será exibido na direita.
				</td>
			</tr>
			<tr>
				<td>selector</td>
				<td>string</td>
				<td>false</td>
				<td>
					Se um seletor é fornecido, o objeto do tooltip será delegado para ele. Na pratica, isso é é usado para permitir que o popover tenha conteúdo HTML dinâmico.
				</td>
			</tr>
			<tr>
				<td>trigger</td>
				<td>string</td>
				<td>'click'</td>
				<td>como o popover é acionado - click | hover | focus | manual</td>
			</tr>
			<tr>
				<td>title</td>
				<td>string | function</td>
				<td>''</td>
				<td>valor padrão, se não houver o atributo <code>title</code>, ele não estará presente.</td>
			</tr>
			<tr>
				<td>content</td>
				<td>string | function</td>
				<td>''</td>
				<td>valor padrão, se não houver o atributo <code>data-content</code>, ele não estará presente.</td>
			</tr>
			<tr>
				<td>delay</td>
				<td>number | object</td>
				<td>0</td>
				<td>
					o delay de show (mostrar) ou hide (ocultar) o popover (ms) - não se aplica ao tipo de disparo manual.
  				<br>Se um número é fornecido, o delay é aplicado em ambos show/hide.
  				<br>A estrutura do objeto é: <code>delay: { show: 500, hide: 100 }</code>
				</td>
			</tr>
			<tr>
				<td>container</td>
				<td>string | false</td>
				<td>false</td>
				<td>
					Acrescenta o popover a um elemento específico.
					<br>Exemplo: <code>container: 'body'</code>.
					<br>Está opção é particularmente útil na medida em que permite posicionar o popover no fluxo do documento próximo do elemento - gatilho que irá impedir que o popover flutuem para longe do elemento de disparo, durante um redimensionamento da janela.
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h4>Herança de cores no título do popover</h4>
<p>Para que o título do popover tenha a mesma cor do elemento que ativa o popover, basta adicionar o atributo <code>data-inherit=""</code>, as opções desse atributo são <code>color</code> e <code>background-color</code>, com a propriedade CSS onde ele deve buscar a cor para o título. </p>
<p>Para que a cor herdada apareça como background do título do popover, adicione <code>data-inherit-apply="background"</code>, lembrando que o texto do título ficará em branco.</p>

<div class="example">
	<button class="btn btn-danger" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="top" data-content="Um texto bem legal e bonito por aqui." data-title="Título">Top herdando a cor</button>
	<button class="btn btn-info" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="top" data-html="true" data-content="Um texto e um <a href='#'>link colorido</a>." data-title="Título">Top herdando a cor, com link</button>
	<button class="btn btn-warning" data-container="body" data-inherit="background-color" data-inherit-apply="background" data-toggle="popover" data-placement="top" data-html="true" data-content="Um texto e um <a href='#'>link colorido</a>." data-title="Título">Cor no background</button>
	<br>
	<button class="btn label" style="color: navy;" data-container="body" data-inherit="color" data-toggle="popover" data-placement="bottom" data-content="Um texto bem legal e bonito por aqui." data-title="Título">label</button>
	<span class="label label-warning" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="right" data-content="Um texto bem legal e bonito por aqui." data-title="Título">label</span>
	<a href="#" class="ico-question" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="left" data-content="Um texto bem legal e bonito por aqui." data-title="Título"></a>
</div>
<pre class="lang-html prettyprint-code linenums">
<button class="btn btn-danger" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="top" data-content="Um texto bem legal a esquerda." data-title="Título">Top herdando as cores</button>
</pre>

<div class="bs-callout bs-callout-info">
	<h4>Atributos de dados para popovers individuais</h4>
	<p>Opções para popovers individuais podem, alternativamente, ser especificados através da utilização de dados de atributos, tal como explicado acima.</p>
</div>

<h4>Remarcação</h4>
<p>Options for individual popovers can alternatively be specified through the use of data attributes, as explained above.</p>

<h2>Métodos</h2>

<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Método</th>
				<th>Descrição</th>
				<th>Código</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>$().popover(options)</td>
				<td>Anexa um marcador para uma sequencia de elementos.</td>
				<td></td>
			</tr>
			<tr>
				<td>.popover('show')</td>
				<td>Revela o elemento popover.</td>
				<td><pre class="lang-js linenums prettyprint">$('#exemplo').popover('show')</pre></td>
			</tr>
			<tr>
				<td>.popover('hide')</td>
				<td>Escondo o elemento popover.</td>
				<td><pre class="lang-js linenums prettyprint">$('#exemplo').popover('hide')</pre></td>
			</tr>
			<tr>
				<td>.popover('toggle')</td>
				<td>Alterna o elemento popover.</td>
				<td><pre class="lang-js linenums prettyprint">$('#exemplo').popover('toggle')</pre></td>
			</tr>
			<tr>
				<td>.popover('destroy')</td>
				<td>Destrói o elemento popover.</td>
				<td><pre class="lang-js linenums prettyprint">$('#exemplo').popover('destroy')</pre></td>
			</tr>
		</tbody>
	</table>
</div>

<h2>Eventos</h2>
<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width="150">Tipo de evento</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>show.bs.popover</td>
				<td>Este evento é acionado imediatamente quando o método de instância <code>show</code> é chamado.</td>
			</tr>
			<tr>
				<td>shown.bs.popover</td>
				<td>Este evento é disparado quando o popover foi tornado visível ao usuário (vai esperar para transições CSS se completarem).</td>
			</tr>
			<tr>
				<td>hide.bs.popover</td>
				<td>Este evento é acionado imediatamente quando o método de instância <code>hide</code> foi chamado.</td>
			</tr>
			<tr>
				<td>hidden.bs.popover</td>
				<td>Este evento é disparado quando o popover terminou sendo escondido do usuário (vai esperar para transições CSS se completarem).</td>
			</tr>
		</tbody>
	</table>
</div>

<pre class="lang-js linenums prettyprint">
$('#myPopover').on('hidden.bs.popover', function () {
  // Faça algo aqui…
})
</pre>


