---
title: Componentes - Select personalizado
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Select personalizado</h1>
	<h3>Como estilizar o select e usar outras opções do select2</h3>
</header>
