---
title: Componentes - Select personalizado
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Select personalizado</h1>
	<h3>Como estilizar o select e usar outras opções do select2</h3>
</header>

<p>Utilizamos o plugin <a href="http://ivaynberg.github.io/select2/" target="_blank">Select2</a> para alterar o <code>select</code> padrão. Todas as opções e configurações do plugin original podem ser feitas, mas adicionamos algumas confidurações e atalhos no padrão LocawebStyle, listadas abaixo: </p>

<h3>Simples</h3>
<p>Para ativar o <b>selec2</b> basta usar o HTML de <code>select</code> padrão, com a classe <code>ls-select</code></p>
<p>Apenas listas com mais de 10 itens possuem o campo de busca e exibem 10 itens visíveis dentro da rolagem. Para ocultar o campo de busca em uma lista maior, insira o atributo <code>data-visible</code> com o valor <code>-1</code>.</p>
<div class="example">
  <form>
    <select name="select-simples" class="ls-select">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
  <br>
  <br>
  <form>
    <select name="select-simples-grande" class="ls-select" style="width:300px">
      <option value="ac">Acre</option>
      <option value="al">Alagoas</option>
      <option value="ap">Amapá</option>
      <option value="am">Amazonas</option>
      <option value="ba">Bahia</option>
      <option value="ce">Ceará</option>
      <option value="df">Distrito Federal</option>
      <option value="es">Espirito Santo</option>
      <option value="go">Goiás</option>
      <option value="ma">Maranhão</option>
      <option value="ms">Mato Grosso do Sul</option>
      <option value="mt">Mato Grosso</option>
      <option value="mg">Minas Gerais</option>
      <option value="pa">Pará</option>
      <option value="pb">Paraíba</option>
      <option value="pr">Paraná</option>
      <option value="pe">Pernambuco</option>
      <option value="pi">Piauí</option>
      <option value="rj">Rio de Janeiro</option>
      <option value="rn">Rio Grande do Norte</option>
      <option value="rs">Rio Grande do Sul</option>
      <option value="ro">Rondônia</option>
      <option value="rr">Roraima</option>
      <option value="sc">Santa Catarina</option>
      <option value="sp">São Paulo</option>
      <option value="se">Sergipe</option>
      <option value="to">Tocantins</option>
    </select>
  </form>
  <br>
  <br>
  <form>
    <select name="select-simples-grande-sem-busca" class="ls-select" style="width:300px" data-search="false">
      <option value="ac">Acre</option>
      <option value="al">Alagoas</option>
      <option value="ap">Amapá</option>
      <option value="am">Amazonas</option>
      <option value="ba">Bahia</option>
      <option value="ce">Ceará</option>
      <option value="df">Distrito Federal</option>
      <option value="es">Espirito Santo</option>
      <option value="go">Goiás</option>
      <option value="ma">Maranhão</option>
      <option value="ms">Mato Grosso do Sul</option>
      <option value="mt">Mato Grosso</option>
      <option value="mg">Minas Gerais</option>
      <option value="pa">Pará</option>
      <option value="pb">Paraíba</option>
      <option value="pr">Paraná</option>
      <option value="pe">Pernambuco</option>
      <option value="pi">Piauí</option>
      <option value="rj">Rio de Janeiro</option>
      <option value="rn">Rio Grande do Norte</option>
      <option value="rs">Rio Grande do Sul</option>
      <option value="ro">Rondônia</option>
      <option value="rr">Roraima</option>
      <option value="sc">Santa Catarina</option>
      <option value="sp">São Paulo</option>
      <option value="se">Sergipe</option>
      <option value="to">Tocantins</option>
    </select>
  </form>
</div>
<pre class="lang-html linenums prettyprint-code">
<!-- Exemplo 1 -->
<form>
  <select name="select-simples" class="ls-select">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>

<!-- Exemplo 2 -->
<form>
  <select name="select-simples-grande" class="ls-select" style="width:300px">
    <option value="ac">Acre</option>
    <option value="al">Alagoas</option>
    ...
  </select>
</form>

<!-- Exemplo 3 -->
<form>
  <select name="select-simples-grande-sem-busca" class="ls-select" style="width:300px" data-search="false">
    <option value="ac">Acre</option>
    <option value="al">Alagoas</option>
    ...
  </select>
</form>
</pre>

<hr>

<h3>Seleção de múltiplos valores</h3>
<p>O HTML é idêntico ao simples, com o atributo <code>multiple</code>.</p>
<p>O select também deve estar com a largura definida.</p>
<div class="example">
  <form>
    <select multiple name="select-multiplo" class="ls-select" style="width:300px">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
</div>
<pre class="lang-html prettyprint-code linenums">
<form>
  <select multiple name="select-multiplo" class="ls-select" style="width:300px">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>
</pre>

<hr>

<h3>Placeholder</h3>
<p>Para inserir um placeholder, basta adicionar o atributo <code>placeholder="valor"</code>.</p>
<p>Exemplos <b>sem</b> valor inicial.</p>
<div class="example">
  <form>
    <select name="select-simples-placeholder" class="ls-select" placeholder="Selecione um estado">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
  <br>
  <br>
  <form>
    <select multiple name="select-multiplo-placeholder" class="ls-select" style="width:300px" placeholder="Selecione um estado">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
</div>
<pre class="lang-html linenums prettyprint-code">
<!-- Exemplo 1 -->
<form>
  <select name="select-simples-placeholder" class="ls-select" placeholder="Selecione um estado">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>

<!-- Exemplo 2 -->
<form>
  <select multiple name="select-multiplo-placeholder" class="ls-select" placeholder="Selecione um estado">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>
</pre>

<br>
<p>Exemplos <b>com</b> valor inicial.</p>
<div class="example">
  <form>
    <select name="select-simples-placeholder-selected" class="ls-select" placeholder="Selecione um estado">
      <option value="MG">Minas Gerais</option>
      <option value="SP" selected>São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
  <br>
  <br>
  <form>
    <select multiple name="select-multiplo-placeholder-selects" class="ls-select" style="width:300px" placeholder="Selecione um estado">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ" selected>Rio de Janeiro</option>
    </select>
  </form>
</div>
<pre class="lang-html-linenums prettyprint-code">
<!-- Exemplo 1 -->
<form>
  <select name="select-simples-placeholder-selected" class="ls-select" placeholder="Selecione um estado">
    <option value="MG">Minas Gerais</option>
    <option value="SP" selected>São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>

<!-- Exemplo 2 -->
<form>
  <select multiple name="select-multiplo-placeholder-selects" class="ls-select" placeholder="Selecione um estado">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ" selected>Rio de Janeiro</option>
  </select>
</form>
</pre>

<br>
<h3>Estilos de validação</h3>
<p>Para estilizar os campos nas validações adicionar as classes: <code>has-success</code>, <code>has-warning</code> ou <code>has-error</code> no elemento pai dos <code>&lt;select&gt;</code>.</p>
<div class="example">
  <form class="has-success">
    <select name="select-simples" class="ls-select">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
  <br>
  <form class="has-error">
    <select name="select-simples" class="ls-select">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
  <br>
  <form class="has-warning">
    <select name="select-simples" class="ls-select">
      <option value="MG">Minas Gerais</option>
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
    </select>
  </form>
</div>

<pre class="lang-html linenums prettyprint-code">
<!-- Exemplo 1: has-sucess -->
<form class="has-success">
  <select name="select-simples" class="ls-select">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>

<!-- Exemplo 2: has-error -->
<form class="has-error">
  <select name="select-simples" class="ls-select">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>

<!-- Exemplo 3: has-warning -->
<form class="has-warning">
  <select name="select-simples" class="ls-select">
    <option value="MG">Minas Gerais</option>
    <option value="SP">São Paulo</option>
    <option value="RJ">Rio de Janeiro</option>
  </select>
</form>
</pre>
