---
title: Componentes - Select personalizado
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Select personalizado</h1>
	<h3>Como estilizar o select e usar outras opções do select2</h3>
</header>

<h2>Simples</h2>

<select name="nome-select" class="select2">
  <option value="MG">Minas Gerais</option>
  <option value="SP">São Paulo</option>
  <option value="RJ">Rio de Janeiro</option>
</select>