---
title: Componentes - Tabelas
menu_page: sidebar-componentes.erb
---
<header>
<h1>Tabelas</h1>
<h3>Seguimos os padrões do bootstrap com um toque de usabilidade.</h3>
</header>


<h2 class="title-2">Tabela complexa</h2>

<form action="/servidor/salvar" method="post">
	<input type="hidden" name="token" value="ehOCabraMesmo">
	<div class="well well-sm clearfix ls-table-group-actions">
		<p class="d-inline-block">
			<strong class="counterChecks">0</strong> 
			<span class="counterChecksStr">item selecionado</span> 
		</p>
		<div class="actions pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-default">Duplicar</button>
				<a href="#" class="btn btn-default">Relatorio</a>
				<a href="#" class="btn btn-default">Arquivar</a>
			</div>
			<button type="button" class="btn btn-default"><span class="text-danger">Excluir</span></button>
		</div>
	</div>
	<table class="table ls-table">
		<thead>
			<tr>
				<th class="txt-center"><input type="checkbox"></th>
				<th class="ls-nowrap col-xs-3">Título</th>
				<th class="hidden-xs">Campanha</td>
				<th>Status</th>
				<th class="hidden-xs">Data de envio</th>
				<th class="ls-table-actions">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> <input type="checkbox"> </td>
				<td>Somente texto <span class="label label-success">Success</span></td>
				<td>Campanha</td>
				<td>Enviada</td>
				<td>21/09/2013</td>
				<td>
					<a href="#/fake-server/1/acao-nao-prevista">Ação qualquer</a>
					<a href="/fake-server/1/view"   data-action-modal="view">Visualizar</a>
					<a href="/fake-server/1/delete" data-confirm-text="Confirma exclusão do item?" class="text-danger">Excluir</a>
				</td>
			</tr>
			<tr>
				<td> <input type="checkbox"> </td>
				<td>Somente texto e só visualizar e excluir</td>
				<td>Campanha</td>
				<td>Enviada</td>
				<td>21/09/2013</td>
				<td>
					<a href="/fake-server/2/view"   data-action-modal="view">Visualizar</a>
					<a href="/fake-server/2/delete" data-confirm-text="Confirma exclusão do item?" class="text-danger">Excluir</a>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Texto, excluir com confirm</td>
				<td>Campanha</td>
				<td>Enviada</td>
				<td>21/09/2013</td>
				<td>
					<a href="#/fake-server/3/delete" class="text-danger" data-confirm-text="Confirma exclusão do item?">Excluir</a>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Inputs, só visualizar</td>
				<td>
					<select name="teste" class="form-control" disabled>
						<option value="2a" selected>Campanha</option>
						<option value="2b">Opção</option>
					</select>
				</td>
				<td>
					<select name="teste" class="select-2 form-control" disabled>
						<option value="3a">Enviada</option>
						<option value="3b">Opção</option>
					</select>
				</td>
				<td>
					<div class="input-group datepicker" disabled>
						<input type="text" class="form-control date-mask datepicker" placeholder="dd/mm/aaaa" value="21/09/2013" disabled>
					</div>
				</td>
				<td>
					<a href="/fake-server/4/view" data-action-modal="view">Visualizar</a>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Inputs, visualizar, editar e excluir</td>
				<td>
					<select name="teste" class="form-control" disabled>
						<option value="2a" selected>Campanha</option>
						<option value="2b">Opção</option>
					</select>
				</td>
				<td>
					<select name="teste2" class="select-2 form-control" disabled>
						<option value="3a">Enviada</option>
						<option value="3b">Opção</option>
					</select>
				</td>
				<td>
					<div class="input-group datepicker" disabled>
						<input type="text" class="form-control date-mask datepicker" placeholder="dd/mm/aaaa" value="21/09/2013" disabled>
					</div>
				</td>
				<td>
					<a href="/fake-server/5/view" data-action-modal="view">Visualizar</a>
					<a href="/fake-server/5/edit" data-action-modal="edit">Editar</a>
					<a href="#/fake-server/5/delete" class="text-danger" data-confirm-text="Confirma exclusão do item?">Excluir</a>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Inputs, só editar</td>
				<td>
					<select name="teste" class="form-control" disabled>
						<option value="2a" selected>Campanha</option>
						<option value="2b">Opção</option>
					</select>
				</td>
				<td>
					<select name="teste3" class="select-2 form-control" disabled>
						<option value="3a">Enviada</option>
						<option value="3b">Opção</option>
					</select>
				</td>
				<td>
					<div class="input-group datepicker" disabled>
						<input type="text" class="form-control date-mask datepicker" placeholder="dd/mm/aaaa" value="21/09/2013" disabled>
					</div>
				</td>
				<td>
					<a href="/assets/javascripts/manual/fake-response/save.json" data-action-modal="edit">Editar</a>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Inputs, sem ações</td>
				<td>
					<select name="teste" class="form-control" disabled>
						<option value="2a" selected>Campanha</option>
						<option value="2b">Opção</option>
					</select>
				</td>
				<td>
					<select name="teste4" class="select-2 form-control" disabled>
						<option value="3a">Enviada</option>
						<option value="3b">Opção</option>
					</select>
				</td>
				<td>
					<div class="input-group datepicker" disabled>
						<input type="text" class="form-control date-mask datepicker" placeholder="dd/mm/aaaa" value="21/09/2013" disabled>
					</div>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>Texto, sem ações</td>
				<td> Campanha </td>
				<td> Nova </td>
				<td> 22/10/2014 </td>
				<td>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>abre para cima</td>
				<td>
					<select name="teste" class="form-control" disabled>
						<option value="2a" selected>Campanha</option>
						<option value="2b">Opção</option>
					</select>
				</td>
				<td>
					<select name="teste5" class="select-2 form-control" disabled>
						<option value="3a">Enviada</option>
						<option value="3b">Opção</option>
					</select>
				</td>
				<td>
					<div class="input-group datepicker" disabled>
						<input type="text" class="form-control date-mask datepicker" placeholder="dd/mm/aaaa" value="21/09/2013" disabled>
					</div>
				</td>
				<td>
					<a href="/fake-server/7/edit" data-action-modal="view">Visualizar</a>
					<a href="/fake-server/7/edit" data-action-modal="edit">Editar</a>
				</td>
			</tr>
		</tbody>
	</table>
</form>