---
title: Componentes - Tabelas

menu_page: sidebar-componentes.erb
---

<article class="text">
	<header>
		<h1>Tabelas</h1>
		<h2>Seguimos os padrões do bootstrap com um toque de usabilidade.</h2>
	</header>
	<div class="example">
		<div class="table-responsive">
			<table class="table table-style">
				<thead>
					<tr>
						<th>#</th>
						<th>Título</th>
						<th>Campanha</th>
						<th>Status</th>
						<th>Data de envio</th>
					</tr>
				</thead>
				<tbody>
					<%- 4.times do |i| %>
						<tr>
							<td><%= i %></td>
							<td>Mensagem Teste Locastyle 1</td>
							<td>Campanha 1</td>
							<td>Enviada</td>
							<td>
								21/09/2013
								<div class="table-actions">
									<span class="ico-th"></span>
									<ul>
										<li><a href="#">Duplicar</a></li>
										<li><a href="#">Relatório</a></li>
										<li><a href="#">Arquivar</a></li>
									</ul>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</article>