---
title: Componentes - Well
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Wells</h1>
	<h3>Box genéricos que recebem conteúdo. </h3>
</header>

<p>No Bootstrap eles chamam de WELL, mas podem ser box genéricos utilizados em várias parte do projeto, existem alguma classe que deixam ele com padding maior <code>well-lg</code> ou menor: <code>well-sm</code></p>

<div class="example">
	<div class="well well-lg">Tamanho Maior</div>
	<div class="well">Tamanho Default</div>
	<div class="well well-sm">Tamanho Menor</div>
</div>

<pre class="lang-html linenums prettyprint-code">
<div class="well well-lg">Tamanho Maior</div>
<div class="well">Tamanho Default</div>
<div class="well well-sm">Tamanho Menor</div>
</pre>

<h2>Well sem background</h2>
<p>Basta adicionar a classe funcional <code>no-bg</code></p>

<div class="example">
	<div class="well no-bg">Tamanho Default</div>
	<div class="well no-bg well-sm">Tamanho Menor</div>
	<div class="well no-bg well-lg">Tamanho Maior</div>
</div>

<pre class="lang-html linenums prettyprint-code">
<div class="well no-bg">Tamanho Default</div>
<div class="well no-bg well-sm">Tamanho Menor</div>
<div class="well no-bg well-lg">Tamanho Maior</div>
</pre>

<h2>Well com setinha</h2>
<p>Basta adicionar a classe <code>arrow-up</code>.</p>
<div class="example">
	<div class="well arrow-up">Tamanho Default</div>
	<div class="well arrow-up well-sm">Tamanho Menor</div>
	<div class="well arrow-up well-lg">Tamanho Maior</div>
	<div class="well arrow-up no-bg">Tamanho Default</div>
	<div class="well arrow-up no-bg well-sm">Tamanho Menor</div>
	<div class="well arrow-up no-bg well-lg">Tamanho Maior</div>
</div>

<pre class="lang-html linenums prettyprint-code">
<div class="well arrow-up">Tamanho Default</div>
</pre>