---
title: Componentes - Well

menu_page: sidebar-componentes.erb
---

<article class="text">
  <header>
  	<h1>Wells ou boxes</h1>
  	<h3>Box genéricos que recebem conteúdo. </h3>
  </header>

  <p>No Bootstrap eles chamam de WELL, mas podem ser box genéricos utilizados em várias parte do projeto, existem alguma classe que deixam ele com padding maior <code>well-lg</code> ou menor: <code>well-sm</code></p>

  <div class="example">
    <div class="well">Padding Default</div>
    <div class="well well-sm">Padding Menor</div>
    <div class="well well-lg">Padding Maior</div>
  </div>
<pre class="lang-html linenums prettyprintCode">
<div class="well">Padding Default</div>
<div class="well well-sm">Padding Menor</div>
<div class="well well-lg">Padding Maior</div>
</pre>

  <h2>Well sem background</h2>
  <p>Basta adicionar a classe funcional <code>no-bg</code></p>

  <div class="example">
    <div class="well no-bg">Padding Default</div>
    <div class="well no-bg well-sm">Padding Menor</div>
    <div class="well no-bg well-lg">Padding Maior</div>
  </div>
<pre class="lang-html linenums prettyprintCode">
<div class="well no-bg">Padding Default</div>
<div class="well no-bg well-sm">Padding Menor</div>
<div class="well no-bg well-lg">Padding Maior</div>
</pre>

<h2>Well com setinha</h2>
  <p>Basta adicionar a classe <code>arrow-up</code>.</p>
  <div class="example">
    <div class="well arrow-up">Padding Default</div>
    <div class="well arrow-up well-sm">Padding Menor</div>
    <div class="well arrow-up well-lg">Padding Maior</div>
    <div class="well arrow-up no-bg">Padding Default</div>
    <div class="well arrow-up no-bg well-sm">Padding Menor</div>
    <div class="well arrow-up no-bg well-lg">Padding Maior</div>
  </div>
<pre class="lang-html linenums prettyprintCode">
<div class="well arrow-up">Padding Default</div>
<div class="well arrow-up well-sm">Padding Menor</div>
<div class="well arrow-up well-lg">Padding Maior</div>
<div class="well arrow-up no-bg">Padding Default</div>
<div class="well arrow-up no-bg well-sm">Padding Menor</div>
<div class="well arrow-up no-bg well-lg">Padding Maior</div>
</pre>
</article>