---
title: Aplicações - Busca avançada
layout: v1/layouts/page
menu_page: v1/partials/sidebar-aplicacoes.erb
---


<article class="text">
        <header>
          <h1>Busca avançada</h1>
          <h3>Busca avançada com collapse e diversos campos de formulário.</h3>
      </header>

      <p>A busca avançada já reconhece se os inputs estão marcados com preenchidos. Se estiverem preenchidos, o busca avançada já fica aberto, caso contrário ele aparece fechado. </p>
      <p>Quando o usuário clica no botão VOLTAR PARA BUSCA SIMPLES, executa uma ação de limpar os inputs de BUSCA AVANCADA para não submete-los quando o usuário clicar em BUSCAR.</p>

      <div class="boxFiltro">
        <h2>Busca avançada</h2>

        <form action="">
            <div class="sideBySide periodoForm">
                <label class="control-label" for="transaction_search_updated_at_begin">Pedido: </label>
                <div class="control-group">
                    <input class="span3 datepicker" size="50" type="text">
                    a
                </div>

                <div class="control-group">
                    <input class="span3 datepicker" size="50" type="text">
                </div>
            </div>

            <div class="control-group sideBySide clearForm advancedSearch in collapse" id="search">
                <fieldset>
                    <h6>Opções de busca avançada</h6>

                    <div class="control-group">
                        <label>Meio de pagamento </label>
                        <select>
                            <option></option>
                            <option>Opção 1</option>
                            <option>Opção 2</option>
                            <option>Opção 3</option>
                            <option>Opção 4</option>
                        </select>
                    </div>
                    <div class="control-group">
                        <label>Nº do pedido </label>
                        <input type="number" value="" class="span2">
                    </div>

                    <div class="control-group">
                        <label>Status </label>
                        <input type="text" value="completo" class="span3">
                    </div>
                    <div class="control-group">
                        <label>Valor </label>
                        <input type="number" value="" class="span2"> a
                        <input type="number" value="" class="span2">
                    </div>
                </fieldset>
            </div>

            <div class="boxActions">
                <input class="btn btn-primary" name="commit" type="submit" value="Buscar">
                <a href="#" class="lnkSeta clearFormBt" id="1" data-text="Voltar para busca simples" data-toggletext="true" data-toggle="collapse" data-target="#search">Voltar para busca simples</a>
            </div>
        </form>
    </div>
</article>
