---
title: Aplicações - Chamada de vários links
layout: v1/layouts/page
menu_page: v1/partials/sidebar-aplicacoes.erb
---


<article class="text">

	<header>
	  <h1>Busca avançada</h1>
	  <h3>Busca avançada com collapse e diversos campos de formulário.</h3>
	</header>
	<p>Este é um medidor de segurança de senha simples para a autenticação de alguns serviços nossos.</p>

	<div class="example">
	  <div class="userPass control-group noPaddingRight">
	    <input type="password" id="user_password" class="password autoFocus" />
	    <div id="passwordStrength" class="dInlineBlock np0"></div>
	  </div>
	</div>
	<pre class="lang-html prettyprint linenums">
	&lt;div class="userPass control-group noPaddingRight"&gt;
	  &lt;input type="password" id="user_password" class="password autoFocus" /&gt;
	  &lt;div id="passwordStrength" class="dInlineBlock np0"&gt;&lt;/div&gt;
	&lt;/div&gt;
	</pre>
</article>
