<div class="ls-cart">
  <input type="checkbox" class="ls-checkbox-cart">
  <header class="ls-cart-header">
    <span class="ls-ico-cart ls-float-left"></span>
    <small>MEU CARRINHO</small>
    <strong>2 produto(s)</strong>
  </header>
  <div class="ls-cart-content">
    <ul class="ls-no-list-style">
      <li>
        Produto 1
        <a href="" class="ls-link ls-float-right ls-color-danger">Excluir</a>
      </li>
      <li>
        Produto 2
        <a href="" class="ls-link ls-float-right ls-color-danger">Excluir</a>
      </li>
    </ul>
    <footer class="ls-cart-footer ls-txt-center">
      <a href="" class="ls-btn-primary">Finalizar Compra</a>
    </footer>
  </div>
</div>
