<div class="ls-cart">
  <input type="checkbox" class="ls-checkbox-cart">
  <header class="ls-cart-header">
    <span class="ls-ico-cart ls-float-left"></span>
    <small>MEU CARRINHO</small>
    <strong>4 produto(s)</strong>
  </header>
  <div class="ls-cart-content">
    <ul class="ls-no-list-style">
      <li>
        <h2 class="ls-title-product">
          <strong>01</strong> Email Marketing Locaweb
        </h2>
        <p> (Identificador) </p>
        <a href="">Excluir</a>
      </li>
      <li>
        <h2 class="ls-title-product">
          <strong>02</strong> Monitor LED 27"
        </h2>
        <p> (Identificador) </p>
        <a href="">Excluir</a>
      </li>
      <li>
        <h2 class="ls-title-product">
          <strong>06</strong> Honda FIT 2010 4p Flex 1.4 16v
        </h2>
        <p> (Identificador) </p>
        <a href="">Excluir</a>
      </li>
      <li>
        <h2 class="ls-title-product">
          <strong>01</strong> Lorem Ipsum is simply dummy text
        </h2>
        <p> (Identificador) </p>
        <a href="">Excluir</a>
      </li>
    </ul>
    <footer class="ls-cart-footer ls-txt-center">
      <a href="" class="ls-btn-primary">Finalizar Compra</a>
    </footer>
  </div>
</div>
