<div class="ls-topbar">

  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Links de apoio -->
    <div class="ls-alerts-list">
      <a href="#" class="ls-ico-bell-o" data-counter="8" data-ls-module="topbarCurtain" data-target="#ls-notification-curtain"><span>Notificações</span></a>
      <a href="#" class="ls-ico-bullhorn" data-ls-module="topbarCurtain" data-target="#ls-help-curtain"><span>Ajuda</span></a>
      <a href="#" class="ls-ico-question" data-ls-module="topbarCurtain" data-target="#ls-feedback-curtain"><span>Sugestões</span></a>
    </div>

    <!-- Dropdown com detalhes da conta de usuário -->
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <a href="#" class="ls-ico-user">
        <span class="ls-name">João</span>
        (fmolina)
      </a>
      <nav class="ls-dropdown-nav ls-user-menu">
        <ul>
          <li><a href="#">Meus dados</a></li>
          <li><a href="#">Faturas</a></li>
          <li><a href="#">Planos</a></li>
          <li><a href="#">Sair</a></li>
         </ul>
      </nav>
    </div>
  </div>

  <span class="ls-show-sidebar ls-ico-menu"></span>

  <!-- Nome do produto/marca -->
  <%- unless current_page.data.show_topbar_title %>
    <h1 class="ls-brand-name">
      <a href="#" class="ls-ico-earth">
        Nome do produto
      </a>
    </h1>
  <% end %>
</div>

<main class="ls-main"></main>

<aside class="ls-notification">
  <nav class="ls-notification-list" id="ls-notification-curtain">
    <h3 class="ls-title-2">Notificações</h3>
    <ul>
      <%- 5.times do %>
        <li class="ls-dismissable">
          <a href="#"><%= lorem.sentence %></a>
          <a href="#" data-ls-module="dismiss" class="ls-ico-close ls-close-notification"></a>
        </li>
      <% end %>
    </ul>
    <p class="ls-no-notification-message">Não há notificações.</p>
  </nav>
  <nav class="ls-notification-list" id="ls-help-curtain">
    <h3 class="ls-title-2">Feedback</h3>
    <ul>
      <%- 2.times do %>
        <li><a href="#">> <%= lorem.words 6 %></a></li>
      <% end %>
    </ul>
  </nav>
  <nav class="ls-notification-list" id="ls-feedback-curtain">
    <h3 class="ls-title-2">Ajuda</h3>
    <ul>
      <li><a href="#">> Guia</a></li>
      <li><a href="#">> Wiki</a></li>
    </ul>
  </nav>
</aside>
