---
title: Configurar Site
layout: panel
show_topbar_title: true
pre_panel: true
theme_name: ls-theme-blue
panel: painel6
title_product: Backup de sites
---


<h1 class="ls-title-intro ls-ico-earth">Configurar sites</h1>
<p>Garanta rotinas de backup automatizadas e eficientes. Personalize o backup selecionando frequência e origem dos arquivos.</p>


<div class="ls-steps">
  <ol class="ls-steps-nav">
    <li >
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step1">Identificação</button>
    </li>
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step2">Rotina</button>
    </li>
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step3">Origem</button>
    </li>
  </ol>
  <div class="ls-steps-main">
    <div class="ls-steps-content" id="step1">
      <p>Aut neque quia animi rem perferendis quia similique dignissimos quos ut nobis fuga nemo animi. ab quo distinctio harum suscipit eligendi aliquam qui expedita et dolorem. distinctio eligendi aliquid voluptatem. numquam et harum voluptas dolorem quisquam et blanditiis quia quidem et. et qui rerum dolor qui mollitia voluptas</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="ls-steps-content" id="step2">
      <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
       <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
        <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
         <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
          <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
           <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
            <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
             <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
              <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
               <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
                <p>Facere tenetur soluta ipsam. aut et quia laboriosam possimus corporis beatae quod dolores culpa sit aspernatur sit unde. similique excepturi quaerat qui excepturi ipsa similique aspernatur quas repellat voluptas et magni</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="ls-steps-content" id="step3">
      <p>Omnis sed et omnis corporis beatae fuga rerum facere saepe voluptatum ducimus. est laboriosam odit aliquid mollitia qui voluptas maxime est illo cum et aspernatur recusandae eveniet. quia ratione nostrum ut possimus error veniam dicta ab eveniet ut eligendi repudiandae sunt alias. tempora id est accusamus ut voluptate ratione. quidem aliquid eaque nulla ut</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
  </div>
</div>


<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel6/sidebar' %>
<% end %>
