---
title: Informações Iniciais
layout: v1/layouts/page
menu_page: v1/partials/sidebar-informacoes-iniciais.erb
---


	<article class="text">
		<header>
			<!-- <h2 class="ico-edit">Aprenda o básico</h2> -->
			<h1>Dependências do Locaweb Style</h1>
			<h3>Temos algumas depêndencias e informações importantes antes da diversão.</h3>
		</header>

		<p>O Locaweb Style precisa dos plugins abaixo para funcionar perfeitamente. Sempre recomendamos ter a versão mais atual destes plugins.</p>

		<h3>Bootstrap</h3>
		<p>Os estilos e comportamentos foram baseados no <a href="http://twitter.github.com/bootstrap/" class="broken_link">Bootstrap</a>, framework criado pelo <a href="http://twitter.com/mdo/" class="broken_link">Mark Ott</a> e <a href="http://twitter.com/fat" class="broken_link">Jacob Thornton</a> para agilizar a criação de interface do Twitter. </p>

		<p>Se você não conhece, <a href="http://twitter.github.com/bootstrap/" class="broken_link">visite o github do projeto e conheça já</a>!</p>

		<p>
			<em>Curiosidade</em> –
			O Bootstrap utiliza o Normalize, que é um CSS Reset bastante completo. Ele padroniza e compatibiliza alguns problemas de textos e valores padrões em elementos do HTML. O Normalize foi criado pelo <a href="http://twitter.com/necolas" class="broken_link">Nicolas Gallagher</a> and <a href="http://twitter.com/jon_neal" class="broken_link">Jonathan Neal</a>.
			<a href="http://necolas.github.com/normalize.css/">Dê uma olhada no projeto</a>
		</p>

		<h3>JQuery</h3>
		<p>O JQuery é o framework mais utilizado para controle e manipulação de comportamentos de elementos do HTML. Acho que ele dispensa apresentações. <a href="http://jquery.com">Link do projeto</a></p>

		<h2>Já temos embutido</h2>
		<h3>Modernizr</h3>
		<p>A <a href="http://www.modernizr.com/">Modernizr</a> é um script de detecção de compatibilidade e suporte dos browsers ao CSS3 e algumas features do HTML5. Ele avisa se o browser suporta ou não as novidades do W3C, possibilitando a criação de fallbacks para browsers incompatíveis. Assim fica fácil saber quais browsers suportam ou não SVG, canvas, RGBA, drop shadow, gradiente e tudo o mais.</p>

		<p>Ele foi criado por desenvolvedores renomados como <a href="http://paulirish.com/">Paul Irish</a> e <a href="http://farukat.es/">Faruk Ates</a>. <a href="http://www.modernizr.com/">Site do projeto</a></p>

	</article>
