<% icons = [
  {name: "accessibility",       keyword: "" },
  {name: "address-book",        keyword: "" },
  {name: "airplane",            keyword: "" },
  {name: "android",             keyword: "" },
  {name: "apple",               keyword: "" },
  {name: "arrow-down",          keyword: "" },
  {name: "arrow-left",          keyword: "" },
  {name: "arrow-right",         keyword: "" },
  {name: "arrow-up",            keyword: "" },
  {name: "attachment",          keyword: "" },
  {name: "angle-left",          keyword: "" },
  {name: "angle-right",         keyword: "" },
  {name: "angle-up",            keyword: "" },
  {name: "angle-down",          keyword: "" },
  {name: "backward",            keyword: "" },
  {name: "bars",                keyword: "" },
  {name: "blocked",             keyword: "" },
  {name: "blogger",             keyword: "" },
  {name: "blogger-2",           keyword: "" },
  {name: "book",                keyword: "" },
  {name: "bookmark",            keyword: "" },
  {name: "box-add",             keyword: "" },
  {name: "box-remove",          keyword: "" },
  {name: "brightness-contrast", keyword: "" },
  {name: "brightness-medium",   keyword: "" },
  {name: "bubble",              keyword: "" },
  {name: "bubbles",             keyword: "" },
  {name: "bubbles-2",           keyword: "" },
  {name: "calendar",            keyword: "" },
  {name: "calendar-check",      keyword: "" },
  {name: "calendar-more",       keyword: "" },
  {name: "camera",              keyword: "" },
  {name: "cancel-circle",       keyword: "" },
  {name: "cart",                keyword: "" },
  {name: "cart-2",              keyword: "" },
  {name: "chart-bar-up",        keyword: "" },
  {name: "checkbox-checked",    keyword: "" },
  {name: "checkbox-partial",    keyword: "" },
  {name: "checkbox-unchecked",  keyword: "" },
  {name: "checkmark",           keyword: "" },
  {name: "checkmark-circle",    keyword: "" },
  {name: "chrome",              keyword: "" },
  {name: "clock",               keyword: "" },
  {name: "close",               keyword: "" },
  {name: "cloud",               keyword: "" },
  {name: "cloud-download",      keyword: "" },
  {name: "cloud-upload",        keyword: "" },
  {name: "code",                keyword: "" },
  {name: "cog",                 keyword: "" },
  {name: "cogs",                keyword: "" },
  {name: "contract",            keyword: "" },
  {name: "contract-2",          keyword: "" },
  {name: "contrast",            keyword: "" },
  {name: "css3",                keyword: "" },
  {name: "delicious",           keyword: "" },
  {name: "deviantart",          keyword: "" },
  {name: "direction-up",        keyword: "" },
  {name: "direction-down",      keyword: "" },
  {name: "direction-right",     keyword: "" },
  {name: "direction-left",      keyword: "" },
  {name: "deviantart-2",        keyword: "" },
  {name: "download",            keyword: "" },
  {name: "download-2",          keyword: "" },
  {name: "download-3",          keyword: "" },
  {name: "drawer",              keyword: "" },
  {name: "drawer-2",            keyword: "" },
  {name: "drawer-3",            keyword: "" },
  {name: "dribbble",            keyword: "" },
  {name: "dribbble-2",          keyword: "" },
  {name: "dribbble-3",          keyword: "" },
  {name: "earth",               keyword: "" },
  {name: "eject",               keyword: "" },
  {name: "enter",               keyword: "" },
  {name: "envelop",             keyword: "" },
  {name: "exit",                keyword: "" },
  {name: "expand",              keyword: "" },
  {name: "expand-2",            keyword: "" },
  {name: "export",              keyword: "" },
  {name: "eye",                 keyword: "" },
  {name: "eye-blocked",         keyword: "" },
  {name: "facebook",            keyword: "" },
  {name: "facebook-2",          keyword: "" },
  {name: "facebook-3",          keyword: "" },
  {name: "feed",                keyword: "" },
  {name: "feed-2",              keyword: "" },
  {name: "feed-3",              keyword: "" },
  {name: "feed-4",              keyword: "" },
  {name: "file-css",            keyword: "" },
  {name: "file-excel",          keyword: "" },
  {name: "file-openoffice",     keyword: "" },
  {name: "file-pdf",            keyword: "" },
  {name: "file-powerpoint",     keyword: "" },
  {name: "file-word",           keyword: "" },
  {name: "file-xml",            keyword: "" },
  {name: "file-zip",            keyword: "" },
  {name: "finder",              keyword: "" },
  {name: "firefox",             keyword: "" },
  {name: "first",               keyword: "" },
  {name: "flag",                keyword: "" },
  {name: "flattr",              keyword: "" },
  {name: "flickr",              keyword: "" },
  {name: "flickr-2",            keyword: "" },
  {name: "flickr-3",            keyword: "" },
  {name: "flickr-4",            keyword: "" },
  {name: "folder",              keyword: "" },
  {name: "folder-open",         keyword: "" },
  {name: "forrst",              keyword: "" },
  {name: "forrst-2",            keyword: "" },
  {name: "forward",             keyword: "" },
  {name: "forward-2",           keyword: "" },
  {name: "foursquare",          keyword: "" },
  {name: "foursquare-2",        keyword: "" },
  {name: "github",              keyword: "" },
  {name: "github-2",            keyword: "" },
  {name: "github-3",            keyword: "" },
  {name: "github-4",            keyword: "" },
  {name: "github-5",            keyword: "" },
  {name: "globe",               keyword: "" },
  {name: "google",              keyword: "" },
  {name: "google-drive",        keyword: "" },
  {name: "google-plus",         keyword: "" },
  {name: "google-plus-2",       keyword: "" },
  {name: "google-plus-3",       keyword: "" },
  {name: "google-plus-4",       keyword: "" },
  {name: "grid",                keyword: "" },
  {name: "history",             keyword: "" },
  {name: "home",                keyword: "" },
  {name: "html5",               keyword: "" },
  {name: "html5-2",             keyword: "" },
  {name: "IcoMoon",             keyword: "" },
  {name: "IE",                  keyword: "" },
  {name: "image",               keyword: "" },
  {name: "images",              keyword: "" },
  {name: "info",                keyword: "" },
  {name: "insert-template",     keyword: "" },
  {name: "instagram",           keyword: "" },
  {name: "joomla",              keyword: "" },
  {name: "key",                 keyword: "" },
  {name: "lamp",                keyword: "" },
  {name: "lanyrd",              keyword: "" },
  {name: "last",                keyword: "" },
  {name: "lastfm",              keyword: "" },
  {name: "lastfm-2",            keyword: "" },
  {name: "libreoffice",         keyword: "" },
  {name: "link",                keyword: "" },
  {name: "linkedin",            keyword: "" },
  {name: "list",                keyword: "" },
  {name: "location",            keyword: "" },
  {name: "loop",                keyword: "" },
  {name: "loop-2",              keyword: "" },
  {name: "loop-3",              keyword: "" },
  {name: "menu",                keyword: "" },
  {name: "menu-2",              keyword: "" },
  {name: "minus",               keyword: "" },
  {name: "mobile",              keyword: "" },
  {name: "monitor",             keyword: "" },
  {name: "music",               keyword: "" },
  {name: "next",                keyword: "" },
  {name: "numbered-list",       keyword: "" },
  {name: "opera",               keyword: "" },
  {name: "pause",               keyword: "" },
  {name: "paypal",              keyword: "" },
  {name: "paypal-2",            keyword: "" },
  {name: "paypal-3",            keyword: "" },
  {name: "pencil",              keyword: "" },
  {name: "phone",               keyword: "" },
  {name: "picassa",             keyword: "" },
  {name: "picassa-2",           keyword: "" },
  {name: "pinterest",           keyword: "" },
  {name: "pinterest-2",         keyword: "" },
  {name: "play",                keyword: "" },
  {name: "play-2",              keyword: "" },
  {name: "play-3",              keyword: "" },
  {name: "plus",                keyword: "" },
  {name: "podcast",             keyword: "" },
  {name: "previous",            keyword: "" },
  {name: "question",            keyword: "" },
  {name: "radio-checked",       keyword: "" },
  {name: "radio-unchecked",     keyword: "" },
  {name: "reddit",              keyword: "" },
  {name: "redo",                keyword: "" },
  {name: "redo-2",              keyword: "" },
  {name: "remove",              keyword: "" },
  {name: "reply",               keyword: "" },
  {name: "safari",              keyword: "" },
  {name: "screen",              keyword: "" },
  {name: "search",              keyword: "" },
  {name: "shuffle",             keyword: "" },
  {name: "skype",               keyword: "" },
  {name: "soundcloud",          keyword: "" },
  {name: "soundcloud-2",        keyword: "" },
  {name: "spam",                keyword: "" },
  {name: "spinner",             keyword: "" },
  {name: "stackoverflow",       keyword: "" },
  {name: "star",                keyword: "" },
  {name: "star-2",              keyword: "" },
  {name: "star-3",              keyword: "" },
  {name: "stats",               keyword: "" },
  {name: "steam",               keyword: "" },
  {name: "steam-2",             keyword: "" },
  {name: "stop",                keyword: "" },
  {name: "stumbleupon",         keyword: "" },
  {name: "stumbleupon-2",       keyword: "" },
  {name: "switch",              keyword: "" },
  {name: "tab",                 keyword: "" },
  {name: "table",               keyword: "" },
  {name: "table-alt",           keyword: "" },
  {name: "tablet",              keyword: "" },
  {name: "tag",                 keyword: "" },
  {name: "thumbs-up",           keyword: "" },
  {name: "thumbs-up-2",         keyword: "" },
  {name: "tree",                keyword: "" },
  {name: "truck",               keyword: "" },
  {name: "tumblr",              keyword: "" },
  {name: "tumblr-2",            keyword: "" },
  {name: "tux",                 keyword: "" },
  {name: "twitter",             keyword: "" },
  {name: "twitter-2",           keyword: "" },
  {name: "twitter-3",           keyword: "" },
  {name: "undo",                keyword: "" },
  {name: "undo-2",              keyword: "" },
  {name: "upload",              keyword: "" },
  {name: "upload-2",            keyword: "" },
  {name: "upload-3",            keyword: "" },
  {name: "user",                keyword: "" },
  {name: "users",               keyword: "" },
  {name: "vimeo",               keyword: "" },
  {name: "vimeo-2",             keyword: "" },
  {name: "vimeo2",              keyword: "" },
  {name: "volume-decrease",     keyword: "" },
  {name: "volume-high",         keyword: "" },
  {name: "volume-increase",     keyword: "" },
  {name: "volume-low",          keyword: "" },
  {name: "volume-medium",       keyword: "" },
  {name: "volume-mute",         keyword: "" },
  {name: "volume-mute-2",       keyword: "" },
  {name: "windows",             keyword: "" },
  {name: "windows8",            keyword: "" },
  {name: "wordpress",           keyword: "" },
  {name: "wordpress-2",         keyword: "" },
  {name: "xing",                keyword: "" },
  {name: "xing-2",              keyword: "" },
  {name: "yahoo",               keyword: "" },
  {name: "yelp",                keyword: "" },
  {name: "youtube",             keyword: "" },
  {name: "youtube-2",           keyword: "" },
  {name: "zoom-in",             keyword: "" },
  {name: "zoom-out",            keyword: "" }
] %>

<% icons.each do |icon| %>
  <span class="box1"><span aria-hidden="true" class="ico-<%= icon[:name] %>" data-keyword="<%= icon[:keyword] %>"></span>&nbsp;ico-<%= icon[:name] %></span>
<% end %>
