<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-12">
      <input type="checkbox" data-checkbox-toggle="checklist">
      <a href="#" >Identificador da conta</a>
      <small>Primeiro item da lista  </small>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-12">
      <input type="checkbox" data-checkbox-toggle="checklist">
      <a href="#" >Identificador do usuário</a>
      <small>Segundo item da lista  </small>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-12">
      <input type="checkbox" data-checkbox-toggle="checklist">
      <a href="#" >Identificador de dados</a>
      <small>Terceiro item da lista</small>
    </div>
  </header>
</div>

<a href="#" class="ls-btn-primary" data-ls-module="checkboxToggle" data-checkbox-target="checklist" data-toggle-text="Deselecionar todos">Selecionar todos</a>
