Source: locastyle
Section: ruby
Priority: optional
Maintainer: Diego Eis <diego.eis@locaweb.com.br>
Build-Depends: ruby1.9.1, ruby1.9.1-dev
Standards-Version: 0.1
Homepage: https://git.locaweb.com.br/locawebstyle/locawebstyle

Package: locastyle
Architecture: any
Depends: ruby1.9.1, libruby1.9.1, libbundler-ruby1.9.1, librack-ruby1.9.1, nodejs, libxslt-dev, libxml2-dev
Description: locastyle
