<div id="changePassword" class="ls-modal fade">
  <div class="ls-modal-box">
    <div class="ls-modal-content">
      <div class="ls-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title_change_pass">Alteração de senha</h3>
      </div>
      <form action="#" class="ls-form ls-form-inline validate" >
        <div class="ls-modal-body">
          <div class="ls-alert ls-alert-warning" role="alert">
            <p>Ao alterar a senha, <strong>lembre-se que todas as aplicações</strong> que utilizam a autenticação deste SMTP deverão ser alteradas, caso contrário os envios serão interrompidos.</p>
          </div>
          <label class="ls-label">
            <b class="ls-label-text">Nova senha</b>
            <input class="password auto-focus required" type="password">
            <p>Senha entre 8 a 14 caracteres, contendo letras e números</p>
          </label>
        </div>
        <div class="ls-modal-footer">
          <button class="ls-btn-default ls-float-right" type="button" data-dismiss="modal">Cancelar</button>
          <input class="ls-btn-primary" name="commit" type="submit" value="Confirmar">
        </div>
      </form>
    </div>
  </div>
</div>
