---
title: Dados do Servidor SMTP
layout: panel2
---

  <h1 class="ls-title-intro ls-ico-cog">Envios excedentes</h1>
  <p>Mantenha o uso de envios excedentes ativado para que seus envios não sejam interrompidos.</p>



