---
title: Dados do Servidor SMTP
layout: panel2
---

  <h1 class="ls-title-intro ls-ico-cog">Envios excedentes</h1>
  <p>Mantenha o uso de envios excedentes ativado para que seus envios não sejam interrompidos.</p>

  <div class="ls-box">
    <div class="ls-switch-btn">
      <input type="checkbox" id="teste">
      <label for="teste" name="label-teste">label</label>
    </div>
    <p class="d-inline-block">
      Uso de envios excedentes
      <span class="ls-ico-help" data-ls-module="popover" data-title="Envios excedentes" data-content="<p>Ao ativar o uso de envios excedentes, seus envios não serão interrompidos após atingir o limite do plano contratado.</p><p><strong>Valor de envio excedente:
        R$ 0,0045</strong></p><p>Mais informações, consulte o <a href='#'>contrato</a> </p>" data-placement="top"></span>
    </p>
  </div>


