---
title: Dados do Servidor SMTP
layout: panel2
---

  <h1 class="ls-title-intro ls-ico-cog">E-mail de remetente</h1>
  <p>Adicione e gerencie o e-mail de remetente que será exibido em seus envios.</p>


