---
title: Dados do Servidor SMTP
layout: panel
theme_name: ls-theme-light-green
panel: painel2
title_product: SMTP Locaweb
---

<h1 class="ls-title-intro ls-ico-cog">Envios excedentes</h1>
<p>Mantenha o uso de envios excedentes ativado para que seus envios não sejam interrompidos.</p>

<div class="ls-box">
  <div class="ls-display-inline-block col-md-12 row">
    <h3 class="ls-title-5 ls-display-inline-block">Uso de envios excedentes</h3>
    <div class="ls-switch-btn ls-float-right">
      <input type="checkbox" id="teste">
      <label class="ls-switch-label" for="teste" name="label-teste" ls-switch-off="Desativado" ls-switch-on="Ativado"><span></span></label>
    </div>
  </div>
  <hr>
  <p class="ls-display-inline-block">Ao ativar o uso de envios excedentes, seus envios não serão interrompidos após atingir o limite do plano contratado. A cobrança é por envio utilizado e será apresentada na fatura do próximo mês. </p>
  <p>Valor de envio excedente: R$ 0,0045 </p>
  <p class="ls-display-inline-block">Mais informações, consulte o <a href="http://assets.locaweb.com.br/site/contratos/contrato-smtp.pdf" target="_blank">contrato</a></p>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel2/sidebar' %>
<% end %>
