---
title: Dados do Servidor SMTP
layout: panel2
---

  <h1 class="ls-title-intro ls-ico-cog">Dados do Servidor SMTP</h1>
  <p>Utilize e gerencie as informações de autenticação do servidor SMTP.</p>


