---
title: Página Inicial
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-light-green
panel: painel2
title_product: SMTP Locaweb
---

<h1 class="ls-title-intro ls-ico-dashboard">Dashboard</h1>

<div class="ls-alert-box ls-dismissable">
  <header class="ls-info-header">
    <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
    <h2 class="ls-title-3">Configuração do serviço</h2>
    <p>Utilize os seguintes dados para autenticação no serviço.</p>
  </header><!-- /header -->
  <h3 class="ls-title-5">Dados do servidor SMTP</h3>
  <table class="ls-table ls-table-striped">
    <tbody>
      <tr>
        <td><strong>Usuário: </strong> <%= lorem.first_name %></td>
      </tr>
      <tr>
        <td>
          <strong>Senha: </strong>
          <input type="password" maxlength="20" id="password_field2" name="password" class="ls-no-style-input" value="testandosenha" >
          <a class="ls-toggle-pass" data-target="#password_field2" href="#" data-toggle-text="Ocultar">Exibir</a> |
          <a href="#" data-ls-module="modal" data-target="#changePassword">Alterar</a>
        </td>
      </tr>
      <tr>
        <td><strong>Endereço de SMTP: </strong>smtp.dominio-smtp.dominio.com</td>
      </tr>
      <tr>
        <td><strong>Porta:</strong> 587| <strong>SSL/TLS:</strong> 465</td>
      </tr>
    </tbody>
  </table>
  <h3 class="ls-title-5">Documentação</h3>
  <p>Veja <a href="" title="">exemplos de código de implementação</a> em PHP, .NET, RUBY, Java entre outras linguagens.</p>
  <p>Saiba como <a href="" title="">configurar o SMTP no Outlook</a>.</p>
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Relatório diário</h2>
    <a href="<%= base_url %>/documentacao/exemplos/painel2/stats" class="ls-btn ls-btn-sm">Ver relatórios</a>
  </header>

  <div id="sending-stats" class="row">
    <div class="col-sm-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Enviados</h6>
        <span class="ls-board-data">
          <strong>33</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Entregues</h6>
        <span class="ls-board-data">
          <strong>27</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Erros</h6>
        <span class="ls-board-data">
          <strong>16</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Denúncias <a href="#" class="ls-ico-help" data-trigger="hover" data-ls-module="popover" data-placement="left" data-custom-classes="ls-width-300" data-content="<p>Este número corresponde ao número de vezes que seus destinatários marcaram suas mensagens como spam. Essas denúncias podem comprometer a entregabilidade das suas próximas mensagens.</p>"></a></h6>
        <span class="ls-board-data">
          <strong>1</strong>
        </span>
      </div>
    </div>

  </div>
  <hr class="ls-no-border">
  <div id="panel-charts-2" class="ls-clear-both"></div>
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <p class="ls-float-right ls-float-none-xs ls-small-info">Valido até <strong>01.05.2014</strong></p>
    <h2 class="ls-title-3">Consumo de envios</h2>
  </header>

  <div id="sending-stats" class="row ls-clearfix">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Contratado</h6>
        <span class="ls-board-data">
          <strong>1 <small>milhão</small></strong>
        </span>
        <a href="#" class="ls-btn ls-btn-xs">Alterar plano</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Envios do plano</h6>
        <span class="ls-board-data">
          <strong>0 <small>de 1 milhão</small></strong>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Envios Excedentes <a href="#" class="ls-ico-help" data-trigger="hover" data-ls-module="popover" data-placement="left" data-content="Isso permite que os envios não sejam interrompidos após atingir o limite do plano contratado." data-title="O uso de envios excedentes está ativado!"></a></h6>
        <span class="ls-board-data ls-transparent-25">
          <strong>0 <small>de 1 milhão</small></strong>
        </span>
        <a href="#" class="ls-btn ls-btn-xs">Ativar</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4 color-default">Total de envios utilizados</h6>
        <span class="ls-board-data">
          <strong class="ls-color-theme">81%</strong>
        </span>
      </div>
    </div>
  </div>
  <br>
  <p class="ls-txt-right">Status anti-fraude: <strong class="ls-color-success">Aprovado</strong> <span style="clear: both;" class="ls-ico-help anti-fraud-pop" data-trigger="hover" data-ls-module="popover" data-placement="left" data-custom-classes="ls-width-300" data-title="Sua conta está &quot;Aprovada&quot;!" data-content="Status antifraude é uma verificação do comportamento de envio da conta."></span></p>
</div>

<%= partial 'documentacao/exemplos/painel2/change-password' %>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel2/sidebar' %>
<% end %>
