---
title: Página Inicial
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-light-green
title_product: SMTP Locaweb
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<div class="ls-box ls-dismissable">
  <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
  <h2 class="ls-title-3">Configuração do serviço</h2>
  <p>Utilize os seguintes dados para autenticação no serviço.</p>
  <h3 class="ls-title-5">Dados do servidor SMTP</h3>
  <table class="ls-table ls-table-striped">
    <tbody>
      <tr>
        <td><strong>Usuário: </strong> fulano</td>
      </tr>
      <tr>
        <td>
          <strong>Senha: </strong>
          <input type="password" maxlength="20" id="password_field2" name="password" class="ls-no-style-input" value="testandosenha" >
          <a class="ls-toggle-pass" data-target="#password_field2" href="#" data-toggle-text="Ocultar">Exibir</a>
        </td>
      </tr>
      <tr>
        <td><strong>Endereço de SMTP: </strong>smtp.teste-smtp.teste.com</td>
      </tr>
      <tr>
        <td><strong>Porta:</strong> 587| <strong>SSL/TLS:</strong> 465</td>
      </tr>
    </tbody>
  </table>
  <h3 class="ls-title-5">Documentação</h3>
  <p>Veja <a href="" title="">exemplos de código de implementação</a> em PHP, .NET, RUBY, Java entre outras linguagens.</p>
  <p>Saiba como <a href="" title="">configurar o SMTP no Outlook</a>.</p>
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <p class="ls-float-right ls-float-none-xs ls-small-info">Valido até <strong>01.05.2014</strong></p>
    <h2 class="ls-title-3 ls-ico-stats">Relatório diário</h2>
  </header>

  <div id="sending-stats" class="row">
    <div class="col-sm-4">
      <div class="ls-box">
        <h6 class="ls-title-4">Enviados</h6>
        <span class="ls-board-data">
          <strong>33</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ls-box">
        <h6 class="ls-title-4">Entregues</h6>
        <span class="ls-board-data">
          <strong>27</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ls-box">
        <h6 class="ls-title-4">Erros</h6>
        <span class="ls-board-data">
          <strong>16</strong>
        </span>
      </div>
    </div>
  </div>
  <img style="width: 100% " src="<%= base_url %><%= images_dir %>/graph-example-2.jpg">
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
      <p class="ls-float-right ls-float-none-xs ls-small-info">Valido até <strong>01.05.2014</strong></p>
      <h2 class="ls-title-3 ls-ico-dashboard">Consumo de envios</h2>
  </header>

  <div id="sending-stats" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Contratado</h6>
        <span class="ls-board-data">
          <strong>1 <small>milhão</small></strong>
        </span>
        <a href="#" class="ls-btn ls-btn-sm">Alterar plano</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Envios excedentes</h6>
        <span class="ls-board-data">
          <strong>0</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Total utilizados</h6>
        <span class="ls-board-data">
          <strong>10.743</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4 color-default">Disponível</h6>
        <span class="ls-board-data">
          <strong class="ls-color-theme">81%</strong>
          <small>989.257</small>
        </span>
      </div>
    </div>
  </div>

</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel2/sidebar' %>
<% end %>
