---
title: Termos de Serviço SMTP
layout: panel
theme_name: ls-theme-light-green
panel: painel2
title_product: SMTP Locaweb
---

<h1 class="ls-title-intro ls-ico-dashboard"><%= current_page.data.title %></h1>

<p>
  Última atualização: <strong>00 de novembro de 2015</strong> <br>
  Para que você utilize o seu serviço SMTP da melhor maneira, é muito importante que conheça as regras que entrarão em vigor a partir do dia <strong>XX/XX/XXXX.</strong>
</p>

<h2 class="ls-title-3 ls-color-theme"><strong>Reputação</strong></h2>
<p>
  A reputação é composta pelos envios entregues com sucesso, <strong>hard bounces</strong> e e-mails denunciados como <strong>spam.</strong> <br>
  Veja como funciona:
</p>

<table class="ls-table ls-no-hover">
  <thead>
    <tr>
      <th>Hard Bounces</th>
      <th>Recomendação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Envios classificados como hard bounces são aqueles que possuem erros permanentes na entrega do e-mail. Essa falha está relacionada, em geral, à tentativa de enviar mensagens para endereços de e-mail inexistentes. Sugerimos que você retire esses destinatários da sua lista.</td>
      <td class="ls-v-align-top">
        Índice menor que <strong>10%</strong>
        <br>
        Máximo permitido <strong>20%</strong>
      </td>
    </tr>
  </tbody>
</table>

<table class="ls-table ls-no-hover">
  <thead>
    <tr>
      <th>Denúncias como spam</th>
      <th>Recomendação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mensagens enviadas para contatos que não as solicitaram, ou que não despertam o interesse do seu público, costumam ser marcadas como spam. Para aumentar o seu desempenho e reduzir os gastos de sua empresa, mantenha a base de contatos sempre atualizada.</td>
      <td class="ls-v-align-top">
        Índice menor que <strong>X%</strong>
        <br>
        Máximo permitido <strong>0,1% </strong>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="ls-title-3"><strong>Classificação:</strong></h2>
<p>Baseado no seu percentual de Hard Bounces e Denúncias, você receberá, semanalmente, uma nota. As classificações se dividem em “péssimo”, “ruim”, "regular”, “bom” e “ótimo”. Veja abaixo:</p>
<div class="visible-xs">
  <hr>
  <strong>Sem indice</strong>
  <p>Caso você não possua envios suficientes para calcular a sua reputação. Você precise ter, no mínimo, 3.000 envios nos últimos 30 dias.</p>
  <hr>
  <strong>Péssimo - Nota: 0 a 24</strong>
  <p>Você poderá ser bloqueado. Em caso de alta reincidência, o bloqueio poderá ser por tempo indeterminado.</p>
  <hr>
  <strong>Ruim - Nota: 25 a 49</strong>
  <p>Você está prestes a ser bloqueado. Recomendamos que você revise sua base, o quanto antes.</p>
  <hr>
  <strong>Regular - Nota: 50 a 74</strong>
  <p>Você está no limite aceitável dos indíces de bounces e denúncias.</p>
  <hr>
  <strong>Bom - Nota: 75 a 87</strong>
  <p>O seu desempenho está acima da média, parabéns!</p>
  <hr>
  <strong>Ótimo - Nota: Acima de 87</strong>
  <p>Parabéns! Você está entre os melhores envios da Locaweb.</p>
  <hr>
</div>

<table class="ls-table ls-no-hover ls-table-striped hidden-xs">
  <thead>
    <tr>
      <th class="ls-width-150">Classificação</th>
      <th class="ls-width-150">Nota</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sem indice</td>
      <td>Sem nota</td>
      <td>Caso você não possua envios suficientes para calcular a sua reputação. Você precise ter, no mínimo, 3.000 envios nos últimos 30 dias.</td>
    </tr>
    <tr>
      <td>Péssimo</td>
      <td>0 a 24</td>
      <td>Você poderá ser bloqueado. Em caso de alta reincidência, o bloqueio poderá ser por tempo indeterminado.</td>
    </tr>
    <tr>
      <td>Ruim</td>
      <td>25 a 49</td>
      <td>Você está prestes a ser bloqueado. Recomendamos que você revise sua base, o quanto antes.</td>
    </tr>
    <tr>
      <td>Regular</td>
      <td>50 a 74</td>
      <td>Você está no limite aceitável dos indíces de bounces e denúncias.</td>
    </tr>
    <tr>
      <td>Bom</td>
      <td>75 a 87</td>
      <td>O seu desempenho está acima da média, parabéns!</td>
    </tr>
    <tr>
      <td>Ótimo</td>
      <td>Acima de 87</td>
      <td>Parabéns! Você está entre os melhores envios da Locaweb.</td>
    </tr>
  </tbody>
</table>

<h2 class="ls-title-3"><strong>Contrato:</strong></h2>
<p>
  Essas são condições pré-existentes e estão expressas no contrato de adesão ao serviço. <br>
  Você pode consultá-lo a qualquer momento, por aqui: <a href="#">Termo de Uso e Regulamentação.</a>
</p>
<div class="ls-box ls-box-gray">
  <p>Pedimos que você leia com atenção o Termo de Uso e Reputação. Se ficar com alguma dúvida, acesse a Central de Ajuda (Wiki).</p>
  <form class="ls-form ls-form-inline">
    <p class="ls-no-margin">
      <label class="ls-label-text">
        <input type="checkbox" name="confirmcao-de-termos" class="ls-field-checkbox">
        Li e concordo com as regras apresentadas acima.
      </label>
    </p>
    <button class="ls-btn-primary">Continuar a usar o SMTP</button>
   </div>
  </form>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel2/sidebar' %>
<% end %>
