---
title: Download
description: Download
keywords: download, locastyle
---

<h1><%= I18n.t(:name) %></h1>

<p>
  Versão atual: <%= settings.stable %>
</p>

<h2>Versões anteriores</h2>

<ol>
  <li>...</li>
  <li>...</li>
</ol>
