// Hospedagem Panel
$theme_name: ".colorCyanogen";

$pallet_1: #00c9f5;
$pallet_2: #00a1c4;
$pallet_3: #005062;
$pallet_4: #002831;
$pallet_5: #ccf4fd;
$pallet_6: #99e9fb;
$pallet_7: #e6fafe;

@import "theme_base";
