// Email Marketing Panel
$theme_name: ".colorDarkGreen";

$pallet_1: #079a00;
$pallet_2: #067b00;
$pallet_3: #033e00;
$pallet_4: #011f00;
$pallet_5: #cdebcc;
$pallet_6: #9cd799;
$pallet_7: #e7f5e6;

@import "theme_base";
