// SMS
$theme_name: ".colorLightBlue";

$pallet_1: #5c90c4;
$pallet_2: #4a739d;
$pallet_3: #253a4e;
$pallet_4: #121d27;
$pallet_5: #dee9f3;
$pallet_6: #bed3e7;
$pallet_7: #eff4f9;

@import "theme_base";
