#{$theme_name} a:hover,
#{$theme_name} .lnkArrow:hover,
#{$theme_name} .lnkSeta:hover,
#{$theme_name} [class^="ico-"]:hover,
#{$theme_name} [class*=" ico-"]:hover,
#{$theme_name} .collapseGroup summary span,
#{$theme_name} .boxCollapse h4 span,
#{$theme_name} #menuPrincipal > ul > li > a:hover,
#{$theme_name} #menuPrincipal .parent > a:hover,
#{$theme_name} .carousel-control,
#{$theme_name} .serviceName a,
#{$theme_name} .innerSideBox [class^="ico-"],
#{$theme_name} .innerSideBox [class*="ico-"],
#{$theme_name} .listWhite li a:before,
#{$theme_name} .boxInfoAction.sought strong,
#{$theme_name} .boxInfoAction.sought b,
#{$theme_name} .guided-tour.on .lnk-suggestions,
#{$theme_name} .colorTheme,
#{$theme_name} .messageInfo.selectable.active .selectableTitle{
  color: $pallet_1;
}

#{$theme_name} a,
#{$theme_name} #menuPrincipal .btMenu a,
#{$theme_name} .collapseGroup summary span,
#{$theme_name} .boxCollapse h4 span,
#{$theme_name} .lnkArrow,
#{$theme_name} #menuPrincipal > ul > li > a:hover,
#{$theme_name} .boxGray.listDetail a,
#{$theme_name} td a,
#{$theme_name} #menuPrincipal .parent:hover > a,
#{$theme_name} .pagination li.first-child a,
#{$theme_name} .pagination li.last-child a,
#{$theme_name} .pagination .first a,
#{$theme_name} .pagination .prev a,
#{$theme_name} .pagination .next a,
#{$theme_name} .pagination .last a,
#{$theme_name} p a,
#{$theme_name} .lnkSeta, #{$theme_name} .lnkArrow,
#{$theme_name} .breadcrumb a,
#{$theme_name} [class^="ico-"],
#{$theme_name} [class*=" ico-"],
#{$theme_name} .pathWay li.active b,
#{$theme_name} .pathWay li:hover b,
#{$theme_name} .shortcutBox :before,
#{$theme_name} .shortcutBox .active :before,
#{$theme_name} .chooseBox li:hover [class^="ico-"]:before,
#{$theme_name} .chooseBox li:hover [class*="ico-"]:before,
#{$theme_name} .chooseBox li.active [class^="ico-"]:before,
#{$theme_name} .chooseBox li.active [class*="ico-"]:before,
#{$theme_name} .boxList .titleBoxList[class*="ico-"]:before {
  color: $pallet_2;
}


#{$theme_name} .boxCollapse header h4,
#{$theme_name} .pathWay li.active a,
#{$theme_name} .pathWay li:hover a,
#{$theme_name} .sidebar h1,
#{$theme_name} .chooseBox li:hover p,
#{$theme_name} .chooseBox li.active p,
#{$theme_name} .shortcutBox div:hover p,
#{$theme_name} .shortcutBox div.active p{
  color: $pallet_3
}

#{$theme_name} .chooseBox li:hover h4,
#{$theme_name} .chooseBox li.active h4,
#{$theme_name} .content h2,
#{$theme_name} .content h3,
#{$theme_name} .content h4,
#{$theme_name} .content h5,
#{$theme_name} .content h6,
#{$theme_name} .shortcutBox h3,
#{$theme_name} .shortcutBox h3 a,
#{$theme_name} .chooseBox li h4[class^="ico-"]:before,
#{$theme_name} .chooseBox li h4,
#{$theme_name} .chooseBox li:hover h4,
#{$theme_name} .chooseBox li.active h4,
#{$theme_name} .boxList .titleBoxList{
  color: $pallet_4;
}

#{$theme_name} .progress .bar,
#{$theme_name} .pathWay li.active,
#{$theme_name} .pathWay li:hover,
#{$theme_name} #menuPrincipal .btMenu a:hover,
#{$theme_name} #menuPrincipal .btMenu a:active,
#{$theme_name} .notification header:before {
  background-color: $pallet_1;
}

#{$theme_name} .guided-tour .guided-footer{
  background-color: $pallet_7;
}

#{$theme_name} #menuPrincipal,
#{$theme_name} .tabs li a:hover,
#{$theme_name} .tabs li a:focus,
#{$theme_name} .tabs li.active a,
#{$theme_name} #menuPrincipal ul li ul,
#{$theme_name} .dropdown-menu.listIdent {
  border-bottom-color: $pallet_1;
}

#{$theme_name} .tabs li.active a,
#{$theme_name} .tabs li a:hover,
#{$theme_name} .tabs li a:focus {
  border-top-color: $pallet_1;
}

#{$theme_name} .btn-group.open .btn-primary.dropdown-toggle {background-color: $pallet_1;}

#{$theme_name} .boxCollapse header {
  border-left-color: $pallet_1;
}

#{$theme_name} .boxCollapse .valueNotify.scoreIndicator { background-color: $pallet_1; }
#{$theme_name} .boxCollapse .valueNotify.scoreIndicator:before { border-right-color: $pallet_1; }
#{$theme_name} .boxCollapse.notification .listInfos li a { color: $pallet_2; }

#{$theme_name} #menuPrincipal > ul > li.selected > a,
#{$theme_name} .lnk-suggestions {
  background-color: $pallet_1;
}

#{$theme_name} .boxSidebarTitle{background-color: $pallet_3;}

#{$theme_name} .btn-primary{ border: 1px solid $pallet_2;}

#{$theme_name} .pathWay li.active a,
#{$theme_name} .pathWay li:hover a {
  background-color: $pallet_5;
}

#{$theme_name} .chooseBox .active:after { border-top: 13px solid $pallet_6;}
#{$theme_name} .chooseBox .active:before {border-top: 15px solid $pallet_1;}
#{$theme_name} .chooseBox li:hover,
#{$theme_name} .chooseBox li.active {
  border:1px solid $pallet_6;
}

#{$theme_name} .select2-results .select2-highlighted,
#{$theme_name} .select2-results .select2-highlighted:focus,
#{$theme_name} .btn-primary,
#{$theme_name} .dropdown-menu li > a:hover,
#{$theme_name} .dropdown-menu li > a:focus,
#{$theme_name} .dropdown-submenu:hover > a,
#{$theme_name} div.hopscotch-bubble .hopscotch-nav-button.next,
#{$theme_name} div.hopscotch-bubble .hopscotch-nav-button.next:hover  {
  background-color: $pallet_2;
  background-image: -moz-linear-gradient(top,  $pallet_1 0%, $pallet_2 100%);
  background-image: -webkit-linear-gradient(top,  $pallet_1 0%,$pallet_2 100%);
  background-image: -ms-linear-gradient(top,  $pallet_1 0%,$pallet_2 100%);
  background-image: linear-gradient(to bottom,  $pallet_1 0%,$pallet_2 100%);
  filter: none;
}

#{$theme_name} .shortcutBox div.active,
#{$theme_name} .shortcutBox div:hover,
#{$theme_name} .chooseBox li:hover,
#{$theme_name} .chooseBox li.active{
  border-color: $pallet_1;
  background-color: $pallet_6;
  background: -moz-linear-gradient(top,  #ffffff 0%, $pallet_6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,$pallet_6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,$pallet_6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,$pallet_6 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,$pallet_6 100%);
  filter: none;
}

#{$theme_name}  .gradient{
  background-color: $pallet_5;
  background-image: -moz-linear-gradient(top,  $pallet_7 0%, $pallet_5 100%);
  background-image: -webkit-linear-gradient(top,  $pallet_7 0%,$pallet_5 100%);
  background-image: -ms-linear-gradient(top,  $pallet_7 0%,$pallet_5 100%);
  background-image: linear-gradient(to bottom,  $pallet_7 0%,$pallet_5 100%);
  filter: none;
}
#{$theme_name}.ie9  .gradient{background-color: $pallet_5;}

#{$theme_name} .pagination .current,
#{$theme_name} .pagination .active a {
  border-color: $pallet_1;
  background-color: $pallet_1;
  background-image: -moz-linear-gradient(top,  $pallet_1 0%, $pallet_2 100%);
  background-image: -webkit-linear-gradient(top,  $pallet_1 0%,$pallet_2 100%);
  background-image: -ms-linear-gradient(top,  $pallet_1 0%,$pallet_2 100%);
  background-image: linear-gradient(to bottom,  $pallet_1 0%,$pallet_2 100%);
  filter: none;
}
#{$theme_name} .progress .bar{
  background-color: $pallet_2;
  background-image: -moz-linear-gradient(top,  $pallet_1 0%, $pallet_2 100%);
  background-image: -webkit-linear-gradient(top,  $pallet_1 0%,$pallet_2 100%);
  background-image: -ms-linear-gradient(top,  $pallet_1 0%,$pallet_2 100%);
  background-image: linear-gradient(to bottom,  $pallet_1 0%,$pallet_2 100%);
  filter: none;
}