// Hospedagem Panel
$theme_name: ".colorAqua";

$pallet_1: #3b949c;
$pallet_2: #2f767d;
$pallet_3: #183b3e;
$pallet_4: #282306;
$pallet_5: #d8eaeb;
$pallet_6: #b1d4d7;
$pallet_7: #ecf5f5;

@import "theme_base";
