// Gateway
$theme_name: ".colorBlue";

$pallet_1: #00417b;
$pallet_2: #003462;
$pallet_3: #001a31;
$pallet_4: #000d19;
$pallet_5: #ccd9e5;
$pallet_6: #99b3ca;
$pallet_7: #e6ecf2;

@import "theme_base";