// Email Marketing Panel
$theme_name: ".colorGreen";

$pallet_1: #94c83c;
$pallet_2: #76a030;
$pallet_3: #3b5018;
$pallet_4: #1e280c;
$pallet_5: #eaf4d8;
$pallet_6: #d4e9b1;
$pallet_7: #f5faec;

@import "theme_base";
