// DNS Panel
$theme_name: ".colorWine";

$pallet_1: #654445;
$pallet_2: #513637;
$pallet_3: #281b1c;
$pallet_4: #140e0e;
$pallet_5: #e0dada;
$pallet_6: #c1b4b5;
$pallet_7: #f0eded;

@import "theme_base";