---
title: Formulários - Calendários
layout: v1/layouts/page
menu_page: v1/partials/sidebar-formularios.erb
---

<article class="text">
	<header>
	  <h1>Calendários</h1>
	  <h3>Inputs com integração de formulário.</h3>
	</header>

	<p>Para o calendário utilizamos o <a href="http://api.jqueryui.com/datepicker/">módulo do JQuery UI</a>.</p>

	<p>Crie um campo de texto e insira a classe <strong>datepicker</strong> e pronto.</p>

	<div class="example">
	<input class="input-small datepicker" id="" name="" size="50" type="text">
	</div>

	<pre class="lang-html linenums prettyprint">&lt;input class="input-small datepicker" id="" name="" size="50" type="text"&gt;</pre>
</article>
