---
title: Formulários - Campos
layout: v1/layouts/page
menu_page: v1/partials/sidebar-formularios.erb
---

<article class="text">
	<header>
		<h1>Campos de Formulário</h1>
		<h3>Tipos de campos de formulários.</h3>
	</header>

	<p>Nós sabemos que utilizar formulários e principalmente organizá-los visualmente é muito chato. Nós seguimos alguns pequenos padrões herdados do Bootstrap com algumas modificações para se adequar às nossas necessidades. Veja os exemplos abaixo:</p>

	<div class="example">
		<div class="simpleFilter sideBySide formInline">
			<a href="#" class="btn btn-primary ico-plus fLeft">Criar nova lista</a>
			<form class="fRight">

			<!--div class="control-group">
			<label>Buscar 1</label>
			<input type="text" placeholder="Buscar pelo nome">
			<input type="submit" value="Buscar" class="btn">
			</div-->

				<div class="period control-group fRight">
					<label for="period">Período:</label>
					<input type="text" name="list[period_start]" id="list_period_start" class="input-small datemask datepicker">

					<input type="text" name="list[period_end]" id="list_period_end" class="input-small datepicker datemask ">
					<input type="submit" class="btn" value="Filtrar" name="">
				</div>
			</form>
		</div>
	</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="simpleFilter sideBySide formInline"&gt;
	&lt;a href="#" class="btn btn-primary ico-plus fLeft"&gt;Criar nova lista&lt;/a&gt;
	&lt;form class="fRight"&gt;
		&lt;div class="period control-group fRight"&gt;
			&lt;label for="period"&gt;Período:&lt;/label&gt;
			&lt;input type="text" name="list[period_start]" id="list_period_start" class="input-small datemask datepicker"&gt;

			&lt;input type="text" name="list[period_end]" id="list_period_end" class="input-small datepicker datemask "&gt;
			&lt;input type="submit" class="btn" value="Filtrar" name=""&gt;
		&lt;/div&gt;
	&lt;/form&gt;
&lt;/div&gt;
</pre>

	<table class="table table-stripped table-bordered">
		<thead>
			<tr>
				<th class="span4">Classes usadas</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>simpleFilter</td>
				<td>Prepara uma barra com campos, botoes e ações.</td>
			</tr>
			<tr>
				<td>sideBySide</td>
				<td>Faz elementos <strong>control-group</strong> ficarem lado a lado.</td>
			</tr>
			<tr>
				<td>formInline</td>
				<td>Faz labels dos inputs ficarem ao lado dos campos de formulário.</td>
			</tr>
			<tr>
				<td>control-group</td>
				<td>Classe padrão do Bootstrap. Agrupa elemento de formulários: labels, campos, botões.</td>
			</tr>
		</tbody>
	</table>

	<div class="example">
		<div class="input-prepend">
			<span class="add-on">@</span>
			<input class="span2" id="prependedInput" type="text" placeholder="Username">
		</div>
		<div class="input-append">
			<input class="span2" id="appendedInput" type="text">
			<span class="add-on">.00</span>
		</div>
	</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="input-prepend"&gt;
	&lt;span class="add-on"&gt;@&lt;/span&gt;
	&lt;input class="span2" id="prependedInput" type="text" placeholder="Username"&gt;
&lt;/div&gt;
&lt;div class="input-append"&gt;
	&lt;input class="span2" id="appendedInput" type="text"&gt;
	&lt;span class="add-on"&gt;.00&lt;/span&gt;
&lt;/div&gt;
</pre>

	<p>Insere uma classe <strong>.add-on</strong> no elemento, formatando-o de forma que ele fique acomplado ao campo.</p>

	<div class="example">
		<p>OBS: O último elemento fecha todos e não exibe nada, pra isso basta inserir a classe <code>.closeAllCollapse</code>, o elemento não pode possuir o atributo <code>data-toggle="collapse"</code>, isso é usado apenas em algumas exceções.</p>
		<div class="control-group collapsedRadios">
			<label>Tipo de autenticação:</label>
			<div class="controls">
				<label class="control-label">
					<input type="radio" data-target="#authOpt" name="control" data-toggle="collapse" checked="checked"> Tipo checados
				</label>
				<label class="control-label">
					<input type="radio" data-target="#authOpt2" name="control" data-toggle="collapse"> Tipo texto
				</label>
				<label class="control-label">
					<input type="radio" data-target="#authOpt3" class="closeAllCollapse" name="control"> Nenhum tipo
				</label>
				<div id="authOpt" class="collapse in">
					<div class="boxGrayOpt formInline">
						<label><input type="checkbox" value="1"> CPF</label>
						<label><input type="checkbox" value="1"> Endereço</label>
						<label><input type="checkbox" value="1"> CEP</label>
					</div>
				</div>
				<div id="authOpt2" class="collapse">
					<div class="boxGrayOpt formInline">
						<input type="text" class="span5">
					</div>
				</div>
				<div id="authOpt3" class="collapse">
				</div>
			</div>
		</div>
	</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="control-group collapsedRadios"&gt;
	&lt;label&gt;Tipo de autenticação:&lt;/label&gt;
	&lt;div class="controls"&gt;
		&lt;label class="control-label"&gt;
			&lt;input type="radio" data-target="#authOpt" name="control" data-toggle="collapse" checked="checked"&gt; Tipo checados
		&lt;/label&gt;
		&lt;label class="control-label"&gt;
			&lt;input type="radio" data-target="#authOpt2" name="control" data-toggle="collapse"&gt; Tipo texto
		&lt;/label&gt;
		&lt;label class="control-label"&gt;
					&lt;input type="radio" data-target="#authOpt3" class="closeAllCollapse" name="control"&gt; Nenhum tipo
				&lt;/label&gt;
		&lt;div id="authOpt" class="collapse in"&gt;
			&lt;div class="boxGrayOpt formInline"&gt;
				&lt;label&gt;&lt;input type="checkbox" value="1"&gt; CPF&lt;/label&gt;
				&lt;label&gt;&lt;input type="checkbox" value="1"&gt; Endereço&lt;/label&gt;
				&lt;label&gt;&lt;input type="checkbox" value="1"&gt; CEP&lt;/label&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div id="authOpt2" class="collapse"&gt;
			&lt;div class="boxGrayOpt formInline"&gt;
				&lt;input type="text" class="span5"&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div id="authOpt3" class="collapse"&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>

	<form class="sideBySide">
		<div class="control-group">
			<label>Nome</label>
			<input type="text">
		</div>
		<div class="control-group">
			<label>Nome</label>
			<input type="text">
		</div>
	</form>

	<p>Para ver o padrão de como os campos ficam com validação de erro ou sucesso, <a href="http://developer.locaweb.com.br/locawebstyle/formularios/indicando-as-validacoes/" title="Indicando as validações">clique aqui</a>.</p>
</article>
