---
title: Formulários - Selects customizados
layout: v1/layouts/page
menu_page: v1/partials/sidebar-formularios.erb
---

<article class="text">
  <header>
    <h1>Selects customizados</h1>
    <h3>Padrões e funções de selects customizados.</h3>
  </header>

  <p>Na Locaweb utilizamos o <a href="http://harvesthq.github.com/chosen/">Chosen</a> para customizar nossos selects. Ele é o plugin mais completo e acessível que encontramos.</p>

  <p>Para utilizá-lo é simples, basta usar a classe <strong>customSelect</strong> no select que você quer customizar e pronto.</p>

  <p>O atributo <strong>data-placeholder</strong> mostra uma frase no select para indicar alguma instrução para o usuário.</p>

  <p>Para melhor usabilidade, quando houverem mais de 20 itens no select, nós mostramos automaticamente um input de search no select. Assim facilitamos a procura de opções.</p>

  <select class="customSelect span4 noFloat" data-placeholder="Escolha um país">
              <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option value="AK">Alaska</option>
                  <option value="HI">Hawaii</option>
              </optgroup>
              <optgroup label="Pacific Time Zone">
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
              </optgroup>
              <optgroup label="Mountain Time Zone">
                  <option value="AZ">Arizona</option>
                  <option value="CO">Colorado</option>
                  <option value="ID">Idaho</option>
                  <option value="MT">Montana</option><option value="NE">Nebraska</option>
                  <option value="NM">New Mexico</option>
                  <option value="ND">North Dakota</option>
                  <option value="UT">Utah</option>
                  <option value="WY">Wyoming</option>
              </optgroup>
              <optgroup label="Central Time Zone">
                  <option value="AL">Alabama</option>
                  <option value="AR">Arkansas</option>
                  <option value="IL">Illinois</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="OK">Oklahoma</option>
                  <option value="SD">South Dakota</option>
                  <option value="TX">Texas</option>
                  <option value="TN">Tennessee</option>
                  <option value="WI">Wisconsin</option>
              </optgroup>
              <optgroup label="Eastern Time Zone">
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="IN">Indiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="OH">Ohio</option>
                  <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
                  <option value="VT">Vermont</option><option value="VA">Virginia</option>
                  <option value="WV">West Virginia</option>
              </optgroup>
          </select>
  <br><br>
  <h3>Múltiplas escolhas</h3>
          <p>Para selects com múltiplas escolhas o Chose modifica de forma que o visual fica com o abaixo:</p>
          <select class="customSelect span4" data-placeholder="Escolha um país..." multiple="" tabindex="3">
            <option value="United States">United States</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antarctica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
          </select>
  <br><br>
  <pre class="lang-html prettyprint linenums">
  &lt;select class="customSelect span4" data-placeholder="Escolha um país"&gt;
      &lt;optgroup label="Alaskan/Hawaiian Time Zone"&gt;
          &lt;option value="AK"&gt;Alaska&lt;/option&gt;
          &lt;option value="HI"&gt;Hawaii&lt;/option&gt;
      &lt;/optgroup&gt;
      &lt;optgroup label="Central Time Zone"&gt;
          &lt;option value="AL"&gt;Alabama&lt;/option&gt;
          &lt;option value="AR"&gt;Arkansas&lt;/option&gt;
          &lt;option value="IL"&gt;Illinois&lt;/option&gt;
          &lt;option value="IA"&gt;Iowa&lt;/option&gt;
          &lt;option value="KS"&gt;Kansas&lt;/option&gt;
          &lt;option value="KY"&gt;Kentucky&lt;/option&gt;
      &lt;/optgroup&gt;
      &lt;optgroup label="Eastern Time Zone"&gt;
          &lt;option value="CT"&gt;Connecticut&lt;/option&gt;
          &lt;option value="DE"&gt;Delaware&lt;/option&gt;
          &lt;option value="FL"&gt;Florida&lt;/option&gt;
          &lt;option value="GA"&gt;Georgia&lt;/option&gt;
      &lt;/optgroup&gt;
  &lt;/select&gt;
  </pre>
</article>
