---
title: Como usar o Locaweb Style

menu_page: sidebar-informacoes-iniciais.erb
---

	<header>
		<!-- <h2 class="ico-edit">Aprenda o básico</h2> -->
		<h1>Como usar o Locaweb Style</h1>
		<h3>Use direto pelo CDN ou baixe uma versão estável para usar em projetos offline.</h3>
	</header>
	<article class="text">

									<h1>Instalação</h1>
					<strong>Primeiro passo:</strong> Adicione as tags abaixo para adicionar o pacote de CSS e Javascript.

<pre class="lang-html prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text/css"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"http://developer.locaweb.com.br/assets/1.1.8/bootstrap.css"</span><span class="tag">&gt;</span></li><li class="L1"><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text/css"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"http://developer.locaweb.com.br/assets/1.1.8/locastyle.css"</span><span class="tag">&gt;</span></li><li class="L2"><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text/javascript"</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"http://developer.locaweb.com.br/assets/1.1.8/locastyle.js"</span><span class="tag">&gt;&lt;/script&gt;</span></li><li class="L3"><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text/javascript"</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"http://developer.locaweb.com.br/assets/1.1.8/bootstrap.js"</span><span class="tag">&gt;&lt;/script&gt;</span></li></ol></pre>

<strong>Segundo passo:</strong> Não tem segundo passo. <img src="http://developer.locaweb.com.br/wp-includes/images/smilies/icon_wink.gif" alt=";-)" class="wp-smiley"> 

<hr>

<h3>Baixando os assets</h3>
Você pode querer baixar os assets para a utilização em projetos que não podem acessar assets externos. Para isso, baixe o ZIP com os assets dessa versão.

<a class="btn btn-large btn-success ico-download-1" href="http://developer.locaweb.com.br/assets/1.1.0.zip" tabindex="3" role="button">Baixar aqui</a>

<hr>

<h3>Não quero travar a versão</h3>
Se você quiser utilizar sempre a versão mais atual, use os caminhos dos assets sem a versão travada:
<pre class="lang-html prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text/css"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"http://developer.locaweb.com.br/assets/edge/locastyle.css"</span><span class="tag">&gt;</span></li><li class="L1"><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text/javascript"</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"http://developer.locaweb.com.br/assets/edge/locastyle.js"</span><span class="tag">&gt;&lt;/script&gt;</span></li></ol></pre>

<hr>

<h3>Tudo incluso</h3>
A versão mais atual dos seguintes plugins já são incluídos automaticamente no Locastyle: <strong>jQuery</strong>, <strong>Modernizr</strong>, <strong>Masked Input</strong>, <strong>Bootstrap</strong>, <strong>Select2</strong>.

<hr>

<h3>Versionamento</h3>
<p>O versionamento do Locaweb Style é simples: O nome dos arquivos tem essa estrutura: locastyle-[número do pacote stable].css. O resultado é este: locastyle-[major].[minor].[patch].css. O resultado fica locastyle-0.30.0.css.</p>

<p>De acordo com as mudanças e atualizações, nós vamos mudando a versão do arquivo. O número do minor sempre será um número par. Internamente trabalhamos com a versão de desenvolvimento utilizando o número ímpar. Logo, se a versão stable mais atual é 1.30.0, estamos trabalhando aqui na versão 1.31.0, 1.31.1 e etc. Quando terminarmos, vai para o ar a versão stable 1.32.0.</p>				
				
	</article>