---
layout: false
---
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Cartilha de elementos do Locaweb Style</title>

	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "locastyle" %>
	<!-- <link href="http://developer.locaweb.com.br/assets/edge/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
	<link href="http://developer.locaweb.com.br/assets/edge/locastyle.css" media="screen" rel="stylesheet" type="text/css">
	<script src="http://developer.locaweb.com.br/assets/edge/locastyle.js" type="text/javascript"></script>
	<script src="http://developer.locaweb.com.br/assets/edge/bootstrap.js" type="text/javascript"></script>
 -->
</head>
<body>

elementos

</body>
</html>