---
title: Exemplos de uso do Locaweb Style
---

<article class="text">
	<header>
		<h1>Exemplos</h1>
		<h3>Exemplos de telas usando Locaweb Style</h3>
	</header>

	<div class="row bs-examples">
		<div class="col-xs-6 col-md-4">
			<% link_to 'exemplos/home', :class => 'thumbnail' do %>
				<%= image_tag 'manual/example-thumb1.jpg', :alt => 'Exemplo de duas colunas' %>
			<% end %>
			<h4>Duas colunas</h4>
			<p>Exemplo duas colunas, com sidebar e conteúdo principal</p>
		</div>

		<div class="col-xs-6 col-md-4">
			<% link_to 'exemplos/uma-coluna', :class => 'thumbnail' do %>
				<%= image_tag 'manual/example-thumb2.jpg', :alt => 'Exemplo de uma coluna' %>
			<% end %>
			<h4>Uma coluna</h4>
			<p>Exemplo com apenas uma coluna, sem sidebar.</p>
		</div>

		<div class="clearfix visible-xs"></div>

		<div class="col-xs-6 col-md-4">
			<% link_to 'exemplos/estrutura-inicial', :class => 'thumbnail' do %>
				<%= image_tag 'manual/example-thumb3.jpg', :alt => 'Exemplo da estrutura inicial' %>
			<% end %>
			<h4>Estrutura inicial</h4>
			<p>Estrutura inicial para iniciar uma view da maneira correta.</p>
		</div>
	</div>
</article>
