<div class="ls-group-btn ls-group-active">
  <button type="button" class="ls-btn-primary ls-active">Botão 1</button>
  <button type="button" class="ls-btn-primary">Botão 2</button>
  <button type="button" class="ls-btn-primary">Botão 3</button>
</div>
