<a href="#" class="ls-btn-primary" disabled="disabled">Primary</a>
<input type="button" value="Default" disabled class="ls-btn">
<button class="ls-btn-dark ls-disabled">Dark</button>
<button class="ls-btn-danger ls-disabled">Danger</button>
<button class="ls-btn-primary-danger ls-disabled">Primary Danger</button>
