<div class="ls-group-btn">
  <button type="button" class="ls-btn">Botão 1</button>
  <button type="button" class="ls-btn">Botão 2</button>
  <button type="button" class="ls-btn">Botão 3</button>
</div>
