<a href="#" class="ls-btn-primary ls-ico-user"></a>
<button class="ls-btn-dark ls-ico-chevron-left"></button>
<button class="ls-btn ls-ico-cog"></button>
<button class="ls-btn-success ls-ico-dashboard"></button>
<button class="ls-btn-info ls-ico-camera"></button>
<button class="ls-btn-primary-danger ls-ico-remove"></button>
