<a href="#" class="ls-btn-primary ls-ico-user">Adicionar</a>
<button class="ls-btn-dark ls-ico-chevron-left">Anterior</button>
<button class="ls-btn ls-ico-cog">Configurações</button>
<button class="ls-btn-success ls-ico-calendar">Escolha uma data</button>
<button class="ls-btn-info ls-ico-dashboard">Consumo</button>
<button class="ls-btn-primary-danger ls-ico-remove">Remover</button>
