<a href="#" class="ls-btn-primary ls-ico-user">Usuário</a>
<button class="ls-btn-dark ls-ico-chevron-left">Anterior</button>
<button class="ls-btn ls-ico-cog">Config</button>
<button class="ls-btn-success ls-ico-calendar">Data</button>
<button class="ls-btn-info ls-ico-dashboard">Consumo</button>
<button class="ls-btn-primary-danger ls-ico-remove">Remover</button>
