<!-- ls-btn-lg -->
<a href="#" class="ls-btn-primary ls-btn-lg">Grande</a>

<!-- ls-btn -->
<a href="#" class="ls-btn-primary">normal</a>

<!-- ls-btn-sm -->
<a href="#" class="ls-btn-primary ls-btn-sm">Pequeno</a>

<!-- ls-btn-xs -->
<a href="#" class="ls-btn-primary ls-btn-xs">Bem pequeno</a>
