<a href="#" class="ls-btn-primary">Primary</a>
<a href="#" class="ls-btn">Default</a>
<a href="#" class="ls-btn-dark">Dark</a>
<a href="#" class="ls-btn-success">Success</a>
<a href="#" class="ls-btn-info">Info</a>
<a href="#" class="ls-btn-danger">Danger</a>
<a href="#" class="ls-btn-primary-danger">Primary Danger</a>
