---
title: Base Layout
body_class: no-main-bg
layout: examples
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<div class="ls-box ls-big-space">
    <h1 class="ls-title-1 ls-title-intro">Cadastre contatos na sua revenda</h1>
    <p>Comece agora: cadastre seu primeiro cliente, adicione envios e acompanhe o seu desenvolvimento.</p>
    <%= link_to 'Cadastrar meu primeiro cliente', 'new-client', :class => 'ls-btn-primary' %>
</div>

<div class="ls-box ls-big-space">
  <h2 class="ls-title-1 ls-title-intro">Personalize</h2>
  <div class="row">
    <div class="col-md-4">
      <h1 class="ls-title-3">Aparência</h1>
      <p>Fortaleça ainda mais a sua revenda personalizando o painel de acesso dos seus clientes. Mude as cores, o nome ou insira a sua marca.</p>
      <%= link_to 'Editar aparência e conteúdo', 'config-aspect', :class => 'ls-btn-primary' %>
    </div>
    <div class="col-md-4">
      <h1 class="ls-title-3">Endereço de acesso</h1>
      <p>Você pode personalizar a URL de acesso no painel dos seus clientes. Uma boa prática para que eles associem a revenda ao nome da sua empresa.</p>
      <%= link_to 'Editar endereço de acesso', 'config-domain', :class => 'ls-btn-primary' %>
    </div>
    <div class="col-md-4">
      <h1 class="ls-title-3">E-mail</h1>
      <p>Cadastre um endereço de e-mail para enviar notificações aos seus clientes.</p>
      <%= link_to 'Editar e-mail de remetente', 'config-email', :class => 'ls-btn-primary' %>
    </div>
  </div>
</div>
