---
title: Base Layout
body_class: no-main-bg
layout: examples
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<div class="ls-box ls-big-space">
    <h1 class="ls-title-1 ls-title-intro">Cadastre contatos na sua revenda</h1>
    <p>Comece agora: cadastre seu primeiro cliente, adicione envios e acompanhe o seu desenvolvimento.</p>
    <a href="#" class="ls-btn-primary">Cadastrar meu primeiro cliente</a>
</div>

<div class="ls-box ls-big-space">
  <h2 class="ls-title-1 ls-title-intro">Personalize</h2>
  <div class="row">
    <div class="col-md-4">
      <h1 class="ls-title-3">Aparência</h1>
      <p>Fortaleça ainda mais a sua revenda personalizando o painel de acesso dos seus clientes. Mude as cores, o nome ou insira a sua marca.</p>
      <a href="#" class="ls-btn-primary">Editar aparência e conteúdo</a>
    </div>
    <div class="col-md-4">
      <h1 class="ls-title-3">Endereço de acesso</h1>
      <p>Você pode personalizar a URL de acesso no painel dos seus clientes. Uma boa prática para que eles associem a revenda ao nome da sua empresa.</p>
      <a href="#" class="ls-btn-primary">Editar endereço de acesso</a>
    </div>
    <div class="col-md-4">
      <h1 class="ls-title-3">E-mail</h1>
      <p>Cadastre um endereço de e-mail para enviar notificações aos seus clientes.</p>
      <a href="#" class="ls-btn-primary">Editar e-mail de remetente</a>
    </div>
  </div>
</div>
