---
title: Clientes
layout: examples
---

<h1 class="ls-title-intro ls-ico-users">Clientes</h1>

<a href="#" class="ls-btn-primary">Cadastrar novo</a>

<div>
  <div class="col-sm-2" data-ls-module="customFields">
    <label for="">Status</label>
    <select name="" id="">
      <option value="">Todos</option>
      <option value="">Ativo</option>
      <option value="">Desativados</option>
      <option value="">Bloqueados por bounce</option>
    </select>
  </div>
    <form action="" class="ls-float-right">
    <input type="text" placeholder="Nome do cliente">
    <button type="submit">Buscar</button>
  </form>
</div>


<table class="ls-table">
  <thead>
    <tr>
      <th>Nome do cliente</th>
      <th>Status</th>
      <th>Envios disponíveis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="">Fulano de tal</a>
      </td>
      <td>Ativo</td>
      <td>
        <p>100.000</p>
        <small>até dd/mm/aaaa</small>
      </td>
      <td>
        <a href="" class="ls-btn-primary ls-float-left ">Administrar</a>
        <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right ls-float-left">
          <a href="#" class="ls-btn"></a>
          <ul>
              <li><a href="#">Reativar</a></li>
              <li><a href="#">Editar</a></li>
              <li><a href="#" class="ls-color-danger">Excluir</a></li>
          </ul>
        </div>

      </td>
    </tr>
    <tr>
      <td>
        <a href="">Fulano de tal</a>
        <span class="ls-tag">Não recorrente</span>
      </td>
      <td>Ativo</td>
      <td>
        <p>100.000</p>
        <small>até dd/mm/aaaa</small>
      </td>
      <td>
        <a href="" class="ls-btn-primary ls-float-left">Administrar</a>
        <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right ls-float-left">
          <a href="#" class="ls-btn"></a>
          <ul>
              <li><a href="#">Reativar</a></li>
              <li><a href="#">Editar</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="ls-pagination-filter">
  <ul class="ls-pagination">
    <li><a href="#">« Anterior</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Próximo »</a></li>
  </ul>

  <div class="ls-filter-view">
    <label for="">
      Exibir
      <select name="" id="">
        <option value="10">10</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      ítens por página
    </label>
  </div>
</div>
