---
title: Clientes
layout: examples
---

<h1 class="ls-title-intro ls-ico-users">Clientes</h1>

<a href="#" class="ls-btn-primary">Cadastrar novo</a>

<div class="ls-box-filter row">
  <form action="" class="ls-form ls-display-inline-block" data-ls-module="customFields">
    <label for="" class="ls-label ls-display-inline-block">Status</label>

    <select name="" id="">
      <option value="">Todos</option>
      <option value="">Ativo</option>
      <option value="">Desativados</option>
      <option value="">Bloqueados por bounce</option>
    </select>

  </form>
  <form action="" class="ls-float-right">
    <input type="text" class="ls-field" placeholder="Nome do cliente">
    <button type="submit" class="ls-btn">Buscar</button>
  </form>
</div>

<table class="ls-table">
  <thead>
    <tr>
      <th>Nome do cliente</th>
      <th>Status</th>
      <th>Envios disponíveis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Fulano de tal
        <span class="ls-tag">Não recorrente</span>
      </td>
      <td>Ativo</td>
      <td>
        <p>100.000</p>
        <small>até dd/mm/aaaa</small>
      </td>
      <td>
        <a href="/documentacao/exemplos/rev/client" class="ls-btn-primary ls-float-left">Administrar</a>
        <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right ls-float-left">
          <a href="#" class="ls-btn"></a>
          <ul>
            <li><a href="#">Reativar</a></li>
            <li><a href="#">Editar</a></li>
          </ul>
        </div>
      </td>
    </tr>

    <%- 5.times do %>
      <tr>
        <td>
          Fulano de tal
        </td>
        <td>Ativo</td>
        <td>
          <p>100.000</p>
          <small>até dd/mm/aaaa</small>
        </td>
        <td>
          <a href="/documentacao/exemplos/rev/client" class="ls-btn-primary ls-float-left ">Administrar</a>
          <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right ls-float-left">
            <a href="#" class="ls-btn"></a>
            <ul>
              <li><a href="#">Reativar</a></li>
              <li><a href="#">Editar</a></li>
              <li><a href="#" class="ls-color-danger">Excluir</a></li>
            </ul>
          </div>

        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<div class="ls-pagination-filter">
  <ul class="ls-pagination">
    <li><a href="#">« Anterior</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Próximo »</a></li>
  </ul>

  <div class="ls-filter-view">
    <label for="">
      Exibir
      <select name="" id="">
        <option value="10">10</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      ítens por página
    </label>
  </div>
</div>
