---
title: Configurações de Aparência
layout: examples
---

<h1 class="ls-title-intro ls-ico-cog">Aparência</h1>
<p>Personalize e deixe o e-mail marketing com a cara da sua empresa.</p>

<div class="ls-box">
  <div class="col-md-9 ls-form">
    <form>
      <div class="col-md-4">
        <label class="ls-field">
          Nome da revenda
          <input type="text">
          <span>máximo de 30 caracteres</span>
        </label>
      </div>

      <hr class="ls-clear-both">

      <div class="col-md-9">
        <h2 class="ls-title-2">Identificação do painel e dos e-mails</h2>
        <p class="ls-title-5">Será exibido no cabeçalho do painel e dos e-mails recebidos pelos clientes</p>

        <label class="ls-field ls-display-block">
          <input type="radio"> Nome da revenda
        </label>

        <label class="ls-field ls-display-block">
          <input type="radio"> Escolher uma imagem do meu computador
          <span>Envie uma imagem JPG, PNG ou GIF. Ela será exibida com no máximo 440 pixels de largura e 70 pixels de altura.</span>
        </label>

        <label class="ls-field ls-display-block">
          Insira aqui a sua imagem
          <input type="file">
        </label>
      </div>

      <hr class="ls-clear-both">

      <div class="col-md-9">
        <h2 class="ls-title-2">Cor padrão</h2>
        <p class="ls-title-5">Escolha uma cor como padrão para o seu email marketing.</p>

        <% (1..5).each do |i| %>
          <div class="col-md-1">
            <label>
              cor <%= i %>
              <input type="radio" name="radio">
            </label>
          </div>
        <% end %>

      </div>

    </form>
  </div>
  <div class="col-md-3 ls-float-right">
    <img src="https://emkt-assets.locaweb.com.br/assets/img/blue.jpg">
  </div>
</div>
