---
title: Configurações de Domínios
layout: examples
---

<h1 class="ls-title-intro ls-ico-cog">Domínio da revenda</h1>
<p>Configure um domínio padrão para os links das mensagens e de acesso ao painel.</p>

<div class="row">
  <div class="col-md-6">
    <div class="ls-box">
      <h2 class="ls-title-2">Domínio padrão dos links</h2>
      <p>Você pode utilizar o seu domínio para personalizar os links inseridos nas mensagens dos seus clientes. </p>
      <p>Certifique-se de que o DNS esteja configurado corretamente</p>
      <p><a href="">Saiba como configurar o DNS do seu domínio.</a></p>
      <p>As alterações só serão aplicadas para os novos clientes, cadastrados após esta ação.</p>
      <hr>
      <p>
        <strong>opa.entregaemails.com</strong><br>
        <small>Status do DNS: Configurado corretamente</small>
      </p>
      <a href="" class="ls-btn-primary">Editar</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="ls-box">
      <h2 class="ls-title-2">Domínio de acesso</h2>
      <p>Este é o endereço que seus clientes usarão para acessar a API e o painel de email markerting. Você pode utilizar o seu domínio para personalizar este endereço, para isso, certifique-se de que o DNS esteja configurado corretamente.</p>
      <p><a href="">Como configurar o seu domínio para ser o novo endereço de acesso.</a></p>
      <hr>
      <form action="">
        <input type="text" placeholder="opa.entregaemails.com">
        <div>
          <button type="submit" class="ls-btn-primary">Salvar</button>
          <a href="" class="ls-btn">Cancelar</a>
          <a href="" class="ls-float-right ls-color-theme">Restaurar padrão</a>
        </div>
      </form>
    </div>
  </div>
</div>


