---
title: Domínio da revenda
layout: examples
---

<h1 class="ls-title-intro ls-ico-cog">Domínio da revenda</h1>


<p>Configure um domínio padrão para os links das mensagens e de acesso ao painel.</p>
<h2 class="ls-title-2">Domínio padrão dos links</h2>

<p>Você pode utilizar o seu domínio para personalizar os links inseridos nas mensagens dos seus clientes. Certifique-se de que o DNS esteja configurado corretamente.
  Saiba como configurar o DNS do seu domínio.</p>

<p>As alterações só serão aplicadas para os novos clientes, cadastrados após esta ação.</p>

<div class="ls-box">

</div>


