---
title: Configurações de Atendimento
layout: examples
---
<div class="ls-intro">
  <h1 class="ls-title-intro ls-ico-cog">Atendimento</h1>
  <p>Personalize as informações de atendimento que irá oferecer aos seus clientes.</p>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="ls-box">
      <h2 class="ls-title-2">Telefone de contato</h2>
      <p>Cadastre um telefone para que seus clientes possam entrar em contato direto com você. Este telefone será exibido na barra de atendimento quando o seu cliente acessar o seu Email Marketing.</p>
      <hr>
      <form action="#" class="ls-form ls-form-text ls-form-disable" data-ls-module="form">
        <div class="row">
          <label class="ls-field col-md-5">
            <span class="ls-label">Telefone</span>
            <input class="ls-form-text" name="telefone" placeholder="Número do telefone" required="" type="text" value="(11) 99999-9999">
          </label>
        </div>
        <a href="" class="ls-btn-primary">Editar</a>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="ls-box">
      <h2 class="ls-title-2">Webdesk</h2>
      <p>Configure a sua conta do WebDesk para atender as solicitaçoes dos seus clientes através de chamados.</p>
      <hr>
      <form action="" class="ls-form" data-ls-module="form">
        <label for="" class="ls-field">
          <span class="row">
            <span class="ls-label ls-txt-access">webdesk account</span>
            <span class="ls-label-prefix col-md-2">https://</span>
            <input class="col-md-6" type="text" placeholder="entregaemails">
            <span class="ls-label-sufix col-md-4">.webdesklw.com.br</span>
          </span>
        </label>
        <div>
          <button type="submit" class="ls-btn-primary">Salvar</button>
          <a href="" class="ls-btn">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
