---
title: Configurações de Aparência
layout: examples
---

<h1 class="ls-title-intro ls-ico-cog">Aparência</h1>
<p>Personalize e deixe o e-mail marketing com a cara da sua empresa.</p>

<div class="row">
  <div class="ls-box">
    <div class="col-md-9">
      <form accept-charset="UTF-8" action="">
        <fieldset>
          <div class="">
            <label class="string required control-label" for="resale_page_title">Nome da revenda <i>*</i></label><input class="string required required" id="resale_page_title" maxlength="30" name="resale[page_title]" tabindex="3" type="text" value="Timbó" aria-required="true" data-value="Timbó">
            <small>Máximo de 30 caracteres</small>
            <hr>
          </div>
          <h6>Identificação do painel e dos e-mails</h6>
          <p>Será exibido no cabeçalho do painel e dos e-mails recebidos pelos clientes</p>
          <div class="">
            <input class="radioType using_logo" id="resale_title" name="resale[using_logo]" tabindex="3" type="radio" value="false">
            <label for="resale_title" title="Nome da revenda">Nome da revenda</label>
          </div>
          <div class="">
            <input checked="checked" class="radioType using_logo" id="resale_img" name="resale[using_logo]" tabindex="3" type="radio" value="true">
            <label for="resale_img" title="Escolher uma imagem do meu computador">Escolher uma imagem do meu computador</label>
            <p class="noMarginBottom">Envie uma imagem JPG, PNG ou GIF. Ela será exibida com no máximo 440 pixels de largura e 70 pixels de altura.</p>
            <div class=" file optional resale_logo"><label class="file optional control-label" for="resale_logo">Insira aqui a sua imagem</label><input class="file optional" id="resale_logo" name="resale[logo]" tabindex="3" type="file"></div>
          </div>
          <hr>

          <div class="">
            <h6>Cor padrão</h6>
            <p>Escolha uma cor como padrão para o seu email marketing.</p>
              <label class="radio yellow " title="Selecionar esta cor">
                Selecionar cor:
                amarelo
                <input class="yellow" id="resale_layout_color_yellow" name="resale[layout_color]" tabindex="3" type="radio" value="yellow">
              </label>
              <label class="radio aqua " title="Selecionar esta cor">
                Selecionar cor:
                aqua
                <input class="aqua" id="resale_layout_color_aqua" name="resale[layout_color]" tabindex="3" type="radio" value="aqua">
              </label>
              <label class="radio blue " title="Selecionar esta cor">
                Selecionar cor:
                azul
                <input class="blue" id="resale_layout_color_blue" name="resale[layout_color]" tabindex="3" type="radio" value="blue">
              </label>
              <label class="radio navy_blue active" title="Selecionar esta cor">
                Selecionar cor:
                azul marinho
                <input class="navy_blue" id="resale_layout_color_navy_blue" name="resale[layout_color]" tabindex="3" type="radio" value="navy_blue">
              </label>
              <label class="radio orange " title="Selecionar esta cor">
                Selecionar cor:
                laranja
                <input class="orange" id="resale_layout_color_orange" name="resale[layout_color]" tabindex="3" type="radio" value="orange">
              </label>
              <label class="radio purple " title="Selecionar esta cor">
                Selecionar cor:
                roxo
                <input class="purple" id="resale_layout_color_purple" name="resale[layout_color]" tabindex="3" type="radio" value="purple">
              </label>
              <label class="radio green " title="Selecionar esta cor">
                Selecionar cor:
                verde
                <input class="green" id="resale_layout_color_green" name="resale[layout_color]" tabindex="3" type="radio" value="green">
              </label>
              <label class="radio wine " title="Selecionar esta cor">
                Selecionar cor:
                vinho
                <input class="wine" id="resale_layout_color_wine" name="resale[layout_color]" tabindex="3" type="radio" value="wine">
              </label>
          </div>
          <input aria-label="Salvar essa aparência" class="ls-btn-primary" data-disable-with="Salvando..." name="commit" tabindex="3" title="Salvar essa aparência" type="submit" value="Salvar">
          <a href="#" class="ls-btn" tabindex="3" title="Cancelar" role="button">Cancelar</a>
        </fieldset>
      </form>
    </div>

    <div class="col-md-3">
      <div class="navy_blue">
        <div class="bg">
          <span class="text ellipsis" data-src="http://assets.mktnaweb.com/resale_logos/2013_1/5106f51636e1d9c770000001.png?1393444245"><img alt="5106f51636e1d9c770000001" src="https://legacy-assets-emailmarketing.locaweb.com.br/assets/img/navy_blue.jpg"></span>
        </div>
      </div>
    </div>
  </div>
</div>


