---
title: Configurações de E-mail Remetente
layout: examples
---

<div class="ls-intro">
  <h1 class="ls-title-intro ls-ico-cog">E-mail de remetente</h1>
  <p>Configure um domínio padrão para os links das mensagens e de acesso ao painel.</p>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="ls-box">
      <h2 class="ls-title-2">E-mail atual</h2>
      <hr>
      <p>
        <strong>fulano@fulano.com.br</strong><br>
        <small>Status do e-mail: Aprovado</small>
      </p>
      <a href="" class="ls-btn-primary">Editar</a>
    </div>
  </div>


