---
title: Configurações de Atendimento
layout: examples
---
<div class="ls-intro">
  <h1 class="ls-title-intro ls-ico-cog">Atendimento</h1>
  <p>Personalize as informações de atendimento que irá oferecer aos seus clientes.</p>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="ls-box" data-ls-target-height=".ls-box">
      <div class="title-box-config" data-ls-target-height=".title-box-config">
        <h2 class="ls-title-2">Telefone de contato</h2>
        <p>Cadastre um telefone para que seus clientes possam entrar em contato direto com você. Este telefone será exibido na barra de atendimento quando o seu cliente acessar o seu Email Marketing.</p>
      </div>
      <hr>
      <form action="#" class="ls-form" data-ls-module="form">
        <div id="phone-form" class="row ls-form-text ls-form-disable">
          <label class="ls-field col-md-5">
            <span class="ls-label">Telefone</span>
            <input class="ls-form-text ls-mask-phone_with_ddd" name="telefone" placeholder="Número do telefone" required="" type="text" value="(11) 99999-9999">
          </label>
        </div>
        <div class="phone-actions ls-display-none">
          <button type="submit" class="ls-btn-primary">Salvar</button>
          <button class="ls-btn" data-ls-toggle-fields="#phone-form" data-toggle-class="ls-display-none" data-target=".phone-actions" >Cancelar</button>
        </div>
        <button data-ls-toggle-fields="#phone-form" data-toggle-class="ls-display-none" data-target=".phone-actions" class="ls-btn-primary phone-actions">Editar</button>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="ls-box ls-equal-height-box-2">
      <div class="title-box-config">
        <h2 class="ls-title-2">Webdesk</h2>
        <p>Configure a sua conta do WebDesk para atender as solicitaçoes dos seus clientes através de chamados.</p>
      </div>
      <hr>
      <form action="#" class="ls-form" data-ls-module="form">
        <div id="webdesk-form" class="row ls-form-text ls-form-disable">

          <label class="ls-field ls-field-inline col-md-12">
            <span class="ls-label-prefix col-md-2">https://</span>
            <span class="col-md-4">
              <input type="text" placeholder="entregaemails">
            </span>
            <span class="ls-label-sufix col-md-5">.webdesklw.com.br</span>
          </label>

        </div>

        <div class="webdesk-actions ls-display-none">
          <button type="submit" class="ls-btn-primary">Salvar</button>
          <button class="ls-btn" data-ls-toggle-fields="#webdesk-form" data-toggle-class="ls-display-none" data-target=".webdesk-actions">Cancelar</button>
        </div>
        <button data-ls-toggle-fields="#webdesk-form" data-toggle-class="ls-display-none" data-target=".webdesk-actions" class="ls-btn-primary webdesk-actions">Editar</button>
      </form>
    </div>
  </div>
</div>
