---
title: Pré Painel
layout: painel
---

<h1 class="ls-title-intro">Contas</h1>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-group-actions">
      <a href="<%= base_url %>/documentacao/exemplos/rev/base" class="ls-btn-primary">Administrar</a>
    </div>
    <div class="ls-list-title">
      <a href="<%= base_url %>/documentacao/exemplos/rev/base" >Identificador da conta</a>
      <small>Revenda Email Marketing I </small>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-group-actions">
      <a href="<%= base_url %>/documentacao/exemplos/rev/base" class="ls-btn-primary">Administrar</a>
    </div>
    <div class="ls-list-title">
      <a href="<%= base_url %>/documentacao/exemplos/rev/base" >Identificador da conta</a>
      <small>Revenda Email Marketing I </small>
    </div>
  </header>
</div>


