---
title: Relatórios
layout: examples
---

<h1 class="ls-title-intro ls-ico-stats">Relatórios da revenda</h1>

<div class="ls-group-btn ls-group-active">
  <button type="button" data-ls-module="tabs" data-target="#tab1" class="ls-btn active">Gráfico</button>
  <button type="button" data-ls-module="tabs" data-target="#tab2" class="ls-btn">Tabela</button>
</div>

<ul class="ls-tabs-nav" id="awesome-tab">
  <li class="active"><a data-ls-module="tabs" href="#tab1">Contratos x distribuídos</a></li>
  <li><a data-ls-module="tabs" href="#tab2">Status de clientes</a></li>
</ul>
<div class="ls-tabs-container" id="awesome-tab-content">
  <div id="tab1" class="ls-tab-content active">
    <p>Contratos e Distribuídos</p>
    <img src="/<%= images_dir %>/graph-example.jpg">
  </div>
  <div id="tab2" class="ls-tab-content">
    <p>Status do cliente</p>
    <img src="/<%= images_dir %>/graph-example.jpg">
  </div>
</div>


