<header id="header">
  <div class="accessibility">
    <a href="#" tabindex="1" class="lnkContent">Ir para o conteúdo</a>
  </div>
  <div class="limit">
    <a id="feedbackr" class="lnkSugestoes" href="https://www.feedbackr.com.br/projects/4eef88bd6866c42b5500000e/feedbacks/new" target="_blank" alt="feedbackr">Sugestões</a>
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" tabindex="2" href="#">Hospedagem de sites<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" title="Ir para Hospedagem de sites" aria-label="Ir para Hospedagem de sites" tabindex="2">Hospedagem de sites</a></li>
          <li><a href="#" title="Ir para E-mail" aria-label="Ir para E-mail" tabindex="2">E-mail</a></li>
          <li><a href="#" title="Ir para Registro de Domínio" aria-label="Ir para Registro de Domínio" tabindex="2">Registro de Domínio</a></li>
          <li><a href="#" title="Ir para Zona de DNS" aria-label="Ir para Zona de DNS" tabindex="2">Zona de DNS</a></li>
        </ul>
      </li>
    </ul>
    <h1 class="serviceName"><a href="/">LocawebStyle</a></h1>
    <div class="infoLogin">
      Acessando com Identificador
      <div class="btn-group">
        <a href="#" class="identNumber dropdown-toggle" tabindex="2" data-toggle="dropdown">28424</a>
        <div class="listIdent dropdown-menu">
          <ul>
            <li>
              <strong><a href="/accounts/1/change" tabindex="2">28424</a> </strong>
              <span>Gateway 01</span>
            </li>
            <li>
              <strong><a href="/accounts/2/change" tabindex="2">/accounts/2/change</a> </strong>
              <span>teste</span>
            </li>
          </ul>
          <a href="/accounts" class="lnkArrow" tabindex="2">Ver todas</a>
        </div>
      </div>
      <span class="accountName">Nome da conta: <strong>Gateway 01</strong></span>
    </div>
  </div>
  <menu id="menuPrincipal" role="navigation">
    <ul>
      <li class="selected"><a href="/" class="ico-home" tabindex="2" role="menuitem">Página inicial</a></li>
      <li class="parent"><a href="#" tabindex="2" role="menuitem">Transações</a>
        <ul>
          <li><a href="#" tabindex="2" role="menuitem">Established</a></li>
          <li><a href="#" tabindex="2" role="menuitem">Distribution of letters</a></li>
          <li><a href="#" tabindex="2" role="menuitem">Publishing Lorem</a></li>
          <li><a href="#" tabindex="2" role="menuitem">Sometimes</a></li>
        </ul>
      </li>
      <li><a href="/settings" tabindex="2" role="menuitem">Meios de pagamento</a></li>
      <li class="btMenu"><a href="#" tabindex="2" role="menuitem">Ambiente de testes</a></li>
    </ul>
  </menu>
</header>
<div id="main">
  <div class="limite">

    <div class="alert alert-notification" id="notificacaoId" role="alert">
      <strong>Informação!</strong> Uma informação qualquer do seu sistema. <a href="#">Um link qualquer</a> 1.
      <a href="#" class="lnkNoShow" data-target="#notificacaoId">Não exibir novamente</a>
    </div>

    <ul class="breadcrumb">
      <li><a href="#">Página inicial</a></li>
      <li>Mensagens</li>
    </ul>

    <div class="row">

      <div class="span12">
        <div class="alert alert-warning" role="alert">
          <a class="close" data-dismiss="alert">×</a>
          <strong>Informação!</strong> Uma informação qualquer do seu sistema. <a href="#">Um link qualquer</a>.
        </div>

       
         <div class="boxGray">
        <h2 class="titleContent" role="presentation">Primeiros passos</h2>
        <p>Comece aqui suas ações de marketing por e-mail.</p>

      <div class="shortcutBox expandBox">
        <div>
          <a href="#" tabindex="2" title="Você pode cadastrar os seus contatos manualmente ou importá-los de uma lista.">
            <h3 class="chamaicon-addcontact"><span class="shortcutTitle">Cadastre seus<br>contatos</span></h3>
            <p>Você pode cadastrar os seus contatos manualmente ou importá-los de uma lista.</p>
          </a>
        </div>
        <div>
          <a href="#" tabindex="2" title="Crie e personalize suas mensagens através de um dos nossos templates pré-definidos.">
            <h3 class="chamaicon-sendemail"><span class="shortcutTitle">Crie e envie <br>mensagens</span></h3>
            <p>Crie e personalize suas mensagens através de um dos nossos templates pré-definidos.</p>
          </a>
        </div>
        <div>
          <a href="#" tabindex="2" title="Acompanhe a evolução de suas mensagens através de relatórios detalhados.">
            <h3 class="chamaicon-stats"><span class="shortcutTitle">Acompanhe os resultados</span></h3>
            <p>Acompanhe a evolução de suas mensagens através de relatórios detalhados.</p>
          </a>
        </div>
      </div>
      <a href="#" class="lnkArrow fRight minShortcuts" data-text="Expandir Atalhos">Minimizar Atalhos</a>
    </div> 
              

    <div >
      <h2 class="titDots">Um título bacana</h2>


      <div class="boxCollapse">
        <header data-target="#contrateConvenioDesc" data-toggle="collapse"><a href="#" role="button" aria-haspopup="true" aria-controls="#contrateConvenioDesc" aria-label="01. Contrate um convênio" title="01. Contrate um convênio" class="lnkCollapse" tabindex="3"></a>
          <h4><span>01.</span> Contrate um convênio</h4>
        </header>
        <div class="collapse" id="contrateConvenioDesc">
          <p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrices.  </p>
          <p><a class="lnkArrow" tabindex="3" href="#">Saiba mais</a></p>
        </div>
      </div>

      <div class="boxCollapse">
        <header data-target="#configMeioPagtoDesc" data-toggle="collapse"><a href="#" role="button" aria-haspopup="true" aria-controls="#configMeioPagtoDesc" aria-label="02. Configure um meio de pagamento" title="02. Configure um meio de pagamento" class="lnkCollapse" tabindex="3"></a>
          <h4><span>02.</span> Configure um meio de pagamento</h4>
        </header>
        <div class="collapse" id="configMeioPagtoDesc">
          <p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrices.  </p>
          <p><a class="lnkArrow" tabindex="3" href="#">Saiba mais</a></p>
        </div>
      </div>

      <div class="boxCollapse">
        <header data-target="#impMeioPagtoDesc" data-toggle="collapse"><a href="#" role="button" aria-haspopup="true" aria-controls="#impMeioPagtoDesc" aria-label="03. Implemente seu meio de pagamento" title="03. Implemente seu meio de pagamento" class="lnkCollapse" tabindex="3"></a>
          <h4><span>03.</span> Implemente seu meio de pagamento</h4>
        </header>
        <div class="collapse" id="impMeioPagtoDesc">
          <p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrices.  </p>
          <p><a class="lnkArrow" tabindex="3" href="#">Saiba mais</a></p>
        </div>
      </div>

    </div>

    <ul class="tabs" role="tablist">
      <li class="active"><a href="#tab1" data-toggle="tab" tabindex="3" role="tab" aria-selected="true">7 dias</a></li>
      <li><a href="#tab2" data-toggle="tab" tabindex="3" role="tab" aria-selected="false">30 dias</a></li>
      <li><a href="#tab3" data-toggle="tab" tabindex="3" role="tab" aria-selected="false">6 meses</a></li>
    </ul>

    <div id="charts" class="tab-content">
      <div class="tab-pane active" id="tab1">
        <p>
          TAB 1<br>
          Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
        </p>
      </div>
      <div class="tab-pane" id="tab2">
        <p>
          TAB 2<br>
          Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
          Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
        </p>
      </div>
      <div class="tab-pane" id="tab3">
        <p>
          TAB 3<br>
          Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
        </p>
      </div>
    </div>



              <table class="tableList">
                <thead>
                  <tr>
                    <th class="span2 dataDescending"><a href="#"># do pedido</a></th>
                    <th class="dataAscending"><a href="#">Data - Hora</a></th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th colspan="2">Ações</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>74994</td>
                    <td>14/03/12 - 11h25</td>
                    <td>Autorizada</td>
                    <td>R$ 297,00</td>
                    <td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
                    <td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
                  </tr>
                  <tr>
                    <td>74994</td>
                    <td>14/03/12 - 11h25</td>
                    <td>Autorizada</td>
                    <td>R$ 297,00</td>
                    <td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
                    <td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
                  </tr>
                  <tr>
                    <td>74994</td>
                    <td>14/03/12 - 11h25</td>
                    <td>Autorizada</td>
                    <td>R$ 297,00</td>
                    <td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
                    <td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
                  </tr>

                </tbody>
              </table>

              <h1>Título h1</h1>
              <h2>Título h2</h2>
              <h3>Título h3</h3>
              <h4>Título h4</h4>
              <h5>Título h5</h5>
              <h6>Título h6</h6>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget tellus nec leo vulputate laoreet non id enim. Quisque ornare blandit ligula sit amet convallis. Praesent blandit lobortis risus, at pulvinar dolor ultrices vel. Vestibulum at augue vitae ante tempus dignissim tempus a libero. Etiam felis orci, tempor nec posuere eu, pretium quis nibh. Suspendisse tortor dui, adipiscing at egestas at, commodo vitae justo. Vivamus sit amet orci sapien. Vivamus mattis augue vel nunc varius rhoncus pretium felis fermentum. Vivamus imperdiet consectetur commodo. Nullam sed vehicula arcu. Cras pretium, urna vel tristique blandit, orci dolor scelerisque quam, id tincidunt magna nisi ut felis. Praesent sit amet metus augue. Quisque sed nisi quam. Cras et pulvinar eros. Etiam blandit sem quis velit vestibulum vitae ornare quam facilisis. Morbi nec lectus tristique dui rutrum molestie.
              </p>
              <p>
                Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit. Ut accumsan orci sit amet est rutrum lobortis sit amet eget dui. Quisque condimentum tempus risus, vel condimentum quam sodales ac. Integer consectetur ultrices tellus, eu luctus velit dapibus ac. Integer molestie vulputate erat quis aliquam.
              </p>


            </div>
            <div class="span4">
              <aside class="sidebar" role="complementary">
                <section class="sideBox">
                  <h1 class="titSide">Dados da Conta</h1>
                  <div class="boxSidebarTitle"><i class="ico-user-star"></i></div>
                  <div class="innerSideBox boxWhite">
                    <h6>Identificador</h6>
                    <p><strong>1234567890</strong></p>

                    <hr>

                    <h6>Nome</h6>
                    <p><strong>Lojinha do Régis</strong></p>
                    <a class="edit-account-name lnkArrow" data-toggle="modal" data-target="#modalEditarNome" href="/accounts/1/edit_name">Editar Nome</a>
                    <hr>

                    <h6>Plano</h6>
                    <p><strong>Nome do plano</strong></p>

                    <hr>

                    <p>Usadas <strong>300</strong> de <strong>42</strong> transações</p>
                    <a href="#" class="lnkArrow">Aumentar limite</a>

                  </div>
                </section>

                <section class="sideBox">
                  <h1 class="titSide">Meios de Pagamento</h1>
                  <div class="boxSidebarTitle"><i class="ico-money"></i></div>

                  <div class="innerSideBox active-settings">

                    <img alt="Cartao" src="/assets/img/cartaoBoleto.png">


                    <a href="/settings" class="lnkArrow">Ir para meios de pagamentos</a>
                  </div>
                </section>
                <section class="sideBox">
                  <h1 class="titSide">Dicas</h1>
                  <div class="boxSidebarTitle"><i class="ico-lamp"></i></div>
                  <div class="innerSideBox boxWhite">
                    <div id="myCarousel" class="carousel slide">
                      <!-- Carousel items -->
                      <ul class="carousel-inner">
                        <li class="item active">
                          <h5>1 Cuidado com os bounces</h5>
                          <p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada. Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
                        </li>
                        <li class="item">
                          <h5>2 Bounces Cuidado</h5>
                          <p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada. Por exemplo: e-mail inválido, caixa postal cheia etc.</p>
                        </li>
                        <li class="item">
                          <h5>3 Bounces Cuidado</h5>
                          <p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada. Por exemplo: e-mail inválido, caixa postal cheia etc.</p>
                        </li>
                        <li class="item">
                          <h5>4 Bounces Cuidado</h5>
                          <p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada. Por exemplo: e-mail inválido, caixa postal cheia etc.</p>
                        </li>
                        <li class="item">
                          <h5>5 Cuidado com os bounces</h5>
                          <p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada. Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
                        </li>
                        <li class="item">
                          <h5>6 Cuidado com os bounces</h5>
                          <p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada. Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
                        </li>
                      </ul>
                      <!-- Carousel nav -->
                      <div class="carouselNav">
                        <a class="carousel-control left ico-left-open" href="#myCarousel" data-slide="prev"></a>
                        <b>1</b> de <i>6</i>
                        <a class="carousel-control right ico-right-open" href="#myCarousel" data-slide="next"></a>
                      </div>
                    </div>
                  </div>

                </section>
                <section class="sideBox">
                  <div class="boxSidebarTitle"><i class="cmicon-help">?</i></div>
                  <h1 class="titSide">Ajuda e Suporte </h1>
                  <div class="innerSideBox">
                    <ul class="listWhite">
                      <li><a href="#" class="ico-right-open">Documentação de implementação<span class="ico-link-out"></span></a></li>
                      <li><a href="#" class="ico-right-open">Wiki do Gateway de pagamentos<span class="ico-link-out"></span></a></li>
                      <li><a href="#" class="ico-right-open">Suporte 24h<span class="ico-link-out"></span></a></li>
                    </ul>
                  </div>
                </section>
              </aside>
            </div>
            <div class="span16">
              <table class="tableList">
                <thead>
                  <tr>
                    <th><input type="checkbox"></th>
                    <th class="txtLeft dataDescending"><a href="#">Mensagem</a></th>
                    <th><a href="#">Campanha</a></th>
                    <th><a href="#">Status</a></th>
                    <th><a href="#">Valor</a></th>
                    <th colspan="2">Ações</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td class="txtLeft">
                      <a href="#">There are many variations of passages of available, but the majority</a>
                      <ul class="actionsTable">
                        <li><a href="#" class="ico-docs">Duplicar</a></li>
                        <li><a href="#" class="ico-list">Relatório</a></li>
                        <li><a href="#" class="ico-trash">Excluir</a></li>
                      </ul>
                    </td>
                    <td>Campanha X</td>
                    <td>R$ 297,00</td>
                    <td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
                    <td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td class="txtLeft">
                      <a href="#">There are many variations of passages of available, but the majority</a>
                      <ul class="actionsTable">
                        <li><a href="#" class="ico-docs">Duplicar</a></li>
                        <li><a href="#" class="ico-list">Relatório</a></li>
                        <li><a href="#" class="ico-trash">Excluir</a></li>
                      </ul>
                    </td>
                    <td>Campanha X</td>
                    <td>R$ 297,00</td>
                    <td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a>
                      <div class="progress progress-striped active">
                        <div class="bar" style="width: 50%;"><b>1.000</b></div>
                      </div>
                    </td>
                    <td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td class="txtLeft">
                      <a href="#">There are many variations of passages of available, but the majority</a>
                      <ul class="actionsTable">
                        <li><a href="#" class="ico-docs">Duplicar</a></li>
                        <li><a href="#" class="ico-list">Relatório</a></li>
                        <li><a href="#" class="ico-trash">Excluir</a></li>
                      </ul>
                    </td>
                    <td>Campanha X</td>
                    <td>R$ 297,00</td>
                    <td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
                    <td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
                  </tr>

                </tbody>
              </table>
            </div>


          </div><!-- FIM ROW -->

        </div><!-- FIM LIMITE -->



        <footer id="footer">
          <div class="footerTop">
            <div class="limit">
              <nav>
                <h6>Atendimento</h6>
                <ul>
                  <li class="ico-helpDesk"><a href="#">HelpDesk</a></li>
                  <li class="ico-chat"><a href="#">Chat</a></li>
                  <li class="ico-phone"><a href="#">Telefone</a></li>
                </ul>
                <a href="#" class="lnkArrow lnkArrowWhite fright">Ver todas as formas de atendimento</a>
              </nav>
            </div>
          </div>
          <div class="subfooter">
            <div class="limit">
              <span class="lastAccess"><strong>Último acesso:</strong> 7/8/2011 22:35:49   <strong>IP:</strong> 201.87.65.217 </span>

              <p class="copyRight fright">Copyright © 1997-2011 Locaweb Serviços de Internet S/A.</p>
            </div>
          </div>
        </footer>

      </div>