<div class="alert alert-info">
	<a class="close" data-dismiss="alert">×</a>
	<strong>Informação!</strong> Uma informação qualquer do seu sistema.
</div>

<div class="boxGray">
	<h2>Um título bacana</h2>

	<div class="collapseGroup">
		<div class="details selected">
			<summary data-toggle="collapse" data-target="#contrateConvenioDesc" class="selected"><span>01.</span> Contrate um convênio</summary>
			<div id="contrateConvenioDesc" class="collapse in">
				<p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrices</p>
				<p><a href="#" class="lnkSeta">Saiba mais</a></p>
			</div>
		</div>

		<div class="details">
			<summary data-toggle="collapse" data-target="#configMeioPagtoDesc"><span>02.</span> Configure um meio de pagamento</summary>
			<div id="configMeioPagtoDesc" class="collapse">
				<p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrices</p>
				<p><a href="#" class="lnkSeta">Saiba mais</a></p>
			</div>
		</div>
		<div class="details">
			<summary data-toggle="collapse" data-target="#impMeioPagtoDesc"><span>03.</span> Implemente seu meio de pagamento</summary>
			<div id="impMeioPagtoDesc" class="collapse">
				<p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrice</p>
				<p><a href="#" class="lnkSeta">Saiba mais</a></p>
			</div>
		</div>
		<a href="/stop_showing_first_steps" class="lnkSeta fright hideFirstSteps" data-remote="true">Não exibir novamente</a>

	</div>
</div>


<section class="statusMessageInfo">

	<h2 class="titDots">Visualizações por mensagem</h2>

	<ul class="statusMessageBox">
		<li class="countViews">
			<h6>Visualizações</h6>
			<p><b>1.000.000</b></p>
		</li>
		<li>
			<h6>Contatos</h6>
			<p><strong>567.000</strong></p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>There are many variations of passages majority There are many variations of passages majority</p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>Lorem Ipsum is simply dummy text</p>
		</li>
	</ul>

	<ul class="statusMessageBox">
		<li class="countViews">
			<h6>Visualizações</h6>
			<p><b>1.000.000</b></p>
		</li>
		<li>
			<h6>Contatos</h6>
			<p><strong>567.000</strong></p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>There are many variations of passages majority There are many variations of passages majority</p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>Lorem Ipsum is simply dummy text</p>
		</li>
	</ul>

	<ul class="statusMessageBox">
		<li class="countViews">
			<h6>Visualizações</h6>
			<p><b>1.000.000</b></p>
		</li>
		<li>
			<h6>Contatos</h6>
			<p><strong>567.000</strong></p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>There are many variations of passages majority There are many variations of passages majority</p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>Lorem Ipsum is simply dummy text</p>
		</li>
	</ul>

	<ul class="statusMessageBox">
		<li class="countViews">
			<h6>Visualizações</h6>
			<p><b>1.000.000</b></p>
		</li>
		<li>
			<h6>Contatos</h6>
			<p><strong>567.000</strong></p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>There are many variations of passages majority There are many variations of passages majority</p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>Lorem Ipsum is simply dummy text</p>
		</li>
	</ul>

	<ul class="statusMessageBox">
		<li class="countViews">
			<h6>Visualizações</h6>
			<p><b>1.000.000</b></p>
		</li>
		<li>
			<h6>Contatos</h6>
			<p><strong>567.000</strong></p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>There are many variations of passages majority There are many variations of passages majority</p>
		</li>
		<li class="overflowMessage">
			<h6>Mensagem</h6>
			<p>Lorem Ipsum is simply dummy text</p>
		</li>
	</ul>

	<a href="#" class="lnkSeta">Ver mais mensagens</a>

	<hr class="dotsSep">

</section>

<ul class="tabs">
	<li class="active"><a href="#tab1" data-toggle="tab">7 dias</a></li>
	<li><a href="#tab2" data-toggle="tab">30 dias</a></li>
	<li><a href="#tab3" data-toggle="tab">6 meses</a></li>
</ul>

<div id="charts" class="tab-content">
	<div class="tab-pane active" id="tab1">Conteúdo Tab 1</div>
	<div class="tab-pane" id="tab2">Conteúdo Tab 2</div>
	<div class="tab-pane" id="tab3">Conteúdo Tab 3</div>
</div>



<table class="tableList">
	<thead>
		<tr>
			<th class="dataDescending"><a href="#"># do pedido</a></th>
			<th class="dataAscending"><a href="#">Data - Hora</a></th>
			<th><a href="#">Status</a></th>
			<th><a href="#">Valor</a></th>
			<th colspan="2">Ações</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>74994</td>
			<td>14/03/12 - 11h25</td>
			<td>Autorizada</td>
			<td>R$ 297,00</td>
			<td><a href="#" class="ico-tabela" data-toggle="modal">Ver Detalhes</a></td>
			<td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
		</tr>
		<tr>
			<td>74994</td>
			<td>14/03/12 - 11h25</td>
			<td>Autorizada</td>
			<td>R$ 297,00</td>
			<td><a href="#" class="ico-tabela" data-toggle="modal">Ver Detalhes</a></td>
			<td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
		</tr>
		<tr>
			<td>74994</td>
			<td>14/03/12 - 11h25</td>
			<td>Autorizada</td>
			<td>R$ 297,00</td>
			<td><a href="#" class="ico-tabela" data-toggle="modal">Ver Detalhes</a></td>
			<td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
		</tr>

	</tbody>
</table>

<h1>Título h1</h1>
<h2>Título h2</h2>
<h3>Título h3</h3>
<h4>Título h4</h4>
<h5>Título h5</h5>
<h6>Título h6</h6>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget tellus nec leo vulputate laoreet non id enim. Quisque ornare blandit ligula sit amet convallis. Praesent blandit lobortis risus, at pulvinar dolor ultrices vel. Vestibulum at augue vitae ante tempus dignissim tempus a libero. Etiam felis orci, tempor nec posuere eu, pretium quis nibh. Suspendisse tortor dui, adipiscing at egestas at, commodo vitae justo. Vivamus sit amet orci sapien. Vivamus mattis augue vel nunc varius rhoncus pretium felis fermentum. Vivamus imperdiet consectetur commodo. Nullam sed vehicula arcu. Cras pretium, urna vel tristique blandit, orci dolor scelerisque quam, id tincidunt magna nisi ut felis. Praesent sit amet metus augue. Quisque sed nisi quam. Cras et pulvinar eros. Etiam blandit sem quis velit vestibulum vitae ornare quam facilisis. Morbi nec lectus tristique dui rutrum molestie.
</p>
<p>
	Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit. Ut accumsan orci sit amet est rutrum lobortis sit amet eget dui. Quisque condimentum tempus risus, vel condimentum quam sodales ac. Integer consectetur ultrices tellus, eu luctus velit dapibus ac. Integer molestie vulputate erat quis aliquam.
</p>
<p>
	Etiam eget metus magna. Quisque vehicula dapibus congue. Pellentesque id est lectus. Fusce a dui elit. Morbi a nulla eu ligula interdum dignissim. Sed facilisis sem vitae justo pharetra fermentum. Nam tincidunt condimentum diam sed eleifend. Fusce bibendum egestas mi, quis ultrices justo euismod at. Cras arcu mi, porttitor eget fermentum ac, feugiat sit amet enim. Suspendisse vel nisi et velit tristique convallis. Integer vehicula diam non lorem convallis tempor. Donec in eros purus, quis scelerisque nibh. Nunc magna eros, congue sit amet elementum quis, facilisis at augue. Duis hendrerit turpis ut erat mattis blandit. Aliquam ante leo, dapibus vitae rhoncus vel, laoreet id erat.
</p>
<p>
	Donec in hendrerit nibh. Aenean imperdiet bibendum neque eget consequat. Phasellus ut iaculis magna. Curabitur vehicula vestibulum felis, nec feugiat justo iaculis a. Sed non porta tortor. In lacinia nunc ut felis dignissim tincidunt nec ut massa. Mauris vitae ante justo. Aliquam erat volutpat. Praesent ultrices sapien tempus enim ornare congue. Vestibulum posuere orci in nisl dignissim dignissim. Donec vitae ante tellus. Vivamus dui est, mollis sed aliquet quis, auctor quis augue. Mauris vel erat in mi tempus condimentum. In hendrerit suscipit nulla, sit amet vestibulum sapien ornare accumsan.
</p>

