<div class="alert alert-warning">
	<a class="close" data-dismiss="alert">×</a>
	<strong>Informação!</strong> Uma informação qualquer do seu sistema. <a href="#">Um link qualquer</a>.
</div>


<div class="boxGray">
    <h2>Primeiros passos</h2>
    <p>Comece aqui suas ações para as configurações do seu site.</p>
    <div class="chamadasBox">
      <div>
	      <h3 class="chamaicon-stats"><a href="#">Publique o conteúdo do site</a></h3>
	      <p><a href="#">Utiize os recursos do FTP abaixo ou acesse o nosso Gerenciador de Arquivos.</a></p>
      </div>
      <div>
	    <h3 class="chamaicon-sendemail"><a href="#">INSTALE APLICATIVOS EM SEU SITE</a></h3>
	    <p><a href="#">Faça a instalação automática de aplicativos e ferramentas para incrementar seu site.</a></p>
      </div>
      <div>
        <h3 class="chamaicon-addcontact"><a href="#">GERENCIE SUAS BASES DE DADOS</a></h3>
        <p><a href="#">Visualize em detalhes as bases de dados do site ou crie uma nova base de dados.</a></p>
      </div>
    </div>
  </div>

<!-- COLLAPSE FULL -->
<div class="boxCollapse">
	<header data-target="#collapseFull" data-toggle="collapse"><a href="#" role="button" aria-haspopup="true" aria-controls="#collapseFull" aria-label="Motivos de descadastramento" title="Motivos de descadastramento" class="lnkCollapse" tabindex="3"></a>
		<h4>Motivos de descadastramento</h4>
		<p>Você pode editar os já cadastrados ou pode criar novos motivos para a sua lista.</p>
	</header>
	<div id="collapseFull" class="collapse">
		<div class="boxCinzaInner">
			<form>
				<div class="control-group">
					<label for="unsubscribe_reason_create" class="required control-label">Adicione um motivo <b>*</b></label><input type="text" name="unsubscribe_reason[name]" id="unsubscribe_reason_create" class="span5" data-value="">
					<input type="submit" value="Adicionar" class="btn btn-primary" tabindex="0">
				</div>
			</form>
		</div>

		<h6>Motivos adicionados</h6>
		<table class="tableList">
			<thead>
				<tr>
					<th class="txtLeft">Motivo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="txtLeft">
						Lorem Ipsum dolor sit amet
						<ul class="actionsTable">
							<li><a data-disable="edit" class="ico-pencil" href="#edit">Editar</a></li>
							<li><a data-toggle="modal" data-target="#deleteModal" class="ico-trash" href="#">Excluir</a></li>
						</ul>
						<div id="deleteModal" class="modal modalCenter modalSmall fade">
							<div class="modal-header">
								<a data-dismiss="modal" class="close" role="button">×</a>
								<h3>Um título qualquer</h3>
							</div>

							<div class="modal-body">
								<h2 class="titAlert">Aqui é um título do alerta</h2>
								<p>Aqui vai a mensagem de alerta, aviso, notificação ou qualquer outro aviso que você deseja aplicar.</p>
							</div>

							<div class="modal-footer">
								<a data-method="delete" class="btn btn-primary" href="#" tabindex="0" role="button">sim</a>
								<a data-dismiss="modal" class="btn" href="#" tabindex="0" role="button">Não tenho certeza</a>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="txtLeft">
						Consectuer dip alet Lorem Ipsum
						<ul class="actionsTable">
							<li><a data-disable="edit" class="ico-pencil" href="#edit">Editar</a></li>
							<li><a data-toggle="modal" data-target="#deleteModal" class="ico-trash" href="#">Excluir</a></li>
						</ul>
						<div id="deleteModal" class="modal modalCenter modalSmall fade">
							<div class="modal-header">
								<a data-dismiss="modal" class="close" role="button">×</a>
								<h3>Um título qualquer</h3>
							</div>

							<div class="modal-body">
								<h2 class="titAlert">Aqui é um título do alerta</h2>
								<p>Aqui vai a mensagem de alerta, aviso, notificação ou qualquer outro aviso que você deseja aplicar.</p>
							</div>

							<div class="modal-footer">
								<a data-method="delete" class="btn btn-primary" href="#" tabindex="0" role="button">sim</a>
								<a data-dismiss="modal" class="btn" href="#" tabindex="0" role="button">Não tenho certeza</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </div>
  <div class="boxCollapse">
	<header data-target="#collapseFull2" data-toggle="collapse"><a href="#" role="button" aria-haspopup="true" aria-controls="#collapseFull2" aria-label="Motivos de descadastramento" title="Motivos de descadastramento" class="lnkCollapse" tabindex="3"></a>
		<h4>Um título qualquer</h4>
		<p>Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
	</header>
	<div id="collapseFull2" class="collapse">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
	</div>
  </div>
<!-- FIM COLLAPSE FULL -->


<!-- BOX GRAY -->
<div class="boxGray">
	<h2>Um título bacana</h2>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>

		<div class="boxCollapse whiteCollapse">
			<header data-target="#collapse1" data-toggle="collapse" class="noBorder">
				<h4><span>01.</span> Contrate um convênio</h4>
			</header>
			<div class="collapse" id="collapse1">
				<p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrices.  </p>
				<p><a class="lnkSeta" href="#">Saiba mais</a></p>
			</div>
		</div>
		<div class="boxCollapse whiteCollapse">
			<header data-target="#collapse2" data-toggle="collapse" class="noBorder">
				<h4><span>01.</span> Contrate um convênio</h4>
			</header>
			<div class="collapse" id="collapse2">
				<p>Para contratar um convênio, é necessário Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit justo, tincidunt nec ultricies at, pellentesque et elit. Proin risus odio, ultrices vel porttitor sed, blandit tristique eros. Aliquam erat volutpat. In hac habitasse platea dictumst.Proin eget velit sed mauris sollicitudin semper vel et sem. Nam dapibus placerat ante, nec feugiat elit faucibus sollicitudin. Aliquam accumsan mi id lectus posuere scelerisque. Fusce hendrerit nibh vel libero blandit mattis. Nullam vestibulum est eget enim iaculis ultrices.  </p>
				<p><a class="lnkSeta" href="#">Saiba mais</a></p>
			</div>
		</div>
		<a href="/stop_showing_first_steps" class="lnkSeta fright hideFirstSteps" data-remote="true">Não exibir novamente</a>

</div> <!-- FIM COLLAPSE BOX GRAY -->



<ul class="tabs">
	<li class="active"><a href="#tab1" data-toggle="tab">7 dias</a></li>
	<li><a href="#tab2" data-toggle="tab">30 dias</a></li>
	<li><a href="#tab3" data-toggle="tab">6 meses</a></li>
</ul>

<div id="charts" class="tab-content">
	<div class="tab-pane active" id="tab1">
		<p>
			TAB 1<br>
			Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
		</p>
	</div>
	<div class="tab-pane" id="tab2">
		<p>
			TAB 2<br>
			Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
			Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
		</p>
	</div>
	<div class="tab-pane" id="tab3">
		<p>
			TAB 3<br>
			Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit.
		</p>
	</div>
</div>



<table class="tableList">
	<thead>
		<tr>
			<th class="span2 dataDescending"><a href="#"># do pedido</a></th>
			<th class="dataAscending"><a href="#">Data - Hora</a></th>
			<th>Status</th>
			<th>Valor</th>
			<th colspan="2">Ações</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>74994</td>
			<td>14/03/12 - 11h25</td>
			<td>Autorizada</td>
			<td>R$ 297,00</td>
			<td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
			<td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
		</tr>
		<tr>
			<td>74994</td>
			<td>14/03/12 - 11h25</td>
			<td>Autorizada</td>
			<td>R$ 297,00</td>
			<td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
			<td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
		</tr>
		<tr>
			<td>74994</td>
			<td>14/03/12 - 11h25</td>
			<td>Autorizada</td>
			<td>R$ 297,00</td>
			<td><a href="#" class="ico-list" data-toggle="modal">Ver Detalhes</a></td>
			<td> <a href="#" class="ico-estornar" data-toggle="modal">Estornar</a></td>
		</tr>

	</tbody>
</table>

<h1>Título h1</h1>
<h2>Título h2</h2>
<h3>Título h3</h3>
<h4>Título h4</h4>
<h5>Título h5</h5>
<h6>Título h6</h6>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget tellus nec leo vulputate laoreet non id enim. Quisque ornare blandit ligula sit amet convallis. Praesent blandit lobortis risus, at pulvinar dolor ultrices vel. Vestibulum at augue vitae ante tempus dignissim tempus a libero. Etiam felis orci, tempor nec posuere eu, pretium quis nibh. Suspendisse tortor dui, adipiscing at egestas at, commodo vitae justo. Vivamus sit amet orci sapien. Vivamus mattis augue vel nunc varius rhoncus pretium felis fermentum. Vivamus imperdiet consectetur commodo. Nullam sed vehicula arcu. Cras pretium, urna vel tristique blandit, orci dolor scelerisque quam, id tincidunt magna nisi ut felis. Praesent sit amet metus augue. Quisque sed nisi quam. Cras et pulvinar eros. Etiam blandit sem quis velit vestibulum vitae ornare quam facilisis. Morbi nec lectus tristique dui rutrum molestie.
</p>
<p>
	Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit. Ut accumsan orci sit amet est rutrum lobortis sit amet eget dui. Quisque condimentum tempus risus, vel condimentum quam sodales ac. Integer consectetur ultrices tellus, eu luctus velit dapibus ac. Integer molestie vulputate erat quis aliquam.
</p>

