<div class="ls-box">
  <h2 class="ls-title-5 ls-display-inline-block">Uso de envios excedentes</h2>

  <div data-ls-module="switchButton" class="ls-switch-btn ls-float-right">
    <input type="checkbox" id="teste">
    <label class="ls-switch-label" for="teste" name="label-teste" ls-switch-off="Desativado" ls-switch-on="Ativado"><span></span></label>
  </div>
</div>
