<!-- Desativado -->
<div class="ls-box">
  <h2 class="ls-title-5 ls-display-inline-block">Uso de envios excedentes</h2>
  <div data-ls-module="switchButton" class="ls-switch-btn ls-float-right">
    <a href="#">
      <input type="checkbox" id="test1">
      <label class="ls-switch-label" for="test1" name="label-test1" ls-switch-off="Desativado" ls-switch-on="Ativado"><span></span></label>
    </a>
  </div>
</div>

<!-- Ativado -->
<div class="ls-box">
  <h2 class="ls-title-5 ls-display-inline-block">Uso de envios excedentes</h2>
  <div data-ls-module="switchButton" class="ls-switch-btn ls-float-right">
    <a href="#">
      <input type="checkbox" checked id="test2">
      <label class="ls-switch-label" for="test2" name="label-test2" ls-switch-off="Desativado" ls-switch-on="Ativado"><span></span></label>
    </a>
  </div>
</div>
