---
title: Esqueci a minha senha
layout: login
---
<div class="ls-login-box">
  <a href="login-screen"><h1 class="ls-login-logo"><%= image_tag "locastyle/logo-locaweb.jpg", title: "Logo login" %></h1></a>
  <form role="form" class="ls-form ls-login-form" action="#">
    <fieldset>

      <p>Informe seu usuário. O link para redefinição de senha será enviado para o <strong>e-mail principal</strong> da conta.</p>

      <label class="ls-label">
        <input class="ls-field-lg ls-login-bg-email" type="text" placeholder="Digite o seu e-mail" required autofocus>
        <b class="ls-label-text ls-hidden-accessible">Digite o seu e-mail</b>
      </label>

      <div class="ls-form-actions">
        <%= link_to "Recuperar senha", "verify-email", class: "ls-btn-primary" %>
        <a href="#" class="ls-btn">Cancelar</a>
      </div>

    </fieldset>
  </form>
</div>
