---
title: Esqueci a minha senha
layout: false
---
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= current_page.data.title %></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="<%= base_url %>/assets/stylesheets/locastyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="ls-login-parent">
  <div class="ls-login-inner">

    <div class="ls-login-box">
      <h1 class="ls-login-logo"><%= image_tag "locastyle/logo-locaweb.jpg", title: "Logo login" %></h1>
      <form role="form" class="ls-form ls-login-form" action="">
        <fieldset>

          <label class="ls-label">
            <input class="ls-field-lg" type="text" placeholder="Digite o seu e-mail" required autofocus>
            <b class="ls-label-text ls-hidden-accessible">Digite o seu e-mail</b>
          </label>

          <input type="submit" value="Entrar" class="ls-btn-primary ls-btn-block ls-btn-lg">
          <p class="ls-txt-center ls-login-signup">Não possui um usuário na Locaweb? <a href="#">Cadastre-se agora</a></p>

        </fieldset>
      </form>
    </div>

  </div>
</div>

</body>
</html>
