---
title: Exemplos
description: Exemplos de telas usando o Locaweb Style
type: component
---

<section class="col-md-12">

  <div class="doc-intro-content">
    <h1><%= current_page.data.title %></h1>
    <p><%= current_page.data.description %></p>
  </div>

</section>
