---
title: Exemplos e modelos
description: Estas telas são modelos de protótipos com códigos funcionais de telas usando o Locaweb Style.
type: component
---

<section class="col-md-12">

  <div class="doc-intro-content">
    <h1><%= current_page.data.title %></h1>
    <p><%= current_page.data.description %></p>
  </div>

  <div class="row doc-examples">
    <div class="col-xs-6 col-md-4">
      <a href="<%= base_url+"/documentacao/exemplos/rev/pre-painel" %>" target="_blank">
        <span class="doc-thumbnail"><img src="/assets/images/docs/thumb-revenda-emailmkt.jpg" alt="Imagem de Exemplo utilizando Locaweb Style"></span>
        <h2 class="doc-title-5">Painel modelo</h2>
        <p>Exemplo de painel navegável. Esse é nosso painel modelo, onde testamos e mantemos códigos funcionais de exemplo.</p>
      </a>
    </div>
  </div>

</section>
