---
title: Verifique seu e-mail
layout: login
---
<div class="ls-login-box">
  <a href="login-screen"><h1 class="ls-login-logo"><%= image_tag "locastyle/logo-locaweb.jpg", title: "Logo login" %></h1></a>
  <h2 class="ls-title-3">Verifique seu e-mail</h2>
  <br>
  <p>Uma mensagem foi enviada para o <br><strong>e-mail principal</strong> da conta. Clique no link informado para redefinir a senha de acesso.</p>
  <p>Caso o e-mail não esteja em sua caixa de entrada, verifique as pastas de Spam, Lixo, Social e outras.</p>
  <hr>
  <p><a href="#">Acessar a Central do Cliente</a></p>
</div>
