---
title: Informações Iniciais
menu_page: sidebar-informacoes-iniciais.erb
---
<header>
	<!-- <h2 class="ico-edit">Aprenda o básico</h2> -->
	<h1>Dependências do Locaweb Style</h1>
	<h3>Temos algumas dependências e informações importantes antes da diversão.</h3>
</header>

<p>O Locaweb Style precisa das dependências abaixo para funcionar perfeitamente. Sempre recomendamos ter a versão mais atual destes plugins.</p>

<h3>Bootstrap</h3>
<p>Os estilos e comportamentos foram baseados no <a href="http://twitter.github.com/bootstrap/" class="broken_link">Bootstrap</a>, framework criado pelo <a href="http://twitter.com/mdo/" class="broken_link">Mark Ott</a> e <a href="http://twitter.com/fat" class="broken_link">Jacob Thornton</a> para agilizar a criação de interface do Twitter. </p>

<p>Se você não conhece, <a href="http://twitter.github.com/bootstrap/" class="broken_link">visite o github do projeto e conheça já</a>!</p>

<div class="bs-callout bs-callout-info">
	<h4>Curiosidade</h4>
	<p>O Bootstrap utiliza o Normalize, que é um CSS Reset bastante completo. Ele padroniza e compatibiliza alguns problemas de textos e valores padrões em elementos do HTML.</p> 
	<p>O Normalize foi criado pelo <a href="http://twitter.com/necolas" class="broken_link">Nicolas Gallagher</a> e <a href="http://twitter.com/jon_neal" class="broken_link">Jonathan Neal</a>.<br>
		<a href="http://necolas.github.com/normalize.css/">Dê uma olhada no projeto</a></p>
	</div>
	<h3>JQuery</h3>
	<p>O JQuery é o framework mais utilizado para controle e manipulação de comportamentos de elementos do HTML. Acho que ele dispensa apresentações. <a href="http://jquery.com">Link do projeto</a></p>
	<h4>Plugins incluídos:</h4>
	<ul>
		<li><b>Select2</b>: usado para estilizar e adicionar funcionalidades à caixas de seleção;</li>
		<li><b>Hopscotch</b>: plugin que cria tour guiados, através de tooltips, desenvolvido pelo Linkedin;</li>
		<li><b>Mask</b>: insere máscaras e placeholders em campos de formulário;</li>
		<li><b>Cookie</b>: facilita o manuseio de cookies, usando sintaxe jQuery;</li>
		<li><b>RoyalSlider</b>: galeria de images responsiva;</li>
		<li><b>jQuery UI Datepicker</b>: componente para seleção de datas com várias opções.</li>
	</ul>

	<h2>Desenvolvimento</h2>
	<p>Para estender e contribuir com o Locastyle, é necessário conhecer algumas tecnologias e práticas:</p>
	<ul>
		<li><strong><%= link_to "middleman:", "http://middlemanapp.com", target: "_blank" %></strong> gerador de sites estáticos, feito em Ruby, usado para gerar e compilar os arquivos;</li>
		<li><strong><%= link_to "SASS:", "http://sass-lang.com", target: "blank" %></strong> um precompilador de CSS, que utiliza uma sintaxe diferente e adiciona algumas funcionalidades, facilitando a criação e manutençãoo de projetos com CSS muito extensos;</li>
		<li><strong><%= link_to "COMPASS:", "http://compass-style.org", target: "blank" %></strong> uma biblioteca de funções de SASS que agiliza o desenvolvimento e fornece funções (@mixins) prontos que a comunidade já conhece e aprova;</li>
		<li>Além do básico, HTML, CSS e Javascript</li>
	</ul>