<div class="ls-steps">
  <div class="ls-steps-mobile">
    <a class="ls-steps-mobile-btn ls-ico-chevron-down"></a>
  </div>
  <ol class="ls-steps-nav">
    <li>
      <button class="ls-steps-btn " data-ls-module="steps" data-target="#step1" title="Verificar"></button>
    </li>
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step2" title="Adicionar"></button>
    </li>
  </ol>
  <div class="ls-steps-main">
    <div class="ls-steps-content " id="step1">
      <p>Dignissimos neque expedita et. itaque autem nostrum sed necessitatibus consequatur iure sequi dolor. labore exercitationem architecto doloremque placeat reprehenderit quas officiis doloremque. ut ut quas voluptatum unde optio magnam eveniet possimus mollitia qui iste</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Continuar</a>
      </div>
    </div>
    <div class="ls-steps-content" id="step2">
      <p>Est aut et quis eligendi magni. totam dolore laboriosam voluptatem nihil iusto ducimus quos ut ratione repellendus quod. quaerat dolores quas vero aut aut. eos nam cupiditate totam mollitia fugiat ipsum dolor. aut ut doloribus officiis voluptatum enim esse voluptas molestias fuga voluptatum inventore nulla delectus soluta. et minima consequuntur tempore quo eius commodi voluptates quaerat tempora dolorum laudantium ex</p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Voltar</a>
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Adicionar</a>
      </div>
    </div>
  </div>
</div>
