<h3 class="ls-title-6">O domínio registrado será o endereço principal de acesso ao seu site.</h3>
<p>Finalize o processo utilizando o cupom <strong>[CUP123456]</strong> e seu endereço será alterado automaticamente.</p>

<form action="" class="ls-form-inline row">
  <p><strong>Verifique a disponibilidade</strong></p>
  <label class="ls-label col-md-7 col-sm-12">

    <div class="ls-prefix-group">
      <span class="ls-label-text-prefix">www.</span>
      <input type="text" name="nome" placeholder="meudominio" required >
    </div>
  </label>
  <label class="ls-label col-md-3 col-sm-12">
    <div class="ls-custom-select">
      <select class="ls-select">
          <option value="1">.com.br</option>
          <option value="2">.com</option>
          <option value="3">.net</option>
      </select>
    </div>
  </label>
  <div class="ls-actions-btn">
    <input type="submit" value="Verificar" class="ls-btn-primary" title="Verificar">
  </div>
</form>
