<h3 class="ls-title-6">O domínio registrado será o endereço principal de acesso ao seu site.</h3>
<p>Finalize o processo utilizando o cupom <strong>[CUP123456]</strong> e seu endereço será alterado automaticamente.</p>

<form action="javascript:void(0);" class="ls-form-inline row">
  <p><strong>Verifique a disponibilidade</strong></p>
  <fieldset>
    <label class="ls-label col-md-6 col-sm-10 ls-success">

      <div class="ls-prefix-group">
        <span class="ls-label-text-prefix">www.</span>
        <input type="text" name="nome" placeholder="meudominio" >
      </div>
      <small class="ls-help-message">Mensagem de sucesso.</small>
    </label>
    <label class="ls-label col-md-4 col-sm-10">
      <div class="ls-custom-select">
        <select class="ls-select">
            <option value="1">.com.br</option>
            <option value="2">.com</option>
            <option value="3">.net</option>
        </select>
      </div>
    </label>
    <div class="ls-actions-btn">
      <input type="submit" value="Verificar" class="ls-btn" title="Verificar" data-toggle-class="ls-display-none" data-target="#register-button">
    </div>
    
  </fieldset>

  <button id="register-button" data-ls-module="modal" data-action="http://go0ykq.axshare.com/ficha_registro.html" data-content="<h2>Antes, uma coisa importante :)<br><br></h2><p>Ao iniciar agora o processo de contratação de domínio, este endereço será adicionado automaticamente ao seu site. Finalize o processo para garantir que tudo aconteça sem problemas.</p><p>Este primeiro registro <b>vale por 1 ano e é grátis!</b> Utilize o cupom <b>[CUP123456]</b><br>Escolha com cuidado o nome do seu domínio, porque ele não poderá ser alterado depois.</p>" data-title="Registrar domínio: dominioqualquer.com.br" data-class="ls-btn-primary" data-save="Continuar" data-close="Cancelar" class="ls-btn-primary ls-display-none ls-float-right">Registrar agora</button>

</form>
