---
title: Publicar o site
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-cyanogen
title_product: Criador de Sites 2.0
---
<h1 class="ls-title-intro ls-ico-cog">Publicar o site</h1>
<p>A qualquer momento você pode tirar seu site do ar ou até mesmo apagá-lo. Use estas ações com cautela e apenas se tiver certeza.</p>

<div class="ls-box">
  <p>Ao fazer isto, seu site será publicado e todas as páginas criadas serão exibidas.</p>
  <a href="#" class="ls-btn">Publicar o site</a>
  <hr>
  <a href="#" class="ls-btn-danger">Apagar o site</a>
  <p>Ao fazer isto, a aparência e todo o conteúdo de seu site serão apagados. Esta ação é irreversível.</p>

</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>

