---
title: Idiomas
layout: panel
theme_name: ls-theme-cyanogen
panel: painel4
title_product: Criador de Sites 2.0
---
<h1 class="ls-title-intro ls-ico-cog">Idiomas</h1>
<p>É importante escolher o idioma em que o conteúdo do seu site será escrito. O Google Brasil (.com.br) dá prioridade para sites que estejam em português do Brasil (pt-BR). Da mesma maneira, o Google de outros países dá prioridade para sites na língua nativa.</p>
<p>Defina o idioma do site e seja encontrado facilmente nos buscadores.</p>
<div class="ls-box">
  <h2 class="ls-title-4">seusite.com.br</h2>
  <small>Principal</small>
  <hr>

  <form action="#" class="ls-form">
    <label class="ls-label">
      <b class="ls-label-text">Idioma</b>
      <div class="ls-custom-select">
        <select name="">
          <option value="">Português do Brasil</option>
          <option value="">Inglês (US)</option>
          <option value="">Espanhol</option>
          <option value="">Francês</option>
        </select>
      </div>
    </label>
  </form>

  <hr>
  <p><a href="#" class="ls-no-border-bottom">Editar o site</a></p>

</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>

