---
title: Página Inicial
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-cyanogen
title_product: Criador de Sites 2.0
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>
<div class="ls-box ls-lg-space ls-ico-code ls-ico-bg">
  <h1 class="ls-title-1 ls-color-theme">Criar meu site</h1>
  <p>Edite a aparência, as páginas e todo o conteúdo do seu site.</p>
  <a class="ls-btn-primary" href="#">Comece agora</a>
</div>

<h2 class="ls-title-3">Criamos um endereço para você começar</h2>
<div class="ls-box ls-txt-center">
  <div class="ls-box ls-box-gray ls-color-theme">
    saasdev33.lvh.me
  </div>
  <p>Você quer usar um endereço personalizado? <strong>É grátis por 1 ano.</strong></p>
  <p>
    <a href="#1" class="ls-btn-primary">Sim, eu quero</a>
    <a href="#2" class="ls-btn">Não, gostei desse</a>
  </p>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>
