---
title: Página Inicial
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-cyanogen
panel: painel4
title_product: Criador de Sites 2.0
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<div class="ls-box">Box 1</div>
<div class="ls-box">Box 2</div>
<div class="ls-box">Box 3</div>
<div class="ls-box">Box 4</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>
