---
title: Página Inicial
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-cyanogen
panel: painel4
title_product: Criador de Sites 2.0
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<div class="ls-box ls-lg-space ls-ico-code ls-ico-bg">
  <h1 class="ls-title-1 ls-color-theme">Criar meu site</h1>
  <p>Edite a aparência, as páginas e todo o conteúdo do seu site.</p>
  <a class="ls-btn-primary" href="#">Comece agora</a>
</div>

<h2 class="ls-title-3">Criamos um endereço para você começar</h2>
<div class="ls-box">
  <p>saasdev33.lvh.me</p>
  <hr>
  <p>Você quer usar um endereço personalizado? <strong>É grátis por 1 ano.</strong></p>
  <p>
    <a href="#1" class="ls-btn-primary">Sim, eu quero</a>
    <a href="#2" class="ls-btn">Não, gostei desse</a>
  </p>
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3 ls-ico-dashboard">Dados da conta</h2>
  </header>

  <div id="sending-stats" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Endereço do site</h6>
        <span class="ls-board-data">
          <p>saasdev3.lvh.me</p>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Status do site</h6>
        <span class="ls-board-data">
          <p>Não publicado</p>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Nome do Plano</h6>
        <span class="ls-board-data">
          <p>Criador de Sites 2.0 Start</p>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4 color-default">Quantidade de sites</h6>
        <span class="ls-board-data">
          <strong class="ls-color-theme">1</strong>
        </span>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>
