---
title: Plugins
layout: panel
theme_name: ls-theme-cyanogen
panel: painel4
title_product: Criador de Sites 2.0
---
<h1 class="ls-title-intro ls-ico-attachment">Plugins</h1>
<p>Complemente seu site com plugins e tenha funcionalidades exclusivas.</p>

<div class="ls-box">
  <div class="row ls-overflow-hidden">
    <div class="col-md-9">
      <h2 class="ls-title-3">Multi-idiomas</h2>
      <p>Seu site em diferentes idiomas para receber acessos de todos os lugares do mundo.</p>
    </div>
    <div class="col-md-3 ls-txt-right">
      <h3 class="ls-title-3">R$ 9,90/mês</h3>
    </div>
  </div>
  <div class="row ls-txt-justify">
    <div class="col-md-12">
      <p>Depois de contratar o plugin e ativá-lo para usar neste site, você poderá criar versões ilimitadas de seu site em outros idiomas. O endereço de cada versão será configurado automaticamente, de acordo com a sigla do idioma. Por exemplo, sites em inglês dos Estados Unidos ganham a terminação .com.br/en-US.</p>
    </div>
  </div>
  <hr>
  <a href="#" class="ls-btn-primary">Contratar plugin</a>
</div>

<hr>

<div class="ls-box">
  <div class="row ls-overflow-hidden">
    <div class="col-md-12">
      <h2 class="ls-title-3">Multi-idiomas</h2>
      <p>Seu site em diferentes idiomas para receber acessos de todos os lugares do mundo.</p>
    </div>
  </div>
  <div class="row ls-txt-justify">
    <div class="col-md-12">
      <p>Depois de contratar o plugin e ativá-lo para usar neste site, você poderá criar versões ilimitadas de seu site em outros idiomas. O endereço de cada versão será configurado automaticamente, de acordo com a sigla do idioma. Por exemplo, sites em inglês dos Estados Unidos ganham a terminação .com.br/en-US.</p>
    </div>
  </div>
  <hr>
  <a href="#" class="ls-btn-primary">Ativar</a>
</div>

<hr>

<div class="ls-box">
  <div class="row ls-overflow-hidden">
    <div class="col-md-12">
      <h2 class="ls-title-3">Multi-idiomas</h2>
      <p>Seu site em diferentes idiomas para receber acessos de todos os lugares do mundo.</p>
    </div>
  </div>
  <div class="row ls-txt-justify">
    <div class="col-md-12">
      <p>Depois de contratar o plugin e ativá-lo para usar neste site, você poderá criar versões ilimitadas de seu site em outros idiomas. O endereço de cada versão será configurado automaticamente, de acordo com a sigla do idioma. Por exemplo, sites em inglês dos Estados Unidos ganham a terminação .com.br/en-US.</p>
    </div>
  </div>
  <hr>
  <a href="#" class="ls-btn">Desativar</a>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>
