---
title: Barra de Progresso
description: Exibe o status de um processo
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>data-ls-module="progressBar"</td>
        <td>Parâmetro utilizado para criar a barra de progresso.</td>
      </tr>
      <tr>
        <td>aria-valuenow</td>
        <td>Parâmetro utilizado para colocar a porcentagem atual da barra.</td>
      </tr>
      <tr>
        <td>.ls-right-percentage</td>
        <td>Alinha o percentual da barra de progresso ao lado direito.</td>
      </tr>
      <tr>
        <td>.ls-left-percentage</td>
        <td>Alinha o percentual da barra de progresso ao lado esquerdo.</td>
      </tr>
    </tbody>
  </table>
  <h2 class="doc-title-3">Barra de progresso padrão</h2>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/progress-bar/progress' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/progress-bar/progress' %><% end %>

  <h2 class="doc-title-3">Alinhando o percentual a direita.</h2>
  <div class="ls-box-demo">
    <div data-ls-module="progressBar" role="progressbar" aria-valuenow="100" class="ls-right-percentage"></div>
  </div>
  <% code("html") do %><div data-ls-module="progressBar" role="progressbar" aria-valuenow="100" class="ls-right-percentage"></div><% end %>

  <h2 class="doc-title-3">Alinhando o percentual a esquerda.</h2>
  <div class="ls-box-demo">
    <div data-ls-module="progressBar" role="progressbar" aria-valuenow="100" class="ls-left-percentage"></div>
  </div>
  <% code("html") do %><div data-ls-module="progressBar" role="progressbar" aria-valuenow="100" class="ls-left-percentage"></div><% end %>

  <h2 class="doc-title-3">Deixando a barra animada.</h2>
  <div class="ls-box-demo">
    <div data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated"></div>
  </div>
  <% code("html") do %><div data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated"></div><% end %>

</section>
