---
title: Extensão para o chrome
description: Veja a documentação sem precisar mudar de aba ou janela.
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

<%= partial 'partials/doc-intro-content' %>

  <h5 class="ls-title-2">Chrome</h5>
  <p>
    <a href="https://chrome.google.com/webstore/detail/bgagjahkkicokocplofmomgpkpmdckam" target="_blank">Instale a extensão para o Google Chrome</a>
  </p>
</section>
