---
title: Dropdown
description: Componente para agrupar listas de links.
type: component
---
<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/dropdown' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/dropdown' %><% end %>

  <p>O botão de dropdown pode ser um <code>&lt;a&gt;</code> ou um <code>&lt;button&gt;</code>. </p>
  <p>Estas são as classes funcionais usadas no dropbox.</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Seletor</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.ls-dropdown</td>
        <td>Vai no elemento pai da listagem de links, normalmente "div".</td>
      </tr>
      <tr>
        <td>data-ls-module="dropdown"</td>
        <td>Vai no elemento pai e ativará a função de dropdown na estrutura.</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Desabilitando o  droplist.</h2>
  <p>Basta inserir a classe <code>.ls-disabled</code>, no botão e assim desativa o dropdown.</p>
  <hr>

  <div class="ls-box-demo">
    <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
      <a href="#" class="ls-btn-primary ls-disabled">Users</a>
      <ul class="ls-dropdown-nav">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Config</a></li>
          <li><a href="#">Save</a></li>
      </ul>
    </div>

  </div>
  <% code("html") do %>
<div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
  <a href="#" class="ls-btn-primary ls-disabled">Users</a>
  <ul class="ls-dropdown-nav">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Config</a></li>
      <li><a href="#">Save</a></li>
  </ul>
</div>
  <% end %>

  <h2 class="doc-title-3">Mudando a posição da droplist.</h2>
  <p>Basta inserir a classe <code>.ls-pos-right</code>, que o dropdown abre à direita do elemento.</p>
  <hr>

  <div class="ls-box-demo">
    <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
      <a href="#" class="ls-btn-primary">Users</a>
      <ul class="ls-dropdown-nav">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Config</a></li>
          <li><a href="#">Save</a></li>
      </ul>
    </div>

  </div>
  <% code("html") do %>
<div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
  <a href="#" class="ls-btn-primary">Users</a>
  <ul class="ls-dropdown-nav">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Config</a></li>
      <li><a href="#">Save</a></li>
  </ul>
</div>
  <% end %>


  <h2 class="doc-title-3">Dropdown com link separado.</h2>
  <p>Utilizando a classe <code>.ls-divider</code> pra separar links dentro do droplist.</p>
  <div class="ls-box-demo">
    <div data-ls-module="dropdown" class="ls-dropdown">
      <a href="#" class="ls-btn-primary">Users</a>
      <ul class="ls-dropdown-nav">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Config</a></li>
        <li><a href="#">Save</a></li>
        <li><a href="#" class="ls-color-danger ls-divider">Remove</a></li>
      </ul>
    </div>
  </div>

  <% code("html") do %>
<div data-ls-module="dropdown" class="ls-dropdown">
  <a href="#" class="ls-btn-primary">Users</a>
  <ul class="ls-dropdown-nav">
    <li><a href="#">Edit</a></li>
    <li><a href="#">Config</a></li>
    <li><a href="#">Save</a></li>
    <li><a href="#" class="ls-color-danger ls-divider">Remove</a></li>
  </ul>
</div>
  <% end %>

  <h2 class="doc-title-3">Dropdown com outros tamanhos.</h2>
  <p>Para alterar o tamanho dos botões, basta incluir as classes abaixo:</p>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ls-btn-lg</td>
        <td>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-primary ls-btn-lg">Users</a>
            <ul class="ls-dropdown-nav">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Config</a></li>
              <li><a href="#">Save</a></li>
              <li><a href="#" class="ls-color-danger ls-divider">Remove</a></li>
            </ul>
          </div>

          <div data-ls-module="dropdown" class="ls-dropdown">
            <button  class="ls-btn-lg ls-btn"></button>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-lg ls-btn-primary"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-lg ls-btn-dark"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-lg ls-btn-danger"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>ls-btn (<i>tamanho default</i>)</td>
        <td>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-primary">Users</a>
            <ul class="ls-dropdown-nav">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Config</a></li>
              <li><a href="#">Save</a></li>
              <li><a href="#" class="ls-color-danger ls-divider">Remove</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <button  class="ls-btn"></button>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-primary"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-dark"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-danger"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>ls-btn-sm</td>
        <td>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-primary ls-btn-sm">Users</a>
            <ul class="ls-dropdown-nav">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Config</a></li>
              <li><a href="#">Save</a></li>
              <li><a href="#" class="ls-color-danger ls-divider">Remove</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <button  class="ls-btn-sm ls-btn"></button>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-sm ls-btn-primary"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-sm ls-btn-dark"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-sm ls-btn-danger"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>ls-btn-xs</td>
        <td>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-primary ls-btn-xs">Users</a>
            <ul class="ls-dropdown-nav">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Config</a></li>
              <li><a href="#">Save</a></li>
              <li><a href="#" class="ls-color-danger ls-divider">Remove</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <button  class="ls-btn-xs ls-btn"></button>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-xs ls-btn-primary"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-xs ls-btn-dark"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>
          <div data-ls-module="dropdown" class="ls-dropdown">
            <a href="#" class="ls-btn-xs ls-btn-danger"></a>
            <ul class="ls-dropdown-nav">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Config</a></li>
                <li><a href="#">Save</a></li>
            </ul>
          </div>

        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Dropdown sem texto.</h2>
  <p>Basta deixar o link sem texto, conforme o exemplo abaixo.</p>

  <div class="ls-box-demo">
    <div data-ls-module="dropdown" class="ls-dropdown">
      <button  class="ls-btn"></button>
      <ul class="ls-dropdown-nav">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Config</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </div>
    <div data-ls-module="dropdown" class="ls-dropdown">
      <a href="#" class="ls-btn-primary"></a>
      <ul class="ls-dropdown-nav">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Config</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </div>
    <div data-ls-module="dropdown" class="ls-dropdown">
      <a href="#" class="ls-btn-dark"></a>
      <ul class="ls-dropdown-nav">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Config</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </div>
    <div data-ls-module="dropdown" class="ls-dropdown">
      <a href="#" class="ls-btn-danger"></a>
      <ul class="ls-dropdown-nav">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Config</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </div>
  </div>

  <% code("html") do %>
<div data-ls-module="dropdown" class="ls-dropdown">
  <button  class="ls-btn"></button>
  <ul class="ls-dropdown-nav">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Config</a></li>
      <li><a href="#">Save</a></li>
  </ul>
</div>
<div data-ls-module="dropdown" class="ls-dropdown">
  <a href="#" class="ls-btn-primary"></a>
  <ul class="ls-dropdown-nav">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Config</a></li>
      <li><a href="#">Save</a></li>
  </ul>
</div>
<div data-ls-module="dropdown" class="ls-dropdown">
  <a href="#" class="ls-btn-dark"></a>
  <ul class="ls-dropdown-nav">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Config</a></li>
      <li><a href="#">Save</a></li>
  </ul>
</div>
<div data-ls-module="dropdown" class="ls-dropdown">
  <a href="#" class="ls-btn-danger"></a>
  <ul class="ls-dropdown-nav">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Config</a></li>
      <li><a href="#">Save</a></li>
  </ul>
</div>
  <% end %>

<div class="ls-box ls-box-gray">
    <h2 class="doc-title-4">Acessibilidade</h2>
    <p>Via javascript é adicionada as ARIAs abaixo:</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Estado do dropdown</th>
          <th>Elemento</th>
          <th>Wai-aria</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aberto/Fechado</td>
          <td>ls-dropdown-nav li a</td>
          <td>role="option"</td>
        </tr>
        <tr>
          <td>Aberto/Fechado</td>
          <td>ls-dropdown [class*="ls-btn"]</td>
          <td>role="combobox"</td>
        </tr>
        <tr>
          <td>Aberto</td>
          <td>ls-dropdown [class*="ls-btn"]</td>
          <td>aria-expanded="true"</td>
        </tr>
        <tr>
          <td>Fechado</td>
          <td>ls-dropdown [class*="ls-btn"]</td>
          <td>aria-expanded="false"</td>
        </tr>
        <tr>
          <td>Aberto</td>
          <td>ls-dropdown-nav</td>
          <td>aria-hidden="false"</td>
        </tr>
        <tr>
          <td>Fechado</td>
          <td>ls-dropdown-nav</td>
          <td>aria-hidden="true"</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="doc-title-3">Eventos</h2>
  <p>Você pode escutar eventos de abre e fecha nos elementos de dropdown, veja a referência abaixo.</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th width="200">Evento</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>dropdown:opened</th>
        <td><p>Quando um dropdown abre, o evento <code>dropdown:opened</code> é disparado no elemento do módulo. Veja exemplo abaixo.</p></td>
      </tr>
      <tr>
        <th>dropdown:closed</th>
        <td><p>Quando um dropdown fecha, o evento <code>dropdown:closed</code> é disparado no elemento do módulo. Veja exemplo abaixo.</p></td>
      </tr>
    </tbody>
  </table>
  <p>Exemplo: </p>
  <% code("javascript") do %>
// Um dropdown específico
$("#id-do-dropdown").on('dropdown:opened', function(){
  // do something
})

// Todos os elementos de dropdown
$(".ls-dropdown").on('dropdown:closed', function(){
  // do something
})
  <%end%>

</section>
