---
title: Listas
description: Descrição e listagem de informações
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>As listas são usadas para exibir de forma organizada pequenas informações como status, descrições, nomes e ações. Geralmente essas informações não se encaixariam em listagens simples, por isso criamos um elemento que consegue agrupar todas essas informações.</p>


  <h2 class="doc-title-3">Lista somente com header</h2>
  <p>Listagem com elementos simples:</p>
  <div class="ls-box-demo">
    <div class="ls-list">
      <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
          <a href="#" >Identificador da conta</a>
          <small>Fake Product Name I </small>
        </div>
        <div class="col-md-3 ls-txt-right">
          <a href="#" class="ls-btn-primary">Administrar</a>
        </div>
      </header>
    </div>
    <div class="ls-list">
      <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
          <a href="#" >Identificador da conta</a>
          <small>Fake Product Name I </small>
        </div>
        <div class="col-md-3 ls-txt-right">
          <a href="#" class="ls-btn-primary">Administrar</a>
        </div>
      </header>
    </div>
  </div>
  <% code("html") do %>
<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" >Identificador da conta</a>
      <small>Fake Product Name I </small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a href="#" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
</div>
  <% end %>

  <h2 class="doc-title-3">Lista com header + imagem e grids de informações</h2>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/lists' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/lists' %><% end %>
</section>
