---
title: Modal
description: Modal é um componente para exibir uma informação ou ...
keywords: documentação, locastyle, modal
type: component
---
<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Padrão</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>target</td>
        <td>#myTarget</td>
        <td>--</td>
        <td>Abre a modal com o mesmo nome do target</td>
      </tr>
      <tr>
        <td>content</td>
        <td>um texto curto</td>
        <td>--</td>
        <td>
          Abre a modal com o texto inserido
          <p>Só funciona se não houver <strong>data-target</strong></p>
        </td>
      </tr>
      <tr>
        <td>title</td>
        <td>um titulo curto</td>
        <td>--</td>
        <td>
          Abre a modal com o titulo inserido
          <p>Só funciona se não houver <strong>data-target</strong></p>
        </td>
      </tr>
      <tr>
        <td>save</td>
        <td>texto</td>
        <td>--</td>
        <td>
          Coloca um texto no botão de salvar
          <p>Só funciona se não houver <strong>data-target</strong></p>
        </td>
      </tr>
      <tr>
        <td>close</td>
        <td>texto</td>
        <td>--</td>
        <td>
          Coloca um texto no botão de fechar
          <p>Só funciona se não houver <strong>data-target</strong></p>
        </td>
      </tr>
      <tr>
        <td>action</td>
        <td>link</td>
        <td>--</td>
        <td>
          Coloca um link no botão de salvar
          <p>Só funciona se não houver <strong>data-target</strong></p>
        </td>
      </tr>
      <tr>
        <td>class</td>
        <td>texto</td>
        <td>--</td>
        <td>
          Coloca uma classe no botão de salvar
          <p>Só funciona se não houver <strong>data-target</strong></p>
        </td>
      </tr>
      <tr>
        <td>data-custom-attrs</td>
        <td>texto</td>
        <td>--</td>
        <td>
          Adiciona qualquer novo atributo no botão(type='button')
          <p>Só funciona se não houver <strong>data-target</strong></p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 class="doc-title-3">Abrindo a modal via URL</h3>
    <p>Para abrir a modal automaticamente assim que a página for carregada, basta passar na URL o nome da modal. Tente aqui mesmo, no final da URL desta página, adicione <code>#myAwesomeModal</code> e aperte ENTER.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/modal' %>
  </div>
  <% code("html") do %>
<button data-ls-module="modal" data-target="#myAwesomeModal" class="ls-btn-primary">Ative a modal</button>

<div class="ls-modal fade" id="myAwesomeModal">
  <div class="ls-modal-box">
    <div class="ls-modal-header">
      <button data-dismiss="modal">&times;</button>
      <h4 class="ls-modal-title">Modal title</h4>
    </div>
    <div class="ls-modal-body">
      <p>
        <a href="#" class="ls-btn-primary" data-ls-module="popover" data-title="Popover na modal" data-content="É um popover na modal" data-placement="top">
          Popover
        </a>
      </p>
      <p><%= lorem.sentences 15 %></p>
    </div>
    <div class="ls-modal-footer">
      <a class="ls-btn float-right ls-float-right" data-dismiss="modal">Close</a>
      <a class="ls-btn-primary">Save changes</a>
    </div>
  </div>
</div><!-- /.modal -->
  <% end %>

  <p>Você pode chamar nossa modal padrão. Nesse caso, o próprio elemento que aciona a modal, irá montar o código automaticamente a partir do nosso template.</p>

  <div class="ls-box-demo">
    <button data-ls-module="modal" data-action="http://locaweb.com.br/" data-content="<h2>Título feito dentro do data-content</h2><p>Conteúdo feito dentro do data-content</p>" data-title="Este título é o atributo data-title" data-class="ls-btn-danger" data-save="Salvar" data-close="Fechar" class="ls-btn-primary"> Ative a modal</button>
  </div>
  <% code("html") do %>
<button data-ls-module="modal" data-action="http://locaweb.com.br/" data-content="<h2>Título feito dentro do data-content</h2><p>Conteúdo feito dentro do data-content</p>" data-title="Este título é o atributo data-title" data-class="ls-btn-danger" data-save="Salvar" data-close="Fechar" class="ls-btn-primary"> Modal sem target </button>
  <% end %>
</section>
