---
title: Popover
description: Balões de informação.
type: component
---
<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <h2 class="doc-title-3">Componente</h2>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/popover' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/popover' %><% end %>

  <div class="ls-alert-info">
    <h4 class="doc-title-5">No mobile, vira modal</h4>
    <p>Quando resolução abaixo de 769px o popover muda seu comportamento e é exibido como uma modal, evitando problemas de usabilidade!</p>
  </div>

  <h2 class="doc-title-3">Como usar</h2>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Padrão</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>data-trigger</td>
        <td>click / hover</td>
        <td>click</td>
        <td>cria o popover baseado na posição do elemento</td>
      </tr>
      <tr>
        <td>data-placement</td>
        <td>top / bottom / left / right</td>
        <td>top</td>
        <td>posiciona o popover</td>
      </tr>
      <tr>
        <td>data-title</td>
        <td>text</td>
        <td>--</td>
        <td>insere o título no popover</td>
      </tr>
      <tr>
        <td>data-container</td>
        <td>classe ou id</td>
        <td>body</td>
        <td>posiciona o popover de acordo com elemento clicado</td>
      </tr>
      <tr>
        <td>data-content</td>
        <td>texto e/ou tags HTML</td>
        <td>--</td>
        <td>insere o conteúdo no popover</td>
      </tr>
      <tr>
        <td>data-custom-classes</td>
        <td>classe</td>
        <td>--</td>
        <td>permite inserir qualquer classe para customização do popover</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Exemplo utilizando os parâmetros default do popover</h2>
  <div class="ls-box-demo">
    <a href="#" class="ls-btn-primary" data-ls-module="popover" title="Titulo" data-content="Conteúdo do popover">Popover</a>
  </div>
  <% code("html") do %><a href="#" class="ls-btn-primary" data-ls-module="popover" title="Titulo" data-content="Conteúdo do popover">Popover</a><% end %>


  <h2 class="doc-title-3">Popover aberto ao carregar a página</h2>
  <p>Basta adicionar o atributo <code>data-ls-popover="open"</code>. </p>
  <div class="ls-box-demo">
    <a href="#" class="ls-ico-help" data-ls-popover="open" data-placement="right" data-ls-module="popover" title="Titulo" data-content="Exemplo de popover Aberto, <br> ao carregar a página"></a>
  </div>
  <% code("html") do %>
    <a href="#" class="ls-ico-help" data-ls-popover="open" data-placement="right" data-ls-module="popover" title="Titulo" data-content="Exemplo de popover Aberto, <br> ao carregar a página."></a>
  <% end %>


  <h2 class="doc-title-3">Exemplo classe funcional .ls-word-dotted</h2>
  <div class="ls-box-demo">
    <a href="#" class="ls-word-dotted" data-ls-module="popover" title="Titulo" data-content="Conteúdo do popover">Popover</a>
  </div>
  <% code("html") do %><a href="#" class="ls-word-dotted" data-ls-module="popover" title="Titulo" data-content="Conteúdo do popover">Popover</a><% end %>


  <h2 class="doc-title-3">Eventos</h2>
  <p>Você pode escutar eventos de abre e fecha nos elementos de popover, isto é bom porque estes elementos são criados pelo próprio módulo e normalmente não sabemos identificá-los, com os eventos basta procurar pelo elemento onde foi disparado o evento e pronto.</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th width="200">Evento</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>popover:opened</th>
        <td><p>Quando um popover abre, o evento <code>popover:opened</code> é disparado no elemento do popover, aquele que recebe a classe <code>ls-popover</code>. Veja exemplo abaixo.</p></td>
      </tr>
      <tr>
        <th>popover:closed</th>
        <td><p>Quando um popover fecha, o evento <code>popover:closed</code> é disparado no elemento do popover, aquele que recebe a classe <code>ls-popover</code>. Veja exemplo abaixo.</p></td>
      </tr>
    </tbody>
  </table>
  <p>Exemplo: </p>
<% code("javascript") do %>
// Um popover específico, caso você saiba o ID
// (os IDs dos popovers são atribuidos pelo próprio módulo)
$("#id-do-popover").on('popover:opened', function(){
  // do something
})

// Todos os elementos de popover
$(".ls-popover").on('popover:closed', function(){
  // do something
})
<%end%>

</section>
