---
title: Carrinho de compras
description: Módulos de carrinhos de compras.
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <h2 class="doc-title-3">Resumo do carrinho</h2>

  <div class="ls-box-demo">
    <div class="col-md-6">
      <%= partial 'documentacao/shared/shop-cart/cart' %>
    </div>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/shop-cart/cart' %><% end %>

</section>
