---
title: Tooltip
description: Para exibir balões de informação.
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>O tooltip exibe conteúdo curto, caso necessite de um conteúdo longo, por favor utilize nosso <a href="../popover/">popover</a>.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/tooltip' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/tooltip' %><% end %>

  <table class="ls-table ls-no-hover">
    <thead>
      <tr>
        <th>Classe</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ls-tooltip-top</td>
        <td>Exibe acima do elemento.</td>
      </tr>
      <tr>
        <td>ls-tooltip-right</td>
        <td>Exibe ao lado direito do elemento.</td>
      </tr>
      <tr>
        <td>ls-tooltip-bottom</td>
        <td>Exibe abaixo do elemento.</td>
      </tr>
      <tr>
        <td>ls-tooltip-left</td>
        <td>Exibe ao lado esquerdo do elemento.</td>
      </tr>
    </tbody>
  </table>
  <p>Indicamos utilizar esse elemento em links, para que ele funcione ao receber o foco do teclado.</p>

  <p>O conteúdo do tooltip é inserido no atributo <code>aria-label</code>, assim ele funciona perfeitamente nos leitores de tela.</p>

</section>
