[class*="ls-alert-"]
  padding: 15px
  margin-bottom: 20px
  border-style: solid
  border-width: 1px
  border-radius: $radiusDefault
  font-size: .875rem

  p
    color: inherit

  a:not([class*="ls-btn"])
    color: inherit
    text-decoration: underline

    &:hover,
    &:focus
      text-decoration: none

  &.ls-md-space
    @extend .ls-md-space

  &.ls-sm-space
    @extend .ls-sm-space

.ls-alert-success
  background-color: rgba($colorSuccess, .2)
  border-color: rgba($colorSuccess, .3)
  color: $colorSuccess

.ls-alert-info
  background-color: rgba($colorInfo, .2)
  border-color: rgba($colorInfo, .3)
  color: $colorInfo

.ls-alert-warning
  background-color: rgba($colorWarning, .2)
  border-color: rgba($colorWarning, .3)
  color: $colorWarning

.ls-alert-danger
  background-color: rgba($colorDanger, .2)
  border-color: rgba($colorDanger, .3)
  color: $colorDanger

.ls-dismiss
  float: right
  position: relative
  top: -3px
  right: 5px
  background: none
  border: none
  cursor: pointer
  color: inherit
  font-size: 1.31rem
  opacity: .3
  line-height: 1

  &:hover
    opacity: .5
