.ls-alert-box {
  @extend .ls-box;
  border-color: $gray2;
  border-bottom-width: 3px;

  .ls-info-header {
    border-color: $gray2;
    margin-bottom: 30px;
    background: mix(white, $gray2, 20%);
    border-bottom: mix(white, $gray2, 20%);

    [class^="ls-title-"] {
      color: $gray5;
      font-weight: normal;
    }

    .ls-dismiss {
      @include translateY(50%);
      color: $gray3;
      opacity: 1;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}

$types: (
  success: $color-success,
  info: $color-info,
  warning: $color-warning,
  danger: $color-danger
);

@each $status, $status-color in $types {
  .ls-alert-box-#{$status} {
    border-color: mix(white, $status-color, 35%);

    .ls-info-header {
      border-color: mix(white, $status-color, 35%);
      background-color: mix(white, $status-color, 80%);
      color: $status-color;

      [class^="ls-title-"] {
        color: $status-color;
      }

      .ls-dismiss {
        color: $status-color;
      }
    }
  }
}
