.ls-alert-box
  background-color: #fff
  border: none
  padding: 20px 25px

  .ls-info-header
    background-color: $ls-color-blue
    color: #fff
    border-radius: 3px
    border: none
    padding: 15px 25px
    margin: 0 -25px 30px

    [class^="ls-title-"]
      font-weight: normal
      color: #fff
      margin-bottom: 0

    .ls-dismiss
      @include translateY(50%)
      color: #fff
      opacity: 1
      top: -20px
      right: -10px

      &:hover
        opacity: 0.3

    p
      margin: 0 0 10px

  &.ls-oil-blue .ls-info-header
    background-color: $ls-color-oil-blue

  &.ls-purple .ls-info-header
    background-color: $ls-color-purple

