[class*="ls-alert-"]
  padding: 15px
  margin-bottom: 20px
  border: 1px solid $ls-color-gray
  border-radius: $default-radius
  font-size: remtopx(1)
  line-height: 1.6
  background-color: #fff

  &:empty
    display: none

  p
    color: inherit
    margin-bottom: 0

  a:not([class*="ls-btn"])
    border-bottom-style: solid
    border-bottom-width: 1px
    color: inherit

    &:hover,
    &:focus
      border-bottom: 0

  &.ls-md-space
    @extend .ls-md-space

  &.ls-sm-space
    @extend .ls-sm-space

.ls-alert-success
  color: $ls-color-green

.ls-alert-info
  color: $ls-color-blue

.ls-alert-warning
  color: $ls-color-yellow

.ls-alert-danger
  color: $ls-color-red

.ls-dismiss
  float: right
  position: relative
  top: -3px
  right: 5px
  background: none
  border: none
  cursor: pointer
  color: $ls-color-dark-gray
  font-size: remtopx(1.75)
  font-weight: 300
  opacity: .5
  line-height: 1
  @extend %font-smoothing

  &:hover
    opacity: .3

//
// When the unsupported bar is visible
//
.ls-alert-blocker

  & ~ .ls-sidebar
    height: calc(100% - 90px)

  & ~ .ls-sidebar,
  & ~ .ls-sidebar.ls-area-account-active,
  & ~ .ls-notification
    top: 90px

  & ~ .ls-topbar,
  .ls-pre-panel & ~ .ls-sidebar
    top: 90px

  & ~ .ls-main .ls-title-intro
    margin-top: 90px

.ls-alert-blocker
  text-align: center

.ls-alert-fixed-top
  top: 0

.ls-alert-fixed-bottom
  bottom: 0

.ls-alert-fixed-top,
.ls-alert-fixed-bottom
  position: fixed
  z-index: 13

.ls-alert-blocker,
.ls-alert-fixed-top,
.ls-alert-fixed-bottom
  border-radius: 0
  border: none
  width: 100%
  margin-bottom: 0
  line-height: 20px

@media screen and (min-width: $screen-sm)
  .ls-alert-blocker
    & ~ .ls-sidebar
      height: 100%

    & ~ .ls-sidebar,
    & ~ .ls-sidebar.ls-area-account-active,
    & ~ .ls-notification
      top: 150px
