///
/// Dashboard info
///

.ls-board-box

  .ls-box
    @extend .ls-box-gray
    @extend .ls-txt-center
    border: none
    background-color: #f8f8f8
    margin-bottom: 10px
    padding: 15px
    border-radius: $radiusDefault

    small
      margin-bottom: 10px
      display: block
      font-size: remtopx(.75)

    strong
      display: block
      font-size: remtopx(2.5)
      margin-bottom: 10px

      small
        font-size: remtopx(.88)

  .ls-title-4
    text-transform: uppercase
    color: $gray3
    font-weight: 400
    font-size: remtopx(.88)
    margin-bottom: 8px

.ls-board-data
  display: block

  & + [class*="ls-btn"]
    margin-bottom: 15px


.ls-info-header
  @extend .ls-clearfix
  margin-bottom: 10px

  > [class*="col-md"]:first-child
    padding-left: 0

  [class*="ls-ico"]

    small
      display: block
      color: $gray3
      font-size: remtopx(.875)
      margin-top: 3px

    &:before
      float: left
      margin-right: 5px
      margin-bottom: 7px

  [class*="ls-btn"]

    ~ .ls-dropdown,
    ~ [class*="ls-btn"]
      margin-left: 0
      margin-right: 0

  .ls-actions-btn
    border-top: none
    padding: 0
    margin: 20px 0 0

//
// Do Tablet para frente
//
@media (min-width: $screen-sm)
  .ls-board-box
    margin-bottom: 0
    min-height: 170px

    .row > [class*="col-"]
      display: table
      min-height: 160px
      table-layout: fixed

      .ls-box
        display: table-cell
        vertical-align: middle

  .ls-info-header

    .ls-actions-btn
      margin: 0

    [class*="ls-btn"]

      ~ .ls-dropdown,
      ~ [class*="ls-btn"]
        margin-left: 5px
        margin-right: 5px

//
// DESKTOP
//
@media (max-width: $screen-lg)
  .ls-board-box .ls-box strong
    display: block
    font-size: remtopx(2)

