///
/// Dashboard info
///
.ls-board-info

  & > .ls-title-3
    padding-bottom: 15px

  .ls-board-box
    background-color: #f8f8f8
    text-align: center
    min-height: 170px
    margin-bottom: 10px

    .ls-title-4
      text-transform: uppercase
      color: $gray3
      font-weight: 400
      font-size: .88rem
      padding-bottom: 14px

    .ls-board-info
      display: block
      padding: 0 0 14px
      font-size: 2.5rem

      small
        display: block
        font-size: .88rem

  .ls-info-header
    display: table
    margin-bottom: 5px
    width: 100%


    [class*="ls-ico"]

      small
        display: block
        color: $gray3
        font-size: .875rem
        margin-top: 3px

      &:before
        float: left
        margin-right: 5px
        font-size: 2.6rem

    [class*="ls-btn"]
      margin-bottom: 10px
      text-align: center
      width: 100%

      ~ .ls-dropdown,
      ~ [class*="ls-btn"]
        margin-left: 0


@media (min-width: $screen-sm)
  .ls-board-info
    font-size: 1.5rem

    .ls-board-box
      margin-bottom: 0

    .ls-info-header

      [class*="ls-btn"]
        margin-bottom: 0
        text-align: left
        width: auto

        ~ .ls-dropdown,
        ~ [class*="ls-btn"]
          margin-left: 5px
