.ls-box
  padding: 15px
  margin-bottom: 30px
  background-color: #fff
  border-radius: 2px
  border: 1px solid rgba(0, 0, 0, .07)

  &:last-child
    margin-bottom: 0

  p
    margin: 5px 0 10px

  .ls-box-group &
    margin-bottom: 10px

  &:after
    @extend .ls-clearfix

  &.ls-box-gray
    background-color: rgba($gray1, .2)

  &.ls-md-space
    @extend .ls-md-space

  &.ls-sm-space
    @extend .ls-sm-space

  .ls-small-info
    font-size: .75rem
    color: $gray3
    margin: 0
    padding: 0

  &[class*="ls-ico-"]
    overflow: hidden
    position: relative

    &:before
      float: left
      vertical-align: top
      font-size: 6rem
      margin: 0 20px

[class*="ls-title"] + .ls-box
  margin-top: 10px
  clear: both

.ls-box-filter
  @extend .ls-box
  @extend .ls-box-gray
  border-radius: 5px
  margin: 20px 0

.ls-box-disclaimer
  @extend .ls-txt-center
  padding: 30px

  [class*="ls-title"]
    padding: 0 0 20px

  p
    padding: 0 0 20px
    font-size: 1rem

.ls-ico-bg:before
  @extend .ls-color-theme
  opacity: .1
  position: absolute
  top: -25%
  right: 30px
  font-size: 17rem !important

@media (max-width: $screen-sm)
  .ls-ico-bg:before
    display: none

  .ls-small-info + [class*="ls-title-"]
    padding-top: 10px
