.ls-box
  padding: 15px
  margin-bottom: 30px
  background-color: #fff
  border-radius: $default-radius
  border: 1px solid $gray2

  &:last-child
    margin-bottom: 0

  p
    margin: 5px 0 10px

  .ls-box-group &
    margin-bottom: 10px

  &:after
    @extend .ls-clearfix

  &.ls-box-gray
    background-color: $gray0

  &.ls-md-space
    @extend .ls-md-space

  &.ls-sm-space
    @extend .ls-sm-space

  .ls-small-info
    font-size: remtopx(.75)
    color: $gray4
    margin: 0
    padding: 0

  &[class*="ls-ico-"]
    overflow: hidden
    position: relative

    &:before
      @extend .ls-float-left
      vertical-align: top
      font-size: remtopx(6)
      margin: 0 20px

[class^="ls-title"] + .ls-box
  margin-top: 10px
  clear: both

.ls-box-filter
  @extend .ls-box
  @extend .ls-box-gray
  border-radius: $default-radius
  margin: 20px 0

.ls-box-disclaimer
  @extend .ls-txt-center
  padding: 30px

  [class*="ls-title"]
    padding: 0 0 20px

  p
    padding: 0 0 20px
    font-size: remtopx(1)

.ls-ico-bg:before
  @extend .ls-color-theme
  opacity: .1
  position: absolute
  top: -25%
  right: 30px
  font-size: remtopx(17) !important

.ls-box-error
  border: none
  margin: 20px 0 0 15px

  .ls-title-intro
    border-bottom: none

  ol
    margin: 0 21px 30px

    li
      padding-bottom: 5px

.ls-info-header
  +border-radius(4px 4px 0 0)
  background: #fff
  padding: 15px 15px 10px
  margin-bottom: 20px
  width: calc(32px + 100%)
  margin-left: -16px
  margin-top: -16px
  border: 1px solid $gray1

  [class*="ls-ico-"]:before
    font-size: remtopx(1.75)

  [class*="ls-title"]
    font-weight: normal
    display: block

@media screen and (max-width: $screen-sm)

  .ls-ico-bg:before
    display: none

  .ls-small-info + [class^="ls-title-"]
    padding-top: 10px


@media screen and (min-width: $screen-md)

  .ls-info-header
    [class^="ls-title-"]
      display: inline-block

    .ls-btn
      float: right


@media screen and (min-width: $screen-lg)
  .ls-box-filter .ls-label
    margin-bottom: 0

