// Style base button
[class*="ls-btn"]
  +single-transition(all, .2s)
  cursor: pointer
  border: 1px solid mix($color-mix, #fff, 30%)
  padding: 6px 11px 7px
  border-radius: $default-radius
  background-color: #fff
  display: inline-block
  font-size: remtopx(.8125)
  line-height: 1.42857143
  text-decoration: none
  text-align: center
  white-space: normal
  color: #000
  vertical-align: top
  font-weight: normal
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

  &[class*="ls-ico-"]:empty:before
    margin: 0

  p + &
    margin-top: 7px

  // Disabled Buttons
  &.ls-disabled,
  &[disabled]
    cursor: default

  &:empty:after
    @extend .ls-no-margin-left

  + .ls-dropdown,
  + [class*="ls-btn"]
    margin-left: 5px

  &.ls-btn-block
    @extend .ls-no-margin-left
    @extend .ls-no-margin-right
    @extend .ls-no-padding-right
    @extend .ls-no-padding-left
    display: block
    width: 100%

    &:first-child
      @extend .ls-no-margin-top

    & + .ls-btn-block
      margin-top: 15px

// Primary button
.ls-btn-primary
  color: #fff

// Dark
.ls-btn-dark
  background-color: $gray3
  border-color: $gray4
  color: $gray1

  &:hover,
  &:focus
    background-color: $gray4

  &[data-ls-module]:after
    border-top-color: $gray1

//
// Sizes of BTN
//
.ls-btn-lg
  font-size: remtopx(1)
  padding: 11px

.ls-btn-sm
  font-size: remtopx(.75)
  padding: 5px 11px

.ls-btn-xs
  font-size: remtopx(.75)
  padding: 2px 11px

.ls-btn-sm,
.ls-btn-xs
  line-height: 1.5

// BTN Groups
.ls-group-btn
  @extend .ls-clearfix
  position: relative
  z-index: 3

  &.ls-float-none-xs
    margin-bottom: 10px

  [class*="ls-btn"]
    @extend .ls-float-left

    &:first-child:not(:last-child)
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    &:not(:first-child):not(:last-child)
      @extend .ls-no-radius

    &:last-child:not(:first-child),
      border-bottom-left-radius: 0
      border-top-left-radius: 0

    & +[class*="ls-btn"],
      margin-left: -1px

    &:hover,
    &:focus
      +single-transition(none)
      outline: none

//
// Container that wraps the buttons in forms
//
.ls-actions-btn
  padding: 15px 0
  margin: 30px 0
  border-top: 4px solid $gray1
  white-space: nowrap

  // when in inline forms
  .ls-form-inline &
    @extend .ls-no-padding
    margin: 0
    border: none
    display: inline-block

  // when in horizontal forms
  .ls-form-horizontal &
    @extend .ls-clearfix
    @extend .ls-no-padding
    @extend .ls-no-margin
    padding-top: 21px
    border: none

    [class*="ls-btn"]:not(.ls-btn-block)
      @extend .ls-no-margin-top
