.ls-collapse-group
  border: 1px solid red
  padding: 10px

.ls-collapse
  border-bottom: 0px

  & + .ls-collapse
    .ls-collapse-title
      border-top: none

  .ls-collapse-title
    +transition (all .1s linear)
    border: 1px solid #ccc
    padding: 10px
    cursor: pointer
    position: relative
    display: block
    &:hover
      background-color: #ccc
      color: #fff
    &:after
      +rotate(0deg)
      +transition (all .3s linear)
      color: #fff
      background-color: #aaa
      border-radius: 100%
      content: "V"
      position: absolute
      display: block
      top: calc( (100% - 30px)/2)
      right: 0
      height: 30px
      width: 30px
      line-height: 30px
      text-align: center

  .ls-collapse-body
    +transition (all .3s linear)
    display: none
    overflow: hidden
    border: 0px solid transparent

  &.ls-collapse-open, &.ls-collapse-always-open

    .ls-collapse-title
      background-color: #aaa
      border-color: #aaa
      color: #fff
      &:after
        color: #aaa
        +rotate(180deg)
        background-color: #fff

    .ls-collapse-body
      // padding: 10px
      display: block
      overflow: visible
      border: 1px solid #aaa
