[class*="ls-custom-"]
  position: relative
  display: inline-block

  select, input[type="radio"], input[type="checkbox"]
    opacity: 0

  select
    left: 0

    &:focus ~ .ls-field-custom-select-one
      box-shadow: 0 0 2px 3px rgba(131,173,211,1)

    &:focus ~ .ls-field-custom-select-one,
    &:hover ~ .ls-field-custom-select-one
      background-color: #dfdfde

  .ls-field-custom-checkbox,
  .ls-field-custom-radio
    width: 30px
    height: 30px
    outline: 1px solid red
    display: inline-block
    margin: 1px

// input:checked ~ [class*="ls-field-custom"]

.ls-custom-select-one
  position: relative
  width: 100%
  height: 100%

  .ls-field-custom-select-one
    position: absolute
    top: 0
    left: 0
    height: $inputHeight
    width: 100%
    display: inline-block
    padding: 0 11px 0 15px
    border: 1px solid $gray2
    border-radius: $radiusDefault
    background-color: #fff
    color: $gray4
    line-height: $inputHeight
    overflow: hidden
    font-size: remtopx(.875)

    &:before
      +arrow-down($gray4, 5px)
      position: absolute
      top: 50%
      margin-top: -2px
      right: 15px
      z-index: 0

.ls-field-lg[data-ls-module="customFields"],
.ls-field-lg .ls-field-custom-select-one
  height: $lgInputHeight

.ls-field-lg .ls-field-custom-select-one
  line-height: $lgInputHeight
  font-size: remtopx(1)

.ls-field-md[data-ls-module="customFields"],
.ls-field-md .ls-field-custom-select-one
  height: $inputHeight

.ls-field-md .ls-field-custom-select-one
  line-height: $inputHeight
  font-size: remtopx(.8125)

.ls-field-sm[data-ls-module="customFields"],
.ls-field-sm .ls-field-custom-select-one
  height: $smInputHeight

.ls-field-sm .ls-field-custom-select-one
  line-height: $smInputHeight
  font-size: remtopx(.75)

.ls-field-xs[data-ls-module="customFields"],
.ls-field-xs .ls-field-custom-select-one
  height: $xsInputHeight

.ls-field-xs .ls-field-custom-select-one
  line-height: $xsInputHeight
  font-size: remtopx(.75)

[data-ls-module="customFields"]
  height: $inputHeight

  select
    +appearance(none)
    display: block
    height: 100%
    width: 100%
    line-height: $inputHeight
    border: none
    position: relative
    z-index: 1

