.ls-custom-select
  width: 240px
  height: 34px
  overflow: hidden
  background: #FFF
  border: 1px solid #509742

  select
    width: 268px
    padding: 5px
    font-size: 16px
    line-height: 1
    border: 0
    border-radius: 0
    height: 34px
    -webkit-appearance: none
