[class*="ls-field-container-"]
  +filter-gradient(#c9de96, #398235, vertical)
  +background-image(linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%))
  position: relative
  color: white
  padding: 5px
  margin-bottom: 10px
  height: 30px

  select, input[type='radio'], input[type='checkbox']
    opacity: 0

  select, input
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  input[type='checkbox']
    width: 30px
    height: 30px

  .ls-field-custom-checkbox
    position: relative
    &.checked
      &:before
        content: " √ "
        width: 30px
        height: 30px

