.ls-dropdown
  position: relative
  display: inline-block
  z-index: 2

  .ls-dropdown-nav
    list-style: none
    display: none
    background: #fff
    position: absolute
    top: 100%
    z-index: 2
    margin-top: 2px
    border-radius: 4px
    overflow: hidden
    font-size: .875rem
    border: 1px solid $gray2
    min-width: 160px

    a
      padding: 10px 15px
      display: block
      color: $gray4
      text-align: left

      &:hover,
      &:focus
        background: $gray1

      &.ls-color-danger
        border-top: 1px solid $gray2
        padding-top: 10px

        &:hover,
        &:focus
          color: #fff !important

  [class*="ls-btn"][data-ls-module="tabs"]
    border-bottom: none
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0

    &:hover,
    &:focus
      background-color: #fff


  &.ls-active .ls-dropdown-nav
    display: block

  [class*="ls-btn"]

    &:empty:after
      margin-left: 0

    &:after
      content: ""
      +arrow-down($gray4, 5px)
      display: inline-block
      width: 0
      height: 0
      margin-left: 14px
      position: relative
      top: 2px

    &.ls-btn-lg:after,
    &.ls-btn-sm:after,
    &.ls-btn-xs:after
      +arrow-down($gray4, 5px)
      top: 4px
      margin-left: 0

    &.ls-btn-lg:after
      +arrow-down($gray4, 7px)

  [class*="ls-btn-"]:after
    +arrow-down(#fff, 5px)
    top: 3px

  &.ls-pos-right ul
    left: auto
    right: 0

// Tratando diferença na setinha dos botões dropdown
[class*="ls-btn-"]
  &[data-ls-module]:after
    border-top-color: #fff
