.footer
	display: block
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	background-color: #fff

	.footer-menu
		background-color: #131313

		nav

			.title-footer
				position: relative
				text-transform: uppercase
				text-align: center
				padding: 15px 0
				margin: 0 auto
				color: #fff
				font-weight: bolder
				font-size: .875em
				background: url(#{$image_path}arrow-down.png) no-repeat center bottom

			a
				color: #FFF
				line-height: 54px

			> ul
				margin: 0
				text-align: center
				position: relative

				> li
					display: inline-block
					padding: 0
					margin: 0 10px

					> a

						&:before
							@include border-circle (30px, 1.25em)
							background-color: #f9f9f9
							color: #131313

						&:hover,
						&:focus
							text-decoration: none

	.footer-info
		font-size: .687em
		text-align: center
		padding: 5px 0 0 0

		p
			border-top: solid 1px #d9d9d9
			margin-top: 5px
			padding-top: 5px

