.footer
	position: relative
	z-index: 0
	width: 100%
	background-color: #fff

	.footer-menu
		background-color: #131313

		nav

			.title-footer
				position: relative
				text-transform: uppercase
				text-align: center
				padding: 15px 0
				margin: 0 auto
				color: #fff
				font-weight: bolder
				font-size: .875rem
				background: url(#{$image_path}/footer/arrow-down.png) no-repeat center bottom

			a
				color: #FFF
				line-height: 54px

			> ul
				margin: 0
				text-align: center
				position: relative

				> li
					display: inline-block
					padding: 0
					margin: 0 10px

					> a
						padding: 5px 0 5px 30px
						&.bg-customer-support
							background: url(#{$image_path}/footer/customer-support.png) no-repeat left
						&.bg-my-tickets
							background: url(#{$image_path}/footer/my-tickets.png) no-repeat left
						&.bg-help-desk
							background: url(#{$image_path}/footer/help-desk.png) no-repeat left
						&.bg-statusblog
							background: url(#{$image_path}/footer/statusblog.png) no-repeat left

						&:hover,
						&:focus
							text-decoration: none

	.footer-info
		font-size: .687rem
		text-align: center
		padding: 5px 15px 0

		p
			border-top: solid 1px #d9d9d9
			margin-top: 5px
			padding-top: 5px
			font-size: .687rem

@media #{$media-desk}

	.footer
		display: block

		.footer-menu

			nav
				position: relative

				.title-footer
					float: left
					line-height: 25px
					padding: 15px 35px 15px 0
					background: url(#{$image_path}/footer/arrow-left.png) no-repeat right

				ul
					margin: 0

					li
						margin-left: 20px
						margin-right: 0
						font-size: .812rem
						width: 18%

						a
							.visible-lg
								display: inline-block!important
								opacity: 1

						&:hover,
						&:focus,
						&:active
							opacity: .8

		.footer-info
			padding-bottom: 10px

			span
				float: left
				margin-right: 10px

			.copy-right
				float: right
				border: none
				margin: 0
				padding: 0