.ls-form-text
  .ls-label-prefix, .ls-label-sufix
    background-color: lighten($gray1, 10%) !important
    color: lighten( invert($gray1) , 50%) !important
    & + input
      border-color: $gray2 !important

.ls-form
  .row
    margin-bottom: .5rem

    &:after
      @extend .ls-clearfix

  .ls-field
    display: block
    margin-bottom: $inputHeight/4

    .ls-field-prefix
      display: inline-block
      padding: 0 $inputHeight/4
      background-color: $gray1
      color: invert($gray1)
      border: 1px solid  $gray3
      height: $inputHeight
      line-height: $inputHeight
      text-align: right

    textarea
      padding: $inputHeight/4
      line-height: $inputHeight / 2
      height: auto
      resize: none
      max-width: 100%

      &.ls-textarea-resize-both
        resize: both
      &.ls-textarea-resize-horizontal
        resize: none
      &.ls-textarea-resize-vertical
        resize: vertical

    // &:not(.ls-label-prefix) + ,
    &.ls-field-prefix + input,
    &.ls-field-prefix + select,
    &.ls-field-prefix + textarea
    &.ls-field-inline input,
    &.ls-field-inline select,
    &.ls-field-inline textarea
      width: auto

    input, select, textarea
      display: inline-block
      line-height: $inputHeight / 2

    &.ls-field-inline
      .ls-label
        height: $inputHeight
        line-height: $inputHeight

  .ls-label
    display: block
    padding-bottom: 3px
    color: $gray4
    font-weight: bold
    font-size: .875rem
    line-height: $inputHeight/2 * 1.2

    & + input,
    & + select,
    & + textarea
      width: 100%

  .ls-label-prefix, .ls-label-sufix
    border: 1px solid $gray2
    background-color: $gray1
    height: $inputHeight
    line-height: $inputHeight
    text-overflow: ellipsis
    overflow: hidden

  .ls-label-prefix
    border-right: none
    +border-left-radius(4px)
    & + input
      +border-left-radius(0)
      padding: 6px $inputHeight/4 !important

  .ls-label-sufix
    border-left: none
    +border-right-radius(4px)

  &.ls-form-inline

    .ls-field
      display: inline-block
      margin-right: 5px
      margin-bottom: 0
      width: auto

      .ls-label
        display: inline-block
        margin-right: 5px

        & + input,
        & + select,
        & + textarea
          width: inherit

      .ls-txt-access
        & + input,
        & + select,
        & + textarea
          width: 100%

      [class*="ls-btn"]
        position: relative
        top: 1px





  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="text"],
  textarea
    +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))
    +transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s)
    vertical-align: middle
    height: $inputHeight
    padding: 6px $inputHeight/4
    font-size: 14px
    line-height: 1.428571429
    color: $gray4
    vertical-align: middle
    background-color: #fff
    background-image: none
    border: 1px solid $gray2
    border-radius: 4px

    &[disabled]
      border-color: $gray1

    &.ls-form-text
      +box-shadow(none)
      border-color: transparent
      background-color: transparent
      padding: 0

  @media (min-width: $screen-sm)
    .ls-field
      padding-bottom: 0

