
.ls-form-text
  .ls-label-prefix, .ls-label-sufix
    background-color: lighten($gray1, 10%)
    color: lighten( invert($gray1) , 50%)
    & + input
      border-color: $gray2 !important

.ls-form
  .row
    margin-bottom: .5rem
    .ls-field
      margin-bottom: 0

    &:after
      @extend .ls-clearfix

  .ls-field
    display: block
    margin-bottom: $inputHeight/4
    min-height: 63px

    .ls-field-prefix
      display: inline-block
      padding: 0 $inputHeight/4
      background-color: $gray1
      color: invert($gray1)
      border: 1px solid  $gray3
      height: $inputHeight
      line-height: $inputHeight
      text-align: right

    textarea
      padding: $inputHeight/4
      line-height: $inputHeight / 2
      height: auto
      resize: none
      max-width: 100%

      &.ls-textarea-resize-both
        resize: both
      &.ls-textarea-resize-horizontal
        resize: none
      &.ls-textarea-resize-vertical
        resize: vertical

    // &:not(.ls-label-prefix) + ,
    // &.ls-field-prefix + input,
    // &.ls-field-prefix + select,
    // &.ls-field-prefix + textarea
    // &.ls-field-inline input,
    // &.ls-field-inline select,
    // &.ls-field-inline textarea

    input, select, textarea
      display: inline-block
      line-height: $inputHeight / 2

    &.ls-field-inline
      .ls-label
        height: $inputHeight
        line-height: $inputHeight

        &[class*="col"]
          padding-right: 0

      &[class*="col"]
        padding-left: 0
        padding-right: 30px

        [class*="col"]
          padding-right: 0

      input[type="checkbox"],
      input[type="radio"]
        float: left

  .ls-form-text-inline
    height: $inputHeight
    line-height: $inputHeight
    text-align: center
    display: inline-block
    font-size: .875rem

  .ls-label
    display: block
    color: $gray4
    font-weight: bold
    font-size: .875rem
    line-height: $inputHeight/2 * 1.2

    & + input:not([type="radio"]):not([type="checkbox"]),
    & + select,
    & + textarea
      width: 100%

  input[type="radio"], input[type="checkbox"]
    height: $inputHeight
    display: inline-block
    vertical-align: middle
    margin: 0 .3rem 0 0

  .ls-label-prefix, .ls-label-sufix
    border: 1px solid $gray2
    background-color: $gray1
    height: $inputHeight
    line-height: $inputHeight
    text-overflow: ellipsis
    overflow: hidden

  .ls-label-prefix
    +border-left-radius(4px)
    border-right: none
    margin-left: 15px
    &+ [class*="col-"]
      padding-left: 0
      input
        +border-left-radius(0)

  [class*="col-"]! + .ls-label-sufix
    padding-right: 0

  .ls-label-sufix
    border-left: none
    +border-right-radius(4px)

  select
    +box-shadow(0px 1px 0px #ddd, 0px -1px 0px #ddd, -1px -1px 0px #ddd, 1px -1px 0px #ddd, inset 1px 1px 0 #ddd, inset -1px -1px 0 #ddd)
    border: 11px solid transparent
    background: #fff
    width: 100%

  input[type="range"]
    &.ls-input-range-vertical
      -webkit-appearance: slider-vertical
      writing-mode: bt-lr
  //   -webkit-appearance: none
  //   background: red
  //   height: 7px
  //   &::-webkit-slider-thumb
  //     -webkit-appearance: none
  //     background: blue
  //     height: 10px
  //     width: 10px

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="text"],
  textarea
    +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))
    +transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s)
    vertical-align: middle
    height: $inputHeight
    padding: 6px $inputHeight/4
    font-size: 14px
    line-height: 1.428571429
    color: $gray4
    vertical-align: middle
    background-color: #fff
    background-image: none
    border: 1px solid $gray2
    border-radius: 4px
    width: 100%

    &[disabled]
      border-color: $gray1
      background-color: #f9f9f9

    &.ls-form-text
      +box-shadow(none)
      border-color: transparent
      background-color: transparent
      padding: 0

  @media (max-width: $screen-md)
    .ls-field
      .ls-label-prefix
        +border-top-radius(4px)
        +border-bottom-radius(0)
        border: 1px solid $gray2
        border-bottom: none
        margin-left: 0
        & + [class*="col-"]
          input
            +border-top-radius(0)
            +border-bottom-radius(4px)
      .ls-label-sufix
        +border-top-radius(0)
        +border-bottom-radius(4px)
        border: 1px solid $gray2
        // border-top: none
        margin-left: 0
        & + [class*="col-"]
          input
            +border-top-radius(0)

  @media (min-width: $screen-sm)
    .ls-field
      padding-bottom: 0

  @media (min-width: $screen-md)
    .ls-field .ls-field-inline[class*="col"]
      padding: 0

