div.hopscotch-bubble
  background-clip: padding-box
  background-color: #fff
  border-radius: 6px
  border: 1px solid #cccccc
  border: 1px solid rgba(0, 0, 0, 0.2)
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  max-width: 276px
  padding: 1px
  position: absolute
  text-align: left
  white-space: normal
  &.animate
    -moz-transition-property: top, left
    -moz-transition-duration: 1s
    -moz-transition-timing-function: ease-in-out
    -ms-transition-property: top, left
    -ms-transition-duration: 1s
    -ms-transition-timing-function: ease-in-out
    -o-transition-property: top, left
    -o-transition-duration: 1s
    -o-transition-timing-function: ease-in-out
    -webkit-transition-property: top, left
    -webkit-transition-duration: 1s
    -webkit-transition-timing-function: ease-in-out
    transition-property: top, left
    transition-duration: 1s
    transition-timing-function: ease-in-out
  &.invisible
    opacity: 0
  &.hide
    display: none

  .hide, .hide-all 
    display: none
  
  .hopscotch-bubble-container
    padding: 0 !important

  .hopscotch-bubble-arrow-container
    position: absolute
    width: 22px
    height: 11px
    &.up
      top: -11px
      left: 10px
      .hopscotch-bubble-arrow
        border-bottom: 11px solid #f7f7f7
        border-left: 11px solid transparent
        border-right: 11px solid transparent
        position: relative
        top: -10px
      .hopscotch-bubble-arrow-border
        border-bottom: 11px solid #000000
        border-bottom: 11px solid rgba(0, 0, 0, 0.5)
        border-left: 11px solid transparent
        border-right: 11px solid transparent
    &.down
      bottom: -11px
      left: 10px
    &.left
      top: 10px
      left: -11px
    &.right
      top: 10px
      right: -11px
  
  .hopscotch-bubble-number
    display: none
  
  .hopscotch-title
    background-color: #f7f7f7
    border-bottom: 1px solid #ebebeb
    border-radius: 5px 5px 0 0
    font-size: 14px
    font-weight: normal
    line-height: 18px
    margin: 0
    padding: 8px 14px
  
  .hopscotch-content
    color: #555
    font-size: 0.875em
    padding: 9px 14px
    text-align: left
    white-space: normal

  .hopscotch-actions
    padding: 9px 14px
    button
      display: inline-block
      padding: 6px 12px
      margin-bottom: 0
      font-size: 14px
      font-weight: normal
      line-height: 1.428571429
      text-align: center
      vertical-align: middle
      cursor: pointer
      border: 1px solid transparent
      border-radius: 4px
      white-space: nowrap
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      -o-user-select: none
      user-select: none
      color: #ffffff
      background-color: #5bc0de
      border-color: #46b8da
      margin-right: 1em
      &#hopscotch-done
        background-color: #5cb85c
        border-color: #4cae4c
  
  .hopscotch-bubble-close
    @extend %force-icon
    @extend .ico-close
    cursor: pointer
    font-size: .7em
    height: 1.3em
    overflow: hidden
    position: absolute
    right: 4px
    text-align: center
    top: 4px
    width: 1.3em
    &:after
      display: none
    &:hover
      opacity: .7
