$defaultWidth: 90%
$largeWidth: 750px
$smallWidth: 450px
$paddingDefault: 20px

.ls-modal
  visibility: hidden
  backface-visibility: hidden
  opacity: 0
  z-index: 0
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  overflow: auto
  overflow-y: scroll
  text-align: center
  background: rgba(0, 0, 0, 0.8)

  &.ls-opened
    z-index: 16
    opacity: 1
    visibility: visible

  &.popover
    .ls-modal-footer
      display: none

.ls-modal-box
  background-color: #fff
  border-radius: $default-radius
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7)
  text-align: left
  position: relative
  display: inline-block
  width: $defaultWidth
  margin: 10% 20px 100px
  opacity: 0
  visibility:  hidden

  &.ls-modal-large
    width: $largeWidth
    margin-left: -$largeWidth / 2

  &.ls-modal-small
    width: $smallWidth
    margin-left: -$smallWidth / 2

  .ls-modal.ls-opened &
    opacity: 1
    visibility: visible


.ls-modal-header
  padding: $paddingDefault
  border-bottom: 1px solid $gray1

  [data-dismiss]
    position: absolute
    right: 10px
    top: 14px
    border: none
    text-align: center
    background: none
    color: #212121
    font-size: remtopx(1.25)
    font-weight: bold
    cursor: pointer
    opacity: .3

    &:hover
      opacity: 1

  .ls-modal-title
    font-size: remtopx(1)
    padding: 0
    margin: 0

.ls-modal-body
  padding: $paddingDefault

  p
    margin-bottom: 10px

.ls-modal-footer
  padding: $paddingDefault
  border-top: 1px solid $gray1

.ls-modal-feedbackr

  .ls-modal-box
    width: 627px
    height: 600px

    .ls-modal-header
      padding: 0
      border: none

      [data-dismiss]
        top: 0px
        right: 3px

    .ls-modal-body
      width: 100%
      height: 600px

@media screen and (min-width: $screen-sm)
  .ls-modal-box
    width: 600px
