.password-strength
  display: inline-block
  margin-left: 5px
  p
    font-size: 0.65em
    margin-bottom: 2px
  .monitor
    background: url(#{$image_path}password_strength_monitor.png) no-repeat 0 0
    width: 94px
    height: 10px
    -webkit-transition: all 0.2s linear
    -moz-transition: all 0.2s linear
    -ms-transition: all 0.2s linear
    transition: all 0.2s linear
    &.empty
      background-position: 0 0
    &.weak
      background-position: 0 -10px
    &.medium
      background-position: 0 -20px
    &.good
      background-position: 0 -30px
    &.strong
      background-position: 0 -40px
