// $color-1: #888
// $color-2: #ccc
// $color-3: #333
// $color-4: #dfdfdf
// $color-5: #222


progress.ls-progress-bar
  +appearance(none)
  width: 100%
  height: 1rem
  display: block
  border: none

  progress::-webkit-progress-bar
    background: $color-1
    padding: .1rem
    border-radius: .2rem

  progress::-webkit-progress-value
    border-radius: .2rem
    background: $color-2

  // &.ls-progress-bar-gray
  //   progress::-webkit-progress-bar
  //     background: $color-2


