.shortcuts
  @extend .ls-clearfix
  clear: both
  margin-bottom: 40px
  text-align: center
  padding-bottom: 30px

  [class*="ls-ico-"]:before
    +border-circle(130px, 4rem)
    display: block !important
    color: #fff
    margin: 15px auto

  a:hover
    opacity: .8
