.ls-sidebar
  background: #222
  width: $sidebarWidth
  position: fixed
  left: 0
  top: 0
  height: 120%
  overflow: auto

  +single-transition(all, .5s)
  +translate(-50%, 0)

  .sidebar-visible &
    +translate(0, 0)

  .ls-area-account
    background-color: #111
    border-bottom: 1px solid #292929
    padding: 20px 15px

    &[class*="ls-ico"]:before
      float: left
      font-size: 1.55em
      margin-right: 10px

    .ls-title-2
      font-size: .6875rem
      font-weight: normal
      text-transform: uppercase

    .ls-title-3
      color: #fff
      font-size: .875rem
      font-weight: normal
      margin: 3px 0 15px

    [class*="ls-btn"]
      margin-left: 35px

  .ls-menu

    li
      border-bottom: 1px solid $gray-4

    a
      +single-transition(all, .2s)
      color: $gray-3
      border-left: 5px solid transparent
      display: block
      font-size: .875rem
      text-decoration: none
      padding: 20px

      &:before
        font-size: 1.25rem
        margin-right: 20px

      &:hover,
      &:focus,
      &.ls-active
        color: #fff
        padding-left: 30px

    .ls-submenu

      ul
        height: 0
        opacity: 0

      > a:after
        content: "\e607"
        float: right
        margin-top: 5px

      &.active

        > a:after
          content: "\e60a"

        ul
          +single-transition(opacity, .3s)
          border-top: 1px solid $gray-3
          height: auto
          opacity: 1

          li:last-child
            border-bottom: none

          a
            +single-transition(none)
            font-size: 0.75rem
            padding: 15px 15px 15px 60px


@media (min-width: $screen-sm)
  .ls-sidebar
    +transform(none)
    +translate(0, 0)
    +single-transition(none)
    float: none
    top: $heightTopbar
    height: calc(100% - 60px)

