.ls-sidebar
  background: #222
  width: 300px
  float: left
  height: calc(100% - 50px)
  overflow: auto

  .ls-area-account
    background-color: #111
    border-bottom: 1px solid #292929
    padding: 20px 15px

    .ls-title-2
      color: $gray-1
      font-size: .6875rem
      font-weight: normal
      text-transform: uppercase

    .ls-title-3
      color: #fff
      font-size: .875rem
      font-weight: normal
      margin: 3px 0 15px

  .ls-menu ul
    a
      color: $gray-1
      border-left: 5px solid transparent
      display: block
      font-size: .875rem
      text-decoration: none
      padding: 20px

      &:hover,
      &:focus
        background-color: $gray-2
        border-left-color: #000
        color: #fff
    li
      border-bottom: 1px solid #292929

    ul
      display: none

