.ls-steps
  @extend .ls-clearfix
  position: relative
  margin: 0
  padding-top: 15px

  &.ls-active
    .ls-steps-nav
      max-height: 600px

    .ls-steps-mobile-btn:before
      +rotate(180deg)

.ls-steps-nav
  width: 100%
  max-height: 0
  counter-reset: steps
  list-style: none
  overflow: hidden
  position: relative
  margin: 0
  +single-transition(max-height, .3s, linear)

  li
    width: 100%
    counter-increment: steps
    position: relative
    top: 0
    left: 0

    &:after
      content: ""
      height: 100%
      border-right: 1px solid
      position: absolute
      top: 8px
      right: 29px

    &:last-child:after
      height: 65%


  .ls-active,
  .ls-actived

    .ls-steps-btn
      cursor: pointer
      pointer-events: initial

.ls-steps-btn
  width: 100%
  border: none
  cursor: none
  display: inline-block
  font-family: $default-font
  font-size: 17px
  font-weight: 500
  pointer-events: none
  position: relative
  text-align: left
  padding: 10px

  &:before
    width: 29px
    height: 29px
    box-sizing: border-box
    content: counters(steps, "") " "
    font-family: $default-font
    font-size: 15px
    font-weight: 600
    line-height: 29px
    border-radius: 50%
    display: inline-block
    vertical-align: middle
    text-align: center
    position: relative
    z-index: 2

  &:after
    width: calc(100% - 95px) // This 95px is the sum of the before item, margin left and a little differece to complete the distance from the mobile steps index.
    content: attr(aria-label)
    display: inline-block
    font-weight: 400
    overflow: hidden
    text-overflow: ellipsis
    vertical-align: middle
    white-space: nowrap
    margin-left: 10px

.ls-steps-arrow
  +single-transition(all, .25s, linear)
  border-top: 12px solid transparent
  border-bottom: 12px solid transparent
  height: 0
  width: 0
  position: absolute
  top: 50%
  margin-top: -23px
  right: 18px

  &:before
    content: ""
    display: block
    position: absolute
    background: $gray3
    border-radius: 50%
    position: absolute
    left: -17px
    top: -12px
    margin-top: 7px
    height: 10px
    width: 10px
    z-index: 2

.ls-steps-main
  border-top: 1px solid $gray2
  position: relative
  padding-top: 30px
  margin: 0

  .ls-steps-content > .ls-actions-btn
    @extend %actions-btn
    display: block
    border-top: none
    padding: 0
    margin-bottom: 46px

.ls-steps-content
  position: relative
  display: none
  z-index: -1

  &.ls-active
    display: block
    z-index: 99

  .ls-actions-btn
    overflow: hidden
    text-align: right

    [class*="ls-btn"]
      display: inline-block
      padding: 10px 0px
      width: 36px
      height: 36px
      line-height: 1

      &:before
        font-size: 16px

      &[class*="ls-ico-"]:empty
        border-radius: 0

.ls-steps-mobile
  width: 100%
  height: 35px
  cursor: pointer
  position: relative
  margin-bottom: 10px

  &:before,
  &:after
    position: absolute
    top: 9px

  &:before
    width: calc(100% - 106px)
    background: transparent
    border: none
    color: #333333
    content: attr(data-title)
    font-size: 16px
    font-weight: 700
    overflow: hidden
    text-overflow: ellipsis
    text-transform: uppercase
    white-space: nowrap
    left: 0

  &:after
    color: #777b7c
    content: attr(data-index)
    font-size: 15px
    line-height: 15px
    right: 53px

  .ls-steps-mobile-btn
    width: 38px
    height: 100%
    border-left: 1px solid #d1d5d6
    box-sizing: border-box
    font-size: 18px
    position: absolute
    text-align: center
    top: 0
    right: 0
    padding-top: 8px
    +rotate(0deg)

    &:before
      display: block
      margin-right: 0
      +single-transition(all, .2s, linear)

@media screen and (min-width: $screen-sm)

  $with-steps: 250px !global

  .ls-steps
    margin: 15px 0 15px -15px

  .ls-steps-nav
    width: $with-steps
    max-height: 100%
    position: absolute
    z-index: 11
    top: 10px
    left: 15px

    &:before
      content: ""
      border-right: 1px solid $gray2
      position: absolute
      height: 100%
      right: 29px
      top: 0

    li
      width: auto
      position: relative
      padding-bottom: 20px

      &:not(.ls-active)
        opacity: 1
        visibility: visible

      &:last-child:before
        display: none

      &:before
        content: ""
        border-left: 1px solid $gray2
        height: 100%
        left: 18px
        position: absolute
        top: 24px
        z-index: 1

      &.ls-active .ls-steps-arrow
        display: block

  .ls-steps-main
    border-top: 0
    border-left: 1px solid $gray2
    padding: 0 15px 0 25px
    margin: 10px 0 0 235px

  .ls-steps-btn
    width: 100%
    padding: 0 5px 0 0

    &:before
      width: 37px
      height: 37px
      font-size: 17px
      line-height: 37px

    &:after
      width: calc(100% - 120px)
      font-weight: 500
      position: relative
      top: 0
      margin-left: 10px
      text-align: left
      display: inline-block
      vertical-align: middle

  .ls-steps-mobile
    display: none
    visibility: hidden

@media screen and (max-width: $screen-sm)
  .ls-steps-arrow
    &:before
      top: 0

  .ls-steps-btn
    &:before
      width: 20px
      height: 20px
      font-size: 14px
      line-height: 20px

    &:after
      font-size: 14px
      font-weight: 600
      text-transform: uppercase
