.ls-steps
  @extend .ls-clearfix
  position: relative
  margin-left: -15px
  padding-top: 15px

.ls-steps-nav
  list-style: none
  margin: 0
  counter-reset: steps
  overflow: hidden
  position: absolute
  top: 0
  left: 30px
  z-index: 11

  li
    counter-increment: steps
    margin-bottom: 15px

.ls-steps-btn
  background: none
  border: none
  cursor: none
  display: inline-block
  font-size: remtopx(.875)
  color: $gray2
  padding-right: 5px
  pointer-events: none

  .ls-active &,
  .ls-actived &

    cursor: pointer
    pointer-events: initial

    &:before
      background: $gray3
      border: 1px solid $gray3
      color: #fff

    &:after
      color: $gray3

  .ls-active &

    &:before
      background: $gray5


  &:hover,
  &:focus,
  &:active

    &:before
      opacity: .7

  &:before
    content: counters(steps, "") " "
    font-size: remtopx(.875)
    border: 1px solid $gray2
    border-radius: 50%
    display: inline-block
    height: 30px
    line-height: 30px
    margin-right: 5px
    vertical-align: middle
    text-align: center
    width: 30px


.ls-steps-main
  border-left: 1px solid $gray2
  overflow: hidden

.ls-steps-content
  +single-transition(height, .25s)
  +single-transition(opacity, .25s)
  height: 0
  position: relative
  opacity: 0
  z-index: -1

  &.ls-active
    +single-transition(height, .7s)
    +single-transition(opacity, .3s)
    opacity: 1
    height: auto
    z-index: 99

  .ls-actions-btn
    overflow: hidden

    [class*="ls-btn-"]
      float: right

@media screen and (min-width: $screen-sm)

  .ls-steps-btn

    &:after
      position: relative
      top: 0
      margin-left: 10px
