.ls-table
  width: 100%
  border-collapse: collapse
  background: #fff
  margin: 20px 0
  border-bottom: 1px solid $gray2
  table-layout: fixed

  .ls-box-gray &
    background: transparent

  .ls-well &:first-child
    margin-top: 0
    margin-bottom: 0

  &.ls-no-hover
    tbody tr:hover
      background: inherit

  &.ls-table-bordered
    border: 1px solid $gray2

  td, th
    @extend .ls-break-text
    padding: 13px
    text-align: left
    font-size: remtopx(.875)

  tr, th
    border-bottom: 1px solid $gray2

  thead th
    border-bottom-width: 2px

  .ls-data-descending,
  .ls-data-ascending

    a
      position: relative
      display: inline-block

      &:after
        +arrow-down(#000, 5px)
        content: ""
        position: absolute
        top: 50%
        right: -15px
        margin-top: -2px

  .ls-data-ascending a:after
    border-color: transparent
    border-bottom-color: #000
    margin-top: -7px

  tbody tr:last-child td,
  tbody tr:last-child th
    border-bottom: none

  &.ls-txt-center,
  tbody.ls-txt-center
    td, th
      @extend .ls-txt-center

  &.ls-txt-right,
  tbody.ls-txt-right
    td, th
      @extend .ls-txt-right

  &.ls-txt-left,
  tbody.ls-txt-left
    td, th
      @extend .ls-txt-left

  &.ls-md-space
    td, th
      @extend .ls-md-space

  &.ls-sm-space
    td, th
      @extend .ls-sm-space

.ls-table-striped

  tbody tr:nth-child(odd) td,
  &.ls-bg-header tr:nth-child(even) td
    background: $gray0

  &.ls-bg-header tr:nth-child(odd) td
    background: #fff
