.nav-tabs
	border-bottom: none
	li
		a
			color: #fff
			font-size: 0.83em
			text-transform: uppercase
			font-family: 'ralewaybold'

			&:hover,
			&:active
				color: #717171

	.dropdown-menu
		a
			color: #717171

			&:hover,
			&:active
				color: #fff

.tab-content
	@extend .border-radius-3
	border: 1px solid #ddd
	border-bottom-width: 3px
	padding: 15px
	margin-bottom: 15px
	border-top-left-radius: 0
