[class*="ls-tag"]
  display: inline-block
  padding: 4px
  font-size: remtopx(.625) !important
  letter-spacing: remtopx(.0375)
  font-weight: 400
  line-height: 1
  color: #fff !important
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: 2px
  background-color: $gray3

.ls-tag-success
  background-color: $color-success

.ls-tag-info
  background-color: $color-info

.ls-tag-warning
  background-color: $color-warning

.ls-tag-danger
  background-color: $color-danger

a[class*="ls-tag-"]:hover
  opacity: 0.8
