[class*="ls-tag"]
  display: inline-block
  padding: 5px
  font-size: 12px
  font-weight: 300
  line-height: 1
  color: $ls-color-dark-gray
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  background-color: $ls-color-gray

[class*="ls-tag-"]
  color: #fff

.ls-tag-primary
  background-color: $ls-color-blue

.ls-tag-success
  background-color: $ls-color-green

.ls-tag-info
  background-color: $ls-color-oil-blue

.ls-tag-warning
  background-color: $ls-color-yellow

.ls-tag-danger
  background-color: $ls-color-red

a[class*="ls-tag-"]:hover
  opacity: 0.8
