[data-tips]
  position: relative
  text-decoration: none

  &:after,
  &:before
    position: absolute
    z-index: 100
    opacity: 0

  &:after
    content: attr(data-tips)
    height: 25px
    line-height: 25px
    padding: 0 10px
    font-size: 12px
    text-align: center
    color: #fff
    background: #222
    border-radius: 5px
    text-shadow: 0 0 5px #000
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3)
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3)
    box-shadow: 0 0 5px rgba(0,0,0,0.3)
    white-space: nowrap
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

  &:before
    content: ""
    width: 0
    height: 0
    border-width: 6px
    border-style: solid

  &:hover:after,
  &:hover:before
    opacity: 1

/* Top tips */

  &.top-tip:after,
  &.top-tip:before
    -webkit-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out
    -moz-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out
    transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out
    bottom: 90%
    left: -9999px
    margin-bottom: 12px

  &.top-tip:before
    border-color: #222 transparent transparent transparent
    margin-bottom: 0

  &.top-tip:hover:after,
  &.top-tip:hover:before
    bottom: 100%
    left: 0

  &.top-tip:hover:before
    left: 15px

/* Bottom tip */
  &.bottom-tip:after,
  &.bottom-tip:before
    -webkit-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out
    -moz-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out
    transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out
    top: 90%
    left: -9999px
    margin-top: 12px

  &.bottom-tip:before
    border-color: transparent transparent #222 transparent
    margin-top: 0

  &.bottom-tip:hover:after,
  &.bottom-tip:hover:before
    top: 100%
    left: 0

  &.bottom-tip:hover:before
    left: 15px

/* Right tip */
  &.right-tip:after,
  &.right-tip:before
    -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out
    -moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out
    top: -9999px
    left: 96%
    margin-left: 12px

  &.right-tip:before
    border-color: transparent #222 transparent transparent
    margin-left: 0

  &.right-tip:hover:after,
  &.right-tip:hover:before
    left: 100%
    top: 0

  &.right-tip:hover:before
    top: 7px

/* Left tip */
  &.left-tip:after,
  &.left-tip:before
    -webkit-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out
    -moz-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out
    transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out
    top: -9999px
    right: 96%
    margin-right: 12px

  &.left-tip:before
    border-color: transparent transparent transparent #222
    margin-right: 0

  &.left-tip:hover:after,
  &.left-tip:hover:before
    right: 100%
    top: 0

  &.left-tip:hover:before
    top: 7px

