//
// Toda customização da topbar estará abaixo
//
.ls-topbar
  +single-transition(all, .5s)
  +translate(0, 0)
  height: $heightTopbar
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 11

  &:after
    +box-shadow(0px 5px 8px -1px rgba(255,255,255,.5))
    content: ""
    width: 100%
    height: 6px
    position: absolute
    bottom: 0
    left: 0

  .ls-sidebar-visible &
    +translate($sidebarWidth, 0)

  .ls-notifications-visible &
    +translate(-$sidebarWidth, 0)

  //
  // Nome do produto/marca
  //
  .ls-brand-name
    font-size: remtopx(1.45)
    font-weight: 300
    color: #fff
    padding: 15px 0
    height: $heightTopbar
    text-align: center
    width: 67%
    margin: 0 auto
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    a
      text-decoration: none
      color: #fff
      vertical-align: middle

      &:before
        display: none

  //
  // Ítens clicáveis incluindo notificações e possível dropdown com informações de usuário.
  //
  .ls-notification-topbar
    float: right

    .ls-alerts-list
      display: inline-block
      vertical-align: middle
      margin-top: 20px

      & :before
        font-size: remtopx(1.2)
        margin: 0

      [class*="ls-ico"]
        +rgba(color, #000, .4)
        margin-right: 14px
        position: relative
        display: none
        width: 22px
        text-align: center

        &:after
          content: attr(data-counter)
          position: absolute
          font-family: arial, sans-serif
          +border-circle(17px, .625rem)
          background: #cc0000
          color: #fff
          top: -10px
          left: 10px
          display: none
          -webkit-font-smoothing: auto
          -moz-osx-font-smoothing: grayscale

        &[data-counter]
          color: #fff

          &:after
            display: block

        &.ls-active
          color: #fff

        span
          display: none


  .ls-ico-menu,
  .ls-show-notifications
    cursor: pointer

    &:before
      position: fixed
      padding: 15px 15px 0
      height: $heightTopbar
      display: inline-block
      color: #FFF
      font-size: remtopx(2)
      vertical-align: middle
      cursor: pointer

    &:after
      content: ""
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 2424px
      display: none

  .ls-show-notifications:before
    right: 0
    font-size: remtopx(1.5)
    top: 4px

.ls-sidebar-visible .ls-ico-menu:after,
.ls-notifications-visible .ls-show-notifications:after
  display: block


@media (min-width: $screen-sm)
  .ls-topbar
    text-align: left
    +single-transition(none)

    &:after
      left: $sidebarWidth

    .ls-sidebar-visible &
      +translate(0, 0)

    .ls-notifications-visible &
      +translate(0, 0)

    .ls-brand-name
      font-size: remtopx(1.5)
      text-align: left
      width: auto
      display: inline-block
      padding-left: 15px

      a:before
        display: inline-block
        vertical-align: top
        margin-right: 12px
        font-size: remtopx(2)

    .ls-ico-menu:before,
    .ls-show-notifications:before
      display: none

    .ls-notification-topbar

      .ls-alerts-list
        margin-top: 0

        [class*="ls-ico"]
          background: transparent
          border: none
          cursor: pointer
          display: inline-block

      .ls-user-account
        display: inline-block
