.ls-user-account
  height: $topbar-height
  padding: 0 15px
  position: relative
  z-index: 1
  display: none

  .ls-ico-user
    color: #fff
    text-decoration: none
    vertical-align: middle
    font-size: remtopx(.875)
    font-weight: 600
    display: inline-block
    width: 100%
    padding: 14px 3px
    position: relative

    img
      width: 33px
      height: 33px
      border-radius: 100%
      vertical-align: middle
      position: absolute
      left: 13px
      top: 14px

    .ls-name
      @extend .ls-ellipsis
      max-width: 160px
      vertical-align: middle

    small
      color: #fff
      font-weight: 400
      font-size: inherit

    &:before
      margin-right: 10px
      +border-circle(33px, 20px)
      box-shadow: inset 0 0 0 2px rgba(255,255,255, 0.3)
      vertical-align: sub
      display: inline-block

    &:after
      content: "\e60b"
      font-size: remtopx(.75)
      display: inline-block
      margin-left: 10px
      +single-transition(all, .2s)

  &.ls-active > a:after
    +rotate(180deg)
    +single-transition(all, .2s)

  input[type='checkbox']
    height: 60px
    width: 100%
    position: absolute
    top: 0
    left: 0
    opacity: 0
    cursor: pointer

  .ls-user-menu
    background: $gray5
    position: absolute
    left: 0
    top: 100%
    width: 100%
    -ms-transition: all .2s ease-out
    -moz-transition: all .2s ease-out
    -webkit-transition: all .2s ease-out
    transition: all .2s ease-out
    overflow: hidden
    border: none
    border-radius: 0
    margin-top: 0

    ul
      list-style: none

      .ls-sidebar &
        border-top: 1px solid $gray5

      a
        color: $gray3
        padding: 15px 20px
        display: block
        border-bottom: 1px solid $gray5
        -ms-transition: all .2s ease-out
        -moz-transition: all .2s ease-out
        -webkit-transition: all .2s ease-out
        transition: all .2s ease-out
        font-weight: 300
        font-size: remtopx(.875)

        .ls-sidebar &
          color: rgba($color-menu-text,.75)
          font-weight: 400
          padding: 20px 20px 20px 60px

          &:hover,
          &:focus
            padding-left: 50px

        &:hover,
        &:focus
          color: $color-menu-text
          padding-left: 25px

      li:last-child a
        border-bottom: none

        .ls-sidebar &
          border-bottom: 1px solid $gray5

    .ls-btn-logout
      padding: 11px
      text-align: center
      color: rgba($color-menu-text,.6)
      font-size: remtopx(.8125)
      background-color: $gray5
      border-color: #343434
      margin: 0 55px
      position: absolute
      bottom: 30px
      left: 0
      right: 0

      &:hover,
      &:focus
        background-color: rgba($gray5,.8)

      &:after
        display: none


@media screen and (min-width: $screen-sm)
  .ls-user-account .ls-ico-user img
    left: 3px
