---
title: Primeiros Passos
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-gold
panel: painel1
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<div class="ls-box ls-md-space">
  <header class="ls-info-header row">
    <div class="col-md-9">
      <h2 class="ls-title-3 ls-ico-dashboard">Consumo de envios</h2>
    </div>
    <div class="col-md-3">
      <p class="ls-txt-right-sm ls-small-info">Valido até <strong>01.05.2014</strong></p>
    </div>
  </header>

  <div id="sending-stats" class="row ls-board-box">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Contratado</h6>
        <span class="ls-board-data">
          <strong>1 <small>milhão</small></strong>
        </span>
        <a href="#" class="ls-btn ls-btn-sm">Alterar plano</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Avulso</h6>
        <span class="ls-board-data">
          <strong>0</strong>
        </span>
        <a href="#" class="ls-btn ls-btn-sm">Contratar</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Distribuído</h6>
        <span class="ls-board-data">
          <strong>10.743</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4 color-default">Disponível</h6>
        <span class="ls-board-data">
          <strong class="ls-color-theme">81%</strong>
          989.257
        </span>
      </div>
    </div>
  </div>

</div>

<div class="ls-box ls-lg-space ls-ico-user-add ls-ico-bg">
  <h1 class="ls-title-1 ls-color-theme">Cadastre contatos na sua revenda</h1>
  <p>Comece agora: cadastre seu primeiro cliente, adicione envios e acompanhe o seu desenvolvimento.</p>
  <%= link_to 'Cadastrar meu primeiro cliente', 'new-client', :class => 'ls-btn-primary' %>
</div>

<h2 class="ls-title-3">Personalize</h2>
<p>Deixe o painel de acesso do seu cliente com a cara da sua empresa. Personalize a aparência, o endereço de acesso e mais.</p>

<div class="ls-box-group">
  <div class="ls-box ls-md-space">
    <div class="row">
      <div class="col-md-2 col-xs-3 ls-txt-center">
        <span class="ls-ico-alone ls-ico-paint-format"></span>
      </div>
      <div class="col-md-10 col-xs-9">
        <% link_to 'config-aspect' do %>
          <h3 class="ls-title-5"><strong>Aparência e conteúdo</strong></h3>
          <p>Fortaleça ainda mais a sua revenda personalizando o painel de acesso dos seus clientes. Mude as cores, o nome ou insira a sua marca.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ls-box ls-md-space">
    <div class="row">
      <div class="col-md-2 col-xs-3 ls-txt-center">
        <span class="ls-ico-alone ls-ico-screen"></span>
      </div>
      <div class="col-md-10 col-xs-9">
        <% link_to 'config-domain' do %>
          <h3 class="ls-title-5"><strong>Endereço de acesso</strong></h3>
          <p>Você pode personalizar a URL de acesso no painel dos seus clientes. Uma boa prática para que eles associem a revenda ao nome da sua empresa.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ls-box ls-md-space">
    <div class="row">
      <div class="col-md-2 col-xs-3 ls-txt-center">
        <span class="ls-ico-alone ls-ico-envelope"></span>
      </div>
      <div class="col-md-10 col-xs-9">
        <% link_to 'config-email' do %>
          <h3 class="ls-title-5"><strong>E-mail</strong></h3>
          <p>Cadastre um endereço de e-mail para enviar notificações aos seus clientes.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel1/sidebar' %>
<% end %>
