---
title: Dashboard do cliente
layout: panel
theme_name: ls-theme-gold
panel: painel1
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<div class="ls-box ls-board-info">
  <!-- <header class="ls-info-header">
    <span class="ls-small-info ls-float-right">Válido até <b>01.05.2014</b></span>
    <h2 class="ls-title-3 ls-ico-dashboard">Consumo de envios</h2>
  </header> -->

  <header class="ls-info-header row">
    <div class="col-md-10 col-sm-10">
      <h2 class="ls-title-3 ls-ico-dashboard">Consumo de envios</h2>
    </div>
    <div class="col-md-2 col-sm-2 ls-txt-right-sm">
      <span class="ls-small-info">Válido até <b>01.05.2014</b></span>
    </div>
  </header>

  <div class="row">

    <div class="col-sm-6 col-md-3">
      <div class="ls-box ls-board-box">
        <h6 class="ls-title-4">Contratado
          <a href="" data-ls-module="popover" data-title="Precisa de ajuda?" data-content="Lorem Ipsum is text." data-placement="top" class="ls-ico-help"></a>
        </h6>
        <strong class="ls-board-info">1 <small>milhão</small></strong>
        <a href="#" class="ls-btn">Alterar plano</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box ls-board-box">
        <h6 class="ls-title-4">Avulso</h6>
        <strong class="ls-board-info">0</strong>
        <a href="#" class="ls-btn">Contratar</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box ls-board-box">
        <h6 class="ls-title-4">Distribuído</h6>
        <strong class="ls-board-info">10.743 <small>mil</small></strong>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box ls-board-box">
        <h6 class="ls-title-4 color-default">Disponível</h6>
        <strong class="ls-board-info">81% <small class="ls-weight-normal">989.257 mil</small></strong>
      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-8 col-xs-12">
    <h2 class="ls-title-2">Clientes que mais contrataram envios</h2>
  </div>
  <div class="col-md-4 col-xs-12 ls-txt-right-sm">
    <a href="#" class="ls-btn ls-btn-block-sm">Ver mais relatórios</a>
  </div>
</div>
<div class="ls-box">
  <div id="panel-charts"></div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <h2 class="ls-title-2">Clientes que mais contrataram envios</h2>
      </div>
      <div class="col-md-4 col-xs-12 ls-txt-right-sm">
        <a href="#" class="ls-btn ls-btn-block-sm">Ver todos</a>
      </div>
    </div>
    <div class="ls-box">
      <table class="ls-table">
        <thead>
          <th>Nome do cliente</th>
          <th>Data de expiração</th>
        </thead>
        <tbody>
          <tr>
            <td>Mark da Silva</td>
            <td>10.04.2014</td>
          </tr>
          <tr>
            <td>Jacob Lorem Ipsum</td>
            <td>10.04.2014</td>
          </tr>
          <tr>
            <td>Larry Barbosa</td>
            <td>10.04.2014</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <h2 class="ls-title-2">Clientes bloqueados por bounce</h2>
      </div>
      <div class="col-md-4 col-xs-12 ls-txt-right-sm">
        <a href="#" class="ls-btn ls-btn-block-sm">Ver todos</a>
      </div>
    </div>
    <div class="ls-box">
      <table class="ls-table">
        <thead>
          <th>Nome do cliente</th>
        </thead>
        <tbody>
          <tr>
            <td>Mark da Silva</td>
          </tr>
          <tr>
            <td>Jacob Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Larry Barbosa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel1/sidebar' %>
<% end %>
