---
title: Configurações de Domínios
layout: panel
theme_name: ls-theme-gold
panel: painel1
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-cog">Domínio da revenda</h1>
<p>Configure um domínio padrão para os links das mensagens e de acesso ao painel.</p>

<div class="row">
  <div class="col-md-6">
    <div class="ls-box">
      <h2 class="ls-title-2">Domínio padrão dos links</h2>
      <p>Você pode utilizar o seu domínio para personalizar os links inseridos nas mensagens dos seus clientes. </p>
      <p>Certifique-se de que o DNS esteja configurado corretamente</p>
      <p><a href="#">Saiba como configurar o DNS do seu domínio.</a></p>
      <p>As alterações só serão aplicadas para os novos clientes, cadastrados após esta ação.</p>
      <hr>

      <form action="#" class="ls-form" data-ls-module="form">
        <div id="domain-form" class="row ls-form-disable ls-form-text">
          <label class="ls-label col-md-8">
            <span class="ls-label-text ls-hidden-accessible">Domínio</span>
            <div class="ls-prefix-group">
              <span class="ls-label-text-prefix">http://</span>
              <input name="dominio" placeholder="dominio" required type="text" value="opa.entregaemails.com">
            </div>
            <p><small>Status do DNS: Configurado corretamente</small></p>
          </label>
        </div>
        <div class="domain-actions ls-display-none">
          <button type="submit" class="ls-btn-primary">Salvar</button>
          <button class="ls-btn" data-ls-fields-enable="#domain-form" data-toggle-class="ls-display-none" data-target=".domain-actions" >Cancelar</button>
        </div>
        <button data-ls-fields-enable="#domain-form" data-toggle-class="ls-display-none" data-target=".domain-actions" class="ls-btn-primary domain-actions">Editar</button>
      </form>

    </div>
  </div>
  <div class="col-md-6">
    <div class="ls-box">
      <h2 class="ls-title-2">Domínio de acesso</h2>
      <p>Este é o endereço que seus clientes usarão para acessar a API e o painel de email markerting. Você pode utilizar o seu domínio para personalizar este endereço, para isso, certifique-se de que o DNS esteja configurado corretamente.</p>
      <p><a href="">Como configurar o seu domínio para ser o novo endereço de acesso.</a></p>
      <hr>
      <form action="" class="ls-form" data-ls-module="form">
        <div id="access-domain-form" class="row ls-form-disable ls-form-text">
          <label for="" class="ls-label col-md-8">
            <span class="ls-label-text ls-hidden-accessible">Domínio de acesso</span>
            <div class="ls-prefix-group">
              <span class="ls-label-text-prefix">http://</span>
              <input type="text" placeholder="opa.entregaemails.com">
            </div>
            <p><small>Status do DNS: Configurado corretamente</small></p>
          </label>
        </div>
        <div class="access-domain-actions ls-display-none">
          <button type="submit" class="ls-btn-primary">Salvar</button>
          <button class="ls-btn" data-ls-fields-enable="#access-domain-form" data-toggle-class="ls-display-none" data-target=".access-domain-actions" >Cancelar</button>
        </div>
        <button data-ls-fields-enable="#access-domain-form" data-toggle-class="ls-display-none" data-target=".access-domain-actions" class="ls-btn-primary access-domain-actions">Editar</button>
      </form>
    </div>
  </div>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel1/sidebar' %>
<% end %>
