---
title: Sem clientes
layout: panel
theme_name: ls-theme-gold
panel: painel1
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-users">Clientes</h1>

<div class="ls-box-disclaimer">
  <h2 class="ls-title-1">Nenhum cliente cadastrado</h2>
  <p>Você ainda não possui nenhum cliente cadastrado. <br>Cadastre um cliente e começe a gerenciar sua revenda de Email Marketing.</p>
  <a href="<%= base_url %>/documentacao/exemplos/painel1/new-client" class="ls-btn-primary">Cadastrar Cliente</a>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel1/sidebar' %>
<% end %>
