---
title: Pré Painel
layout: painel
show_topbar_title: false
---

<h1 class="ls-title-intro ls-ico-list2">Contas</h1>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/painel1/home" >Identificador da conta</a>
      <small>Fake Product Name I </small>
    </div>
    <div class="col-md-3 col-md-offset-5 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel1/home" class="ls-btn-primary ls-btn-sm">Administrar</a>
    </div>
  </header>
</div>


<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/painel1/home" >Identificador da conta</a>
      <small>Fake Product Name I </small>
    </div>
    <div class="col-md-3 col-md-offset-5 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel1/home" class="ls-btn-primary ls-btn-sm">Administrar</a>
    </div>
  </header>
</div>
