---
title: Relatórios
layout: panel
theme_name: ls-theme-gold
panel: painel1
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-stats">Relatórios da revenda</h1>
<div class="ls-group-btn ls-group-active ls-float-right">
  <button type="button" data-ls-module="tabs" data-target=".child1" class="ls-btn ls-active ls-ico-chart-bar-up"></button>
  <button type="button" data-ls-module="tabs" data-target=".child2" class="ls-btn ls-ico-table-alt"></button>
</div>
<ul class="ls-tabs-nav" id="awesome-tab">
  <li class="ls-active"><a data-ls-module="tabs" href="#tab1">Contratos x distribuídos</a></li>
  <li><a data-ls-module="tabs" href="#tab2">Status de clientes</a></li>
</ul>
<div class="ls-tabs-container" id="awesome-tab-content">
  <div id="tab1" class="ls-tab-content ls-active">

    <div class="ls-tab-content child1 ls-active">
      <p>Contratos e Distribuídos</p>
        <div id="panel-charts"></div>
    </div>

    <div class="ls-tab-content child2">

      <table class="ls-table">
        <thead>
          <tr>
            <th class="ls-txt-center">Período</th>
            <th class="ls-txt-center">Contratados</th>
            <th class="ls-txt-center hidden-xs" colspan="2">Distribuídos</th>
          </tr>
        </thead>
        <tbody>
          <%- 5.times do  %>
            <tr>
              <td class="ls-txt-center">28/03/2014 a 27/04/2014</td>
              <td class="ls-txt-center">1000000</td>
              <td class="ls-txt-center hidden-xs">10741</td>
              <td class="ls-txt-center hidden-xs">1%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="tab2" class="ls-tab-content">

    <div class="ls-tab-content child1 ls-active">
      <p>Status do cliente</p>
      <div id="panel-charts-client"></div>
    </div>

    <div class="ls-tab-content child2">
      <table class="ls-table">
        <thead>
          <tr>
            <th class="ls-txt-center">Data</th>
            <th class="ls-txt-center">Todos</th>
            <th class="ls-txt-center" colspan="2">Ativos</th>
            <th class="ls-txt-center hidden-xs" colspan="2">Desativados</th>
            <th class="ls-txt-center hidden-xs" colspan="2">Bloqueados por bounce</th>
          </tr>
        </thead>
        <tbody>
          <% 5.times do %>
            <tr>
              <td class="ls-txt-center">Hoje</td>
              <td class="ls-txt-center">29</td>
              <td class="ls-txt-center">26</td>
              <td class="ls-txt-center">89%</td>
              <td class="ls-txt-center hidden-xs">3</td>
              <td class="ls-txt-center hidden-xs">10%</td>
              <td class="ls-txt-center hidden-xs">0</td>
              <td class="ls-txt-center hidden-xs">0%</td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel1/sidebar' %>
<% end %>
