[class*="ls-btn"]
	border: 1px solid #ccc
	padding: 6px 12px
	border-radius: 4px
	color: #fff
	cursor: pointer
	display: inline-block
	font-size: .875rem
	text-decoration: none

.ls-btn:hover,
.ls-btn:focus
	color: #333333
	text-decoration: none

.ls-btn-default
	color: #333
	background-color: #fff
	border-color: #ccc

.ls-btn-dark,
.ls-btn-primary
	background-color: #333
	border-color: #3d3c3c

.ls-btn-primary
	color: #fff

.ls-btn-dark
	color: #9d9d9d

.ls-btn-lg
	padding: 10px 16px
	font-size: 1.125rem
	border-radius: 6px

.ls-btn-sm
	border-radius: 3px
	font-size: .75rem
	padding: 6px 10px

.ls-btn-xs
	border-radius: 3px
	font-size: .5rem
	padding: 5px 7px
