/* Box Collpase */

.boxGray > .lnkArrow { margin: 0 15px 10px; }

p + .boxCollapse { margin-top: 30px; }

.collapse p + .btn { margin: 10px 0 5px; }

.collapse h6:first-child { padding: 10px 0 0; }

.boxCollapse {
  border-radius: 3px;
  padding: 3px;
  margin: 0 0 10px;
  border: 1px solid #e5e5e5;
  border-bottom-width: 2px;
  background: url(../images/setaCollapseBottom.png) no-repeat 99% 11px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.boxGray .boxCollapse {margin: 0 15px 5px;}

/* boxCollapse quando existir numeração */

.boxCollapse.simpleCollapse {
  border: 1px solid #d0d0d0;
  margin-bottom: 5px;
}

.boxCollapse.simpleCollapse header {
  color: #545454;
  padding: 0 10px;
  border-left: none;
}

.boxCollapse.simpleCollapse header h4 {
  font-family: Ubuntu, verdana, arial, helvetica, tahoma, sans-serif;
}

.boxCollapse.simpleCollapse .collapse:before { padding-top: 12px; }

.boxCollapse.simpleCollapse .collapse { padding-left: 38px; }

.boxCollapse.simpleCollapse .collapse p{line-height: 16px;}

.boxCollapse header {
  border-left: 5px solid #ccc;
  padding: 3px 10px 6px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.boxCollapse header .lnkCollapse {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  outline: none;
  z-index: 0;
}

.boxCollapse:hover,
.boxCollapse.focus { background-color: #ececec; }

.boxCollapse.active {
  background-image: url(../images/setaCollapseTop.png);
  background-color: #ececec;
  padding-bottom: 10px;
}

.boxCollapse.active header h4,
.boxCollapse.focus header h4{ font-weight: bold; }

.boxCollapse .collapse { padding: 0 15px; }

.boxCollapse .collapse:before {
  content: "";
  display: block;
  padding: 10px 0 0;
}

.boxCollapse.whiteCollapse .collapse::before { padding: 10px 0 0; }

.boxCollapse header h4 {
  font: 16px verdana, arial, tahoma, sans-serif;
  margin-bottom: 0;
  outline: none;
}

.boxCollapse header p {
  color: #767676;
  margin: 0;
  outline: none;
  position: relative;
  z-index: 2;
}

.boxCinzaInner {
  background: #ddd;
  padding: 10px 10px;
  margin-bottom: 30px;
}

.boxCinzaInner + .boxCinzaInner { margin-top: -25px; }
.boxCinzaInner .control-group { margin: 0 0 10px; }

.boxCinzaInner p + div.control-group { margin-top: 20px; }

.boxCollapse .tableList {
  margin-top: 0;
  border-collapse: separate;
  background: #fff;
  border-bottom: none;
}

.boxCollapse form { margin-bottom: 0; }

.boxCollapse .tableList td .disabled {
  background: none;
  border: none;
  box-shadow: none;
  cursor: default;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #555;
}

.boxCollapse .tableList tr:nth-child(even) { background-color: #f4f4f4; }

.boxCollapse .tableList thead th {
  background: #cecece;
  color: #545454;
  font-weight: bold;
}

.boxCollapse .boxActions {
  margin-top: 35px;
  clear: both;
  border-top-color: #d9d9d9;
}

.boxCollapse td .boxActions {
  margin: 0;
  padding: 0;
  border: none;
  display: none;
}

tr.active .boxActions {
  display: block;
  padding: 10px 0 5px;
}

tr.active .boxActions .btn { margin-right: 0; }

tr.active .actionsTable { display: none; }

.boxCollapse h4 span {
  font: bold 18px Ubuntu, verdana, arial, tahoma, helvetica, sans-serif;
  color: #777;
  border: none;
  letter-spacing: -1px;
}

.boxCollapse h4 span.ico-dot {
  font-size: 40px;
  line-height: 7px;
  margin-right: 0;
  width: 14px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  left: -5px;
}

.boxCollapse hr,
.boxCollapse hr.sepDot { border-color: #c9c9c9; }

.boxCollapse .toggleChild hr {
  border-bottom-width: 5px;
  margin: 10px 0;
}

/* Collapse dentro de obsGray */

.obsGray .boxCollapse { background-color: #f6f6f6; }

.obsGray .boxCollapse:hover,
.obsGray .boxCollapse.active,
.obsGray .boxCollapse.focus,
.obsGray .boxCollapse .in { background-color: #fff; }

/* Notificações */

.notification.boxCollapse { position: relative; }

.notification.boxCollapse header {
  border-color: transparent;
  padding: 5px 10px;
}

.notification header h3 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
}

.notification header:before {
  content: "";
  height: 17px;
  left: -9px;
  top: 9px;
  position: absolute;
  width: 9px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  z-index: 0;
  box-shadow: inset -1px 0px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: inset -1px 0px 5px rgba(0,0,0,0.15);
  -webkit-box-shadow: inset -1px 0px 5px rgba(0,0,0,0.15);
}

.notification header:after {
  content: "";
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: absolute;
  height: 3px;
  left: -7px;
  top: 16px;
  width: 3px;
  z-index: 0;
  background-color: #cdcdcd;
}

.boxCollapse.notification .collapse:before {
  padding: 0;
  position: relative;
  z-index: 1;
}

.notification .valueNotify { 
  top: -2px;
  margin-left: 5px;
}

.valueNotify {
  background: #ea0019;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 0 5px;
  position: relative;
  border-radius: 3px;
  box-shadow: inset -3px 0px 5px rgba(0,0,0,0.15);
}

.valueNotify:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 5px;
  left: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right:5px solid #ea0019;
}

.valueNotify.empty {
  background-color: #cdcdcd;
  box-shadow: inset -3px 0px 5px rgba(0,0,0,0.05);
}

.valueNotify.empty:before { border-right: 5px solid #cdcdcd; }

.boxCollapse .tabs {
  background: none;
  position: absolute;
  top: -42px;
  left: 200px;
  z-index: 2;
}

.boxCollapse .tab-content {
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 0;
}

.boxCollapse .tabs li a:after,
.boxCollapse .tabs li.active a:after,
.boxCollapse .tabs li a:hover:after{ background: none; }

/* Fix para collpases com toolip dentro (use com cuidado) */

.collapse.with-tooltip.in { overflow: visible; }

.boxCollapse header > a {
  z-index: 2;
  position: absolute;
  top: 8px;
}

/* Indicador no Collapse */
.boxCollapse .valueNotify.scoreIndicator { box-shadow: none; }

/* Popover dentro do Collapse */
.boxCollapse header .popover-title { display: block; }
