body, li, p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-text-shadow: 0 0 1px transparent;
  -moz-text-shadow: 0 0 1px transparent;
  -ms-text-shadow: 0 0 1px transparent;
  -o-text-shadow: 0 0 1px transparent;
  text-shadow: 0 0 1px transparent;

  -webkit-text-rendering: optimizeSpeed;
  -ms-text-rendering: optimizeSpeed;
  -ms-text-rendering: optimizeSpeed;
  -o-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
}

/** ICONS **/
@font-face {
  font-family: 'locaweb';
  src: url('../fonts/locaicons/Locaweb-Icons.eot');
  src: url('../fonts/locaicons/Locaweb-Icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/locaicons/Locaweb-Icons.svg#locaweb') format('svg'),
    url('../fonts/locaicons/Locaweb-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chamaicons';
  src: url('../fonts/locaicons/chamada-icons.eot');
  src: url('../fonts/locaicons/chamada-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/locaicons/chamada-icons.svg#chamaicons') format('svg'),
    url('../fonts/locaicons/chamada-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandicon';
  src: url('../fonts/locaicons/brandicon.eot');
  src: url('../fonts/locaicons/brandicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/locaicons/brandicon.svg#brandicon') format('svg'),
    url('../fonts/locaicons/brandicon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/ubuntu-regular-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/ubuntu/ubuntu-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuBold';
  src: url('../fonts/ubuntu/ubuntu-bold-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/ubuntu/ubuntu-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuLight';
  src: url('../fonts/ubuntu/ubuntu-light-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/ubuntu/ubuntu-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMedium';
  src: url('../fonts/ubuntu/ubuntu-medium-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/ubuntu/ubuntu-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'LacunaRegular';
  src: url('../fonts/lacuna/lacuna-webfont.eot');
  src: url('../fonts/lacuna/lacuna-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lacuna/lacuna-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'LacunaItalicRegular';
  src: url('../fonts/lacuna/lacuna-italic-webfont.eot');
  src: url('../fonts/lacuna/lacuna-italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lacuna/lacuna-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
