.obsGray form {margin-bottom: 0; padding: 3px 0;}
fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
}

/*fieldset + fieldset {margin-top: 20px;}*/

input, textarea, select {
  color: #797979;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
  border-color: #e5e5e5;
}

/** CONTROL GROUP
*** Container que agrupa os inputs e campos de formulário
**/
.control-group {margin-bottom: 15px;}

.sideBySide .control-group {
  padding-bottom: 3px;
  padding-right: 10px;
  float: left;
}

.sideBySide .control-group.input-prepend {padding-right: 10px;}
.simpleFilter.sideBySide .control-group:first-child {
  border-left: none;
  padding-left: 0;
}

/** modifica a cor do placeholder dos inputs **/
::-webkit-input-placeholder,
::-moz-input-placeholder,
::-ms-input-placeholder,
::-o-input-placeholder,
input-placeholder {color: #bfbfbf;}

.control-group input {margin-bottom: 0;}

form h6 {
  text-transform: inherit;
  font: 400 14px Ubuntu;
  color: #2a2a2a;
  margin: 0 0 10px;
}
label b {display: none;}

.modal .control-group {padding: 0 5px;}

.form-horizontal .controls, .controls {
  text-align: left;
  margin-left: 1px;
}
.modal-body .controls + p {margin-top: 15px;}

.controls > label, .controls > .control-label {
  width: auto;
  padding-left: 3px;
  vertical-align: middle;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
}

.controls .control-label input {
  display: inline-block;
  margin-top: 0;
  vertical-align: middle;
}
label.dInlineBlock, label.dInline {margin-bottom: 0;}

label, strong.control-label, .form-horizontal .control-label {
  padding-right: 10px;
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #545454;
  line-height: 12px;
}
label.widthAuto {width: auto !important;}
label.nomarginleft {margin-left: 0 !important;}

.formInline label,
.form-horizontal label,
.formInline strong.control-label,
.form-horizontal strong.control-label,
.formInline .control-label,
.form-horizontal .control-label {
  display: inline-block;
  padding-top: 5px;
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #545454;
  line-height: 12px;
}

.boxGrayOpt {
  clear: both;
  float: none;
  padding: 10px;
  position: relative;
  margin: 10px 0;
  background: #e2e2e2;
}

.formInline .boxGrayOpt label,
.form-horizontal .boxGrayOpt label,
.formInline .boxGrayOpt .control-label,
.form-horizontal .boxGrayOpt .control-label,
.formInline .controls .boxGrayOpt label,
.form-horizontal .controls .boxGrayOpt label,
.formInline .controls .boxGrayOpt .control-label,
.form-horizontal .controls .boxGrayOpt .control-label  {
  margin: 0;
  width: 100px;
  text-align: left;
}

.formInline.boxGrayOpt label {
  width: auto;
  margin-bottom: 0;
  padding-top: 0;
}
.formInline.boxGrayOpt input {vertical-align: middle;}

.boxGrayOpt:before {
  position: absolute;
  top: -5px;
  left: 15px;
  content: " ";
  display: block;
  width: 15px;
  height: 5px;
  background: url(../images/indicadorTopBoxGrayInput.png) no-repeat;
}

label.checkbox.control-label, label.checkbox.control-label:first-child {
  margin: 0 0 0 110px;
  width: inherit;
}

.opcoesBuscaAvancada .control-group .control-label:first-child,
.control-group .control-label:first-child {margin-left: 0;}

.boxGrayOpt input {margin: 0 1px 0 0;}

.filterCount {line-height: 28px;}

.filterCount .control-group label {
  font-weight: normal;
  width: auto !important;
  line-height: 28px;
}

.filterCount .control-group,
.filterCount .controlg-group input,
.filterCount .controlg-group select {margin: 0;}

/** Busca avançada **/
.boxFiltro, .boxCinza {
  border-radius: 3px;
  background: #dfdddd;
  padding: 15px;
  margin: 30px 0;
}

.boxCinzaLight {
  border-radius: 3px;
  background: #ececec;
  padding: 15px;
  margin: 30px 0;
}

.boxCinzaInnerLight {
  clear: both;
  background: #ddd;
  padding: 10px 15px;
  border-radius: 5px;
}

.labelInline {margin-bottom: 15px;}
.labelInline label {display: inline;}

.boxFiltro h2 {padding: 0 0 10px;}
.boxFiltro h6 {padding: 0;}
.boxFiltro .datepicker {width: 94px;}

/* Quando ativa busca avançada */
.control-group.collapse {margin-bottom: 0;}
.control-group.collapse.in {margin-bottom: 18px;}

.boxFiltro fieldset, .boxCinza .boxCinzaInner {
  clear: both;
  background: #cecccc;
  padding: 10px;
  border-radius: 5px;
}

.transaction-search-per-page {width: 70px;}

.periodoForm.formInline .control-group:first-child .help-inline {margin-left: 117px;}

.periodoForm.formInline .control-group .help-inline {
  margin-left: 0;
  padding-left: 0;
}

input.span16, textarea.span16, .uneditable-input.span16 {width: 1166px;}
input.span15, textarea.span15, .uneditable-input.span15 {width: 1091px;}
input.span14, textarea.span14, .uneditable-input.span14 {width: 1016px;}
input.span13, textarea.span13, .uneditable-input.span13 {width: 941px;}
input.span12, textarea.span12, .uneditable-input.span12 {width: 866px;}
input.span11, textarea.span11, .uneditable-input.span11 {width: 791px;}
input.span10, textarea.span10, .uneditable-input.span10 {width: 716px;}
input.span9, textarea.span9, .uneditable-input.span9 {width: 641px;}
input.span8, textarea.span8, .uneditable-input.span8 {width: 566px;}
input.span7, textarea.span7, .uneditable-input.span7 {width: 491px;}
input.span6, textarea.span6, .uneditable-input.span6 {width: 416px;}
input.span5, textarea.span5, .uneditable-input.span5 {width: 341px;}
input.span4, textarea.span4, .uneditable-input.span4 {width: 266px;}
input.span3, textarea.span3, .uneditable-input.span3 {width: 191px;}
input.span2, textarea.span2, .uneditable-input.span2 {width: 116px;}
input.span1, textarea.span1, .uneditable-input.span1 {width: 41px;}

[class*="span"] input[type="submit"],
[class*="span"] input[type="radio"],
[class*="span"] input[type="checkbox"] {width: auto;}

.boxCinzaInner h6 {margin-bottom: 0;}

/** Botao do Datepicker **/
.ui-datepicker-trigger {
  border: none;
  background-color: transparent;
}

legend + .control-group {margin-top: 0;}

.sideBySide:after {content: " "; display: block; clear: both;}

.sideBySide label:first-child {width: auto;}
.sideBySide label.control-label {width: 103px;}

.sideBySide.formInline .control-label, .form-horizontal.sideBySide .control-label {
  float: left;
  min-height: 27px;
  line-height: 27px;
}

.formInline .controls {display: inline-block; vertical-align: top;}

.sideBySide.error label {color: #B94A48;}

.help-inline {
  margin-bottom: 0;
  padding-left: 0;
  display: block;
 }

.formInline .help-inline {display: inline-block;}

.formInline .error .help-inline,
.formInline .warning .help-inline,
.formInline .success .help-inline {
  display: block;
  margin: 2px 0 0 105px;
 }

.error .help-inline,
.warning .help-inline,
.success .help-inline {
  font-size: 11px;
  display: block;
  margin: 2px 0 0 0px;
}

.error input,
.warning input,
.success input {
  margin-bottom: 0;
}

.input-prepend label + .add-on {border-radius: 3px 0 0 3px; margin-left: 0;}

input[type="image"], input[type="checkbox"], input[type="radio"] {margin-top: 0;}

.simpleFilter {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding: 15px 0 10px;
  min-height: 30px;
}
.simpleFilter:after {content: " "; display: block; clear: both;}

.tab-pane .simpleFilter {padding-top: 5px;}
.simpleFilter form {margin: 0;}
.simpleFilter select {width: 100px;}

.simpleFilter.sideBySide .control-group {
  margin-bottom: 0;
  border-left: 1px dotted #cfcfcf;
  padding: 0 0 0 15px;
  margin-left: 15px;
}

.simpleFilter .control-group:last-child {border-left: 0;}
.simpleFilter.sideBySide .control-group.fright {float: right;}
.simpleFilter.sideBySide .control-group.fright:last-child {border: none;}

.simpleFilter.sideBySide .control-group label {width: auto;}

.simpleFilter.sideBySide p.fleft {margin-bottom: 0; margin-top: 6px;}

.simpleFilter .searchInput {
  background-image: url(../images/lupaInput.png);
  background-position: 8px center;
  background-repeat: no-repeat;
  max-width: 185px;
  padding-left: 35px;
}
.simpleFilter .control-group.fright {padding-right: 0;}
.tabs .searchInput {
  height: 17px;
  margin: 2px 0 0;
}
.simpleFilter .btn.fRight + .fRight{
  margin-right: 10px;
}
.datetime select {width: 100px;}

.hint {
  font: 14px verdana, sans-serif;
  color: #767676;
  display: inline-block;
  padding: 0 3px;
  vertical-align: middle;
}

.sideInput {position: relative; padding-left: 20px;}
.sideInput input[type="radio"], .sideInput input[type="checkbox"] {position: absolute; top: 5px; left: 0px;}

.sideInput label {margin-bottom: 5px; display: block;}

.lineFieldsContainer label {margin-left: 0;}
.lineFieldsContainer label.span3 {width: 217px;}

.lineFields {
  clear: both;
  margin-bottom: 10px;
}

.lineFields input:nth-child(2n) {width: 275px;}

.lineFields select {vertical-align: top;}

.lineFields .addRemoveLine {
  width: 30px;
  height: 30px;
  vertical-align: top;
}

.lineFields .addRemoveLine:before {
  margin-left: -8px;
  margin-top: 3px;
}

/*** CUSTOM SELECT
**** Formatando seletores customizaveis
***/
.select2-drop,
.customSelect,
.select2-container-active {
  border-radius: 2px;
  box-shadow: none;
  border-color: #d4d4d4;
}
.customSelect[class*="span"] {float:none; margin-left:0;}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-container .select2-choice,
.select2-dropdown-open .select2-choice,
.select2-container.select2-drop-above .select2-choice {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: none;
  border-color: #ccc;
  box-shadow: none;
  color: #767676;
}
.select2-container,
.select2-container .select2-choice div{background: #fff;}
.select2-container .select2-choice div {
  border-left: none;
}

.select2-container .select2-choice div b {background: url(../images/setaIdentBaixo.png) no-repeat center;}
.select2-dropdown-open .select2-choice div b {background: url(../images/setaIdentTop.png) no-repeat center;}

.select2-search {margin-top: 10px;}
