#header {
  background: #f0f0f0 url(../images/bgHeader.gif) repeat-X top center;
  position: relative;
  z-index: 1;
}
#header .limit {height: 120px; position: relative;}
#header:after, #header .limit:after {content: " "; display: block; clear: both;}

/** Nome do serviço - Logo - H1 **/
.serviceName {
  float: left;
  margin: 0;
  padding: 40px 3px;
  text-decoration: none;
  color: #4B7CB8;
  font: 33px LacunaRegular, verdana, arial, tahoma, sans-serif;
  position: relative;
}
.serviceName a {text-decoration: none;  color: #777; margin-left: -4px;}
.serviceName a:hover {text-decoration: none; opacity: 0.7;}

.serviceName span {
  display: block;
  text-transform: lowercase;
  letter-spacing: 7px;
  color: #727272;
  font-size: 13px;
}
.serviceName .betalink {
  position: absolute;
  left: auto;
  top: 30px;
  right: -30px;
}
.serviceName.ellipsis{
  width: 600px;
}
.lnkOldpanel{
  position: absolute;
  top: 50px;
  right: 0;
}
.betalink{
  background: url(../images/ico-beta.png) 0 0 no-repeat;
  display: inline-block;
  height: 20px;
  left: 6px;
  text-indent: -9999px;
  position: relative;
  top: 3px;
  width: 41px;
}

/*** MENU PRINCIPAL
**** Formatação do menu principal do header
***/
#menuPrincipal {
  clear: both;
  padding: 7px 0 0;
  margin: 0;
  background: #FFF;
  border-top: 1px solid #d7d7d7;
  border-bottom: 4px solid #777;
  position: relative;
  z-index: 2;
}

#menuPrincipal > ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  position: relative;
}

#menuPrincipal > ul:after {content: " "; display: block; clear: both;}

#menuPrincipal > ul > li {
  padding: 0 5px;
  float: left;
  position: relative;
  background: #FFF url(../images/dotMenuLi.gif) no-repeat right center;
}

#menuPrincipal > ul > li:first-child {padding-left: 0;}
#menuPrincipal > ul > li:last-child {background-image: none;}

#menuPrincipal > ul > li > a:after {
  position: absolute;
  bottom: 2px;
  left: 48.8%;
  content: "";
  display: block;
  margin-left: -4px;
  width: 11px;
  height: 5px;
  background: url(../images/setaDots.png) center center no-repeat;
}

#menuPrincipal > ul > li > a {
  position: relative;
  padding: 9px 8px;
  display: inline-block;
  color: #545454;
  text-decoration: none;
  text-transform: uppercase;
  font: 14px 'Ubuntu', verdana, arial, tahoma, sans-serif;
  border: 1px solid transparent;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
#menuPrincipal a{outline: none;}
#menuPrincipal > ul > li > a:hover {color: #666; background-color: transparent;}

#menuPrincipal a.ico-home:before {
  float: right;
  position: relative;
  left: 1px;
  margin-top: -4px;
  font-size: 19px;
  text-indent: 0;
}

#menuPrincipal a.ico-home {
  width: 25px;
  text-indent: -999px;
  padding: 9px 8px 8px;
}

#menuPrincipal > ul > li.selected > a {
  background-image: url(../images/bgMenu.png);
  background-repeat: repeat-x;
  color: #FFF;
  background-color: #777;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#menuPrincipal > ul > li.selected > a:hover{color: #fff;}
#menuPrincipal .parent:hover > a {box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.2);}
#menuPrincipal .parent > a:hover,
#menuPrincipal .parent:hover > a,
#menuPrincipal ul li.parent.focus > a {
  color: #666;
  font: 14px 'Ubuntu', verdana, arial, tahoma, sans-serif;
  text-transform: uppercase;
  border-radius: 3px 3px 0 0;
  border: 1px solid #c7c7c7;
  border-bottom: 1px solid #FFF;
}
#menuPrincipal .parent:after {
  content: " ";
  display: block;
  margin: -1px 1px 0 1px;
  background: #FFF;
  height: 1px;
  position: relative;
  z-index: 2;
}
#menuPrincipal .parent {outline: none;}
#menuPrincipal .parent.focus ul{
  opacity: 1; visibility: visible;
}

#menuPrincipal > ul > li:hover ul,
#menuPrincipal > ul > li:active ul {
  opacity: 1; visibility: visible;
}
#menuPrincipal ul li ul {
  opacity: 0;
  border: 1px solid #c7c7c7;
  visibility: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 185px;
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 1;
  background: #FFF;
  border-radius: 0 3px 3px 3px;
  border-bottom: 3px solid #777;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

#menuPrincipal ul li ul li a {
  font: 13px verdana, arial, tahoma, sans-serif;
  color: #545454;
  padding: 5px 10px;
  border-bottom: 1px solid #e9e9e9;
  text-decoration: none;
  display: block;
}
#menuPrincipal ul li ul li a:hover,
#menuPrincipal ul li ul li a:focus {background:#e9e9e9;}

/***
**** Opção do menu destacada como botão
***/
#menuPrincipal .btMenu {float: right; padding: 0; border-right: 0; }
#menuPrincipal .btMenu a {
  background-color: #E6E5E5;
  border-radius: 3px;
  color: #777;
  text-decoration: none;
  float: right;
  background-image: none;
  padding: 8px 10px 4px 6px;
  position: relative;
  top: -2px;
}
#menuPrincipal .btMenu a:hover,
#menuPrincipal .btMenu a:focus,
#menuPrincipal .btMenu a:active {
  background-color: #777;
  color: #FFF !important;
}
#menuPrincipal > ul > li.btMenu > a::after {display: none;}

#menuPrincipal > ul > li.btMenu > a:before {
  content: "\e076";
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  min-height: 17px;
  display: inline-block;
  font-family: locaweb;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: -1px;
  font-size: 10px;
}

/** Linkzinho de sugestões do Header **/
.forceClass .lnk-suggestions,
.forceClass .lnk-suggestions:hover{color: #fff;}

.lnk-suggestions {
  background-color: #ddd;
  color: #fff;
  float: right;
  text-decoration: none;
  font: 12px verdana;
  padding: 5px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.lnk-suggestions:before{font-size: 16px;}
.infoLogin {
  min-width: 400px;
  position: absolute;
  bottom: 15px;
  right: 0px;
  text-align: right;
  font: 12px verdana;
  min-height: 50px;
  color: #545454;
  background: url(../images/bgIdentHeader.png) no-repeat right 20px;
}

.infoLogin .accountName {
  display: block;
  padding: 10px 0;
  margin: 3px 0 0;
}

/** fix para esta classe que coloca font-size: 0 na versão 2.1.0 do bootstrap **/
.btn-group {font-size: inherit;}

.btn-group .dropdown-toggle.identNumber {
  background: url(../images/setaIdentBaixo.png) no-repeat right 16px;
  cursor: pointer;
  padding: 11px 25px 5px 12px;
  border: 1px solid transparent;
}

.btn-group.open .dropdown-toggle.identNumber, .infoLogin .identNumber.selected {
  -webkit-box-shadow: none;
  cursor:pointer;
  -moz-box-shadow: none;
  background:#FFF url(../images/setaIdentTop.png) no-repeat right 16px;
  border: 1px solid #C7C7C7;
  border-bottom: none;
  border-radius: 0;
  z-index: 2;
  position: relative;
}

.listIdent {
  position: absolute;
  background: #FFF;
  right: 0;
  top: 19px;
  border: 1px solid #c7c7c7;
  border-bottom: 3px solid #5f5f5f;
  border-radius: 3px;
  border-top-right-radius: 0;
  min-width: 200px;
  z-index: 1;
  text-align: left;
}

#header .btn-group {display: inline-block;}

.dropdown-menu.listIdent a {padding: 0;}

.dropdown-menu.listIdent {
  left: -130px; top: 18px;
  background: #FFF;
  border: 1px solid #c7c7c7;
  border-bottom: 3px solid #5f5f5f;
  border-radius: 3px;
  border-top-right-radius: 0 !important;
  min-width: 200px;
  z-index: 3;
  text-align: left;
}

.dropdown-menu.listIdent ul {
  list-style: none;
  margin: 0; padding: 0;
}
.listIdent li {
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
  color: #797979;
  margin: 0;
}

.listIdent li strong {
  display: block;
  font-weight: normal;
  color: #000;
  background: url(../images/setaDirList.png) no-repeat left center;
  padding-left: 10px;
}
.listIdent li span {
  padding-left: 10px;
  display: inline-block;
}

.dropdown-menu.listIdent .lnkArrow {
  margin: 10px;
  background-position: left 4px;
  padding-left: 13px;
}
.accessibility{
  background: #bbb;
  left: 0;
  padding: 3px 0;
  text-align: center;
  position: absolute;
  top: -100px;
  width: 100%;
}
.accessibility.show{top:0;}
.forceClass .accessibility .lnkContent{
  color: #333;
  font-size: 13px;
}
.accessibility,
.accessibility.show{
  transition: all 0.3s linear;
}

#header .nav-pills .dropdown-menu,
#header .dropdown-toggle{
  font-size: 12px;
}
.nav-pills .open .dropdown-toggle:hover{color: #fff;}
#header .dropdown-toggle,
#header .dropdown-toggle:hover,
#header .dropdown-toggle .caret{
  color: #000;
}
#header .dropdown-toggle {font-weight: bold;}
#header .nav .dropdown-toggle .caret{
  border-top-color: #000;
}
#header .nav > li > a:focus{background-color: #eee;}
#header .nav > li.open > a:focus{background-color: #999;}
#header .nav-pills{
  position: absolute;
  top: 12px;
  left: -12px;
}
#header .lnkAll.lnkArrow{
  border-left: 1px solid #cecece;
  float: left;
  padding: 0 0 0 10px;
  margin: 55px 0 0 10px;
}
.forceClass #menuPrincipal > ul > li.selected.parent > a{
  background: none;
}
