body
  font-family: Helvetica
  font-size: 14px

.main
  background: #fff
  overflow: auto
  height: calc(100% - 50px)
  position: relative
  z-index: 2
  float: left
  padding: 1rem
  width: 100%

.menu + .main
  margin-left: 13rem
  width: calc(100% - 13rem)