[class*="ls-btn"]
	border: 1px solid #ccc
	padding: 6px 12px
	border-radius: 4px
	color: #FFF
	cursor: pointer
	display: inline-block
	font-size: 14px
	text-decoration: none
	white-space: nowrap

.ls-btn-sm,
.ls-btn-xs
	font-size: .75rem
	line-height: 1.5
	border-radius: 3px

.ls-btn-sm
	padding: 5px 10px

.ls-btn-xs
	padding: 1px 5px
