@import colors

.header
  background-color: $base1
  height: 3rem
  line-height: 3rem
  padding: 0 1rem
  h1
    font-size: 1.5rem
    font-weight: 500
    display: inline-block
    a
      color: $base3
      text-decoration: none