/***
**** Define a font padrão dos ícones.
****/
@font-face {
	font-family: 'locaicons';
	src:url('/assets/fonts/locaicons/locaicons.eot');
	src:url('/assets/fonts/locaicons/locaicons.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/locaicons/locaicons.woff') format('woff'),
		url('/assets/fonts/locaicons/locaicons.ttf') format('truetype'),
		url('/assets/fonts/locaicons/locaicons.svg#locaicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="ico-"].ico-pull-right:after,
[class*="ico-"]:before {
	position: relative;
	top: -2px;
	margin-right: 4px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'locaicons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

[class*="ico-"]:after {display: none;}
.ico-pull-right:after {margin-left: 4px;}
.ico-pull-right:before {display: none;}

.ico-keyboard:before, .ico-keyboard:after {content: "\22";}
.ico-split:before, .ico-split:after {content: "\23";}
.ico-up-dir:before, .ico-up-dir:after {content: "\24";}
.ico-right-dir:before, .ico-right-dir:after {content: "\25";}
.ico-down-dir:before, .ico-down-dir:after {content: "\26";}
.ico-down-left:before, .ico-down-left:after {content: "\27";}
.ico-sun-inv:before, .ico-sun-inv:after {content: "\28";}
.ico-cloud:before, .ico-cloud:after {content: "\29";}
.ico-umbrella:before, .ico-umbrella:after {content: "\2a";}
.ico-check:before, .ico-check:after {content: "\2b";}
.ico-sun:before, .ico-sun:after {content: "\2c";}
.ico-moon:before, .ico-moon:after {content: "\2d";}
.ico-music:before, .ico-music:after {content: "\2e";}
.ico-attention:before, .ico-attention:after {content: "\2f";}
.ico-flash:before, .ico-flash:after {content: "\30";}
.ico-key:before, .ico-key:after {content: "\31";}
.ico-rain:before, .ico-rain:after {content: "\32";}
.ico-cog-alt:before, .ico-cog-alt:after {content: "\33";}
.ico-mail:before, .ico-mail:after {content: "\34";}
.ico-edit:before, .ico-edit:after {content: "\35";}
.ico-pen:before, .ico-pen:after {content: "\36";}
.ico-pencil-alt:before, .ico-pencil-alt:after {content: "\37";}
.ico-ok-circle:before, .ico-ok-circle:after {content: "\38";}
.ico-asterisk:before, .ico-asterisk:after {content: "\39";}
.ico-attention-circle:before, .ico-attention-circle:after {content: "\3a";}
.ico-plus-circle:before, .ico-plus-circle:after {content: "\3b";}
.ico-direction:before, .ico-direction:after {content: "\3c";}
.ico-forward:before, .ico-forward:after {content: "\3d";}
.ico-ccw:before, .ico-ccw:after {content: "\3e";}
.ico-cw:before, .ico-cw:after {content: "\3f";}
.ico-resize-vertical:before, .ico-resize-vertical:after {content: "\40";}
.ico-resize-horizontal:before, .ico-resize-horizontal:after {content: "\41";}
.ico-eject:before, .ico-eject:after {content: "\42";}
.ico-list-add:before, .ico-list-add:after {content: "\43";}
.ico-user-add:before, .ico-user-add:after {content: "\44";}
.ico-star-half:before, .ico-star-half:after {content: "\45";}
.ico-ok-circle2:before, .ico-ok-circle2:after {content: "\46";}
.ico-cancel:before, .ico-cancel:after {content: "\47";}
.ico-th-large:before, .ico-th-large:after {content: "\48";}
.ico-eye-off:before, .ico-eye-off:after {content: "\49";}
.ico-tags:before, .ico-tags:after {content: "\4a";}
.ico-tag-empty:before, .ico-tag-empty:after {content: "\4b";}
.ico-camera-alt:before, .ico-camera-alt:after {content: "\4c";}
.ico-download-cloud:before, .ico-download-cloud:after {content: "\4d";}
.ico-upload-cloud:before, .ico-upload-cloud:after {content: "\4e";}
.ico-reply:before, .ico-reply:after {content: "\4f";}
.ico-reply-all:before, .ico-reply-all:after {content: "\50";}
.ico-print:before, .ico-print:after {content: "\51";}
.ico-comment:before, .ico-comment:after {content: "\52";}
.ico-chat:before, .ico-chat:after {content: "\53";}
.ico-vcard:before, .ico-vcard:after {content: "\54";}
.ico-map:before, .ico-map:after {content: "\55";}
.ico-trash-1:before, .ico-trash-1:after {content: "\56";}
.ico-doc:before, .ico-doc:after {content: "\57";}
.ico-doc-inv:before, .ico-doc-inv:after {content: "\58";}
.ico-doc-alt:before, .ico-doc-alt:after {content: "\59";}
.ico-doc-alt-inv:before, .ico-doc-alt-inv:after {content: "\5a";}
.ico-article-alt:before, .ico-article-alt:after {content: "\5b";}
.ico-docs:before, .ico-docs:after {content: "\5c";}
.ico-docs-ladscape:before, .ico-docs-ladscape:after {content: "\5d";}
.ico-archive:before, .ico-archive:after {content: "\5e";}
.ico-login:before, .ico-login:after {content: "\5f";}
.ico-logout:before, .ico-logout:after {content: "\60";}
.ico-resize-full:before, .ico-resize-full:after {content: "\61";}
.ico-resize-full-alt:before, .ico-resize-full-alt:after {content: "\62";}
.ico-resize-small:before, .ico-resize-small:after {content: "\63";}
.ico-resize-small-alt:before, .ico-resize-small-alt:after {content: "\64";}
.ico-move-1:before, .ico-move-1:after {content: "\65";}
.ico-popup:before, .ico-popup:after {content: "\66";}
.ico-publish:before, .ico-publish:after {content: "\67";}
.ico-window:before, .ico-window:after {content: "\68";}
.ico-zoom-in:before, .ico-zoom-in:after {content: "\69";}
.ico-zoom-out:before, .ico-zoom-out:after {content: "\6a";}
.ico-down-circle2:before, .ico-down-circle2:after {content: "\6b";}
.ico-left-circle2:before, .ico-left-circle2:after {content: "\6c";}
.ico-right-circle2:before, .ico-right-circle2:after {content: "\6d";}
.ico-up-circle2:before, .ico-up-circle2:after {content: "\6e";}
.ico-down-open:before, .ico-down-open:after {content: "\6f";}
.ico-left-open:before, .ico-left-open:after {content: "\70";}
.ico-right-open:before, .ico-right-open:after {content: "\71";}
.ico-up-open:before, .ico-up-open:after {content: "\72";}
.ico-arrows-cw:before, .ico-arrows-cw:after {content: "\73";}
.ico-play-circle2:before, .ico-play-circle2:after {content: "\74";}
.ico-to-end-alt:before, .ico-to-end-alt:after {content: "\75";}
.ico-to-start-alt:before, .ico-to-start-alt:after {content: "\76";}
.ico-progress-0:before, .ico-progress-0:after {content: "\77";}
.ico-progress-1:before, .ico-progress-1:after {content: "\78";}
.ico-progress-2:before, .ico-progress-2:after {content: "\79";}
.ico-progress-3:before, .ico-progress-3:after {content: "\7a";}
.ico-back-in-time:before, .ico-back-in-time:after {content: "\7b";}
.ico-install:before, .ico-install:after {content: "\7c";}
.ico-font:before, .ico-font:after {content: "\7d";}
.ico-bold:before, .ico-bold:after {content: "\7e";}
.ico-italic:before, .ico-italic:after {content: "\e000";}
.ico-text-height:before, .ico-text-height:after {content: "\e001";}
.ico-text-width:before, .ico-text-width:after {content: "\e002";}
.ico-align-left:before, .ico-align-left:after {content: "\e003";}
.ico-align-center:before, .ico-align-center:after {content: "\e004";}
.ico-align-right:before, .ico-align-right:after {content: "\e005";}
.ico-align-justify:before, .ico-align-justify:after {content: "\e006";}
.ico-list:before, .ico-list:after {content: "\e007";}
.ico-indent-left:before, .ico-indent-left:after {content: "\e008";}
.ico-indent-right:before, .ico-indent-right:after {content: "\e009";}
.ico-lifebuoy:before, .ico-lifebuoy:after {content: "\e00a";}
.ico-mouse:before, .ico-mouse:after {content: "\e00b";}
.ico-bag:before, .ico-bag:after {content: "\e00c";}
.ico-dot:before, .ico-dot:after {content: "\e00d";}
.ico-dot-2:before, .ico-dot-2:after {content: "\e00e";}
.ico-dot-3:before, .ico-dot-3:after {content: "\e00f";}
.ico-off:before, .ico-off:after {content: "\e010";}
.ico-road:before, .ico-road:after {content: "\e011";}
.ico-list-alt:before, .ico-list-alt:after {content: "\e012";}
.ico-qrcode:before, .ico-qrcode:after {content: "\e013";}
.ico-barcode:before, .ico-barcode:after {content: "\e014";}
.ico-ajust:before, .ico-ajust:after {content: "\e015";}
.ico-tint:before, .ico-tint:after {content: "\e016";}
.ico-layers:before, .ico-layers:after {content: "\e017";}
.ico-layers-alt:before, .ico-layers-alt:after {content: "\e018";}
.ico-magnet:before, .ico-magnet:after {content: "\e019";}
.ico-chart-pir:before, .ico-chart-pir:after {content: "\e01a";}
.ico-cc:before, .ico-cc:after {content: "\e01b";}
.ico-cw-circle:before, .ico-cw-circle:after {content: "\e01c";}
.ico-updown-circle:before, .ico-updown-circle:after {content: "\e01d";}
.ico-terminal:before, .ico-terminal:after {content: "\e01e";}
.ico-mobile-alt:before, .ico-mobile-alt:after {content: "\e01f";}
.ico-tablet:before, .ico-tablet:after {content: "\e020";}
.ico-easel:before, .ico-easel:after {content: "\e021";}
.ico-puzzle:before, .ico-puzzle:after {content: "\e022";}
.ico-thumbs-up-1:before, .ico-thumbs-up-1:after {content: "\e023";}
.ico-down-open-1:before, .ico-down-open-1:after {content: "\e024";}
.ico-fast-bw-1:before, .ico-fast-bw-1:after {content: "\e025";}
.ico-left-open-1:before, .ico-left-open-1:after {content: "\e026";}
.ico-basket-1:before, .ico-basket-1:after {content: "\e027";}
.ico-cancel-1:before, .ico-cancel-1:after {content: "\e028";}
.ico-chat-4:before, .ico-chat-4:after {content: "\e029";}
.ico-cancel-circle-1:before, .ico-cancel-circle-1:after {content: "\e02a";}
.ico-download-1:before, .ico-download-1:after {content: "\e02b";}
.ico-calendar-1:before, .ico-calendar-1:after {content: "\e02c";}
.ico-target-1:before, .ico-target-1:after {content: "\e02d";}
.ico-up-open-1:before, .ico-up-open-1:after {content: "\e02e";}
.ico-upload-1:before, .ico-upload-1:after {content: "\e02f";}
.ico-right-open-1:before, .ico-right-open-1:after {content: "\e030";}
.ico-mail-1:before, .ico-mail-1:after {content: "\e031";}
.ico-heart-1:before, .ico-heart-1:after {content: "\e032";}
.ico-plus:before, .ico-plus:after {content: "\e033";}
.ico-plus-1:before, .ico-plus-1:after {content: "\21";}
.ico-forward-1:before, .ico-forward-1:after {content: "\e034";}
.ico-down-1:before, .ico-down-1:after {content: "\e035";}
.ico-inbox-1:before, .ico-inbox-1:after {content: "\e036";}
.ico-left-1:before, .ico-left-1:after {content: "\e037";}
.ico-volume-off:before, .ico-volume-off:after {content: "\e038";}
.ico-link-out:before, .ico-link-out:after {content: "\e039";}
.ico-plus-circle-1:before, .ico-plus-circle-1:after {content: "\e03a";}
.ico-heart-empty:before, .ico-heart-empty:after {content: "\e03b";}
.ico-star:before, .ico-star:after {content: "\e03c";}
.ico-hifen:before, .ico-hifen:after {content: "\e03d";}
.ico-pencil:before, .ico-pencil:after {content: "\e03e";}
.ico-right-1:before, .ico-right-1:after {content: "\e03f";}
.ico-flight:before, .ico-flight:after {content: "\e040";}
.ico-leaf:before, .ico-leaf:after {content: "\e041";}
.ico-up-1:before, .ico-up-1:after {content: "\e042";}
.ico-volume-on:before, .ico-volume-on:after {content: "\e043";}
.ico-minus-circle:before, .ico-minus-circle:after {content: "\e044";}
.ico-star-empty:before, .ico-star-empty:after {content: "\e045";}
.ico-help-circle:before, .ico-help-circle:after {content: "\e046";}
.ico-print-1:before, .ico-print-1:after {content: "\e047";}
.ico-cw-1:before, .ico-cw-1:after {content: "\e048";}
.ico-clock:before, .ico-clock:after {content: "\e049";}
.ico-upgrade:before, .ico-upgrade:after {content: "\e04a";}
.ico-info-circle:before, .ico-info-circle:after {content: "\e04b";}
.ico-user:before, .ico-user:after {content: "\e04c";}
.ico-video:before, .ico-video:after {content: "\e04d";}
.ico-home:before, .ico-home:after {content: "\e04e";}
.ico-chat:before, .ico-chat:after {content: "\e04f";}
.ico-chats:before, .ico-chats:after {content: "\e050";}
.ico-link:before, .ico-link:after {content: "\e051";}
.ico-lock:before, .ico-lock:after {content: "\e052";}
.ico-attention-empty:before, .ico-attention-empty:after {content: "\e053";}
.ico-resize-small:before, .ico-resize-small:after {content: "\e054";}
.ico-resize-full:before, .ico-resize-full:after {content: "\e055";}
.ico-block:before, .ico-block:after {content: "\e056";}
.ico-shuffle:before, .ico-shuffle:after {content: "\e057";}
.ico-play:before, .ico-play:after {content: "\e058";}
.ico-pause:before, .ico-pause:after {content: "\e059";}
.ico-stop:before, .ico-stop:after {content: "\e05a";}
.ico-location:before, .ico-location:after {content: "\e05b";}
.ico-eye:before, .ico-eye:after {content: "\e05c";}
.ico-camera:before, .ico-camera:after {content: "\e05d";}
.ico-photo:before, .ico-photo:after {content: "\e05e";}
.ico-th:before, .ico-th:after {content: "\e05f";}
.ico-tag:before, .ico-tag:after {content: "\e060";}
.ico-trash:before, .ico-trash:after {content: "\e061";}
.ico-to-end:before, .ico-to-end:after {content: "\e062";}
.ico-doc-inv:before, .ico-doc-inv:after {content: "\e063";}
.ico-folder-inv:before, .ico-folder-inv:after {content: "\e064";}
.ico-list:before, .ico-list:after {content: "\e065";}
.ico-to-start:before, .ico-to-start:after {content: "\e066";}
.ico-down-circle:before, .ico-down-circle:after {content: "\e067";}
.ico-mark:before, .ico-mark:after {content: "\e068";}
.ico-check-1:before, .ico-check-1:after {content: "\e069";}
.ico-flag:before, .ico-flag:after {content: "\e06a";}
.ico-config:before, .ico-config:after {content: "\e06b";}
.ico-up-circle:before, .ico-up-circle:after {content: "\e06c";}
.ico-fast-fw-1:before, .ico-fast-fw-1:after {content: "\e06d";}
.ico-chart-bar:before, .ico-chart-bar:after {content: "\e06e";}
.ico-thumbs-down:before, .ico-thumbs-down:after {content: "\e06f";}
.ico-doc-down:before, .ico-doc-down:after {content: "\e070";}
.ico-cloud:before, .ico-cloud:after {content: "\e071";}
.ico-pencil:before, .ico-pencil:after {content: "\e072";}
.ico-search:before, .ico-search:after {content: "\e073";}
.ico-book-1:before, .ico-book-1:after {content: "\e074";}
.ico-cloud-up:before, .ico-cloud-up:after {content: "\e075";}
.ico-right-open-2:before, .ico-right-open-2:after {content: "\e076";}
.ico-left-open-2:before, .ico-left-open-2:after {content: "\e077";}
.ico-users:before, .ico-users:after {content: "\e078";}
.ico-resize-vertical-1:before, .ico-resize-vertical-1:after {content: "\e079";}
.ico-resize-horizontal-1:before, .ico-resize-horizontal-1:after {content: "\e07a";}
.ico-doc-inv:before, .ico-doc-inv:after {content: "\e07b";}
.ico-key:before, .ico-key:after {content: "\e07c";}
.ico-book:before, .ico-book:after {content: "\e07d";}
.ico-chat-1:before, .ico-chat-1:after {content: "\e07e";}
.ico-chat-2:before, .ico-chat-2:after {content: "\e07f";}
.ico-mouse:before, .ico-mouse:after {content: "\e080";}
.ico-thumbs-down-inv:before, .ico-thumbs-down-inv:after {content: "\e081";}
.ico-thumbs-up-inv:before, .ico-thumbs-up-inv:after {content: "\e082";}
.ico-archive:before, .ico-archive:after {content: "\e083";}
.ico-tag-inv:before, .ico-tag-inv:after {content: "\e084";}
.ico-download-1:before, .ico-download-1:after {content: "\e085";}
.ico-upload-1:before, .ico-upload-1:after {content: "\e086";}
.ico-phone:before, .ico-phone:after {content: "\e087";}
.ico-cd:before, .ico-cd:after {content: "\e088";}
.ico-shuffle-1:before, .ico-shuffle-1:after {content: "\e089";}
.ico-microfone:before, .ico-microfone:after {content: "\e08a";}
.ico-flash-1:before, .ico-flash-1:after {content: "\e08b";}
.ico-chart-circle:before, .ico-chart-circle:after {content: "\e08c";}
.ico-chart-2:before, .ico-chart-2:after {content: "\e08d";}
.ico-wifi:before, .ico-wifi:after {content: "\e08e";}
.ico-mail-1-inv:before, .ico-mail-1-inv:after {content: "\e08f";}
.ico-signal:before, .ico-signal:after {content: "\e090";}
.ico-cart:before, .ico-cart:after {content: "\e091";}
.ico-popup-2:before, .ico-popup-2:after {content: "\e092";}
.ico-facebook1:before, .ico-facebook1:after {content: "\e093";}
.ico-facebook:before, .ico-facebook:after {content: "\e094";}
.ico-twitter:before, .ico-twitter:after {content: "\e095";}
.ico-vimeo:before, .ico-vimeo:after {content: "\e096";}
.ico-twitter1:before, .ico-twitter1:after {content: "\e097";}
.ico-gplus:before, .ico-gplus:after {content: "\e098";}
.ico-github:before, .ico-github:after {content: "\e099";}
.ico-skype:before, .ico-skype:after {content: "\e09a";}
.ico-icq:before, .ico-icq:after {content: "\e09b";}
.ico-blogger:before, .ico-blogger:after {content: "\e09c";}
.ico-odnoklassniki:before, .ico-odnoklassniki:after {content: "\e09d";}
.ico-odnoklassniki-1:before, .ico-odnoklassniki-1:after {content: "\e09e";}
.ico-down-circle:before, .ico-down-circle:after {content: "\e09f";}
.ico-up-circle:before, .ico-up-circle:after {content: "\e0a1";}
.ico-left-circle:before, .ico-left-circle:after {content: "\e0a0";}
.ico-right-circle:before, .ico-right-circle:after {content: "\e0a2";}
.ico-move:before, .ico-move:after {content: "\e0a3";}
.ico-twitter-old:before, .ico-twitter-old:after {content: "\e0a4";}
.ico-rsocial:before, .ico-rsocial:after {content: "\e0a5";}
.ico-rsocial-1:before, .ico-rsocial-1:after {content: "\e0a6";}
.ico-git:before, .ico-git:after {content: "\e0a7";}
.ico-vimeo-1:before, .ico-vimeo-1:after {content: "\e0a8";}
.ico-gcircle:before, .ico-gcircle:after {content: "\e0a9";}
.ico-tumblr:before, .ico-tumblr:after {content: "\e0aa";}
.ico-world:before, .ico-world:after {content: "\e0ab";}
.ico-pictures:before, .ico-pictures:after {content: "\e0ac";}
.ico-glass:before, .ico-glass:after {content: "\e0ad";}
.ico-gift:before, .ico-gift:after {content: "\e0ae";}
.ico-mic:before, .ico-mic:after {content: "\e0af";}
.ico-videocam:before, .ico-videocam:after {content: "\e0b0";}
.ico-headphones:before, .ico-headphones:after {content: "\e0b1";}
.ico-cup:before, .ico-cup:after {content: "\e0b2";}
.ico-cup-2:before, .ico-cup-2:after {content: "\e0b3";}
.ico-thumbs-up-1:before, .ico-thumbs-up-1:after {content: "\e0b4";}
.ico-thumbs-down-1-inv:before, .ico-thumbs-down-1-inv:after {content: "\e0b5";}
.ico-users-1:before, .ico-users-1:after {content: "\e0b6";}
.ico-money:before, .ico-money:after {content: "\e0b7";}
.ico-dollar:before, .ico-dollar:after {content: "\e0b8";}
.ico-monitor:before, .ico-monitor:after {content: "\e0b9";}
.ico-cd:before, .ico-cd:after {content: "\e0ba";}
.ico-folder:before, .ico-folder:after {content: "\e0bb";}
.ico-folder-open:before, .ico-folder-open:after {content: "\e0bc";}
.ico-doc-text:before, .ico-doc-text:after {content: "\e0bd";}
.ico-stat:before, .ico-stat:after {content: "\e0be";}
.ico-stat-1:before, .ico-stat-1:after {content: "\e0bf";}
.ico-pin:before, .ico-pin:after {content: "\e0c0";}
.ico-attach:before, .ico-attach:after {content: "\e0c1";}
.ico-book-1:before, .ico-book-1:after {content: "\e0c2";}
.ico-book-2:before, .ico-book-2:after {content: "\e0c3";}
.ico-book-open:before, .ico-book-open:after {content: "\e0c4";}
.ico-phone-1:before, .ico-phone-1:after {content: "\e0c5";}
.ico-megaphone:before, .ico-megaphone:after {content: "\e0c6";}
.ico-upload:before, .ico-upload:after {content: "\e0c7";}
.ico-download:before, .ico-download:after {content: "\e0c8";}
.ico-box:before, .ico-box:after {content: "\e0c9";}
.ico-cellphone:before, .ico-cellphone:after {content: "\e0ca";}
.ico-signal-1:before, .ico-signal-1:after {content: "\e0cb";}
.ico-return:before, .ico-return:after {content: "\e0cc";}
.ico-volume-down:before, .ico-volume-down:after {content: "\e0cd";}
.ico-battery-full:before, .ico-battery-full:after {content: "\e0ce";}
.ico-search-1:before, .ico-search-1:after {content: "\e0cf";}
.ico-key-1:before, .ico-key-1:after {content: "\e0d0";}
.ico-lock-1:before, .ico-lock-1:after {content: "\e0d1";}
.ico-unlock-1:before, .ico-unlock-1:after {content: "\e0d2";}
.ico-fire:before, .ico-fire:after {content: "\e0d3";}
.ico-wrench:before, .ico-wrench:after {content: "\e0d4";}
.ico-bug:before, .ico-bug:after {content: "\e0d5";}
.ico-bookmark:before, .ico-bookmark:after {content: "\e0d6";}
.ico-blocked:before, .ico-blocked:after {content: "\e0d7";}
.ico-wrench:before, .ico-wrench:after {content: "\e0d8";}
.ico-code:before, .ico-code:after {content: "\e0d9";}
.ico-rocket:before, .ico-rocket:after {content: "\e0da";}
.ico-news-journal:before, .ico-news-journal:after {content: "\e0ea";}
.ico-download-message:before, .ico-download-message:after {content: "\e0eb";}
.ico-monitor-download:before, .ico-monitor-download:after {content: "\e0ec";}
.ico-monitor-screen:before, .ico-monitor-screen:after {content: "\e0ed";}
.ico-monitor-code:before, .ico-monitor-code:after {content: "\e0ee";}
.ico-archive-file:before, .ico-archive-file:after {content: "\e0ef";}
.ico-bug:before, .ico-bug:after {content: "\e0d5";}
.ico-bookmark:before, .ico-bookmark:after {content: "\e0d6";}
.ico-blocked:before, .ico-blocked:after {content: "\e0d7";}
.ico-wrench:before, .ico-wrench:after {content: "\e0d8";}
.ico-code:before, .ico-code:after {content: "\e0d9";}
.ico-rocket:before, .ico-rocket:after {content: "\e0da";}
.ico-cloud:before, .ico-cloud:after {content: "\f0c2";}
.ico-cloud-2:before, .ico-cloud-2:after {content: "\e0f0";}
.ico-cloud-3:before, .ico-cloud-3:after {content: "\e0f1";}
.ico-chart:before, .ico-chart:after {content: "\e0e9";}
.ico-chart-2:before, .ico-chart-2:after {content: "\e0e8";}
.ico-chart-3:before, .ico-chart-3:after {content: "\e0e7";}
.ico-chart-4:before, .ico-chart-4:after {content: "\e0e6";}
.ico-chart-5:before, .ico-chart-5:after {content: "\e0e5";}
.ico-chart-6:before, .ico-chart-6:after {content: "\e0e4";}
.ico-signup:before, .ico-signup:after {content: "\e0e3";}
.ico-th:before, .ico-th:after {content: "\f00a";}
.ico-calendar:before, .ico-calendar:after {content: "\e0e2";}
.ico-pie:before, .ico-pie:after {content: "\e0e1";}
.ico-table:before, .ico-table:after {content: "\e0e0";}
.ico-grid:before, .ico-grid:after {content: "\e0df";}
.ico-bars:before, .ico-bars:after {content: "\e0de";}
.ico-stats:before, .ico-stats:after {content: "\e0dd";}
.ico-image:before, .ico-image:after {content: "\e0dc";}
.ico-chart-alt:before, .ico-chart-alt:after {content: "\e0db";}
.ico-chart-7:before, .ico-chart-7:after {content: "\f0000";}
.ico-calendar-check:before, .ico-calendar-check:after {content: "\e0f2";}
.ico-calendar-more:before, .ico-calendar-more:after {content: "\e0f3";}
.ico-lamp:before, .ico-lamp:after {content: "\e0f4";}
.ico-user-group:before, .ico-user-group:after {content: "\e0f5";}
.ico-user-star:before, .ico-user-star:after {content: "\e0f6";}
.ico-pencil-edit:before, .ico-pencil-edit:after {content: "\e0f7";}
.ico-archive-file:before, .ico-archive-file:after {content: "\e0ef"}
.ico-monitor-code:before, .ico-monitor-code:after {content: "\e0ee"}
.ico-monitor-screen:before, .ico-monitor-screen:after {content: "\e0ed"}
.ico-monitor-download:before, .ico-monitor-download:after {content: "\e0ec"}
.ico-download-message:before, .ico-download-message:after {content: "\e0eb"}
.ico-news-journal:before, .ico-news-journal:after {content: "\e0ea"}
.ico-chart:before, .ico-chart:after {content: "\e0e9"}
.ico-chart-2:before, .ico-chart-2:after {content: "\e0e8"}
.ico-chart-3:before, .ico-chart-3:after {content: "\e0e7"}
.ico-chart-4:before, .ico-chart-4:after {content: "\e0e6"}
.ico-chart-5:before, .ico-chart-5:after {content: "\e0e5"}
.ico-chart-6:before, .ico-chart-6:after {content: "\e0e4"}
.ico-signup:before, .ico-signup:after {content: "\e0e3"}
.ico-th:before, .ico-th:after {content: "\f00a"}
.ico-calendar:before, .ico-calendar:after {content: "\e0e2"}
.ico-pie:before, .ico-pie:after {content: "\e0e1"}
.ico-table:before, .ico-table:after {content: "\e0e0"}
.ico-grid:before, .ico-grid:after {content: "\e0df"}
.ico-bars:before, .ico-bars:after {content: "\e0de"}
.ico-stats:before, .ico-stats:after {content: "\e0dd"}
.ico-image:before, .ico-image:after {content: "\e0dc"}
.ico-chart-alt:before, .ico-chart-alt:after {content: "\e0db"}
.ico-chart-7:before, .ico-chart-7:after {content: "\f0000"}
.ico-bug:before, .ico-bug:after {content: "\e0d5"}
.ico-bookmark:before, .ico-bookmark:after {content: "\e0d6"}
.ico-blocked:before, .ico-blocked:after {content: "\e0d7"}
.ico-wrench:before, .ico-wrench:after {content: "\e0d8"}
.ico-code:before, .ico-code:after {content: "\e0d9"}
.ico-rocket:before, .ico-rocket:after {content: "\e0da"}
.ico-cloud:before, .ico-cloud:after {content: "\f0c2"}
.ico-cloud-2:before, .ico-cloud-2:after {content: "\e0f0"}
.ico-cloud-3:before, .ico-cloud-3:after {content: "\e0f1"}
.ico-calendar-check:before, .ico-calendar-check:after {content: "\e0f2"}
.ico-calendar-more:before, .ico-calendar-more:after {content: "\e0f3"}
.ico-lamp:before, .ico-lamp:after {content: "\e0f4"}
.ico-user-group:before, .ico-user-group:after {content: "\e0f5"}
.ico-user-star:before, .ico-user-star:after {content: "\e0f6"}
.ico-pencil-edit:before, .ico-pencil-edit:after {content: "\e0f7"}
.ico-lab:before, .ico-lab:after {content: "\e10b"}
.ico-magnet:before, .ico-magnet:after {content: "\e10c"}
.ico-user:before, .ico-user:after {content: "\e10d"}
.ico-users:before, .ico-users:after {content: "\e10e"}
.ico-users-2:before, .ico-users-2:after {content: "\e10f"}
.ico-user-2:before, .ico-user-2:after {content: "\e110"}
.ico-bubbles:before, .ico-bubbles:after {content: "\e111"}
.ico-bubbles-2:before, .ico-bubbles-2:after {content: "\e112"}
.ico-bubbles-3:before, .ico-bubbles-3:after {content: "\e113"}
.ico-bubble:before, .ico-bubble:after {content: "\e114"}
.ico-bubbles-4:before, .ico-bubbles-4:after {content: "\e115"}
.ico-bubble-2:before, .ico-bubble-2:after {content: "\e116"}
.ico-thumbs-up:before, .ico-thumbs-up:after {content: "\e117"}
.ico-thumbs-up-2:before, .ico-thumbs-up-2:after {content: "\e118"}
.ico-heart:before, .ico-heart:after {content: "\e119"}
.ico-heart-2:before, .ico-heart-2:after {content: "\e11a"}
.ico-heart-broken:before, .ico-heart-broken:after {content: "\e11b"}
.ico-star:before, .ico-star:after {content: "\e11c"}
.ico-star-2:before, .ico-star-2:after {content: "\e11d"}
.ico-star-3:before, .ico-star-3:after {content: "\e11e"}
.ico-pakman:before, .ico-pakman:after {content: "\e11f"}
.ico-joystick:before, .ico-joystick:after {content: "\e120"}
.ico-walkman:before, .ico-walkman:after {content: "\e121"}
.ico-cassette:before, .ico-cassette:after {content: "\e122"}
.ico-chris-spittles-save:before, .ico-chris-spittles-save:after {content: "\e123"}
.ico-batman:before, .ico-batman:after {content: "\e124"}
.ico-derek-mui-invader:before, .ico-derek-mui-invader:after {content: "\e125"}
.ico-cesgra-globe:before, .ico-cesgra-globe:after {content: "\e126"}
.ico-moustache:before, .ico-moustache:after {content: "\e127"}
.ico-spectacles:before, .ico-spectacles:after {content: "\e128"}
.ico-derek-mui-tie:before, .ico-derek-mui-tie:after {content: "\e129"}
.ico-log-out:before, .ico-log-out:after {content: "\e12a"}
.ico-log-in:before, .ico-log-in:after {content: "\e12b"}
.ico-qrcode:before, .ico-qrcode:after {content: "\e12c"}
.ico-barcode:before, .ico-barcode:after {content: "\e12d"}
.ico-ticket:before, .ico-ticket:after {content: "\e12e"}
.ico-safari:before, .ico-safari:after {content: "\e12f"}
.ico-opera:before, .ico-opera:after {content: "\e130"}
.ico-IE:before, .ico-IE:after {content: "\e131"}
.ico-firefox:before, .ico-firefox:after {content: "\e132"}
.ico-chrome:before, .ico-chrome:after {content: "\e133"}
.ico-css3:before, .ico-css3:after {content: "\e134"}
.ico-html5:before, .ico-html5:after {content: "\e135"}
.ico-html5-2:before, .ico-html5-2:after {content: "\e136"}
.ico-file-css:before, .ico-file-css:after {content: "\e137"}
.ico-file-xml:before, .ico-file-xml:after {content: "\e138"}
.ico-tux:before, .ico-tux:after {content: "\e139"}
.ico-apple:before, .ico-apple:after {content: "\e13a"}
.ico-finder:before, .ico-finder:after {content: "\e13b"}
.ico-android:before, .ico-android:after {content: "\e13c"}
.ico-windows:before, .ico-windows:after {content: "\e13d"}
.ico-windows8:before, .ico-windows8:after {content: "\e13e"}
.ico-eye:before, .ico-eye:after {content: "\e13f"}
.ico-eye-blocked:before, .ico-eye-blocked:after {content: "\e140"}
.ico-evil:before, .ico-evil:after {content: "\e141"}
.ico-angry:before, .ico-angry:after {content: "\e142"}
.ico-angry-2:before, .ico-angry-2:after {content: "\e143"}
.ico-cool:before, .ico-cool:after {content: "\e144"}
.ico-cool-2:before, .ico-cool-2:after {content: "\e145"}
.ico-grin:before, .ico-grin:after {content: "\e146"}
.ico-grin-2:before, .ico-grin-2:after {content: "\e147"}
.ico-wink:before, .ico-wink:after {content: "\e148"}
.ico-wink-2:before, .ico-wink-2:after {content: "\e149"}
.ico-sad:before, .ico-sad:after {content: "\e14a"}
.ico-sad-2:before, .ico-sad-2:after {content: "\e14b"}
.ico-accessibility:before, .ico-accessibility:after {content: "\e14c"}

.ico-highlight-mail:before, .ico-highlight-mail:after {content: "\e0f8";}
.ico-highlight-database:before, .ico-highlight-database:after {content: "\e0f9";}
.ico-highlight-theme:before, .ico-highlight-theme:after {content: "\e0fa";}
.ico-highlight-sentmail:before, .ico-highlight-sentmail:after {content: "\e0fb";}
.ico-highlight-upload:before, .ico-highlight-upload:after {content: "\e0fc";}
.ico-highlight-stats:before, .ico-highlight-stats:after {content: "\e0fd";}
.ico-highlight-config:before, .ico-highlight-config:after {content: "\e0fe";}
.ico-highlight-download:before, .ico-highlight-download:after {content: "\e0ff";}
.ico-highlight-edit:before, .ico-highlight-edit:after {content: "\e100";}
.ico-highlight-contact:before, .ico-highlight-contact:after {content: "\e101";}
.ico-highlight-pencil:before, .ico-highlight-pencil:after {content: "\e102";}
.ico-highlight-alert:before, .ico-highlight-alert:after {content: "\e103";}
.ico-highlight-add:before, .ico-highlight-add:after {content: "\e104";}