@import colors

$information-phone: "screen and (min-width: 600px)"

.show-menu
  display: inline-block
  position: relative
  text-indent: -9999px
  background-color: transparent
  border: none
  height: 2rem
  margin-right: 1rem
  &:before
    content: ""
    position: absolute
    left: 0
    top: 0px
    width: 2rem
    height: 0.3rem
    background: $base2
    box-shadow: 0 0.30em 0 0 $base2, 0 0.6em 0 0 $base2
    font-size: 2rem

@media #{$information-phone}
  .show-menu
    display: none
  .nav-menu
    position: relative


nav.menu
  background: $base2
  width: 13rem
  height: calc(100% - 3rem)
  float: left
  overflow: hidden
  position: absolute
  z-index: 1
  padding: 1rem

  ul
    list-style: none
  li
    border-bottom: 1px solid $base3
  a
    display: block
    font-weight: 500
    font-size: 1rem
    line-height: 1.5rem
    color: #fff
    text-decoration: none
    padding: .5rem
    &:hover
      background-color: $base3
      color: $base1
