*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

[hidden], template
  display: none

code, kbd, pre, samp
  font-family: monospace, monospace

button, html input[type="button"], input[type="reset"], input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

button[disabled], html input[disabled]
  cursor: default

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

*:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box