---
title: HTML
description: Escreva HTML de maneira organizada, semântica e escalável
---

<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <h2 class="doc-title-3">Estrutura básica para iniciar um HTML</h2>
  <p>Utilize esse código para iniciar seu HTML.</p>
<code class="language-html">
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title></title>
    <meta charset="utf-8">
  </head>
  <body>
  ...
  </body>
</html>
</code>

  <h2 class="doc-title-3">Identação</h2>
  <p>Escolher entre tabs e espaços sempre é uma dúvida terrível, mesmo assim, quando se trata de HTML, o padrão sempre foi TABs.  </p>
  <p>Usamos TABs para HTML.</p>

  <h2 class="doc-title-3"></h2>
  <p></p>

  <h2 class="doc-title-3">Aspas</h2>
  <p>Utilizamos ASPAS DUPLAS.</p>
  <code class="language-html">
<div class="classe"></div>
<a href="http://..."></a>
  </code>

  <h2 class="doc-title-3">Encoding</h2>
  <p>Eu sei que eu não preciso dizer, mas quem sabe, não é?</p>
  <p>O encoding utilizado é o padrão da web inteira: <code>UTF-8.</code></p>
  <code class="language-html">
<meta charset="utf-8">
  </code>
</section>
