/*
 *= require locastyle_head
 *
 VENDOR
 *= require bootstrap/css/bootstrap

 *= require deprecated
 *= require colors/colors
 *= require fonts
 *= require collapse
 *= require tabs
 *= require toolbar
 *= require icons
 *= require botoes
 *= require header
 *= require footer
 *= require forms
 *= require modal
 *= require sidebar
 *= require tables
 *= require passos
 *= require grid
 *= require select2
 *= require chamadas
 *= require mobile
 *= require base
 *= require classesfuncionais
 *= require print
*/
