html, body {height:100%;}
.geral {position: relative; height:100%; min-height:75%;}
#main {padding-top:25px; min-height:75%; position:relative; background:url(/img/bgDesgradeBody.png) repeat-X top;}
#main > .limite {padding-bottom:160px;}
.limite {
  margin: 0 auto;
}

.nofloat {float:none;}
.fright {float:right;}
.fleft {float:left;}

.cboth {clear:both;}
.cright {clear:right;}
.cleft {clear:left;}

.dblock {display:block;}
.dinline {display:inline; float:none;}
.dinlineblock {display:inline-block; float:none;}

.nomargin {margin:0;}
.nomarginleft {margin-left:0;}
.nomarginright {margin-right:0;}
.nomargintop {margin-top:0;}
.nomarginbottom {margin-bottom:0;}

.nopadding {padding:0;}
.nopaddingleft {padding-left:0;}
.nopaddingright {padding-right:0;}
.nopaddingtop {padding-top:0;}
.nopaddingbottom {padding-bottom:0;}

.txtLeft {text-align:left;}
.txtRight {text-align:right;}
.txtJustify {text-align:justify;}
.txtCenter {text-align:center;}

.widthAuto {width: auto;}

.noborder {border:none;}
.noborderright {border-right:none;}
.noborderleft {border-left:none;}
.noborderbottom {border-bottom:none;}
.nobordertop {border-top:none;}

/**
*** Clearfix
**/
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {
  content: " ";
  display:block;
}
.clearfix:after {clear: both;}

/**
*** Botões
**/
.btn {
  text-decoration:none; 
  font:normal 14px Ubuntu, verdana, arial, tahoma;
}

.btn.dropdown-toggle {padding:5px 8px;}

.modal .btn {margin:0 5px;}

.btn-primary {
  font-weight:400;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: -ms-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f8dc2), to(#3966a7));
  background-image: -webkit-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: -o-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: linear-gradient(top, #5f8dc2, #3966a7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f8dc2', endColorstr='#3966a7', GradientType=0);
  border-color: #4b7cb8 #4b7cb8 #4b7cb8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover {
  background-color:#4b7cb8;
  background-image:none;
}

.btn.close {
  opacity:1;
  color:#393939;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#CCC));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #CCC);
  background-image: -o-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: linear-gradient(top, #fcfcfc, #e9e9e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e9e9e9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border:1px solid #cccccc;
}

.btn.close:hover {
  background-color:#ebebeb;
  background-image:none;
}

/**
*** Text basic styles
**/
h1, h2, h3, h4, h5, h6 {color:#000;}
h1 {font: 26px UbuntuMedium, Ubuntu, arial, verdana, tahoma, sans-serif;}
h2 {font: 24px UbuntuLight, Ubuntu, arial, verdana, tahoma, sans-serif;}
h3 {font: 20px Ubuntu, arial, verdana, tahoma, sans-serif;}
h4 {font: 20px UbuntuLight, arial, verdana, tahoma, sans-serif;}
h5 {font: 15px UbuntuMedium, arial, verdana, tahoma, sans-serif;}
h6 {
    font: 14px Ubuntu, arial, verdana, tahoma, sans-serif;
    text-transform:inherit;
}

.titDots {
  padding:0 10px 12px;
  margin:0 0 15px;
  background:url(/img/titDots.png) repeat-X left bottom;
}

h1 + p {padding-top:10px;}

p {
  color:#767676;
  font:12px verdana, arial, tahoma, sans-serif;
}

a {text-decoration:none;}
a:hover {text-decoration:underline;}

#main.systemError {
  background:none;
  border-top:3px solid #CCC;
}

.headerContent {
  padding-bottom:17px;
}

.titError {
  background:url(/img/icoerro_404.png) no-repeat left center;
  padding:15px 0 15px 45px;
  margin:4px 0 10px;
  font:bold 20px verdana, arial, tahoma, sans-serif;
  color:#545454;
}

#main.systemError p, #main.systemError ol li {margin-left:45px;}

/**
*** LINKS COM SETINHA
**/
.lnkSeta {
  color:#666;
  font: 12px Ubuntu, verdana, arial, sans-serif;
  display:inline-block;
  padding:0;
  margin:5px 0;
  vertical-align: middle;
}
.lnkSeta:before {
  content: " ";
  margin-right:2px;
  display:inline-block;
  background:url(/img/setaRightBox.png) no-repeat 0 0;
  width:9px; height:9px;
}
.lnkSeta:hover {text-decoration:none; color:#000; background-position:0 -9px;}
.lnkSeta:hover:before {background-position:-9px 0;}

#rodape .lnkSeta.lnkSetaWhite {
  background:url(/img/setaRightBoxWhite.png) no-repeat left center !important;
  color:#FFF;
}
.lnkSeta.lnkSetaWhite:hover {background-position:left center; }

.actLnk .lnkSeta {
  border-right:1px solid #d3d3d3;
  padding-right: 10px;
  margin:0;
  margin-right: 5px;
}

.actLnk .lnkSeta:last-child {border-right:none; margin-right:0; padding-right:0;}

/** BOX COM FUNDO CINZA
*** geralmente tem um collapseGroup dentro
**/
.boxGray {
  background:#d5d5d5 url(/img/bgBoxGray.png) repeat-X top center;
  border-radius:3px;
  border:1px solid #e3e3e3;
  padding-bottom:3px;
  margin-bottom:40px;
}
.boxGray:after {content:" "; display:block; clear:both;}

.boxGray h2 {
  font-size: 24px;
  padding:10px 10px 0 15px; margin:0 0 0 -1px;
  background:url(/img/setaDetalheTit.png) no-repeat left 15px;
}

.boxGray p {
  font:12px verdana, arial, tahoma, sans-serif;
  color:#797979;
  margin:0;
  padding: 0 15px 11px 15px;
}

/** COLLAPSE
*** É o padrão do Bootstrap com algumas mudanças visuais
**/
.collapseGroup {padding-top:20px; margin:0 10px;}
.collapseGroup .details {
  background:#f1f1f1;
  padding:3px 7px;
  margin-bottom:5px;
  border-radius:3px;
  border:1px solid #d6d6d6;
}
.collapseGroup .details.active {background:#FFF;}

.collapseGroup summary {
  color:#545454;
  cursor:pointer;
  font-family:verdana;
  display:block;
  background:url(/img/setaCollapseBottom.png) no-repeat 99% center;
}
.collapseGroup summary.active { font-weight:bold;   background:url(/img/setaCollapseTop.png) no-repeat 99% 8px;}

.collapseGroup summary span {
  font:bold 18px Ubuntu;
  color:#777;
}

.collapseGroup .details p {padding:10px 30px;}

/**
*** PAGINACAO
**/
.pagination {padding:5px 0 0; margin:0; height:auto;}
.pagination ul {margin:0;box-shadow:none;}

.pagination a, .pagination .current {
  float:none;
  display:inline-block;
  line-height: 16px;
  padding: 0 5px;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  font-size: 11px;
  color:#797979;
}
.pagination li.first-child a, .pagination li.last-child a, .pagination .first a, .pagination .prev a, .pagination .next a, .pagination .last a {
  border:none;
  color:#666;
}
.pagination .first a, .pagination .last a {display:none;}

.pagination .prev a, .pagination .next a {background:url(/img/seta-pagination.png) no-repeat 0 0;}
.pagination .prev a {background-position:left 6px; padding-left:10px;}
.pagination .next a {background-position:right -13px; padding-right:10px;}

.pagination .current, .pagination .active a {
  color:#FFF;
  background-color:#666;
  background-image: linear-gradient(bottom, rgb(133,133,133) 21%, rgb(209,209,209) 100%);
  background-image: -o-linear-gradient(bottom, rgb(133,133,133) 21%, rgb(209,209,209) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(133,133,133) 21%, rgb(209,209,209) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(133,133,133) 21%, rgb(209,209,209) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(133,133,133) 21%, rgb(209,209,209) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.21, rgb(133,133,133)),
    color-stop(1, rgb(209,209,209))
  );
}

.pagination .disabled a {border:none;}

.navView .pagination {float:right;}
.tab-content .navView {
  margin:-10px 0 0;
  padding:10px 10px 15px;
}

/***
*** Actions Botoes
**/
.boxActions {
  border-top:5px solid #bfbfbf;
  background-color:transparent;
  padding:20px 0 20px 5px;
}

.boxActions .btn {display:inline-block; margin-right:15px; float:none;}

.btn-primary {font-weight:bold;}

/**
*** Listagem de meios de pagamentos e outras observações
**/
.listOptions {padding:0; margin:0;}

.listOptions li {
  list-style:none;
  border:1px solid #e5e5e5;
  position:relative;
  margin-bottom:10px;
  overflow:hidden;
  padding: 10px;
}
.listOptions.listagemMeiosPagtos li {
  background:url(/img/bgMeioPagamentoCinza.png) no-repeat left center;
  padding: 10px 10px 10px 25px;
}
.listOptions.listagemMeiosPagtos .pagtoAtivo {background:url(/img/bgMeioPagamentoVerde.png) no-repeat left center;}

.listOptions li img {
  float:left;
  margin-right:10px;
}

.listOptions h6 {
  margin:0;
  padding:3px 0;
  color:#2a2a2a;
  font:bold 12px verdana, arial, sans-serif;
  text-transform:inherit;
}

.listOptions p {margin:0;}
.listOptions p.pObs {
  background:#ececec;
  color:#767676;
  margin:5px 0 0 0;
  padding:5px;
  max-width:100%;
  overflow: hidden;
}

.listOptions p.pObs strong {color:#545454;}

.listOptions .actLnk.fright {
  position:absolute;
  top:5px; right:10px;
}


/**
*** Calendário - Datepicker
**/
.ui-datepicker {
  display: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  background-color:#FFF;
  background-color:rgba(255,255,255,0.9);
  padding:5px;
  width:200px;
  box-shadow:0 0 16px 5px rgba(0,0,0,0.3);
}

.ui-datepicker .ui-datepicker-header  {
  background-color:#CCC;
  padding:5px;
  font-weight:bold;
  border-radius:3px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  width:13px; height:13px;
  display:block;
  text-indent:-9999px;overflow:hidden;
  background-image:url(/img/jqui.png);
  background-position: no-repeat;
  cursor:pointer;
}
.ui-datepicker .ui-datepicker-prev {background-position: -81px -193px; float:left;} 
.ui-datepicker .ui-datepicker-next {background-position: -49px -193px; float:right;} 
.ui-datepicker-title {text-align:center; line-height:14px;}

.ui-datepicker table { width:100%;}
.ui-datepicker table td {text-align:center; border:1px solid #CCC;}
.ui-datepicker table td:empty {border:none;}
.ui-datepicker table td a {font-size:11px; display:block; color:#333; text-decoration:none;}
.ui-datepicker table td a:hover {background-color:#EFEFEF;}
.alert .close {text-decoration:none;}

/** Pra mostrar a grid visualmente **/
.gridShow {
  width:988px; height:100%;
  margin:auto;
  background:url(/img/grid.png) repeat-Y;
  position: fixed;
  top:0; left:50%;
  margin-left:-494px;
  z-index:1000;
}

/***
**** CHAMADAS NO BOXGRAY
***/
.chamadasBox {margin:0 0 0 25px;}

.chamadasBox div {
  width:30%;
  min-height:250px;
  float:left;
  text-align:center;
  border:3px solid #ababab;
  border-radius:10px;
  margin:10px 20px 20px 0;
  padding:0;
  background:#f4f4f4 url(/img/bgChamadasBox.png) repeat-X center bottom;
}

.chamadasBox div:last-child {margin-right:0;}

.chamadasBox div:hover {
  border-color:#98b67f;
  background:#f1f6e8 url(/img/bgChamadasBoxGreen.png) repeat-X center bottom;
}

.chamadasBox h3 {
  text-transform:uppercase; 
  font:100 20px Ubuntu, verdana, arial, tahoma, sans-serif; 
  margin:0 auto;
}
.chamadasBox h3 a {
  padding-top:15px;
  color:#1a2609;
  display:block;
  max-width: 250px;
  margin: 0 auto;
}

.chamadasBox [class^="tit"] a:before {
  content:" ";
  display:block;
  width:100px; height:100px;
  background-position: center top;
  background-repeat:no-repeat;
  margin:0 auto 10px;
}

.chamadasBox h3.titResults a:before {background-image:url(/img/titIcoResults.png);}
.chamadasBox h3.titMoreUser a:before {background-image:url(/img/titIcoMoreUsers.png);}
.chamadasBox h3.titMessage a:before {background-image:url(/img/titIcoMessage.png);}

.chamadasBox div:hover a:before,
.chamadasBox h3.titResults a:hover:before,
.chamadasBox h3.titMoreUser a:hover:before,
.chamadasBox h3.titMessage a:hover:before {background-position:center -121px;}

.chamadasBox a:hover {text-decoration:none;}

.chamadasBox div p {
  font: 12px verdana, arial, tahoma, sans-serif; 
  margin:0 auto;
  color:#767676;
  padding:0;
}

.chamadasBox div p a {
  color:#767676;
  display:block;
  padding-bottom:20px;
  padding:10px 5px 15px;
}

/*** statusMessageBox
**** Usado inicialmente na home de Email Marketing
***/
.statusMessageInfo .lnkSeta {margin-left:10px;}
.statusMessageBox {
  list-style:none;
  border:1px solid #e5e5e5;
  border-radius:3px;
  margin:0 10px 5px;
  font-family:verdana;
}

.statusMessageBox li:first-child {text-align:center;}
.statusMessageBox li {
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:middle;
  border-right:1px solid #e5e5e5;
  margin-right:5px;
  padding:13px 5px 12px 0;
  min-width:65px;
}

.statusMessageBox h6 {
  color:#767676;
  font:11px verdana, tahoma, arial, helvetica, sans-serif;
}
.statusMessageBox p {margin:0; color:#2a2a2a;}
.statusMessageBox b {
  font:bold 15px verdana, tahoma, arial, helvetica, sans-serif;
  color:#2a2a2a;
}
.statusMessageBox .countViews h6 {color:rgba(0,0,0,0.5);}
.statusMessageBox .countViews {
  margin:2px;
  min-width:102px;
  position:relative;
  border-right:none;
  padding:9px 8px 9px 0;
  text-align:center;
  background-color:#d5e6bc;
  background-image: linear-gradient(bottom, rgb(213,230,188) 37%, rgb(233,242,216) 100%);
  background-image: -o-linear-gradient(bottom, rgb(213,230,188) 37%, rgb(233,242,216) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(213,230,188) 37%, rgb(233,242,216) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(213,230,188) 37%, rgb(233,242,216) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(213,230,188) 37%, rgb(233,242,216) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(213,230,188)),
    color-stop(1, rgb(233,242,216))
  );
}
.statusMessageBox .countViews:after {
  content:" ";
  position:absolute;
  top:0; right:0;
  width:7px; height:49px;
  background:url(/img/bgCountViewSeta.png) left center;
}

.statusMessageBox .overflowMessage {overflow:hidden; position:relative; min-width:10%; max-width:40%;}
.overflowMessage + .overflowMessage {border-right:none; margin-right:0; width:29%;}
.statusMessageBox .overflowMessage p {width:10000px;}

.overflowMessage:after {
  content:" ";
  display:block;
  width:25px;
  position:absolute;
  top:0; right:0;
  border-right:10px solid #FFF;
  height:200px;
  background:url(/img/whiteGradientEnd.png) repeat-Y right center;
}

.dotsSep {
  height: 5px;
  background: url(/img/titDots.png);
  margin:20px 0;
}

/*** BREADCRUMB ***/
.breadcrumb {
  background:none;
  border:none;
  border-radius:0;
  box-shadow:none;
  margin:-20px 0 37px;
  padding:7px 11px 2px;
  color:#767676;
  font:11px verdana, tahoma, arial, helvetica, sans-serif;
  border-bottom:1px solid #d4d4d4;
  cursor: default;
}
.breadcrumb li {margin-right:10px;}
.breadcrumb li:before {
  background:url(/img/miniArrows.png) no-repeat;
  width:3px; height:4px;
  display:inline-block;
  vertical-align:middle;
  content:" ";
  margin-right:2px;
  position:relative; top:-2px;
}
.breadcrumb li:hover:before {background-position:-3px 0;}

.breadcrumb a {color:#767676; text-decoration:none;}
.breadcrumb a:hover {color:#333; text-decoration:underline;}

/*** PROGRESS BAR 
.progressBar {
  position:relative;
  font:8px verdana, tahoma, arial, sans-serif;
  color:#FFF;
}
progress {
  font:8px verdana, tahoma, arial, sans-serif;
  color:#FFF;
  text-align:center;
  display:inline-block;
  border:1px solid #ddd;
  border-radius:3px;
  padding:7px 5px;
  background:white;
  -webkit-animation:progressBg 330s linear infinite;
}
@-webkit-keyframes progressBg {
  from {background-position:0 0;}
  to {background-position:3000px 0;}
}

.progressBar progress strong {display:none;}
.progressBar strong {
  position:absolute; top:-4px; left:0;
  width:100%;
  text-align:center;
  color:#FFF;
}

.colorGreen progress{
  background:url(/img/progressGreen.png);
}***/

