html, body {height:100%;}
#main {padding-top:25px; min-height:75%; position:relative; background:url(/img/bgDesgradeBody.png) repeat-X top;}
#main > .limite {padding-bottom:160px; }
.limite {
  width:988px;
  margin: 0 auto;
}

.nofloat {float:none;}
.fright {float:right;}
.fleft {float:left;}

.cboth {clear:both;}
.cright {clear:right;}
.cleft {clear:left;}

.dblock {display:block;}
.dinline {display:inline;}
.dinlineblock {display:inline-block;}

.nomargin {margin:0;}
.nomarginleft {margin-left:0;}
.nomarginright {margin-right:0;}
.nomargintop {margin-top:0;}
.nomarginbottom {margin-bottom:0;}

.txtLeft {text-align:left;}
.txtRight {text-align:right;}
.txtJustify {text-align:justify;}
.txtCenter {text-align:center;}

/**
*** Clearfix
**/
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {
  content: " ";
  display:block;
}
.clearfix:after {clear: both;}

/**
*** Botões
**/
.btn {
  text-decoration:none; 
  font:normal 14px Ubuntu, verdana, arial, tahoma;
  margin:0 5px;
}

.btn-primary {
  font-weight:400;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: -ms-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f8dc2), to(#3966a7));
  background-image: -webkit-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: -o-linear-gradient(top, #5f8dc2, #3966a7);
  background-image: linear-gradient(top, #5f8dc2, #3966a7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f8dc2', endColorstr='#3966a7', GradientType=0);
  border-color: #4b7cb8 #4b7cb8 #4b7cb8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover {
  background-color:#4b7cb8;
  background-image:none;
}

.btn.close {
  opacity:1;
  color:#393939;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#CCC));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #CCC);
  background-image: -o-linear-gradient(top, #fcfcfc, #e9e9e9);
  background-image: linear-gradient(top, #fcfcfc, #e9e9e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e9e9e9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border:1px solid #cccccc;
}

.btn.close:hover {
  background-color:#ebebeb;
  background-image:none;
}

/**
*** Text basic styles
**/
h1, h2, h3, h4, h5, h6 {color:#000;}
h1 {
  font: 26px UbuntuMedium, Ubuntu, arial, verdana, tahoma, sans-serif;
}

h2 {
    font: 24px UbuntuLight, Ubuntu, arial, verdana, tahoma, sans-serif;
    /*margin:25px 0 10px;*/
}

h3 {
    font: 20px Ubuntu, arial, verdana, tahoma, sans-serif;
}

h4 {
    font: 20px UbuntuLight, arial, verdana, tahoma, sans-serif;
}

h5 {
    font: 15px UbuntuMedium, arial, verdana, tahoma, sans-serif;
}

h6 {
    font: 14px Ubuntu, arial, verdana, tahoma, sans-serif;
    text-transform:inherit;
}

p {
  color:#767676;
  font:12px verdana, arial, tahoma, sans-serif;
}

a {text-decoration:underline;}
a:hover {text-decoration:none;}

#main.systemError {
  background:none;
  border-top:3px solid #CCC;
  
}

.titError {
  background:url(/img/icoerro_404.png) no-repeat left center;
  padding:15px 0 15px 45px;
  margin:4px 0 10px;
  font:bold 20px verdana, arial, tahoma, sans-serif;
  color:#545454;
}

#main.systemError p, #main.systemError ol li {margin-left:45px;}

/**
*** LINKS COM SETINHA
**/
.lnkSeta {
  background:url(/img/setaRightBox.png) no-repeat left 2px;
  color:#3d6495;
  font: 12px Ubuntu, verdana, arial, sans-serif;
  display:inline-block;
  padding:0 0 0 12px;
  margin:5px 0;
  vertical-align: middle;
}

.lnkSeta:hover {text-decoration:none; color:#1e324a; background-position:left -25px;}

.lnkSetaWhite {
  background:url(/img/setaRightBoxWhite.png) no-repeat left center;
  color:#FFF;
}
.lnkSetaWhite:hover {background-position:left center; }

.actLnk .lnkSeta {
  border-right:1px solid #d3d3d3;
  padding-right: 10px;
  margin:0;
  margin-right: 5px;
}

.actLnk .lnkSeta:last-child {border-right:none; margin-right:0; padding-right:0;}

/** BOX COM FUNDO CINZA
*** geralmente tem um collapseGroup dentro
**/
.boxGray {
  background:#d5d5d5 url(/img/bgBoxGray.png) repeat-X top center;
  border-radius:3px;
  border:1px solid #e3e3e3;
  padding-bottom:3px;
  margin-bottom:20px;
}
.boxGray:after {content:" "; display:block; clear:both;}

.boxGray h2 {
  font-size: 24px;
  padding:10px 10px 0 15px; margin:0 0 0 -1px;
  background:url(/img/setaDetalheTit.png) no-repeat left center;
}

.boxGray p {
  font:12px verdana, arial, tahoma, sans-serif;
  color:#797979;
  margin:0;
  padding: 0 15px 11px 15px;
}

/** COLLAPSE
*** É o padrão do Bootstrap com algumas mudanças visuais
**/
.collapseGroup {padding-top:20px; margin:0 10px;}
.collapseGroup .details {
  background:#f1f1f1;
  padding:3px 7px;
  margin-bottom:5px;
  border-radius:3px;
  border:1px solid #d6d6d6;
}
.collapseGroup .details.active {background:#FFF;}

.collapseGroup summary {
  color:#545454;
  cursor:pointer;
  font-family:verdana;
  display:block;
  background:url(/img/setaCollapseBottom.png) no-repeat 99% center;
}
.collapseGroup summary.active { font-weight:bold;   background:url(/img/setaCollapseTop.png) no-repeat 99% 8px;}

.collapseGroup summary span {
  font:bold 18px Ubuntu;
  color:#4b7cb8;
}

.collapseGroup .details p {padding:10px 30px;}


/**
*** PAGINACAO
**/
.pagination {padding:5px 0 0; margin:0; height:auto;}
.pagination ul {margin:0;box-shadow:none;}

.pagination a, .pagination .current {
  float:none;
  display:inline-block;
  line-height: 16px;
  padding: 0 5px;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  font-size: 11px;
  color:#797979;
}
.pagination li.first-child a, .pagination li.last-child a, .pagination .first a, .pagination .prev a, .pagination .next a, .pagination .last a {
  border:none;
  color:#3d6495;
}
.pagination .first a, .pagination .last a {display:none;}

.pagination .prev a, .pagination .next a {background:url(/img/seta-pagination.png) no-repeat 0 0;}
.pagination .prev a {background-position:left 6px; padding-left:10px;}
.pagination .next a {background-position:right -13px; padding-right:10px;}

.pagination .current, .pagination .active a {
  border:1px solid #7aa4d1;
  color:#FFF;
  background-color:#264f94;
  background-image: linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -o-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -moz-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -webkit-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -ms-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.17, rgb(38,78,148)),
    color-stop(0.91, rgb(122,164,209)));
}

.pagination .disabled a {border:none;}

.navView .pagination {float:right;}

/**
*** ICONES
**/
.ico {
  background-position:center left;
  background-repeat:no-repeat;
  padding-left:18px;
  color:#3d6495;
  font: 12px Ubuntu, verdana, arial, sans-serif;
  display:inline-block;
  margin:5px 0;
}
.ico:hover {text-decoration:none; color:#1e324a;}

.ico-tabela {background-image:url(/img/ico-tabela.png);}
.ico-estornar {background-image:url(/img/ico-estornar.png);}

/***
*** Actions Botoes
**/
.boxActions {
  border-top:5px solid #bfbfbf;
  background-color:transparent;
  padding:20px 0 20px 5px;
}

.boxActions .btn {display:inline-block; margin-right:15px; float:none;}

.btn-primary {font-weight:bold;}

/**
*** Listagem de meios de pagamentos e outras observações
**/
.listOptions {padding:0; margin:0;}

.listOptions li {
  list-style:none;
  border:1px solid #e5e5e5;
  position:relative;
  margin-bottom:10px;
  overflow:hidden;
  padding: 10px;
}
.listOptions.listagemMeiosPagtos li {
  background:url(/img/bgMeioPagamentoCinza.png) no-repeat left center;
  padding: 10px 10px 10px 25px;
}
.listOptions.listagemMeiosPagtos .pagtoAtivo {background:url(/img/bgMeioPagamentoVerde.png) no-repeat left center;}

.listOptions li img {
  float:left;
  margin-right:10px;
}

.listOptions h6 {
  margin:0;
  padding:3px 0;
  color:#2a2a2a;
  font:bold 12px verdana, arial, sans-serif;
  text-transform:inherit;
}

.listOptions p {margin:0;}
.listOptions p.pObs {
  background:#ececec;
  color:#767676;
  margin:5px 0 0 0;
  padding:5px;
  overflow: hidden;
}

.listOptions p.pObs strong {color:#545454;}

.listOptions .actLnk.fright {
  position:absolute;
  top:5px; right:10px;
}


/**
*** Calendário - Datepicker
**/
.ui-datepicker {
  display: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  background-color:#FFF;
  background-color:rgba(255,255,255,0.9);
  padding:5px;
  width:200px;
  box-shadow:0 0 16px 5px rgba(0,0,0,0.3);
}

.ui-datepicker .ui-datepicker-header  {
  background-color:#CCC;
  padding:5px;
  font-weight:bold;
  border-radius:3px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  width:13px; height:13px;
  display:block;
  text-indent:-9999px;overflow:hidden;
  background-image:url(/img/jqui.png);
  background-position: no-repeat;
  cursor:pointer;
}
.ui-datepicker .ui-datepicker-prev {background-position: -81px -193px; float:left;} 
.ui-datepicker .ui-datepicker-next {background-position: -49px -193px; float:right;} 
.ui-datepicker-title {text-align:center; line-height:14px;}

.ui-datepicker table { width:100%;}
.ui-datepicker table td {text-align:center; border:1px solid #CCC;}
.ui-datepicker table td:empty {border:none;}
.ui-datepicker table td a {font-size:11px; display:block; color:#333;}

