/** Resolve bug quando era colocado icon no botões de dropdown **/
.btn-group > .btn + .dropdown-toggle {vertical-align: bottom;}

.btn {border-radius: 3px;}

/** arruma cor padrao de btns com icones **/
.btn[class^="ico-"],
.btn[class*=" ico-"] {color:inherit;}

/** 
*** Fixing: A linha 6042 do Bootstrap caga a cor desses botoes. Quando eles estão com ícones.
**/
.btn.btn-info,
.btn.btn-warning,
.btn.btn-success,
.btn.btn-danger,
.btn.btn-inverse,
.btn.btn-primary:hover,
[class^="btn-"][class^="ico-"],
[class*=" btn-"][class*=" ico-"] {color:#FFF;}

.btn.btn-large {
	font-size: 14px;
	padding: 10px 19px;
}