.nofloat, .noFloat {float:none !important;}
.fright, .fRight {float:right !important;}
.fleft, .fLeft {float:left !important;}

.cboth, .cBoth {clear:both !important;}
.cright, .cRight {clear:right !important;}
.cleft, .cLeft {clear:left !important;}

.dblock, .dBlock {display:block !important;}
.dinline, .dNone {display:inline; float:none !important;}
.dinlineblock, .dInlineBlock {display:inline-block; float:none !important;}
.dnone, .dNone, 
.forceClass .dnone, .forceClass .dNone,
.hide, .forceClass .hide {display:none !important;}

.nomargin, .noMargin {margin:0 !important;}
.nomarginleft, .noMarginLeft, .row.noMarginLeft {margin-left:0 !important;}
.nomarginright, .noMarginRight {margin-right:0 !important;}
.nomargintop, .noMarginTop {margin-top:0 !important;}
.nomarginbottom, .noMarginBottom {margin-bottom:0 !important;}

.nopadding, .noPadding {padding:0 !important;}
.nopaddingleft, .noPaddingLeft {padding-left:0 !important;}
.nopaddingright, .noPaddingRight {padding-right:0 !important;}
.nopaddingtop, .noPaddingTop {padding-top:0 !important;}
.nopaddingbottom, .noPaddingBottom {padding-bottom:0 !important;}

.txtLeft, .txtleft {text-align:left !important;}
.txtRight, .txtright {text-align:right !important;}
.txtJustify, .txtjustify {text-align:justify !important;}
.txtCenter, .txtcenter {text-align:center !important;}

.widthAuto, .widthAuto {width: auto !important;}

.noborder, .noBorder {border:none !important;}
.noborderright, .noBorderRight {border-right:none !important;}
.noborderleft, .noBorderLeft {border-left:none !important;}
.noborderbottom, .noBorderBottom {border-bottom:none !important;}
.nobordertop, .noBorderTop {border-top:none !important;}

hr, hr.sepDot {border:none; border-bottom:1px solid #e5e5e5; background:none; display:block; margin:15px 0;}
hr.sepDot {border-bottom:1px dotted #E5E5E5;}
hr.dotsSep {height: 5px; background: url(/img/titDots.png);  margin:20px 0;}
hr.sep {background-color: #E5E5E5; }
