/** 
*** FLOAT E CLEAR
**/
.nofloat, .noFloat {float:none !important;}
.fright, .fRight {float:right !important;}
.fleft, .fLeft {float:left !important;}

.cboth, .cBoth {clear:both !important;}
.cright, .cRight {clear:right !important;}
.cleft, .cLeft {clear:left !important;}

.overflowHidden, .overflowhidden{ overflow: hidden !important;}

/** 
*** BLOCO E LINHA
**/
.dblock, .dBlock {display:block !important;}
.dinline, .dInline {display:inline !important; float:none !important;}
.dinlineblock, .dInlineBlock {display:inline-block !important; float:none !important;}
.dnone, .dNone, .hide, .hide {display:none !important;}

/** 
*** TAMANHO
**/
.widthauto, .widthAuto {width: auto !important;}
.widthInherit {width: inherit;}
.heightInherit {height: inherit;}
.heightAuto {height: auto !important;}

/** 
*** MARGIN E PADDING
**/
.nomargin, .noMargin {margin:0 !important;}
.nomarginleft, .noMarginLeft, .row.noMarginLeft {margin-left:0 !important;}
.nomarginright, .noMarginRight {margin-right:0 !important;}
.nomargintop, .noMarginTop {margin-top:0 !important;}
.nomarginbottom, .noMarginBottom {margin-bottom:0 !important;}

.nopadding, .noPadding {padding:0 !important;}
.nopaddingleft, .noPaddingLeft {padding-left:0 !important;}
.nopaddingright, .noPaddingRight {padding-right:0 !important;}
.nopaddingtop, .noPaddingTop {padding-top:0 !important;}
.nopaddingbottom, .noPaddingBottom {padding-bottom:0 !important;}

.marginBottom40 {margin-bottom: 40px;}

/** 
*** ALINHAMENTO DE TEXTO
**/
.txtLeft, .txtleft {text-align:left !important;}
.txtRight, .txtright {text-align:right !important;}
.txtJustify, .txtjustify {text-align:justify !important;}
.txtCenter, .txtcenter {text-align:center !important;}

table.txtLeft td, table.txtLeft th {text-align:left;}
table.txtRight td, table.txtRight th {text-align:right;}

/** 
*** ALINHAMENTO VERTICAL
**/
.vAlignTop {vertical-align: top !important;}
.vAlignMiddle {vertical-align: middle !important;}
.vAlignBottom {vertical-align: bottom !important;}
.vAlignTopImportant {vertical-align: top  !important;}
.vAlignMiddleImportant {vertical-align: middle  !important;}
.vAlignBottomImportant {vertical-align: bottom  !important;}

/** 
*** BACKGROUND E BORDA
**/
.noBackground, .noBackground {background:none !important;}
.noShadow, .noShadow {box-shadow: none !important;}

.noborder, .noBorder {border:none !important;}
.noborderright, .noBorderRight {border-right:none !important;}
.noborderleft, .noBorderLeft {border-left:none !important;}
.noborderbottom, .noBorderBottom {border-bottom:none !important;}
.nobordertop, .noBorderTop {border-top:none !important;}

.noBullet, .noListStyle {list-style:none !important;}

/** 
*** CURSOR DE MOUSE
**/
.cursorPointer, .cursorpointer {cursor: pointer !important;}
.cursorDefault, .cursordefault {cursor: default !important;}
.cursorCrosshair, .cursorcrosshair {cursor: crosshair !important;}
.cursorMove, .cursormove {cursor: move !important;}
.cursorHelp, .cursorhelp {cursor: help !important;}
.cursorWait, .cursorwait {cursor: wait !important;}
.cursorInherit, .cursorinherit {cursor: inherit !important;}
.cursorText, .cursortext {cursor: text !important;}
.cursorProgress, .cursorprogress {cursor: progress !important;}

.cursorGrab, .cursorgrab {
  cursor:hand;
  cursor:grab;
  cursor:-o-grab;
  cursor:-ms-grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}
.cursorGrabbing, .cursorgrabbing {
  cursor:grabbing;
  cursor:-o-grabbing;
  cursor:-ms-grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block  !important;
}

/** COLORS **/
.bgWhite {
  background: white;
}

/** 
*** HR - LINHA HORIZONTAL
**/
hr, hr.sepDot {border:none; border-bottom:1px solid #e5e5e5; background:none; display:block; margin:15px 0;}
.boxCollapse hr, .boxCollapse hr.sepDot {border-color:#c9c9c9;}
hr.sepDot {border-bottom:1px dotted #E5E5E5;}
hr.dotsSep {height: 5px; background: url(img/titDots.png);  margin:20px 0;}
hr.sep {background-color: #E5E5E5; }

.removeBefore:before,
.removeAfter:after {background:none!important;border:none!important;}

