/***
**** BOX Collpase
***/
.boxGray > .lnkArrow {margin:0 15px 10px;}
p + .boxCollapse {margin-top:30px;}
.collapse p + .btn {margin: 10px 0 5px;}
.collapse h6:first-child {padding: 10px 0 0;}

.boxCollapse {
  border-radius:3px;
  padding:3px;
  margin:0 0 10px;
  border:1px solid #e5e5e5;
  border-bottom-width:2px;
  background:url(img/setaCollapseBottom.png) no-repeat 99% 11px;
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -ms-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}


.boxGray .boxCollapse {margin:0 15px 5px;}

/**
  boxCollapse menor, sem borda do lado esquerdo, com fundo branco quando ativa
**/
.boxCollapse.simpleCollapse {
  background-color:#F1F1F1;
  border:1px solid #d0d0d0;
  margin-bottom:5px;
}

.boxCollapse.simpleCollapse:hover,
.boxCollapse.simpleCollapse.active {background-color:#FFF;}

.boxCollapse.simpleCollapse header {
  color:#545454;
  font-size:0.75em;
  padding:0 10px;
  border-left:none;
}
.boxCollapse.simpleCollapse header h4 {color: #545454; font-size: 1.0em;}
.boxCollapse.simpleCollapse .collapse p {
  padding-left: 25px;
  line-height: 1.45em;
}
.boxCollapse.simpleCollapse header span {font-size:1.40em; letter-spacing: -2px;}

.boxGray .boxCollapse {margin:0 15px 5px;}

/**
  boxCollapse menor, sem borda do lado esquerdo, com fundo branco quando ativa
**/
.boxCollapse.simpleCollapse {
  background-color:#F1F1F1;
  border:1px solid #d0d0d0;
  margin-bottom:5px;
}
.boxCollapse.simpleCollapse:hover,
.boxCollapse.simpleCollapse.active {background-color:#FFF;}

.boxCollapse.simpleCollapse header {
  color:#545454;
  font-size:0.75em;
  padding:0 10px;
  border-left:none;
}
.boxCollapse.simpleCollapse header h4 {color: #545454; font-size: 1.0em;}
.boxCollapse.simpleCollapse .collapse p {
  padding-left: 25px;
  line-height: 1.45em;
}
.boxCollapse.simpleCollapse header span {font-size:1.40em; letter-spacing: -2px;}

.boxCollapse header  {
  border-left:5px solid #CCC;
  padding:2px 10px 0px;
  cursor:pointer;
  outline: none;
  position: relative;
}
.boxCollapse .lnkCollapse{
  height: 100%; width: 100%;
  position: absolute;
  left: 0; top: 0;
}
.boxCollapse:hover {background-color:#ECECEC;}

.boxCollapse.active {
  background-image: url(img/setaCollapseTop.png);
  background-color: #ECECEC;
  padding-bottom:10px;
}
.boxCollapse.active header h4 {font-weight:bold;}

.boxCollapse .collapse {padding:0 15px;}

.boxCollapse .collapse::before {content: ""; display:block; padding:20px 0 0;}
.boxCollapse.whiteCollapse .collapse::before {padding:10px 0 0;}

.boxCollapse header > a {outline: none;}

.boxCollapse header h4 {
  font:1em verdana, arial, tahoma, sans-serif;
  margin-bottom:0;
  outline: none;
}

.boxCollapse header p {
  font:12px verdana, arial, tahoma, sans-serif;
  color:#767676;
  padding:0;
  margin:0;
  outline: none;
}

.boxCinzaInner {background:#ddd; padding:10px 10px; margin-bottom:30px;}
.boxCinzaInner + .boxCinzaInner {margin-top:-25px;}
.boxCinzaInner .control-group {margin:0 0 10px;}

.boxCinzaInner p + div.control-group {margin-top:20px;}

.boxCollapse .tableList {
  margin-top:15px;
  margin-bottom:5px;
  border-collapse: separate;
  background:#FFF;
}
.boxCollapse table td {border-right:none;border-bottom:1px solid #ddd;}
.boxCollapse form {margin-bottom:0;}
.boxCollapse .tableList td .disabled {
  background: none;
  border: none;
  box-shadow: none;
  cursor:default;
  padding:0;
  margin:0;
  font-size:12px;
  color:#555;
}
.boxCollapse .tableList tr:nth-child(even){background-color:#f4f4f4;}
.boxCollapse .tableList thead th {background:#cecece; color:#545454; font-weight:bold;}

.boxCollapse .boxActions {margin-top:35px; clear:both; border-top-color:#d9d9d9;}

.boxCollapse td .boxActions {
  margin:0;
  padding:0;
  border:none;
  display:none;
}
tr.active .boxActions {display:block; padding:10px 0 5px;}
tr.active .boxActions .btn {margin-right:0;}
tr.active .actionsTable {display:none;}

.boxCollapse h4 span {
  font:bold 18px Ubuntu, verdana, arial, tahoma, helvetica, sans-serif;
  color:#777;
  border:none;
}

.boxCollapse h4 span.ico-dot {
  font-size: 40px;
  line-height: 7px;
  margin-right: 0;
  width: 14px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  left: -5px;
}

/***
**** Fix do IE9 para Altura dos collapses em conjunto com actionsTable que aparecia e desaparecia
***/
.ie9 .boxCollapse.active, .ie9 .boxCollapse.active .in {overflow:visible; height:auto !important;}
