/***
**** BOX Collpase
***/
.boxGray > .lnkArrow {margin:0 15px 10px;}
p + .boxCollapse {margin-top:30px;}
.collapse p + .btn {margin: 10px 0 5px;}
.collapse h6:first-child {padding: 10px 0 0;}

.boxCollapse {
  border-radius:3px;
  padding:3px;
  margin:0 0 10px;
  border:1px solid #e5e5e5;
  border-bottom-width:2px;
  background:url(img/setaCollapseBottom.png) no-repeat 99% 11px;
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -ms-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}

.boxGray .boxCollapse {margin: 0 15px 5px;}

/**
  boxCollapse quando existir numeração
**/
.boxCollapse.simpleCollapse {
  border: 1px solid #d0d0d0;
  margin-bottom: 5px;
}

.boxCollapse.simpleCollapse header {
  color: #545454;
  padding: 0 10px;
  border-left: none;
}

.boxCollapse.simpleCollapse header h4 {
  font-size: 1em;
  font-family: Ubuntu, verdana, arial, helvetica, tahoma, sans-serif;
}

.boxCollapse.simpleCollapse .collapse::before {
  padding-top: 12px;
}

.boxCollapse.simpleCollapse .collapse {padding-left: 2.5em;}
.boxCollapse.simpleCollapse .collapse p{line-height: 1.45em;}

.boxCollapse.simpleCollapse header h4 span {
  font-size: 1.2em;
  letter-spacing: -1px;
}

.boxCollapse header  {
  border-left: 5px solid #CCC;
  padding: 2px 10px 0px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.boxCollapse .lnkCollapse{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.boxCollapse:hover {background-color: #ECECEC;}

.boxCollapse.active {
  background-image: url(img/setaCollapseTop.png);
  background-color: #ECECEC;
  padding-bottom: 10px;
}

.boxCollapse.active header h4 {font-weight: bold;}

.boxCollapse .collapse {padding: 0 15px;}

.boxCollapse .collapse::before {
  content: "";
  display: block;
  padding: 20px 0 0;
}

.boxCollapse.whiteCollapse .collapse::before {padding: 10px 0 0;}

.boxCollapse header > a {outline: none;}

.boxCollapse header h4 {
  font: 0.85em verdana, arial, tahoma, sans-serif;
  margin-bottom: 0;
  outline: none;
}

.boxCollapse header p {
  color: #767676;
  padding: 3px 0 4px;
  margin: 0;
  outline: none;
}

.boxCinzaInner {
  background: #ddd;
  padding: 10px 10px;
  margin-bottom: 30px;
}

.boxCinzaInner + .boxCinzaInner {margin-top: -25px;}
.boxCinzaInner .control-group {margin: 0 0 10px;}

.boxCinzaInner p + div.control-group {margin-top: 20px;}

.boxCollapse .tableList {
  margin-top: 0.9em;
  margin-bottom: 0.1em;
  border-collapse: separate;
  background: #FFF;
}

.boxCollapse table td {
  border-right: none;
  border-bottom: 1px solid #ddd;
}

.boxCollapse form {margin-bottom: 0;}

.boxCollapse .tableList td .disabled {
  background: none;
  border: none;
  box-shadow: none;
  cursor: default;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #555;
}

.boxCollapse .tableList tr:nth-child(even){background-color: #f4f4f4;}
.boxCollapse .tableList thead th {
  background: #cecece;
  color: #545454;
  font-weight: bold;
}

.boxCollapse .boxActions {
  margin-top: 35px;
  clear: both;
  border-top-color: #d9d9d9;
}

.boxCollapse td .boxActions {
  margin: 0;
  padding: 0;
  border: none;
  display: none;
}

tr.active .boxActions {
  display: block;
  padding: 10px 0 5px;
}

tr.active .boxActions .btn {margin-right: 0;}
tr.active .actionsTable {display: none;}

.boxCollapse h4 span {
  font: bold 18px Ubuntu, verdana, arial, tahoma, helvetica, sans-serif;
  color: #777;
  border: none;
}

.boxCollapse h4 span.ico-dot {
  font-size: 40px;
  line-height: 7px;
  margin-right: 0;
  width: 14px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  left: -5px;
}

.boxCollapse hr,
.boxCollapse hr.sepDot {
  border-color: #c9c9c9;
}

.boxCollapse .toggleChild hr {
  border-bottom-width: 5px;
  margin: 10px 0;
}
/***
**** Collapse dentro de obsGray
***/
.obsGray .boxCollapse{background: #f6f6f6;}
.obsGray .boxCollapse:hover,
.obsGray .boxCollapse.active{background: #fff;}
