/*** COR
**** AZUL
***/

.colorBlue #menuPrincipal > ul > li.selected a,
.colorBlue .progress .bar,
.colorBlue .pathWay li.active, 
.colorBlue .pathWay li:hover {background-color:#4b7cb8;}

.colorBlue #menuPrincipal,
.colorBlue .tabs li a:hover, 
.colorBlue .tabs li.active a,
.colorBlue #menuPrincipal ul li ul {border-bottom-color:#4b7cb8; }

.colorBlue #menuPrincipal > ul > li.selected a {
  background: rgb(75,124,184); 
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzRiN2NiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjM2E2NWFmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiN2NiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(75,124,184,1) 3%, rgba(58,101,175,1) 5%, rgba(75,124,184,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(75,124,184,1)), color-stop(5%,rgba(58,101,175,1)), color-stop(100%,rgba(75,124,184,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(75,124,184,1) 3%,rgba(58,101,175,1) 5%,rgba(75,124,184,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(75,124,184,1) 3%,rgba(58,101,175,1) 5%,rgba(75,124,184,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(75,124,184,1) 3%,rgba(58,101,175,1) 5%,rgba(75,124,184,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(75,124,184,1) 3%,rgba(58,101,175,1) 5%,rgba(75,124,184,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b7cb8', endColorstr='#4b7cb8',GradientType=0 ); /* IE6-8 */
}

.colorBlue .tabs li.active a,
.colorBlue .tabs li a:hover {border-top-color:#4b7cb8; }

.colorBlue .serviceName a,
.colorBlue #menuPrincipal .btMenu a,
.colorBlue .collapseGroup summary span,
.colorBlue .lnkSeta,
.colorBlue #menuPrincipal > ul > li > a:hover,
.colorBlue [class^="ico-"], 
.colorBlue [class*=" ico-"],
.colorBlue .boxGray.listDetail a,
.colorBlue #menuPrincipal .parent > a:hover, 
.colorBlue #menuPrincipal .parent:hover > a,
.colorBlue td a,
.colorBlue .breadcrumb  {color: #4B7CB8;}

.colorBlue #menuPrincipal > ul > li.selected > a:hover {color:#FFF;}

.colorBlue .lnkSeta:hover,
.colorBlue .lnkSugestoes {color:#1e324a;}

.colorBlue .pagination .current, 
.colorBlue .pagination .active a {
  background-color:#264f94;
  background-image: linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -o-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -moz-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -webkit-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -ms-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.17, rgb(38,78,148)),
  color-stop(0.91, rgb(122,164,209)));
}

.colorBlue .pagination li.first-child a, 
.colorBlue .pagination li.last-child a, 
.colorBlue .pagination .first a, 
.colorBlue .pagination .prev a, 
.colorBlue .pagination .next a, 
.colorBlue .pagination .last a,
.colorBlue .boxCollapse header h4,
.colorBlue .pathWay li.active a, 
.colorBlue .pathWay li:hover a {
  color:#3d6495;
}

.colorBlue .boxCollapse header {border-left-color: #4b7cb8;}

.colorBlue .pathWay li.active a, .colorBlue .pathWay li:hover a {background-color:#e4f0fd;}
.colorBlue .pathWay li.active b, .colorBlue .pathWay li:hover b {color:#4b7cb8;}

/*** COR
**** VERDE
***/
.colorGreen #menuPrincipal > ul > li.selected a,
.colorGreen .progress .bar,
.colorGreen .pathWay li.active, .colorGreen .pathWay li:hover {background-color:#84c02e;}

.colorGreen #menuPrincipal,
.colorGreen .tabs li a:hover, 
.colorGreen .tabs li.active a,
.colorGreen #menuPrincipal ul li ul {border-bottom-color:#84c02e;}

.colorGreen #menuPrincipal > ul > li.selected > a {
  background: rgb(132,192,46); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzg0YzAyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjNjhiNTI4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg0YzAyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(132,192,46,1) 3%, rgba(104,181,40,1) 5%, rgba(132,192,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(132,192,46,1)), color-stop(5%,rgba(104,181,40,1)), color-stop(100%,rgba(132,192,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c02e', endColorstr='#84c02e',GradientType=0 ); /* IE6-8 */

}

.colorGreen .tabs li.active a,
.colorGreen .tabs li a:hover {border-top-color:#79bb2c; }

.colorGreen .serviceName a,
.colorGreen #menuPrincipal .btMenu a,
.colorGreen .collapseGroup summary span,
.colorGreen .lnkSeta,
.colorGreen #menuPrincipal > ul > li > a:hover,
.colorGreen .boxGray.listDetail a,
.colorGreen #menuPrincipal .parent > a:hover, 
.colorGreen #menuPrincipal .parent:hover > a {color: #84c02e;}

.colorGreen td a,
.colorGreen [class^="ico-"], 
.colorGreen [class*=" ico-"] {color:#6a9a25;}

.colorGreen #menuPrincipal > ul > li.selected > a:hover {color:#FFF;}

.colorGreen .lnkSeta:hover,
.colorGreen .lnkSugestoes:hover  {color:#4f731c;}

.colorGreen .pagination .current, 
.colorGreen .pagination .active a {
  background-color:#3f6f0f;
  background-image: linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -o-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.21, rgb(63,111,15)),
    color-stop(1, rgb(148,187,81))
  );
}

.colorGreen .pagination li.first-child a, 
.colorGreen .pagination li.last-child a, 
.colorGreen .pagination .first a, 
.colorGreen .pagination .prev a, 
.colorGreen .pagination .next a, 
.colorGreen .pagination .last a,
.colorGreen .breadcrumb {color:#6a9a25;}

.colorGreen .btn-primary {
  background-color: #5BB75B;
  background-image: -ms-linear-gradient(top, #7ca837, #55851a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ca837), to(#55851a));
  background-image: -webkit-linear-gradient(top, #7ca837, #55851a);
  background-image: -o-linear-gradient(top, #7ca837, #55851a);
  background-image: -moz-linear-gradient(top, #7ca837, #55851a);
  background-image: linear-gradient(top, #7ca837, #55851a);
  background-repeat: repeat-x;
  border-color: #6a9a25;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7ca837', endColorstr='#55851a', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.colorGreen .btn-primary:hover, 
.colorGreen .btn-primary:active, 
.colorGreen .btn-primary.active, 
.colorGreen .btn-primary.disabled, 
.colorGreen .btn-primary[disabled] {background-color: #7ca837;}

.colorGreen .boxCollapse header {border-left-color: #84c02e;}

.colorGreen .pathWay li.active a, .colorGreen .pathWay li:hover a {background-color:#edf6e1;}
.colorGreen .pathWay li.active b, .colorGreen .pathWay li:hover b {color:#79bb2c;}

.colorGreen .boxCollapse header h4,
.colorGreen .pathWay li.active a, 
.colorGreen .pathWay li:hover a {color:#354d12;}

/*** COR
**** LARANJA
***/
.colorOrange #menuPrincipal > ul > li.selected a,
.colorOrange .progress .bar,
.colorOrange .btn-primary:hover, 
.colorOrange .btn-primary:active, 
.colorOrange .btn-primary.active, 
.colorOrange .btn-primary.disabled, 
.colorOrange .btn-primary[disabled] {background-color:#ffa600;}

.colorOrange #menuPrincipal,
.colorOrange .tabs li a:hover, 
.colorOrange .tabs li.active a,
.colorOrange #menuPrincipal ul li ul {border-bottom-color:#ffa600;}

.colorOrange .tabs li.active a,
.colorOrange .tabs li a:hover {border-top-color:#ffa600; }

.colorOrange .serviceName a,
.colorOrange #menuPrincipal .btMenu a,
.colorOrange .collapseGroup summary span,
.colorOrange .lnkSeta,
.colorOrange #menuPrincipal > ul > li > a:hover,
.colorOrange [class^="ico-"], 
.colorOrange [class*=" ico-"],
.colorOrange .boxGray.listDetail a,
.colorOrange #menuPrincipal .parent > a:hover, 
.colorOrange #menuPrincipal .parent:hover > a,
.colorOrange td a {color: #ffa600;}

.colorOrange #menuPrincipal > ul > li.selected > a:hover {color:#FFF;}

.colorOrange .lnkSeta:hover,
.colorOrange .lnkSugestoes:hover  {color:#cc8500;}

.colorOrange .pagination .current, 
.colorOrange .pagination .active a {
  background-color:#ffa600;
  background: -moz-linear-gradient(top, #fdb000 0%, #fb9000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb000), color-stop(100%,#fb9000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* IE10+ */
  background: linear-gradient(top, #fdb000 0%,#fb9000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb000', endColorstr='#fb9000',GradientType=0 ); /* IE6-9 */
}

.colorOrange .pagination li.first-child a, 
.colorOrange .pagination li.last-child a, 
.colorOrange .pagination .first a, 
.colorOrange .pagination .prev a, 
.colorOrange .pagination .next a, 
.colorOrange .pagination .last a,
.colorOrange .breadcrumb {color:#cc8500;}

.colorOrange .btn-primary {
  background-color: #5BB75B;
  background: -moz-linear-gradient(top, #fdb000 0%, #fb9000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb000), color-stop(100%,#fb9000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* IE10+ */
  background: linear-gradient(top, #fdb000 0%,#fb9000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb000', endColorstr='#fb9000',GradientType=0 ); /* IE6-9 */
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}


/*** COR
**** Vermelho
***/
.colorRed .serviceName a,              
.colorRed #menuPrincipal .btMenu a,          
.colorRed .collapseGroup summary span,         
.colorRed .lnkSeta,                  
.colorRed #menuPrincipal > ul > li > a:hover,    
.colorRed [class^="ico-"],              
.colorRed [class*=" ico-"],               
.colorRed .boxGray.listDetail a,           
.colorRed #menuPrincipal .parent > a:hover,      
.colorRed #menuPrincipal .parent:hover > a,
.colorRed td a  {color: #831e22;}

/** LINKS COM SETINHAS QUADRADAS ***/
.colorBlue .lnkSeta:before {background-position:0 -9px;}
.colorBlue .lnkSeta:hover:before {background-position:-9px -9px;}

.colorRed .lnkSeta:before {background-position:0 -18px;}
.colorRed .lnkSeta:hover:before {background-position:-9px -18px;}

.colorGreen .lnkSeta:before {background-position:0 -27px;}
.colorGreen .lnkSeta:hover:before {background-position:-9px -27px;}

.colorOrange .lnkSeta:before {background-position:0 -36px;}
.colorOrange .lnkSeta:hover:before {background-position:-9px -36px;}

/*** LINKS COM ARROWS ***/
.colorBlue .listWhite li a:before {background-position:0 -5px;}
.colorBlue .listWhite li a:hover:before {background-position:-4px -5px;}

.colorRed .listWhite li a:before {background-position:0 -10px;}
.colorRed .listWhite li a:hover:before {background-position:-4px -10px;}

.colorGreen .listWhite li a:before {background-position:0 -15px;}
.colorGreen .listWhite li a:hover:before {background-position:-4px -15px;}

/*** MINI ARROWS ***/
.colorBlue .breadcrumb li:before {background-position:0 -4px;}
.colorBlue .breadcrumb li:hover:before {background-position:-3px -4px;}

.colorRed .breadcrumb li:before {background-position:0 -8px;}
.colorRed .breadcrumb li:hover:before {background-position:-3px -8px;}

.colorGreen .breadcrumb li:before {background-position:0 -12px;}
.colorGreen .breadcrumb li:hover:before {background-position:-3px -12px;}

/*** LARGE ARROWS - BTMENU ***/
.colorGreen .btMenu a:before {background-position: 0 -28px;}
.colorBlue .btMenu a:before {background-position: 0 -14px;}
.colorRed .btMenu a:before {background-position: 0 -21px;}

.btn[classË†="ico-"], .btn[class*="ico-"] {color:inherit;}
.btn-primary[class^="ico-"], .btn-primary[class*="ico-"] {color:#FFF;}