/*** COR
**** AZUL
***/

.colorBlue #menuPrincipal > ul > li.selected a {background-color:#4b7cb8;}

.colorBlue #menuPrincipal,
.colorBlue .tabs li a:hover, 
.colorBlue .tabs li.active a,
.colorBlue #menuPrincipal ul li ul {border-bottom-color:#4b7cb8; }

.colorBlue .tabs li.active a,
.colorBlue .tabs li a:hover {border-top-color:#4b7cb8; }

.colorBlue .serviceName a,
.colorBlue #menuPrincipal .btMenu a,
.colorBlue .collapseGroup summary span,
.colorBlue .lnkSeta,
.colorBlue #menuPrincipal > ul > li > a:hover,
.colorBlue [class^="ico"], 
.colorBlue [class*=" ico"],
.colorBlue .boxGray.listDetail a,
.colorBlue #menuPrincipal .parent > a:hover, 
.colorBlue #menuPrincipal .parent:hover > a  {color: #4B7CB8;}

.colorBlue #menuPrincipal > ul > li.selected > a:hover {color:#FFF;}

.colorBlue .lnkSeta:hover,
.colorBlue .lnkSugestoes {color:#1e324a;}

.colorBlue .pagination .current, 
.colorBlue .pagination .active a {
  background-color:#264f94;
  background-image: linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -o-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -moz-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -webkit-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -ms-linear-gradient(bottom, rgb(38,78,148) 17%, rgb(122,164,209) 91%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.17, rgb(38,78,148)),
    color-stop(0.91, rgb(122,164,209)));
}

.colorBlue .pagination li.first-child a, 
.colorBlue .pagination li.last-child a, 
.colorBlue .pagination .first a, 
.colorBlue .pagination .prev a, 
.colorBlue .pagination .next a, 
.colorBlue .pagination .last a {
    color:#3d6495;
}

.colorBlue .breadcrumb {color:#4f731c;}


/*** COR
**** VERDE
***/
.colorGreen #menuPrincipal > ul > li.selected a {background-color:#79bb2c;}

.colorGreen #menuPrincipal,
.colorGreen .tabs li a:hover, 
.colorGreen .tabs li.active a,
.colorGreen #menuPrincipal ul li ul {border-bottom-color:#79bb2c;}

.colorGreen .tabs li.active a,
.colorGreen .tabs li a:hover {border-top-color:#79bb2c; }

.colorGreen .serviceName a,
.colorGreen #menuPrincipal .btMenu a,
.colorGreen .collapseGroup summary span,
.colorGreen .lnkSeta,
.colorGreen #menuPrincipal > ul > li > a:hover,
.colorGreen [class^="ico"], 
.colorGreen [class*=" ico"],
.colorGreen .boxGray.listDetail a,
.colorGreen #menuPrincipal .parent > a:hover, 
.colorGreen #menuPrincipal .parent:hover > a  {color: #84c02e;}

.colorGreen #menuPrincipal > ul > li.selected > a:hover {color:#FFF;}

.colorGreen .lnkSeta:hover,
.colorGreen .lnkSugestoes:hover  {color:#4f731c;}

.colorGreen .pagination .current, 
.colorGreen .pagination .active a {
    background-color:#3f6f0f;
    background-image: linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
    background-image: -o-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, rgb(63,111,15)),
        color-stop(1, rgb(148,187,81))
    );
}

.colorGreen .pagination li.first-child a, 
.colorGreen .pagination li.last-child a, 
.colorGreen .pagination .first a, 
.colorGreen .pagination .prev a, 
.colorGreen .pagination .next a, 
.colorGreen .pagination .last a,
.colorGreen .breadcrumb {
    color:#6a9a25;
}


/** LINKS COM SETINHAS QUADRADAS ***/
.colorBlue .lnkSeta:before {background-position:0 -9px;}
.colorBlue .lnkSeta:hover:before {background-position:-9px -9px;}

.colorRed .lnkSeta:before {background-position:0 -18px;}
.colorRed .lnkSeta:hover:before {background-position:-9px -18px;}

.colorGreen .lnkSeta:before {background-position:0 -27px;}
.colorGreen .lnkSeta:hover:before {background-position:-9px -27px;}


/*** LINKS COM ARROWS ***/
.colorBlue .listWhite li a:before {background-position:0 -5px;}
.colorBlue .listWhite li a:hover:before {background-position:-4px -5px;}

.colorRed .listWhite li a:before {background-position:0 -10px;}
.colorRed .listWhite li a:hover:before {background-position:-4px -10px;}

.colorGreen .listWhite li a:before {background-position:0 -15px;}
.colorGreen .listWhite li a:hover:before {background-position:-4px -15px;}

/*** MINI ARROWS ***/
.colorBlue .breadcrumb li:before {background-position:0 -4px;}
.colorBlue .breadcrumb li:hover:before {background-position:-3px -4px;}

.colorRed .breadcrumb li:before {background-position:0 -8px;}
.colorRed .breadcrumb li:hover:before {background-position:-3px -8px;}

.colorGreen .breadcrumb li:before {background-position:0 -12px;}
.colorGreen .breadcrumb li:hover:before {background-position:-3px -12px;}

/*** LARGE ARROWS - BTMENU ***/
.colorGreen .btMenu a:before {background-position: 0 -28px;}
.colorBlue .btMenu a:before {background-position: 0 -14px;}
.colorRed .btMenu a:before {background-position: 0 -21px;}


