/***
**** Tudo o que é deprecated e está dentro de MOBILE.CSS
***/
@media screen and (max-width:767px) {
  .limite {
    width:95% !important;
    position:relative; left:0;
    padding-bottom:0;
    margin:0 auto;
  }
  #rodape nav .lnkSeta, #rodape nav .lnkArrow {margin:2px 0 0 10px; float:left; font-size:11px;}
}


/* DEPRECATED 21/01/13 */
.collapseGroup summary {
  color:#545454;
  cursor:pointer;
  font-family:verdana;
  display:block;
  background:url(img/setaCollapseBottom.png) no-repeat 99% center;
}
.collapseGroup .active summary { font-weight:bold;   background:url(img/setaCollapseTop.png) no-repeat 99% 8px;}
.collapseGroup summary span.ico-dot {
  font-size: 30px;
  line-height: 20px;
  margin-right: 0;
  width: 25px;
  text-align: center;
}

summary.ico-dot:before {font-size:25px; margin-top:-1px;}
summary.ico-dot + div p {padding-left:23px !important;}
.collapseGroup summary span {
  font:bold 18px Ubuntu, verdana, arial, tahoma, helvetica, sans-serif;
  color:#777;
  border:none;
}
.collapseGroup {padding-top:20px; margin:0 10px;}
.collapseGroup .details {
  background:#f1f1f1;
  padding:3px 7px;
  margin-bottom:5px;
  border-radius:3px;
  border:1px solid #d6d6d6;
}
.collapseGroup .details.active {background-color:#FFF;}
.collapseGroup .details p {padding:10px 30px;}

/* DEPRECATED 24/01/13 */
/*** statusMessageBox
**** Usado inicialmente na home de Email Marketing
***/
.statusMessageBox {
  list-style:none;
  border:1px solid #e5e5e5;
  border-radius:3px;
  margin:0 0 5px;
  font-family:verdana;
  position: relative;
}
.statusMessageBox:hover {
  background: #f0f0f0;
}
.statusMessageBox .viewMessage{
  left: 0;
  position: absolute;
  top: 0;
  height: 53px;
  width: 100%;
  z-index: 2;
}
.statusMessageBox li:first-child {text-align:center;}
.statusMessageBox > li {
  vertical-align:middle;
  border-right:1px solid #e5e5e5;
  margin-right:5px;
  padding:13px 5px 12px 0;
  min-width:65px;
}
.statusMessageBox > li.statusContact{ padding-left: 10px;}

.statusMessageBox li a {color:#2a2a2a;}

.statusMessageBox h6 {
  color:#767676;
  font:11px verdana, tahoma, arial, helvetica, sans-serif;
}
.statusMessageBox p {margin:0; color:#2a2a2a;}
.statusMessageBox b {
  font:bold 15px verdana, tahoma, arial, helvetica, sans-serif;
  color:#2a2a2a;
}
.statusMessageBox .countViews h6 {color:rgba(0,0,0,0.5);}
.statusMessageBox .countViews {
  margin:2px;
  min-width:102px;
  position:relative;
  border-right:none;
  padding:9px 8px 9px 0;
  text-align:center;
}
.lists .statusMessageBox:hover .countViews:after{
   background:url(img/arrowInfo.png) no-repeat 0 -99px;
}
.lists .statusMessageBox .countViews:after{
  background:url(img/arrowInfo.png) no-repeat 0 0;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 98px;
}
.overflowMessage + .overflowMessage {border-right:none; margin-right:0; width:29%;}
.statusMessageBox .overflowMessage p {width:10000px;}
.lists .statusMessageBox p{height: 27px;}
.lists .statusMessageBox .countViews {
  padding: 21px 10px 19px 0;
  height: 57px;
  font-weight:normal;
}
.lists .statusMessageBox > li{padding: 10px 5px 0 0; position: relative;}
.lists .statusMessageBox .countViews h6 {padding-left:0; font-weight:normal;}
.lists .statusMessageBox .countViews p {padding-left:0;}

.statusMessageBox > li {margin-left:0; border-right:none; ; margin-left:2px;}
.lists .statusMessageBox h6 {
  font:bold 12px verdana, arial, tahoma, sans-serif;
  color:#545454;
}
.lists .statusMessageBox p {color:#767676; padding:3px 0 0 10px; font:12px verdana, arial, helvetica, tahoma, sans-serif;}

h6 small {font-weight:normal; font-size:11px; padding:0 0 0 10px; margin:0 8px; border-left:1px solid #CCC; color:#767676;}
.statusMessageBox > li.messageBorder{
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 13px 5px 12px 10px;
}

/* inserindo Status */
.lists .statusMessageBox .status{
  border-left: 1px solid #E5E5E5;
  padding: 8px 0 8px 10px;
  position: absolute;
  left: 80%;
  top: 0;
}

.statusMessageBox .actionsTable{margin: 7px 0px 7px 10px;}
.lists .statusMessageBox > li{ padding: 10px 0px 0 0;}
.lists .statusMessageBox .countViews h6{font-weight: bold;}
.countViews small{ color: #767676;}
.lists .statusMessageBox .status > span {font-weight: normal;}
.lists .statusMessageBox .status b{font-size: 12px;}

/** usado no lugar de campos de formulário para listar KEYs de APIS no Email Marketing e Revenda de EMKT **/
pre {
  background:#FFF;
  margin:5px 0;
  padding:10px;
  box-shadow:inset 0 2px 5px -2px rgba(0,0,0,0.2);
  font-weight:normal;
}

/*** POPOVER
***/
.infoBubble {
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: #194092;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  box-shadow: 0 0 3px #224c9b inset;
  color: #FFF !important;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 4px;
}
.progress.infoBubble{padding: 0;}


/*** POPOVER
**** Novo icone infoBubble testado na Revenda
***/
.infoBubble:before {
  content: "?";
  color:#FFF !important;
}

.infoBubble h6 {
  color:#1a4294;
  font:bold 12px verdana, arial, tahoma, sans-serif;
  margin:0 0 5px;
}
/** usado no lugar de campos de formulário para listar KEYs de APIS no Email Marketing e Revenda de EMKT **/
pre {
  background:#FFF;
  margin:5px 0;
  padding:10px;
  box-shadow:inset 0 2px 5px -2px rgba(0,0,0,0.2);
  font-weight:normal;
}

/****
***** Nomenclaturas antigas
****/

/*** LIMITE ***/
#main > .limite {padding-bottom:160px;}
#main div.limite {left:0 !important; padding:0 10px 40px 10px;}
.limite {margin: 0 auto; width: 988px;}
header.headerPrincipal .limite {height:120px; position:relative;}
header.headerPrincipal .limite:after {content:" "; display:block; clear:both;}

.gridCode #main .limite [class^="span"] {margin-bottom:10px; background:#e3e3e3;}
.gridCode #main .limite [class^="span"] p {margin:0; padding:10px;}
.gridCode #main .limite [class^="span"]:hover {color:#000; background:#CCC; font-weight:bold;}

footer#rodape .limite {padding:0;}

/*** LNKSETA  ***/
.lnkSeta {
  cursor:pointer;
  color:#666;
  font: 12px Ubuntu, verdana, arial, sans-serif;
  display:inline-block;
  padding:0;
  margin:5px 0;
  vertical-align: middle;
}
h3 .lnkSeta {border-left:1px solid #CCC; padding-left:7px; margin-left:5px;}
h4 + .lnkSeta {border-left:1px solid #bababa; margin-left:10px; padding-left:10px;}
h6 .lnkSeta {position:relative; top:-1px; margin:0;   border-left:1px solid #CCC; padding-left:10px;}

.spanObs .lnkSeta {margin: 0;}
.innerSideBox + .lnkSeta {margin:-5px 0 10px 10px;}
.chamadasBox + .lnkSeta {position:relative; top:-5px;}

.miniBox .lnkSeta::before, .lnkSeta:before{width: auto;}
.lnkSeta.maxShortcuts,
.lnkSeta.minShortcuts {margin-left: 17px;}
.boxGray > .lnkSeta {margin:0 15px 10px;}
#rodape nav .lnkSeta {margin:15px 20px 0; color:#FFF;}
.dropdown-menu.listIdent .lnkSeta {margin:10px; background-position:left 4px; padding-left:13px;}

footer#rodape .limite {padding:0;}

.lnkSeta:before {
  display:inline-block;
  margin-right:4px;
  font-family: locaweb;
  font-weight:normal;
  speak: none;
  text-decoration:none;
  width:auto;
  line-height: 1.1em;
  vertical-align: middle;
  text-align: center;
  position:relative;
  top:-2px;
  font-size:1.1em;
}
.ie8 .lnkSeta:before {vertical-align:top; text-decoration: none !important;}
.lnkSeta.setaInv:before, .lnkSeta.setaLeft:before {content: "\e0a0";}
.lnkSeta:before {content: "\e0a2";}

#rodape nav .lnkSeta {
  margin: 2px 0 0 10px;
  font-size: 11px;
  text-align: center;
  float: none !important;
  display: block;
  padding: 7px 0 0;
  clear: both;
}
