body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;

    -webkit-text-shadow:0 0 1px transparent;
    -moz-text-shadow:0 0 1px transparent;
    -ms-text-shadow:0 0 1px transparent;
    -o-text-shadow:0 0 1px transparent;
    text-shadow:0 0 1px transparent;

    -webkit-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/ubuntu/ubuntu-regular-webfont.eot');
    src: url('/fonts/ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff'),
         url('/fonts/ubuntu/ubuntu-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('/fonts/ubuntu/ubuntu-bold-webfont.eot');
    src: url('/fonts/ubuntu/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ubuntu/ubuntu-bold-webfont.woff') format('woff'),
         url('/fonts/ubuntu/ubuntu-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuLight';
    src: url('/fonts/ubuntu/ubuntu-light-webfont.eot');
    src: url('/fonts/ubuntu/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ubuntu/ubuntu-light-webfont.woff') format('woff'),
         url('/fonts/ubuntu/ubuntu-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('/fonts/ubuntu/ubuntu-medium-webfont.eot');
    src: url('/fonts/ubuntu/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ubuntu/ubuntu-medium-webfont.woff') format('woff'),
         url('/fonts/ubuntu/ubuntu-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'LacunaRegular';
    src: url('/fonts/lacuna/lacuna-webfont.eot');
    src: url('/fonts/lacuna/lacuna-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lacuna/lacuna-webfont.woff') format('woff'),
         url('/fonts/lacuna/lacuna-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LacunaItalicRegular';
    src: url('/fonts/lacuna/lacuna-italic-webfont.eot');
    src: url('/fonts/lacuna/lacuna-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lacuna/lacuna-italic-webfont.woff') format('woff'),
         url('/fonts/lacuna/lacuna-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
