/* FOOTER */
footer#rodape {
  clear:both;
  position:absolute;
  bottom:0;
  width:100%; 
}
#rodape .footerTop {
  padding:15px 0 0;
  background:url(/img/bgfooter.png);
}
#rodape nav {height:50px;}

#rodape nav h6 {
  font: 300 17px Ubuntu, verdana, tahoma, arial, helvetica, sans-serif;
  color:#FFF;
  text-transform:uppercase;
  background:#000;
  padding:15px;
  margin:0;
  float:left;
}
  
#rodape nav {
  background:#141414;
  border:1px solid #383838;
  border-bottom:0;
  border-radius:3px;
}

#rodape ul{float:left; padding:15px; margin:0;}
#rodape ul li {display:inline;}

#rodape nav ul li a {
  display:inline-block;
  color:#FFF;
  padding:5px 35px;
  background-position:left center;
  background-repeat:no-repeat;
  border-right:1px solid #434343;
  margin-right:25px;
}
#rodape nav ul li:last-child a {border-right:none;}

#rodape ul li.ico-helpDesk a {background-image:url(/img/icoChat.png);}
#rodape ul li.ico-Chat a {background-image:url(/img/icoHelpDesk.png);}
#rodape ul li.ico-Telefone a {background-image:url(/img/icoTelefone.png);}

#rodape nav .lnkSeta {margin:15px 20px 0; color:#FFF;}

.subfooter {padding:10px 0; color:#545454; font-size:11px; background:#FFF; clear:both; overflow: hidden;}
.subfooter strong {color:#2a2a2a;}
.subfooter .lastAccess {
  padding:0 0 0 20px;
  background:url(/img/ico-ultimoAcesso.png) no-repeat left center;
}
.copyRight {margin:0;}

.icoInterroga {
  display:inline-block;
  text-indent:-9999px;
  background:url(/img/icoInterroga.png) no-repeat center;
  width:12px; height:12px;
  vertical-align:middle;
}

#rodape [class^="ico"]:before,
#rodape [class*=" ico"]:before {display:none;}
