.obsGray form {margin-bottom:0; padding:3px 0;}
fieldset {
  border:none;
  padding:0; margin:0 0 10px;
}
fieldset + fieldset {margin-top:20px;}

input, textarea, select {color:#797979; margin-bottom:0; z-index:1; position:relative; border-color:#e5e5e5;}

/** modifica a cor do placeholder dos inputs **/
::-webkit-input-placeholder,
::-moz-input-placeholder,
::-ms-input-placeholder,
::-o-input-placeholder,
::input-placeholder {color:#bfbfbf;}

.control-group input {margin-bottom:0;}

form h6 {
  text-transform:inherit;
  font:400 14px Ubuntu;
  color:#2a2a2a;
  margin:0 0 10px;
}
label b {display:none;}
.control-group {margin-bottom:15px;}
.modal .control-group {padding:0 5px;}
.form-horizontal .controls, .controls {
  text-align: left;
  margin-left:1px;
}

.controls > label, .controls > .control-label {
  width:auto;
  padding-left:3px;
  vertical-align:middle;
  font-weight:normal;
  display:inline-block;
  margin-bottom:0;
}

.controls .control-label input {display:inline-block; margin-top:0; vertical-align:top;}

label, strong.control-label, .form-horizontal .control-label {
  font-weight:bold;
  font-size:12px;
  vertical-align:middle;
  padding-right:10px;
  color:#545454;
  line-height:12px;
}
label.widthAuto {width:auto !important;}
label.nomarginleft {margin-left: 0 !important;}
.formInline label,
.form-horizontal label,
.formInline strong.control-label,
.form-horizontal strong.control-label,
.formInline .control-label,
.form-horizontal .control-label {
  font-weight:bold;
  font-size:12px;
  display:inline-block;
  vertical-align:middle;
  padding-right:10px;
  text-align:right;
  width:100px;
  color:#545454;
  line-height:12px;
  padding-top: 5px;
}

.boxGrayOpt {
  padding:10px;
  position:relative;
  margin:10px 0;
  background:#e2e2e2;
  clear:both;
  float:none;
}
.formInline.boxGrayOpt label {width:auto; margin-bottom:0;}

.formInline .boxGrayOpt label,
.form-horizontal .boxGrayOpt label,
.formInline .boxGrayOpt .control-label,
.form-horizontal .boxGrayOpt .control-label,
.formInline .controls .boxGrayOpt label,
.form-horizontal .controls .boxGrayOpt label,
.formInline .controls .boxGrayOpt .control-label,
.form-horizontal .controls .boxGrayOpt .control-label  {
  margin:0;
  width:100px;
  text-align:left;
}

.boxGrayOpt:before {
  content:" ";
  display:block;
  width:15px; height:5px;
  background:url(/img/indicadorTopBoxGrayInput.png) no-repeat;
  position:absolute;
  top:-5px; left:15px;
}

label.checkbox.control-label, label.checkbox.control-label:first-child {
  margin: 0 0 0 110px;
  width: inherit;
}
/*label.checkbox.control-label input {float:none;}*/

.opcoesBuscaAvancada .control-group .control-label:first-child,
.control-group .control-label:first-child {margin-left:0;}

.boxGrayOpt input {margin:0 1px 0 0;}

.filtroExibe .control-group label {font-weight:normal; width:auto !important;}
.filtroExibe .control-group {margin:0;}
.filtroExibe .controlg-group input, .filtroExibe .controlg-group select {margin:0;}


/** Busca avançada **/
.boxFiltro, .boxCinza {
  border-radius:3px;
  background:#dfdddd;
  padding:15px;
  margin:30px 0;
}

.boxCinzaLight {
  border-radius:3px;
  background:#ececec;
  padding:15px;
  margin:30px 0;
}

.boxCinzaInnerLight {
  clear:both;
  background:#dddddd;
  padding:10px;
  border-radius:5px;
}

.labelInline {margin-bottom:15px;}
.labelInline label {display:inline;}

.boxFiltro h2 {padding:0 0 10px;}
.boxFiltro h6 {padding:0;}
.boxFiltro .datepicker {width:94px;}

/* Quando ativa busca avançada */
.control-group.collapse {margin-bottom:0;}
.control-group.collapse.in {margin-bottom:18px;}

.boxFiltro fieldset, .boxCinza .boxCinzaInner {
  clear:both;
  background:#cecccc;
  padding:10px;
  border-radius:5px;
}

.transaction-search-per-page {width:70px;}

.periodoForm.formInline .control-group:first-child .help-inline {margin-left:117px;}
.periodoForm.formInline .control-group .help-inline {margin-left:0; padding-left:0;}

input.input30 {width:30px;}
input.input60 {width:54px;}
input.input120 {width:120px;}
input.input240 {width:238px;}
input.input360 {width:360px;}

.input60 input {width:54px;}
.input60 label, .input60 .help-inline {min-width:154px;}

/** Botao do Datepicker **/
.ui-datepicker-trigger {
  border:none;
  background-color:transparent;
}

legend + .control-group {margin-top:0;}

.sideBySide:after {content:" "; display:block; clear:both;}
.sideBySide .control-group {
  padding-bottom:3px;
  padding-right: 10px;
  float:left;
}
.sideBySide label:first-child {width:auto;}
.sideBySide label.control-label {
  width: 103px;
}
.sideBySide.formInline .control-label, .form-horizontal.sideBySide .control-label {
  float:left;
  min-height: 27px;
  line-height: 27px;
}
.sideBySide.error label {color:#B94A48;}
.help-inline {margin-bottom:0; padding-left:0; display:block;}
.formInline .error .help-inline {display:block; margin:2px 0 0 105px;}
.error .help-inline {font-size:11px; display:block; margin:2px 0 0 0px;}
.error input {margin-bottom:0;}
.input-prepend label + .add-on {border-radius:3px 0 0 3px; margin-left:0;}

input[type="image"], input[type="checkbox"], input[type="radio"] {margin-top:0;}

.simpleFilter {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:20px;
  padding: 15px 0 10px;
  min-height: 30px;
}
.tab-pane .simpleFilter {padding-top:5px;}
.simpleFilter form {margin:0;}
.simpleFilter select {margin-bottom:3px; width:100px;}
.simpleFilter.sideBySide .control-group {margin-bottom:0; border-left:1px dotted #cfcfcf; padding:0 0 0 15px; margin-left:15px;}
.simpleFilter .control-group:last-child {border-left:0;}
.simpleFilter.sideBySide .control-group.fright {float:right;}
.simpleFilter.sideBySide .control-group.fright:last-child {border:none;}
.simpleFilter.sideBySide .control-group label {width:auto;}

.simpleFilter.sideBySide p.fleft {margin-bottom:0; margin-top:6px;}

.simpleFilter .searchInput {
  background:url(/img/lupaInput.png) no-repeat 8px center;
  max-width:185px;
  padding-left:35px;
}
.simpleFilter .control-group.fright {padding-right:0;}

.datetime select {width:100px;}