
/** Busca avançada **/
.boxBuscaAvancada {
	border-radius:3px;
	background:#dfdddd;
	padding:15px;
	margin:30px 0;
}
.boxBuscaAvancada label.control-label {font-weight:bold; min-width:70px; width:auto; padding-right:10px;}

.boxBuscaAvancada input, .boxBuscaAvancada .add-on {float:none; display:inline-block;}
.boxBuscaAvancada .add-on {margin-left:-6px;}

.boxBuscaAvancada h2 {
	margin:0 0 10px;
}

.boxBuscaAvancada .datepicker {width:94px;}

.form-horizontal .controls {margin-left:0;}

.transaction-search-per-page {
	width:70px;
}