fieldset {
    border:none;
    padding:0; margin:0;
}

fieldset h6 {
    text-transform:inherit;
    font:400 14px Ubuntu;
    color:#2a2a2a;
    margin:0 10px 10px;
}

.form-horizontal .controls, .controls {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left:0;
}

label, strong.control-label, .form-horizontal .control-label {
    font-weight:bold;
    display:inline-block;
    vertical-align:middle;
    padding-right:5px;
    text-align:right;
    float:none;
    width:100px;
    color:#545454;
    line-height:12px;
}
.control-group .control-label {width:auto; margin-left:10px;}
.control-group .control-label:first-child {width:100px;}

.modal label, .modal .form-horizontal .control-label {width:140px;}

.controls label,
.control-group .controls .control-label:first-child, 
.modal .controls label, 
.controls .control-label, 
.modal .controls .control-label {
    text-align:left;
    width:auto; 
    margin:5px 0 0 0; 
    font-weight:normal;
    color:#797979;
}

.boxGrayOpt {
    padding:5px;
    position:relative;
    margin:10px 0;
    background:#e2e2e2;
}

.boxGrayOpt label, .boxGrayOpt .control-label,
.controls .boxGrayOpt label, .controls .boxGrayOpt .control-label {margin:0; width:100px; text-align:left;}

.boxGrayOpt:before {
    content:" ";
    display:block;
    width:15px; height:5px;
    background:url(/img/indicadorTopBoxGrayInput.png) no-repeat;
    position:absolute;
    top:-5px; left:15px;
}

label.checkbox.control-label, label.checkbox.control-label:first-child {
    margin: 0 0 0 110px;
    width: inherit;
}
label.checkbox.control-label input {float:none;}

.opcoesBuscaAvancada .control-group .control-label:first-child, 
.control-group .control-label:first-child {margin-left:0;}

input, .control-group input {vertical-align:middle; display:inline-block; float:none;}

.navView .control-label {width:auto;}
.control-group .add-on {float:none; display:inline-block; vertical-align:middle;}

/** Busca avançada **/
.boxFiltro {
    border-radius:3px;
    background:#dfdddd;
    padding:15px;
    margin:30px 0;
}

.boxFiltro h2 {margin:0 0 10px;}

.boxFiltro .datepicker {width:94px;}

/* Quando ativa busca avançada */
.control-group.collapse {margin-bottom:0;}
.control-group.collapse.in {margin-bottom:18px;}

.boxFiltro fieldset {
    clear:both;
    background:#cecccc;
    padding:10px 0;
    border-radius:5px;
}

.transaction-search-per-page {width:70px;}

.input30 {width:30px;}
.input120 {width:120px;}
.input240 {width:240px;}


/** Botao do Datepicker **/
.ui-datepicker-trigger {
  border:none;
  background-color:transparent;
}


legend + .control-group {margin:0;}
.boletoForm input[type="text"] {
    width:165px;
}
.boletoForm label {width:100px;}

.sideBySide input[type="text"] {width:140px;}
.sideBySide label:first-child {width:140px;}
.sideBySide label {width:83px;}