fieldset {
    border:none;
    padding:0; margin:0;
}

input, textarea, select {color:#797979;}
.control-group input {margin-bottom:0;}

form h6 {
    text-transform:inherit;
    font:400 14px Ubuntu;
    color:#2a2a2a;
    margin:0 0 10px;
}
label b {display:none;}
.control-group {margin-bottom:15px;}

.form-horizontal .controls, .controls {
    text-align: left;
    margin-left:1px;
}

.controls > label, .controls > .control-label {
    width:auto;
    padding-left:3px; 
    vertical-align:middle;
    font-weight:normal;
    display:inline-block;
    margin-bottom:0;
}

.controls .control-label input {display:inline-block; margin-top:0; vertical-align:top;}

label, strong.control-label, .form-horizontal .control-label {
    font-weight:bold;
    font-size:12px;
    vertical-align:middle;
    padding-right:10px;
    color:#545454;
    line-height:12px;
}

.formInline label, 
.form-horizontal label, 
.formInline strong.control-label, 
.form-horizontal strong.control-label, 
.formInline .control-label,
.form-horizontal .control-label {
    font-weight:bold;
    font-size:12px;
    display:inline-block;
    vertical-align:middle;
    padding-right:10px;
    text-align:right;
    width:100px;
    color:#545454;
    line-height:12px;
}

.boxGrayOpt {
    padding:10px;
    position:relative;
    margin:10px 0;
    background:#e2e2e2;
    clear:both;
    float:none;
}
.formInline.boxGrayOpt label {width:auto;}

.formInline .boxGrayOpt label, 
.form-horizontal .boxGrayOpt label, 
.formInline .boxGrayOpt .control-label,
.form-horizontal .boxGrayOpt .control-label,
.formInline .controls .boxGrayOpt label, 
.form-horizontal .controls .boxGrayOpt label, 
.formInline .controls .boxGrayOpt .control-label,
.form-horizontal .controls .boxGrayOpt .control-label  {
    margin:0; 
    width:100px; 
    text-align:left;
}

.boxGrayOpt:before {
    content:" ";
    display:block;
    width:15px; height:5px;
    background:url(/img/indicadorTopBoxGrayInput.png) no-repeat;
    position:absolute;
    top:-5px; left:15px;
}

label.checkbox.control-label, label.checkbox.control-label:first-child {
    margin: 0 0 0 110px;
    width: inherit;
}
label.checkbox.control-label input {float:none;}

.opcoesBuscaAvancada .control-group .control-label:first-child,
.control-group .control-label:first-child {margin-left:0;}

.boxGrayOpt input {margin:0 1px 0 0;}

/**
*** Barra com select de Quantidade de exibição e paginação
**/
.navView {
  margin:20px 0;
  padding:9px 10px 0;
  color:#767676;
  clear:both;
  border-bottom:1px solid #e5e5e5;
}

table ~ .navView {border-bottom:0; border-top:1px solid #e5e5e5;}

.navView label {color:#767676; width:auto; display:inline-block;}
.navView .control-group {display:inline-block; margin-right:5px;}

.filtroExibe .control-group label {font-weight:normal; width:auto !important;}
.filtroExibe .control-group {margin:0;}
.filtroExibe .controlg-group input, .filtroExibe .controlg-group select {margin:0;}

.control-group .add-on button {padding:0;}
.control-group .add-on {
    float:none; display:inline-block; vertical-align:top;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.error .add-on {border-color:#B94A48;}

/** Busca avançada **/
.boxFiltro {
    border-radius:3px;
    background:#dfdddd;
    padding:15px;
    margin:30px 0;
}

.labelInline {margin-bottom:15px;}
.labelInline label {display:inline;}

.boxFiltro h2 {margin:0 0 10px;}

.boxFiltro .datepicker {width:94px;}

/* Quando ativa busca avançada */
.control-group.collapse {margin-bottom:0;}
.control-group.collapse.in {margin-bottom:18px;}

.boxFiltro fieldset {
    clear:both;
    background:#cecccc;
    padding:10px;
    border-radius:5px;
}

.transaction-search-per-page {width:70px;}

.periodoForm.formInline .control-group:first-child .help-inline {margin-left:117px;}
.periodoForm.formInline .control-group .help-inline {margin-left:0; padding-left:0;}

input.input30 {width:30px;}
input.input60 {width:54px;}
input.input120 {width:120px;}
input.input240 {width:238px;}
input.input360 {width:360px;}


/** Botao do Datepicker **/
.ui-datepicker-trigger {
  border:none;
  background-color:transparent;
}

legend + .control-group {margin-top:0;}

.sideBySide {overflow: hidden;}
.sideBySide .control-group {
    padding-bottom:3px; 
    padding-right: 10px;
    float:left;
}
.sideBySide label:first-child {width:auto;}
.sideBySide label.control-label {
    width: 103px;
}
.sideBySide.formInline .control-label, .form-horizontal.sideBySide .control-label {
    float:left;
    min-height: 27px;
    line-height: 27px;
}
.sideBySide.error label {color:#B94A48;}
.help-inline {margin-bottom:0; padding-left:0;}
.formInline .error .help-inline {display:block; margin:2px 0 0 105px;}
.error .help-inline {font-size:11px; display:block; margin:2px 0 0 0px;}
.error input {margin-bottom:0;}

.input-prepend label + .add-on {border-radius:3px 0 0 3px;}

