/**!
*** GRID.CSS
**/
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}

/** Outras telas, desktops e até tablets
***
**/
.limite,
#menuPrincipal > ul,
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {width: 988px;}

.span16 {width: 988px;}
.span15 {width: 925px;}
.span14 {width: 862px;}
.span13 {width: 799px;}
.span12 {width: 736px;}
.span11 {width: 673px;}
.span10 {width: 610px;}
.span9 {width: 547px;}
.span8 {width: 484px;}
.span7 {width: 421px;}
.span6 {width: 358px;}
.span5 {width: 295px;}
.span4 {width: 232px;}
.span3 {width: 169px;}
.span2 {width: 106px;}
.span1 {width: 43px;}

input.input120, input.span2 {width:90px !important;}
.simpleFilter .searchInput {max-width:145px !important;}

.span14 {width:840px;}

.revisit .chamadasBox h3{ font: 100 18px UbuntuLight, verdana, arial, tahoma, sans-serif; line-height: 25px; letter-spacing: -1px;}


/** Desktop
*** Passando de 1220px
**/
@media screen and (min-width: 1220px) {
  .limite,
  #menuPrincipal > ul,
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {width: 1180px !important;}

  .span16 {width: 1180px;}
  .span15 {width: 1105px;}
  .span14 {width: 1030px;}
  .span13 {width: 955px;}
  .span12 {width: 880px;}
  .span11 {width: 805px;}
  .span10 {width: 730px;}
  .span9 {width: 655px;}
  .span8 {width: 580px;}
  .span7 {width: 505px;}
  .span6 {width: 430px;}
  .span5 {width: 355px;}
  .span4 {width: 280px;}
  .span3 {width: 205px;}
  .span2 {width: 130px;}
  .span1 {width: 55px;}

  .revisit .chamadasBox h3{ font: 100 20px UbuntuLight, verdana, arial, tahoma, sans-serif;}

}

/** Tamanhos padrão de Smartphones
*** 320 x 480
**/
@media screen and (max-width:480px) {
  .limite {
    width:95% !important;
    position:relative; left:0;
    padding-bottom:0;
    margin:0 auto;
  }

  .chamadasBox div {
    width:92% !important;
    min-height: inherit !important;
    padding-bottom:20px !important;
    height: auto !important;
    float:none !important;
  }
  .chamadasBox div p {display:none;}
  .infoLogin {display:none;}

  #main div.limite {left:0 !important; padding:0 10px 40px 10px;}

  [class*="span"] {
    width:auto;
    margin-left:0;
    float:none;
  }

  .row {
    width:auto;
    margin:0;
  }

  header.headerPrincipal .limite {height:auto; padding:0;}
  .revisit .chamadasBox h3{ font: 100 22px UbuntuLight, verdana, arial, tahoma, sans-serif;}
  .revisit .chamadasBox div{ padding-bottom: 0!important;}
  .sidebar {padding:40px 0 0;}

  /** NOME DO PRODUTO - Logo ***/
  .serviceName {
    padding:15px 10px;
    margin:0;
    text-transform:uppercase;
    font-size:20px !important;
    font-weight:bold;
  }

  .logOut {border-radius:5px;}

  /*** MENU PRINCIPAL ***/
  #menuPrincipal {
    width:100%;
    padding:0;
  }

  #menuPrincipal > ul {width:auto;}
  #menuPrincipal > ul > li {float:none; padding:0;}
  #menuPrincipal > ul > li > a:before {display:none;}
  #menuPrincipal > ul > li > a {
    display:block;
    color:#545454;
    text-decoration:none;
    font:14px 'Ubuntu', verdana, arial, tahoma, sans-serif;
    text-transform:uppercase;
    border:1px solid #EFEFEF;
    border-bottom-color:transparent;
    border-radius:none;
    padding:9px;
    -webkit-transition:all .15s linear;
  }
  #menuPrincipal > ul > li > a:hover, #menuPrincipal > ul > li.selected > a {
    border-radius:0;
    background-image:none;
  }

  #menuPrincipal .btMenu {float:none; background:none; border-right:none;}
  #menuPrincipal .btMenu a {background:none; color:inherit; float:none; border-radius:0; padding-left:5px;}

  #menuPrincipal .parent > a:hover, #menuPrincipal .parent:hover > a {
    color:#666;
    font:14px 'Ubuntu', verdana, arial, tahoma, sans-serif;
    text-transform:uppercase;
    border-radius:3px 3px 0 0;
  }
  /*** Caixa inicial de collapse ***/
  .boxGray h2 {font-size:19px;}
  .collapseGroup .details p {font-size:11px; padding-left:20px;}
  .collapseGroup summary {font-size:11px; padding-right:30px;}
  .collapseGroup summary span {font-size:13px;}

  /** TABS **/
  .tab-content {min-width:0px; margin-bottom:40px;}

  /*** Paginação e Select Exibir ***/
  .navView {text-align:center;}

  .navView .pagination {
    float:none;
    padding:10px 0;
  }

  /*** MODAIS ***/
  .modal {
    margin:10px;
    width:auto;
    height: auto;
    max-height: inherit !important;
    overflow:visible;
    position:absolute;
    top:0; left:0;
  }

  .modal-body {
    max-height:inherit !important;
    height:auto;
    overflow:visible;
  }

  /** FORMS **/
  input.input360 {max-width:250px;}

  /** RODAPE **/
  footer#rodape {position:static !important;}
  footer#rodape .limite {padding:0;}

  #rodape nav {height:70px;}
  #rodape ul {width:100%; padding:5px 0; background:#000; text-align:center;}
  #rodape ul li {display:inline;}

  #rodape nav h6 {display:none; font-size:10px; text-transform:lowercase; padding:12px 7px 11px;}
  #rodape nav ul li a {
    display:inline-block;
    font-size: 11px;
    background-size:20%;
    padding:6px 20px 6px 17px;
    margin-right:5px;
  }
  #rodape nav .lnkSeta {
    margin: 2px 0 0 10px;
    font-size: 11px;
    text-align: center;
    float: none !important;
    display: block;
    padding: 7px 0 0;
    clear: both;
  }
  .lastAccess {display:none !important;}

  .copyRight {
    font-size: 10px;
    float: none !important;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }

  /** TABELA Padrão **/
  .tableList td:nth-child(2), .tableList th:nth-child(2),
  .tableList td:nth-child(3), .tableList th:nth-child(3) {visibility:hidden; display:none;}
  table.tableList thead th, table.tableList tbody td {font-size:11px;}
  .subfooter .lastAccess {background-image:none; display:block; padding:0;}
  #rodape nav .lnkSeta {margin:2px 0 0 10px; float:left; font-size:11px;}
  .subfooter strong {margin-left:10px;}
  .icoInterroga {display:none;}

  .footerTop [class^="ico"], .footerTop [class*=" ico"] {padding-left:4px;}

  /** PATH **/
  #steps.pathWay li {
    float:none;
    width:100%;
    border:none;
  }
  #steps.pathWay li b {display:none;}
  #steps.pathWay li a {width:100%;border:none; font-size:15px; margin-bottom:3px;}
  #steps.pathWay span {display:inline-block; padding-right:5px;}

}



