
/** Iphone LIke
*** 320 x 480 (iPhone
**/
@media screen and (max-width:480px) {
    .limite {
        width:auto !important;
        left:0;
        padding-bottom:0;
    }

    .infoLogin {display:none;}

    #main div.limite {left:0 !important; padding:0 10px 40px 10px;}

    [class*="span"] {
        width:auto;
        margin-left:0;
        float:none;
    }

    .row {
        width:auto;
        margin:0;
    }

    header.headerPrincipal .limite {height:auto; padding:0;}

    .sidebar {padding:40px 0 0;}

    /** NOME DO PRODUTO - Logo ***/
    .serviceName {
        padding:15px 10px;
        margin:0;
        text-transform:uppercase;
        font-size:20px;
        font-weight:bold;
    }

    .logOut {border-radius:5px;}

    /*** MENU PRINCIPAL ***/
    #menuPrincipal {
        width:100%;
        padding:0;
    }

    #menuPrincipal > ul {width:auto;}
    #menuPrincipal > ul > li {float:none; padding:0;}
    #menuPrincipal > ul > li > a {
        display:block; 
        padding:7px 10px; 
        font-size:13px; 
        border-radius:0; 
        border-top:1px dotted #CCC;
    }
    #menuPrincipal > ul > li > a:hover, #menuPrincipal > ul > li.selected > a {
        padding:7px 9px 6px; 
        border-radius:0; 
        background-image:none;
    }

    #menuPrincipal .btMenu {float:none;}
    #menuPrincipal .btMenu a {background:inherit; color:inherit; float:none;}

    /*** Caixa inicial de collapse ***/
    .boxGray h2 {font-size:19px;}
    .collapseGroup .details p {font-size:11px; padding-left:20px;}
    .collapseGroup summary {font-size:11px; padding-right:30px;}
    .collapseGroup summary span {font-size:13px;}

    /** TABS **/
    .tab-content {min-width:0px; margin-bottom:40px;}

    /*** Paginação e Select Exibir ***/
    .navView {text-align:center;}

    .navView .pagination {
        float:none;
        padding:10px 0;
    }

    /*** MODAIS ***/
    .modal {
        margin:10px;
        width:auto;
        height: auto;
        max-height: inherit !important;
        overflow:visible;
        position:absolute;
        top:0; left:0;
    }

    .modal-body {
        max-height:inherit !important;
        height:auto;
        overflow:visible;
    }

    #charts .tab-pane {width: 390px !important; height: 200px !important;}


    /** FORMS **/
    input.input360 {max-width:250px;}

    /** RODAPE **/
    footer#rodape {position:static;}
    footer#rodape .limite {padding:0;}
    #rodape ul {padding:5px 0; background:black;}

    #rodape nav h6 {font-size:10px; text-transform:lowercase; padding:12px 7px 11px;}
    #rodape nav ul li a {font-size: 11px; background-size:20%; padding:6px 7px 6px 17px; margin-right:5px;}
    .copyRight {
        font-size: 10px;
        float:none; margin-left:10px;
    }

    /** TABELA Padrão **/
    .tableList td:nth-child(2), .tableList th:nth-child(2),
    .tableList td:nth-child(3), .tableList th:nth-child(3) {visibility:hidden; display:none;}
    table.tableList thead th, table.tableList tbody td {font-size:11px;}
    .subfooter .lastAccess {background-image:none; display:block; padding:0;}
    #rodape nav .lnkSeta {margin:2px 0 0 10px; float:left; font-size:11px;}
    .subfooter strong {margin-left:10px;}
    .icoInterroga {display:none;}

    .footerTop [class^="ico"], .footerTop [class*=" ico"] {padding-left:4px;}

}

