/** MODAL **/
.modal {
  padding:10px;
  margin-top:-290px; /* sobrescrevendo bootstrap **/
  max-height:560px;
}

.modal-header {
  border:none;
  padding-bottom:0;
  padding: 0; margin:0;
}

.modal-body {
  padding:15px 0 0;
}

.modal-body {margin:0 0 10px;}

.modal-header h3 {
  margin:0;
  padding:0 0 10px;
  font-size:20px;
  font-weight:400;
  border-bottom:1px solid #EEE;
  font:100 20px Ubuntu, arial, verdana, tahoma, sans-serif;
}
.modal-footer {border-top:5px solid #e5e5e5; clear:both;}

.modal-footer form { display:inline-block;}

.listDetail {clear:both; margin:0;}
.listDetail.boxGray {background-color:#e2e2e2; padding:10px 0; margin-bottom:15px;}

.listDetail dt {
  width: 150px;
  text-align: right;
  font-weight: normal;
  clear: left;
  margin: 0 0 6px;
  color:#767676;
  display: inline-block;
  vertical-align: middle;
}

.listDetail dd {
  color: #616161;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 6px;
}


.listDetail .sep {
  display:block;
  border:none;
  background:none;
  margin:0; padding:0;
}