/** MODAL **/
.modal {
  padding:10px;
  margin-top:-290px; /* sobrescrevendo bootstrap **/
  max-height:590px;
  display:none;
  width:550px;
  overflow:hidden;
}

.modal-header {
  border:none;
  padding-bottom:0;
  padding: 0; margin:0;
}
.modal-header .close { margin-right:5px;}

.modal-header h3 {
  margin:0;
  color:#000;
  padding:0 5px 10px;
  font-size:20px;
  font-weight:400;
  border-bottom:1px solid #EEE;
  font:400 20px Ubuntu, arial, verdana, tahoma, sans-serif;
}

.modal-body {padding:15px 5px 0; min-height:auto; margin:0 0 15px;}
.modal-header p {padding-left:5px; padding-right:5px;}

.modal-body h2:first-child {margin-top:0;}

.modal-footer .btn.close {float:none; display:inline-block;}

.modal-footer {
  border-top:5px solid #e5e5e5;
  background-color:transparent;
  clear:both;
  text-align:left;
  padding:20px 0 10px 0;
}
.modal-footer form { display:inline-block;}

.listDetail {clear:both; margin:0;}
.listDetail.boxGray {background-color:#e2e2e2; padding:10px 0; margin-bottom:15px;}

.listDetail dt {
  width: 150px;
  text-align: right;
  font-weight: normal;
  clear: left;
  margin: 0 0 6px;
  color:#767676;
  display: inline-block;
  vertical-align: middle;
}

.listDetail dd {
  color: #616161;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 6px;
}

.listDetail .sep {
  display:block;
  border:none;
  background:none;
  margin:0; padding:0;
}

.modal-footer .slidePrev, .modal-footer .slideNext {float:right;}

.modal-footer .slidePrev:before, .modal-footer .slideNext:after {
  content: " ";
  display:inline-block;
  width:10px; height:10px;
}
.modal-footer .slidePrev:before {background:url(/img/arrowLeftGray.png) no-repeat center; margin-right:5px;}
.modal-footer .slideNext:after {background:url(/img/arrowRight.png) no-repeat center; margin-left:5px;}

.modalSlider .modal-footer .btn-primary {float:right;}