.np0{
	background: url(img/bars.gif) no-repeat 0 0;
	width: 70px;
	height: 14px;
	margin-left: 15px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.np10{background-position: 0 -14px;}
.np20{background-position: 0 -21px;}
.np30{background-position: 0 -28px;}
.np40{background-position: 0 -35px;}
.np50{background-position: 0 -42px;}
.np60{background-position: 0 -49px;}
.np70{background-position: 0 -56px;}
.np80{background-position: 0 -63px;}
.np90{background-position: 0 -70px;}
.np100{background-position: 0 -70px;}