

/*** PATH
**** Passos de algum processo.
***/
.pathWay {clear:both;}
.pathWay ol:after, .pathWay ul:after {content:" "; display:block; clear:both;}
.pathWay ol, .pathWay ul {margin:0 0 30px; padding:0;}
.pathWay li.disable, .pathWay li.disable a {cursor: default;}
.pathWay li, .pathWay li.disabled, .pathWay li.disable:hover {
  margin-right:1px;
  list-style: none;
  width: 19.8%;
  float: left;
  background: url(img/dotsPathWays.png) repeat-X bottom left;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.pathWay li a, .pathWay li.disable:hover a {
  border-left: 1px dotted #CCC;
  border-bottom: 2px solid white;
  padding: 5px 0 0 5px;
  margin-bottom: 5px;
  color: #B0B0B0;
  width: 97.9%;
  display: inline-block;
  font: 18px Ubuntu, arial, tahoma, sans-serif;
  text-transform: uppercase;
  background: white url(img/pathWays-whiteGradient.png) repeat-X top;
  letter-spacing: -1px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.pathWay li a:hover {text-decoration:none;}
.pathWay li:first-child a {border-left:none;}
.pathWay span {
  display:block;
  padding:16px 0 0 0;
  font-size:12px;
  text-transform: capitalize;
}

.pathWay li b, .pathWay li.disable:hover b {
  color:#b8b8b8;
  letter-spacing: -3px;
  margin-right: 5px;
  float:left;
  font:bold 50px UbuntuMedium, Ubuntu, Verdana, arial, tahoma, sans-serif ;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.pathWay .stepOk {background-color:#666665;}
.pathWay .stepOk a, .pathWay .stepOk b {color:#666;}
