.sidebar {margin:25px 0 0;}

.sideBox {
  background:#f0f0f0 url(img/bgSidebarBox.png) repeat-X top center;
  border-radius:3px;
  border:1px solid #e5e5e5;
  position:relative;
  margin-bottom:45px;
}

.innerSideBox {
  margin:10px;
  border-radius:2px;
}
.boxWhite {background:#FFF; padding:10px; border-radius:3px;}
.innerSideBox.boxGray {background:#e2e2e2; padding:10px;}

.list .boxWhite {list-style:none; margin-bottom:1px; padding:7px 10px; line-height:15px;}
.list .boxWhite a {color:#767676;}

.innerSideBox img {margin:0 3px 8px 0;}
.innerSideBox .control-group:last-child {margin-bottom:0;}

.innerSideBox [class^="ico-"], .innerSideBox [class*="ico-"] {color:#2a3a2a;}

.innerSideBox + .innerSideBox {margin-top:1px;}

.sideBox h6, .sideBox .grayP {
  margin:0; padding:0;
  text-transform:capitalize;
  font:11px verdana, tahoma, arial, sans-serif;
  color:#848484;
}
.sideBox .grayP {text-transform:inherit; margin-bottom:10px;}
.sideBox p {
  font:12px verdana, tahoma, arial, sans-serif;
  margin:0; padding:0;
  color:#2a2a2a;
}
.innerSideBox p:last-child {margin-bottom:0;}

.sideBox hr { margin:5px 0;}

.sidebar[classˆ="span"], .sidebar[class*=" span"] {margin-top:0;}
/** Títulos com ícones da SIDEBAR **/
.titSide {
  text-transform:uppercase;
  font:300 18px Ubuntu;
  margin:-28px 0 0 10px;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 2px 0 18px 50px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.titSide.titDadosConta {background-image:url(img/ico-dadosConta.png);}
.titSide.titMeiosPagto {background-image:url(img/ico-convenios.png);}
.titSide.titAjudaSuporte {background-image:url(img/ico-dadosConta.png);}

.colorGreen .titSide.titDadosConta {background-image:url(img/ico-dadosContaGreen.png);}
.colorGreen .titSide.titAjudaSuporte {background-image:url(img/ico-ajudasuporteGreen.png);}
.colorGreen .titSide.titDicas {background-image:url(img/ico-dicasGreen.png);}

/** Lista com links em BG Branco **/
.listWhite {margin:0; padding:0;}

.listWhite li {
  list-style:none;
  margin:0;
  padding:0;
}

.listWhite li a {
  color:inherit;
  padding: 3px 10px 3px 15px;
  background-color: white;
  font: 12px verdana, tahoma, arial, sans-serif;
  display: block;
  margin-bottom: 1px;
}

.listWhite li a:before {
  content:" ";
  display:inline-block;
  width:4px; height:5px;
  background-image:url(img/arrows.png);
  background-repeat:no-repeat;
  background-position:0 0;
  position:relative; top:-2px;
  margin:0 3px 0 -8px;
}
.listWhite li a:hover:before {background-position:-4px 0;}

.sidebar a[rel="external"]:after {
  content:" ";
  display:inline-block;
  background: url(img/externalLnk.png) no-repeat right top;
  width:10px; height:10px;
  margin-left:5px;
}
/** FIM LISTA BRANCA **/
.sidebar .carousel {margin:0;}
.sidebar .carousel ul {margin:0;}
.sidebar .carousel-inner .item {height:185px;}
.sidebar .carousel-inner { list-style-position:  inside;  }
.sidebar .carousel h5,
.sidebar .carousel p {
  font-family:verdana, tahoma, arial, sans-serif;
  font-size:12px;
  margin:0 0 5px;
  padding:0;
}
.sidebar .carousel h5 {color:#2a2a2a; font-weight:bold;}
.sidebar .carousel p {color:#767676; line-height: 16px;}

.sidebar .carousel li li {
  color:#767676;
  font-size:11px;
  font-weight:bold;
  margin-left:15px;
  margin-bottom:-5px;
}

.carouselNav {
  font:10px verdana, tahoma, arial, sans-serif;
  color:#545454;
  text-align:center;
  padding:10px 0 0;
  margin:10px 0 0;
  border-top:1px solid #e9e9e9;
}
.carouselNav i {font-style:normal;}

.carouselNav .carousel-control {
  height: 17px;
  width: 15px;
  padding: 0; margin:-5px 0 0 0; overflow: hidden;
  font-weight:bold;
  vertical-align: middle;
  color: black;
  background: transparent;
}
.carouselNav .carousel-control.left {margin-right:12px;}
.carouselNav .carousel-control.right {margin-left:10px;}

.carouselNav .carousel-control, .carouselNav .carousel-control {font-size:13px;}

.sideBox h4 {
  padding: 10px 10px 0;
  margin: 0;
}

h4 + .tableList {margin:10px 0 0;}
h4 + .boxWhite {margin-top:4px;}

.sideBox h5 {padding:10px 10px 0; margin:0;}
h5 + .innerSideBox {margin-top:5px;}

/* Box para icones */
.boxSidebarTitle {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  left: 10px;
  width: 35px;
  top: -26px;
  padding: 1px;
  position: absolute;
  height: 35px;
}
.boxSidebarTitle:before {
  content: "";
  position: absolute;
  top: 36px;
  left: 10px;
  border: 8px solid;
}
.boxSidebarTitle i {
  color: #fff!important;
  font-size: 27px;
  margin:6px 0 0 9px;
  font-weight: normal;
  font-style: normal;
}
.boxSidebarTitle i.ico-user{
  margin: 6px 0 0 5px;
}
.boxSidebarTitle i.cmicon-help {
  margin: 7px 0 0 10px;
  position: absolute;
  font-weight: bold;
}
.home .sideBox{padding: 10px 0;}
