/**
*** TABLES
**/
table.tableList {
  width:100%;
  border-bottom:5px solid #d3d3d3;
}

table.tableList thead { background:#545454;}

table.tableList thead th {
  border-right:1px solid #FFF;
  color:#FFF;
  padding:7px 10px;
  text-align:center;
  font:bold 13px verdana, arial, tahoma, sans-serif;
}
table.tableList thead th a {color:#FFF;}
table.tableList thead th a:hover {color:#FFF;}

table.tableList tbody td {
  color:#797979;
  padding:5px;
  text-align:center;
  border-right:1px solid #dddddd;
}
table.tableList tbody td.txtLeft, table.tableList thead th.txtLeft {text-align:left;}
table.tableList tbody td.txtRight, table.tableList thead th.txtRight {text-align:right;}
table.tableList tbody td.txtCenter, table.tableList thead th.txtCenter {text-align:center;}


table.tableList tbody td:last-child {border-right:none;}
table.tableList tbody tr:nth-child(even) {background-color:#eee;}
table.tableList thead th.actived {background-color:#2a2a2a;}

table.tableList tbody tr:hover {background:#fffece;}

