/**
*** TABLES
**/
.tableList {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px;
}

.tableList tr {border-bottom:1px solid #ddd;}

.tableList thead { background:#545454;}

.tableList thead th {
  border-right:1px solid #FFF;
  position:relative;
  color:#FFF;
  padding:7px 0;
  text-align:center;
  font:bold 13px verdana, arial, tahoma, sans-serif;
}
.tableList thead th a {
  color:#FFF; 
  text-decoration:none;
  position: absolute;
  top:0; left:0;
  padding:7px 0 8px 0;
  width:100%;
  display:block;
}
.tableList thead th.txtLeft {padding-left:10px;}
.tableList thead th a:hover {color:#FFF;}

.tableList tbody td {
  color:#797979;
  padding:5px 10px;
  text-align:center;
  border-right:1px solid #ddd;
}
.tableList tbody td a {font-weight:bold;}
.tableList tbody td.txtLeft, .tableList thead th.txtLeft {text-align:left;}
.tableList tbody td.txtRight, .tableList thead th.txtRight {text-align:right;}
.tableList tbody td.txtCenter, .tableList thead th.txtCenter {text-align:center;}
.tableList tbody td:last-child {border-right:none;}
.tableList tbody tr:nth-child(even) {background-color:#eee;}
.tableList thead th.actived {background-color:#2a2a2a;}

.forceClass .tableList tbody tr:hover, tr.active {background-color:#fffece;}

/** Ordenação **/
.dataDesc, .dataAsc,
.dataDescending, .dataAscending {
  background-color:#2a2a2a;
  padding-left:20px;
}

.dataDesc a:after, .dataAsc a:after,
.dataDescending a:after, .dataAscending a:after {
  content: " ";
  display:inline-block;
  width:7px; height:7px;
  background-position:center center;
  background-repeat:no-repeat;
  margin-left:10px;
}

.dataDesc a:after, .dataDescending a:after {background-image: url(/img/setaDescending.png);}
.dataAsc a:after, .dataAscending a:after {background-image: url(/img/setaAscending.png);}

/***
**** Ações em Tabela
***/
tr:hover .actionsTable {display:block;}

.actionsTable {
  display:none;
  list-style:none;
  margin:0;
  padding:5px 0 0;
}

.actionsTable li {
  display:inline-block;
  *display:inline;
  background:url(/img/sepActionsTable.gif) no-repeat right center;
  *zoom:1;
  padding-right:10px;
  line-height:11px;
}

.actionsTable li:last-child {background:none;}

.actionsTable li a {font-weight:normal !important;}