/**
*** TABLES
**/
.tableList {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px;
}

.tableList tr {border-bottom:1px solid #ddd;}

.tableList thead { background:#545454;}

.tableList thead th {
  border-right:1px solid #FFF;
  position:relative;
  color:#FFF;
  padding:8px 10px;
  text-align:center;
  font:bold 13px verdana, arial, tahoma, sans-serif;
}
.tableList thead th a {
  color:#FFF;
  text-decoration:none;
  padding:8px 10px;
  margin:-8px;
  width:100%;
  display:block;
}
.tableList thead th a:hover {color:#FFF;}

.tableList tbody td {
  color:#797979;
  padding:5px 10px;
  text-align:center;
  word-break: break-all;
  border-right:1px solid #ddd;
  vertical-align: top;
  font-size:12px;
}

td a[class*="span"] {margin-right:0;}

.tableList tbody td a {font-weight:bold;}
.tableList tbody td.txtLeft, .tableList thead th.txtLeft {text-align:left;}
.tableList tbody td.txtRight, .tableList thead th.txtRight {text-align:right;}
.tableList tbody td.txtCenter, .tableList thead th.txtCenter {text-align:center;}
.tableList tbody td:last-child {border-right:none;}
.tableList tbody tr:nth-child(even) {background-color:#eee;}
.tableList thead th.actived {background-color:#2a2a2a;}

.tableList tbody tr:hover,
.boxCollapse .tableList tr:nth-child(even):hover,
tr.active {background-color:#fffece;}

.tableList .txtLeft td, .tableList .txtLeft th {text-align:left;}

/** Ordenação **/
.dataDesc, .dataAsc,
.dataDescending, .dataAscending {
  background-color:#2a2a2a;
  padding-left:20px;
}

.dataDesc a:after, .dataAsc a:after,
.dataDescending a:after, .dataAscending a:after {
  content: " ";
  display:inline-block;
  width:7px; height:7px;
  background-position:center center;
  background-repeat:no-repeat;
  margin-left:10px;
}

.dataDesc a:after, .dataDescending a:after {background-image: url(/img/setaDescending.png);}
.dataAsc a:after, .dataAscending a:after {background-image: url(/img/setaAscending.png);}

/***
**** Ações em Tabela
***/
.actionsTable {
  display:none;
  list-style:none;
  margin:0;
  padding:5px 0;
}
tr:hover .actionsTable {display:block;}
tr.active:hover .actionsTable {display:none;}

.statusMessageBox .actionsTable {
  display: block;
  border-top: 1px solid #E5E5E5;
  margin: 7px 10px;
  padding: 2px 0 0;
}

.actionsTable li {
  display:inline;
  border:none;
  *display:inline;
  *zoom:1;
  padding:0;
  line-height:11px;
}

.actionsTable li:last-child {background:none;}

.actionsTable li a {
  font-weight:normal !important;
  display:inline-block;
  padding-right:10px;
  background:url(/img/sepActionsTable.gif) no-repeat right center;
}
.actionsTable li:last-child a {background-image:none;}

.tableList .totalFooter {
  color: white;
  background-color: #898989;
}

.tableList .totalFooter {
  color: white;
  background-color: #898989;
}

.tableList .totalFooter td {
  vertical-align: middle;
  padding: 10px;
  border-right: solid 1px white;
}
