/**
*** TABLES
**/
.tableList {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px;
}

.tableList tr {border-bottom:1px solid #ddd;}

.tableList thead { background:#545454;}

.tableList thead th {
  border-right:1px solid #FFF;
  color:#FFF;
  padding:7px 10px;
  text-align:center;
  font:bold 13px verdana, arial, tahoma, sans-serif;
}
.tableList thead th a {color:#FFF; text-decoration:none;}
.tableList thead th a:hover {color:#FFF;}

table.tableList tbody td {
  color:#797979;
  padding:5px 10px;
  text-align:center;
  border-right:1px solid #ddd;
}
.tableList tbody td.txtLeft, table.tableList thead th.txtLeft {text-align:left;}
.tableList tbody td.txtRight, table.tableList thead th.txtRight {text-align:right;}
.tableList tbody td.txtCenter, table.tableList thead th.txtCenter {text-align:center;}
.tableList tbody td:last-child {border-right:none;}
.tableList tbody tr:nth-child(even) {background-color:#eee;}
.tableList thead th.actived {background-color:#2a2a2a;}

.forceClass .tableList tbody tr:hover {background-color:#fffece;}

/** Ordenação **/
.dataDescending, .dataAscending {
  background-color:#2a2a2a;
  padding-left:20px;
  cursor:pointer;
}

.dataDescending:after, .dataAscending:after {
  content: " ";
  display:inline-block;
  width:7px; height:7px;
  background-position:center center;
  background-repeat:no-repeat;
  margin-left:10px;
}

.dataDescending:after {background-image: url(/img/setaDescending.png);}
.dataAscending:after {background-image: url(/img/setaAscending.png);}


/*** 
**** Ações em Tabela
***/
tr:hover .actionsTable {display:block;}
.actionsTable {
  display:none;
  list-style:none;
  margin:0;
  padding:5px 0 0;
}

.actionsTable li {
  display:inline-block;
  *display:inline;
  background:url(/img/sepActionsTable.gif) no-repeat right top;
  *zoom:1;
  padding-right:10px;
  line-height:0;
}

.actionsTable li:last-child {background:none;}
