---
title: Guia de estilo

menu_page: sidebar-praticas-padroes.erb
---
<!--
https://github.com/necolas/idiomatic-css/
 -->
<article class="text">
  <header>
    <h1>Boas práticas de CSS</h1>
    <h3>Entenda como escrever código CSS de forma consciente.</h3>
  </header>



	<h2>Descrição de várias classes ou IDs</h2>
	<p>Como tratamos vários patterns, precisamos sempre reutilizar muito código para manter a uniformidade visual dos elementos e facilitar a manutenção. Por isso, as vezes, precisamos definir o mesmo estilo para vários elementos, assim:</p>

<pre class="lang-css prettyprint linenums">
.collapseGroup summary span,
.boxGray.listDetail a,
.serviceName a,
[class^="ico"],
[class*=" ico"],
#menuPrincipal .btMenu a,
#menuPrincipal .parent:hover > a,
#menuPrincipal .parent > a:hover,
#menuPrincipal > ul > li > a:hover {
	color: #4B7CB8;
}
</pre>

<p>Para não ficar uma linha muito grande com vários elementos definidos, quebramos linha a cada seletor criado. Isso mantém a leitura legível e nos ajuda a identificar erros. Não se preocupe, o Ruby vai minificar todo esse código depois, por isso, ele não vai para a produção dessa forma.</p>

	<h2>Cores</h2>
	<p>Sempre que utilizar uma cor hexadecimal que tenha repetição de valores, use sempre o valor de atalho, assim:</p>
<pre class="lang-css prettyprint linenums">
/** Recomendado **/
p {color: #AAA;}

/** Não Recomendado **/
p {color: #AAAAAA;}
</pre>

	<h3>RGBA</h3>
	<p>Sempre que possível, utilize RGBA e mantenha o fallback para browsers antigos. Nós utilizamos Modernizr para que isso seja simples. Um exemplo:</p>

<pre class="lang-css prettyprint linenums">
p { color: rgba(0, 0, 0, 0.5); }
.no-rgba p { color: #000; }
</pre>

	<h2>Aspas</h2>
	<p>Tanto no CSS quanto no HTML utilizamos ASPAS DUPLAS. Nunca aspas simples, a não ser no Javascript/JQuery.</p>
<pre class="lang-css prettyprint linenums">
input[type="checkout"] { ... }
div:after { content: " "; }
</pre>

	<h2>Comentários</h2>
	<p>Para uma seção:</p>
<pre class="lang-css prettyprint linenums">
/*** HEADER
**** Header principal do site
***/
</pre>

	<p>Nunca use comentários na mesma linha da propriedade:</p>
<pre class="lang-css prettyprint linenums">
p {color: #FFF;} /** Nunca use comentários assim **/
p {color: #FFF; /** Nunca use comentários assim **/ }
</pre>

	<p>Assim é melhor:</p>
<pre class="lang-css prettyprint linenums">
/** Assim é melhor **/
p {
color: #FFF;
background: red;
margin: 0;

/** Assim também é bom **/
padding: 0;
}
</pre>
</article>
