---
title: Guia de estilo
menu_page: sidebar-praticas-padroes.erb
---
<article class="text col-xs-12 col-lg-9">
  <header>
    <h1>Guia de estilo</h1>
    <h3>Performance</h3>
  </header>

</article>
