---
title: Home de um sistema
layout: false
---
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Locaweb Style</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucid">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="apple-touch-icon" href="/assets/images/locastyle/ico_app_114.png">
	<link rel="stylesheet" type="text/css" href="<%= base_url + bootstrap_css %>">
	<%= stylesheet_link_tag "locastyle" %>
</head>
<body>
	<div class="bar">
		<a href="" class="identify" class="ico-forward-2">subdominio.locaweb.com.br</a>
		<nav class="nav-icons">
			<a href="#" class="ico-bubble">Texto do link</a>
			<a href="#" class="ico-question">Texto do link</a>
			<a href="#" class="ico-clock">Texto do link</a>
		</nav>
	</div>
	<div class="sidebar-master">
		<h1 class="logo ico-envelop">
			Email Marketing
		</h1>
		<ul>
			<li><a class="active" href="">Página principal</a></li>
			<li><a class="" href="">Lista de contatos</a></li>
			<li><a class="" href="">Mensagens</a></li>
			<li><a class="" href="">Campanhas</a></li>
			<li><a class="" href="">Templates</a></li>
			<li>
				<a href="" class="">Relatórios</a>
				<ul class="submenu hidden" aria-expanded="false" aria-hidden="true">
					<li> <a href="">submenu</a> </li>
					<li> <a href="">submenu</a> </li>
					<li> <a href="">submenu</a> </li>
				</ul>
			</li>
			<li class=""><a href="">Formulários</a></li>
			<li><a class="" href="">Configurações</a></li>
		</ul>
	</div>


	<main class="main-content">
		<div class="col-md-9 content" role="main">
			<h1 class="title-1 title-content">Aqui vai seu conteúdo</h1>
			<p>Grid col com 9 colunas de medida.</p>
			<br>
			<br>
			&lt;div class="col-md-9 content" role="main"&gt;
		</div>
		<aside class="sidebar col-md-3" role="complementary">
			<h1 class="title-1">Aqui vai a sidebar</h1 class="title-1">
			<p>Grid col com 3 colunas de medida.</p>
			<br>
			<br>
			&lt;aside class="sidebar col-md-3" role="complementary"&gt;
		</aside>
	</main>


	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<%= javascript_include_tag "locastyle" %>
	<script src="<%= base_url + bootstrap_js %>"></script>


</body>
</html>
