---
title: Layout - Boilerplate
menu_page: sidebar-layout.erb
---
<header>
	<h1>Boilerplate</h1>
	<h3>Código inicial.</h3>
</header>

<h1>Template básico</h1>
<p>Utilize este código para iniciar seu projeto. Aqui você tem a estrutura básica para fazer o Locaweb Style funcionar perfeitamente:</p>

<%= partial "partials/boilerplate" %>