---
title: Layout - Cores Principais
menu_page: sidebar-layout.erb
---
  <header>
    <h1>Tema de cores</h1>
    <h3>Exemplo de temas de cores usadas no projetos.</h3>
  </header>

  <p>Você pode querer mudar a cor principal do seu sistema. Preparamos algumas classes que mudam as cores principais do Locaweb Style e de seus elementos, sem dar tanto trabalho para nós. Essas cores são atualizadas de acordo com os projetos que temos aqui.</p>

  <p>Se você quiser mudar as cores de todo o sistema, basta inserir a classe desejada na tag HTML. Se você quiser que os uma parte do layout fique com outras cores, basta adicionar a classe de cor no elemento pai. Veja abaixo a listagem das classes:</p>
  <table class="table table-bordered table-stripped">
    <tbody>
      <tr>
        <td class="color-blue"><a href="#">.color-blue</a></td>
        <td class="color-green-light"><a href="#">.color-green-light</a></td>
        <td class="color-green"><a href="#">.color-green</a></td>
      </tr>
    </tbody>
  </table>

  <div class="example color-green">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#first-tab" data-toggle="tab">Primeira Aba</a></li>
        <li><a href="#second-tab" data-toggle="tab">Segunda</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active in" id="first-tab">
          <p>Aqui vai o conteúdo da primeira aba.</p>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane" id="second-tab">
          <p>Aqui vai o conteúdo da segunda aba.</p>
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
      </div>
  </div>
  <br>
  <div class="example color-blue">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#first-tab1" data-toggle="tab">Primeira Aba</a></li>
        <li><a href="#second-tab1" data-toggle="tab">Segunda</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active in" id="first-tab1">
          <p>Aqui vai o conteúdo da primeira aba.</p>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane" id="second-tab1">
          <p>Aqui vai o conteúdo da segunda aba.</p>
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
      </div>
  </div>

