---
title: Layout - Erro 505
menu_page: sidebar-layout.erb
---


	<header>
		<h1>Erro 500</h1>
		<h3>Exemplo de página de Erro 500 (qualquer erro do sistema), utilizando o Locaweb Style.</h3>
	</header>

	<div class="example">
		<main class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12 content" role="main">
						<header class="header-content">
							<h1 class="title-1">Erro interno do sistema</h1>
							<p>Ocorreu uma instabilidade do sistema que impediu a exibição do conteúdo. Nossa equipe técnica foi notificada e está trabalhando para resolver o problema.</p>
						</header>

						<h2 class="title-5">Você pode:</h2>
						<ol>
							<li>Recarregar a página clicando no botão Atualizar do navegador.</li>
							<li>Retornar à <a href="/">página inicial</a>.</li>
						</ol>
						<p>Se o problema persistir, entre em contato através de um dos <a href="#">canais de atendimento</a>.</p>
					</div>
				</div>
			</div>
		</main>
	</div>

<pre class="lang-html linenums prettyprint-code">
<main class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 content" role="main">
				<header class="header-content">
					<h1 class="title-1">Erro interno do sistema</h1>
					<p>Ocorreu uma instabilidade do sistema que impediu a exibição do conteúdo. Nossa equipe técnica foi notificada e está trabalhando para resolver o problema.</p>
				</header>

				<h2 class="title-5">Você pode:</h2>
				<ol>
					<li>Recarregar a página clicando no botão Atualizar do navegador.</li>
					<li>Retornar à <a href="/">página inicial</a>.</li>
				</ol>
				<p>Se o problema persistir, entre em contato através de um dos <a href="#">canais de atendimento</a>.</p>
			</div>
		</div>
	</div>
</main>
</pre>
