---
title: Layout - Erro 404
menu_page: sidebar-layout.erb
---


	<header>
		<h1>Erro 404</h1>
		<h3>Exemplo de página de Erro 404 com Locaweb Style.</h3>
	</header>

	<div class="example">
		<main class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12 content" role="main">
						<header class="header-content">
							<h1 class="title-1">Página não encontrada</h1>
							<p>O conteúdo pode ter sido removido ou não estar mais disponível.</p>
						</header>

						<h2 class="title-5">Você pode:</h2>
						<ol>
							<li>Verificar se digitou corretamente o endereço desejado.</li>
							<li>Retornar à <a href="/">página inicial</a>.</li>
						</ol>
						<p>Se o problema persistir, entre em contato através de um dos <a href="#">canais de atendimento</a>.</p>
					</div>
				</div>
			</div>
		</main>
	</div>

<pre class="lang-html linenums prettyprint-code">
<main class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 content" role="main">
				<header class="header-content">
					<h1 class="title-1">Página não encontrada</h1>
					<p>O conteúdo pode ter sido removido ou não estar mais disponível.</p>
				</header>

				<h2 class="title-5">Você pode:</h2>
				<ol>
					<li>Verificar se digitou corretamente o endereço desejado.</li>
					<li>Retornar à <a href="/">página inicial</a>.</li>
				</ol>
				<p>Se o problema persistir, entre em contato através de um dos <a href="#">canais de atendimento</a>.</p>
			</div>
		</div>
	</div>
</main>
</pre>
