---
title: Layout - Fontes
menu_page: sidebar-layout.erb
---
<header>
	<h1>Fontes</h1>
	<h3>Lista de fontes incluídas:</h3>
</header>

<h4>Open Sans Light <code>open_sans_light</code></h4>
<p class="font-example" style="font-family: open_sans_light">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans Light Italic <code>open_sans_light_italic</code></h4>
<p class="font-example" style="font-family: open_sans_light_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans Regular <code>open_sans_regular</code></h4>
<p class="font-example" style="font-family: open_sans_regular">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans Italic <code>open_sans_regular_italic</code></h4>
<p class="font-example" style="font-family: open_sans_regular_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans SemiBold <code>open_sans_semibold</code></h4>
<p class="font-example" style="font-family: open_sans_semibold">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans SemiBold Italic <code>open_sans_semibold_italic</code></h4>
<p class="font-example" style="font-family: open_sans_semibold_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans Bold <code>open_sans_bold</code></h4>
<p class="font-example" style="font-family: open_sans_bold">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans Bold Italic <code>open_sans_bold_italic</code></h4>
<p class="font-example" style="font-family: open_sans_bold_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans Extra Bold <code>open_sans_extrabold</code></h4>
<p class="font-example" style="font-family: open_sans_extrabold">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>

<hr>
<h4>Open Sans Extra Bold Italic <code>open_sans_extrabold_italic</code></h4>
<p class="font-example" style="font-family: open_sans_extrabold_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
	1 2 3 4 5 6 7 8 9 0
</p>