---
title: Layout - Header
menu_page: sidebar-layout.erb
---
<header>
	<h1>Fontes</h1>
	<h3>Lista de fontes incluídas:</h3>
</header>

<h3>Open Sans Light <small><code>open_sans_light</code></small></h3>
<p style="font-family: open_sans_light">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans Light Italic <small><code>open_sans_light_italic</code></small></h3>
<p style="font-family: open_sans_light_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans Regular <small><code>open_sans_regular</code></small></h3>
<p style="font-family: open_sans_regular">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans Italic <small><code>open_sans_regular_italic</code></small></h3>
<p style="font-family: open_sans_regular_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans SemiBold <small><code>open_sans_semibold</code></small></h3>
<p style="font-family: open_sans_semibold">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans SemiBold Italic <small><code>open_sans_semibold_italic</code></small></h3>
<p style="font-family: open_sans_semibold_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<h3>Open Sans Bold <small><code>open_sans_bold</code></small></h3>
<p style="font-family: open_sans_bold">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans Bold Italic <small><code>open_sans_bold_italic</code></small></h3>
<p style="font-family: open_sans_bold_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans Extra Bold <small><code>open_sans_extrabold</code></small></h3>
<p style="font-family: open_sans_extrabold">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>

<hr>
<h3>Open Sans Extra Bold Italic <small><code>open_sans_extrabold_italic</code></small></h3>
<p style="font-family: open_sans_extrabold_italic">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, earum, soluta, temporibus ullam nobis molestias harum hic adipisci omnis mollitia sed eius laborum similique quasi voluptas rem odio error voluptate.
</p>





















