---
title: Layout - Footer
menu_page: sidebar-layout.erb
---
<header>
	<h1>Footer</h1>
	<h3>Exemplo de footer padrão do Locaweb Style.</h3>
</header>

<pre class="lang-html prettyprint-code linenums">
<footer class="footer" role="contentinfo">
	<div class="footer-menu">
		<nav class="container">
			<h2 class="title-footer">suporte e ajuda</h2>
			<ul class="no-liststyle">
				<li>
					<a href="#" target="_blank" class="bg-customer-support">
						<span class="visible-lg">Atendimento</span>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="bg-my-tickets">
						<span class="visible-lg">Meus Chamados</span>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="bg-help-desk">
						<span class="visible-lg">Central de Ajuda (Wiki)</span>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="bg-statusblog">
						<span class="visible-lg">Statusblog</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container footer-info">
		<span class="last-access ico-screen"><strong>Último acesso: </strong>7/8/2011 22:35:49</span>
		<div class="set-ip"><span class="set-ip"><strong>IP:</strong> 201.87.65.217</span></span></div>
		<p class="copy-right">Copyright © 1997-2011 Locaweb Serviços de Internet S/A.</p>
	</div>
</footer>
</pre>