---
title: Layout - Grid

menu_page: sidebar-layout.erb
---

<article class="text">
	<header>
		<h1>Grides</h1>
		<h2>Entenda nosso sistema de grides.</h2>
	</header>
	<p>Sistemas de gride são usados para criar layouts em páginas com colunas e linhas que trabalham de forma responsiva. Veja como ele funciona:</p>
	<p>Possuímos um sistema de grid de <strong>12 colunas</strong> baseado no <a href="http://getbootstrap.com/css/#grid" target="_blank">Bootstrap</a>, matendo seus breakpoints (<code>1200px</code>, <code>992px</code>, <code>768px</code> e <code>480px</code>).</p>
	<p>
		- Linhas (<code>.row</code>), devem ser adicionadas detro de um <code>.container</code>, para manter os espaçamentos e alinhamentos.<br>
		- Use as linhas para criar grupos horizontais de colunas.<br>
		- Conteúdos devem ser colocados dentro de colunasm e as colunas só devem ser filhos imediatos de linhas.
	</p>
	<p>Para ver a documentação completa, <a href="http://getbootstrap.com/css/#grid" target="_blank">clique aqui</a>.</p>

	<div class="example clearfix">
		<div class="row show-grid">
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
			<div class="col-md-1">1</div>
		</div>
		<div class="row show-grid">
			<div class="col-md-8">8</div>
			<div class="col-md-4">4</div>
		</div>
		<div class="row show-grid">
			<div class="col-md-4">4</div>
			<div class="col-md-4">4</div>
			<div class="col-md-4">4</div>
		</div>
		<div class="row show-grid">
			<div class="col-md-6">6</div>
			<div class="col-md-6">6</div>
		</div>
	</div>
<pre class="lang-html prettyprintCode linenums">
<div class="example clearfix">
	<div class="row">
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
		<div class="col-md-1">1</div>
	</div>
	<div class="row">
		<div class="col-md-8">8</div>
		<div class="col-md-4">4</div>
	</div>
	<div class="row">
		<div class="col-md-4">4</div>
		<div class="col-md-4">4</div>
		<div class="col-md-4">4</div>
	</div>
	<div class="row">
		<div class="col-md-6">6</div>
		<div class="col-md-6">6</div>
	</div>
</div></pre>
<h3>Identificando a largura do viewport através de classes.</h3>
<p>Em alguns momentos utilizamos uma função de javascript (<code>breakpointWindowWidth()</code>) que é iniciada junto com o Locaweb Style, para adicionar classes na tag <code>&lt;html&gt;</code> de acordo com o tamanho do seu viewport.</p>
<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="span2">Classes</th>
				<th>Tamanhos do viewport</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>show.bs.tab</td>
				<td>
					Este evento é disparado quando a tab aparece, mas antes da nova tab ser mostrada. Use <code>event.target</code> e <code>event.relatedTarget</code> para pegar a tab ativa e a tab ativa anteriormente, se disponível, respectivamente.
				</td>
			</tr>
			<tr>
				<td>shown.bs.tab</td>
				<td>
					Este evento é disparado quando a tab aparece, mas depois da nova tab ser mostrada. Use <code>event.target</code> e <code>event.relatedTarget</code> para pegar a tab ativa e a tab ativa anteriormente, se disponível, respectivamente.
				</td>
			</tr>
		</tbody>
	</table>
</article>