---
title: Layout - Header
menu_page: sidebar-layout.erb
---
<header>
	<h1>Header</h1>
	<h3>Exemplo de header padrão do Locaweb Style.</h3>
</header>
<p>Header principal dos sistemas. </p>

<pre class="lang-html prettyprint-code linenums">
<!-- HEADER -->
<header class="header" role="banner">
	<div class="container">
		<span class="control-menu visible-xs ico-menu-2"></span>
		<span class="control-sidebar visible-xs ico-list"></span>
		<h1 class="project-name"><a href="#">Email Marketing</a></h1>
		<a href="#" class="help-suggestions ico-help-circle hidden-xs">Ajuda e Sugestões</a>
		
		<div class="dropdown hidden-xs">
			<a href="#" data-toggle="dropdown" class="title-dropdown">emkt2013</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#" role="menuitem">Option 1</a></li>
				<li><a href="#" role="menuitem">Option 2</a></li>
				<li><a href="#" role="menuitem">Option 3</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- FIM DO HEADER -->

<!-- MENU PRINCIPAL -->
<div class="nav-content">
	<menu class="menu">
		<ul class="container">
			<li><a href="#" class="active ico-home" role="menuitem">Home</a></li>
			<li><a href="#" role="menuitem">Lista de contatos</a></li>
			<li><a href="#" role="menuitem">Mensagens</a>
				<ul>
					<li><a href="#">Enviar</a></li>
					<li><a href="#">Criar</a></li>
					<li><a href="#">Editar</a></li>
					<li><a href="#">Relatórios</a></li>
				</ul>
			</li>
			<li><a href="#" role="menuitem">Campanhas</a></li>
			<li><a href="#" role="menuitem">Templates</a></li>
			<li><a href="#" role="menuitem">Relatórios</a></li>
			<li><a href="#" role="menuitem">Configurações</a></li>
		</ul>
	</menu>
	<h2 class="title-sep visible-xs">Mais</h2>
	<ul class="nav-mob-list visible-xs">
		<li><a href="#" class="ico-help-circle">Ajuda e sugestões</a></li>
	</ul>
</div>
<!-- FIM DO MENU PRINCIPAL -->
</pre>

	<p>Veja um <%= link_to "exemplo de header", "#{base_url}/manual/exemplos/home" %>.</p>
