---
title: Layout - Ícones
menu_page: sidebar-layout.erb
---
<header>
	<h1>Ícones</h1>
	<h3>Inserção de ícones em elementos de layout.</h3>
</header>
<p>O Bootstrap já tem um esquema de inserção de ícones em elementos. No Locaweb Style modificamos esse funcionamento para que não fosse necessário adicionar uma tag a mais no HTML.</p>

<p>Nós também temos a necessidade de ter várias cores para os serviços. Por isso utilizamos o serviço  <a href="http://icomoon.io/app/" target="blank">IcoMoon</a> para criar um pacote dos ícones.</p>

<p>Atualmente, utilizamos duas fontes criadas através do IcoMoon, uma é para ícones comuns (locaicons) e a outra é apenas para ícones dos produtos internos da locaweb (panelicons).</p>

<h2>Funcionamento</h2>
<p>Para adicionar seu ícone, insira uma das classes da nossa coleção de ícones no elemento escolhido. Se quiser ter mais flexibilidade de posicionamento ou qualquer outra necessidade, utilize as classes em um elemento span. Mas não recomendamos muito, já que você vai precisar criar um elemento vazio só para inserir um ícone.</p>
<p>Vale lembrar que os ícones são inseridos no <code>:after</code> e <code>:before</code> do elemento.</p>

<h3>Ícones a direita do texto</h3>
<p>Por padrão os ícones ficam posicionados à esquerda. Para posicioná-los à direita, basta colocar a classe <b>ico-pos-right</b>. </p>

<p>Um exemplo: <span class="ico-home ico-pos-right">ico-home</span></p>

<h4>Classes</h4>
<%= partial 'partials/elements/icons' %>

<h4>Ícones dos Painéis da Locaweb</h4>
<%= partial 'partials/elements/panelicons' %>
</article>