---
title: Layout - Sidebar
menu_page: sidebar-layout.erb
---
<header>
	<h1>Sidebar</h1>
	<h3>Exemplo de Sidebar padrão do Locaweb Style.</h3>
</header>
<p>Você pode alterar a largura da sidebar trocando o valor da classe <code>.col-md-4</code>, pois ela utiliza os padrões de <a href="http://getbootstrap.com/css/#grid-options" target="_blank">grid do Boostrap</a>.</p>
<div class="bs-callout bs-callout-warning">
	<h4>Lembre-se!</h4>
	<p>Caso a largura da sidebar for alterada, subtrair no valor do grid de seu container principal.</p>
</div>
<div class="example clearfix">
	<div class="row">
		<aside class="sidebar col-md-4" role="complementary">
			<section class="sidebox">
				<h1 class="sidebox-title ico-user">Título da sidebar</h1>

				<div class="sidebox-inner">
					<span class="status-text">Box de
						<b>conteúdo</b>
					</span>
				</div>
				<a class="ico-arrow-right" href="#">Link com seta</a>
			</section>

			<section class="sidebox">
				<h1 class="sidebox-title ico-bars">Título da sidebar</h1>

				<div class="sidebox-inner">

					<span class="status-text">Barrinha de progresso</span>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="25" aria-valuemax="100" style="width: 25%;">
							<span>25%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="50" aria-valuemax="100" style="width: 50%;">
							<span>50%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="75" aria-valuemax="100" style="width: 75%;">
							<span>75%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%;">
							<span>100%</span>
						</div>
					</div>
					<span class="status-text">
						Link de ajuda <span class="ico-question" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Continue lendo nossa documentação que já já tudo ficará claro :D" data-original-title="Ainda não entendeu?"></span>
					</span>

				</div>
				<div class="well well-sm txt-center no-margin-bottom">
					<p><strong>Box com informações e números</strong></p>
					<p class="total-sent"><strong>1234567890</strong></p>
				</div>
			</section>

			<section class="sidebox">
				<h1 class="sidebox-title ico-question">Título da sidebar</h1>
				<ul class="sidebox-list">
					<li><a class="ico-redo-2 ico-pos-right" href="#">Links externos</a></li>
					<li><a class="ico-redo-2 ico-pos-right" href="#">Links externos</a></li>
					<li><a class="ico-redo-2 ico-pos-right" href="#">Links externos</a></li>
				</ul>
			</section>

		</aside>
	</div>
</div>
<pre class="lang-html prettyprint-code linenums">
<aside class="sidebar col-md-4" role="complementary">
	<section class="sidebox">
		<h1 class="sidebox-title ico-user">Título da sidebar</h1>

		<div class="sidebox-inner">
			<span class="status-text">Box de
				<b>conteúdo</b>
			</span>
		</div>
		<a class="ico-arrow-right" href="#">Link com seta</a>
	</section>

	<section class="sidebox">
		<h1 class="sidebox-title ico-bars">Título da sidebar</h1>

		<div class="sidebox-inner">

			<span class="status-text">Barrinha de progresso</span>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="25" aria-valuemax="100" style="width: 25%;">
					<span>25%</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="50" aria-valuemax="100" style="width: 50%;">
					<span>50%</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="75" aria-valuemax="100" style="width: 75%;">
					<span>75%</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%;">
					<span>100%</span>
				</div>
			</div>
			<span class="status-text">
				Link de ajuda <span class="ico-question" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Continue lendo nossa documentação que já já tudo ficará claro :D" data-original-title="Ainda não entendeu?"></span>
			</span>

		</div>
		<div class="well well-sm txt-center no-margin-bottom">
			<p><strong>Box com informações e números</strong></p>
			<p class="total-sent"><strong>1234567890</strong></p>
		</div>
	</section>

	<section class="sidebox">
		<h1 class="sidebox-title ico-question">Título da sidebar</h1>
		<ul class="sidebox-list">
			<li><a class="ico-redo-2 ico-pos-right" href="#">Links externos</a></li>
			<li><a class="ico-redo-2 ico-pos-right" href="#">Links externos</a></li>
			<li><a class="ico-redo-2 ico-pos-right" href="#">Links externos</a></li>
		</ul>
	</section>

</aside>
</pre>