---
title: Layout - Tela de Login
menu_page: sidebar-layout.erb
---

<header>
	<h1>Tela de Login</h1>
	<h3>Exemplo de tela de login padrão do Locaweb Style.</h3>
</header>

<p>Veja um exemplo do <a href="http://locaweb.github.io/locawebstyle/manual/exemplos/login/">resultado deste código aqui</a>. </p>

<pre class="lang-html prettyprint-code linenums">
<div class="box-parent-login">
	<div class="well bg-white box-login">
		<h1 class="ls-login-logo">locaweb</h1>
		<form role="form">
			<fieldset>

				<div class="form-group ls-login-user">
					<label for="userLogin">Usuário</label>
					<input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
				</div>

				<div class="form-group ls-login-password">
					<label for="userPassword">Senha</label>
					<input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
				</div>

				<a href="#" class="ls-login-forgot">Esqueci minha senha</a>

				<input type="submit" value="Entrar" class="btn btn-primary btn-lg btn-block">
				<p class="txt-center ls-login-signup">Não possui um usuário na Locaweb?
					<a href="#">Cadastre-se agora</a>
				</p>

			</fieldset>
		</form>
	</div>
</div>
</pre>