---
title: Abas
description: Uma área de conteúdo única com múltiplos painéis, com um menu de navegação horizontal
---

  <div class="doc-block">
    <h2 class="ls-title-2">Como usar</h2>
  </div>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Padrão</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


  <%= partial 'documentacao/shared/abas' %>

  <code class="language-html">
    <%= partial 'documentacao/shared/abas' %>
  </code>
