---
title: Abas
description: abas
---
<div class="row">
  <h1 class="ls-title-intro">Abas</h1>
  <p class="ls-title-2">Abas, é isto.</p>
</div>

  <%= partial 'documentacao/shared/abas' %>

<code class="language-html">
  <%= partial 'documentacao/shared/abas' %>
</code>
