---
title: Alertas
description: Alertas
---

<h1 class="ls-title-intro">Alertas</h1>
<p class="ls-title-2">é isto.</p>

<div class="ls-alert-success">Nesta casa tem <a class="ls-link-alert">palmeiras</a></div>

<div class="ls-alert-warning ls-dismissable" data-module="dismiss">
  <button class="ls-dismiss">&times;</button>
  Atenção neste ponto.
</div>
