---
title: Barra de Progresso
description: Exibe o status de um processo
---

<div class="row">

  <h2>Utilizando a tag <i>progress</i></h2>

  <table class="ls-table">
    <thead>
      <tr>
        <th>tipo</th><th>Classe</th><th>Exemplo</th>
      </tr>
    </thead>
    <tr>
      <td>Estática</td>
      <td>.ls-progress</td>
      <td><progress class="ls-progress" value="10" max="100"></progress></td>
    </tr>
    <tr>
      <td>Animada</td>
      <td>.ls-progress .ls-progress-animated</td>
      <td><progress class="ls-progress ls-progress-animated" value="20" max="100"></progress></td>
    </tr>
    <tr>
      <td>Cinza</td>
      <td>ls-progress ls-progress-gray</td>
      <td><progress class="ls-progress ls-progress-gray" value="30" max="100"></progress></td>
    </tr>
    <tr>
      <td>Com percentual</td>
      <td>.ls-progress .ls-progress-percent</td>
      <td><progress class="ls-progress ls-progress-percent" value="40" max="100"></progress></td>
    </tr>
    <tr>
      <td>Pie</td>
      <td>.ls-progress .ls-progress-pie</td>
      <td><progress class="ls-progress ls-progress-pie" value="40" max="100"></progress></td>
    </tr>
    <tr>
      <td>donut</td>
      <td>.ls-progress .ls-progress-donut</td>
      <td><progress class="ls-progress ls-progress-donut" value="40" max="100"></progress></td>
    </tr>
  </table>

  <h3>Código</h3>

  <code class="language-html ls-well-example">
    <!-- Estática -->
    <progress class="ls-progress" value="10" max="100"></progress>
    <!-- Animada -->
    <progress class="ls-progress ls-progress-animated" value="20" max="100"></progress>
    <!-- Cinza -->
    <progress class="ls-progress ls-progress-gray" value="30" max="100"></progress>
    <!-- Com números -->
    <progress class="ls-progress ls-progress-percent" value="40" max="100"></progress>
  </code>



</div>
<!--
<div class="row">

  <h2>Utilizando outras tags</h2>

  <table class="ls-table">
    <thead>
      <tr>
        <th>tipo</th><th>Classe</th><th>Exemplo</th>
      </tr>
    </thead>
    <tr>
      <td>Estática</td>
      <td>.ls-progress</td>
      <td>
        <div class="ls-progress">
          <div class="ls-progress-bar">40</div>
          <div class="ls-progress-value">100</div>
        </div>
      </td>
    </tr>
  </table>


</div>
 -->
