---
title: Barra de Progresso
description: barra de progresso
---

<div class="row">
  <h1 class="ls-title-intro">Bara de progresso</h1>
  <p class="ls-title-2">
    Barra de progresso estática e animada
  </p>
</div>

<div class="row">

  <table class="ls-table">
    <thead>
      <tr>
        <th>tipo</th><th>Classe</th><th>Exemplo</th>
      </tr>
    </thead>
    <tr>
      <td>Estática</td>
      <td>.ls-progress</td>
      <td><progress class="ls-progress" value="10" max="100"></progress></td>
    </tr>
    <tr>
      <td>Animada</td>
      <td>.progress.ls-progress .ls-progress-animated</td>
      <td><progress class="ls-progress ls-progress-animated" value="20" max="100"></progress></td>
    </tr>
    <tr>
      <td>Cinza</td>
      <td>ls-progress ls-progress-gray</td>
      <td><progress class="ls-progress ls-progress-gray" value="30" max="100"></progress></td>
    </tr>
    <tr>
      <td>Com percentual</td>
      <td>.ls-progress .ls-progress-percent</td>
      <td><progress class="ls-progress ls-progress-percent" value="40" max="100"></progress></td>
    </tr>
    <tr>
      <td>Etapas</td>
      <td>.ls-progress</td>
      <td><progress class="ls-progress" value="50" max="100"></progress></td>
    </tr>
  </table>

  <div class="ls-progress">
    <div class="ls-progress-bar">40</div>
    <div class="ls-progress-value">100</div>
  </div>


  <p></p>

</div>
