---
title: Barra de Progresso
description: barra de progresso
---

<div class="row">
  <h1 class="ls-title-intro">Bara de progresso</h1>
  <p class="ls-title-2">
    Barra de progresso estática e animada
  </p>
</div>

