---
title: Botão Switch
description:
---

<p>É um elemento que simula um liga/desliga, que verifica se o checkbox está checado, alternando visualmente o seu estado.</p>

<div class="ls-box-demo">
  <%= partial 'documentacao/shared/switch' %>
</div>
<code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/switch' %>
</code>
