---
title: Botões
description: botões
---


<br>
<br>
<br>
<br>
<%= partial 'documentacao/shared/botoes' %>

<code class="language-html">
  <%= partial 'documentacao/shared/botoes' %>
</code>

<br><br>


<h5>Use as classes de botões em elementos <code>&lt;a&gt;</code>, <code>&lt;button&gt; </code> e <code>&lt;input&gt;</code></h5>
<a href="#" class="ls-btn">Link</a>
<button type="button" value= "teste" class="ls-btn">Button</button>
<input type="submit" value= "input" class="ls-btn"/>

<br><br>

<h5>Tamanhos de botões basta inserir as respectivas classes abaixo:</h5>
<p>Grande: <code>ls-btn-lg</code></p>
<p>Pequeno:<code>ls-btn-sm</code></p>
<p>Extra Pequeno:<code>ls-btn-xs</code></p>

<p>
  <a href="#" class="ls-btn-primary ls-btn-lg">Botão grande</a>
  <a href="#" class="ls-btn ls-btn-lg">Botão grande</a>
</p>

<p>
  <a href="#" class="ls-btn-primary">Botão padrão</a>
  <a href="#" class="ls-btn">Botão padrão</a>
</p>
<p>
  <a href="#" class="ls-btn-primary ls-btn-sm">Botão pequeno</a>
  <a href="#" class="ls-btn ls-btn-sm">Botão pequeno</a>
</p>


<p>
  <a href="#" class="ls-btn-primary ls-btn-xs">Botão extra pequeno</a>
  <a href="#" class="ls-btn ls-btn-xs">Botão extra pequeno</a>
</p>

<code class="language-html">
<p>
  <a href="#" class="ls-btn-primary ls-btn-lg">Botão grande</a>
  <a href="#" class="ls-btn ls-btn-lg">Botão grande</a>
</p>

<p>
  <a href="#" class="ls-btn-primary">Botão padrão</a>
  <a href="#" class="ls-btn">Botão padrão</a>
</p>
<p>
  <a href="#" class="ls-btn-primary ls-btn-sm">Botão pequeno</a>
  <a href="#" class="ls-btn ls-btn-sm">Botão pequeno</a>
</p>

<p>
  <a href="#" class="ls-btn-primary ls-btn-xs">Botão extra pequeno</a>
  <a href="#" class="ls-btn ls-btn-xs">Botão extra pequeno</a>
</p>
</code>


<h5>Botões desativados</h5>
<p>Se os botões forem feitos com input, basta inserir o atributo disabled que os browsers cuidarão do resto. Se o botões foi feito usando links, use a classe .disabled. Esta classe além de visual, remove a ação do link.</p>


<h5>Botões com ícones</h5>
<p>Se você adicionar classes de ícones nos botões, eles já aparecerão no lugar correto, dispensando a inserção de elementos vazios para fazer os ícones. Veja exemplos abaixo.</p>


<h5>Botões com dropdown</h5>
<p>Botões que acompanham algum dropdown precisam tem os atributos abaixo:</p>
