---
title: Campos personalizados
description: Campos personalizados
---

<form class="ls-form">
  <select>
    <% (1..10).each do |i| %>
      <option value="<%= i %>"> Opção <%= i %> </option>
    <% end %>
  </select>

  <input type="text">
  <input type="radio">
  <input type="checkbox">
  <input type="file">
</form>
