---
title: Extensão para o chrome
description: Veja a documentação sem precisar mudar de aba ou janela.
type: component
---
<div class="row">

  <h5 class="ls-title-2">Chrome</h5>
  <p>
    <a href="https://chrome.google.com/webstore/detail/bgagjahkkicokocplofmomgpkpmdckam">Instale a extensão para o Google Chrome</a>
  </p>
</div>
