---
title: Classes funcionais
description: classes cuncionais
---
<div class="row">
  <h1 class="ls-title-intro">Classes funcionais</h1>
  <p class="ls-title-2">Classes funcionais são classes para adicionar comportamentos e aparências específicas a elementos.</p>
</div>

