---
title: Dropdown
description: dropdown
---
<h1 class="ls-title-intro">Dropdown</h1>

<div class="doc-block">
  <p>Botões que acompanham algum dropdown precisam tem os atributos <code>data-module="dropdown"</code></p>
  <p><%= partial 'documentacao/shared/dropdown' %></p>

<code class="language-html">
<%= partial 'documentacao/shared/dropdown' %>
</code>
</div>
