---
title: Dropdown
description: dropdown
---
<h1 class="ls-title-intro">Dropdown</h1>

<div class="doc-block">
  <p>Botões que acompanham algum dropdown precisam tem os atributos <code>data-module="dropdown"</code></p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/dropdown' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/dropdown' %>
  </code>

</div>
