---
title: Collapse
description: collapse
---

<div class="row">
  <h1 class="ls-title-intro">Geral</h1>
  <p class="ls-title-2">
    Funções, métodos e configurações gerais do locastyle
  </p>
</div>


