---
title: Geral
description: Funções, métodos e configurações gerais do locastyle
---

<div class="row">
  <h2>Alternando classes <small>Toggle class</small></h2>
  <p>Troca uma classe do elemento ou de outro, de acordo com um evento</p>
  <p>
    <button class="ls-btn-primary" data-toggle-class="ls-btn-dark">Troca a adiciona/remove a classe <i>.ls-btn-dark</i> deste botão</button>
  </p>
  <p>
    <button class="ls-btn-primary" data-toggle-class="ls-btn-dark" data-target="#button3">Troca a adiciona/remove a classe <i>.ls-btn-dark</i> do botão ao lado</button>
    <button id="button3" class="ls-btn-primary">Botão</button>
  </p>
  <p>
    <button class="ls-btn-primary" data-toggle-class="ls-btn-dark" data-target=".other-buttons">Troca a adiciona/remove a classe <i>.ls-btn-dark</i> dos botõe ao lado</button>
    <button class="ls-btn-primary other-buttons">Botão 1</button>
    <button class="ls-btn-primary other-buttons">Botão 2</button>
  </p>
</div>

<div class="row">
  <h2>Alternando textos <small>Toggle text</small></h2>
  <p>Troca uma classe do elemento ou de outro, de acordo com um evento</p>
  <p>
    <button class="ls-btn-primary" data-toggle-text="Clique para voltar ao texto original">Clique para alterar o texto</button>
  </p>
  <p>
    <button class="ls-btn-primary" data-toggle-text="Clique para voltar ao texto original" data-target="#button4">Clique para alterar o texto do botão ao lado</button>
    <button id="button4" class="ls-btn-primary">Botão</button>
  </p>
</div>

<div class="row">
  <h2>Rolagem suave da tela</h2>
  <p>Faz um link ou <i>#hash</i> ir suavemente até o elemento que o <i>link</i> aponta.</p>
  <p>Basta adicionar a classe <i>ls-link-smooth</i> no link.</p>
  <p>
    <a class="ls-btn-primary ls-link-smooth" href="#final" >Ir até a seção com <i>id</i> <b>#final</b></a>
  </p>
</div>


<div id="final">#final</div>
