---
title: Ícones
description: ícones
---
<div class="row">
  <h1 class="ls-title-intro">Ícones</h1>
  <p class="ls-title-2">Inserção de ícones em elementos de layout.</p>

  <p>Com a necessidade de ter várias cores para os tipos de painéis, utilizamos o serviço IcoMoon para criar um pacote dos ícones.</p>

  <h2 class="ls-title-2">Funcionamento</h2>

  <p>Para adicionar seu ícone, insira uma das classes da nossa coleção de ícones no elemento escolhido. Se quiser ter mais flexibilidade de posicionamento ou qualquer outra necessidade, utilize as classes em um elemento span. Mas não recomendamos muito, já que você vai precisar criar um elemento vazio só para inserir um ícone.</p>

  <p>Vale lembrar que os ícones são inseridos no :after e :before do elemento.</p>

  <h2 class="ls-title-2">Ícones a direita do texto</h2>

  <p>Por padrão os ícones ficam posicionados à esquerda. Para posicioná-los à direita, basta colocar a classe ls-ico-right. </p>


</div>
