---
title: Documentação
description: Use direto pelo CDN ou baixe uma versão estável para usar em projetos offline.
---

<section class="col-md-12">

  <!-- Title page -->
  <div class="doc-intro-content">
    <h1><%= current_page.data.title %></h1>
    <p><%= current_page.data.description %></p>
  </div>

  <h2>Um título bacana</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aperiam, adipisci, tempore beatae ab voluptatem dolorem quas inventore quasi dolorum reiciendis veniam id eum dolore laborum velit voluptatum esse nesciunt.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aperiam, adipisci, tempore beatae ab voluptatem dolorem quas inventore quasi dolorum reiciendis veniam id eum dolore laborum velit voluptatum esse nesciunt.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aperiam, adipisci, tempore beatae ab voluptatem dolorem quas inventore quasi dolorum reiciendis veniam id eum dolore laborum velit voluptatum esse nesciunt.</p>

  <h2>Um título bacana</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aperiam, adipisci, tempore beatae ab voluptatem dolorem quas inventore quasi dolorum reiciendis veniam id eum dolore laborum velit voluptatum esse nesciunt.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aperiam, adipisci, tempore beatae ab voluptatem dolorem quas inventore quasi dolorum reiciendis veniam id eum dolore laborum velit voluptatum esse nesciunt.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aperiam, adipisci, tempore beatae ab voluptatem dolorem quas inventore quasi dolorum reiciendis veniam id eum dolore laborum velit voluptatum esse nesciunt.</p>

</section>
