---
title: Labels
description: Servem para marcar informações importantes de forma discreta e organizada.
---
<div class="row">

  <div class="ls-well">
    <h1>Exemplo de Título <span class="ls-label-default">Novo</span></h1>
    <h2>Exemplo de Título <span class="ls-label-default">Novo</span></h2>
    <h3>Exemplo de Título <span class="ls-label-default">Novo</span></h3>
    <h4>Exemplo de Título <span class="ls-label-default">Novo</span></h4>
    <h5>Exemplo de Título <span class="ls-label-default">Novo</span></h5>
    <h6>Exemplo de Título <span class="ls-label-default">Novo</span></h6>
  </div>
  <code class="language-html">
    <%= partial 'documentacao/shared/labels' %>
  </code>

  <h2 class="ls-title-2">Variações em forma de links</h2>
  <div class="ls-well ls-txt-center">
    <a href="#" class="ls-label-default">Default</a>
    <a href="#" class="ls-label-primary">Primary</a>
    <a href="#" class="ls-label-success">Succes</a>
    <a href="#" class="ls-label-info">Info</a>
    <a href="#" class="ls-label-warning">Warning</a>
    <a href="#" class="ls-label-danger">Danger</a>
  </div>
  <code class="language-html">
    <%= partial 'documentacao/shared/labels-links' %>
  </code>
</div>
