---
title: Labels
description: Servem para marcar informações importantes de forma discreta e organizada.
---
<div class="row">

  <div class="ls-well">
    <%= partial 'documentacao/shared/labels' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/labels' %>
  </code>

  <h2 class="ls-title-2">Variações em forma de links</h2>
  <div class="ls-well ls-txt-center">
    <%= partial 'documentacao/shared/labels-links' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/labels-links' %>
  </code>
</div>
