---
title: Listas
description: Listas simples e complexas
type: css
---

  <h2 class="ls-title-2">Lista com header + imagem e grids de informações</h2>
  <div class="ls-well ls-well-example">
    <br>
    <%= partial 'documentacao/shared/lists' %>
    <code class="language-html ">
      <%= partial 'documentacao/shared/lists' %>
    </code>
  </div>

  <h2 class="ls-title-2">Lista somente com header</h2>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-4">
        <a href="#" >Identificador da conta</a>
        <small>Revenda Email Marketing I </small>
      </div>
      <div class="col-md-3 col-md-offset-5">
        <a href="#" class="ls-btn-primary ls-float-right-sm">Administrar</a>
      </div>
    </header>
  </div>
 <code class="language-html ">
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-4">
        <a href="#" >Identificador da conta</a>
        <small>Revenda Email Marketing I </small>
      </div>
      <div class="col-md-3 col-md-offset-5">
        <a href="#" class="ls-btn-primary ls-float-right-sm">Administrar</a>
      </div>
    </header>
  </div>
</code>
