---
title: Listas
description: Listas simples e complexas
---

<div class="row">
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-group-actions">
        <a href="#" class="ls-btn-primary f-left">Ação principal</a>
      </div>
      <div class="ls-list-image"><img alt="linux" src="http://developer.locaweb.com.br/assets/edge/img/os/linux.gif"></div>
      <div class="ls-list-title">
        <a href="">Identificador</a>
        <small>Descrição de plano ou caracsterística do produto e recurso </small>
      </div>
    </header>
    <div class="ls-list-content ">
      <div class="col-xs-6 col-md-6">
        <strong class="ls-list-label">Status</strong>
        Publicado
      </div>
      <div class="col-xs-6 col-md-6">
        <strong class="ls-list-label">Status</strong>
        Publicado
      </div>
    </div>
  </div>
</div>
