---
title: Modal
description: modal system
keywords: documentação, locastyle, modal
---

<button data-module="modal" data-target="#myAwesomeModal">
  Open modal
</button>

<div class="ls-modal fade" id="myAwesomeModal">
  <div class="ls-modal-box">
    <div class="ls-modal-header">
      <button type="button" data-dismiss="modal" class="close">&times;</button>
      <h4 class="ls-modal-title">Modal title</h4>
    </div>
    <div class="ls-modal-body">
      <p><%= lorem.sentences 15 %></p>
    </div>
    <div class="ls-modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div><!-- /.modal -->
