---
title: Popover
description: popover
---

<h1>Popover</h1>
<br>
<div style="width: 400px; margin: 0 auto;padding-bottom: 1100px">
  <p>
    <a href="#" data-toggle="popover" data-trigger="click" data-title="Titulo do popover 1" data-content="Conteúdo do popover 1" data-placement="bottom">
      Popover 1 (bottom)
    </a>
  </p>
  <p style="margin-top: 20px">
    <a href="#" data-toggle="popover" data-trigger="hover" data-title="Titulo do popover 2" data-content="Conteúdo do popover 2" data-placement="top">
      Popover 2 (top)
    </a>
  </p>
  <p style="margin-top: 20px">
    <a href="#" data-toggle="popover" data-trigger="hover" data-title="Titulo do popover 3" data-content="Conteúdo do popover 3" data-placement="left">
      Popover 3 (left)
    </a>
  </p>
  <p style="margin-top: 20px">
    <a href="#" data-toggle="popover" data-trigger="click" data-title="Titulo do popover 4" data-content="Conteúdo do popover 4" data-placement="right">
      Popover 4 (right)
    </a>
  </p>
</div>
