---
title: Select Customizado
description: Select customizado
---
<style type="text/css">

</style>
<div class="ls-custom-select">
  <select>
    <% (1..10).each do |i| %>
      <option> Opção <%= i %> </option>
    <% end %>
  </select>
</div>
