---
title: Tags
description: Servem para marcar informações importantes de forma discreta e organizada.
---
<div class="row">
  <%= partial 'documentacao/shared/tags' %>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/tags' %>
  </code>

  <h2 class="ls-title-2">Variações em forma de links</h2>
  <%= partial 'documentacao/shared/tags-links' %>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/tags-links' %>
  </code>

</div>
