---
title: Tags
description: Servem para marcar informações importantes de forma discreta e organizada.
---
<div class="row">

  <div class="doc-example doc-example-markup">
    <%= partial 'documentacao/shared/tags' %>
  </div>

  <h2 class="ls-title-2">Variações em forma de links</h2>
  <div class="doc-example doc-example-markup">

    <%= partial 'documentacao/shared/tags-links' %>
  </div>

</div>
