---
title: Tags
description: Servem para marcar informações importantes de forma discreta e organizada.
type: css
---
<div class="row">
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/tags' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/tags' %>
  </code>

  <h2 class="ls-title-2">Variações em forma de links</h2>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/tags-links' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/tags-links' %>
  </code>

</div>
