---
title: Tipografia
description: Conheça a tipografia do Locaweb Style
---

<div class="doc-block">
<h1 class="ls-title-1">Título</h1>
<h1 class="ls-title-2">Título</h1>
<h1 class="ls-title-3">Título</h1>
<h1 class="ls-title-4">Título</h1>
<h1 class="ls-title-5">Título</h1>
<h1 class="ls-title-6">Título</h1>
</div>
<hr><br>
<div class="doc-block">
  <p>Um parágrafo simples</p>
  <p><a href="">Um link simples dentro de um parágrafo</a></p>
  <label for="">Uma label</label>
</div>


