---
title: Tooltip
description:
---


<a href="#" class="ls-tooltip-top" aria-label="Go to bavotasan.com">up aaaaa</a>
<a href="#" class="ls-tooltip-right" aria-label="Go to bavotasan.com">right aaaaaa</a>
<a href="#" class="ls-tooltip-bottom" aria-label="Go to bavotasan.com">bottom aaaaa</a>
<a href="#" class="ls-tooltip-left" aria-label="Go to bavotasan.com">left aaaa</a>

