---
title: Locaweb Style
layout: v1/layouts/layout
---

<!-- highlight -->
<div class="highlight high-locastyle">
	<div class="limit">
		<h1 class="txtCenter title-host"><strong>Locaweb</strong> Style</h1>
		<h2>Uma biblioteca de elementos e comportamentos em CSS e Javascript para facilitar a produção de layouts.</h2>

		<div class="highbtn txtCenter">
			<a class="btn btn-primary btn-large" href="<%= base_url_v1 %>/manual/introducao/como-usar/" tabindex="3" role="button">Use agora</a>
			<a class="btn btn-large" href="https://github.com/locaweb/locawebstyle/" tabindex="3" role="button">Github</a>
			<a class="btn btn-large" href="http://locaweb.github.io/locawebstyle/changelog/" tabindex="3" role="button">Changelog</a>
		</div>
	</div>
</div>
<!-- END highlight -->

<!-- channels -->
<section class="channels limit">
	<h1>O que é e para que serve?</h1>
	<h2>Construa sistemas mais rapidamente utilizando nosso framework CSS. Disponibilizamos comportamentos e uma interface preparada para a produção de diversos cenários.</h2>

	<div class="channel span4">
		<a href="<%= base_url_v1 %>/manual/introducao/como-usar/"><h3 class="ico-monitor-download">Baixe ou use direto do server</h3>
		<p>Use via CDN ou baixe o ZIP com os assets necessários. Simples e Rápido.</p></a>
	</div>

	<div class="channel span4">
		<a href="<%= base_url_v1 %>/manual/introducao/como-usar/"><h3 class="ico-doc-text">Documentação</h3>
		<p>Confira a documentação e saiba todas as features que podem te ajudar a produzir layouts e sistemas mais rapidamente.</p></a>
	</div>

	<div class="channel span4">
		<a href="http://locaweb.github.io/locawebstyle/changelog/"><h3 class="ico-chat-4">Changelog</h3>
		<p>Saiba quais as últimas atualizações do Locaweb Style.</p></a>
	</div>
<!--
	<div class="channel span4">
		<a href="#"><h3 class="ico-code">Indique um desenvolvedor e gerencie permissões de usuários</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

	<div class="channel span4">
		<a href="#"><h3 class="ico-mail">Crie e gerencie caixas postais</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div>

	<div class="channel span4">
		<a href="#"><h3 class="ico-install">Instale aplicativos</h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p></a>
	</div> -->

	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	<a class="addthis_button_tweet"></a>
	<a class="addthis_counter addthis_pill_style"></a>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51cdc3552ecf7080"></script>
	<!-- AddThis Button END -->

				<iframe class="githubbtn" src="http://ghbtns.com/github-btn.html?user=locaweb&amp;repo=locawebstyle&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
				<!-- <iframe class="githubbtn" src="http://ghbtns.com/github-btn.html?user=locaweb&repo=locawebstyle&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe> -->
				<iframe class="githubbtn" src="http://ghbtns.com/github-btn.html?user=locaweb&amp;repo=locawebstyle&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

	</div>
</section>
<!-- END channels -->
