<div class="ls-tabs-btn">
  <ul class="ls-tabs-btn-nav">
    <li class="col-md-2 col-xs-6 ls-active"><button class="ls-btn" data-ls-module="button" data-target="#tab1a"><span class="ls-ico-dashboard">Diária</span></button></li>
    <li class="col-md-2 col-xs-6"><button class="ls-btn" data-ls-module="button" data-target="#tab2a"><span class="ls-ico-calendar-check">Semanal</span></button></li>
    <li class="col-md-2 col-xs-6"><button class="ls-btn" data-ls-module="button" data-target="#tab3a"><span class="ls-ico-calendar">Mensal</span></button></li>
    <li class="col-md-2 col-xs-6"><button class="ls-btn" data-ls-module="button" data-target="#tab4a"><span class="ls-ico-cog">Manual</span></button></li>
  </ul>

  <div class="ls-tabs-container">
    <div id="tab1a" class="ls-tab-content ls-active">
      <p>Conteúdo <b>Diário</b></p>
    </div>
    <div id="tab2a" class="ls-tab-content">
      <p>Conteúdo <b>Semanal</b></p>
    </div>
    <div id="tab3a" class="ls-tab-content">
      <p>Conteúdo <b>Mensal</b></p>
    </div>
    <div id="tab4a" class="ls-tab-content">
      <p>Conteúdo <b>Manual</b></p>
    </div>
  </div>
</div>
