<ul class="ls-tabs-nav" id="awesome-tab">
  <li class="ls-active"><a data-ls-module="tabs" href="#track">Aba 1</a></li>
  <li><a data-ls-module="tabs" href="#laps">Aba 2</a></li>
</ul>
<div class="ls-tabs-container" id="awesome-tab-content">
  <div id="track" class="ls-tab-content ls-active">
    <p><%= lorem.paragraphs 2 %></p>
  </div>
  <div id="laps" class="ls-tab-content">
    <p><%= lorem.paragraphs 2 %></p>
  </div>
</div>
