<ul class="ls-tabs-nav" id="awesome-tab">
  <li class="active"><a data-module="tab" href="#track">Aba 1</a></li>
  <li><a data-module="tab" href="#laps">Aba 2</a></li>
</ul>
<div class="ls-tabs-container" id="awesome-tab-content">
  <div id="track" class="ls-tab-content active">
    <p><%= lorem.paragraphs 2 %></p>
  </div>
  <div id="laps" class="ls-tab-content">
    <p><%= lorem.paragraphs 2 %></p>
  </div>
</div>
