<div data-ls-module="dropdown" class="ls-dropdown-tabs">
  <a data-ls-module="tabs" href="#tab1" class="ls-btn">Contratos x distribuídos</a>
  <ul class="ls-tabs-nav ls-dropdown-nav in-dropdown" id="awesome-tab">
    <li class="ls-active"><a data-ls-module="tabs" href="#tab1">Contratos x distribuídos</a></li>
    <li><a data-ls-module="tabs" href="#tab2">Status de clientes</a></li>
  </ul>
</div>
<div class="ls-tabs-container">
  <div id="tab1" class="ls-tab-content ls-active">
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
  </div>
  <div id="tab2" class="ls-tab-content">
    <p><%= lorem.paragraph %></p>
  </div>
</div>
