<ul class="ls-tabs-nav">
  <li class="ls-active"><a data-ls-module="tabs" href="#track">Aba 1</a></li>
  <li><a data-ls-module="tabs" href="#laps">Aba 2</a></li>
</ul>
<div class="ls-tabs-container">
  <div id="track" class="ls-tab-content ls-active">
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
  </div>
  <div id="laps" class="ls-tab-content">
    <p><%= lorem.paragraph %></p>
  </div>
</div>
