<div class="ls-alert-warning ls-dismissable" data-module="dismiss">
  <button class="ls-dismiss">&times;</button>
  <strong>Opa!</strong> Atenção neste ponto.
</div>

<div class="ls-alert-danger ls-dismissable" data-module="dismiss">
  <button class="ls-dismiss">&times;</button>
  <strong>Vish!</strong> Muita atenção neste ponto.
</div>
