<form action="" class="ls-form ls-form-horizontal row">
  <fieldset>
    <label class="ls-label col-md-4">
      <b class="ls-label-text">Nome</b>
      <input type="text" data-ls-module="charCounter" maxlength="20" name="nome" placeholder="Digite seu nome completo" required>
    </label>
    <label class="ls-label col-md-8">
      <b class="ls-label-text">Mensagem</b>
      <textarea data-ls-module="charCounter" maxlength="100"></textarea>
    </label>
  </fieldset>
</form>
