<form action="" class="ls-form row">
  <fieldset>

    <!--  col-md-2  -->
    <label class="ls-label col-md-2">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select">
        <select class="ls-custom" name="">
          <option selected="selected">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
        </select>
      </div>
    </label>
    <!--  col-md-4  -->
    <label class="ls-label col-md-4">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select">
        <select class="ls-custom" name="">
          <option selected="selected">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
        </select>
      </div>
    </label>
    <!--  col-md-6  -->
    <label class="ls-label col-md-6">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select">
        <select class="ls-custom" name="">
          <option selected="selected">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
        </select>
      </div>
    </label>
    <label class="ls-label col-md-8">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select">
        <select class="ls-custom" name="">
          <option selected="selected">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
        </select>
      </div>
    </label>
    <label class="ls-label col-md-10">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select">
        <select class="ls-custom" name="">
          <option selected="selected">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
        </select>
      </div>
    </label>
    <label class="ls-label col-md-12">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select">
        <select class="ls-custom" name="">
          <option selected="selected">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
        </select>
      </div>
    </label>
  </fieldset>
</form>
