<div data-ls-module="customFields">
  <% if field == 'select' %>
    <select>
      <% (1..4).each do |i| %>
        <option value="<%= i %>"> Opção <%= i %> </option>
      <% end %>
    </select>
  <% end %>

  <% if field == 'checkbox' %>
    <input type="radio" name="radio3" value="3">
    <input type="radio" name="radio3" value="2">
    <input type="radio" name="radio3" value="1">
  <% end %>

  <% if field == 'radio' %>
    <input type="checkbox">
    <input type="checkbox">
  <% end %>
</div>
