<div class="ls-custom-select">
  <% if field == 'select' %>
    <select class="ls-select">
      <% (1..4).each do |i| %>
        <option value="<%= i %>"> Opção <%= i %> </option>
      <% end %>
    </select>
  <% end %>
</div>
