<div data-ls-module="dropdown" class="ls-dropdown">
  <a href="#" class="ls-btn-primary">Users</a>

  <ul class="ls-dropdown-nav">
    <%- 5.times do%>
      <li><a href="#"><%= lorem.name %></a></li>
    <% end %>
  </ul>
</div>
