<ul class="list-icons">
<li><span class="ls-ico-cart">ls-ico-cart</span></li>
<li><span class="ls-ico-bullhorn">ls-ico-bullhorn</span></li>
<li><span class="ls-ico-dashboard">ls-ico-dashboard</span></li>
<li><span class="ls-ico-bell-o">ls-ico-bell-o</span></li>
<li><span class="ls-ico-home">ls-ico-home</span></li>
<li><span class="ls-ico-users">ls-ico-users</span></li>
<li><span class="ls-ico-stats">ls-ico-stats</span></li>
<li><span class="ls-ico-envelope">ls-ico-envelope</span></li>
<li><span class="ls-ico-envelop">ls-ico-envelop</span></li>
<li><span class="ls-ico-cog">ls-ico-cog</span></li>
<li><span class="ls-ico-user">ls-ico-user</span></li>
<li><span class="ls-ico-question">ls-ico-question</span></li>
<li><span class="ls-ico-chevron-up">ls-ico-chevron-up</span></li>
<li><span class="ls-ico-chevron-right">ls-ico-chevron-right</span></li>
<li><span class="ls-ico-chevron-down">ls-ico-chevron-down</span></li>
<li><span class="ls-ico-chevron-left">ls-ico-chevron-left</span></li>
<li><span class="ls-ico-shaft-up-left">ls-ico-shaft-up-left</span></li>
<li><span class="ls-ico-shaft-up">ls-ico-shaft-up</span></li>
<li><span class="ls-ico-shaft-up-right">ls-ico-shaft-up-right</span></li>
<li><span class="ls-ico-shaft-right">ls-ico-shaft-right</span></li>
<li><span class="ls-ico-shaft-down-right">ls-ico-shaft-down-right</span></li>
<li><span class="ls-ico-shaft-down">ls-ico-shaft-down</span></li>
<li><span class="ls-ico-shaft-down-left">ls-ico-shaft-down-left</span></li>
<li><span class="ls-ico-shaft-left">ls-ico-shaft-left</span></li>
<li><span class="ls-ico-circle-up">ls-ico-circle-up</span></li>
<li><span class="ls-ico-circle-right">ls-ico-circle-right</span></li>
<li><span class="ls-ico-circle-down">ls-ico-circle-down</span></li>
<li><span class="ls-ico-circle-left">ls-ico-circle-left</span></li>
<li><span class="ls-ico-menu">ls-ico-menu</span></li>
<li><span class="ls-ico-pencil">ls-ico-pencil</span></li>
<li><span class="ls-ico-pencil2">ls-ico-pencil2</span></li>
<li><span class="ls-ico-paint-format">ls-ico-paint-format</span></li>
<li><span class="ls-ico-image">ls-ico-image</span></li>
<li><span class="ls-ico-images">ls-ico-images</span></li>
<li><span class="ls-ico-qrcode">ls-ico-qrcode</span></li>
<li><span class="ls-ico-list">ls-ico-list</span></li>
<li><span class="ls-ico-list2">ls-ico-list2</span></li>
<li><span class="ls-ico-numbered-list">ls-ico-numbered-list</span></li>
<li><span class="ls-ico-menu2">ls-ico-menu2</span></li>
<li><span class="ls-ico-insert-template">ls-ico-insert-template</span></li>
<li><span class="ls-ico-windows">ls-ico-windows</span></li>
<li><span class="ls-ico-code">ls-ico-code</span></li>
<li><span class="ls-ico-screen">ls-ico-screen</span></li>
<li><span class="ls-ico-camera">ls-ico-camera</span></li>
<li><span class="ls-ico-folder">ls-ico-folder</span></li>
<li><span class="ls-ico-folder-open">ls-ico-folder-open</span></li>
<li><span class="ls-ico-download">ls-ico-download</span></li>
<li><span class="ls-ico-upload">ls-ico-upload</span></li>
<li><span class="ls-ico-spinner">ls-ico-spinner</span></li>
<li><span class="ls-ico-search">ls-ico-search</span></li>
<li><span class="ls-ico-zoomin">ls-ico-zoomin</span></li>
<li><span class="ls-ico-zoomout">ls-ico-zoomout</span></li>
<li><span class="ls-ico-stats">ls-ico-stats</span></li>
<li><span class="ls-ico-bars">ls-ico-bars</span></li>
<li><span class="ls-ico-remove">ls-ico-remove</span></li>
<li><span class="ls-ico-accessibility">ls-ico-accessibility</span></li>
<li><span class="ls-ico-tree">ls-ico-tree</span></li>
<li><span class="ls-ico-cloud">ls-ico-cloud</span></li>
<li><span class="ls-ico-cloud-download">ls-ico-cloud-download</span></li>
<li><span class="ls-ico-cloud-upload">ls-ico-cloud-upload</span></li>
<li><span class="ls-ico-download2">ls-ico-download2</span></li>
<li><span class="ls-ico-upload2">ls-ico-upload2</span></li>
<li><span class="ls-ico-globe">ls-ico-globe</span></li>
<li><span class="ls-ico-earth">ls-ico-earth</span></li>
<li><span class="ls-ico-link">ls-ico-link</span></li>
<li><span class="ls-ico-flag">ls-ico-flag</span></li>
<li><span class="ls-ico-attachment">ls-ico-attachment</span></li>
<li><span class="ls-ico-eye">ls-ico-eye</span></li>
<li><span class="ls-ico-eye-blocked">ls-ico-eye-blocked</span></li>
<li><span class="ls-ico-star">ls-ico-star</span></li>
<li><span class="ls-ico-star2">ls-ico-star2</span></li>
<li><span class="ls-ico-star3">ls-ico-star3</span></li>
<li><span class="ls-ico-thumbs-up">ls-ico-thumbs-up</span></li>
<li><span class="ls-ico-thumbs-up2">ls-ico-thumbs-up2</span></li>
<li><span class="ls-ico-info">ls-ico-info</span></li>
<li><span class="ls-ico-cancel-circle">ls-ico-cancel-circle</span></li>
<li><span class="ls-ico-checkmark-circle">ls-ico-checkmark-circle</span></li>
<li><span class="ls-ico-close">ls-ico-close</span></li>
<li><span class="ls-ico-checkmark">ls-ico-checkmark</span></li>
<li><span class="ls-ico-minus">ls-ico-minus</span></li>
<li><span class="ls-ico-plus">ls-ico-plus</span></li>
<li><span class="ls-ico-checkbox-checked">ls-ico-checkbox-checked</span></li>
<li><span class="ls-ico-checkbox-unchecked">ls-ico-checkbox-unchecked</span></li>
<li><span class="ls-ico-checkbox-partial">ls-ico-checkbox-partial</span></li>
<li><span class="ls-ico-radio-checked">ls-ico-radio-checked</span></li>
<li><span class="ls-ico-radio-unchecked">ls-ico-radio-unchecked</span></li>
<li><span class="ls-ico-domain">ls-ico-domain</span></li>
<li><span class="ls-ico-edit-admin">ls-ico-edit-admin</span></li>
<li><span class="ls-ico-calendar">ls-ico-calendar</span></li>
<li><span class="ls-ico-calendar-more">ls-ico-calendar-more</span></li>
<li><span class="ls-ico-calendar-check">ls-ico-calendar-check</span></li>
<li><span class="ls-ico-chart-bar-up">ls-ico-chart-bar-up</span></li>
<li><span class="ls-ico-lamp">ls-ico-lamp</span></li>
<li><span class="ls-ico-arrow-down">ls-ico-arrow-down</span></li>
<li><span class="ls-ico-arrow-left">ls-ico-arrow-left</span></li>
<li><span class="ls-ico-arrow-up">ls-ico-arrow-up</span></li>
<li><span class="ls-ico-arrow-right">ls-ico-arrow-right</span></li>
<li><span class="ls-ico-export">ls-ico-export</span></li>
<li><span class="ls-ico-table-alt">ls-ico-table-alt</span></li>
<li><span class="ls-ico-mobile">ls-ico-mobile</span></li>
<li><span class="ls-ico-user-add">ls-ico-user-add</span></li>
<li><span class="ls-ico-list3">ls-ico-list3</span></li>
<li><span class="ls-ico-text">ls-ico-text</span></li>
<li><span class="ls-ico-text2">ls-ico-text2</span></li>
<li><span class="ls-ico-document">ls-ico-document</span></li>
<li><span class="ls-ico-docs">ls-ico-docs</span></li>
<li><span class="ls-ico-book">ls-ico-book</span></li>
<li><span class="ls-ico-target">ls-ico-target</span></li>
<li><span class="ls-ico-hours">ls-ico-hours</span></li>
<li><span class="ls-ico-month">ls-ico-month</span></li>
<li><span class="ls-ico-week">ls-ico-week</span></li>
<li><span class="ls-ico-mysql">ls-ico-mysql</span></li>
<li><span class="ls-ico-postgres">ls-ico-postgres</span></li>
<li><span class="ls-ico-ftp">ls-ico-ftp</span></li>
<li><span class="ls-ico-origins">ls-ico-origins</span></li>
<li><span class="ls-ico-history">ls-ico-history</span></li>
<li><span class="ls-ico-blank">ls-ico-blank</span></li>
</ul>
