<ul class="list-icons">
  <li>
    <span class="ls-ico-bullhorn">ls-ico-bullhorn</span>
  </li>
  <li>
    <span class="ls-ico-dashboard">ls-ico-dashboard</span>
  </li>
  <li>
    <span class="ls-ico-bell-o">ls-ico-bell-o</span>
  </li>
  <li>
    <span class="ls-ico-home">ls-ico-home</span>
  </li>
  <li>
    <span class="ls-ico-users">ls-ico-users</span>
  </li>
  <li>
    <span class="ls-ico-stats">ls-ico-stats</span>
  </li>
  <li>
    <span class="ls-ico-envelope">ls-ico-envelope</span>
  </li>
  <li>
    <span class="ls-ico-cog">ls-ico-cog</span>
  </li>
  <li>
    <span class="ls-ico-user">ls-ico-user</span>
  </li>
  <li>
    <span class="ls-ico-question">ls-ico-question</span>
  </li>
  <li>
    <span class="ls-ico-chevron-up">ls-ico-chevron-up</span>
  </li>
  <li>
    <span class="ls-ico-chevron-right">ls-ico-chevron-right</span>
  </li>
  <li>
    <span class="ls-ico-chevron-down">ls-ico-chevron-down</span>
  </li>
  <li>
    <span class="ls-ico-chevron-left">ls-ico-chevron-left</span>
  </li>
  <li>
    <span class="ls-ico-menu">ls-ico-menu</span>
  </li>
</ul>
