<form id="search-icons-form" class="doc-search-icons ls-form ls-form-inline">
  <label class="ls-label">
    <b class="ls-label-text">Buscar ícone:</b>
    <input type="search" id="search-icons-btn" aria-label="Buscar ícone">
  </label>
  <p id="search-icons-result"></p>
</form>

<ul class="list-icons ls-no-margin">
  <% data.icons.each do |icon| %>
    <li>
      <span class="<%= icon %>"><%= icon %></span>
    </li>
  <% end %>
</ul>
