<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-4">
      <a href="#" >Identificador da conta</a>
      <small>Fake Product Name I </small>
    </div>
    <div class="col-md-3 col-md-offset-5 ls-txt-right">
      <a href="<#" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <strong class="ls-list-label">Status</strong>
      Publicado
    </div>
    <div class="col-xs-12 col-md-6">
      <strong class="ls-list-label">Status</strong>
      Publicado
    </div>
  </div>
</div>
