<ul class="list-icons">
  <li><span class="ls-ico-panel-streaming">ls-ico-panel-streaming</span></li>
  <li><span class="ls-ico-panel-hospedagem">ls-ico-panel-hospedagem</span></li>
  <li><span class="ls-ico-panel-emkt">ls-ico-panel-emkt</span></li>
  <li><span class="ls-ico-panel-cloud">ls-ico-panel-cloud</span></li>
  <li><span class="ls-ico-panel-smtp">ls-ico-panel-smtp</span></li>
  <li><span class="ls-ico-panel-dns">ls-ico-panel-dns</span></li>
  <li><span class="ls-ico-panel-backup">ls-ico-panel-backup</span></li>
  <li><span class="ls-ico-panel-domains">ls-ico-panel-domains</span></li>
</ul>
