<button data-ls-module="modal" data-target="#myAwesomeModal" class="ls-btn-primary">Ative a modal</button>

<div class="ls-modal" id="myAwesomeModal">
  <div class="ls-modal-box">
    <div class="ls-modal-header">
      <button data-dismiss="modal" arial-label="Fechar"></button>
      <h4 class="ls-modal-title">Modal title</h4>
    </div>
    <div class="ls-modal-body">
      <p><%= lorem.sentences 15 %></p>
    </div>
    <div class="ls-modal-footer">
      <button type="submit" class="ls-btn-primary">Save changes</button>
      <button class="ls-btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
