<button data-ls-module="modal" data-target="#modalSmall" class="ls-btn-primary">Ative a modal pequena</button>
<button data-ls-module="modal" data-target="#modalLarge" class="ls-btn-primary">Ative a modal grande</button>

<div class="ls-modal" id="modalSmall">
  <div class="ls-modal-small">
    <div class="ls-modal-header">
      <button data-dismiss="modal" aria-label="Fechar"></button>
      <h4 class="ls-modal-title">Modal title</h4>
    </div>
    <div class="ls-modal-body">
      <p><%= lorem.sentences 3 %></p>
    </div>
    <div class="ls-modal-footer">
      <button type="submit" class="ls-btn-primary">Save changes</button>
      <button class="ls-btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>


<div class="ls-modal" id="modalLarge">
  <div class="ls-modal-large">
    <div class="ls-modal-header">
      <button data-dismiss="modal" aria-label="Fechar"></button>
      <h4 class="ls-modal-title">Modal title</h4>
    </div>
    <div class="ls-modal-body">
      <p><%= lorem.sentences 3 %></p>
    </div>
    <div class="ls-modal-footer">
      <button type="submit" class="ls-btn-primary">Save changes</button>
      <button class="ls-btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
