<button data-module="modal" data-target="#myAwesomeModal" class="ls-btn-primary"> Modal com target </button>
<button data-module="modal" data-content="Conteúdo" data-title="Titulo" data-save="Salvar" data-close="Fechar" class="ls-btn-primary"> Modal sem target </button>

<div class="ls-modal fade" id="myAwesomeModal">
  <div class="ls-modal-box">
    <div class="ls-modal-header">
      <button data-dismiss="modal">&times;</button>
      <h4 class="ls-modal-title">Modal title</h4>
    </div>
    <div class="ls-modal-body">
      <p><%= lorem.sentences 15 %></p>
    </div>
    <div class="ls-modal-footer">
      <a class="ls-btn float-right ls-float-right" data-dismiss="modal">Close</a>
      <a class="ls-btn ls-btn-primary">Save changes</a>
    </div>
  </div>
</div><!-- /.modal -->
