<form action="" class="ls-form ls-form-horizontal row">
  <fieldset>
    <label class="ls-field col-md-4">
      <b class="ls-label">Senha (com ícone)</b>
      <div class="ls-prefix-group">
        <input type="password" maxlength="20" id="password_field" name="password" value="locastyle é da hora né?" >
        <span class="ls-label-prefix">
          <a class="ls-toggle-pass ls-ico-eye" data-toggle-class="ls-ico-eye, ls-ico-eye-blocked" data-target="#password_field" href="#">
          </a>
        </span>
      </div>
    </label>
    <hr>
    <label class="ls-field col-md-4">
      <b class="ls-label">Senha (com texto)</b>
      <div class="ls-prefix-group">
        <input type="password" maxlength="20" id="password_field2" name="password" value="locastyle é da hora né?" >
        <span class="ls-label-prefix ls-no-bg ls-no-border">
          <a class="ls-toggle-pass" data-target="#password_field2" href="#">
            Alterar
          </a>
        </span>
      </div>
    </label>
  </fieldset>
</form>
