<form action="" class="ls-form ls-form-inline row">
  <fieldset>
    <label class="ls-label col-md-6">
      <b class="ls-label-text">Senha (com ícone)</b>
      <div class="ls-prefix-group">
        <input type="password" maxlength="20" id="password_field2a" name="password" value="locastyle é da hora né?" >
          <a class="ls-label-text-prefix ls-toggle-pass ls-ico-eye" data-toggle-class="ls-ico-eye, ls-ico-eye-blocked" data-target="#password_field2a" href="#">
          </a>
      </div>
    </label>
  </fieldset>
</form>
<form action="" class="ls-form ls-form-inline">
  <fieldset>
    <label class="ls-label">
      <b class="ls-label-text ls-hidden-accessible">Senha (com texto)</b>
      <input type="password" maxlength="20" id="password_field3a" name="password" value="locastyle é da hora né?" >
      <a class="ls-toggle-pass ls-color-theme" data-target="#password_field3a" href="#">Alterar</a>
    </label>
  </fieldset>
</form>
