<form action="" class="ls-form ls-form-horizontal row">
  <fieldset>
    <label class="ls-field col-md-4">
      <b class="ls-label">Senha</b>
      <div class="ls-prefix-group">
        <input type="password" maxlength="20" id="password_field" name="password" value="locastyle é da hora né?" >
        <span class="ls-label-prefix">
          <a class="ls-toggle-pass ls-ico-eye" data-target="#password_field" href="#">
          </a>
        </span>
      </div>
    </label>
  </fieldset>
</form>
