<a href="#" class="ls-btn-primary" data-custom-class="ls-color-danger" data-ls-module="popover" data-title="Titulo do popover 4" data-content="Conteúdo do popover 4" data-placement="right">
  Popover (right)
</a>
<a href="#" class="ls-btn-primary" data-ls-module="popover" data-trigger="hover" data-title="Titulo do popover 2" data-content="Conteúdo do popover 2" data-placement="top">
  Popover (top)
</a>
<a href="#" class="ls-btn-primary" data-ls-module="popover" data-title="Titulo do popover 1" data-content="Conteúdo do popover 1 Conteúdo do popover 1 Conteúdo do popover 1 Conteúdo do popover 1 Conteúdo do popover 1 " data-placement="bottom">
  Popover (bottom)
</a>
<a href="#" class="ls-btn-primary" data-ls-module="popover" data-trigger="hover" data-title="Titulo do popover 3" data-content="Conteúdo do popover 3" data-placement="left">
  Popover (left)
</a>
