<a href="#" class="ls-btn-primary" data-ls-module="popover" data-trigger="hover" data-title="Titulo do popover 3" data-content="<p>Conteúdo do popover 3</p>" data-placement="left">
  Hover (left)
</a>
<a href="#" class="ls-btn-primary" data-ls-module="popover" data-ls-popover="open" data-title="Titulo do popover 2" data-content="<ul class='ls-no-list-style'>
  <li>Lista 1</li>
  <li>Lista 2</li>
  <li>Lista 3</li>
</ul>" data-placement="top">
  Start opened
</a>
<a href="#" class="ls-btn-primary" data-ls-module="popover" data-title="Titulo do popover 2" data-content="<ul class='ls-no-list-style'>
  <li>Lista 1</li>
  <li>Lista 2</li>
  <li>Lista 3</li>
</ul>" data-placement="top">
  Click (top)
</a>
<a href="#" class="ls-btn-primary" data-ls-module="popover" data-title="Titulo do popover 1" data-content="<p>Conteúdo do popover 1 Conteúdo do popover 1 Conteúdo do popover 1 Conteúdo do popover 1 Conteúdo do popover 1 </p>" data-placement="bottom">
  Click (bottom)
</a>
<a href="#" class="ls-btn-primary" data-custom-class="ls-color-success" data-ls-module="popover" data-title="Titulo do popover 4" data-content="<p>Conteúdo do popover 4</p>" data-placement="right">
  Click (right)
</a>

<a href="#" class="ls-ico-help ls-float-right" data-trigger="hover" data-ls-module="popover" data-placement="left" data-content="Aqui usamos a classe <strong class='ls-color-danger'>.ls-ico-help</strong>" data-title="Popover com ícone de ajuda"></a>
