<div class="ls-switch-btn">
  <input type="checkbox" id="teste">
  <label class="ls-switch-label" for="teste" name="label-teste" ls-switch-off="Desativado" ls-switch-on="Ativado"><span></span></label>
</div>
