<!-- Desativado -->
<div class="ls-switch-btn ls-display-block">
  <a href="#">
    <input type="checkbox" id="teste1">
    <label class="ls-switch-label" for="teste1" name="label-teste" ls-switch-off="Desativado" ls-switch-on="Ativado"><span></span></label>
  </a>
</div>

<!-- Ativado -->
<div class="ls-switch-btn ls-display-block">
  <a href="#">
    <input type="checkbox" id="teste2" checked>
    <label class="ls-switch-label" for="teste2" name="label-teste" ls-switch-off="Desativado" ls-switch-on="Ativado"><span></span></label>
  </a>
</div>
