<a href="#" class="ls-tag">Default</a>
<a href="#" class="ls-tag-primary">Primary</a>
<a href="#" class="ls-tag-success">Success</a>
<a href="#" class="ls-tag-info">Info</a>
<a href="#" class="ls-tag-warning">Warning</a>
<a href="#" class="ls-tag-danger">Danger</a>
