<h1>Exemplo de Título <span class="ls-label">Novo</span></h1>
<h2>Exemplo de Título <span class="ls-label">Novo</span></h2>
<h3>Exemplo de Título <span class="ls-label">Novo</span></h3>
<h4>Exemplo de Título <span class="ls-label">Novo</span></h4>
<h5>Exemplo de Título <span class="ls-label">Novo</span></h5>
<h6>Exemplo de Título <span class="ls-label">Novo</span></h6>
