<h1 class="ls-title-1">Exemplo de Título <span class="ls-tag">Novo</span></h1>
<hr>
<h2 class="ls-title-2">Exemplo de Título <span class="ls-tag">Novo</span></h2>
<hr>
<h3 class="ls-title-3">Exemplo de Título <span class="ls-tag">Novo</span></h3>
<hr>
<h4 class="ls-title-4">Exemplo de Título <span class="ls-tag">Novo</span></h4>
<hr>
<h5 class="ls-title-5">Exemplo de Título <span class="ls-tag">Novo</span></h5>
<hr>
<h6 class="ls-title-6">Exemplo de Título <span class="ls-tag">Novo</span></h6>
