<a href="#" class="ls-tooltip-top ls-btn" aria-label="Conteúdo exibido acima">Cima</a>
<a href="#" class="ls-tooltip-right ls-btn" aria-label="Conteúdo exibido no lado direito">Direita</a>
<a href="#" class="ls-tooltip-bottom ls-btn" aria-label="Conteúdo exibido abaixo">Baixo</a>
<a href="#" class="ls-tooltip-left ls-btn" aria-label="Conteúdo exibido no lado esquerdo">Esquerda</a>
<a href="#" class="ls-tooltip-top-left ls-btn" aria-label="Conteúdo exibido no topo para a esquerda">Topo Esquerda</a>
<a href="#" class="ls-tooltip-right ls-btn" disabled aria-label="Conteúdo exibido com botão desativado">Desativado</a>
