<div class="model" id="instrucoes-iniciais">
	<div class="examples">
		<h2>Informações iniciais</h2>
		<p>Além de ler aqui, você pode ler algumas instruções importantes no README.MD.</p>
		<p>Este é um guia de código para facilitar a construção de elementos visuais de layout dos serviços da Locaweb. Você encontrará dois tipos de códigos aqui: HTML e CSS. Não encontrará, ainda, nada de Javascript, porque a maioria das funções são baseadas em frameworks como Bootstrap e Modernizr. </p>
		<p>Todos os códigos de CSS são importados automaticamente assim que você linka o arquivo <strong>application.css</strong>. Logo o código CSS que você encontrar aqui é puramente pra sua consulta. <em><strong>Não modifique para nada</strong></em>. Este guia será atualizado com frequencia ao longo do tempo, por isso <strong><em>suas modificações serão perdidas</strong></em> assim que atualizarmos o código para novas versões.</p>
	</div>
</div>
