<aside class="guideAreas">
  <nav>
    <h6>Início</h6>
    <ul>
      <li><a href="#instrucoes-iniciais">Informações iniciais (LEIA!)</a></li>
      <li><a href="#instalacao">Como instalar</a></li>
    </ul>
    <h6>Estrutura</h6>
    <ul>
      <li><a href="#estrutura-mestre">Estrutura mestre</a></li>
      <li><a href="#header-principal">Header Principal</a></li>
      <li><a href="#footer-principal">Footer Principal</a></li>
      <li><a href="#sidebar">Sidebar</a></li>
    </ul>

    <h6>Elementos</h6>
    <ul>
      <li><a href="#collapse">Collapse</a></li>
      <li><a href="#tabs">Tabs</a></li>
      <li><a href="#filtro-paginacao">Filtro e paginação</a></li>
      <li><a href="#modal">Modal ou Lightbox</a></li>
      <li><a href="#botoes">Botões</a></li>
    </ul>

    <h6>Conteúdo</h6>
    <ul>
      <li><a href="#tabela-listagem">Tabela de listagem</a></li>
    </ul>

    <h6>Formulários</h6>
    <ul>
      <li><a href="#forms">Campos</a></li>
      <li><a href="#busca-avancada">Busca avançada</a></li>
    </ul>
  </nav>
</aside>
