  <header class="cabecalho">
    <div class="limite">
      <h1 class="logo"><a title="Um lugar para desenvolvedores web" href="http://developer.locaweb.com.br">Locaweb Developer Network</a></h1> 
      <div class="socialadd addthis_toolbox addthis_default_style">
        <a addthis:userid="locawebdevnet" class="addthis_button_twitter_follow at300b" target="_blank" title="Follow on Twitter" href="#"><span class="at16nc at300bs at15nc at15t_twitter at16t_twitter"><span class="at_a11y">Share on twitter</span></span><span class="addthis_follow_label">Twitter</span></a>
        <a addthis:userid="/feed/" class="addthis_button_rss_follow at300b" href="/feed/" target="_blank" title="Subscribe"><span class=" at300bs at15nc at15t_rss"><span class="at_a11y">Share on rss</span></span><span class="addthis_follow_label">RSS</span></a>
        <div class="atclear"></div></div>
        <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=locawebdevnet" type="text/javascript"></script>
      </div>
      <nav class="principalMenu">
        <ul class="menu" id="menu-menu-principal">
          <li class="menu-item-29" id="menu-item-29">
            <a href="http://developer.locaweb.com.br/documentacoes/">Documentações</a>
            <ul class="sub-menu">
              <li class="menu-item-34" id="menu-item-34"><a href="http://developer.locaweb.com.br/documentacoes/email-marketing-parent/">Email Marketing</a></li>
              <li class="menu-item-312" id="menu-item-312"><a href="http://developer.locaweb.com.br/documentacoes/gateway/">Gateway</a></li>
              <li class="menu-item-543" id="menu-item-543"><a href="http://developer.locaweb.com.br/documentacoes/cloud-server-pro/">Cloud Server Pro</a></li>
            </ul>
          </li>
          <li class="current_page_parent current_page_ancestor menu-item-30" id="menu-item-30"><a href="http://developer.locaweb.com.br/locawebstyle/">Locaweb Style</a>
            <ul class="sub-menu">
              <li class="current_page_item menu-item-1111" id="menu-item-1111"><a href="http://developer.locaweb.com.br/locawebstyle/">Manual</a></li>
              <li class="menu-item-1106" id="menu-item-1106"><a href="http://developer.locaweb.com.br/locawebstyle/introducao/instalacao/">Como usar</a></li>
              <li class="menu-item-1109" id="menu-item-1109"><a href="http://developer.locaweb.com.br/locawebstyle/exemplos/elementos/">Elementos</a></li>
            </ul>
          </li>
          <li class="menu-item-1040" id="menu-item-1040"><a href="http://developer.locaweb.com.br/blog/">Blog</a></li>
          <li class="menu-item-300" id="menu-item-300"><a href="http://developer.locaweb.com.br/sobre/">Sobre</a></li>
        </ul>
      </nav>
    </header>