---
title: Início
description: Página inicial
keywords: documentação, locastyle
---

<ul class="row">
  <li class="col-md-4"><a href="<%= base_url %>/documentacao">Documentação</a></li>
  <li class="col-md-4"><a href="<%= base_url %>/download">Download</a></li>
  <li class="col-md-4"><a href="<%= base_url %>/blog">Blog</a></li>
</ul>

<p>
  Versão atual: <%= settings.stable %>
</p>
