---
title: Locaweb Style
---

<div class="high highLocastyle">
	<div class="limite">
		<h1><span>Locaweb</span> Style</h1>
		<p>Uma biblioteca de elementos e comportamentos em CSS e Javascript para facilitar a produção de layouts.</p>
		<div class="highlightBtn">
			<a role="button" tabindex="3" href="http://developer.locaweb.com.br/locawebstyle/introducao/instalacao/" class="btn btn-primary" data-move-effect="bottom">Use agora</a>
			<a role="button" tabindex="3" href="https://github.com/locaweb/locawebstyle/" class="btn btn-primary btn-nude" data-move-effect="bottom">Github</a>
			<a role="button" tabindex="3" href="http://developer.locaweb.com.br/locawebstyle/introducao/changelog/" class="btn btn-primary btn-nude" data-move-effect="bottom">Changelog</a>
		</div>
	</div>
</div>

<section class="content limite shortcuts" role="main">

	<div class="row">
		<div class="span5">
			<a href="http://developer.locaweb.com.br/locawebstyle/introducao/instalacao/"><h1 class="ico-monitor-download">Use agora</h1>
			<p>Use via CDN ou baixe o ZIP com os assets necessários. Simples e Rápido.</p></a>
			<a class="btn btn-large" href="http://developer.locaweb.com.br/locawebstyle/introducao/instalacao/" tabindex="3" role="button">Saiba mais</a>
		</div>

		<div class="span6">
			<a href="http://developer.locaweb.com.br/locawebstyle/introducao/informacoes-iniciais/"><h1 class="ico-doc-text">Documentação</h1>
			<p>Confira a documentação e saiba todas as features que podem te ajudar a produzir layouts e sistemas mais rapidamente.</p></a>
			<a class="btn btn-large" href="http://developer.locaweb.com.br/locawebstyle/introducao/informacoes-iniciais/" tabindex="3" role="button">Saiba mais</a>
		</div>

		<div class="span5">
			<a href="http://developer.locaweb.com.br/blog/"><h1 class="ico-chat-4">Blog e Changelog</h1>
			<p>Leia sobre assuntos técnicos de alto nível e saiba quais as últimas atualizações do Locaweb Style.</p></a>
			<a class="btn btn-large" href="http://developer.locaweb.com.br/blog/" tabindex="3" role="button">Saiba mais</a>
		</div>
		<hr class="cBoth">

		<div class="socialDestaque">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=diegoeis"></script>
			<!-- AddThis Button END -->
			<div class="gitsocialbtn">
				<iframe width="102px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://developer.locaweb.com.br/wp-content/themes/devnet/github-btn.html?user=locaweb&amp;repo=locawebstyle&amp;type=fork&amp;count=true" class="github-btn"></iframe>
				<iframe scrolling="0" frameborder="0" allowtransparency="true" src="http://developer.locaweb.com.br/wp-content/themes/devnet/github-btn.html?user=locaweb&amp;repo=locawebstyle&amp;type=watch&amp;count=true" class="github-btn"></iframe>
			</div>
		</div>
			
		<hr class="cBoth">
		<div class="span8 ico-code">
			<a href="http://developer.locaweb.com.br/locawebstyle/introducao/escrita-front-end/"><h1>Padrões de codificação</h1>
			<p>Entenda como digitamos código e quais as regras que usamos para ter um código homogêneo e legível para todos da equipe.</p></a>
			<a class="btn btn-large" href="http://developer.locaweb.com.br/locawebstyle/introducao/escrita-front-end/" tabindex="3" role="button">Saiba mais</a>
		</div>
		<div class="span8 ico-lamp">
			<a href="http://developer.locaweb.com.br/locawebstyle/exemplos/elementos/"><h1>Elementos de exemplos</h1>
			<p>Veja todos os elementos e comportamentos que existem no Locaweb Style em uma página única.</p></a>
			<a class="btn btn-large" href="http://developer.locaweb.com.br/locawebstyle/exemplos/elementos/" tabindex="3" role="button">Saiba mais</a>
		</div>
	</div>

</section>