---
title: Início
description: Página inicial
keywords: documentação, locastyle
---

<ul class="row">
  <li class="col-md-4"><a href="/documentacao">Documentação</a></li>
  <li class="col-md-4"><a href="/download">Download</a></li>
  <li class="col-md-4"><a href="/blog">Blog</a></li>
</ul>

<p>
  Versão atual: <%= settings.stable %>
</p>
