---
title: Locaweb Style
---

<!-- highlight -->
<div class="highlight high-locastyle">
	<div class="container">
		<h1 class="txt-center title-host"><strong>Locaweb</strong> Style</h1>
		<!-- <h2>Uma biblioteca de elementos e comportamentos em CSS e Javascript para facilitar a produção de layouts.</h2> -->

		<div class="highbtn txt-center">
			<%= link_to "Github", "https://github.com/locaweb/locawebstyle/", :class => "btn btn-md btn-default ico-github-3", :target => "_blank" %>
			<%= link_to "Use agora", "#{base_url}/manual/introducao/como-usar", :class => "btn btn-primary btn-lg ico-download-2" %>
			<%= link_to "Changelog", "#{base_url}/changelog", :class => "btn btn-md btn-default ico-numbered-list" %>
		</div>
		<p class="txt-center doc-v1"><a href="<%= base_url %>/v1">Veja aqui a documentação do v1</a></p>
	</div>
</div>
<!-- END highlight -->

<!-- channels -->
<section class="channels container">
	<h1>O que é e para que serve?</h1>
	<h2>Construa sistemas rapidamente utilizando nosso framework. <br>Disponibilizamos comportamentos e uma interface usada por milhares de usuários.</h2>

	<div class="channel">
		<% link_to "#{base_url}/manual/introducao/como-usar" do %>
			<h3 class="ico-download-2">Baixe ou use direto do server</h3>
			<p>Use via CDN ou baixe o ZIP com os assets necessários. Simples e Rápido.</p>
		<% end %>
	</div>

	<div class="channel">
		<% link_to "#{base_url}/manual/introducao/como-usar/" do %>
			<h3 class="ico-book">Documentação</h3>
			<p>Confira a documentação e saiba todas as features que te ajudarão a produzir sistemas mais rapidamente.</p>
		<% end %>
	</div>

	<div class="channel">
		<% link_to "#{base_url}/changelog" do %>
			<h3 class="ico-numbered-list">Changelog e Blog</h3>
			<p>Leia sobre assuntos técnicos de alto nível e saiba quais as últimas atualizações do Locaweb Style.</p>
		<% end %>
	</div>

	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style c-both">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51cdc3552ecf7080"></script>

		<!-- AddThis Button END -->
		<iframe class="githubbtn" src="http://ghbtns.com/github-btn.html?user=locaweb&amp;repo=locawebstyle&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
		<!-- <iframe class="githubbtn" src="http://ghbtns.com/github-btn.html?user=locaweb&repo=locawebstyle&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe> -->
		<iframe class="githubbtn" src="http://ghbtns.com/github-btn.html?user=locaweb&amp;repo=locawebstyle&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	</div>
</section>
<!-- END channels -->