---
title: Acessibilidade - Acessibilidade no LocawebStyle
menu_page: sidebar-acessibilidade.erb
---
<header>
	<h1>Acessibilidade</h1>
	<h3>Saiba sua importância em projetos web</h3>
</header>

<p>Criar projetos web acessíveis não é difícil, nem custoso e muito menos impacta no tempo de desenvolvimento desde que seja implementado no seu início.
</p>

<p>Implementar acessibilidade à Web não é caridade, e sim, ter a consciência que no país há milhões de pessoas com algum tipo de deficiência, sendo ela permanente ou temporária e dessa maneira estaremos excluindo todos eles de acessarem seu conteúdo.</p>

<p>Acessibilidade à Web significa que pessoas portadoras de necessidades especiais sejam capazes de usar a Web de modo a que  possam perceber, entender, navegar e interagir de uma maneira efetiva com a Web, bem como criar e contribuir com conteúdos. Além disso a acessibilidade contempla todo tipo de necessidade especial, incluindo as visuais, auditivas, físicas, de fala, cognitivas e neurológicas. Um projeto acessível permite a participação de pessoas portadoras de necessidades especiais na sociedade e proporciona oportunidades iguais para todos nas diversas áreas. No Brasil pouquíssimos sites possuem acessibilidade, e esse número é ainda menor quando pensamos em acessibilidade para leitores de tela.</p>


<p>São usadas regras de padronização para acessibilidade do WCAG, atualmente na versão 2.0. O WCAG é uma recomendação W3C. Veja a documentação: <a href="http://www.w3.org/TR/WCAG/">http://www.w3.org/TR/WCAG/</a></p>


<p>Acessibilidade à Web não é somente para deficientes visuais e sim para usuários em geral (tais como aqueles com uma conexão lenta), pessoas com restrições temporárias (com um braço quebrado) e pessoas idosas. </p>

<p>Os testes de acessibilidade iniciam sempre  utilizando apenas o teclado (tecla TAB), e se todas as principais funcionalidades ocorrerem normalmente, passa-se para o próximo passo é testar com leitores de tela e lembrando de utilizar WAI-ARIA.</p>

<p>Os leitores de tela mais utilizados são: JAWS (pago), NVDA (gratuito), e Voice Over (nativo no Mac), são eles os responsáveis por ajudarem deficientes visuais utilizarem o sistema operacional e consequentemente navegar pela internet.</p>

<h2 class="title-4">Saiba mais sobre acessibilidade à web:</h2>
<ul>
	<li><a target="_blank" href="http://www.w3.org/TR/wai-aria/">Documentação de WAI-ARIA</a></li>
	<li><a target="_blank" href="http://tableless.com.br/tag/acessibilidade/acessibilidade">Tableless</a></li>
	<li><a target="_blank" href="http://acessibilidadelegal.com/mundo">Acessibilidade Legal </a></li>
	<li><a target="_blank" href="http://www.bengalalegal.com/">Bengala Legal</a></li>
	<li><a target="_blank" href="http://www.cegueta.com/">Cegueta</a></li>
	<li><a target="_blank" href="http://acessodigital.net/">Acesso Digital</a></li>
</ul>








