---
title: Acessibilidade - Leitores de tela
menu_page: sidebar-acessibilidade.erb
---
<header>
  <h1>Leitores de tela</h1>
  <h3>Conheça quais são e como funcionam.</h3>
</header>

<p>Hoje em dia existem excelentes leitores de tela que podem atender as mais diversas necessidades dos deficientes visuais, alguns são pagos e outros gratuitos.</p>
<p>Listamos aqui os leitores de tela mais utilizados.</p>

<h2 class="title-4">NVDA</h2>
<p>O NVDA é um leitor de telas excelente, e, além disso, gratuito, e que pode rodar nos sistemas windows 2000, XP, vista e windows7. Com tecnologia open source, pode ser instalado livremente em qualquer computador e mesmo modificado para se adaptar a determinadas situações, ou para receber melhorias.</p>
<a href="http://www.nvaccess.org/download/" class="btn btn-primary" target="_blank">Baixar NVDA</a>
<h3 class="title-5">Atalhos do NVDA</h3>
<ol>
	<li>INSERT + numpad 5: fala o objeto atual;</li>
	<li>INSERT + numpad8: move para o objeto pai (indo na direção da raiz da árvore);</li>
	<li>INSERT + numpad4: move para o objeto anterior (o objeto diretamente anterior a este, no mesmo nível);</li>
	<li>INSERT + numpad6: move para o próximo objeto (o objeto diretamente posterior a este, no mesmo nível);</li>
	<li>INSERT + numpad2: move para o primeiro objeto filho (o primeiro galho partindo deste objeto);</li>
	<li>INSERT + shift + numpad4: move para o objeto anterior no curso (automaticamente cruza a fronteira dos objetos pai e filho até que possa ir "voltando");</li>
	<li>INSERT + shift + numpad6: move para o próximo objeto no curso (automaticamente cruza a fronteira dos objetos pai e filho até que possa ir adiante);</li>
	<li>INSERT + numpadMenos: move para o foco;</li>
	<li>INSERT + numpadEnter: ativo o objeto atual (isto é, como pressionar enter / clique / duplo clique);</li>
	<li>INSERT + numpadDivisão: move o mouse parao objeto atual;</li>
	<li>INSERT + numpadMultiplicação: move para o mouse;</li>
	<li>INSERT + shift + numpad5: anuncia as dimensões do atual objeto em função da tela;</li>
	<li>INSERT + numpadMais: fala todos os objetos - começando a partir o objeto atual e seguindoem curso.</li>
</ol>

<p><strong>Nota:</strong> As teclas numpad são as que estão localizadas no teclado numérico. Para que as teclas numpad funcionem corretamente, é necessário que a tecla numlock esteja desligada.<br>
INSERT pode ser outra tecla, caso o usuário tenha alterado a tecla modificadora.</p>

<hr>

<h2 class="title-4">DOSVOX</h2>
<p>O sistema dosvox não é propriamente um “leitor de telas”, e sim um sistema de acesso ao computador para deficientes visuais. Roda sob qualquer versão do sistema windows, além de ser capaz de rodar sob alguns emuladores em outros sistemas, como o wine, no linux.</p>

<p>Tem uma gama variada de programas para atender as mais diversas necessidades, como por exemplo:</p>
<ul>
	<li>Editor de textos</li>
	<li>Calculadora</li>
	<li>Agenda de compromissos</li>
	<li>Caderno de telefones</li>
	<li>Programas específicos para internet, como por exemplo:</li>
	<li>Correio eletrônico</li>
	<li>Navegador web</li>
	<li>Programa de acesso ao twitter</li>
	<li>Programa para acesso a chat</li>
	<li>Jogos diversos, em diversas modalidades como:</li>
	<li>Educativos</li>
	<li>RPG</li>
	<li>Oráculos</li>
	<li>Desafios</li>
	<li>Dicionários de diversos idiomas</li>
	<li>Exibidor de apresentações interativas</li>
	<li>E muito mais!</li>
</ul>
<p>Contudo, o dosvox proporciona acessibilidade dentro de seu próprio sistema, mas seus recursos para acessibilidade fora do mesmo são muito limitados. Mas o dosvox em conjunto com o NVDA já fazem uma “boa parceria”, e o usuário não precisa gastar absolutamente nada para obtê-los, basta simplesmente fazer download dos programas.</p>

<a href="http://intervox.nce.ufrj.br/dosvox/download.htm" class="btn btn-primary" target="_blank">Baixar dosvox</a>
<hr>

<h2 class="title-4">Virtual Vision</h2>
<p>O Virtual Vision é um leitor de telas completo e que atende grande parte das necessidades dos deficientes visuais. Surgido em 1997, foi o primeiro software totalmente brasileiro para leitura de telas e é capaz de dar acesso com desenvoltura, por exemplo, a aplicativos como word, excel, outlook e windows live mail, msn, internet explorer e outros.</p>

<p>O virtual vision pode ser obtido gratuitamente através do banco Bradesco, se o usuário tiver uma conta no referido banco, ou, mediante pagamento, através do site da micropower.</p>

<a href="http://www.virtualvision.com.br/downloads.html" class="btn btn-primary" target="_blank">Baixar Virtual Vision</a>
<hr>

<h2 class="title-4">JAWS</h2>
<p>O jaws é, sem dúvida, um dos mais poderosos leitores de tela para cegos. É capaz de dar uma acessibilidade excelente, inclusive, às tarefas mais avançadas que o usuário possa necessitar executar. Tendo um custo de licença é relativamente alto, contudo continua sendo a melhor opção para quem pode adquirir.</p>
<p>Dá pra utilizá-lo sem possuir licença durante 40 minutos, depois é necessário reiniciar o computador.</p>

<a href="http://www.lerparaver.com/jaws" class="btn btn-primary" target="_blank">Baixar Jaws</a>

<hr>

<h2 class="title-4">VOICEOVER</h2>
<p>O VoiceOver não só fala o que está acontecendo, ele ajuda a fazer as coisas acontecerem. Ele fala o que está na tela e ainda orienta você em ações como selecionar uma opção de um menu ou ativar um botão usando seu teclado ou trackpad. Com o VoiceOver, você tem controle total do seu Mac, sem necessidade de ver a tela.</p>
<p>O VoiceOver possue uma voz humana e em português chamada Raquel, já que as vozes de leitores de tela são robóticas. </p>

<h3 class="title-5">Atalhos do VoiceOver</h3>
<ol>
	<li>Control + option + u = Ativa a navegação via Landmarks, links, titles</li>
	<li>Control + option + h = Ativa help com todos os comandos</li>
	<li>Control + option +  i = Seleciona os itens da página</li>
	<li>Control + option + k = Iniciando ajuda do teclado</li>
	<li>Control + option + b = Para saber qual é  o title da página</li>
</ol>

<hr>

<p>Parte do conteúdo retirado do blog <a href="http://www.blog.fernandozamboni.com/" target="_blank">FernandoZamboni</a></p>

