---
title: Acessibilidade - Link direto para conteúdo
menu_page: sidebar-acessibilidade.erb
---
<header>
	<h1>Link direto para conteúdo</h1>
	<h3>Inserindo link direto para o conteúdo importante da página</h3>
</header>
<p>Com isso o usuário tem essa facilidade de chegar no conteúdo utilizando somente o teclado e/ou o leitor de tela, ele faz com que o teclado ignore o menu e outros links e o fluxo segue dentro do conteúdo da página.</p>

<p>Basta inserir a classe <code>title-content</code> no título principal do seu conteúdo que um link será criado, e só será exibido via teclado/leitor de tela, nas páginas que não possuirem essa classe, logicamente não exibirá esse Link de conteúdo.</p>

<pre class="lang-html prettyprint-code linenums"><h1 class="title-content title-1">Cadastrar cliente </h1></pre>
<p><strong>Importante:</strong> Só podemos ter um <code>title-content</code> por página.</p>