---
title: Acessibilidade - Tabindex
menu_page: sidebar-acessibilidade.erb
---
<header>
	<h1>Tabindex</h1>
	<h3>Como funciona nosso caminho de tabs</h3>
</header>
<p>O atributo tabindex conduz o caminho que a navegação por tabs fará. O Locaweb Style já insere alguns tabindex em elementos principais do layout, como no menu, logo e algumas ações. Dessa forma é garantido que o usuário irá passar primeiramente pelo menu principal do site, juntamente com o nome do serviço e somente depois para o resto da página. Assim as opções principais sempre estarão à disposição do usuário.</p>
<p>Nos ítens do menu colocamos o tabindex índice 2. Na classe <code>.btn</code>, <code>.tabs a</code> inserimos o tabindex índice 4.</p>
