---
title: Guia de estilo

menu_page: sidebar-guia-estilo.erb
---
<!-- 
https://github.com/necolas/idiomatic-css/
 -->
<article class="text">
  <header>
    <h1>Guia de estilo</h1>
    <h3>CSS</h3>
  </header>
 
</article>