---
title: Comece por aqui
description: Copie nosso boilerplate com a estrutura inicial
type: intro
---
<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>
    Para iniciar é simples: o código abaixo representa nosso Boilerplate. É por ele que você começa a montar a estrutura inicial do seu projeto. Ele já tem tudo o que você precisa para rodar o Locaweb Style.
  </p>

  <ol>
    <li>Copie o código abaixo.</li>
    <li>Cole em um arquivo HTML vazio.</li>
    <li>Abra este arquivo no Browser.</li>
    <li>Tá feito! Locastyle is flying...</li>
  </ol>

  <a href="<%= base_url %>/documentacao/exemplos/boilerplate" target="_blank" class="ls-btn">veja o exemplo online</a>
  <% code("html") do %><%= partial 'documentacao/exemplos/boilerplate' %><% end %>
</section>
