---
title: Extensão para o chrome
description: Acesso rápido para visualizar a documentação
---

<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">

	<%= partial 'partials/doc-intro-content' %>

  <p>Preparamos uma extensão para Chrome com acesso rápido da documentação, facilitando a consulta de como usar o Locaweb Style. Em breve faremos para os outros browsers. Fique à vontade para contribuir, se quiser.</p>

  <p>
    <a href="https://chrome.google.com/webstore/detail/bgagjahkkicokocplofmomgpkpmdckam" target="_blank">Instale a extensão para o Google Chrome</a>
  </p>
</section>
