---
title: Grunt Tasks
description: Entenda quais as tasks você pode usar no projeto
type: intro
---
<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p><a href="http://gruntjs.com/">Grunt</a> é um task runner desenvolvido para automatizar algumas tarefas corriqueiras durante o desenvolvimento web. Aqui no Locaweb Style, temos algumas tarefas que você pode usar durante seu desenvolvimento e abaixo listamos todas elas.</p>

  <h2 class="doc-title-2">Rodando a primeira vez</h2>
  <p>O Grunt tem uma coleção de tasks que tem algumas dependencias e precisam ser instaladas antes de rodarem. Para isso, apenas digite no console: <code>npm install</code>.</p>
  <p>Feito isso, você pode rodar as tasks abaixo.</p>

  <h3 class="doc-title-3">grunt</h3>
  <p>Este é o comando default. Rodando <code>grunt</code> no console ele irá rodar algumas tarefas básicas descritas no <strong>Gruntfile.js</strong>. Por enquanto definimos como padrão as tarefas: jshint e plato. Mas a ideia é ter posteriormente rodando outras tasks úteis.</p>

  <h3 class="doc-title-3">grunt test</h3>
  <p>Esse comando roda todas as tasks que testam nosso código. Ele vai rodar por exemplo JSHint e Jasmine. Se você quiser testar seu código basta rodar essa tarefa</p>

  <h3 class="doc-title-3">grunt jshint</h3>
  <p><a href="http://jshint.com/">JSHint</a> é uma ferramenta que te ajuda a escrever JavaScripts com o mínimo de erros de sintaxe que podem causar problemas em potencial futuramente no projeto. O plugin do NPM que usamos é o <a href="https://www.npmjs.com/package/grunt-contrib-jshint">grunt-contrib-jshint</a>.</p>
  <p>Para rodar o JSHint no projeto, apenas digite no console: <code>grunt jshint</code>.</p>

  <h3 class="doc-title-3">grunt githooks</h3>
  <p>O <a href="https://www.npmjs.com/package/grunt-githooks">Githooks</a> roda uma série de comandos relacionados com o Git. Uma delas é o <strong>pre-commit</strong>, que roda o JSHint antes dos seus commits. Se você quiser ativar essas configurações, basta digitar no console <code>grunt githooks</code>.</p>

  <p><a href="https://www.kernel.org/pub/software/scm/git/docs/githooks.html">Os hooks do Git podem ser vistos nesse site</a>. Ainda não implementamos todos porque não há necessidade. Por enquanto há apenas o pré-commit que analisa seu código antes dos commits serem enviados.</p>

  <h3 class="doc-title-3">grunt plato</h3>
  <p>O <a href="https://www.npmjs.com/package/plato">Plato</a> gera um relatório (<a href="http://es-analysis.github.io/plato/examples/grunt/">como esse</a>) de complexidade de código e manutenção do JavaScript do projeto. Geralmente nós geramos no projeto de tempos em tempos e você não precisa se preocupar com isso. Para visualizar os resports, basta ver <strong>index.html</strong> que está dentro da pasta <strong>spec/report-js</strong>.</p>

</section>
