---
title: Suporte para browsers antigos
description: Entenda como melhorar o suporte a browsers antigos, como o IE8
---

<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>
  <p>O Locawebstyle dá suporte a todos os navegadores atuais, já nos antigos esse suporte está no formato Progressive Enhancement, sendo que os componentes e o layout funcionam na experiência máxima que o browser suporta.</p>
  <p>Para dar suporte ao Internet Explorer 8, é necessário implementar algumas modificações:</p>
  <ol>
    <li><a href="http://jquery.com/download/" target="_blank">jQuery</a> com suporte a navegadores antigos. Nesse caso, você precisa usar a jQuery na versão 1.11 ou menor. As versões mais novas, da 2.0 ou superior, não suportam browsers antigos.</li>
    <li><a href="https://code.google.com/p/html5shim/" target="_blank">html5shiv</a>. Esse plugin JavaScript faz os browsers antigos conhecerem as tags do HTML5.</li>
    <li><a href="https://code.google.com/p/css3-mediaqueries-js/" target="_blank">mediaqueries</a>. Faz browsers antigos suportarem as mediaqueries do CSS.</li>
    <li><a href="http://selectivizr.com/" target="_blank">Selectivizr</a> para os browsers entenderem os novos seletores do CSS3.</li>
  </ol>

  <p>Abaixo um exemplo usando as tags condicionais da Microsoft. Nós tentamos sempre usar os princícios do Progressive Enhancement para que os browsers antigos tenham a melhor experiência possível.</p>

  <% code("html") do %>

<!--[if lt IE 9]>
  <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
<![endif]-->
  <% end %>
</section>
