// Hospedagem Panel
$theme_name: ".colorAqua";

$main_color: #3b949c;
$secondary_color: #2d808f;

$btn_primary_color: #fff;
$btn_border: #2c7279;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #377d84;

$lnk_seta_hover_color: #2f767d;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #eef8f8;
$path_way_step_active_color: #3b949c;
$path_way_description_active_color: #3B949C;

$color_strong: #3A919A;
$color_medium: #4F84D6;
$color_soft: #b8cfd2;

@mixin main_gradient {
  background: rgb(59,148,156); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(59,148,156,1) 5%, rgba(45,128,143,1) 6%, rgba(59,148,156,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(59,148,156,1) 5%,rgba(45,128,143,1) 6%,rgba(59,148,156,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(59,148,156,1) 5%,rgba(45,128,143,1) 6%,rgba(59,148,156,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(59,148,156,1) 5%,rgba(45,128,143,1) 6%,rgba(59,148,156,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(59,148,156,1) 5%,rgba(45,128,143,1) 6%,rgba(59,148,156,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b949c', endColorstr='#2d808f',GradientType=0 ); /* IE6-8 */
}

@mixin secondary_gradient {
  background-color: rgb(34,97,103); /* Old browsers */
  background-image: -moz-linear-gradient(top,  rgba(34,97,103,1) 0%, rgba(67,135,142,1) 4%, rgba(34,97,103,1) 100%); /* FF3.6+ */
  background-image: -webkit-linear-gradient(top,  rgba(87,149,154,1) 0%,rgba(67,135,142,1) 4%,rgba(34,97,103,1) 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  rgba(34,97,103,1) 0%,rgba(67,135,142,1) 4%,rgba(61,36,38,1) 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  rgba(34,97,103,1) 0%,rgba(67,135,142,1) 4%,rgba(61,36,38,1) 100%); /* IE10+ */
  background-image: linear-gradient(to bottom,  rgba(34,97,103,1) 0%,rgba(67,135,142,1) 4%,rgba(61,36,38,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#226167', endColorstr='#43878e',GradientType=0 ); /* IE6-8 */
}


@mixin chamadas_gradient_hover {
  border-color:#3A919A;
  background: rgb(252,252,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(184,207,210,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(184,207,210,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(184,207,210,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(184,207,210,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(184,207,210,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(184,207,210,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#b8cfd2',GradientType=0 ); /* IE6-9 */
}
@mixin box_sidebar {
  background-color: #3B949C;
}
@mixin gradient_light{
  background: #b1d4d7;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxZDRkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OWJmYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #b1d4d7 0%, #89bfc4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1d4d7), color-stop(100%,#89bfc4));
  background: -webkit-linear-gradient(top,  #b1d4d7 0%,#89bfc4 100%);
  background: -o-linear-gradient(top,  #b1d4d7 0%,#89bfc4 100%);
  background: -ms-linear-gradient(top,  #b1d4d7 0%,#89bfc4 100%);
  background: linear-gradient(to bottom,  #b1d4d7 0%,#89bfc4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d4d7', endColorstr='#89bfc4',GradientType=0 );
}

@import "theme_base";
