$theme_name: ".colorGreen";

$arrow_image: "arrowGreen.png";

$main_color: #84c02e;
$secondary_color: #79bb2c;

$btn_primary_color: #fff;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #7ca837;

$lnk_seta_hover_color: #4f731c;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #edf6e1;
$path_way_step_active_color: #84c02e;
$path_way_description_active_color: #354d12;

@mixin main_gradient {
  background: rgb(132,192,46); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(132,192,46,1) 3%, rgba(104,181,40,1) 5%, rgba(132,192,46,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c02e', endColorstr='#84c02e',GradientType=0 ); /* IE6-8 */
}

@mixin secondary_gradient {
  background-color: #3f6f0f;
  background-image: -moz-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -o-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f6f0f', endColorstr='#94bb51',GradientType=0 ); /* IE6-8 */
}

@mixin third_gradient {
  background: #e9f3d9;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZjNkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmU3YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #e9f3d9 0%, #d2e7b7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f3d9), color-stop(100%,#d2e7b7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e9f3d9 0%,#d2e7b7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e9f3d9 0%,#d2e7b7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e9f3d9 0%,#d2e7b7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e9f3d9 0%,#d2e7b7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f3d9', endColorstr='#d2e7b7',GradientType=0 ); /* IE6-8 */
}

@mixin chamadas_gradient_hover {
  border-color:#a8bd95;
  background: #fcfdfa;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmRmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZGRjYmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fcfdfa 0%, #cddcbd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfdfa), color-stop(100%,#cddcbd));
  background: -webkit-linear-gradient(top,  #fcfdfa 0%,#cddcbd 100%);
  background: -o-linear-gradient(top,  #fcfdfa 0%,#cddcbd 100%);
  background: -ms-linear-gradient(top,  #fcfdfa 0%,#cddcbd 100%);
  background: linear-gradient(to bottom,  #fcfdfa 0%,#cddcbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfa', endColorstr='#cddcbd',GradientType=0 );
}

@import "theme_base";
