/*** COR
**** VERDE
***/
.colorGreen #menuPrincipal > ul > li.selected a,
.colorGreen .progress .bar,
.colorGreen .pathWay li.active,
.colorGreen .pathWay li:hover {
  background-color:#84c02e;
}

.colorGreen #menuPrincipal,
.colorGreen .tabs li a:hover,
.colorGreen .tabs li.active a,
.colorGreen #menuPrincipal ul li ul {
  border-bottom-color:#84c02e;
}

.colorGreen #menuPrincipal > ul > li.selected > a {
  background: rgb(132,192,46); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(132,192,46,1) 3%, rgba(104,181,40,1) 5%, rgba(132,192,46,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(132,192,46,1) 3%,rgba(104,181,40,1) 5%,rgba(132,192,46,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c02e', endColorstr='#68b528',GradientType=0 ); /* IE6-8 */
}

.colorGreen .tabs li.active a,
.colorGreen .tabs li a:hover {
  border-top-color:#79bb2c;
}

.colorGreen .serviceName a,
.colorGreen #menuPrincipal .btMenu a,
.colorGreen .collapseGroup summary span,
.colorGreen .lnkSeta,
.colorGreen #menuPrincipal > ul > li > a:hover,
.colorGreen .boxGray.listDetail a,
.colorGreen #menuPrincipal .parent > a:hover,
.colorGreen #menuPrincipal .parent:hover > a,
.colorGreen td a,
.colorGreen [class^="ico-"],
.colorGreen [class*=" ico-"],
.colorGreen .carousel-control {
  color: #84c02e;
}

.colorGreen #menuPrincipal > ul > li.selected > a:hover {
  color:#FFF;
}

.colorGreen .lnkSeta:hover {
  color:#4f731c;
}

.colorGreen .pagination .current,
.colorGreen .pagination .active a {
  background-color: #3f6f0f;
  background-image: -moz-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -o-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  background-image: linear-gradient(bottom, rgb(63,111,15) 21%, rgb(148,187,81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f6f0f', endColorstr='#94bb51',GradientType=0 ); /* IE6-8 */
}

.colorGreen .pagination li.first-child a,
.colorGreen .pagination li.last-child a,
.colorGreen .pagination .first a,
.colorGreen .pagination .prev a,
.colorGreen .pagination .next a,
.colorGreen .pagination .last a,
.colorWine p a,
.colorGreen .breadcrumb {
  color:#6a9a25;
}

.colorGreen .boxActions .btn {
  color: #666;
}

.colorGreen .btn{
  color: #333;
}

.colorGreen .btn-primary {
  background: #5BB75B;
  background: -moz-linear-gradient(top, #7ca837, #55851a);
  background: -webkit-linear-gradient(top, #7ca837, #55851a);
  background: -o-linear-gradient(top, #7ca837, #55851a);
  background: -ms-linear-gradient(top, #7ca837, #55851a);
  background: linear-gradient(top, #7ca837, #55851a);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7ca837', endColorstr='#55851a', GradientType=0);
}

.colorGreen .btn-primary,
.colorGreen .btn-danger {
  color: #fff;
}

.colorGreen .btn-primary:hover,
.colorGreen .btn-primary:active,
.colorGreen .btn-primary.active,
.colorGreen .btn-primary.disabled,
.colorGreen .btn-primary[disabled] {
  background-color: #7ca837;
}

.colorGreen .modal-header a.close{
  color: #000;
}

.colorGreen .boxCollapse header {
  border-left-color: #84c02e;
}

.colorGreen .pathWay li.active a,
.colorGreen .pathWay li:hover a {
  background-color:#edf6e1;
}

.colorGreen .pathWay li.active b,
.colorGreen .pathWay li:hover b {
  color:#84c02e;
}

.colorGreen .boxCollapse header h4,
.colorGreen .pathWay li.active a,
.colorGreen .pathWay li:hover a,
.colorGreen .sidebar h1 {
  color:#354d12;
}
