// SMS
$theme_name: ".colorLightBlue";

$main_color: #3ba9f1;

$secondary_color: #3caaf1;

$btn_primary_color: #fff;
$btn_border: #266491;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #377d84;

$lnk_seta_hover_color: #2f87c1;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #eef8f8;
$path_way_step_active_color: #3ba9f1;
$path_way_description_active_color: #3ba9f1;

@mixin main_gradient {
  background: #2e9aef; /* Old browsers */
  background: -moz-linear-gradient(top,  #2e9aef 0%, #3caaf1 100%);
  background: -webkit-linear-gradient(top,  #2e9aef 0%,#3caaf1 100%);
  background: -o-linear-gradient(top,  #2e9aef 0%,#3caaf1 100%);
  background: -ms-linear-gradient(top,  #2e9aef 0%,#3caaf1 100%); 
  background: linear-gradient(to bottom,  #2e9aef 0%,#3caaf1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9aef', endColorstr='#3caaf1',GradientType=0 );
  border-bottom-color:#3caaf1;

}

@mixin secondary_gradient {
  background-color: #4970a3;
  background-image: -moz-linear-gradient(top,  #a2bedc 2%, #5f8dc2 2%, #4970a3 100%);
  background-image: -webkit-linear-gradient(top,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%);
  background-image: -o-linear-gradient(top,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%);
  background-image: -ms-linear-gradient(top,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%); 
  background-image: linear-gradient(to bottom,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2bedc', endColorstr='#4970a3',GradientType=0 );
}

@mixin chamadas_gradient_hover {
  border-color:#b1ddf9;
  background: #fafcfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fafcfd 0%, #c9deec 100%);
  background: -webkit-linear-gradient(top,  #fafcfd 0%,#c9deec 100%);
  background: -o-linear-gradient(top,  #fafcfd 0%,#c9deec 100%);
  background: -ms-linear-gradient(top,  #fafcfd 0%,#c9deec 100%); 
  background: linear-gradient(to bottom,  #fafcfd 0%,#c9deec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfd', endColorstr='#c9deec',GradientType=0 );

}
@mixin box_sidebar {
  background: #3f3a10;
  background: -moz-linear-gradient(top,  #3f3a10 0%, #181504 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3a10), color-stop(100%,#181504));
  background: -webkit-linear-gradient(top,  #3f3a10 0%,#181504 100%);
  background: -o-linear-gradient(top,  #3f3a10 0%,#181504 100%);
  background: -ms-linear-gradient(top,  #3f3a10 0%,#181504 100%);
  background: linear-gradient(to bottom,  #3f3a10 0%,#181504 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3a10', endColorstr='#181504',GradientType=0 );

}
@mixin arrow_box_sidebar {
  border-color: #181504 transparent transparent transparent;
}

@import "theme_base";
