// SMS
$theme_name: ".colorLightBlue";

$main_color: #3ba9f1;

$secondary_color: #3caaf1;

$btn_primary_color: #fff;
$btn_border: #266491;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #377d84;

$lnk_seta_hover_color: #2f87c1;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #eef8f8;
$path_way_step_active_color: #3ba9f1;
$path_way_description_active_color: #3ba9f1;

@mixin main_gradient {
  background: #2e9aef; /* Old browsers */
  background: -moz-linear-gradient(top,  #2e9aef 0%, #3caaf1 100%);
  background: -webkit-linear-gradient(top,  #2e9aef 0%,#3caaf1 100%);
  background: -o-linear-gradient(top,  #2e9aef 0%,#3caaf1 100%);
  background: -ms-linear-gradient(top,  #2e9aef 0%,#3caaf1 100%); 
  background: linear-gradient(to bottom,  #2e9aef 0%,#3caaf1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9aef', endColorstr='#3caaf1',GradientType=0 );
  border-bottom-color:#3caaf1;

}

@mixin secondary_gradient {
  background-color: #4970a3;
  background-image: -moz-linear-gradient(top,  #a2bedc 2%, #5f8dc2 2%, #4970a3 100%);
  background-image: -webkit-linear-gradient(top,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%);
  background-image: -o-linear-gradient(top,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%);
  background-image: -ms-linear-gradient(top,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%); 
  background-image: linear-gradient(to bottom,  #a2bedc 2%,#5f8dc2 2%,#4970a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2bedc', endColorstr='#4970a3',GradientType=0 );
}

@mixin chamadas_gradient_hover {
  border-color:#b1ddf9;
  background: #fafcfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fafcfd 0%, #c9deec 100%);
  background: -webkit-linear-gradient(top,  #fafcfd 0%,#c9deec 100%);
  background: -o-linear-gradient(top,  #fafcfd 0%,#c9deec 100%);
  background: -ms-linear-gradient(top,  #fafcfd 0%,#c9deec 100%); 
  background: linear-gradient(to bottom,  #fafcfd 0%,#c9deec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfd', endColorstr='#c9deec',GradientType=0 );

}
@mixin box_sidebar {
  background-color: #3ba9f1;
}
@mixin gradient_light{
  background: #b7cbe3;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3Y2JlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGIxZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #b7cbe3 0%, #94b1d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7cbe3), color-stop(100%,#94b1d6));
  background: -webkit-linear-gradient(top,  #b7cbe3 0%,#94b1d6 100%);
  background: -o-linear-gradient(top,  #b7cbe3 0%,#94b1d6 100%);
  background: -ms-linear-gradient(top,  #b7cbe3 0%,#94b1d6 100%);
  background: linear-gradient(to bottom,  #b7cbe3 0%,#94b1d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7cbe3', endColorstr='#94b1d6',GradientType=0 );
}

@import "theme_base";
