$theme_name: ".colorNavyBlue";

$main_color: #00417b;
$secondary_color: #0c589b;

$btn_primary_color: #fff;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #21527d;

$lnk_seta_hover_color: #1a68ad;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #9eb0e8;
$path_way_step_active_color: #2865ca;
$path_way_description_active_color: #02436d;

@mixin main_gradient {
  background: rgb(0,65,123); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,65,123,1) 5%, rgba(0,53,107,1) 6%, rgba(0,65,123,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(0,65,123,1) 5%,rgba(0,53,107,1) 6%,rgba(0,65,123,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,65,123,1) 5%,rgba(0,53,107,1) 6%,rgba(0,65,123,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,65,123,1) 5%,rgba(0,53,107,1) 6%,rgba(0,65,123,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,65,123,1) 5%,rgba(0,53,107,1) 6%,rgba(0,65,123,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#513335', endColorstr='#3e2a2e',GradientType=0 ); /* IE6-8 */
}

@mixin secondary_gradient {
  background: rgba(0,65,123,1); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,65,123,1) 0%, rgba(0,85,140,1) 4%, rgba(0,49,101,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(0,65,123,1) 0%,rgba(0,85,140,1) 4%,rgba(0,49,101,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,65,123,1) 0%,rgba(0,85,140,1) 4%,rgba(0,49,101,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,65,123,1) 0%,rgba(0,85,140,1) 4%,rgba(0,49,101,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,65,123,1) 0%,rgba(0,85,140,1) 4%,rgba(0,49,101,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00558c', endColorstr='#003165',GradientType=0 ); /* IE6-8 */
}

@mixin chamadas_gradient_hover {
  border-color:#CCC;
  background: rgb(248,248,248); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
@import "theme_base";
