
/*** COR
**** LARANJA
***/
.colorOrange #menuPrincipal > ul > li.selected a,
.colorOrange .progress .bar,
.colorOrange .btn-primary:hover,
.colorOrange .btn-primary:active,
.colorOrange .btn-primary.active,
.colorOrange .btn-primary.disabled,
.colorOrange .btn-primary[disabled] {background-color:#ffa600;}

.colorOrange #menuPrincipal,
.colorOrange .tabs li a:hover,
.colorOrange .tabs li.active a,
.colorOrange #menuPrincipal ul li ul {border-bottom-color:#ffa600;}

.colorOrange .tabs li.active a,
.colorOrange .tabs li a:hover {border-top-color:#ffa600; }

.colorOrange .serviceName a,
.colorOrange #menuPrincipal .btMenu a,
.colorOrange .collapseGroup summary span,
.colorOrange .lnkSeta,
.colorOrange #menuPrincipal > ul > li > a:hover,
.colorOrange [class^="ico-"],
.colorOrange [class*=" ico-"],
.colorOrange .boxGray.listDetail a,
.colorOrange #menuPrincipal .parent > a:hover,
.colorOrange #menuPrincipal .parent:hover > a,
.colorOrange td a,
.colorOrange .carousel-control {color: #ffa600;}

.colorOrange #menuPrincipal > ul > li.selected > a:hover {color:#FFF;}

.colorOrange .lnkSeta:hover {color:#cc8500;}

.colorOrange .pagination .current,
.colorOrange .pagination .active a {
  background-color:#ffa600;
  background: -moz-linear-gradient(top, #fdb000 0%, #fb9000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb000), color-stop(100%,#fb9000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* IE10+ */
  background: linear-gradient(top, #fdb000 0%,#fb9000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb000', endColorstr='#fb9000',GradientType=0 ); /* IE6-9 */
}

.colorOrange .pagination li.first-child a,
.colorOrange .pagination li.last-child a,
.colorOrange .pagination .first a,
.colorOrange .pagination .prev a,
.colorOrange .pagination .next a,
.colorOrange .pagination .last a,
.colorOrange p a,
.colorOrange .breadcrumb {color:#cc8500;}

.colorOrange .btn-primary {
  background-color: #5BB75B;
  background: -moz-linear-gradient(top, #fdb000 0%, #fb9000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb000), color-stop(100%,#fb9000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* IE10+ */
  background: linear-gradient(top, #fdb000 0%,#fb9000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb000', endColorstr='#fb9000',GradientType=0 ); /* IE6-9 */
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

