$theme_name: ".colorOrange";

$main_color: #ffa600;
$secondary_color: #ffa600;

$btn_primary_color: #fff;
$btn_border: #d47a00;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #ffa600;

$lnk_seta_hover_color: #cc8500;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #f6f0e1;
$path_way_step_active_color: #c8752a;
$path_way_description_active_color: #4d2b12;

@mixin main_gradient {
  background: rgb(255,165,6); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,165,6,1) 5%, rgba(255,150,2,1) 6%, rgba(254,167,0,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(255,165,6,1) 5%,rgba(255,150,2,1) 6%,rgba(254,167,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,165,6,1) 5%,rgba(255,150,2,1) 6%,rgba(254,167,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,165,6,1) 5%,rgba(255,150,2,1) 6%,rgba(254,167,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,165,6,1) 5%,rgba(255,150,2,1) 6%,rgba(254,167,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9700', endColorstr='#ffa600',GradientType=0 ); /* IE6-8 */
}

@mixin secondary_gradient {
  background-color: #fb9000;
  background-image: -moz-linear-gradient(top, #fdb000 0%, #fb9000 100%); /* FF3.6+ */
  background-image: -webkit-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #fdb000 0%,#fb9000 100%); /* IE10+ */
  background-image: linear-gradient(top, #fdb000 0%,#fb9000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb000', endColorstr='#fb9000',GradientType=0 ); /* IE6-9 */
}

@mixin chamadas_gradient_hover {
  border-color:#D18E4F;
  background: rgb(252,252,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(255,242,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(255,242,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fff2d8',GradientType=0 ); /* IE6-9 */
}
@mixin box_sidebar {
  background-color: #4d2b12;
}

@import "theme_base";