$theme_name: ".colorPurple";

$main_color: #5a2dc0;
$secondary_color: #5a2dc0;

$btn_primary_color: #fff;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #5a2dc0;

$lnk_seta_hover_color: #48249a;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #e8e1f6;
$path_way_step_active_color: #802cbb;
$path_way_description_active_color: #120926;

@mixin main_gradient {
  background: rgb(87,45,81); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(90,44,192,1) 5%, rgba(70,38,183,1) 6%, rgba(90,44,192,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(90,44,192,1) 5%,rgba(70,38,183,1) 6%,rgba(90,44,192,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(90,44,192,1) 5%,rgba(70,38,183,1) 6%,rgba(90,44,192,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(90,44,192,1) 5%,rgba(70,38,183,1) 6%,rgba(90,44,192,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(90,44,192,1) 5%,rgba(70,38,183,1) 6%,rgba(90,44,192,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4626b7', endColorstr='#5a2cc0',GradientType=0 ); /* IE6-8 */
}

@mixin secondary_gradient {
  background-color: $main_color;
  background: -moz-linear-gradient(top, #764ccd 0%, #4520af 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #764ccd 0%,#4520af 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #764ccd 0%,#4520af 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #764ccd 0%,#4520af 100%); /* IE10+ */
  background: linear-gradient(top, #764ccd 0%,#4520af 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#764ccd', endColorstr='#4520af',GradientType=0 ); /* IE6-9 */
}

@mixin chamadas_gradient_hover {
  border-color:#9d8ac9;
  background: rgb(251,250,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(251,250,252,1) 0%, rgba(197,186,223,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,250,252,1)), color-stop(100%,rgba(197,186,223,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(251,250,252,1) 0%,rgba(197,186,223,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(251,250,252,1) 0%,rgba(197,186,223,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(251,250,252,1) 0%,rgba(197,186,223,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(251,250,252,1) 0%,rgba(197,186,223,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafc', endColorstr='#c5badf',GradientType=0 ); /* IE6-9 */
}
@import "theme_base";
