.btn[classˆ="ico-"],
.btn[class*="ico-"] {
  color: inherit;
}

.btn-primary[class^="ico-"],
.btn-primary[class*="ico-"] {
  color:#FFF;
}

/*** ADITIONAL COLORS FOR BOOTSTRAP LABELS ***/
.labelFrozen {
  background-color: #ba4d48;
}

.labelExpired {
  background-color: #73221e;
}

.alert a {
  color: inherit;
  text-decoration: underline;
}
