/*** COR
**** VINHO
***/
.colorWine #menuPrincipal > ul > li.selected a,
.colorWine .progress .bar,
.colorWine .pathWay li.active,
.colorWine .pathWay li:hover {
  background-color:#513335;
}

.colorWine #menuPrincipal,
.colorWine .tabs li a:hover,
.colorWine .tabs li.active a,
.colorWine #menuPrincipal ul li ul {
  border-bottom-color:#513335;
}

.colorWine #menuPrincipal > ul > li.selected > a {
  background: rgb(81,51,53); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(81,51,53,1) 5%, rgba(62,42,46,1) 6%, rgba(81,51,53,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#513335', endColorstr='#3e2a2e',GradientType=0 ); /* IE6-8 */
}

.colorWine .tabs li.active a,
.colorWine .tabs li a:hover {
  border-top-color:#4b2e30;
}

.colorWine .serviceName a,
.colorWine #menuPrincipal .btMenu a,
.colorWine .collapseGroup summary span,
.colorWine .lnkSeta,
.colorWine #menuPrincipal > ul > li > a:hover,
.colorWine .boxGray.listDetail a,
.colorWine td a,
.colorWine [class^="ico-"],
.colorWine [class*=" ico-"],
.colorWine #menuPrincipal .parent > a:hover,
.colorWine #menuPrincipal .parent:hover > a,
.colorWine .carousel-control {
  color: #513335;
}

.colorWine #menuPrincipal > ul > li.selected > a:hover {
  color:#FFF;
}

.colorWine .lnkSeta:hover {
  color:#96666a;
}

.colorWine .pagination .current,
.colorWine .pagination .active a {
  background: rgb(81,51,53); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(81,51,53,1) 5%, rgba(62,42,46,1) 6%, rgba(81,51,53,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(81,51,53,1) 5%,rgba(62,42,46,1) 6%,rgba(81,51,53,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#513335', endColorstr='#3e2a2e',GradientType=0 ); /* IE6-8 */
}

.colorWine .pagination li.first-child a,
.colorWine .pagination li.last-child a,
.colorWine .pagination .first a,
.colorWine .pagination .prev a,
.colorWine .pagination .next a,
.colorWine .pagination .last a,
.colorWine p a,
.colorWine .breadcrumb {
  color:#513335;
}

.colorWine .btn-primary {
  background: rgb(165,148,149); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(165,148,149,1) 0%, rgba(98,68,70,1) 4%, rgba(61,36,38,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  rgba(165,148,149,1) 0%,rgba(98,68,70,1) 4%,rgba(61,36,38,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(165,148,149,1) 0%,rgba(98,68,70,1) 4%,rgba(61,36,38,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(165,148,149,1) 0%,rgba(98,68,70,1) 4%,rgba(61,36,38,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(165,148,149,1) 0%,rgba(98,68,70,1) 4%,rgba(61,36,38,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a59495', endColorstr='#3d2426',GradientType=0 ); /* IE6-8 */
}

.colorWine .btn-primary:hover,
.colorWine .btn-primary:active,
.colorWine .btn-primary.active,
.colorWine .btn-primary.disabled,
.colorWine .btn-primary[disabled] {
  background-color: #624446;
}

.colorWine .modal-header a.close {
  color: #000;
}

.colorWine .boxCollapse header {
  border-left-color: #513335;
}

.colorWine .pathWay li.active a,
.colorWine .pathWay li:hover a {
  background-color:#edf6e1;
}

.colorWine .pathWay li.active b,
.colorWine .pathWay li:hover b {
  color:#79bb2c;
}

.colorWine .boxCollapse header h4,
.colorWine .pathWay li.active a,
.colorWine .pathWay li:hover a,
.colorWine .sidebar h1 {
  color:#354d12;
}
