// Revenda Email Marketing
$theme_name: ".colorYellow";

$main_color: #c9ae1c;
$secondary_color: #c9ae1c;

$btn_primary_color: #fff;
$btn_border: #c9ae1c;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #d7c243;

$lnk_seta_hover_color: #a18b16;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #f6f0e1;
$path_way_step_active_color: #c8752a;
$path_way_description_active_color: #4d2b12;

@mixin main_gradient {
  background: #bd9f18; /* Old browsers */
  background: -moz-linear-gradient(top,  #bd9f18 0%, #c9ae1c 100%);
  background: -webkit-linear-gradient(top,  #bd9f18 0%,#c9ae1c 100%);
  background: -o-linear-gradient(top,  #bd9f18 0%,#c9ae1c 100%);
  background: -ms-linear-gradient(top,  #bd9f18 0%,#c9ae1c 100%);
  background: linear-gradient(to bottom,  #bd9f18 0%,#c9ae1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9f18', endColorstr='#c9ae1c',GradientType=0 );

}

@mixin secondary_gradient {
  background-color: #ba9b13; /* Old browsers */
  background-image: -moz-linear-gradient(top,  #d7c243 0%, #ba9b13 100%);
  background-image: -webkit-linear-gradient(top,  #d7c243 0%,#ba9b13 100%);
  background-image: -o-linear-gradient(top,  #d7c243 0%,#ba9b13 100%);
  background-image: -ms-linear-gradient(top,  #d7c243 0%,#ba9b13 100%);
  background-image: linear-gradient(to bottom,  #d7c243 0%,#ba9b13 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7c243', endColorstr='#ba9b13',GradientType=0 );
}

@mixin chamadas_gradient_hover {
  border-color:#D18E4F;
  background: rgb(252,252,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(255,242,216,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%);
  background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%);
  background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%);
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(255,242,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fff2d8',GradientType=0 );
}
@import "theme_base";