// Revenda Email Marketing
$theme_name: ".colorYellow";

$main_color: #c9ae1c;
$secondary_color: #c9ae1c;

$btn_primary_color: #fff;
$btn_border: #c9ae1c;

$main_menu_hover_color: #fff;

$button_interaction_background_color: #d7c243;

$lnk_seta_hover_color: #a18b16;

$button_to_close_modal_color: #000;

$path_way_background_active_color: #f6f0e1;
$path_way_step_active_color: #71651f;
$path_way_description_active_color: #50460b;

@mixin main_gradient {
  background: #bd9f18; /* Old browsers */
  background: -moz-linear-gradient(top,  #bd9f18 0%, #c9ae1c 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #bd9f18 0%,#c9ae1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bd9f18 0%,#c9ae1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bd9f18 0%,#c9ae1c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bd9f18 0%,#c9ae1c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9f18', endColorstr='#c9ae1c',GradientType=0 ); /* IE6-9 */
}

@mixin secondary_gradient {
  background-color: #ba9b13; /* Old browsers */
  background-image: -moz-linear-gradient(top,  #d7c243 0%, #ba9b13 100%); /* FF3.6+ */
  background-image: -webkit-linear-gradient(top,  #d7c243 0%,#ba9b13 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  #d7c243 0%,#ba9b13 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  #d7c243 0%,#ba9b13 100%); /* IE10+ */
  background-image: linear-gradient(to bottom,  #d7c243 0%,#ba9b13 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7c243', endColorstr='#ba9b13',GradientType=0 ); /* IE6-9 */
}

@mixin chamadas_gradient_hover {
  border-color:#bdb174;
  background: #fdfcfa;
  background: -moz-linear-gradient(top,  #fdfcfa 0%, #dfd8b9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfcfa), color-stop(100%,#dfd8b9));
  background: -webkit-linear-gradient(top,  #fdfcfa 0%,#dfd8b9 100%);
  background: -o-linear-gradient(top,  #fdfcfa 0%,#dfd8b9 100%);
  background: -ms-linear-gradient(top,  #fdfcfa 0%,#dfd8b9 100%);
  background: linear-gradient(to bottom,  #fdfcfa 0%,#dfd8b9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfa', endColorstr='#dfd8b9',GradientType=0 );

}
@mixin box_sidebar {
  background: #3f3a10;
  background: -moz-linear-gradient(top,  #3f3a10 0%, #181504 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3a10), color-stop(100%,#181504));
  background: -webkit-linear-gradient(top,  #3f3a10 0%,#181504 100%);
  background: -o-linear-gradient(top,  #3f3a10 0%,#181504 100%);
  background: -ms-linear-gradient(top,  #3f3a10 0%,#181504 100%);
  background: linear-gradient(to bottom,  #3f3a10 0%,#181504 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3a10', endColorstr='#181504',GradientType=0 );

}
@mixin arrow_box_sidebar {
  border-color: #181504 transparent transparent transparent;
}

@import "theme_base";
