<!DOCTYPE html>
<html>
<head>
  <title>Locaweb Bootstrap</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

</head>
<body>
  <div id="toolbar">
    <div class="limiteToolbar">
      <h1 class="logoToolbar">Central do Cliente</h1>
      <ul class="menuToolbar">
        <li><a href="#">Minha conta</a></li>
        <li><a href="#">Ver e alterar planos</a></li>
        <li><a href="#">Atendimento</a></li>
      </ul>
      <a href="/logout" class="logOut">Sair</a>
      <span class="userName"><strong>saas-dev</strong> (saas-dev)</span>
    </div>
  </div>

  <header class="headerPrincipal">
    <div class="limite">
      <a id="feedbackr" class="lnkSugestoes" href="https://www.feedbackr.com.br/projects/4eef88bd6866c42b5500000e/feedbacks/new" target="_blank" alt="feedbackr">Sugestões</a>
      <h1 class="serviceName"><a href="/">Locaweb Bootstrap</a></h1>
      <div class="infoLogin">
      </div>
    </div>
    <menu id="menuPrincipal">
      <ul>
        <li class="selected"><a href="/">Página inicial</a></li>
        <li><a href="/transactions">Transações</a></li>
        <li><a href="/settings">Meios de pagamento</a></li>
      </ul>
    </menu>
  </header>

  <div id="main">
    <div class="limite">
      <div class="row">

        <div class="span12">
          <%= yield %>
        </div>
        <div class="span4">
            <aside class="sidebar">
              <section class="sideBox">
                <h1 class="titSide titDadosConta">Dados da Conta</h1>
                <div class="innerSideBox boxWhite">
                  <h6>Identificador</h6>
                  <p><strong>1234567890</strong></p>

                  <hr>

                  <h6>Nome</h6>
                  <p><strong>Lojinha do Régis</strong></p>
                  <a class="edit-account-name lnkSeta" data-toggle="modal" data-target="#modalEditarNome" href="/accounts/1/edit_name">Editar Nome</a>
                  <hr>

                  <h6>Plano</h6>
                  <p><strong>Nome do plano</strong></p>

                  <hr>

                  <p>Usadas <strong>300</strong> de <strong>42</strong> transações</p>
                  <a href="#" class="lnkSeta">Aumentar limite</a>

                </div>
              </section>

              <section class="sideBox">
                <h1 class="titSide titMeiosPagto">Meios de Pagamento</h1>
                <div class="innerSideBox active-settings">
                  <img alt="Cartao" src="/img/cartaoCielo.png">
                  <img alt="Cartao" src="/img/cartaoRedecard.png">
                  <img alt="Cartao" src="/img/cartaoShopline.png">
                  <img alt="Cartao" src="/img/cartaoBoleto.png">
                  <img alt="Cartao" src="/img/cartaoBoletoBradesco.png">

                  <a href="/settings" class="lnkSeta">Ir para meios de pagamentos</a>
                </div>
              </section>

              <section class="sideBox">
                <h1 class="titSide titAjudaSuporte">Ajuda e Suporte</h1>
                <div class="innerSideBox">
                  <ul class="listWhite">
                    <li><a href="#">Documentação de implementação</a></li>
                    <li><a href="#" rel="external">Wiki do Gateway de pagamentos</a></li>
                    <li><a href="#">Suporte 24h</a></li>
                  </ul>
                </div>
              </section>
            </aside>
        </div>
    </div><!-- FIM ROW -->
  </div><!-- FIM LIMITE -->



  <footer id="rodape">
      <div class="footerTop">
        <div class="limite">
          <nav>
            <h6>Atendimento</h6>
            <ul>
              <li class="ico-helpDesk"><a href="#">HelpDesk</a></li>
              <li class="ico-Chat"><a href="#">Chat</a></li>
              <li class="ico-Telefone"><a href="#">Telefone</a></li>
            </ul>
            <a href="#" class="lnkSeta lnkSetaWhite fright">Ver todas as formas de atendimento</a>
          </nav>
        </div>
      </div>
      <div class="subfooter">
        <div class="limite">
          <span class="lastAccess"><strong>Último acesso:</strong> 7/8/2011 22:35:49   <strong>IP:</strong> 201.87.65.217 <a href="#" class="icoInterroga">?</a></span>

          <p class="copyRight fright">Copyright © 1997-2011 Locaweb Serviços de Internet S/A.</p>
        </div>
      </div>

    </footer>

  </div>


</body>
</html>
