<!DOCTYPE html>
<html>
<head>
  <title>Locaweb Bootstrap</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="toolbar">
    <div class="limiteToolbar">
      <h1 class="logoToolbar">Central do Cliente</h1>
      <ul class="menuToolbar">
        <li><a href="#">Minha conta</a></li>
        <li><a href="#">Ver e alterar planos</a></li>
        <li><a href="#">Atendimento</a></li>
      </ul>
      <a href="/logout" class="logOut">Sair</a>
      <span class="userName"><strong>saas-dev</strong> (saas-dev)</span>
    </div>
  </div>

  <header class="headerPrincipal">
    <div class="limite">
      <a id="feedbackr" class="lnkSugestoes" href="https://www.feedbackr.com.br/projects/4eef88bd6866c42b5500000e/feedbacks/new" target="_blank" alt="feedbackr">Sugestões</a>
      <h1 class="serviceName"><a href="/">Locaweb Bootstrap</a></h1>
      <div class="infoLogin">
      </div>
    </div>
    <menu id="menuPrincipal">
      <ul>
        <li class="selected"><a href="/">Página inicial</a></li>
        <li><a href="/transactions">Transações</a></li>
        <li><a href="/settings">Meios de pagamento</a></li>
      </ul>
    </menu>
  </header>

  <div id="main">
    <div class="limite row">
      <div class="alert">d</div>
      <div class="span12">
        <%= yield %>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget tellus nec leo vulputate laoreet non id enim. Quisque ornare blandit ligula sit amet convallis. Praesent blandit lobortis risus, at pulvinar dolor ultrices vel. Vestibulum at augue vitae ante tempus dignissim tempus a libero. Etiam felis orci, tempor nec posuere eu, pretium quis nibh. Suspendisse tortor dui, adipiscing at egestas at, commodo vitae justo. Vivamus sit amet orci sapien. Vivamus mattis augue vel nunc varius rhoncus pretium felis fermentum. Vivamus imperdiet consectetur commodo. Nullam sed vehicula arcu. Cras pretium, urna vel tristique blandit, orci dolor scelerisque quam, id tincidunt magna nisi ut felis. Praesent sit amet metus augue. Quisque sed nisi quam. Cras et pulvinar eros. Etiam blandit sem quis velit vestibulum vitae ornare quam facilisis. Morbi nec lectus tristique dui rutrum molestie.

          Phasellus pellentesque aliquet dui a hendrerit. Vestibulum magna orci, viverra non fringilla et, bibendum non nisl. Nullam sagittis ante sed lacus sollicitudin suscipit. Ut accumsan orci sit amet est rutrum lobortis sit amet eget dui. Quisque condimentum tempus risus, vel condimentum quam sodales ac. Integer consectetur ultrices tellus, eu luctus velit dapibus ac. Integer molestie vulputate erat quis aliquam.

          Etiam eget metus magna. Quisque vehicula dapibus congue. Pellentesque id est lectus. Fusce a dui elit. Morbi a nulla eu ligula interdum dignissim. Sed facilisis sem vitae justo pharetra fermentum. Nam tincidunt condimentum diam sed eleifend. Fusce bibendum egestas mi, quis ultrices justo euismod at. Cras arcu mi, porttitor eget fermentum ac, feugiat sit amet enim. Suspendisse vel nisi et velit tristique convallis. Integer vehicula diam non lorem convallis tempor. Donec in eros purus, quis scelerisque nibh. Nunc magna eros, congue sit amet elementum quis, facilisis at augue. Duis hendrerit turpis ut erat mattis blandit. Aliquam ante leo, dapibus vitae rhoncus vel, laoreet id erat.

          Donec in hendrerit nibh. Aenean imperdiet bibendum neque eget consequat. Phasellus ut iaculis magna. Curabitur vehicula vestibulum felis, nec feugiat justo iaculis a. Sed non porta tortor. In lacinia nunc ut felis dignissim tincidunt nec ut massa. Mauris vitae ante justo. Aliquam erat volutpat. Praesent ultrices sapien tempus enim ornare congue. Vestibulum posuere orci in nisl dignissim dignissim. Donec vitae ante tellus. Vivamus dui est, mollis sed aliquet quis, auctor quis augue. Mauris vel erat in mi tempus condimentum. In hendrerit suscipit nulla, sit amet vestibulum sapien ornare accumsan.

        </p>
      </div>
      <div class="span4">
          SIDEBAR
      </div>
    </div>



  <footer id="rodape">
      <div class="footerTop">
        <div class="limite">
          <nav>
            <h6>Atendimento</h6>
            <ul>
              <li class="ico-helpDesk"><a href="#">HelpDesk</a></li>
              <li class="ico-Chat"><a href="#">Chat</a></li>
              <li class="ico-Telefone"><a href="#">Telefone</a></li>
            </ul>
            <a href="#" class="lnkSeta lnkSetaWhite fright">Ver todas as formas de atendimento</a>
          </nav>
        </div>
      </div>
      <div class="subfooter">
        <div class="limite">
          <span class="lastAccess"><strong>Último acesso:</strong> 7/8/2011 22:35:49   <strong>IP:</strong> 201.87.65.217 <a href="#" class="icoInterroga">?</a></span>

          <p class="copyRight fright">Copyright © 1997-2011 Locaweb Serviços de Internet S/A.</p>
        </div>
      </div>

    </footer>

  </div>

</body>
</html>
